[2017-04-03 19:39] arschles commented on #355
@spzala what is the status of this issue?

[2017-04-03 19:43] arschles commented on #629
Added to 0.0.2 milestone.

[2017-04-03 19:45] arschles commented on #632
Adding to 0.0.2 milestone, as this is related to testing.

[2017-04-03 19:49] spzala commented on #355
@arschles Hi, @MHBauer wanted to do some investigation here because of all the changes made in the generated files. I will follow up on it and update the latest. Thanks!

[2017-04-03 19:49] arschles commented on #623
@mdshuai it's expected for the API server to restart when it's launched. There are few reasons that can happen, but as long as it eventually becomes healthy -- as it appears it did -- there is no bug. I am closing this issue. Please re-open if you believe there is still something wrong.

[2017-04-03 19:49] #623 closed

[2017-04-03 19:50] arschles commented on #621
I agree. Since `0.0.3` is currently our planned last release before our first beta quality release, I am marking it with that milestone.

[2017-04-03 19:52] arschles commented on #601
I'd like to see this fixed in one of our beta quality releases. Assigning to 0.1.0.

[2017-04-03 19:53] arschles commented on #590
This should be done in a beta release. Assigning to `0.1.0` to indicate.

[2017-04-03 19:54] arschles commented on #548
@gyliu513 any progress here?

[2017-04-03 19:56] arschles commented on #521
I've added this to `0.0.2`, as testing is a large task for that milestone. This issue can and should be split apart, and may move into new milestones.

[2017-04-03 19:57] arschles commented on #431
@pmorie no

I am going to leave this to fix for our first beta release

[2017-04-03 19:58] arschles commented on #408
Closing as #612 will obviate this.

[2017-04-03 19:58] #408 closed

[2017-04-03 19:58] arschles commented on #290
We now have a complete jenkins based end-to-end testing system. Closing.

[2017-04-03 19:58] #290 closed

[2017-04-03 19:59] arschles commented on #371
This should be done by stable. Assigning to `1.0.0`

[2017-04-03 20:01] arschles commented on #315
@brahmaroutu what is the status of this issue? I have scheduled it for `0.0.3`, which is scheduled for 4/14/2017

[2017-04-03 20:02] arschles commented on #291
This has been done by @kibbles-n-bytes, closing

[2017-04-03 20:02] #291 closed

[2017-04-03 20:03] arschles commented on #489
We have a significant amount of tests written without a test package. There wouldn't be any benefit to going back and retro-fitting. Closing.

[2017-04-03 20:03] #489 closed

[2017-04-03 20:03] arschles commented on #297
Punting this to beta to decide.

[2017-04-03 20:04] arschles commented on #606
Punting this to beta to decide.

[2017-04-03 20:04] arschles commented on #633
Punting this to stable to decide.

[2017-04-03 20:05] pwittrock commented on #458
Ack

[2017-04-03 20:05] arschles commented on #514
Assigning to the beta cycle.

[2017-04-03 20:13] arschles opened #634 "Document how people can get various levels of access to our repository"

[2017-04-03 20:14] arschles opened #635 "Document & test officially supported Kubernetes versions and deployments"

[2017-04-03 20:19] arschles opened #636 "Document code coverage, code documentation and user-level documentation standards"
We should have general rules for what code coverage and documentation standards we have. These standards should include metrics that a pull request must hit before being merge-able.

Note that not all of our code will actually meet these standards when this document is written. We should add entries to the list of untested packages in https://github.com/kubernetes-incubator/service-catalog/issues/

[2017-04-03 20:24] pmorie commented on #315
We should not need this. We should just use the hyperkube image from
upstream.

On Mon, Apr 3, 2017 at 4:02 PM Aaron Schlesinger <notifications@github.com>
wrote:

[2017-04-03 20:24] arschles opened #637 "Integrate pod presets into service-catalog"
After #413, we will have Kubernetes 1.6 as a dependency and will have access to `v1alpha1` `PodPreset` data types, so we need to integrate them. This entails at least:

1. Defining fields in a `Binding` that describe parts of the `PodPreset`
2. Creating the `PodPreset` during the bind operation

[2017-04-03 20:26] arschles opened #638 "What are we going to do to change the public data types?"
Data types should be cleaned up in preparation for our beta release (at which point we should keep them backward compatible. see https://github.com/kubernetes-incubator/service-catalog/wiki/Roadmap#010 for detail). Some ideas:

- Removing `OSB` prefixes from some fields in `Instance`s (https://github.com/kubernetes-incubator/service-catalog/issues/583)
- Moving the checksum (#852)

Note that this

[2017-04-03 20:38] arschles commented on #250
Moving to `1.0.0` since this is related to the RBAC we speak of in [the roadmap](https://github.com/kubernetes-incubator/service-catalog/wiki/Roadmap#100)

[2017-04-03 20:39] arschles commented on #583
This is related to #638. Adding to the 0.0.3 milestone

[2017-04-03 20:42] arschles commented on #454
Moving into the beta cycle according to what @pmorie said above

[2017-04-03 20:43] arschles commented on #260
I am purposefully leaving this out of a milestone. Please do not assign it for now

[2017-04-03 20:44] arschles commented on #259
#620 will obviate this issue. Closing

[2017-04-03 20:44] #259 closed

[2017-04-03 20:50] arschles commented on #407
Related to #599

[2017-04-03 21:08] arschles commented on #603
moving this into the beta cycle

[2017-04-04 00:04] kibbles-n-bytes commented on #632
Which build number was this?

[2017-04-04 00:04] kibbles-n-bytes commented on #632
@pmorie Which build number was this?

[2017-04-04 11:53] gyliu513 commented on #548
Sorry @arschles , not yet started, planning to start this next week, will have you updated if any progress. Thanks.

[2017-04-04 16:38] arschles commented on #625
@mdshuai what is the status of this issue? if you have started working through it, I will leave it in 0.0.2. Otherwise, I am going to bump it

[2017-04-04 16:51] arschles commented on #598
We should only write docs once #599 and #600 are fixed. Since #600 is in 0.0.3, I am moving this to that milestone as well

[2017-04-04 17:51] duglin commented on #315
if someone wants to talk to a remote kube asking them to download a 500 meg image vs a 50 meg image is a bit much. I see no reason not to allow both.

[2017-04-04 17:54] brahmaroutu commented on #315
@arschles @pmorie I still think containerized kubectl is useful but CI also needs changes to push the image to the repo on which I do not clarity.

[2017-04-04 19:06] arschles commented on #315
I am moving this into the beta cycle (0.1.0), as it doesn't appear crucial for integration or e2e test integration

[2017-04-04 19:30] krancour commented on #598
While I know that _can_ be done, shouldn't the walkthrough w/ TRP-backed storage be _exactly_ the same, save for the step that installs the catalog chart?

[code]

[2017-04-04 19:38] arschles commented on #598
I'd still like to have directions that indicate that you can modify TPRs directly. Until we run behind the aggregator (scheduled for 1.0.0), it's important to tell users that they have an option to talk directly to the core server (when they run in TPR mode)

[2017-04-04 20:39] krancour commented on #625
The etcd that's included is inadequate for production use since it's not HA. You'll note that there is an attribute under `apiserver.storage.etcd` called`useEmbedded`. If you set that to `false`, you can further specify the location of etcd server(s) using the `servers` attribute.

I'm mentioning this only because I perceive the etcd that you can embed in the apiserver's pod as _strictly_ for "kic

[2017-04-04 22:50] MHBauer commented on #620
I am generally fed up with this aspect of go, so fine, do it, get it done, whatever I do not care anymore.

I do not see how linking to the vendor directory of other projects proves anything at all regarding best practices.

[2017-04-04 23:42] arschles opened #643 "Flake: API server did not come up successfully"
Jenkins build [#106](https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/106/console), which started from https://github.com/kubernetes-incubator/service-catalog/pull/642, caused a flake. The offending logs seem to be these:

[code]

cc/ @kibbles-n-bytes

[2017-04-05 00:09] MHBauer commented on #545
The code to do the healthz actions looks to move into apimachinery. Potentially should wait to do work until after rebase in #596.

[2017-04-05 00:53] MHBauer commented on #624
Tried to hack it into the apiserver quickly, and discovered I'm not sure how to do it.

The values are set by a script which sets ldflags. `kube::version::ldflags` in `hack/lib/version.sh` looks like a function that should move to repo-infra to be upstream reusable along with the contents of `k8s.io/kubernetes/pkg/version`. Does that make sense @pmorie ? Or is there a better place?

[2017-04-05 01:03] MHBauer commented on #452
Is this to put into the `Message` field of the various conditions information from a golang `error` that may have been returned and caused a field update?

[2017-04-05 02:10] duglin commented on #452
if I'm remembering correctly, yes.  It was noticed that while the conditions would tell us when something went wrong, often it left out the necessarily info to actually debug/fix the situation - even though the code did have it (or something).

[2017-04-05 03:25] mdshuai commented on #623
@arschles The restart happened after it's launched. Not before.  Don't know why apiserver restart again and again.
detail: https://paste.fedoraproject.org/paste/hREh-ffFAZrreqJwDTNhh15M1UNdIGYhyRLivL9gydE=

In the test, we can see first we get broker success and then get failed.

[2017-04-05 05:47] mdshuai opened #644 "kubectl get broker -o name shows unknown type"
When get broker by `-o name ` show unknown resource type
[code]
Expected results:
should show correct resource type , like: `Broker.v1alpha1.servicecatalog.k8s.io/ups-broker`

Additional info:
[code]

@pmorie

[2017-04-05 07:03] mdshuai opened #645 "Need show resource current status when get/describe"
Now I can't get resource status by get/describe command, unless get by `-o yaml/json`.
It will be better if the command can output the resource status, age etc.
[code]
@pmorie @derekwaynecarr

[2017-04-05 18:08] arschles commented on #644
@mdshuai can you cross-reference this issue on https://github.com/kubernetes/kubectl?

[2017-04-05 18:09] arschles commented on #625
Looks like documentation can solve much of this issue. I am moving into 0.0.3

[2017-04-05 18:10] arschles commented on #355
@spzala thanks

[2017-04-05 18:19] arschles commented on #413
This has been done in #596. closing

[2017-04-05 18:19] #413 closed

[2017-04-05 18:21] arschles commented on #209
@pmorie @duglin what is the status of this issue, now that the dev docs and the walkthrough have been split?

[2017-04-05 18:22] spzala commented on #355
@arschles you are welcome and thank you! The issue is fixed under https://github.com/kubernetes-incubator/service-catalog/pull/417 by adding a comment as expected by lint, so I am closing this one.

[2017-04-05 18:22] #355 closed

[2017-04-05 18:24] arschles commented on #632
Have we seen this in travis integration tests as well?

[2017-04-05 18:43] apelisse commented on #624
I've tried to implement it in #646

[2017-04-05 20:22] #578 closed

[2017-04-05 20:47] #632 closed

[2017-04-05 21:13] arschles commented on #643
The same flake appears to be in https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/142/console, except the controller pod was reported as not up successfully:

[code]

[2017-04-05 21:19] arschles commented on #260
I have added this to the 0.0.3 milestone and added the `needs-docs` label, as the decisions made from this issue must be documented in the repo.

[2017-04-05 21:23] MHBauer opened #649 "master builds failing on travis"
Last two here https://travis-ci.org/kubernetes-incubator/service-catalog/builds

[code]

[2017-04-05 21:24] MHBauer commented on #649
I think the keyer tests from #642 need to be rebased on the 1.6 era master.

[2017-04-05 21:27] arschles commented on #649
@MHBauer yep, I think you are right. I wasn't able to rebase #642 before it was merged. https://github.com/kubernetes-incubator/service-catalog/pull/639 fixes the build. Apologies all!

[2017-04-05 21:29] arschles commented on #649
For those reading later, these are the two failing builds:

- https://travis-ci.org/kubernetes-incubator/service-catalog/builds/219038044
- https://travis-ci.org/kubernetes-incubator/service-catalog/builds/219030098

[2017-04-05 22:00] arschles commented on #629
Removing this issue from a milestone and adding `Meta` to the title. All sub-issues for this (#626, #627 and #628) are all assigned to a milestone.

[2017-04-05 22:50] #620 closed

[2017-04-05 22:50] #649 closed

[2017-04-05 23:05] vaikas-google commented on #606
Yeah, so I think that this works for certs from roots. I'd be curious if there are organizations that would be running with their own CAs and in that case how we would be adding additional certs for those.

[2017-04-05 23:18] arschles opened #651 "Travis CI's tag based builds do not push docker images"
This build: https://travis-ci.org/kubernetes-incubator/service-catalog/builds/218181643 was kicked off when I created the `v0.0.1` GitHub release (and tag). As seen in the build logs, however, it did not `docker push`. I believe that the problem might lie in [line 2790](https://travis-ci.org/kubernetes-incubator/service-catalog/builds/218181643#L2790):

[code]

[2017-04-05 23:21] MHBauer commented on #651
That's very confusing to me. It's a tag, not a branch, right?

Do we need to take out https://github.com/kubernetes-incubator/service-catalog/blob/master/.travis.yml#L15 ?

[2017-04-05 23:44] arschles commented on #643
@MHBauer I've seen the same flakes in travis's integration tests. those do not run our components inside pods afaik, correct?

[2017-04-05 23:45] MHBauer commented on #643
Correct. I have not seen those myself, hence my description. Sounds like there's some general weirdness then.

[2017-04-05 23:49] arschles commented on #651
@MHBauer I'm not sure if this answers your question completely, but here's a start. We want to `docker push` both on all `master` builds and all tags. The tags are the "official" images.

Taking out https://github.com/kubernetes-incubator/service-catalog/blob/master/.travis.yml#L15 would be the same thing as what's in master right now because travis automatically deploys only the github-default br

[2017-04-05 23:51] MHBauer commented on #651
Reading that, try `tags: true` ?

[2017-04-05 23:52] arschles commented on #651
@MHBauer yep

[2017-04-06 15:22] jwforres opened #654 "ServiceClass description not being passed through"
According to the OSB api spec description goes directly on the service object and not the metadata blob.  So brokers properly returning description on their services are not getting that description coming back through the svc cat api on ServiceClass.

[2017-04-06 15:24] pmorie commented on #654
@jpeeler double-check that we don't have the same problem for ServicePlan

[2017-04-06 15:33] spadgett opened #655 "AsyncRequired error provisioning service"
I'm attempting to create a service instance for a broker that only supports async provisioning. I'm seeing this error in the logs and the provision fails.

[code]

@pmorie @jwforres

[2017-04-06 17:01] pmorie commented on #655
@jpeeler - feel like taking this one next?

[2017-04-06 17:55] #651 closed

[2017-04-06 18:47] pmorie commented on #209
Our walkthrough has a section now on deploying the catalog, which refers you to the chart.  Closing

[2017-04-06 18:47] #209 closed

[2017-04-06 18:50] pmorie commented on #497
Moving to 0.0.3 because we will not get to it before then.

[2017-04-06 18:52] #513 closed

[2017-04-06 18:52] pmorie commented on #490
We should add these as alpha fields for now, typed as `RawExtension`.

[2017-04-06 18:53] pmorie commented on #490
Moving this out to 0.0.3 because we will not make progress on it before then.

[2017-04-06 18:53] pmorie commented on #346
@duglin @spzala is this done?

[2017-04-06 19:05] pmorie commented on #515
Closed by https://github.com/kubernetes-incubator/service-catalog/pull/522

[2017-04-06 19:05] #515 closed

[2017-04-06 19:05] spzala commented on #346
@pmorie @duglin no, most changes (except one for conversion which I am looking into) are checked in with PRs opened in different libraries like gengo, go and also one in kubernetes base repo. But they all are under review, I sent them reminder before Kubecon and hopping them to review the changes. Here is a list of PRs, just FYI:
https://github.com/kubernetes/kubernetes/pull/42781
https://github.c

[2017-04-06 19:06] jwforres commented on #476
Having Ready condition is sufficient for clients for now, it tells us whether the provision / bind are complete and if not then why not.

[2017-04-06 19:06] pmorie commented on #476
I'm going to close this out; we can create an issue to add other conditions as needed.

[2017-04-06 19:06] #476 closed

[2017-04-06 19:10] pmorie commented on #462
Not an 0.0.2 item

[2017-04-06 19:11] pmorie commented on #346
Moving out of 0.0.2

[2017-04-06 19:11] pmorie commented on #481
Not going to be in 0.0.2

[2017-04-06 19:25] pmorie commented on #645
This requires significant changes in `kubectl` to accomplish; @fabianofranz can you link the relevant issues here?

[2017-04-06 19:25] pmorie commented on #644
cc @fabianofranz

[2017-04-07 00:27] gyliu513 opened #660 "How can I verify the `binding` works in walkthrough.md"
In https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/walkthrough.md , we only show example of the `binding` ready, but how can I verify the `binding` works? i.e. How can I verify that the `binding` can help me talk to the `UPS` broker server?

[2017-04-07 00:56] MHBauer commented on #660
I think this is addressed in the walkthrough. The example broker doesn't provide a real service. You can look at the secret that gets created, but there isn't any provisioned service to talk to.

[2017-04-07 01:26] gyliu513 commented on #660
The walkthrough is difficult to understand, @MHBauer , can you please show more detail for how does the `created secret` related with `UPS broker`?

[2017-04-07 03:28] gyliu513 commented on #660
Ah, I see, there is a ups controller doing this https://github.com/kubernetes-incubator/service-catalog/blob/master/contrib/pkg/broker/user_provided/controller/controller.go#L125-L138 , so each broker need to have their own controller binging logic.

[2017-04-07 08:51] gyliu513 commented on #660
I created a PR https://github.com/kubernetes-incubator/service-catalog/pull/662 to help navigate the UPS to its controller which can help people to understand the logic of UPS more clear.

[2017-04-07 08:51] #660 closed

[2017-04-07 16:58] pmorie commented on #457
Moving to 0.0.3 since this is not ready yet.

[2017-04-07 17:31] pmorie commented on #521
Moving to 0.0.3 because this is not complete.

[2017-04-07 17:33] pmorie commented on #309
Current state: still incorrect, but closer:

[code]

[2017-04-07 17:33] pmorie commented on #309
Moving this to 0.0.3, because it doesn't look like this will be done in time.

[2017-04-07 17:33] pmorie commented on #463
Moving to 0.0.3 because this isn't done.

[2017-04-07 17:34] pmorie commented on #318
Moving to 0.0.3 because this isn't done yet.

[2017-04-07 17:34] pmorie commented on #499
Moving to 0.0.3 because this isn't done yet.

[2017-04-07 17:35] pmorie commented on #496
@jpeeler this might be a good one for you to pick up when you have a chance.

Moving to 0.0.3 for now because this isn't done yet.

[2017-04-07 17:35] pmorie commented on #545
Moving to 0.0.3 because this isn't done yet.

[2017-04-07 17:36] pmorie commented on #571
Moving to 0.0.3 because this isn't done yet.

[2017-04-07 17:57] DirectXMan12 commented on #309
yep, totally looks like just a bug in generic API server.  Seems to affect nodes and namespaces as well.  The problem is that the path "/" is effectively the empty path when used not at the beginning of a path, so `path.Join(a.prefix, resourcePath, "/") == path.Join(a.prefix, resourcePath)` (the relevant code is here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserve

[2017-04-07 17:59] kibbles-n-bytes commented on #643
Definitely general weirdness. There seem to be three different things being reported in this issue:

1. API server image pull error
2. Controller-manager crash loop
3. Integration test timeout failures

I think some of the Jenkins changes that went in the other day should alleviate the first two. The integration test failures are a separate issue.

I'm going to close this issue for now and make a

[2017-04-07 17:59] #643 closed

[2017-04-07 18:02] kibbles-n-bytes opened #665 "Integration tests flaking, timing out waiting for broker to come up"
Opening a separate issue for this flake, as #643 started to become a general hub for all flaky behavior.

Integration tests are intermittently failing with error:

[code]

[2017-04-07 18:03] #325 closed

[2017-04-07 18:06] kibbles-n-bytes commented on #665
Can be seen in Jenkins builds [#173](https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/173/console) and [#178](https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/178/console).

[2017-04-07 19:09] #626 closed

[2017-04-07 19:17] #654 closed

[2017-04-07 19:44] jpeeler opened #666 "ServicePlan description not being passed through"
This is essentially part 2 for issue #654 - forgive the short description.

[2017-04-07 20:30] pmorie commented on #407
Moving to 0.0.3 because this isn't complete.

[2017-04-07 20:30] pmorie commented on #599
Moving to 0.0.3 because this isn't complete.

[2017-04-07 21:11] #624 closed

[2017-04-07 21:18] #666 closed

[2017-04-07 21:50] fabianofranz commented on #645
@mdshuai PTAL at https://github.com/kubernetes/kubernetes/pull/44222 and feel free to give it a try/feedback. That should fix this issue.

[2017-04-07 21:52] fabianofranz commented on #644
ack, feel free to assign this to me.

[2017-04-07 23:49] MHBauer commented on #665
[code]
It'll be nice to have more errors in the conditions to have a bit more info.

Going by the `ErrorSyncingCatalog` we've got the catalog, but can't parse it, or can't reconcile it.

[2017-04-08 00:11] MHBauer commented on #665
Which is very confusing, because at no point are we actually running a broker, right? It's all a mock broker.

[2017-04-08 00:13] pmorie commented on #665
Correct, and it is confusing me too. Whittled on this last night for quite a while to no effect.

[2017-04-08 00:52] pmorie opened #672 "On TPR, list instances does not work"
When I create an instance while using TPR as the backend for the API server, I can get that specific instance, but listing instances does not work, even when using the qualified API version and resource name:

[code]

[2017-04-08 01:00] pmorie commented on #637
I will take this one on in 0.0.3

[2017-04-08 02:18] pmorie opened #673 "Observed new flake in Jenkins (test_walkthrough.sh)"
I haven't seen this one before, and it's not clear to me yet what the failed assertion is, but it appears to come from `test_walkthrough.sh` (https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/203/console).  We should make it easier to understand where the failure in this script originates

<details>

[code]
</details>

[2017-04-10 07:10] hchenxa opened #675 "[Question]How to use user-bookstore-client.yaml"
I found there have user-bookstore-client yaml file under here: https://github.com/kubernetes-incubator/service-catalog/blob/master/contrib/examples/user-bookstore-client/bookstore.yaml

Does there have any guide to make it run?

And it seems this yaml file required the secret which created after binding success, does there have any steps to create the mysql broker server?

[2017-04-10 13:44] pmorie commented on #452
Closed by #415

[2017-04-10 13:44] #452 closed

[2017-04-10 14:16] pmorie commented on #675
This is part of an old walkthrough and should really be removed.

[2017-04-10 15:08] jpeeler commented on #496
After reading the spec, I realized that the cost field is in the metadata section. The metadata section is treated as a binary blog by the controller, so there's no work to be done here. Agree?

[2017-04-10 15:11] pmorie commented on #496
I agree, if this is a metadata field, then we should not have a first-class field for it in the API.  @jwforres, will you be able to work with metadata to get cost information?

[2017-04-10 15:16] jwforres commented on #496
sure if we need to, its unfortunate that something like cost is not defined in the spec

[2017-04-10 15:18] pmorie commented on #496
It's arguable that it's fortunate, since the definition of costs is...
somewhat loose, let's say.

On Mon, Apr 10, 2017 at 11:16 AM, Jessica Forrester <
notifications@github.com> wrote:

[2017-04-10 15:26] pmorie commented on #463
@jpeeler is going to take this one

[2017-04-10 17:00] pmorie commented on #273
This is done; example: #631

[2017-04-10 17:00] #273 closed

[2017-04-10 17:56] pmorie opened #677 "Report metrics from API server and controller"
Pretty much what it sounds like; we should report metrics using prometheus from our API server and controller.

[2017-04-10 17:58] derekwaynecarr commented on #677
@sjennings - can you pick this up?

[2017-04-10 18:02] derekwaynecarr opened #678 "API server should support audit logging options"
The service catalog api server should support the same generic audit log options as a normal k8s server to support integration in environments that use existing audit logging support in k8s.

For reference:

[code]

My understanding is much of this should come in the generic machinery today once we enable it.

[2017-04-10 18:04] derekwaynecarr opened #679 "pprof should be enabled by default for master and controller"
similar to kube-apiserver and kube-controller-manager, i should be able to get a pprof dump for support purposes for the service catalog api server and controller.

[2017-04-10 18:05] pmorie commented on #665
Observed in https://travis-ci.org/kubernetes-incubator/service-catalog/builds/219893348

[2017-04-10 18:25] sjenning commented on #677
@derekwaynecarr sure

/me goes to find out what API metrics are

[2017-04-10 18:39] kibbles-n-bytes commented on #673
The failure is an `ErrImagePull` on the apiserver image. This is very strange, as it earlier in the logs successfully pushed to the registry, and the image name seems to be identical.

Will need to add describing the pod on an error case here.

[2017-04-10 18:48] MHBauer commented on #673
If it's an error on pulling, is there an `IfNotPresent` we can set somewhere to avoid even trying to pull?

[2017-04-10 18:53] #675 closed

[2017-04-10 18:55] pmorie commented on #496
Since this is part of metadata, and not a first-class field, this issue can be closed.

[2017-04-10 18:55] #496 closed

[2017-04-10 21:17] MHBauer commented on #677
I can't wait to see this. Very interested.

[2017-04-10 23:09] MHBauer commented on #628
@sjenning appears to be at redhat, so assigning @pmorie in lieu of.

[2017-04-10 23:14] MHBauer commented on #545
How much of this will https://github.com/kubernetes-incubator/service-catalog/pull/615/files#r110766510 solve since it won't stay up?

Should we move the http server AFTER that block?

[2017-04-11 00:54] simonleung8 commented on #545
I might not understand your question entirely but this issue is not relevant if the controller fails on startup. We only care about checking the API server if controller comes up healthy.

[2017-04-11 01:47] MHBauer commented on #545
Right now, before 615, there is a gap [when 129-141 runs](https://github.com/kubernetes-incubator/service-catalog/blob/master/cmd/controller-manager/app/controller_manager.go#L129-L141) and when the [controller is started](https://github.com/kubernetes-incubator/service-catalog/blob/master/cmd/controller-manager/app/controller_manager.go#L168).

We also don't install a handler that says whether we

[2017-04-11 18:27] arschles commented on #673
cc/ @kibbles-n-bytes

[2017-04-11 18:27] arschles commented on #665
cc/ @rifung

[2017-04-11 19:57] sjenning commented on #677
PR #669 is setting EnableMetrics to true, which appears to be all the is required to get the default set of metrics that the generic API server provides

<details>

[code]

</details>

[2017-04-11 20:03] MHBauer commented on #677
Wow, is that running some kind of shell on the server?

[2017-04-11 20:14] derekwaynecarr commented on #677
these are the prometheus metrics, per our chat, what i want to understand
is what additionally unique metrics for service catalog we should be
exposing that a naive kube user would expect to also have by comparing with
kube-apiserver output.  @sjenning is building that compare list next...

On Tue, Apr 11, 2017 at 4:03 PM, Morgan Bauer <notifications@github.com>
wrote:

[2017-04-11 21:17] derekwaynecarr commented on #677
@sjenning -- same for our controller, we ideally can report the depth of our workqueues

[2017-04-11 22:27] arschles opened #685 "Consider running etcd in-process for integration tests"
The change at https://github.com/coreos/etcd/pull/650 should allow us to run an etcd server inside the integration test process.

[2017-04-11 22:35] MHBauer commented on #685
this should be easier now that we're after the 1.6 rebase.

[2017-04-11 23:07] MHBauer commented on #678
yay generic machinery!

[2017-04-11 23:09] MHBauer commented on #679
it is not obvious how apiserver does it, but controller-manager manually registered the mux.

[2017-04-11 23:14] MHBauer commented on #679
Looks like maybe `k8s.io/apiserver/pkg/server/options/feature.go#FeatureOptions`.

[2017-04-12 08:35] hchenxa opened #687 "build package on Mac OS shows stat usage error"
I build the package on Mac OS and below error will throw:

hchenxa@hchen-mac:~/Documents/hchenxa/src/hchenxa_github/service-catalog$ make build
stat: cannot read file system information for '%c %N': No such file or directory
stat: cannot read file system information for '%c %N': No such file or directory
stat: cannot read file system information for '%c %N': No such file or directory
stat: cannot

[2017-04-12 22:24] arschles opened #693 "Make TPR integration tests run against a real Core API server"
Current TPR integration tests use a fake rest API client to mock out the core API server. The TPR tests are mirrors of the etcd based tests, but we had to cut the codepaths for TPR in these tests short because they didn't pass. I'd like us to execute against a real server for two reasons:

1. We won't have to maintain a fake client & keep parity with the real TPR API
2. We can be sure that test fa

[2017-04-12 22:27] fraenkel commented on #685
Can't do it until you go to etcd 3.1.x which has the embed package.

[2017-04-12 22:50] arschles commented on #685
Good to know - thanks @fraenkel.

Is there anything right now that provides the REST API but just stores data in-memory, for example?

[2017-04-12 22:55] arschles commented on #548
I am moving this out of a milestone. @gyliu513 please comment here when you have started.

[2017-04-12 22:55] arschles commented on #571
This looks related to https://github.com/kubernetes-incubator/service-catalog/pull/533

[2017-04-13 00:34] MHBauer commented on #677
Is there a sample code somewhere for how to hook into the existing infrastructure? I'd like to have a custom metric in there for the heck of it. Let's see if we can get it to work, just to provide feedback.

For API-Server metrics, there might be some on the TPR side. The etcd code flow is as normal. @arschles @krancour any metrics in the API-Server?

[2017-04-13 16:21] arschles commented on #203
@pmorie @MHBauer I believe we check in all generated code in our repo now, no?

[2017-04-13 16:26] MHBauer commented on #203
Yes.

[2017-04-13 16:32] arschles commented on #600
cc/ @simonleung8

[2017-04-13 17:13] #203 closed

[2017-04-13 17:19] arschles commented on #665
A few notes here:

- As @MHBauer said, we are not actually running a broker server
- The error shown is strictly about the success condition not showing up on the `Broker` resource

I believe this error is now fixed. Here is my hypothesis on what was happening:

1. the secure catalog API server started up, but the insecure port is 8080
2. because the insecure server couldn't serve on 8080, the `k8

[2017-04-13 17:40] pmorie commented on #665
I don't think this is fixed -- I observed a race in travis with a PR rebased onto #695, but sadly have lost the link.

[2017-04-13 17:47] arschles commented on #693
If this is done, #640 should be closed

[2017-04-13 18:03] pmorie commented on #665
I don't think this is fixed -- I observed a race in travis with a PR rebased onto #695, but sadly have lost the link.

[2017-04-13 18:08] arschles commented on #665
Ok, any additional information (the branch, PR, or travis link if you can find it) would be helpful here. Leaving this open.

[2017-04-13 18:37] arschles commented on #637
Moving to 0.0.4, as we didn't get to this in 0.0.3

[2017-04-13 18:40] arschles commented on #490
Moving out of a milestone until we decide when to do this on [the roadmap](https://github.com/kubernetes-incubator/service-catalog/wiki/Roadmap)

[2017-04-13 18:41] arschles commented on #497
Moving this into 0.1.0 since we will need to decide on OSB tags before we provide backward-compatibility guarantees by then

[2017-04-13 18:41] arschles commented on #457
Moving to 1.0.0 since we will need this by the time we add full support for aggregation

[2017-04-13 18:42] arschles commented on #481
Moving out of a milestone until we decide what to do here.

[2017-04-13 18:43] arschles commented on #318
@duglin please update this issue with the status. I am moving this out of a milestone until we decide exactly what we are doing here.

[2017-04-13 18:45] arschles commented on #309
I am moving this into 0.1.0 since we it would be nice to have this fixed once we start providing backward-compatibility guarantees to our data types at that time.

[2017-04-13 18:46] arschles commented on #266
This is a duplicate of #637. Closing

[2017-04-13 18:46] arschles commented on #637
Note that #266 was a duplicate. See the OP in that issue for more detail

[2017-04-13 18:46] arschles commented on #260
Moving this out of a milestone until we discuss further.

[2017-04-13 18:47] arschles commented on #20
I have designated this a meta issue and removed it from a milestone

[2017-04-13 18:50] arschles commented on #346
@spzala can you update what the status of this issue is?

I am moving out of a milestone until we figure out when we need to finish this

[2017-04-13 18:53] arschles commented on #248
Moving to 0.0.4, as this is in progress now.

[2017-04-13 18:54] arschles commented on #317
I am moving this out of a milestone until we figure out how we want to do the move.

[2017-04-13 18:56] spzala commented on #346
@arschles sure, that's a good idea. Because of dependency on multiple external repositories, this is taking longer and we can't exactly tell when all changes will be merged. So sounds good to me. Thanks!

[2017-04-13 18:57] arschles commented on #453
@pmorie @jwforres has anyone started on this? I am removing it from a milestone, but happy to re-add if someone is planning on doing the work.

[2017-04-13 18:58] arschles commented on #521
Moving this out of a milestone because it's a meta issue

[2017-04-13 19:00] arschles commented on #634
This requires discussion, which we aren't going to get to during this milestone. I will schedule that discussion and I'm moving this to 0.0.4

[2017-04-13 19:01] arschles commented on #621
We aren't going to get to this by 0.0.3; moving this to 0.0.4

[2017-04-13 19:02] arschles commented on #628
@sjenning @pmorie does #648 address this issue? If not, I will need to move to another milestone

[2017-04-13 19:03] arschles commented on #599
This issue covers multiple bugs, so I'm labelling it as a meta and moving out of a milestone

[2017-04-13 19:03] arschles commented on #571
#533 is related to this, as that includes other improvements to the fake broker server

[2017-04-13 19:05] arschles commented on #583
Moving to the 0.1.0 milestone, since this would be nice to have before we start claiming backward compatibility for our data types (which is scheduled in 0.1.0)

[2017-04-13 19:09] arschles commented on #463
Moving to 0.0.4. @jpeeler is currently working on this

[2017-04-13 19:11] arschles commented on #499
This hasn't been started, but it would be nice to have this done by 0.1.0. Setting milestone accordingly.

[2017-04-13 19:12] arschles commented on #598
We should have these docs around the 0.1.0 cycle. Moving milestones accordingly

[2017-04-13 19:12] arschles commented on #627
This would be nice to have well before the 0.1.0 cycle. Moving to 0.0.4 accordingly.

[2017-04-13 19:14] arschles commented on #625
I am moving this out of a milestone because it's unclear what documentation is necessary to add. @mdshuai can you comment on what docs would help resolve the questions you posed in the OP?

[2017-04-13 19:25] arschles commented on #600
@simonleung8 is currently working on this. I am moving this into 0.0.4

[2017-04-13 19:45] pmorie commented on #665
Okay, here's another instance of the flake from #682: https://travis-ci.org/kubernetes-incubator/service-catalog/builds/221799879

[2017-04-13 20:10] pmorie commented on #665
I have some ideas about how to fix this one, gonna hack on it after I land some other stuff

[2017-04-13 21:20] pmorie opened #698 "Proposal: How to slice up integration tests vs. E2E and etcd vs. TPR"
Our current state in the repo is:

- Integration tests
  - Embed a service catalog API server
  - Run etcd in process to test etcd
  - Fake out a REST client to emulate a real API server in TPR
- E2E tests run in jenkins against a real cluster

We have found that the approach of faking a REST client to emulate TPR to be extremely troublesome and difficult.  We have also tried embedding a Kube API

[2017-04-13 21:21] rifung commented on #665
I think the issue is this:

It seems that maybe we reuse the service class "test-service" in multiple tests. I don't know enough about the test code but I imagine we're either running them in parallel or the delete is not being processed before we try creating a broker again.

Or I could be totally wrong but perhaps someone who knows better can chime in?

[2017-04-13 21:27] arschles commented on #665
@rifung I believe that @pmorie had a similar hypothesis. Note that this behavior may be happening because the controller repeatedly fetches the catalog from the broker. After each fetch, it then tries to write service classes. If that's the case, this is a race.

[2017-04-13 23:19] arschles opened #700 "Add unit tests for the TPR storage interface"
#699 adds a unit test for the TPR storage interface's `Create` func. This issue is for finish tests for all the rest of the storage interface's functions. Note that we'll need #640 to add watch support to the fake REST client in order to unit test the watch endpoint.

[2017-04-13 23:22] MHBauer commented on #698
Yay e2es! Should be much easier to reuse some upstream stuff after the rebase. I haven't looked at it.

Since TPRs need a real server, it makes sense that they can only be done with e2e.

[2017-04-13 23:27] arschles commented on #698
I am :+1: on this, with the addition that we need to build out more unit coverage for TPR (see https://github.com/kubernetes-incubator/service-catalog/issues/700) as well.

[2017-04-14 04:51] MHBauer commented on #685
Not sure about 'cannot' but probably 'should not'. If we need 3.1, what's the likelihood we get that in a kube v1.6 update vs having to wait 6 months till cube 1.7?

I suppose it is possible we could do a manual pull of 3.1 with glide, but I'm not sure I would advocate for it.

[2017-04-14 05:29] MHBauer commented on #687
Root causing this, in my opinion it would be better to entirely get rid of the stat call and let the go compiler do it's job of checking if packages are up to date.

[2017-04-14 06:48] pmorie opened #701 "Jenkins flake: timed out waiting for external IP for catalog API server"
Present in: https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/300/console

[2017-04-14 18:43] pmorie commented on #693
We should remove this if we adopt #698

[2017-04-14 19:37] pmorie commented on #701
@kibbles-n-bytes can we close this, now that you requested a quota increase for static IPs?

[2017-04-14 19:51] pmorie commented on #677
Moving this to 0.1.0, which is probably a more realistic milestone.

[2017-04-14 19:53] pmorie commented on #672
Moving out to the next alpha release for now.

[2017-04-14 19:53] pmorie commented on #693
Moving this out to the next alpha release for now.

[2017-04-14 19:54] pmorie commented on #407
Moving to the next alpha release for now.

[2017-04-14 19:55] pmorie commented on #571
Moving to next alpha release for now.  We probably need someone to own all of these related issues.

[2017-04-14 19:56] pmorie commented on #638
Moving this to the beta release milestone.

[2017-04-14 19:58] pmorie commented on #462
Moving to 1.0.0, since that is a GA release, and this is unlikely to happen before then.

[2017-04-14 19:58] kibbles-n-bytes commented on #701
@pmorie Yes, should be fine.

[2017-04-14 19:58] #701 closed

[2017-04-14 19:58] pmorie commented on #628
Moving to 0.0.4

[2017-04-14 19:59] pmorie commented on #545
Moving to 0.0.4 because this isn't done yet.

[2017-04-14 20:14] kibbles-n-bytes commented on #673
This flake only has been seen twice (not to be confused with a different `ErrImagePull` flake that was more prevalent and has been fixed), and it's been a week since the last sighting, so I'm inclined to say it was an intermittent GCP-related issue.

Additional logging that has been added to the walkthrough will help should it reoccur. For now, though, I'll close this.

[2017-04-14 20:14] #673 closed

[2017-04-14 20:52] pmorie commented on #627
This one can get in for 0.0.3 if we get reviews today

[2017-04-14 20:53] pmorie opened #704 "Porcelain command for relisting broker catalog"
Created from #627; there should eventually be a porcelain command to relist a broker's catalog.

[2017-04-14 20:55] pmorie opened #705 "Controller broker relist behavior on a per-broker basis"
Created from #627; we should be able to configure the controller's relist behavior on a per-broker basis.  I have requirements for:

1.  Relist periodically (can be manually triggered)
2.  Do not relist until manually triggered

The user should always be able to trigger a manual relist, see #704

[2017-04-14 22:31] vaikas-google opened #706 "Address Quay security scanner issues."
Quay security scanner shows several vulnerabilities for our builds, one such example:
https://quay.io/repository/kubernetes-service-catalog/apiserver/image/95b8cef81ef4107c7124a208ef430a5c04bb361cf2f43a519376f09a2b6a8796?tab=vulnerabilities

[2017-04-15 05:25] #665 closed

[2017-04-15 18:17] pmorie commented on #627
I want what @dug said here on a per-broker basis, eventually: https://github.com/kubernetes-incubator/service-catalog/issues/627#issuecomment-290998496

There should be a porcelain command for relist now, created #704

[2017-04-17 18:24] derekwaynecarr commented on #698
@sjenning and myself are going to pair up and get an initial stub of an e2e framework put together.

[2017-04-17 19:19] arschles commented on #637
I am moving this to 0.1.0, as it doesn't look like it will be worked on this week

[2017-04-17 19:35] arschles commented on #627
#702 fixed this. Closing. There is remaining work to be done in this issue; @jpeeler will create a focused issue to track that work.

[2017-04-17 19:35] #627 closed

[2017-04-17 19:51] jpeeler opened #709 "User initiated trigger for broker re-list"
Users should be able to trigger broker re-list via a command

[2017-04-17 20:23] rifung opened #710 "Fix race condition in reconcileServiceClassFromBrokerCatalog"
Right now we have a race condition in this section of pkg/controller/controller.go (around line 325 as of this writing)

[code]

because between

[code]

and

[code]

it's possible that the service class would be created elsewhere due to the lack of synchronization.

This is the root cause of #665

[2017-04-17 20:29] arschles commented on #709
@jpeeler any idea what the command should be?

I think our API should stay as declarative as possible, so I'd like to avoid an imperative command to relist.

[2017-04-17 20:58] pmorie commented on #709
I already made an issue for this, look for 'porcelain'.

On Mon, Apr 17, 2017 at 4:30 PM Aaron Schlesinger <notifications@github.com>
wrote:

[2017-04-17 22:06] jpeeler commented on #709
Closing this duplicate (see https://github.com/kubernetes-incubator/service-catalog/issues/704)

[2017-04-17 22:06] #709 closed

[2017-04-18 16:04] jpeeler opened #711 "generic describer not showing events"
Events added in https://github.com/kubernetes-incubator/service-catalog/pull/680 show up when executing `kubectl get events`, but not when describing the pod.

[2017-04-18 18:12] arschles commented on #710
@rifung can you comment on where exactly that code is found?

[2017-04-18 18:12] ultimateboy opened #713 "Bug: controller fatal error `unknown flag: --broker-relist-interval`"
I'm attempting to install the latest service catalog and I'm receiving the following fatal error from the controller container:
[code]

I deployed using:
[code]

Based on the default values in `values.yaml`, the controller image used was:
`quay.io/kubernetes-service-catalog/controller-manager:v0.0.3`

[2017-04-18 18:18] rifung commented on #710
@arschles absolutely I've updated the original comment to point out where the code is

[2017-04-18 18:19] arschles commented on #713
https://github.com/kubernetes-incubator/service-catalog/pull/707 caused this, because the `canary` (and what will become the `v0.0.4` release) version supports this flag, but `v0.0.3` does not. Can you use the chart in the `v0.0.3` tag of this repo for now?

[2017-04-18 18:21] arschles commented on #710
thanks @rifung!

[2017-04-18 18:22] ultimateboy commented on #713
Thanks @arschles - that gets me up and running.

[2017-04-18 18:22] rifung commented on #710
#dibs

[2017-04-18 20:25] arschles commented on #672
I added a bit of additional logging to the catalog API server's TPR storage implementation to verify that instances are being listed. The logs show on what namespace the catalog API server is requesting the TPR on the core API server.

When executing the `k get instances` command against the catalog API server, catalog API server logs show:

[code]

Note that `servicecatalog` is the namespace that

[2017-04-19 18:35] kibbles-n-bytes opened #716 "helm chart assumes a more recent version of the controller-manager than the default image"
The helm chart tries to pass the `--broker-relist-interval` parameter to the catalog, but this functionality was added after `v0.0.3`, which is the default image specified by `values.yaml`, so the controller-manager crash loops.

[2017-04-19 18:37] #463 closed

[2017-04-19 18:38] kibbles-n-bytes commented on #716
Not really sure whether to call it a `bug` or not, but strange behavior regardless.

[2017-04-19 23:00] simonleung8 commented on #600
A workaround has been posted to resolve this issue. see #718

[2017-04-20 05:44] simonleung8 commented on #600
PR #718 is open as an workaround to get the walk through working.

[2017-04-20 05:45] simonleung8 commented on #600
I have to close the PR because it is breaking integration test for etcd. Will further investigate to find a proper remedy.

[2017-04-20 05:54] simonleung8 opened #720 "TPR `GuaranteedUpdate()` cannot update existing object."
_Note: this is part of a meta issue: #600_

We always [set the version to 0](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/storage/tpr/storage_versioner.go#L92) during updating an object, which will result in creating a new object instead. There are times we need to update an existing object. For example, calling delete on the object will result in updating the `DeletionT

[2017-04-20 14:37] ultimateboy commented on #716
Duplicate of https://github.com/kubernetes-incubator/service-catalog/issues/713

[2017-04-20 15:18] derekwaynecarr opened #721 "Verify service-catalog OpenAPI config is properly configured"
The generic machinery has options for configuring OpenAPI but a quick glance at the code appears to me to not do any special case wiring by default if less unspecified.

I believe service-catalog API server should be enabling the following:

[code]

but we need to understand if that is required when we are using the aggregator.

[2017-04-20 15:22] derekwaynecarr opened #722 "service-catalog API server needs to return proper values for /version endpoint"
for reference, every kube style api server supports a `/version` endpoint.

for example:

[code]

after #669 merges, we will have a placeholder values for version info that we need to populate out of a build step.

[code]

we need to fill git version, tree, commit, and build date.  major and minor versions are deprecated.  the compiler and platform and go version will just work.

[2017-04-20 17:06] kibbles-n-bytes commented on #716
Ah, didn't notice that one was the same, thanks. Closing!

[2017-04-20 17:06] #716 closed

[2017-04-20 17:16] arschles commented on #693
Closing in favor of #698

[2017-04-20 17:16] #693 closed

[2017-04-20 17:29] krancour opened #723 "serveral tpr-backed storage methods ignore resource version argument"
_Note: this is part of a meta issue: #600_

[2017-04-20 18:41] arschles commented on #723
See https://github.com/kubernetes-incubator/service-catalog/pull/715/files#r112508069 for context

[2017-04-20 20:08] #636 closed

[2017-04-20 20:13] kibbles-n-bytes opened #724 "Walkthrough tests treat 'Pending' pod state as an error"
Seen in #648 Jenkins run.

[2017-04-20 20:35] arschles commented on #628
Fixed by #648, closing

[2017-04-20 20:35] #628 closed

[2017-04-20 20:35] pmorie opened #727 "Controller should not allow a binding to an unbindable service"
Currently we do not prevent bindings to services that are not bindable.  We should error such a binding with a descriptive message.

[2017-04-20 20:39] arschles commented on #720
This is related to #600

[2017-04-20 21:20] #672 closed

[2017-04-21 16:00] jmrodri opened #732 "service-catalog does not pass the operation to last_operation"
The OpenServiceBroker [spec](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#polling-last-operation) specifically states **Query-string field** vs **Request Field**:

##### Parameters #####

The request provides these query string parameters as useful hints for brokers.

|  Query-String Field | Type  | Description  |
|---|---|---|
| service_id  |  string | ID of the servi

[2017-04-21 16:12] jmrodri opened #733 "service-catalog polling is too short"
During an async operation, the service-broker will poll 30 times every second resulting in a 30 second poll. Our broker is provisioning things that take 10 minutes, but could take as long as an hour.

[code]
[lines 48-49](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/brokerapi/openservicebroker/open_service_broker_client.go#L48-L49)

[code]
[lines 309-333](https://github.

[2017-04-21 16:35] arschles commented on #634
Moving to the beta cycle

[2017-04-21 16:36] arschles commented on #621
@derekwaynecarr do you know of any progress toward this issue? I am moving to the beta cycle for now

[2017-04-21 16:37] arschles commented on #545
@MHBauer any progress toward this issue? I am moving to the beta cycle for now

[2017-04-21 16:37] arschles commented on #571
I am moving this to the beta cycle along with #533

[2017-04-21 17:28] MHBauer commented on #733
Poll 30 times total, one time with a one second pause.

I think this is another chance to reuse the `util/wait` pkg.

There was talk or a comment or an issue somewhere that this should be configurable somehow.

I'm really curious about what service takes an hour to provision.

[2017-04-21 17:35] MHBauer commented on #732
It's interesting the example doesn't show the query parameters at all. `service_id` and `plan_id` are explicitly mentioned as optional, but `operation` is not.

I can read that section as "if the broker provides it in a response, the client should echo it back on the next request".  None of that sounds required to me.

I'd say this is more of a bug in the spec definition than our implementation un

[2017-04-21 17:36] MHBauer commented on #722
Is there something we can pull from repo-infra or elsewhere to help us? If it's a common format we want to support there needs to be common infrastructure to support it.

[2017-04-21 17:41] arschles commented on #733
cc/ @vaikas-google, since he is working on #717 and #248

[2017-04-21 17:41] arschles commented on #733
I would recommend we add command line flags so that an operator can set custom values.

[2017-04-21 17:46] arschles commented on #407
Instead of writing TPR integration tests, we are going to add better [e2e tests](https://github.com/kubernetes-incubator/service-catalog/issues/698) and more thorough [unit tests](https://github.com/kubernetes-incubator/service-catalog/issues/700). I am closing this issue.

[2017-04-21 17:46] #407 closed

[2017-04-21 18:12] #713 closed

[2017-04-21 18:35] arschles opened #735 "Publish helm charts to a helm repo"
This is a follow up to https://github.com/kubernetes-incubator/service-catalog/pull/728#discussion_r112563258

Currently, we reference version-tagged images in our helm charts, not `canary`. This keeps our walk-through stable, but long-term I'd like to see us treat our helm charts as published artifacts just like our docker images.

This issue is for the following:

1. Publish helm charts to a hel

[2017-04-21 18:36] arschles commented on #710
Moving to the beta cycle, as this is still in progress.

[2017-04-21 18:36] arschles commented on #600
Moving to the beta cycle, as this is still in progress

[2017-04-21 18:37] arschles commented on #700
Moving to the beta cycle, as @krancour is still in progress on writing tests and fixing issue they uncover.

[2017-04-21 21:40] arschles commented on #710
Moved to 0.0.5

[2017-04-21 21:51] arschles commented on #723
Related to #720

[2017-04-21 21:51] arschles commented on #720
Related to #723

[2017-04-21 22:15] arschles opened #737 "The walk-through doesn't work on Minikube 1.6"
I am running a minikube, kubernetes API and `kubectl` with these versions:

[code]

After I execute [step 1](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/walkthrough.md#step-1---installing-the-service-catalog), the API server pod goes into `CrashLoopBackoff` with the following error in the logs:

[code]

This is all run from the current tip of `master`:

[code]

[2017-04-21 22:24] arschles commented on #737
@DirectXMan12 pointed me to the note under step 1 of the walk-through:

[code]

I believe that the walk-through needs more in-depth detail on how to get or create a CA.

[2017-04-21 22:28] DirectXMan12 commented on #737
I'll add a lightweight section to the walkthrough, and then link to another doc on generating the full set of proper certificates -- there should be some good docs about it anyway for when people want to run this for the long term.

Also, minikube should probably generate a requestheader CA if it doesn't already -- it's needed for proper aggregated auth.  Who do we ping about that?

[2017-04-21 22:30] arschles commented on #737
@DirectXMan12 I'd post an issue in https://github.com/kubernetes/minikube

[2017-04-21 22:30] arschles commented on #737
and feel free to CC me and/or @pmorie

[2017-04-22 16:21] pmorie commented on #737
@arschles sounds like this is only when using auth, accurate?

[2017-04-22 16:21] pmorie commented on #737
@DirectXMan12

Create an issue in the minikube repo

[2017-04-24 15:53] spadgett opened #742 "Wrong plan description comes back when a service class has multiple plans"
I made some local changes to the UPS service metadata:

https://github.com/spadgett/service-catalog/commit/ad7f302d469d8968f81148cec9e0b73db8ee2c21

When I get the service classes back from the catalog, the first plan uses the wrong description. It should be "The default user provided service plan."

[code]

Here is the full JSON response:

[code]

cc @pmorie

[2017-04-24 22:03] pmorie commented on #732
@vaikas-google can you handle this in #717 ?

[2017-04-24 22:10] pmorie opened #746 "Binding requests shouldn't be sent until instance is done provisioning"
Currently, it's possible for the controller to begin sending binding requests when the instances those requests reference are still provisioning (or not yet provisioned).  The controller should not send a bind request until after the instance a binding references is ready.

[2017-04-25 00:43] pmorie opened #748 "Support plan updates for Instances"
We currently do not correctly support plan update to Instances correctly from what I can tell.  We should:

1.  Only allow changes to the `PlanName` field of `InstanceSpec` if the `ServiceClass` is plan-updatable (sounds like an admission controller to me)
2.  Send the prior plan ID correctly (this is something that it is not yet obvious to me how we should solve in the API - seems like the admiss

[2017-04-25 00:43] pmorie commented on #748
Adding this for 0.1.0 because it seems like it should be done before beta.

[2017-04-25 00:44] pmorie commented on #629
This is all closed out now, woot.

[2017-04-25 00:44] #629 closed

[2017-04-25 00:50] jmrodri commented on #732
@MHBauer that's part of the problem. It *is* being returned by the broker but the catalog is not echoing it back as a query parameter.

[2017-04-25 03:08] pmorie commented on #603
Yes.  We deploy all k8s controllers in an active/passive HA mode in OpenShift clusters with HA masters.  We plan to deploy an instance of the service catalog controller in the same way - one controller instance per master, colocated with each master.

Yep.

This is basically exactly how leader election is implemented.  See #647

[2017-04-25 13:45] luksa commented on #742
Just noticed this today. Pull request just submitted.

[2017-04-25 17:03] krancour commented on #737
I've read through #745, and while it's enlightening, I'm also trying to understand why the insecure endpoint isn't at least working. @DirectXMan12 have any insight into that?

[2017-04-25 18:18] #742 closed

[2017-04-25 18:24] DirectXMan12 commented on #737
Basically, a series of things lead to this issue:

First, you need to have a cluster where the API server isn't run with `--requestheader-client-ca-file` (running with this flag is default in `k8s.io/kubernetes/hack/local-up-cluster.sh`, but is not set in minikube).

The key here is that secure and insecure serving aren't mutually exclusive (and, in fact, both are on by default: insecure on `local

[2017-04-25 18:42] jwforres opened #750 "Secret generated from a binding should have a reference to the binding"
When a binding object is created and then a secret is generated for that binding, that secret should have to reference back to its binding.  This is so clients can choose to warn users that try to directly delete the Secret without removing the binding.

[2017-04-25 18:42] jwforres commented on #750
cc @pmorie

[2017-04-25 22:45] ljnelson commented on #737
Hello; ordinary lowly user here.  I am kicking the tires on this effort (thanks for your work!) and have been slowly and methodically going through the walkthrough.  First, a huge thanks to @DirectXMan12 for his certificates writeup; that helped me get the service-catalog running on Minikube.

I've run everything (carefully copying and pasting straight from the doc) up through step five.  But [ste

[2017-04-26 00:04] ljnelson commented on #737
(An update: after quite some time (many minutes in my case) the `status` now contains the expected information.  I'm not sure what the expected interval is between step five and step six.)

[2017-04-26 13:57] pmorie opened #753 "Decide how we should support alpha fields in non-alpha resources"
There are a number of needs for having alpha fields in non-alpha resources:

1.  We should not have non-alpha fields for things that are alpha features in Kubernetes (`PodPreset`)
2.  We should be able to support features that are accepted to the OSB spec but not yet released (parameter schema)
3.  We should be able to add our own alpha features that are not (1) or (2)
4.  We want to be able to re

[2017-04-26 14:06] duglin commented on #753
Seems ok. One question though on the flags to enable the alpha features... when the feature changes the behavior of our code then I think that makes sense.  But, when the feature is 100% additive do we really need to require people to add a flag to enable it?  Shouldn't them adding the alpha-named field to the resource be sufficient?  Not a blocker either way - just looking for a way to make life

[2017-04-26 15:54] arschles commented on #94
Closing, as the helm reifier is now largely removed from this repository

[2017-04-26 15:54] #94 closed

[2017-04-26 17:10] MHBauer commented on #737
We don't particularly mention it, but were all the pods up and ready by the time you ran the broker create?
The api server has no dependencies and will happily run with nothing else, but the controller depends on the api server running successfully and will crash loop until it can make contact.

Something like this:
[code]

[2017-04-26 17:17] ljnelson commented on #737
Thanks for your comment.  Yes, they were.  I'm going to run through the walkthrough from scratch again today and I'll report what I find.

[2017-04-26 20:20] vaikas-google commented on #732
Actually properly addressed by a follow up in #757

[2017-04-26 23:02] pmorie commented on #698
@arschles @krancour any objection to me removing the TPR support in the integration tests?  I'd like to just get that done if we all agree on this.

[2017-04-27 02:05] #248 closed

[2017-04-27 10:10] luksa opened #761 "Controller only updates an Instance's status, but not its spec"
Judging from the code, the controller only updates the Instance's status during provisioning. The newly added async support, for example, sets the `spec.OSBLastOperation`, but never actually posts the update to the API server.

Also, the `spec.OSBDashboardURL` is never stored (neither for sync, nor async broker responses).

[2017-04-27 10:13] luksa commented on #761
I've just noticed #757, which makes half of this issue moot. But it still applies to the `OSBDashboardURL`.

[2017-04-27 10:24] luksa commented on #761
I can move it to `status` myself. Just need someone to give me the go-ahead.

[2017-04-27 16:44] krancour opened #763 "Testing: helper methods shouldn't fail tests directly"
There are numerous places where we use test "helper" functions that directly fail tests (e.g. `t.Fatalf(...)` when an assertion fails. This produces error reports where the source of such failures appears to be the helper function-- which is not the _real_ source of the failure. This necessitates careful reading of the resulting stack trace where it could, possibly, be avoided otherwise.

To whate

[2017-04-27 17:56] pmorie commented on #753
@duglin

It's probably best to talk through a couple specific examples - I'm wondering if you're thinking about something like the OSB context profile.

[2017-04-27 18:18] duglin commented on #753
yea, "context" is an example of it, but what made me think of this yesterday was when I was playing with the PodPreset admission controller. Things didn't work for me at first and it turned out it was because I didn't go out of my way to enable the A.C. Easy fix but seemed like kind of an unnecessary burden when I have to go out of my way to hit the feature at all by trying creating a PodPreset re

[2017-04-27 19:26] arschles commented on #737
#745 fixed this; closing

[2017-04-27 19:26] #737 closed

[2017-04-27 19:51] #732 closed

[2017-04-27 21:29] vaikas-google commented on #733
@jmrodri Did #717 fix the problem sufficiently that we can close this issue?

[2017-04-27 21:37] vaikas-google commented on #723
@krancour Did your PR: https://github.com/kubernetes-incubator/service-catalog/pull/738 address this issue?

[2017-04-27 21:38] vaikas-google commented on #720
@krancour and did your PR: https://github.com/kubernetes-incubator/service-catalog/pull/738 do anything here.

[2017-04-27 21:46] #724 closed

[2017-04-27 21:52] kibbles-n-bytes commented on #724
Strange, I thought it would close automatically. Thanks @jpeeler

[2017-04-27 21:53] vaikas-google commented on #710
So, the one question I had this is that with the introduction of the queues, we should have the guarantee that a single broker _instance_ is being reconciled at a time, so there should be no races between a single broker. However of course if two brokers have the same service class that could still be a problem. Or, am I missing what the race here pertains to?

[2017-04-27 22:20] krancour commented on #600
https://github.com/kubernetes-incubator/service-catalog/pull/738 just recently fixed the update for tpr-backed storage. I'm not 100% of the root cause behind _this_ issue, but delete via apiserver is a soft-delete-- which is really an update. I _suspect_ that this issue can be closed, but I really need to try the walkthrough using the new and improved (and better tested) tpr storage. I will try an

[2017-04-27 22:28] krancour opened #766 "canary images aren't being pushed on each build of master"
https://quay.io/repository/kubernetes-service-catalog/apiserver?tab=tags

Currently, the canary was last built 6 days ago and we've merged many PRs to master since then.

This needs to be fixed, as the expectation is that canary images represent what had been built from the current head of master.

[2017-04-27 22:35] arschles commented on #766
Looking at this, I see that we set `tags: true` on the `.travis.yml` file (https://github.com/kubernetes-incubator/service-catalog/blob/master/.travis.yml#L16). It looks like that precludes us from using any `branch:` qualifiers.

Looks like I broke this a while ago, not sure why we were building canary images since then.

[2017-04-27 22:36] krancour commented on #766
I was just about to link you to that.

[2017-04-27 23:04] #766 closed

[2017-04-28 14:06] jpeeler commented on #724
@kibbles-n-bytes it did close automatically, it just attributes credit to me for doing the merge.

[2017-04-28 14:30] krancour opened #769 "During async provisioning, instance status is wrong"
During on-going async provisioning (known to be on-going and going well because I was streaming controller and broker logs), the instance status is incorrectly reported as:

[code]

[2017-04-28 18:22] krancour opened #771 "Async provisioning not working as expected"
I've adapted [this broker](https://github.com/Azure/meta-azure-service-broker) (no code changes; I only added a Dockerfile and a Helm chart) to run in k8s.

In testing service catalog against this broker, which executes some long-running (many minutes) provisioning processes asynchronously, I've found that after 30 polls (all of which return a 200), the controller seems to give up on polling and r

[2017-04-28 18:51] krancour commented on #771
Broker logs paint a nice picture of what is happening.

This is one continuous log with the highlights bookmarked below:

1. one PUT returning 202: https://gist.github.com/krancour/648b66959ffbc9c3e4e891a76c5cad88#file-gistfile1-txt-L67-L71

2. 30 GETs (polling) returning 200: https://gist.github.com/krancour/648b66959ffbc9c3e4e891a76c5cad88#file-gistfile1-txt-L88-L709

3. controller retries PUT,

[2017-04-28 19:05] krancour commented on #771
https://github.com/kubernetes-incubator/service-catalog/issues/769 could (possibly) be related. Speculation: incorrect status on the instance could play some role in retries that shouldn't be happening.

[2017-04-28 19:19] krancour commented on #771
On the controller side of things, here are the 30 polls:

https://gist.github.com/krancour/cfeb9ac46656327e6e7ccb40103870b6#file-gistfile1-txt-L1-L64

Then you can see it move on to retrying the PUT.

[2017-04-28 20:17] krancour commented on #771
I was accidentally using the 0.4.0 controller when I discovered this (instead of the canary built from the current head of master). After switching to the canary image, everything worked flawlessly. Closing this issue.

[2017-04-28 20:17] #771 closed

[2017-04-28 20:17] krancour commented on #769
I was accidentally using the 0.4.0 controller when I discovered this (instead of the canary built from the current head of master). After switching to the canary image, everything worked flawlessly. Closing this issue.

[2017-04-28 20:17] #769 closed

[2017-04-28 21:33] arschles commented on #733
Moving to 0.0.6

@jmrodri let us know if #717 fixes the problem sufficiently for your needs

[2017-04-28 21:34] arschles commented on #710
Moving to 0.0.6 for now. @vaikas-google I'll have to look again at how the code in question has changed since this was filed.

[2017-04-28 21:58] arschles commented on #746
Moving to 0.0.6 along with #747

[2017-04-28 21:58] krancour commented on #723
@vaikas-google nope. @arschles you were just asking me about this. This PR is probably still relevant. We should compare to the etcd3-backed storage impl upstream and see _what_ they do with that arg and see if we can do something similar with tpr-backed storage. It's also within the realm of possibility that whatever the etcd3-backed impl is doing with this cannot be replicated within the limits

[2017-04-28 22:01] krancour commented on #720
GuaranteedUpdate is _completely_ rewritten with code from the upstream etcd3-backed storage used as a template of sorts. All (unit) tests are passing. @simonleung8 if you can document steps to follow to re-create this issue, I'd be interested in attempting them against the new implementation to see if the problem has been fixed or not. My gut says it has been.

[2017-04-28 22:03] krancour commented on #700
This was addressed collectively by #715, #730, #738, #751, and #752

[2017-04-28 22:03] #700 closed

[2017-04-28 22:06] arschles commented on #723
Moving to 0.0.6, we'll address there

[2017-04-28 22:07] arschles commented on #720
Moving to 0.0.6 for now. @simonleung8 can you give some repro steps that @krancour asked for?

[2017-04-28 22:10] krancour opened #774 "tpr-backed storage needs unit tests for watch / watch list"
Whoops... #700 was closed a bit pre-maturely. Here's a new, more specific issue.

Watch / watch list tests are missing from the tpr-backed storage unit tests.

[2017-04-28 22:28] pmorie opened #775 "Integrate E2E tests into jenkins"
As a follow-up to #741, we need to integrate the e2e tests with the jenkins workflow.

[2017-04-28 22:48] kibbles-n-bytes commented on #775
@pmorie Should running this replace `test_walkthrough.sh`?

[2017-04-28 23:17] #727 closed

[2017-04-28 23:26] pmorie commented on #775
@kibbles-n-bytes we should do them both for now, eventually i would like to have a walkthrough e2e.

[2017-04-28 23:35] #746 closed

[2017-04-28 23:56] arschles opened #777 "Travis does not deploy on tags"
We have been going back and forth between enabling travis deploys on `master`, and on tags. As of this writing, we're building on `branch: master`, but that doesn't build tags, as we see in https://travis-ci.org/kubernetes-incubator/service-catalog/builds/227017712 (the build for https://github.com/kubernetes-incubator/service-catalog/releases/tag/v0.0.5).

So, I believe that we should remove `bra

[2017-04-28 23:58] arschles opened #778 "Push the build image to quay"
Instead of continually building & caching the `scBuildImage` docker image on our local machines, it's probably a good idea to push it to our quay repo and then pull it to all our machines.

[2017-04-29 02:35] pmorie commented on #761
@luksa thanks a lot :-)

[2017-04-29 05:43] derekwaynecarr commented on #621
It is still on our queue to get to at some point hopefully in next couple
weeks.

On Fri, Apr 21, 2017 at 11:51 PM Aaron Schlesinger <notifications@github.com>
wrote:

[2017-05-01 03:13] simonleung8 commented on #720
The [part](https://github.com/kubernetes-incubator/service-catalog/pull/738/files#diff-b92a348abc487b2ee1914b995cb44860L93) that contributed to the bug is completely rewritten. We can close this bug if we can delete an existing TPR resource (which is actually an update).

[2017-05-01 14:27] krancour commented on #720
According to the unit tests, we can. I will be trying to re-enable integration tests for tpr-backed storage today and will also try to complete the walkthrough using tpr-backed storage. I will hold off on closing this, pending those activities giving me some sort of verification that this is addressed. I'm going to assign this issue to myself, so consider this issue my problem.

[2017-05-01 16:05] krancour commented on #778
@arschles generally, I agree. That's how you and I are accustomed to having seen this done in the past, but in those cases, there was one common containerized development environment shared by many projects. That's not the case here. Although it does slow things down a bit, a huge advantage to how thing are currently is that a PR that requires changes to the containerized build environment (e.g. a

[2017-05-01 17:33] arschles commented on #774
I am taking this

[2017-05-01 17:33] vaikas-google opened #780 "Unify reconcileInstance and polling queues into a single queue."
Currently as per #717 the decision to use two separate queues was made as an interim solution, we should design a solution that uses a single queue, thereby ensuring that there can only be one outstanding request for a given Instance per controller.

[2017-05-01 17:35] vaikas-google opened #781 "Ensure no other operations can start during async processes."
According to the OSB spec, when there is an outstanding asynchronous request for a given Service Instance, no other operations (though looks like Provision might, wording is a bit tricky) can start. We need to make sure this is the case and implement checks if some are missing.

[2017-05-01 17:53] pmorie commented on #781
I understood this as being scoped to a particular instance.  Do you understand differently?  AFAIK async operation only prevents you from being able to do anything _else_ that involves a given instance.

[2017-05-01 18:12] vaikas-google commented on #781
No, that's what I was trying to say with the for a given service instance. I'll try to clarify.

[2017-05-01 18:22] pmorie commented on #781
Ok, cool.  Just wanted to make sure I hadn't read it wrong :)

On Mon, May 1, 2017 at 2:12 PM, Ville Aikas <notifications@github.com>
wrote:

[2017-05-01 18:39] vaikas-google commented on #781
Nope, lock is per service instance. :+1:

[2017-05-01 18:48] duglin commented on #637
Minor nit but if there are dups usually you close the later ones, not the original.

[2017-05-01 20:10] arschles commented on #638
I'd like everyone to look at our data types (`Broker`, `ServiceClass`, `Instance` and `Binding`) between 5/1/2017 and 5/8/2017. Come to the SIG meeting on 5/8 with suggestions for changes. We'll decide on the final data types and implement necessary changes for the 0.1.0 release scheduled for 5/17/2017

[2017-05-01 21:29] MHBauer commented on #638
For top-level names:

In the context of Service-Catalog and Service-Broker, I think the ServiceClass and ServicePlan names are the odd ones out and should be `Service` and `Plan`.

Within the context of kubernetes, `Service` could be problematic`. I do not see any problem with `Plan`.

[2017-05-01 21:47] kibbles-n-bytes opened #784 "e2e framework fails when run on GKE"
Trying to run the new `bin/e2e.test` suite on GKE, I get the following logs:

[code]

[2017-05-01 21:58] duglin commented on #638
I'd like to better understand why we need a Checksum property. For Binding it should write-once so at worst we may need a boolean flag to indicate if we've created the binding on the broker yet or not.  For Instances it seems like a boolean to indicate that we need to sync with the broker should be sufficient. Do we care which field changed?  Especially when the checksum won't tell us which one, a

[2017-05-01 21:58] duglin commented on #638
Also, whether we keep checksum or not, it seems like that should be in the Status struct since its read-only to the user, right?

[2017-05-01 22:08] MHBauer commented on #638
I think checksum to status makes sense.

[2017-05-02 04:57] krancour opened #785 "tpr-backed storage: list is unconditionally stripping namespace"
This should be conditional, but it's not:

https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/storage/tpr/storage_interface.go#L417-L422

Unit tests aren't catching this because the unit tests are only using brokers-- which are not namespaced-- e.g. a case where this unconditional stripping of the namespace isn't a problem.

This is probably impetus to augment the unit tests f

[2017-05-02 05:01] gyliu513 opened #786 "Adding MySQL broker to service catalog"
We have an example here https://github.com/hchenxa/daily_work/tree/master/kubernetes/service-catalog and want to contribute to service catalog.

Can we put all the works related to MySQL under https://github.com/kubernetes-incubator/service-catalog/tree/master/contrib ?

[2017-05-02 05:01] gyliu513 commented on #786
/cc @duglin @hchenxa @MHBauer

[2017-05-02 05:19] gyliu513 commented on #786
I also post a question here and want to get some comments for where to put some 3rd party brokers https://groups.google.com/forum/#!topic/kubernetes-sig-service-catalog/RbChgi5hOyc

[2017-05-02 07:10] mdshuai commented on #786
Where's the source code of your MySQL broker now?

[2017-05-02 07:53] mdshuai commented on #644
Test on latest kubectl v1.7.0-alpha.2.586+29f37fde3e5281-dirty, this is fixed
[code]

[2017-05-02 07:53] #644 closed

[2017-05-02 08:16] mdshuai commented on #645
[code]

[2017-05-02 08:16] #645 closed

[2017-05-02 13:47] mdshuai opened #787 "Broker status can't dynamic update after edit"
### Issue Description:
1. After update a broker, the status of broker can't update auto.
2. Now when create a broker, controller will auto create the serviceclass , also when delete a broker, the related serviceclass will be deleted too.
But when update broker, serviceclass can't auto update; also when delete a serviceclass, serviceclass can't auto recreated. Is this behavior by design?

### Steps

[2017-05-02 14:53] jmrodri commented on #733
@arschles @MHBauer yes #717 addressed this issue. I will close it as resolved.

[2017-05-02 14:53] #733 closed

[2017-05-02 15:04] mdshuai opened #789 "helm deploy will fail when k8s enable rbac"
Now there is a know issue for helm deploy with enable rbac in k8s, Need doc what's mini helm version we should use when the issue https://github.com/kubernetes/helm/issues/2224 fixed, or provide a walk around for rbac env.
[code]

[2017-05-03 07:39] maleck13 opened #792 "Service Broker bind implementation OpenShift Origin"
Hey Guys,
I opened the following issue against origin. https://github.com/openshift/origin/issues/14003 .
It is more of a query and set of questions about the service broker in OpenShift Origin, but I was directed to open an issue here instead. If this is the wrong place, apologies in advance and thanks for any info you can give.

Below is the issue I created:
I realise the service broker implemen

[2017-05-03 12:14] duglin opened #793 "Should we allow the same app to bind to the same service more than once?"
I actually don't think we can stop this given how we use label selectors to define "the app".
But we may want to modify our docs to call this out since this is different than what CF does.

[2017-05-03 12:19] duglin commented on #792
@maleck13 its important to look at this through the lens of the OSB API spec and not one particular implementation. With that in mind, I'm not 100% sure I'm following your questions, but let me try to restate them and see if I'm close:

- Can there be multiple bindings to the same service instance? Yes, and typically each binding will get a different set of credentials but this is not a requiremen

[2017-05-03 13:50] maleck13 commented on #792
@duglin Thanks very much for your reply.
You are correct, I am talking more about a specific implementation of a service broker. Is it possible for you to point me at the code for implementations you are talking about?

On point 1 and 2 these make sense.
On point 3 I think I need to clarify further what I was getting at, and as you mention it is more likely an implementation detail. Let me attempt

[2017-05-03 14:40] #785 closed

[2017-05-03 20:08] #777 closed

[2017-05-03 22:01] MHBauer commented on #778
It seems like the primary concern this addresses is reproducible builds in the future using exactly the tools that existed at the times of the original builds.

[2017-05-03 22:27] #687 closed

[2017-05-03 23:42] krancour commented on #786
@gyliu513 it's awesome to see growing interest in creating brokers! That said, we don't intend for broker code to be kept in this repository. The one broker you see currently under `contrib` exists only to facilitate tests and walkthrough, so it's deliberately tracked along with service catalog code. In all other cases, brokers should be kept in their own repositories.

[2017-05-03 23:43] krancour commented on #786
I don't expect any disagreement from other maintainers on this subject, so I am going to close this. @gyliu513 please still feel free to re-open this or comment further if you feel this is inadequately addressed. Thanks!

[2017-05-03 23:43] #786 closed

[2017-05-03 23:59] krancour commented on #793
I'm about to get philosophical...

imo, "app" has an increasingly loose definition-- especially in the world of micro-services. Is a single micro-service an app? Some may say yes. Is a set of micro-services that form a cohesive system an app? Some may say yes. Are they _both_ apps? Sure. (Or no.)

(I'll qualify the above by saying that in some platforms, the meaning of "app" is not so open to inte

[2017-05-04 00:31] krancour commented on #792
@maleck13 I'm reading through your original questions and your follow-ups to @duglin and I am getting the sense that some clarification on the roles and responsibilities of 1. service catalog and 2. brokers might help you.

Let's start with the brokers, because, conceptually, that's the easier place to start. Brokers are just bits of software that can create instances of some sort(s) of service _a

[2017-05-04 00:39] duglin commented on #793
Overall, as I said in my opening comment, I tend to agree for K8s.  However, let's say we get to the point where we support something like:
[code]
(ping @simonleung8 since you're working on our cli ux)

meaning, create a mydb instance of mongo and bind it to the deployment called myapp - it uses the label selector from deployment/myapp as the label selector in the pod preset. Not sure if this is w

[2017-05-04 01:35] gyliu513 commented on #786
@krancour I post a question here https://groups.google.com/forum/#!topic/kubernetes-sig-service-catalog/RbChgi5hOyc .

It is difficult to use service catalog without enough examples and service brokers. One example is helm, the helm is not only maintaining a helm repo, but also a chart repo to host some charts for helm so that the enduser can use those charts easily.

But for service catalog, ther

[2017-05-04 02:14] krancour commented on #786
There are many brokers out there "in the wild." They've been written for use with Cloud Foundry, but they will work just fine with the k8s service catalog as well. You may wish to adapt such brokers for use in k8s by authoring Helm charts for them and submitting those as PRs to the [kubernetes/charts](https://github.com/kubernetes/charts) repo.

[2017-05-04 02:15] krancour commented on #786
If you're asking whether the k8s service broker intends to host its _own_ Helm charts repository... that's not at all on our radar.

[2017-05-04 02:21] gyliu513 commented on #786
So my question is with service catalog, how can I integrate with local oracle, MySQL, Hadoop etc? Where can I get some reference and help to integrate service catalog with external services? There is only one ups example and I think it is not enough.

[2017-05-04 02:36] krancour commented on #786
First thing's first. Do brokers exist for all of those things? If so, are they already deployable to k8s? i.e. Are Helm charts available?

[2017-05-04 02:49] gyliu513 commented on #786
Yes, I already have a MySQL broker [here](https://github.com/hchenxa/cf-mysql-java-broker) and also [some test steps](https://github.com/hchenxa/daily_work/tree/master/kubernetes/service-catalog), I can covert the test steps to charts if needed. Comments?

Basically, I want to put all of the source code for MySQL [here](https://github.com/kubernetes-incubator/service-catalog/tree/master/contrib) a

[2017-05-04 03:09] krancour commented on #786
I will say again, this repo is not the right place to put broker source and Helm charts. Broker source code belongs in its own repo. The charts can be contributed to kubernetes/charts. I'm not sure what isn't clear.

[2017-05-04 06:27] simonleung8 commented on #793
IMO, I would like creating a binding to the same 'thing' to be idempotent, which means you can call `service-bind` multiple times, but the same 1st binding is returned. I don't currently see a reason to prevent 2nd binding other than to avoid creating duplicated 2nd bindings.
For the first iteration of the UX, I propose we go with what is simple, which I suspect it to be creating multiple bindings

[2017-05-04 08:01] maleck13 commented on #792
@krancour This was very useful thank you, it has reenforced my own understanding of the broker and clarified the role of the service catalog.

[2017-05-04 08:01] #792 closed

[2017-05-04 19:44] krancour commented on #793
I'm almost afraid to ask... there's lots in this thread that is scaring me...

First, @duglin:

`create-instance` and `service-bind` aren't legitimate `kubectl` sub-commands.

Possibilities:

1. You said "kubectl"  in error. You intended to name some other (tbd) CLI binary name?
1. We think we're going to _expand_ `kubectl`. (I really hope not.) `kubectl`, fundamentally, is just an interface for C

[2017-05-04 20:10] krancour commented on #793
@arschles has told me kubectl plugins are coming in 1.7. So, I assume that at least partially addresses some of my concerns. I'd still like to discuss further, however.

[2017-05-04 20:28] krancour commented on #792
@maleck13 happy to have helped. 😄

[2017-05-04 20:47] duglin commented on #793
re: kubectl - it was a little bit of a placeholder name for whatever we decide to expose w.r.t. some nicer porcelain exe, and a little bit of an acknowledgement to the fact that kubectl plugins exist, just in a different syntax. The bigger point was that we may have a UX that doesn't necessary expose yaml (label selectors) directly, which means we may have an opportunity in some cases to actually

[2017-05-04 23:47] nilebox commented on #781
Might be a bit offtopic, but I think it's still relevant to the issue.

I can understand the requirement for per-instance lock to make the result more predictable (to prevent concurrent conflicting changes which could lead to different result due to race condition, for example).

On the other hand, I don't get why OSB spec has even stronger requirements to marketplace (i.e. Service Catalog in our

[2017-05-05 00:45] duglin commented on #781
@nilebox can you open an issue in the OSB API spec ( https://github.com/openservicebrokerapi/servicebroker ) for this.  I think you're correct and that orphan section should be reworked. IMO, a timeout should not be interpreted the same as a 5xx error. Replaying a createInstance() request upon a timeout should be able to return a 2xx just fine and things should keep working.

[2017-05-05 01:14] duglin opened #797 "How do people update PodPreSet labelSelectors?"
Let's say I have a Deployment that looks like this:
[code]
I then want to bind this to my service instance so I create a binding with a PodPresetSpec that looks like this:
[code]
The key point being that the label selector needs to be the same for both the Deployment and the PodPreset in the Binding.

Now let's say the user wants to modify the LabelSelectors of the Deployment, what's the best way

[2017-05-05 01:16] pmorie commented on #797
PodPresets are immutable
On Thu, May 4, 2017 at 9:14 PM Doug Davis <notifications@github.com> wrote:

[2017-05-05 01:16] pmorie commented on #797
(Currently)
On Thu, May 4, 2017 at 9:15 PM Paul Morie <pmorie@redhat.com> wrote:

[2017-05-05 01:16] duglin commented on #797
Then we really need something like I'm suggesting :-)

[2017-05-05 01:17] duglin commented on #797
When you say immutable, do you mean the resource is immutable or that even if we did allow it to change the infrastructure around them can't deal with it?  Why are they immutable?

[2017-05-05 02:19] duglin opened #798 "What value should we use for appID?"
See: https://github.com/openservicebrokerapi/servicebroker/issues/183

Right now we populate the app_guid with the namespace UID.  Actually we populate the org and space with that value too.  I'd recommend that we populate the app_guid with something more unique - for example, perhaps a hash of the namespace+labelSelector of the PodPreset. Just something that allows us to give the broker something

[2017-05-05 05:36] ash2k commented on #621
I wanted to raise this/similar question and came across this issue.
I think it should be something like a reference to `Secret` object per input parameter where needed or maybe a block that defines which variables to pull from which `Secret`s and then those variables are used to populate concrete parameters of an `Instance` parameters. This is similar to what is proposed in one of the previous com

[2017-05-05 17:07] duglin opened #800 "Change what we send for org, space and context"
We're in a situation where we have multiple clusters all talking to the same brokers and we need a way to be able to distinguish between those clusters in the SB API calls.  Since right now we don't really use org and space much, we just populate them with the namespaceUID to have something in there, I'd like to propose we do this:

- set orgID to the kube cluster ID
- set spaceID to the namespace

[2017-05-05 17:11] simonleung8 commented on #800
#dibs

[2017-05-05 17:20] pmorie commented on #800
What is the form of the 'cluster id', and where does it come from?

On Fri, May 5, 2017 at 1:09 PM Doug Davis <notifications@github.com> wrote:

[2017-05-05 17:53] duglin commented on #800
no idea yet :-)   that's part of what simon was going to investigate.  Any pointers on where to get that from? I seem to recall you mentioning cluster id in the past.

[2017-05-05 18:24] pmorie commented on #800
I agree we need to figure out what these fields mean to us and how to give
a cluster a unique id. Ine thing we could pass is the endpoint for the API
server (we need to do this anyway for brokers that need to talk back to the
k8s API server), but that could also change over time (say your dns name
changes or you start/stop using a VIP for some reason).

So, basically, I don't know for sure yet, bu

[2017-05-05 20:36] duglin commented on #800
I'm thinking the UID of the cluster that I see from  `kubectl cluster-info dump` might work:
[code]
Thoughts?

[2017-05-05 20:38] duglin commented on #800
oh wait, that's node info (I think)... never mind

[2017-05-05 21:15] pmorie commented on #800
Yeah, that's the node info.

[2017-05-05 21:17] pmorie commented on #800
Btw, this is a dupe of https://github.com/kubernetes-incubator/service-catalog/issues/583, so we should move the discussion over there.

[2017-05-05 21:25] pmorie commented on #638
For posterity: we need the checksum field because we can't query the OSB API to see what the last successful state we reconciled to was. (See #582 and #573)

I agree - for now binding should be write-once.  We could change to a boolean in the status if we wanted to.  If we ever become able to update binding parameters, and we do not yet have a way to query the last values sent (see https://github.

[2017-05-05 22:06] pmorie commented on #798
I think we need some information about how this is used to determine what we should send.  AFAIK this is used for charge-back for paid services by the broker, and so we should send something stable.

[2017-05-05 23:29] duglin commented on #800
One idea, for cluster-id, see https://github.com/kubernetes/kubernetes/issues/19831 .
Since this isn't implemented yet we could just create a configmap ourselves and generate a cluster-id into it. When/if the core feature is implemented we could switch over.

[2017-05-07 13:52] duglin opened #801 "Broker update semantics"
See: https://docs.cloudfoundry.org/services/managing-service-brokers.html

In particular I think we need to discuss:
- purging brokers, instances and bindings - meaning deleting them w/o calling the broker
- re-getting a broker's marketplace and services/plans vanish - need to deal with the case of existing instances/bindings of those removed resoures (see "Catalog Validation Behaviors" section)

[2017-05-07 17:55] duglin commented on #801
Note this one is about updating and removing plans/services. I'm opening another one to focus on name changes.

[2017-05-07 18:04] duglin opened #802 "Kubernetes names of ServiceClass and Plan versus OSB Guids"
See: https://docs.cloudfoundry.org/services/managing-service-brokers.html

Upon refreshing a catalog from a broker a Service and/or Plan name can change. This is problematic for us because we map those names to Kube resource names, which are immutable.

I think we need to use the "id" from the Broker as the Kube "name" since in both cases they'll be immutable. We can then create a property called

[2017-05-08 16:18] pmorie commented on #797
I typed a fairly lengthy comment here and then managed to lose it.  Oh well.

I mean that currently the `PodPreset` resource is immutable.  It cannot be altered (except for things like labels and annotations, like any other k8s resource) once it is created.  This was a trade-off we made to:

1.  Avoid thinking through the complexities of updating such an object
2.  Avoid backing ourselves into bac

[2017-05-08 16:24] pmorie commented on #797
See: https://github.com/kubernetes/kubernetes/issues/45499

[2017-05-08 16:25] pmorie commented on #797
I think this should be a 1.0.0 issue, rather than 0.1.0.

[2017-05-08 16:32] pmorie commented on #802
I agree with what you've said here if we can pin down for certain whether the names of these entities can change.  If you just look at the OSB spec, it's not super clear: https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#catalog-management

The link says not to change the ID of services and plans, which I would agree implies that the names _might_ be changed.  I think we sh

[2017-05-08 16:33] pmorie commented on #802
@vaikas-google your thoughts appreciated here

[2017-05-08 16:35] duglin commented on #797
This is a pretty big design point that could have ramifications on our resource model - so while I'm ok with the coding of it being post-0.1.0 - I think we need to have some pre-0.1.0 design talks to make sure we're not locking down our resource model prematurely.

[2017-05-08 16:36] pmorie commented on #797
Agree and I'm happy to talk through it in a SIG meeting.  We should probably decide on how we're going to track decisions like this as well, so we can ensure that they're followed through on before 1.0.0.

[2017-05-08 16:37] duglin commented on #802
yep - I shutter at the idea of asking people to type GUIDs instead of nicer names in their kube yaml but we may not have a choice.

[2017-05-08 16:38] pmorie commented on #802
Opened https://github.com/openservicebrokerapi/servicebroker/issues/187 to determine the answer to this

[2017-05-08 16:45] pmorie opened #803 "Make the k8s-bot run against this repo"
The k8s-bot machinery provides some useful features that we should make use of here:

1.  Automatic management of the 'needs-rebase' label
2.  Commands to manage assignees and labels, and CI
3.  Control over merge of PRs when some conditions are met (we might have to do some coding to use this with our process)

This has long been a goal but we have had bigger fish to fry.  This might be a good st

[2017-05-08 16:45] pmorie commented on #803
I've put the meta label on this for now but this is likely to be a precondition of exiting incubation.

[2017-05-08 16:56] MHBauer commented on #803
Who do we talk to about this? Do we need to run it ourselves? I am interested, but I do not even know where to start.

[2017-05-08 17:36] pmorie commented on #803
@eparis at one point you were managing a lot of this stuff -- are there any docs on it on how to get started, or just oral history so far?

[2017-05-08 17:57] jwforres commented on #797
As far as warning users who modify resources "owned" by other resources.  In the past the impl for this was very resource specific, because there was not a standard way that ownership was defined.  Now that ownerRef is the standard we will be switching to check for ownerRefs.

As an example where we do this: If a user is viewing a particular ReplicaSet, and that ReplicaSet has an ownerRef pointing

[2017-05-08 18:12] duglin commented on #800
More notes...
See https://github.com/kubernetes/kubernetes/blob/master/pkg/master/controller.go#L144  and in particular https://github.com/kubernetes/kubernetes/blob/master/pkg/master/controller.go#L139 for kube's version of an init() function and how it deals with the default namespace.  Similar logic could be done for a ClusterConfig configMap (that has a "ClusterID" property)

We may be able to

[2017-05-08 21:05] vaikas-google opened #804 "Determine correct place to reject delete/update to instance with ongoing async op"
When a Service Instance has an ongoing asynchronous operation ongoing the platform (in our case controller/service catalog) must ensure no changes are allowed to that Service Instance and it can not be deleted. So, we need the correct place to check for the status of the service and reject the request for updates / deletes if the operation is in process:
https://github.com/kubernetes-incubator/ser

[2017-05-08 21:10] duglin commented on #800
There's this field from the federation work:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L216
But I don't think this will work for us since this is set by the federation control plane and since its on each resource, not at the cluster level, there's really no way for a cluster to know its name w/o asking the federation control plane.

[2017-05-08 21:14] arschles commented on #800
We discussed in the SIG call today what each of these values means in CloudFoundry, and likely means in production clusters.

My only comment at this time is about `org`. This value is at the top of the "hierarchy" of these values, and as we discussed, it's most likely used for billing. The user (the person who creates new `Instance`s) should not be able to set it.

Instead, we should store this v

[2017-05-08 21:18] duglin commented on #800
What is the equivalent of "the billing entity" in Kube? I tend to think of it as the namespace but perhaps its "service account". What do other's think?  That might influence the answer.

[2017-05-08 21:21] arschles commented on #801
This issue recalls our discussion in our last face-to-face meeting in Boulder, about what `kubectl delete broker` or `kubectl delete instance` should do. Here's what we decided, for reference:

- `kubectl delete broker $BROKER` should fail by default if there are any bindings to `Instance`s of `ServiceClass`es for the broker in question
    - Users can force deletion, however, which triggers an un

[2017-05-08 21:28] duglin commented on #801
In general I agree, but a couple of points:  we can't "fail" a delete from a broker - its a done deal. The broker removed it from its catalog so we need to take an appropriate action.  And yes I agree the appropriate action is the soft-delete, or marking it as inactive.  As for a delete from the user, I think failing if its in-use is best, not a soft-delete - unless they specify "--force" then we

[2017-05-08 21:37] pmorie commented on #804
A couple observations / background infos:

1.  This is another how-do-i-develop-kubernetes question, for which we do not yet have doc
2.  I seem to recall that @MHBauer had opened a pull request beginning some how-to-write-an-API-server doc, which would be the kind of document I would try to build this onto, but I cannot locate it now

So, specifically regarding the question here - this is the typ

[2017-05-08 21:38] pmorie commented on #804
Also, we should just start writing the doc I referred to in the above comment now, maybe in a gist or a separate repo that we can collaborate on together and merge it with whatever may be in progress later.

[2017-05-08 21:39] pmorie commented on #804
cc @derekwaynecarr since he is the creator and owner of admission controllers in k8s

[2017-05-08 22:07] arschles opened #805 "Create a layer of indirection for service and plan names"
#802 explains that service and plan names can change across broker catalog refreshes. Since we need a stable reference, that issue suggests using the service and plan GUID to reference services and plans in the catalog. In the SIG call on 5/8/2017, many of us agreed that there is no other option.

I agree that using GUIDs to reference services and plans on the broker is the best and most reliable.

[2017-05-08 22:08] arschles commented on #802
We discussed in the SIG call that, if brokers are allowed to change names on catalog refreshes, we need to use the GUIDs, and reference them in `Instance`s. This is of course a poor user experience, so I propose that we build a layer of abstraction (the solution to everything in CS, of course!) for naming. I've detailed it in #805

[2017-05-08 22:14] arschles commented on #801
I'd like to allow the service-catalog operator to specify what the appropriate action is. For example, some brokers may remove services/plans from their catalogs, but don't actually "delete" (i.e. shut down access to) the resource, so in that case we'd want to leave the binding alone. That overall behavior would be more appropriate for a prod cluster.

:+1:

[2017-05-08 22:16] pmorie opened #806 "Make it possible to add porcelain commands to kubectl for service-catalog"
As implied by #704; making this issue to track the work around this in kubernetes

See:

1.  https://github.com/kubernetes/community/pull/308
2.  https://github.com/kubernetes/kubernetes/pull/30086

Once we have a way of doing this, we will need to figure out where in our code these should live, etc.

[2017-05-08 22:16] duglin commented on #801
See https://docs.cloudfoundry.org/services/managing-service-brokers.html#catalog-validation - the last row- I think it makes sense.  So yeah we don't touch existing instances/bindings we just block new ones from being created.

[2017-05-08 22:18] duglin commented on #806
@simonleung8 since you're working on stuff in this space add any links to your issues/PRs as appropriate.  This might even be a dup.

[2017-05-08 22:19] pmorie commented on #805
Absolutely no disagreement there.  My gut says that I would rather solve that problem with porcelain commands (`kubectl service-catalog provision <service display name> <plan display name>`) than a new type of naming indirection.  See #704

I do not dispute that this is a valid problem, but I hesitate to introduce a new type of naming indirection to deal with it.  I think of this as being similar

[2017-05-08 22:29] pmorie commented on #805
A couple more thoughts on the 'trait-based provisioning' thing:

1.  This seems to be the actual purpose of 'tags' in the OSB API, see https://github.com/kubernetes-incubator/service-catalog/issues/497 and https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-objects
2.  Since tags are not really a thing in k8s, I have discussed with @jwforres and a couple others at RH

[2017-05-08 22:30] arschles commented on #805
Good eye 😄  - I did have that problem in mind. I suggested this particular solution because I believe that it's more directly suited to solve the GUID problem, while still leaving open the possibility to later implement the trait-based system that we've spoken about before.

If "trait based provisioning" via a label-selector and `StorageClass`-like solution is what the group prefers to solve this

[2017-05-08 22:46] duglin commented on #805
You said:

can you elaborate on this? GUIDs never change.  If you mean, a service as deleted and a new service was created that "looks the same", can you elaborate on how we determine they "look the same" ?

[2017-05-08 22:49] pmorie commented on #806
Oh snap, the proposal merged: https://github.com/kubernetes/community/pull/122

[2017-05-09 00:53] duglin commented on #800
After some investigation I don't think the ClusterName from the federation stuff will help. First, its only on when federation support is there, and there's no way for a cluster to find out its value w/o talking to the federation control plane - again, only when fed is on.

So, @simonleung8 and I were talking and we'd like to propose this plan:
- Follow in the path of the "default namespace" idea

[2017-05-09 16:05] #761 closed

[2017-05-09 17:16] eparis commented on #803
I know how to get the k8s-merge-robot up. But that's only 1/2 of the tooling. We also need/want prow. And I don't have a clue how to get it up.

@rmmh @grodrigues3  @spiffxp  might all be able to help or point to who can help.

[2017-05-09 17:26] spiffxp commented on #803
@eparis I'm not sure about the need-rebase label, that may be mungegithub; things like assigning and labeling via commands/mentions are handled by prow, configured via PR's to plugins.yaml
- https://github.com/kubernetes/test-infra/tree/master/prow#how-to-enable-a-plugin-on-a-repo
- https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml

kubernetes-incubator as a whole should alrea

[2017-05-09 17:27] spiffxp commented on #803
/assign eparis

[2017-05-09 17:27] spiffxp commented on #803
/assign

[2017-05-09 17:28] spiffxp commented on #803
so, there's that, feel free to ping #kubernetes-sig-testing in slack as well

[2017-05-09 17:31] grodrigues3 commented on #803
@spxtr can probably help get prow setup

[2017-05-09 18:13] pmorie opened #809 "Figure out how to support OSB 2.12"
Currently, the catalog supports the 2.11 version of the OSB API spec.  This issue is to determine how we will support the 2.12 version once it is released.  Some background:

1.  Minor version releases of the spec (ie 2.11 -> 2.12) should be backward compatible (ie, not change the behaviors of existing fields or introduce new mandatory fields)
2.  We already have support for an alpha feature (acce

[2017-05-09 18:14] duglin opened #810 "Add support for setting the OSB API Header version via config option"
Mainly so that when we move to v2.12 if people need to roll back to v2.11 they need a way to override our default.

[2017-05-09 18:17] pmorie opened #811 "Ensure 412 error code from broker is handled correctly"
per https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#api-version-header

[2017-05-09 18:21] MHBauer commented on #389
@DirectXMan12 does API Aggregation solve this for us in the case where we are using aggregation?

As I understand it,
The service-catalog apiserver will be behind the aggregator and not able to be contacted.

[2017-05-09 18:26] duglin opened #812 "Add support for re-GETting the catalog from a broker"
Umbrella issue to track adding support for this. Things to consider:
- manually request from a kube admin to re-get
- periodic re-get
- ability to ask for certain brokers to be excluded from the auto-re-get
- do the re-get and reconcile the data

[2017-05-09 18:28] pmorie opened #813 "Store dashboard SSO information for a service in a k8s secret"
The dashboard SSO information for a service contains secret information and should live in a k8s secret.

[2017-05-09 18:29] arschles commented on #114
This is tangentially related to #780

[2017-05-09 18:30] pmorie opened #814 "Add bindable field for Plan"
Plans can override the bindable attribute of services; our `Plan` type does not currently have this field.

[2017-05-09 18:35] pmorie opened #815 "Handle 'requires' permissions on services"
There are three types of permissions that services may indicate that they require.  Currently, we do not support any of these, and so we should either warn the user that their instance may not work correctly or prevent them from provisioning a service with one of these requirements.

[2017-05-09 18:55] pmorie opened #816 "Support parameter updates for Instances"
...per the spec: https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#updating-a-service-instance

[2017-05-09 19:06] pmorie opened #817 "Do we need a BindResource field in BindingSpec?"
The spec refers to a field in the binding request body called `bind_resource`: https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#body-5

This issue is to determine whether we need to have a user-facing field for this in the `Binding` resource.

[2017-05-09 19:08] pmorie opened #818 "Send bind_resource.app_guid on bind requests"
The spec seems to indicate that a bind request body should contain a `bind_resource.app_guid` field, although it is not explicitly marked as being required:

https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#body-5

If this is actually required, we should send it.

[2017-05-09 19:10] pmorie opened #819 "Support secret binding parameters"
Similar to #621, but for bindings

[2017-05-09 19:13] pmorie opened #820 "Determine how to handle deprovision requests to an instance with bindings"
This issue is to determine how to handle deprovision requests to instances with bindings.  The primary discussion initially on this issue was in F2F meetings.  There were two primary schools of thought:

- Delete all bindings
- Disable new bindings to the instance, automatically delete instance when existing bindings were deleted.

[2017-05-09 19:18] pmorie opened #821 "Correctly handle orphaned instances and bindings due to broker timeouts"
Per: https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#orphans

...though this area of the spec needs some clarification.

Additionally, there are other edge cases due to the platform going down that need to be handled.

[2017-05-09 19:47] pmorie commented on #806
@simonleung8 would you mind commenting with how you see these commands being structured within our repo?

[2017-05-09 19:53] pmorie commented on #810
Related: #809

[2017-05-09 20:04] #774 closed

[2017-05-09 20:10] spxtr commented on #803
Prow is already running against the kubernetes-incubator org. The plugins are defined [here](https://github.com/kubernetes/test-infra/blob/8a08395258874fbb557ce6d0baae6b2f13869b45/prow/plugins.yaml#L24-L36). Feel free to open a PR enabling the rest if you'd like.

[2017-05-09 20:35] eparis commented on #803
cool, I didn't realize prow was already up. I'll try to get the merge bot up this week...

[2017-05-09 20:39] pmorie commented on #803
Are there any docs on how to set this stuff up?

[2017-05-09 20:40] pmorie commented on #803
Disregard last comment, reading prow docs now.

[2017-05-09 20:44] pmorie commented on #710
I am not convinced this is still a bug.  I vote to close this unless someone can prove to me that we still ahve an isseu

[2017-05-09 21:23] simonleung8 commented on #806
@pmorie Honestly I haven't thought about where these commands will be placed within our repo, currently I am just developing in a separate repo. The ways kubectl plugin work are either have all the plugin binaries placed in "~/.kube/plugin" or have them in a custom location indicated by the env var `KUBECTL_PLUGINS_PATH`.

We can possibly create a new dir `plugins/` for all the plugin source, with

[2017-05-09 21:24] arschles commented on #778
There are still quite a few open questions on this issue, so I am removing it from a milestone until we get back to discussion

[2017-05-09 21:48] arschles commented on #600
I confirm that this is still an issue on the `canary` as of right now. The logs that are returned on the API server are as follows:

[code]

It looks like this is related to not setting the resource version properly (#723)

[2017-05-09 21:49] arschles commented on #720
As of this writing, the `canary` builds can update non-namespaced resources

[2017-05-09 21:52] arschles opened #823 "apiServer.storage.tpr.globalNamespace is not respected by the API server"
The helm chart for the catalog has a template file called `apiserver-deployment.yaml`. In that file, it passes the following flag to the API server, using the shown template value:

[code]

It appears that the API server doesn't respect that value and instead always uses the default, `servicecatalog`

[2017-05-09 22:02] simonleung8 commented on #600
@arschles The rewrite from @krancour seems to have fixed the issue, I can successfully delete TPR resource going through our walk through with the canary build. Your failure might be due to another issue.

With v0.04
[code]

With canary
[code]

[2017-05-09 22:21] arschles commented on #723
Related to #600, because deletion fails due to failure to update the resource version

[2017-05-09 22:30] arschles commented on #823
Nevermind, this was my error - I think I fat-fingered something on my keyboard. Closing

[2017-05-09 22:30] #823 closed

[2017-05-09 22:32] arschles opened #824 "The walk-through Binding step fails"
The `ServiceClass` that the UPS broker returns is not bindable:

[code]

... so when the binding happens, there is an error condition:

[code]

cc/ @duglin @pmorie @vaikas-google

[2017-05-09 22:34] arschles commented on #824
I believe this is because we are using the `v0.0.4` version of the UPS broker, which returns a non-bindable service class. I recall a PR that fixes that issue

[2017-05-09 22:36] arschles commented on #720
Additionally, I have now run the walk-through using `dc73f2b` api server and controller images, and have verified that updates work. However, since this update function is used for deletes, I am leaving this issue open for now.

cc/ @krancour

[2017-05-09 22:38] arschles commented on #599
@krancour I have verified that the walk-through works in TPR mode for API server and controller images tagged `dc73f2b`, except that deletes still don't work (https://github.com/kubernetes-incubator/service-catalog/issues/600). Can we close this issue now?

[2017-05-09 23:25] #603 closed

[2017-05-09 23:27] arschles commented on #600
I've changed the title of this issue to include `[Meta]`, because there are several other issues that describe sub-problems of this one:

- #720: since delete uses `GuaranteedUpdate` to do soft-deletes, that function needs to be fixed
- #732: we'll likely need to change resource version handling to make `GuaranteedUpdate` work properly

[2017-05-09 23:43] pmorie commented on #814
Working on this now.

[2017-05-10 00:43] nilebox commented on #821
I think we need to fix the OSB spec itself before implementing it properly in Service Catalog.
Link to the issue raised in OSB repo: https://github.com/openservicebrokerapi/servicebroker/issues/182

[2017-05-10 01:10] pmorie commented on #824
It's been passing in CI - so we must have skipped updating the chart `values.yaml`?

[2017-05-10 01:10] #824 closed

[2017-05-10 02:18] liggitt commented on #389
Not quite. The aggregator<->service-catalog-server connection will still need to be TLS-secured, and nothing prevents you from contacting the service-catalog server directly if it's pod or service IPs are network accessible.

[2017-05-10 15:45] arschles commented on #600
Moving to 0.1.0 as this has not been completed

[2017-05-10 15:45] arschles commented on #720
Moving to 0.1.0 as this has not been completed

[2017-05-10 15:45] arschles commented on #723
Moving to 0.1.0 as this has not been completed

[2017-05-10 16:50] #784 closed

[2017-05-10 16:50] #775 closed

[2017-05-10 16:51] arschles commented on #710
I am closing this, as I believe the logic described herein is done in a queue.

[2017-05-10 16:51] #710 closed

[2017-05-10 17:25] #598 closed

[2017-05-10 17:52] DirectXMan12 commented on #389
A "smart client" could, eventually, contact the aggregator to obtain the APIService records, and then use those to talk directly to the various API servers, if it wanted to bypass the aggregator for some reason (e.g. bottleneck considerations), for instance.

[2017-05-10 17:53] pmorie commented on #621
Refining the sketch I made above, `SecretKeyRef` isn't sufficient.  We need something to say what the name of the parameter should be:

[code]

The controller will have to merge the `Parameters` field and the values from derefencing all of the `SecretParameters`.  Internally, the controller deserializes the `Parameters` field into a `map[string]interface{}`.  In order to merge the secret parameter

[2017-05-10 17:53] pmorie commented on #819
Closing this, because it is fundamentally the same as #621

[2017-05-10 17:57] eparis commented on #803
what github status do you want to be true before it can merge a PR?
continuous-integration/travis-ci/pr ? anything else?

[2017-05-10 17:58] eparis commented on #803
do you want to allow the 'big green button' or only via the submit queue? probably best to leave the button for now, but we can turn it off like in kube/kube once this is working.

[2017-05-10 17:59] derekwaynecarr commented on #621
@pmorie -- per our discussion, I will be working on this this week.

[2017-05-10 18:07] jwforres commented on #621
Generally in the k8s API whenever you are able to reference secrets you are also able to reference config maps.  It seems likely someone will add common non-secret configuration to their project, and then want to select those config map keys as values for params.

[2017-05-10 18:16] derekwaynecarr commented on #621
@jwforres --

How about the following so it looks like EnvVar on pod containers?  We can then support either pattern.

[code]

@pmorie -- it would be good to understand if we could collapse the parameters raw extension further as well....

[2017-05-10 18:17] derekwaynecarr commented on #621
@pmorie -- for example, we could just support a Value string on ParameterVar above and be exactly like EnvVar, but I am not sure if that is losing something required in the existing parameters raw struct.

[2017-05-10 18:17] pmorie opened #828 "Description for ServiceClass and ServicePlan should be required"
...and not optional, as they seem to be by virtue of being pointers.  Instead these fields should just be strings.

[2017-05-10 18:26] jwforres commented on #621
yeah i'd prefer if we had a single array of params that allowed either
Value or ValueFrom to be consistent with env vars, unless we really need
that raw extensions

@spadgett switching to that format probably means the model object we get
out of http://schemaform.io/ would need to be manipulated to covert from
`{key:value}` to `{name:key, value: value}`  but we were going to have to
do conversion

[2017-05-10 19:01] arschles commented on #781
Pushing this to 0.1.0, since it is not addressed and has an external dependency

[2017-05-10 19:01] arschles commented on #780
Moving this to 0.1.0, since this is not yet done

[2017-05-10 19:05] pmorie commented on #828
Services: https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-objects
Plans: https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#plan-object-

[2017-05-10 19:21] MHBauer commented on #828
looks easy enough

[2017-05-10 19:22] jwforres commented on #828
@bparees since this affects your broker since template descriptions are optional

[2017-05-10 19:24] bparees commented on #828
@pmorie what's the justification for making them mandatory?  seems unnecessarily burdensome.

[2017-05-10 19:24] duglin commented on #828
the OSB API spec mandates it

[2017-05-10 19:25] bparees commented on #828
you're gonna get a lot of "" descriptions.

[2017-05-10 19:25] MHBauer commented on #828
They are described as REQUIRED in the API definition.

Do we need a `lax` flag?

[2017-05-10 19:26] pmorie commented on #828
@bparees if they're required, I'm inclined to say that we should reject services/plans that do not have them

[2017-05-10 19:33] bparees commented on #828
yes i would assume that's what the service catalog is going to do (arguably is obligated to do).

it's more a question for broker authors as to what they want to do if they don't have sufficient information to provide a useful description of the service/plan (in our case, a template where the template author did not provide a description).  I'm inclined to have us just generate one, like "this is

[2017-05-10 19:33] bparees commented on #828
@jim-minter fyi.

[2017-05-10 19:37] pmorie commented on #828
@bparees i think that is fine.  We should have guidance for template authors intending to integrate with catalog that lets them know there's an incentive to write a description for their template.

[2017-05-10 20:14] duglin commented on #621
+1 with aligning this with how env vars are done.

[2017-05-10 20:22] pmorie commented on #621
@derekwaynecarr

I think we could do something like that, as long as we retain the ability to pass json/yaml literal values.  How about:

[code]

I put `Value` on `Parameter` directly because it matches our API for env vars and is probably the 80% case.

[2017-05-10 20:27] derekwaynecarr commented on #621
@pmorie - so what is the meaning of Name when using Raw?

[2017-05-10 20:27] pmorie commented on #621
@derekwaynecarr The `Name` is the key in the blob we'll send, the `Raw` value is the value of that key.

[2017-05-10 20:43] MHBauer commented on #818
I did not understand bindings besides credentials when I originally started looking at the spec.

If we're claiming to be a conformant broker, I thing we have to support `log drain`, `route service`, `volume service` bindings.

We do not currently send any of the required responses.

@duglin are these three other types of bindings CF-ish, or is it something we need to be concerned about implementi

[2017-05-10 20:45] #819 closed

[2017-05-10 20:47] MHBauer commented on #818
Can we selectively reject services on service brokers that have a `requires` field?

[2017-05-10 21:01] derekwaynecarr commented on #621
@pmorie -- actually, per our chat, this proposed model prevents the ability to send anonymous literal and lists.  in order to do that, we would need a top-level raw parameter bucket.  for example, you cant just send `6`, or `[1, 2, 3]` since you must always have a key.  does anyone actually do that?

[2017-05-10 21:07] derekwaynecarr commented on #621
@pmorie -- i prefer the EnvVar style as noted above, and eliminating the existing parameter field entirely.  @vaikas-google -- can you weigh in?  if you agree, i will go and implement what is described here: https://github.com/kubernetes-incubator/service-catalog/issues/621#issuecomment-300601305

[2017-05-10 21:26] duglin commented on #818
I do not think we are required to support all 3, but the spec doesn't come right out and say that either. We need to fix that.

IMO the optional-ness of app_guid is more for cases where there is no app at all and the service isn't meant to be related to just one app.   While app_guid is not required I think we should send it- we just need to find the right value to send.

[2017-05-10 21:38] duglin commented on #818
Tagging this as 0.1.0 because I think we need this in the model and how (what) we store it could change the model.

[2017-05-10 22:18] vaikas-google commented on #828
@bparees @pmorie Yeah, if there's a broker that wraps templates, then I'd push/force/encourage the template writers to provide meaningful descriptions. Not sure how the user of the catalog is going to just choose these serviced templates just based on the name?

[2017-05-10 23:03] pmorie commented on #637
@dug is right, I will re-open the earlier issue.

[2017-05-10 23:03] #637 closed

[2017-05-10 23:06] pmorie commented on #266
Re-opened because this is the original issue.

[2017-05-10 23:06] pmorie commented on #266
After doing some exploration in #670, I have found an issue that means we will have to rethink the first version of this integration (ie, the first alpha integration that we do at this moment) because of a snag that I hit once I begin plumbing through the `PodPresetSpec` field in the API.

The fundamental issue is that there is no good way to validate an API type from a core API group (except for

[2017-05-10 23:17] bparees commented on #828
it's pretty easy to envision people just playing around w/ this stuff who just want to quickly see if they can make a template show up in the service catalog tripping over this.

[2017-05-10 23:50] pmorie commented on #266
Set the milestone to 1.0.0 for now, because this isn't going to be done before 0.1.0 and it doesn't need to be (since the fields will inherently themselves be alpha).  I hope to get to this perhaps in 0.1.1

[2017-05-10 23:53] pmorie commented on #638
Related:

- #813
- #828
- #814
- #802

[2017-05-11 00:03] duglin commented on #266
I think adding a mechanism to get to the secret values w/o calling the kube API is a must. I don't want to have to turn all of my apps that use services into kube clients.

[2017-05-11 00:13] MHBauer commented on #266
My understanding of what you are saying:
 - We can't validate the type before it gets stored
 - we can't use the upstream code because it operates on different objects
 - we don't want to copy the validation because maintenance
 - instead of taking a full podpreset, take a name and some subfields and generate one ourselves to support setting environment variables (and thus, not mounts?)

Can we ju

[2017-05-11 01:54] duglin commented on #797
you bring up a point that I wasn't think of. I was thinking people would be modifying the binding, but you're right, they could just modify the podpreset directly.

I think part of the bigger issue here might be: what objects/properties are write-once?  e.g. do we even allow people to modify podpresets at all (stand-alone or in a binding)? What if they try to modify the BindingSpec.SecretName ? Bl

[2017-05-11 02:02] duglin commented on #798
Based on today's call I think we may consider this putting whatever information we use in the binding to identify "the app" (e.g. podpreset labelSelectors) into the bind_resource jsonObject of the binding request - but we'd need to check to see if the spec allows for this. As for the app_guid itself, we could choose to either exclude it, since its optional, or use some unique/related UID from Kube

[2017-05-11 02:07] duglin commented on #800
Based on today's call, there was general agreement to implement the CluserConfig configMap and use the clusterID as the orgGUID. We can then use the namespace UID as the spaceGUID and see https://github.com/kubernetes-incubator/service-catalog/issues/798 for what to do about the app_guid.

As for the context, we can put the clusterID in there as new field. We'd need to update the "context profile"

[2017-05-11 02:34] pmorie commented on #266
What you wrote is correct.

I assume you're wondering about if we were to use `PodPresetSpec` in our API, but not validate at Binding creation time.  I considered this, but I don't think it's the right thing.  Thinking through that possibility:

1.  You make a binding that has an invalid PodPresetSpec
2.  The service catalog API server accepts the Binding, and does not give you a validation error

[2017-05-11 04:45] pmorie commented on #266
cc @jwforres @spadgett

[2017-05-11 05:02] pmorie commented on #793
I think this is entirely related to what we consider an 'app', ie, this depends on #798

[2017-05-11 05:04] pmorie commented on #793
I think we have precedent for the use-case of:

Given that I know what an 'app' is,

As a developer using the catalog, I want to bind to the same app multiple times with different parameters so that I can have multiple connections with different properties

Example: the service is a database, and you want a read-only connection and a read-write connection

[2017-05-11 05:10] pmorie opened #831 "Flake: TestBindingClient on tpr"
New flake in travis:

[code]
<details>

[Build log](https://s3.amazonaws.com/archive.travis-ci.org/jobs/231017997/log.txt?X-Amz-Expires=30&X-Amz-Date=20170511T050806Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170511/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=d827cdf8df0c85d757c7c8a5c299acae7da43e8b3eecff804d872a427550751a)

[code]
</details>

[2017-05-11 12:08] duglin opened #833 "Sample brokers"
Related to: https://github.com/kubernetes-incubator/service-catalog/issues/786

While I agree that we don't want to put a ton of sample brokers in our repo, I do think we should think about where people should put them.  For example, we could choose to do nothing and let people google to find them. We could choose to work with the OSB API wg and come up with a nice place (wiki?) to simply allow pe

[2017-05-11 12:09] duglin commented on #833
/cc @gyliu513

[2017-05-11 12:40] duglin opened #834 "Remove OSB prefixes"
Based on a chat @pmorie and I had yesterday we should remove the "OSB" prefix on our properties since the chances of us supporting something else along side the current stuff seems pretty slim.

w.r.t. OSBGUID, we both liked `ExternalID`.

However, if based on https://github.com/kubernetes-incubator/service-catalog/issues/802 we use the OSB ID as our name then we may not need a OSBGUID property at

[2017-05-11 12:47] gyliu513 commented on #833
Also related to https://github.com/kubernetes-incubator/service-catalog/issues/548

Yes, echo @duglin , I cannot agree anymore that we should think where put the example brokers to promote the service catalog project to be adopted by more people.

[2017-05-11 12:52] derekwaynecarr commented on #804
I am trying to see if there is any other situation where we block a change to spec due to the state of status.  At a glance, I don't like the idea as spec is the desired state we want to realize and should be somewhat disjoint from status.  If I understand correctly, we want to protect against spec changes if an async op is in flight.  Could we model this differently?

For example, could we have a

[2017-05-11 13:01] duglin commented on #804
I agree that I'm not sure we should be solving this issue via blocking end-user's actions.  IMO the statement in the OSB API spec about blocking concurrent requests (which I'm in the process of changing) should only impact the Platform->Broker interactions, not the user->Platform interactions for us.  In some platforms where they're more of a synchronous processing model it may make sense to block

[2017-05-11 16:08] vaikas-google commented on #828
For playing around, then they can still just put the description themselves as 'service'? It hardly seems worth it to add extra machinery and not encourage good habits from the get go because adding a description just seems so trivial to do?

[2017-05-11 16:14] vaikas-google commented on #804
Right, so the original request / investigation was based on the Spec as written. We are in the process of changing the spec so that we have more leeway in implementing it. Let's assume that goes through. So, we have the flag already in status, and I assume we can use that as our 'lock' as @duglin says above. That is how it is already used to prevent other things from happening at the same time.
Wh

[2017-05-11 18:25] MHBauer commented on #833
OSB should have the list.

Brokers aren't specific to kubernetes, so it needs to be some separate repo/place/org.

[2017-05-11 18:26] MHBauer commented on #828
I do not understand the template conversation. There seem to be two separate uses of the word template.

[2017-05-11 18:42] arschles commented on #600
The issue is as follows:

When the API registry gets a `DELETE`, it sets the deletion timestamp and deletion grace period on the resource and calls `GuaranteedUpdate`. The TPR storage implementation fails because it tries to `PUT` those changes on the upstream API, but those fields are read-only.

My proposed solution is to try intercepting calls to update those fields in `GuaranteedUpdate` and se

[2017-05-11 18:54] MHBauer commented on #802
One of the original conversations was to use the osb-guid as the k8s-meta-name for exactly this reason. We ended up using the osb-name for the usability reason.

[2017-05-11 18:54] bparees commented on #828
i'm pretty sure all the uses of "template" in this thread refer to openshift templates, which are a way of defining a set of openshift/k8s resources that will be created together.  We're creating a service broker which will let you pick a template and deploy it (meaning create the resources it defines).

[2017-05-11 18:59] MHBauer commented on #798
Are you proposing to use `bind_resource.app_guid` specifically? Or a new entry under `bind_resource`?

[2017-05-11 19:01] MHBauer commented on #834
I agree that we should remove OSB. Are we all in agreement?

[2017-05-11 19:04] MHBauer commented on #638
How about #297 ?

[2017-05-11 19:19] MHBauer commented on #385
I vote to clean the generated code. I've created a PR as such.

[2017-05-11 19:21] MHBauer commented on #385
`.pkg` should be cleaned as part of `clean-build-image` as it gets mounted into the build image `.scBuildImage`.

[2017-05-11 19:23] MHBauer commented on #385
`.var` is a result of running the integration tests.

[2017-05-11 19:24] MHBauer commented on #385
`.run` is also, from running the built in kubectl script.

[2017-05-11 19:27] MHBauer commented on #385
`.kube` is also the intergation tests + kubectl script.

`.out` results when the verify script fails.

[2017-05-11 19:53] duglin commented on #798
I assume you closed this by mistake

[2017-05-11 20:11] duglin commented on #834
discussed on today's call - we're ok headed in this direction

[2017-05-11 20:17] MHBauer commented on #805
Is this something that can be done client side with kubectl extensions?

[2017-05-11 21:02] duglin commented on #802
On today's call we agreed to using ID as the metadata.name on ServiceClass and ServicePlan but we should keep `ExternalID` too just in case we decide to use something else for the name.

I'll open a new issue to discuss possible designs for how to add on something for a better UX - and that discuss (IMO) should happen before beta.

[2017-05-11 21:06] duglin opened #837 "Discuss rough ideas for better UX around naming of ServiceClass/Plan"
See https://github.com/kubernetes-incubator/service-catalog/issues/802

We need to make sure that we have a rough idea of how we'll provide a better UX for people so they don't have to use GUID when they really should use the human-readable names.

[2017-05-11 21:11] pmorie commented on #837
I suggest porcelain commands for `provision` and `bind` may work to mitigate this.  I would prefer that over API-level indirection.

[2017-05-11 21:15] #828 closed

[2017-05-11 21:20] pmorie commented on #813
I was thinking about this and there's a level of indirection we need to figure out.  Services are returned by the broker, so if we add a field to ServiceClass like so:

[code]

... then we need to set that field somehow ourselves.  Breaking that down:

1.  We need to determine which namespace the secret should live in - perhaps by adding a `DashboardSSOSecretNamespace` field to the broker's spec
2

[2017-05-11 21:22] pmorie commented on #833
+1 on a list of known brokers being hosted at OSB

we should ensure that this list does not imply endorsement.

[2017-05-11 21:26] duglin commented on #837
I think it kind of depends on how much porcelain we can add and where. For example, we might be able to modify kubectl stuff to allow them to specify nice names on the cmd line, but can we allow them to use the nice names in the yaml? For example, some of the questions I have, and these are probably more "what's the kube way?" type of questions:
- are we allowed to twiddle people's spec data durin

[2017-05-11 21:37] pmorie commented on #837
We can manipulate data (default, fill in fields) during a create, in general.  In this case, the name of a service or plan isn't stable, so I don't think that's a good idea.  If the name of a plan changes, it could break patch.

I don't think this is workable.  How do you distinguish between clients that want to see the names and clients that want to see the guids?  We definitely have no precedent

[2017-05-11 21:44] pmorie commented on #837
Rough idea for porcelain commands to smooth this out:

-  `kubectl plugin service-catalog list` - gives you a view similar to what `cf marketplace` does:

[code]

- `kubectl plugin provision-service` - lets you provision service by name and plan name:

[code]

Maybe this command supports -w to watch for the provision operation to be completed

We do not have the same issues around coordinates for

[2017-05-11 21:48] jwforres commented on #802
On Thu, May 11, 2017 at 5:02 PM, Doug Davis <notifications@github.com>
wrote:

Agreed about that happening before beta, please include me in that

[2017-05-11 22:41] pmorie commented on #805
@MHBauer check out: https://github.com/kubernetes-incubator/service-catalog/issues/837#issuecomment-300925516

[2017-05-11 23:47] vaikas-google commented on #621
If we need to provide references from other sources, then modeling it after env vars sounds like a solid approach and consistent with previous examples, so :+1: As far as not being able to send data without a key, I think that's totally fine (unless I'm misreading the spec). Parameters is defined as a JSON object, and from what I recall / understand, a JSON object is mapping keys to values? If tha

[2017-05-12 00:11] simonleung8 commented on #806
For anyone who is interested and want to discuss, this is the WIP of kubectl plugins, with commands `create-service-broker`, `create-service`, `bind-service`.
https://github.com/kubernetes-incubator/service-catalog/pull/840

[2017-05-12 01:09] jwforres commented on #621
You are right @vaikas-google
 I was thinking of JSON document not JSON object when we were talking about this yesterday @derekwaynecarr  it's a JSON document that can be an array and still be valid. But the spec does say JSON object so I think we are good to use the env vars  format.

[2017-05-12 02:11] gyliu513 commented on #833
@pmorie @MHBauer do you mean here https://github.com/openservicebrokerapi ? If so, who can help create a repo for the sample service brokers?

[2017-05-12 02:15] duglin commented on #833
we have a f2f next week, I'll add this as a topic to discuss

[2017-05-12 17:30] arschles opened #842 "Do we still need test-apiserver.sh to run as part of integration tests?"
`contrib/hack/test-apiserver.sh` is run as part of our integration tests, and it drives `kubectl` commands to simulate creating resources. Two questions:

- These don't appear to simulate any functionality beyond CRUD actions on an etcd-based API server. What was the original intent for this script?
- Because it drives `kubectl` commands, it looks more like an end-to-end test. Can we move it there

[2017-05-12 17:45] duglin commented on #842
its original intent was to make sure we didn't regress on the apiserver as we made changes.
While it starts etcd, we could easily make it use TPRs - the same kubectl cmds should still work, right?

I'm ok with moving it to an e2e bucket if that's where it should live. I'm also ok with removing it if we have other tests that do the same thing.

[2017-05-12 17:57] pmorie commented on #842
Effectively this was the forst version of the clientset test.

i don't think we absolutely need to keep it around, because we do have the
client set test.

On Fri, May 12, 2017 at 1:45 PM Doug Davis <notifications@github.com> wrote:

[2017-05-12 20:08] duglin commented on #813
not sure we can add a namespace to the broker spec since isn't that basically generated by us upon reading the catalog from the broker?  Can't we just use the default namespace - like the default service account uses?

[2017-05-12 20:12] MHBauer commented on #454
Sounds like we need to make a decision whether or not to change and create a resource.

Not sure which is more kube-ish, but it looks like we would end up with a slice of refs to plans, or a ref to the existing slice of plans as a separate object.

[2017-05-12 20:15] MHBauer commented on #803
`Prow is already running against the kubernetes-incubator org.`

What does this mean to me? Is there anything in-repo that needs to be done? If there is something going on outside of the repo, I would like to know about it.

[2017-05-12 20:16] pmorie commented on #813
We own the broker spec, so we can add fields to it.

On Fri, May 12, 2017 at 4:08 PM Doug Davis <notifications@github.com> wrote:

[2017-05-12 20:18] duglin commented on #813
ok - I misread what you were saying. I thought your first bullet was implying that someone was providing that info to us. Sorry

[2017-05-12 20:19] MHBauer commented on #834
#839 is part.

[2017-05-12 20:23] pmorie commented on #813
Yeah, I was referring to the catalog entries (serviceclasses) - the broker
sends those to us, so we need to generate where the secret lives.  I was
saying we can put the knob on the broker spec, which we control

On Fri, May 12, 2017 at 4:18 PM, Doug Davis <notifications@github.com>
wrote:

[2017-05-12 20:26] duglin commented on #454
I don't see a reason that we shouldn't split Plan out into its own resource.

[2017-05-12 20:29] spxtr commented on #803
It means that, should you choose to, you can easily set up test jobs and other such lovely things on this repo by making a PR to kubernetes/test-infra. Similarly, if you want `/lgtm` and the like to work, you should do the same. Currently on the CLA plugin and `/assign` are enabled on kubernetes-incubator.

[2017-05-12 22:10] jwforres commented on #454
The only case that I can think of is that it makes it hard for a UI to let
a user filter the service class objects based on whether they have a free
plan available. You'd have to still request all the plans for all the
service classes, which doesn't fix the scalability concern.

On May 12, 2017 4:26 PM, "Doug Davis" <notifications@github.com> wrote:

[2017-05-12 22:11] pmorie commented on #297
We currently use fields named `ThingName` as references to global (ie, non-namespaced) resources in Kubernetes.  See https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#object-references.

[2017-05-12 22:11] #297 closed

[2017-05-12 22:11] pmorie commented on #638
@MHBauer I just closed #297, but that would have been in scope if there was work to do :)

[2017-05-12 22:12] arschles commented on #571
I am removing a milestone from this issue

[2017-05-12 22:27] pmorie commented on #813
I am moving this to the 1.0.0 milestone because I don't think it should be required to take the initial API beta.  I do think there is a question of whether we make these fields alpha in the API for now or remove them entirely.  I would be comfortable with removing the fields entirely and saying the the 0.1.0 release does not support dashboard SSO.

[2017-05-12 22:28] pmorie commented on #831
@arschles @krancour @kibbles-n-bytes can someone take a look at this please?

[2017-05-12 22:37] pmorie commented on #812
Dupe of https://github.com/kubernetes-incubator/service-catalog/issues/705; closing

[2017-05-12 22:37] #812 closed

[2017-05-12 22:39] pmorie commented on #801
Related to https://github.com/kubernetes-incubator/service-catalog/issues/705

[2017-05-12 22:40] duglin commented on #705
Addition items from #812:
- ability to ask for certain brokers to be excluded from the auto-re-get
- do the re-get and reconcile the data

[2017-05-12 22:42] duglin commented on #813
If there's a good chance of us dropping a field as a result of this then yea let's drop it for beta and add it back in later at the right spot

[2017-05-12 22:43] pmorie commented on #711
I _think_ this will be solved by using the aggregator to talk from kubectl to the cluster, and not before then.

[2017-05-12 22:47] pmorie commented on #457
@DirectXMan12 isn't this addressed by your auth PR?

[2017-05-12 22:50] pmorie commented on #218
Closed by #834

[2017-05-12 22:50] #218 closed

[2017-05-12 22:51] pmorie commented on #114
Closing; we have distinct issues for parameter (#816) and plan (#748) updates.

[2017-05-12 22:51] #114 closed

[2017-05-12 22:51] pmorie commented on #115
Closing; this is long-gone.

[2017-05-12 22:51] #115 closed

[2017-05-12 22:54] pmorie opened #844 "Jenkins should not run E2Es with colorization"
...which makes the output difficult to read.  We should use the `--noColor` option in ginkgo for jenkins runs.

[2017-05-12 22:57] pmorie opened #845 "Jenkins E2E Flake: broker didn't come up"
...manifested in https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/595/

[2017-05-12 22:59] pmorie commented on #813
Okay, I will do a PR for that now.

On Fri, May 12, 2017 at 6:42 PM, Doug Davis <notifications@github.com>
wrote:

[2017-05-13 00:05] #814 closed

[2017-05-13 00:54] duglin commented on #801
marking as 'api' so we can have an initial design discussion to make sure we plan on solving this via additive things.  I'm hoping we can agree on something as simple as adding an "inactive" flag to plans and serviceClasses.

[2017-05-13 01:08] duglin commented on #497
Since labels and annotations are name/value pairs, but tags are just strings it doesn't seem like there's a good spot put them on the kueb core resource model.  This would seem to then imply that we're probably going to have to keep this info in our own property - like we have now. Its just too bad that we can't easily search over it with some native kube search facility. We should have a brief ch

[2017-05-13 01:15] pmorie commented on #497
We could also remove both 'tags' and 'requires' and figure out how to treat
them later.

On Fri, May 12, 2017 at 9:08 PM, Doug Davis <notifications@github.com>
wrote:

[2017-05-13 01:49] duglin commented on #497
true, that would be the super safe option for beta.

Haven't thought much about 'requires' yet - does anyone think it would ever be more than just an array of strings to us?  I know at some point we'll need to look at it and perhaps do something (like reject a serviceClass if we don't support one of the "requires") but would we ever store it as something else?

[2017-05-13 11:19] jwforres commented on #497
Please do not remove tags completely, if you want to change it to an alpha field until you decide what to do long term that's fine.

[2017-05-13 20:11] pmorie opened #848 "Add broker-specific control for insecure communications"
Currently, we hard-code the `InsecureSkipVerify` option on the TLS config for the broker client's HTTP transport to allow communicating with brokers who do not have a root-signed certificate.  We probably need to retain this capability, but it should be broker-specific.  Something like:

[code]

[2017-05-13 20:13] pmorie commented on #848
Oops, this is a dupe of #606

[2017-05-13 20:13] #848 closed

[2017-05-13 20:14] pmorie commented on #606
Idea: control insecure-skip-verify like so:

[code]

[2017-05-14 14:54] duglin opened #849 "UPS sample has secret in the wrong place"
Right now the UPS example, if I'm following it correctly, has people create broker and instance resources that are basically static. The unique part of things are in the binding because that's where we point to the secret that has the creds. This isn't correct. The secret/creds should be part of the instance so that as multiple apps bind to that instance those creds are injected by copying the sec

[2017-05-14 21:12] duglin commented on #849
Looking at that code some more I think the answer here is to just update the walkthru sample yaml so that we include a "credentials" parameter in the instance yaml.  I'll open a PR for this.

[2017-05-14 21:17] duglin opened #850 "BindingSpec.secretName shouldn't be required to be set by the user"
While creating a binding I got an error message saying that I had to specify a secretName. I seem to recall that we agreed to default to the bindingName for this to minimize the amount of things users had to specify.

[2017-05-15 13:49] duglin opened #852 "Move "Checksum" to *Status resource"
Right now we have InstanceSpec.Checksum and BindingSpec.Checksum - these should be moved to *Status instead since they're really part of the user-facing data and only used by internal processing.

[2017-05-15 13:51] duglin commented on #638
opened https://github.com/kubernetes-incubator/service-catalog/issues/852 to deal with the checksum topics

[2017-05-15 14:04] pmorie commented on #852
I will take this one, there are a couple subtleties about it I have already spent some time thinking about, and I added these fields in the first place.

[2017-05-15 15:26] pmorie commented on #837
I personally think this should be 1.0.0, because it does not have to be done for beta.

[2017-05-15 15:27] duglin commented on #837
not done but discussed because if we decide we need to do something radical that changes our model then we're in trouble.

[2017-05-15 15:30] pmorie commented on #797
I think this should be 1.0.0, since anything related to pod preset is going to be alpha until pod preset is at least beta.

[2017-05-15 15:38] pmorie commented on #698
Do we now think this issue is defunct, @arschles + @krancour ?

[2017-05-15 15:39] pmorie commented on #834
https://github.com/kubernetes-incubator/service-catalog/pull/843

[2017-05-15 15:40] pmorie commented on #497
I will open a PR to change the name of `Tags` to `AlphaTags` after https://github.com/kubernetes-incubator/service-catalog/pull/843 is merged

[2017-05-15 15:48] pmorie commented on #850
Well, it's a required field, but we can default it.

[2017-05-15 15:50] pmorie commented on #810
May also touch API

[2017-05-15 16:01] pmorie opened #855 "Rename Tags field to AlphaTags"
Per discussion on https://github.com/kubernetes-incubator/service-catalog/issues/497, after #843 is merged.

[2017-05-15 16:06] arschles commented on #849
#851 should close this

[2017-05-15 16:08] arschles commented on #842
I will remove the script entirely in a PR to come

[2017-05-15 16:21] arschles commented on #831
I'm already working on these tests, so I'll look into it.

[2017-05-15 16:25] arschles commented on #818
This still has some questions that need answering in the spec. We need to solve by 0.1.0

[2017-05-15 16:26] arschles commented on #817
Related to #818 - do we need to expose additional fields to the k8s data model to represent additional data we need to send to brokers?

[2017-05-15 16:29] arschles commented on #809
Removing from 0.1.0 - @pmorie will fill in details on the plan here

[2017-05-15 16:37] arschles commented on #800
Since this doesn't touch our API surface, I am moving this out of 0.1.0 and into 1.0.0

[2017-05-15 16:44] kibbles-n-bytes commented on #844
As we are not running the `ginkgo` CLI, there did not seem to be a clearly documented way to stop the colorization using the ginkgo library from within the e2e tests. I figured instead of disabling the colorization, then, we could just have it handled correctly by Jenkins. I just submitted a PR ( #856 ) that does this.

[2017-05-15 16:50] arschles commented on #748
We believe that this can be solved w/o any API surface changes, so I am moving this out to 1.0.0

[2017-05-15 16:51] arschles commented on #735
This is not necessary for 0.1.0, moving to 1.0.0

[2017-05-15 16:52] arschles commented on #698
@krancour has turned integration tests back on for TPR support, so we can close this and continue with our plan as-is for e2e tests. Closing

[2017-05-15 16:52] #698 closed

[2017-05-15 16:52] arschles commented on #679
Moving this to 1.0.0 - not necessary to have to reach beta requirements.

[2017-05-15 16:55] arschles commented on #606
Moving to 1.0.0, since we can already support brokers with root CAs now

[2017-05-15 16:56] arschles commented on #601
Moving to 1.0.0, since this is error message cleanup only, and does not affect our API surface

[2017-05-15 16:57] arschles commented on #583
Dupe of #800, closing

[2017-05-15 16:57] #583 closed

[2017-05-15 16:58] arschles commented on #545
This issue is unrelated to the API surface, moving to 1.0.0

[2017-05-15 16:59] arschles commented on #514
This issue is unnecessary, closing.

[2017-05-15 16:59] #514 closed

[2017-05-15 17:00] arschles commented on #497
We're moving all `OSB*` tags to alpha. Moving to 1.0.0

[2017-05-15 17:01] arschles commented on #431
I have since solved this issue. Closing

[2017-05-15 17:01] #431 closed

[2017-05-15 17:02] arschles commented on #385
I am moving this issue out of a milestone as it's not required for our beta release. Please close this when it's completely addressed.

[2017-05-15 17:03] arschles commented on #315
Moving this out of beta, as it doesn't require any api surface changes.

[2017-05-15 17:06] arschles commented on #499
I am moving this to 0.2.0, since it doesn't require any API surface changes but would be beneficial to have this before our 1.0.0 release

[2017-05-15 17:07] arschles commented on #590
Dupe of #735, closing

[2017-05-15 17:07] #590 closed

[2017-05-15 17:08] arschles commented on #634
Moving to 0.2.0 for further discussion.

[2017-05-15 17:23] arschles commented on #677
Moving to 0.2.0, since we'd like this before our 1.0.0 release

[2017-05-15 17:25] arschles commented on #797
I'm moving this to 0.2.0. We believe that it won't be changing the API surface, but we'd like this question answered as soon as we can

[2017-05-15 17:25] arschles commented on #798
I'm moving this to 0.2.0. We believe that it won't be changing the API surface, but we'd like this question answered as soon as we can

[2017-05-15 17:27] arschles commented on #820
See https://github.com/kubernetes-incubator/service-catalog/issues/801#issuecomment-299994481 for a description of what we decided in our last face-to-face meeting. I am leaving this open for now, as this issue represents a specific subset of #801. Both may not be closed at the same time, however.

cc/ @pmorie @duglin

[2017-05-15 18:40] duglin commented on #497
to be clear, its just one property "OSBTags" we're moving, not all OSB properties

[2017-05-15 18:51] #844 closed

[2017-05-15 21:22] #834 closed

[2017-05-15 21:46] arschles opened #860 "Write unit tests for ./pkg/rest/core/fake rest client"
This client represents a fake version of a small subset of the core Kubernetes API. It's used for unit and integration testing the TPR-based storage functionality, and a bug in this fake implementation can cause many of the TPR unit and/or integration tests to fail. It should be tested to highlight any root causes of such failures.

[2017-05-16 17:25] #852 closed

[2017-05-16 18:13] pmorie opened #863 "Add godoc for every API field"
We should have high-quality godoc for all API fields in the next release.

[2017-05-16 19:39] pmorie opened #864 "Consider whether BrokerSpec.AuthSecret should change"
Currently the OSB API only supports basic auth.  Adding an OAuth flow is being discussed, and so we should assume that long-term, there will be multiple forms of auth.  Currently, we have a single field called `AuthSecret` in the `BrokerSpec` type, so the type of auth being used does not surface at all in the API.  I think we should consider using a union type to make explicit in the broker spec w

[2017-05-17 19:47] pmorie commented on #855
Closed by #861

[2017-05-17 19:47] #855 closed

[2017-05-17 21:22] pmorie opened #867 "Validate that each service class must have at least one plan"
Otherwise, you will be unable to provision it.

[2017-05-17 21:23] pmorie opened #868 "Validate that External ID fields do not change"
These should be immutable according to the OSB API spec.

[2017-05-17 21:28] pmorie commented on #802
It looks like this isn't going to be in 0.0.7, moving to 0.1.0

[2017-05-17 21:50] pmorie opened #869 "Reject updates to Instance that change plan when plan is not updatable"
We should reject updates to the `InstanceSpec.PlanName` field when the service the instance is provisioned from is not `PlanUpdatable`.

[2017-05-17 22:29] arschles commented on #600
Moving to 0.1.0, as #836 is not yet finished

[2017-05-17 22:29] arschles commented on #723
Moving to 0.1.0, as #836 is not yet finished

[2017-05-17 22:29] arschles commented on #720
Moving to 0.1.0, as #836 is not yet finished

[2017-05-17 22:40] pmorie opened #870 "Store written release notes in the repository"
We currently do not maintain written release notes in the repository.  We should, and should have a way to track what does and does not warrant a release note.  K8s has a process for this, but my gut feeling is that it would not be portable to our repo without modification.

Setting 0.1.0 on this to at least have written release notes.

[2017-05-17 23:08] #863 closed

[2017-05-18 19:29] MHBauer commented on #870
They at least partially have a bot or a script that scrapes the PRs to help with that.

[2017-05-18 20:07] arschles commented on #870
@pmorie I believe we can close this now that https://github.com/kubernetes-incubator/service-catalog/pull/871 is in. Do you disagree?

[2017-05-18 20:48] bklau commented on #266
3 questions:
1. Does one need to deploy the  pods first before applying a pod preset that selects them?
2. So the pods that got selected for preset injection is restarted?.  If so, seems like a waste of lifecycles.
3. If a  pod preset is deleted while the injected pods are still running, what  happens to them?

[2017-05-19 04:55] derekwaynecarr opened #878 "Unable to delete Instance for non-existent service class"
Simple reproduction:

[code]

[2017-05-19 04:56] derekwaynecarr commented on #878
/cc @pmorie -- this is what I was discussing earlier.

the controller appears to error if it cannot find the service class and never handle the deletion timestamp code checking.

[2017-05-19 05:42] nilebox commented on #621
@pmorie the only potential problem I see with this approach is that service broker could expect the secret to be injected somewhere inside JSON/YAML values (not at the top level).

This is where the difference between environment variables in Pod and parameters in OSB becomes clear: environment variables is the flat list, while OSB Instance parameters is a tree...

Furthemore, if you need to pass

[2017-05-19 05:48] duglin commented on #621
I don't think we need to make that distinction. To us it is a flat list. If one value happens to be a tree that's not our concern.  In fact, env vars could be a tree too if someone put json into the env var value.

[2017-05-19 05:52] nilebox commented on #621
@duglin sure, but how do you inject a secret inside the tree then?

Or, rather it means that someone has to get a set of secrets, generate a full JSON containing a tree with all the secret values as plain text inside it, and put the result as another secret? Sounds very complicated to me as a user of Service Catalog. For me it eliminates setting the value of Parameters as raw JSON completely - I h

[2017-05-19 05:56] ash2k commented on #621
I agree with @nilebox. For example I can imagine an `Instance` that needs an array (or an object of some shape) of credentials and each item in that array comes from separate `Secret`. In fact, we want to use this approach in one of the things we are developing and not being able to do this will be unfortunate. I.e. the structure we want to be supported is more flexible than a map<string, string-o

[2017-05-19 05:58] ash2k commented on #621
But OSB spec says it is an object and objects can have arbitrary structure. And I think that flexibility is really great.

[2017-05-19 06:00] duglin commented on #621
if I'm following it sounds like you want to have a way to specify not just which of the top-level properties are 'normal' and which are 'sensitive', but also be able to specify that all the way down the tree at random spots, right?  If so, then while that might be really really flexible, it seems like overkill and way more complex than what's needed.

[2017-05-19 06:01] duglin commented on #621
We have plans to add a way to specify which top-level things are normal vs sensitive - I'm hoping that should be sufficient.

[2017-05-19 06:09] nilebox commented on #621
@duglin I see your point, but to me this limitation is _almost_ the same as just having Parameters object declared as

[code]

I can live with it, but I am not sure if it's the best solution.

[2017-05-19 06:16] duglin commented on #621
Almost, I think you'd want to keep the non-sensitive stuff outside of the secret since I'm told that some systems have a limit on how much they can store in secrets. So I think something more like:
[code]
I think this keeps it simple.

[2017-05-19 06:25] nilebox commented on #621
@duglin I am not pushing on it, but just to make it clear what I was proposing in my first comment: all that is needed is just adding support for one more field in `ParameterSource`

[code]
It doesn't sound to me as much more complicated than a solution proposed by @pmorie, but rather a simple extension.

If we don't want to support secret injection at any level, then I actually prefer your code t

[2017-05-19 06:25] duglin commented on #266
@bklau
1 - normally the podpreset is created first since it will only act on pods created **after** the podpreset is known
2 - nope, only new pods are modified. So the user would need to specifically ask for their app/pods to be redeployed
3 - nothing, same as pods that are created before the podpreset is created.  Creating a podpreset does not touch currently running pods.

[2017-05-19 06:51] ash2k commented on #621
@duglin

Let me explain our use case. Instance parameters get inputs from multiple secrets into Instance-specific places. In fact, even non-sensitive information is output as Secrets in Service Catalog today so all Instance parameters will come from Secrets in our case. Essentially we want to have support for structures like this:
Example from above:
[code]
or like this (note that names of fields

[2017-05-19 10:04] duglin commented on #621
I'm sorry - when I saw secrets as part of this conversation my mind jumped to Credentials - those might have the notion of "normal" vs "sensitive", not "parameters".

Let me ask this... in some of the proposals it includes things like `ConfigMapKeyRef *ConfigMapKeySelector`, which implies that the data in question is stored outside of the instance. What happens if that configMap is changed? While

[2017-05-19 11:49] nilebox commented on #621
@duglin That's a very good question, however I think it's a separate issue. The problem you described applies to both ConfigMap and Secrets. And yes, Secret update doesn't lead to cascade update of `Instance`, since it was not changed, there is no event (or new revision) to react on.

I think we have two possible ways of handling this:

1. Treat Secrets as immutable and create a new Secret under a

[2017-05-19 13:59] pmorie commented on #621
@ash2k @duglin @nilebox

TLDR:

While the proposed API does make handling trees a little cumbersome, in the absense of a specific example of a broker that needs secrets composed into nested values, I don't think we should design in the API for it now.  We can do something backward compatible later to make it easier if there is a need.

We will definitely not be adding templating in any way to supp

[2017-05-19 14:45] derekwaynecarr commented on #621
@pmorie @nilebox @duglin -- I am not adverse to the idea of having parameter source include nested parameter options.  It would actually let us just remove the `Raw` field entirely and avoid need for templating.  I am fine prototyping that in #847

[2017-05-19 15:04] pmorie commented on #621
Yeah, on second thought I would be okay doing nested parameters, but I think we should agree on a maximum nesting level.

[2017-05-19 15:24] pmorie commented on #870
Yeah

[2017-05-19 15:24] #870 closed

[2017-05-19 20:24] bklau commented on #266
@duglin  : Thx for the explanations : ) . Which release will the service catalog be in?

[2017-05-19 22:36] MHBauer opened #880 "document rbac setup"
I've talked with @DirectXMan12 in the past about this and am trying to get it working and document it.

[2017-05-19 23:02] nilebox commented on #621
@derekwaynecarr nice, I'll be watching your pull request then.

Minor note: even with nested parameters there are still some missing features in full JSON support:
- JSON arrays: only objects supported in the proposed solution?
- Different types of primitive values: string, integer, float etc: only strings are supported?

I think it's still fine, unless we have a specific service broker which does

[2017-05-19 23:38] nilebox commented on #621
@pmorie This is an option too, but I'm not sure how would you distinguish a _string_ with JSON inside from JSON _object_ there?

i.e. this **(1)**
[code]
vs that **(2)**
[code]
in Secret anything is a string, so only (1) is possible I suppose. Otherwise we would have to try parsing string as JSON and if succeeded switch to (2) (which again is not necessarily what user wanted).

[2017-05-21 09:59] maleck13 commented on #869
@pmorie is this a small enough issue for a small contribution? Is this something that would be checked within the controller? https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller.go#L675

If I am way off here and it is more complex than it seems, no prob just looking to find a place to get started.

[2017-05-21 20:08] duglin opened #881 "Merging of Creds/secrets into one env var"
With CloudFoundry if you bind your app to more than one service the creds from both services will appear under VCAP_SERVICES - yes both of them.  While in kube we can populate an env var from a secret, is there a way to populate an env var from multiple secrets? I'm guessing no.  However, we may want to think about this since this means that the same app can not be deployed to CF and Kube and w/o

[2017-05-22 14:30] MHBauer commented on #880
Permission whack-a-mole at one step. We should probably create a role or whatever the RBAC concept is to hold all the needed permissions in one bundle..

[2017-05-22 16:01] vaikas-google opened #882 "Validate InstanceStatus fields"
We currently validate InstanceSpec on updates / creates but we do not seem to do this for InstanceStatus. Added a skeleton + TODO with a reference to this issue in #853

[2017-05-22 17:15] derekwaynecarr commented on #621
The model proposed has multiple deficiencies:

1. it is not able to specify if a primitive value is a string, number, or bool
1. it is too fine-grained.  it leads us down a json object template and value substitution syntax.

Given the lessons learned in prototyping this, I think service-catalog should offer a much more coarse-grained solution.  If any parameter is private, the entire envelope of

[2017-05-22 17:22] smarterclayton commented on #621
We are trying to put a hold on building APIs that reference secrets in the near term, because we are in the midst of refining *how* secrets should be subdivided for use.  The original purpose of secrets was to store data for pods.  It has expanded to service account tokens (which creates escalation vectors), ingress certificates (which means ingress is too powerful by default in many cases), and s

[2017-05-22 17:34] duglin commented on #621
@smarterclayton do you have pointer to where we can read-up on the latest discussions on this?

[2017-05-22 17:36] derekwaynecarr commented on #621
ok, so that sounds like a preference for option 1.

which would look more like the following:

[code]

we would then need to encrypt Binding and Instance resources at rest in storage.

our cli commands would need to obfuscate in the future via server side describers based on the parameterSpec.Policy

[2017-05-22 17:43] MHBauer commented on #309
looking through e2e results, I see some of the responses have `{name}` in them for the selflinks. Is something need to interpolate client side that is not being done, or something that should be done server side before sending the response?

[2017-05-22 17:44] smarterclayton commented on #621
Last week's sig-auth meeting went into it, see the sig-auth meeting notes (and I think we recorded, at least I hope so).

[2017-05-22 17:52] DirectXMan12 commented on #880
Yep, each different API server should probably have it's equivalent of the bootstrap policy -- minimal policy required for the API server and controllers to function.

Feel free to assign me to this one as well.

[2017-05-22 18:21] jwforres commented on #621
This gives a client 3 options for deciding whether to set Policy to sensitive / public / etc

1. Always assume sensitive - less burden on the user but then whats the point in having the flag...
2. Ask the user if any of the parameter information they are filling out is considered sensitive.  Prone to a big "oops" from a user when they forget to check that box.
3. Rely on the brokers to define in t

[2017-05-22 19:30] arschles opened #883 "Deprovision sends a request body"
Deprovision is a `DELETE` operation, which should not send a request body. Additionally, the [deprovisioning section of the OSB API spec](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#deprovisioning) specifies some query string parameters that we are not sending.

[2017-05-22 19:31] arschles opened #884 "Unbind is not sending query string parameters"
According to [the OSB API spec on unbind](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#unbinding), `service_id` and `plan_id` must be sent in the query string. We are not sending those.

[2017-05-22 19:46] arschles commented on #884
cc/ @ljnelson

[2017-05-22 19:58] ljnelson commented on #884
Thanks much.

[2017-05-22 21:03] duglin commented on #621
just for my own understanding, what are some of the usecases for sending sensitive information to brokers via parameters? Its interesting to me that no one has really complained about this before in the CF world, but perhaps the services you guys have in mind are different than what they've seen in the past.

This https://github.com/kubernetes-incubator/service-catalog/issues/621#issuecomment-3026

[2017-05-22 21:37] nilebox commented on #621
@duglin the reason that nobody complained in CF world is most probably​ because it didn't cover dependencies between service instances, and there was no use case for defining a **compute** service broker.

The major use case we want to support is EC2 service broker, or GCP compute service broker, or any other compute provisioning through Service Catalog / OSB.

Master/slave is just an example (pro

[2017-05-22 21:41] duglin commented on #621
Can't you get the same results by just binding (1) and (2) to (3)? Even if you have to create user-provided service instances to (3) for (1) and (2) ?

[2017-05-22 21:46] derekwaynecarr commented on #621
@duglin - our use case is provisioning a compute service on EC2.  so +1 to @nilebox examples.

[2017-05-22 21:55] nilebox commented on #621
@duglin not sure if I follow...

How can you provision instance in (3) first without passing environment variables it requires? Also I don't think that creating custom service brokers for (1) and (2) is a good idea. You don't create custom service brokers for binding to Pods, why should you do it for EC2?

The other option is for (3) to talk directly to (1) and (2) to create bindings itself, inste

[2017-05-22 22:01] MHBauer commented on #621
Should we add this to the agenda for the next sig meeting? Or have a separate meeting ASAP to discuss?

[2017-05-22 22:10] nilebox commented on #621
@MHBauer whichever works for you, but I am very interested in discussing it sooner rather than later (but also preferably to come up with a proper solution which satisfies everyone in the long term), as this limitation currently blocks us from building a proof of concept.

Implementation is not that urgent, we can hack something around for now, or help @derekwaynecarr with implementing it. The mor

[2017-05-22 22:12] derekwaynecarr commented on #621
can we queue up a meeting w/ @pmorie when he returns from vacation?

On Mon, May 22, 2017 at 6:01 PM, Morgan Bauer <notifications@github.com>
wrote:

[2017-05-22 22:14] derekwaynecarr commented on #621
i want a path forward determined end of week.  i can then implement
whatever we decide after.

On Mon, May 22, 2017 at 6:10 PM, Nail Islamov <notifications@github.com>
wrote:

[2017-05-22 22:40] duglin commented on #621
@nilebox in those cases what does binding to (3) mean?  or do you not bind?

[2017-05-22 22:47] nilebox commented on #621
@duglin I don't think that (3) needs binding support in this example. Just service instance should be enough.

The user of Foobar application will need a URL to talk to it, which could be derived based on the service `instance ID`, or it could be returned in the `last operation` endpoint (or `operations/{operationId}` when we add this endpoint as you mentioned at the meeting).

[2017-05-22 22:48] duglin commented on #621
Also, how much integrate is there between (3) and the platform/kube?  I'm assuming (3) isn't some random thing, its probably pretty tightly integrated with the platform/kube, right?

[2017-05-22 22:57] duglin commented on #621
@derekwaynecarr do you plan on skipping the binding parts too?

[2017-05-22 23:03] nilebox commented on #621
@duglin It's probably not a random Docker runner, but a properly implemented Service Broker, but I don't think it has to know about Kubernetes at all.

From a broader perspective, you could consider Service Catalog as just an implementation of OSB marketplace, which can be run as a standalone service without Kubernetes **core** _at all_.

I don't want to go too deep into this, as it is irrelevant

[2017-05-23 00:36] duglin commented on #621
ok @nilebox spent way too long helping shape my head around this, sorry for being slow, but thanks for the help!

A couple of things....
- this discussion made me realize that there's a big difference between CF and Kube w.r.t. what end users see. In CF a fair amount of this stuff that we have in our model is just not exposed to end users.  Which means how stuff is stored internally doesn't really

[2017-05-23 01:04] nilebox commented on #621
@duglin I think this variant is probably good enough for our usecases. I am keen to hear @pmorie though as he seems to have some strong opinion about this as well.

If at some point Service Catalog will have a need to support service dependency graph with injecting secrets produced by one broker to another, it could be built on top of that (something like PodPresets built for Pods, for example).

[2017-05-23 01:59] nilebox commented on #621
@duglin forgot to mention that with your variant we need to be _explicit_ about merging strategy for Parameters and SecretParameters (and clashing naming handling - priority or explosion with validation error), or we can extend OSB spec and introduce a separate `secretParameters` section from `parameters` in Instance request.

Other than that it seems to be a perfectly viable solution.

[2017-05-23 02:12] duglin commented on #621
True - we could either block duplicates from being created at all or just define what will happen when they occur.

Adding a "secretParameters" property to the spec might be an interesting option since we're already talking about the option of distinguishing "normal" from "sensitive" credentials in the bindings.

[2017-05-23 12:21] duglin commented on #266
podpreset is already in Kube v1.6, so that dependencies is fulfilled. Not sure when svc-cat will be part of an official release, but since it pretty much is stand-alone and doesn't require any more changes in the core you should be able to use it today.  Currently, its in alpha, we're hoping to go to "beta" very soon (like within a week or so).

[2017-05-23 14:55] krancour commented on #883
Re-opening this. The (#885) that corrected it was reverted because of an issue that was discovered immediately after merge. That leaves this issue outstanding ftm.

[2017-05-23 15:16] mdshuai commented on #868
@pmorie Are you working on this,If not, Could you mind assign this to me? thanks.

[2017-05-24 07:12] gyliu513 commented on #833
Any suggestions for how to proceed this?

[2017-05-24 14:03] duglin opened #890 "Use ObjectReference instead of LocalObjectReference in BindingSpec"
To future proof things, should we use ObjectReference instead of LocalObjectReference in BindingSpec when we point to the Instance?  I suspect we may want to allow for a single instance (in one namespace) to having a binding in another namespace.

We should discuss this before beta.

[2017-05-24 14:24] pmorie commented on #890
ObjectReference is fully backward compatible with LocalObjectReference from a field standpoint.

[2017-05-24 14:24] #890 closed

[2017-05-24 14:26] duglin commented on #890
can you elaborate? When I look at those two resources in the model they have a very different set of properties.

[2017-05-24 14:30] duglin commented on #890
oh, do you mean that because they both have "name" (and LocalObjRef **just** has "name") we can upgrade from LocalObjRef to just ObjRef ?

[2017-05-24 14:48] duglin commented on #890
If that's true then how does client tooling work? For example, is there tooling that generate client-side artifacts that match the structs in our types?  Perhaps even use the same names? Or is it assumed that any client-side tooling will only focus on the syntax of things on the wire and therefore going from LocalObjRef to ObjRef will be viewed as just adding new properties to a json object? And a

[2017-05-24 16:39] #600 closed

[2017-05-24 16:39] #720 closed

[2017-05-24 16:39] #723 closed

[2017-05-24 17:54] spzala commented on #346
Update:  /cc @duglin for two of the lint failures i.e. remove "_" from generated function names and re-writing "if...else" loop, reviewers are reluctant to make change, the comments I received are,
1. it's per design
2. changes promotes non-idiomatic code, not good
3. lint is moving target and we can't take care of every lint requirements etc..
However many lint errors are fixed e.g. adding commen

[2017-05-24 19:26] derekwaynecarr commented on #621
@duglin -- the issue with the model you proposed (which is same as my option 2) is we are being told to not use secrets for this purpose anymore.

[2017-05-24 19:27] derekwaynecarr commented on #621
@duglin - unless you are saying we have two runtime.RawExtension fields, and only one of them are obfuscated in the API?  At storage, we will have to encrypt the entire thing?

[2017-05-24 19:41] duglin commented on #621
I was kind of thinking that we first focus on what the UX should look like for populating the InstanceSpec, then we can work on how to store/show it.  Whether we use secrets or encrypt it ourselves is a secondary discussion.

The diff between what I proposed and your option 2 is that I think you're pointing to a secret, I wasn't proposing that. I was going to suggest that the person give us the da

[2017-05-24 21:01] #883 closed

[2017-05-24 21:01] #884 closed

[2017-05-24 22:40] nilebox commented on #621
It got me thinking if creating a secret upon creating a Binding is a valid use case then?

PodPreset was designed for injecting secrets into Pods, so it definitely could/should manipulate secrets.

But we have a use case (see above) when we don't necessarily create Pods and PodPresets using a Binding. Which suggests that Service Catalog has its own abstraction as OSB marketplace decoupled from run

[2017-05-24 23:00] derekwaynecarr commented on #621
@nilebox the secret created as a result of a Binding is fine as that secret is intended to be consumed by pods.

[2017-05-24 23:07] jwforres commented on #621
I disagree from the perspective that the secrets can still be used for the
purpose of injecting information into pods.  What if I want to share one
"binding" for many different applications in my project, in that case
creating a Binding with a PodPreset isn't the correct choice as there may
not be one labelSelector that will work for the combination of applications
(i.e. the different Deployments,

[2017-05-24 23:08] nilebox commented on #621
@derekwaynecarr in case of EC2 there are no Pods consuming a Secret. This is uncommon case, but it's still valid. And without an intermediate "general purpose encrypted blob" object, there is no way for us to read sensitive data produced by Binding without abusing Secrets again.

This is not something urgent, just trying to understand the boundaries of Secrets. We can get back to it once Kubernete

[2017-05-24 23:11] nilebox commented on #621
@jwforres there could be multiple PodPresets referencing a single Secret (produced by a Binding), I don't see a technical limitation for your case there.

[2017-05-24 23:16] simonleung8 commented on #800
A PR has been made to add cluster-id to core controller
https://github.com/kubernetes/kubernetes/pull/46384

[2017-05-25 14:10] maleck13 commented on #869
Reading some more and chatting to @vaikas-google  it seems the validation layer is the correct place within ```ValidateInstanceUpdate``` https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/validation/instance.go#L66
Getting hold of the ServiceClass here is the tricky part as it will need to be read from the storage layer.

[2017-05-25 17:58] pmorie opened #898 "E2E flake: get broker catalog"
Broker pod appears to not have become ready in https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/711/console

[2017-05-25 21:54] #867 closed

[2017-05-25 21:57] MHBauer commented on #898
Integration, but same thing?
https://travis-ci.org/kubernetes-incubator/service-catalog/builds/234060985

[2017-05-27 19:15] #678 closed

[2017-05-27 19:21] pmorie commented on #890
@duglin sorry for the delayed the response - I didn't mean to be terse, just made the mistake of answering from my phone on vacation and forgetting to come back to it.

That's correct.

Correct, if in a future version we change to ObjectReference, a client sending only the name field from LocalObjectReference will appear to send an object reference with the namespace unpopulated.  The semantics of

[2017-05-28 08:27] pmorie commented on #881
I remember that you had mentioned this quite a while ago, maybe in November at Kubecon.  Now that I know a little bit more about the use cases you have for this for bluemix, I see that it has value for people that want to have applications interoperate between different consuming platforms without modification.

I think it should be possible to do this with a webhook admission controller https://g

[2017-05-28 11:26] duglin commented on #881
This feels like it would make the admission controller just a specialized podpreset

[2017-05-29 05:16] ajayapte opened #900 "Unable to register service broker on kub1.6"
I'm running kub 1.6.  I installed helm charts for service catalog and then for ups-broker from github.  When I try to register service broker I get an error stating the service is not yet ready to accept requests.  My broker registration yaml
[code]
I guess this is kub 1.6 RBAC issue.
When I look at controller logs I see this repeatedly -
[code]
And in API server logs I see this repeatedly -
[code

[2017-05-30 19:44] pmorie opened #901 "Determine criteria for whether an alpha OSB feature is ready to release in the spec"
The process for making changes to the OSB API (see https://github.com/openservicebrokerapi/servicebroker/blob/master/CONTRIBUTING.md#design-change-proposals) has a phase where a feature is accepted in principle but where the API particulars are not fully solidified yet.  In our repo, we've decided that we will call these alpha features when we need to expose them in our API.  One thing we haven't

[2017-05-30 19:52] pmorie opened #902 "Determine how secret information should be stored in our API"
Currently, secret information related to communicating with brokers or that is sent to brokers as part of an OSB request payload has been discussed as being stored in kubernetes secrets.  However, the [kubernetes roadmap for secrets](https://docs.google.com/document/d/1JAwPuZg47UhfRVlof-lMw08OJztunW8pvTNxDK3rCF8) says that secrets are only for consumption by pods, and that API resources holding se

[2017-05-30 23:09] arschles opened #903 "The API server goes into CrashLoopBackoff"
I followed the walkthrough to [install](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/walkthrough.md#install) the catalog, which directed me to use this command:

[code]

After I did so, I saw that the apiserver goes into `CrashLoopBackoff`:

[code]

Here is what the logs look like in the `apiserver` container:

[code]

[2017-05-30 23:16] arschles commented on #903
My guess for why this is happening is because the helm chart has added a CLI flag (`--audit-log-path`) that only the `canary` images understand. However, the chart only references the `v0.0.8` images. #735 has additional detail and a proposed fix for this.

[2017-05-31 00:44] #903 closed

[2017-05-31 02:07] nilebox opened #905 "nil pointer dereference panic on request timeout"
If the service broker doesn't respond within a timeout (currently hardcoded to 15 seconds), Service Catalog crashes while trying to log the error (see https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/brokerapi/openservicebroker/open_service_broker_client.go#L151):
[code]
`resp` is nil in this case.

Logs (see the `response: <nil>` message part followed by panic):
[code]

[2017-05-31 14:26] pmorie opened #907 "Jenkins should run on master"
...when new commits are pushed to master.

[2017-05-31 15:12] sas977 commented on #907
/star robat

[2017-05-31 15:13] sas977 commented on #907
@master

[2017-05-31 18:09] arschles opened #908 "kubectl delete doesn't delete Instance resources when deprovision calls fail"
If a `kubectl delete` of an `Instance` fails because the broker deprovision call failed, the `Instance` resource itself is not deleted.

I have reproduced this by going through the steps in [my Azure demo repository](https://github.com/arschles/meta-azure-service-broker-helm), but I can boil it down to some basic repro steps:

1. Create a `Broker` that installs 1 or more `ServiceClass`es
2. Create

[2017-05-31 18:21] vaikas-google commented on #908
Just moving a conversation from the slack channel to here. To summarize. Broker responds with 500 and we leave the resource laying around, which according to the spec is what should happen:
"Responses with any other status code will be interpreted as a failure and the service instance will remain in the marketplace database. Brokers can include a user-facing message in the description field; for d

[2017-05-31 18:51] arschles commented on #908
Yep - agree that this is per-spec. As a user, however, I am stuck with an `Instance` that I can't remove. In my specific case, I know that a backing resource was never created and I want to delete this `Instance` so I can re-try (in a larger organization, this force-delete operation might be an operator's job). The only thing that I can do at the moment is to restart the service-catalog API server

[2017-05-31 19:46] #490 closed

[2017-05-31 20:32] arschles commented on #907
@kibbles-n-bytes can you make this  happen?

[2017-05-31 20:48] duglin commented on #908
I believe that cf allows for a "-f" type of option for cases where the broker is gone - we should do the same.

[2017-05-31 21:02] MHBauer commented on #900
I have not run 1.6, but it does look like rbac to me.

[2017-05-31 21:27] arschles opened #909 "A user should be able to schedule a delete of an asynchronously-provisioning Instance"
If an `Instance` is waiting for an async provision, a user should be able to `kubectl delete` it. Since we wouldn't want to remove the `Instance` resource until it is fully provisioned, it should be scheduled for delete once the async provision is complete. After that happens, the instance should deprovision and be deleted as normal.

[2017-05-31 22:15] vaikas-google commented on #909
@duglin
Related likely... There was also talk about having a Cancel on long running operations. I don't recall details, do you?

[2017-06-01 00:37] nilebox commented on #621
My take on the today's [meeting with sig-auth](https://youtu.be/E_3L8dFaha0):

I think that taking @duglin's approach with using [SecretKeySelector](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/pkg/api/v1/types.go#L1449) is both good enough for now, and is a proper long term solution.

[code]

[2017-06-01 14:07] nilebox opened #911 "Replace RawExtension type with raw byte array?"
[RawExtension](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/runtime/types.go#L92) type is being widely used in ServiceCatalog for representing any arbitrary JSON from the OSB spec: [BindingSpec](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/types.go#L350), [InstanceSpec](https://github.com/kubernetes-incubato

[2017-06-01 14:17] pmorie commented on #911
RawExtension is exactly for storing arbitrary json -- we used it after discussion with the API Machinery group.  I have an issue opened to document the rationale for why, which still needs to be completed, but this is exactly what RawExtension is for.

[2017-06-01 14:17] #911 closed

[2017-06-01 15:58] vaikas-google commented on #911
Yes the main reason for using the RawExtension is that it validates that the bytes are JSON so you get earlier failures without having to validate it yourself.

[2017-06-01 18:30] MHBauer commented on #909
I understand and sort of agree in principle, but we don't want to write a scheduler. What's preexisting standard behavior in core?

[2017-06-05 05:11] #905 closed

[2017-06-05 05:12] nilebox commented on #905
The PR https://github.com/kubernetes-incubator/service-catalog/pull/906 has been merged

[2017-06-05 15:28] #679 closed

[2017-06-05 15:57] arschles commented on #909
@vaikas-google I would be happy with a cancel operation, but is that supported in the OSB API spec?

[2017-06-05 16:04] arschles opened #914 "On provision, service-catalog doesn't write the description or status code of an unexpected broker response"
If a broker doesn't return an [expected response code](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#response-2), it writes nothing into the `status.conditions` field of the newly created `Instance`. It should at least write the status code returned by the broker server.

Repro steps:

1. Follow all steps in [this demo repository](https://github.com/arschles/meta-azure-

[2017-06-05 16:35] kibbles-n-bytes commented on #907
Just saw this. Yeah, I'll see if I can get this to work.

[2017-06-05 17:23] duglin commented on #909
At the f2f, I believe, we talked about it in the context of creating an operations endpoint for each action - e.g. `GET /service_instances/:guid/service_bindings/:guid/operations/:operation`  and then doing a DELETE to that endpoint would stop the action.  But I think we need to get these new endpoints into the spec first.

[2017-06-05 17:35] arschles commented on #908
@duglin looks like `kubectl delete --force` might do the trick:

[code]

[2017-06-05 17:39] duglin commented on #908
yep, that's what I was thinking too

[2017-06-05 17:43] arschles commented on #908
@simonleung8 I know that you are working on `kubectl` plugins. What are your thoughts here?

[2017-06-05 19:50] simonleung8 commented on #908
@arschles Currently we don't have plugin commands for any of the 'delete' action. To improve user's experience, we certainly could have an optional `-f` to delete the resource forcibly from the core api, and inform the user what the potential complication might be with `-f`

[2017-06-06 20:51] pmorie opened #919 "Namespace to use for leader election lease should be parameterized"
Currently, the controller's leader election has the `kube-system` namespace hard-coded to use for the leader election lease.  We should parameterize this to facilitate running the catalog under a service account that does not have access to the kube-system namespace, which will be important for any cluster with a healthy auth/rbac setup.

[2017-06-07 16:08] pmorie opened #921 "Determine whether controller should update secrets"
While adding support for PodPreset in #917, I noticed that the controller will update an existing secret if it already exists instead of trying (and failing) to create that secret.  I am not sure at all if that is the right behavior.  We should think about whether this is a valid use case; I'm inclined to say that it is not, since we do not currently have anything that would result in the binding

[2017-06-07 18:49] pmorie opened #922 "Create an admission controller that prevents PodPreset fields from being set"
To support environments where the resource isn't available (ie, pre-k8s-1.6).

[2017-06-07 18:59] #919 closed

[2017-06-07 20:23] #864 closed

[2017-06-07 20:31] #907 closed

[2017-06-08 15:22] pmorie commented on #922
This would be an extremely good introductory task for someone new to take - I've written plenty of these things already, as has @derekwaynecarr, and we need to continue developing k8s development skills within the SIG and community around this incubator.

[2017-06-08 15:52] pmorie commented on #901
At this point, I think my personal idea of criteria for this is:

1.  Have we implemented the feature in the controller and feel that the proposed form accomplishes the goal while leaving room for future improvements that are backward compatible?
2.  Has the feature been implemented by brokers in our ecosystem and do broker authors feel that the proposed form accomplishes the goal while leaving ro

[2017-06-08 16:49] vaikas-google commented on #901
I think these two criteria make sense. It would be interesting to figure
out how we can achieve #2. Seems like there are typically some broker
implementers who are requesting changes, so having some sort of method for
tracking these as well as validating that they meet the needs should
probably be thought of. Also is it enough if one broker implements it and
are happy with it? I understand you pro

[2017-06-08 20:19] pmorie opened #924 "A broker catalog payload with zero services should be treated as an error"
It's not, currently, but it should be.

[2017-06-08 21:53] arschles commented on #901
That list looks good @pmorie. I have a slightly off topic, but important request that we put support for larger OSB API changes behind a feature flag & admission controller until those criteria are met.

We can use our judgement RE what is a larger change

[2017-06-09 00:39] #266 closed

[2017-06-09 00:49] MHBauer commented on #880
@liggitt @DirectXMan12 here's a basic summary of the RBAC after installing the service catalog and doing some operations. (running our very basic e2e tests, manually doing some create and get and delete of objects). I hope we can use some of this to start and then go look in the code to find the full set of operations once I understand how to make a role and package it up.

https://gist.github.com

[2017-06-09 02:03] liggitt commented on #880
WIP RBAC objects at https://gist.github.com/liggitt/ded7f8abb305b5545258e560df667009

things you'd probably want to make variables:
- service account name for the service catalog server ("server" in the example)
- service account name for the service catalog controller manager ("controller" in the example)
- namespace containing the service catalog ("catalog" in the example)

also, you'll want to

[2017-06-09 15:48] arschles opened #925 "Check for errors on updating conditions in the controller"
This issue is a continuation of https://github.com/kubernetes-incubator/service-catalog/pull/923/files#r121129995

cc/ @derekwaynecarr

[2017-06-09 17:36] pmorie opened #926 "Determine 'official' namespace where catalog will run"
We are currently suggesting 'catalog' as the namespace where catalog components run.  I think we should lock down an 'official' namespace' which is less ambiguous.  I would suggest something like `kube-service-catalog`.

[2017-06-09 17:45] duglin commented on #926
Any reason not to run it in kube-system?  Similar to kube-dns

[2017-06-09 18:47] arschles commented on #924
I'm taking this one

[2017-06-09 18:48] pmorie commented on #924
I have it mostly done but not pushed.

[2017-06-09 18:49] arschles commented on #924
ok, assigned

[2017-06-09 18:51] arschles commented on #925
I am taking this one

[2017-06-09 20:39] #924 closed

[2017-06-12 10:20] jim-minter opened #932 "accepts_incomplete should not be sent on request body"
https://github.com/openservicebrokerapi/servicebroker/commit/e6d9b144b49ffb15be8599fcd942f01287c628fe corrected a doc error, pointing out that accepts_incomplete should not be a serialised member of CreateServiceInstanceRequest.  At the moment the service catalog does correctly set the value in the query param, but it should not additionally set it in the body.

[2017-06-12 13:55] pmorie commented on #901
@arschles IMO the version of the API a broker supports should be controllable, and whether that broker supports alpha features should also be controllable

[2017-06-12 14:02] pmorie commented on #932
I'd like to hold the fix for this until we have switched OSB clients.

[2017-06-12 14:37] pmorie commented on #932
Actually, I'll fix this, but I think this should be the last one before we switch clients.

[2017-06-12 15:59] jim-minter opened #934 "service catalog should send user identity to broker"
See https://github.com/openservicebrokerapi/servicebroker/pull/222

If my suggestion https://github.com/openservicebrokerapi/servicebroker/pull/222#issuecomment-307812990 were to be followed, this might mean the service catalog sending through something like:

X-Broker-API-Originating-Identity: Kubernetes \<base64 blob\>
where "\<base64 blob\>" contained a json serialisation of user.DefaultInfo
(t

[2017-06-12 16:00] pmorie commented on #934
I'm going to try to get this implemented for 0.0.10

[2017-06-12 17:41] MHBauer commented on #914
I read through #925 & #915 and I am missing some higher level understanding to get what is being addressed here.

[2017-06-12 18:16] MHBauer opened #935 "document api aggregation setup"
#880 has become more about rbac than anything having to do with aggregation.