[2018-06-08 00:30] #389 closed

[2018-06-08 00:37] MHBauer commented on #371
Default make does build, test, verify.
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.21/Makefile#L15

At the time we got 5 binaries from a default `make`
https://github.com/kubernetes-incubator/service-catalog/blob/acce1d478099c5d2fcd7ee6beb03dbf9fbef379d/Makefile#L74-L76

Now we have 3 outputs:
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.21/Makefile#L122-

[2018-06-08 00:37] #371 closed

[2018-06-08 00:40] MHBauer commented on #446
closed by #1480

[2018-06-08 00:40] #446 closed

[2018-06-08 00:53] MHBauer commented on #497
This isn't closed by #861 or #1180. We still don't handle tags, but they're described as alpha.

[2018-06-08 04:30] nivedhan-murugavel opened #2100 "[URGENT SOMEONE PLEASE HELP] Can someone help me in resolving the issue mentioned in this link https://github.com/kubernetes-incubator/service-catalog/issues/1867"
My controller manager is not working and I am getting this issue: https://github.com/kubernetes-incubator/service-catalog/issues/1867

I am not able to add servicecatalog.k8s.io apiservice to my api list(kubectl api-versions) because of which I am not able to register service broker.

[2018-06-08 12:52] jboyd01 commented on #2100
@nivedhan-murugavel can you provide more details?  Is your controller-manager pod constantly being restarted because it is failing health checks?

Can you post the `kubectl describe` output for the catalog controller manager pod?

You could post your controller manager logs ie output from `kubectl logs -l app=catalog-catalog-controller-manager -n catalog`

[2018-06-08 17:58] MHBauer commented on #548
IBM Cloud Kubernetes has everything necessary to install service-catalog with no changes to either side.

[2018-06-08 17:58] #548 closed

[2018-06-08 18:01] #845 closed

[2018-06-08 18:03] MHBauer commented on #634
Our SIG charter https://github.com/kubernetes/community/pull/2233

[2018-06-08 18:04] #1103 closed

[2018-06-08 18:07] #545 closed

[2018-06-08 18:11] MHBauer commented on #1530
or use svcat as kubectl plugin or library to oc command.
see:
https://github.com/kubernetes-incubator/service-catalog/tree/v0.1.21/cmd/svcat
https://github.com/kubernetes-incubator/service-catalog/tree/v0.1.21/pkg/svcat

[2018-06-08 18:11] #1530 closed

[2018-06-08 18:42] jboyd01 commented on #1530
I think that https://github.com/kubernetes-incubator/service-catalog/pull/2091  (not yet merged) actually addresses the problem and brings back friendly names in the output of Kubernetes commands.

[2018-06-08 19:49] MHBauer commented on #1428
1.9 as minimum for aggregation at this point. reopen or make a new issue if it's still a problem
/close

[2018-06-08 19:49] #1428 closed

[2018-06-08 20:01] MHBauer commented on #1358
I looked for where the gofuzz was imported:
[code]
The first is in the controller directory itself, and is used to test serializing of secrets.

The following three don't have any direct dependencies on `pkg/controller`. As far as I can tell there are know indirect dependencies as well.
/close

[2018-06-08 20:01] #1358 closed

[2018-06-08 20:04] MHBauer commented on #1432
OwnerReference is ObjectMeta, so this isn't a type change and should be relatively easy to assign on create.

[2018-06-08 20:06] MHBauer commented on #1363
seems fixed
/close

[2018-06-08 20:06] #1363 closed

[2018-06-08 20:07] MHBauer commented on #1393
/close

[2018-06-08 20:07] #1393 closed

[2018-06-08 20:15] MHBauer commented on #1660
/close

[2018-06-08 20:15] #1660 closed

[2018-06-08 20:20] MHBauer commented on #1132
reraise if still an issue
/close

[2018-06-08 20:20] #1132 closed

[2018-06-08 20:22] MHBauer commented on #1817
/close

[2018-06-08 20:22] #1817 closed

[2018-06-08 20:27] carolynvs commented on #2086
#dibs

[2018-06-08 20:28] MHBauer commented on #1900
over a month with no response
/close

[2018-06-08 20:28] #1900 closed

[2018-06-08 20:31] MHBauer commented on #1309
@pmorie I feel like we discussed this, but I do not know why we did not write any notes here.

Still not sure anyone actively uses this target. We do have a note in the devguide to clean up if we decide to remove this.

[2018-06-08 20:52] MHBauer commented on #1198
Not sure I understand the followup needed. Is there still anything to do

We prevent people from deleting the service instance if it has bindings.
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.21/pkg/controller/controller_instance.go#L598-L601
/cc @jboyd01 @pmorie
/close

[2018-06-08 20:52] #1198 closed

[2018-06-08 20:57] MHBauer commented on #1660
solved by https://github.com/kubernetes-incubator/service-catalog/pull/1671

[2018-06-08 23:01] carolynvs commented on #1432
#dibs I accidentally already started this as part of the user defined plans work in #2095

[2018-06-09 15:09] carolynvs commented on #1897
Here's some more info:

The help text displayed when you run `svcat bind --help` and `svcat provision --help` should append a warning for the `--params-json` flag that `Sensitive information should be placed in a secret and specified with `--secret`.

Here are the two commands that need to be changed:

https://github.com/kubernetes-incubator/service-catalog/blob/e196fc6e1bfff9d74b90a87d71dc364e508

[2018-06-09 15:18] popaulina commented on #1897
#dibs

[2018-06-10 07:16] nivedhan-murugavel commented on #2100
@jboyd01 Thanks for the reply.
I am getting following error in controller manager log
I0610 07:09:30.930792       1 round_trippers.go:405] GET https://100.64.0.1:443/apis/automationbroker.io/v1 200 OK in 0 milliseconds
I0610 07:09:30.930819       1 round_trippers.go:411] Response Headers:
I0610 07:09:30.930826       1 round_trippers.go:414]     Content-Type: application/json
I0610 07:09:30.930830

[2018-06-11 05:50] nivedhan-murugavel commented on #2100
And I don't see servicecatalog.k8s.io in `kubectl api-versions`
`admissionregistration.k8s.io/v1beta1
apiextensions.k8s.io/v1beta1
apiregistration.k8s.io/v1beta1
apps/v1
apps/v1beta1
apps/v1beta2
authentication.k8s.io/v1
authentication.k8s.io/v1beta1
authorization.k8s.io/v1
authorization.k8s.io/v1beta1
autoscaling/v1
autoscaling/v2beta1
batch/v1
batch/v1beta1
certificates.k8s.io/v1beta1
events.k8s

[2018-06-11 08:34] arapulido opened #2104 "Service Catalog doens't handle upgrades correctly"
Steps to reproduce:
* Install version 0.1.19 of the helm chart
* The API server and controller start correctly
* Upgrade to version 0.1.20 of the helm chart

Expected results:
* The API server and controller are upgraded correctly

Actual results:
* The API server starts correctly, but the controller pod doesn't start correctly. Logs:

[code]

[2018-06-11 14:15] #2066 closed

[2018-06-11 19:59] carolynvs opened #2105 "Split build CI build into stages"
Right now our CI build on travis combines everything into one giant test stage. This is problematic for a few reasons:

1. It's hard to quickly see why a build failed, linting? compile? tests? docs?
2. Jobs have a hard limit of 50 minutes. Splitting up would give us more headroom (yes we should fix perf, but until that happens this is a concern)
2. It lets us rerun a stage (perhaps due to a random

[2018-06-11 20:32] carolynvs commented on #2105
Testing out prow, ignore.

/help
/good-first-issue

[2018-06-11 21:51] carolynvs commented on #2104
Working on getting a new release of our helm chart pushed out (for v0.1.21) which may fix what you are seeing (it has a fix for missing ca certs which are causing healthz checks to fail on the controller manager).

I'll ping back when it's ready to try.

[2018-06-11 21:53] carolynvs commented on #2100
@nivedhan-murugavel Working on getting a new release of our helm chart pushed out (for v0.1.21) which may fix what you are seeing (it has a fix for missing ca certs which are causing healthz checks to fail on the controller manager).

I'll ping back when it's ready to try.

[2018-06-11 23:17] carolynvs commented on #2105
Testing out prow, ignore.

/help
/good-first-issue

[2018-06-11 23:18] carolynvs commented on #2105
Testing out prow, ignore.

/help
/good-first-issue

[2018-06-11 23:19] carolynvs commented on #2105
/remove-good-first-issue

[2018-06-11 23:19] carolynvs commented on #2105
/remove-help

[2018-06-12 03:58] duglin commented on #1309
@pmorie I've used this in the past to erase all generated files. If we get rid of this what would be the recommended way to do it?

[2018-06-12 06:58] arapulido commented on #2104
@carolynvs thanks! I would love to get a link to the PR fixing the certs issue, as it might be related to an issue I am seeing with the GCP broker

[2018-06-12 08:35] nivedhan-murugavel commented on #2100
@carolynvs That would really help. Thanks a lot.

When can i expect it to be fixed, any ETA? And is there any beta version of your fix so that I can try?

[2018-06-12 13:36] carolynvs commented on #2100
@nivedhan-murugavel I tested v0.1.21 and am still able to reproduce this behavior. :-( So no fix yet.

On AKS I am seeing that the controller manager deployment is actually healthy, the /healthz liveliness and readiness probes are just so flaky that k8s is restarting the pod over and over. After editing the deployment manually and deleting those probes, service catalog is working fine for me.

If

[2018-06-12 13:40] carolynvs commented on #2104
@arapulido The 0.1.21 chart with the fix for the CA certs is out, you can run the following commands to get it

[code]

Here are the relevant PRs for the cert issue:

https://github.com/kubernetes-incubator/service-catalog/pull/2003
https://github.com/kubernetes-incubator/service-catalog/pull/2071

[2018-06-12 13:41] carolynvs commented on #2104
There is another issue where we are seeing the controller manager in a crash loop backoff. https://github.com/kubernetes-incubator/service-catalog/issues/2100#issuecomment-396591381 I'd be interested in knowing if you are having a similar problem!

[2018-06-12 14:01] carolynvs opened #2106 "Update charter with new prow workflows"
Once we move to prow, we need to update our charter to replace things like "LGTM 1", or "do not merge" with the equivalent prow workflows.

[2018-06-12 16:07] jboyd01 commented on #2100
@nivedhan-murugavel can you post the service catalog API Server and Controller Manager logs?  i.e.,
`kubectl logs -l app=catalog-catalog-controller-manager -n catalog`
and
`kubectl logs -l app=catalog-catalog-apiserver -n catalog  -c apiserver`

You might want to put these in a gist, they can be quiet large.

[2018-06-12 16:38] carolynvs commented on #2100
Ok, this doesn't appear to be related to problems with the health check then. Hopefully with the logs, we can figure it out.

[2018-06-12 16:58] A-Hilaly commented on #2092
Hello :) ! Can i work on this this ?

[2018-06-12 17:03] nivedhan-murugavel commented on #2100
@jboyd01 @carolynvs I have added the gist for controller and apiserver logs
controller Manager log gist -- https://gist.github.com/nivedhan-murugavel/ac08dcf2e5e6648e748524d052885cdd

Apiserver log gist -- https://gist.github.com/nivedhan-murugavel/98529f61370ffc3f87c782e91b38ad51

[2018-06-12 17:31] pmorie commented on #2100
Hi @nivedhan-murugavel, what's the output of `kubectl get apiservices` ?

The `APIService` resource tells the aggregator to register your aggregated API. There should be an entry for the service catalog API group. If there isn't, none of the API aggregation stuff is going to work.

[2018-06-12 17:56] nivedhan-murugavel commented on #2100
Hi @pmorie This is my kubectl get apiservices

`NAME                                   AGE
v1.                                    2d
v1.apps                                2d
v1.authentication.k8s.io               2d
v1.authorization.k8s.io                2d
v1.autoscaling                         2d
v1.batch                               2d
v1.networking.k8s.io                   2d
v1.rbac.authori

[2018-06-12 17:59] jboyd01 commented on #2100
hmmm servicecatalog is in there.  API and Controller logs don't have issues that jump out to me at least. (Thanks for formatting @MHBauer!)

[2018-06-12 18:04] jboyd01 commented on #2100
actually, @nivedhan-murugavel , this is different from what you posted 2 days ago in https://github.com/kubernetes-incubator/service-catalog/issues/2100#issuecomment-396129317

Can you try `$kubectl get  clusterservicebrokers`   and `$kubectl get clusterserviceclasses`

[2018-06-12 18:07] nivedhan-murugavel commented on #2100
@jboyd01 I am really sorry for that confusion. I get this error when i run `kubectl get clusterservicebrokers`
error: the server doesn't have a resource type "clusterservicebrokers"

 Thanks @MHBauer for formatting :)

[2018-06-12 18:12] jboyd01 commented on #2100
@nivedhan-murugavel, no problem.  2 days ago you ran that get apiservices command and catalog wasn't present in the output but now it is.  Interesting that Kubernetes is saying it doesn't know about clusterservicebrokers though.

[2018-06-12 18:19] nivedhan-murugavel commented on #2100
@jboyd01 Ya. Because of this I am not able to use aws service broker :(

[2018-06-12 18:31] jboyd01 commented on #2100
Really interesting details from the describe apiservices (timeout):
[code]

[2018-06-12 18:36] carolynvs commented on #2100
@nivedhan-murugavel Did you add back the health checks after we figured out that wasn't the problem? I want to make sure that our poking around hasn't masked the root problem.

[2018-06-12 18:40] nivedhan-murugavel commented on #2100
@carolynvs  I didnt add that back. I will add and share the output now

[2018-06-12 18:52] nivedhan-murugavel commented on #2100
@carolynvs I have added readiness and liveness probe back to apiserver-deployment.yaml and controller-manager.yaml file. Started seeing crashloopback for apiserver and controller manager.

logs for controller-manager after adding reading and liveness probe -- https://gist.github.com/nivedhan-murugavel/25940e2479984d54347260b774708f9b
 logs for apiserver after adding reading and liveness probe -- h

[2018-06-12 18:54] carolynvs commented on #2100
Can you describe the service catalog apiserver? Also maybe a `kubectl get pods --all-namespaces` to make sure that dns and other key stuff is up.

[2018-06-12 19:14] carolynvs commented on #2100
That's the type of stuff (along with the client timeout and EOF errors) that I'm trying to hunt down. Thanks for the logs, that panic is very helpful to me!

That said I'm not sure what's wrong with your installation... On the other clusters, I'm seeing that the health checks are flakey and turning them off lets you use service catalog. But it seems like there is more going on for your cluster.

[2018-06-12 19:20] nivedhan-murugavel commented on #2100
I have created k8s cluster in aws using kops.  Created in specific VPC and subnet. Then tried installing service catalog using helm. Didnt do anything much.

[2018-06-12 19:23] carolynvs commented on #2092
@A-Hilaly Yup! Go for it 🙌 When you get to the part about adding tests, feel free to ping back for help. As I noted originally, this part doesn't have existing tests so you will need to add them yourself.

[2018-06-12 19:33] carolynvs commented on #2100
Yes and No. 😂

Yes, that's the trigger for the healthchecks being flakey, they don't seem to handle being on separate nodes well. That's why I don't see that problem on minikube but do on "real" clusters.

No, AFAIK that is not the cause of your problems with getting apiserver to work. For me it's enough to turn off the health probes to stop k8s from flapping my pods. But that wasn't enough to fix

[2018-06-12 21:55] carolynvs opened #2107 "prow playground issue"
this is not a real issue. Use it to test out prow commands and see what you can make the bot do.

[2018-06-12 21:55] carolynvs commented on #2107
/hold

[2018-06-12 21:56] carolynvs commented on #2107
/cats

[2018-06-12 21:58] carolynvs commented on #2107
/meow

[2018-06-12 22:00] MHBauer commented on #2107
/woof

[2018-06-12 22:00] MHBauer commented on #2107
/bark

[2018-06-12 22:04] MHBauer commented on #1594
we have moved from glide to dep, and we're constrained to a particular release of etcd
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.21/Gopkg.toml#L29-L35

[2018-06-12 22:04] #1594 closed

[2018-06-12 22:04] MHBauer commented on #1144
/label prow

[2018-06-12 22:15] A-Hilaly commented on #2092
Alright, thank you 🙏 I'll open a PR soon !

[2018-06-13 13:37] luksa commented on #1842
I'm closing this for now, since the function's documentation now states that the function does more than just update the status: https://github.com/kubernetes-incubator/service-catalog/blob/addf226294bfa3b2cd4f28685c8a05d7babbbc8e/pkg/controller/controller_instance.go#L1222-L1226

[2018-06-13 13:37] #1842 closed

[2018-06-13 13:40] luksa commented on #1576
I'm closing this as most of what's needed to get this working is now resolved. If you enable the serving of the OpenAPI schema in the Service Catalog API server, `kubectl explain` now works.

[2018-06-13 13:40] #1576 closed

[2018-06-13 19:31] #1987 closed

[2018-06-13 19:55] carolynvs opened #2111 "Create user-defined classes in svcat"
This command copies an existing class into a new user-defined class.

[code]

* `NAME` - Required. The new class name.
* `--from EXISTING_NAME` - Required. Name of an existing class to copy.
* `--cluster` - Optional. Specifies that a cluster-scoped class should be created. By default namespace-scoped classes are created. When this flag is set, namespace is ignored.
* `--namespace` - Optional. Over

[2018-06-13 19:58] carolynvs opened #2112 "Create user-defined plans in svcat"
This command copies an existing plan into a new user-defined plan. See https://github.com/kubernetes-incubator/service-catalog/pull/2190 as an example of how to implement this, as it is very similar (creating classes instead of plans).

[code]

* `NAME` - Required. The new plan name.
* `--from EXISTING_NAME` - Required. Name of an existing plan to copy.
* `--cluster` - Optional. Specifies that a c

[2018-06-13 19:58] carolynvs commented on #2111
#dibs

[2018-06-13 20:52] carolynvs opened #2113 "Add scope column to svcat get for classes"
**This change relies on #2116 being merged first**

Output a NAMESPACE column in svcat get for classes that indicates if the resources is "cluster" or "namespace" scoped. For namespace scoped classes, it should print its namespace, cluster-scoped classes it should be empty.

[code]

Here's the code responsible for printing the results of `svcat get classes`
https://github.com/kubernetes-incubator/

[2018-06-13 20:52] carolynvs commented on #2113
/help

[2018-06-13 20:56] carolynvs commented on #2113
Removing help wanted until we have `get classes` working for namespace scoped resources.

/remove-help

[2018-06-13 21:02] carolynvs opened #2114 "Support listing namespace scoped classes in svcat"
Currently `svcat get classes` only displays cluster scoped classes. Now that we have namespace-scoped classes, this command should return both.

[2018-06-13 21:03] carolynvs commented on #2114
#dibs

[2018-06-13 23:12] duglin opened #2119 "Change default relist and add a config flag"
I might not be looking at the right spot, but from looking at the code it appears that we will automatically re-list the broker's catalog every 15 minutes and there is no way to set this default timeout to something else (unless you do it on a per-broker basis as you register them).

While I know there are some brokers that change their catalogs very often (and in those cases I suspect they'll set

[2018-06-13 23:17] MHBauer commented on #2119
/assign @mhbauer

[2018-06-14 01:38] jicowan opened #2120 "extension-apiserver-authentication not found"
I tried installing service catalog onto a k8s v1.10 cluster from the helm chart svc-cat/catalog.  The API server fails to start with the following error:
[code]
There is a configmap in the kube-system namespace called catalog.v1 but so far as I can tell the chart didn't create a configmap called extension-apiserver-authentication.

[2018-06-14 08:36] luksa commented on #2113
Do we really need this? Isn't a simple `NAMESPACE` column enough (we simply leave it empty for cluster-scoped classes)?

[2018-06-14 12:16] carolynvs commented on #2113
@luksa Originally there were plans to put more information into the column than just namespace but that plan has since been abandoned. Just Namespace makes more sense now. 😊

I'll update the OP with the desired change.

[2018-06-14 12:44] carolynvs commented on #2100
I've got a PR open to make the probes optional in the service catalog chart, https://github.com/kubernetes-incubator/service-catalog/pull/2121. Otherwise I haven't had luck figuring out the root cause yet.

I don't know anyone using aws, or kops.

[2018-06-14 13:33] jboyd01 commented on #2120
Helm should be creating the rbac to allow Catalog API server to read this.  Within charts/catalog/templates/rbac.yaml:
[code]
Can you see if this was created?

`kubectl get roles  -n kube-system extension-apiserver-authentication-reader -o yaml`

`kubectl get rolebinding servicecatalog.k8s.io:apiserver-authentication-reader -n kube-system -o yaml`

If you remove catalog (`helm delete --purge catal

[2018-06-14 13:44] nivedhan-murugavel commented on #2100
Thanks @carolynvs. Will try once that PR is merged and ready. But as @jboyd01 said, My master is not able to ping the catalog apiserver and when I do `kubectl describe apiservices v1beta1.servicecatalog.k8s.io` I am seeing `FailedDiscoveryCheck`

[code]

[2018-06-14 13:46] carolynvs commented on #2100
To be clear there's more going on with your cluster than what I am currently investigating with the probe issues. 😀

I don't have great ideas on what is wrong however, so I'm hoping that Jay or some other people can help troubleshoot.

[2018-06-14 13:53] carolynvs commented on #2100
@nivedhan-murugavel After syncing with the other maintainers, it's clear from your most recent error messages that this is a problem with your cluster's configuration, and isn't something that we in SIG Service Catalog can help with further.

I am closing this for now and suggest that maybe you follow up with Amazon support, or the k8s slack channels for amazon or kops maybe. This is beyond our ab

[2018-06-14 13:54] #2100 closed

[2018-06-14 14:09] jicowan commented on #2120
Yes, the role and the role binding were created.  It also created 2 service accounts in the catalog namespaces for API server and the controller manager.  Both pods are failing to start.  I am trying to install this on an AWS EKS cluster.

[2018-06-14 14:45] carolynvs commented on #2113
Nevermind, today is not my day. 😝 Closing as it will be handled by the other work for namespace scoped support now.

[2018-06-14 14:45] #2113 closed

[2018-06-14 18:41] jicowan commented on #2120
Apparently EKS doesn't support custom API deployments and service catalog yet.  Closing for now.

[2018-06-14 18:41] #2120 closed

[2018-06-14 18:57] jboyd01 commented on #2120
@jicowan - we've been hearing of some other users unsuccessfully trying to use Catalog on EKS.  Can you provide a quick summary on what you found out?

[2018-06-15 01:06] nilebox opened #2124 "Add ability to filter instances and bindings by externalID"
Currently you can filter service classes and plans by `externalName` like this:
[code]
But you can't filter service instances and bindings by `externalID`:
[code]
Sometimes we need to reverse map OSB instances to Service Catalog instances, and filtering would help there.

AFAICT, we just need to add `spec.externalID` to the list of selectable fields in https://github.com/kubernetes-incubator/servi

[2018-06-15 14:52] MHBauer commented on #2081
Can you post the intermediate contents of the template here?

I see `apiregistration.k8s.io/v1beta1`, so that is what should be used. I think it could be validation of some other type.

[2018-06-15 17:04] MHBauer commented on #2036
from #2115
[code]

[2018-06-15 17:18] MHBauer commented on #1324
Don't see anyway to do this in a manner that cleanly moves on to the next test. It would require plumbing through the stopch through every test and then checking if it's time to stop.

The other option is to accept that it's timed out and `panic` and stop the whole process.

[2018-06-15 18:41] MHBauer commented on #2119
@duglin dup of https://github.com/kubernetes-incubator/service-catalog/issues/1086

[2018-06-15 18:42] MHBauer commented on #2119
going to leave a comment over there, because it's broken now.

[2018-06-15 18:55] MHBauer commented on #1086
As implemented, this totally ignores the global field set on the CLI. It is also now set as a default in the apiserver, and not from the controller.

Set here:
https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/v1beta1/defaults.go#L43-L45

But not using this value:
https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller

[2018-06-15 19:06] MHBauer commented on #2119
To answer the question asked, we have a flag
https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/values.yaml#L101-L105
it defaults to true and 24 hrs.

We don't honor the flag, as it's set and never read
https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller.go#L99

[2018-06-15 19:36] MHBauer commented on #2119
I suppose we can keep it open to have a bug to point at.
/reopen

[2018-06-15 21:19] MHBauer commented on #2107
do these commands have to start the line /assign @carolynvs testing?
what happens if I /woof in the middle?

[2018-06-15 21:20] MHBauer commented on #2107
/bark seems to need to be at the start

[2018-06-15 21:21] MHBauer commented on #2107
or is it on it's own line?
/meow y wowy?

[2018-06-15 21:21] MHBauer commented on #2107
okay, meow takes an arg, dog doesn't
/woof
/meow caturday

[2018-06-15 21:52] MHBauer opened #2127 "upgrade to golang 1.10 after rebase on kube 1.11 libraries"
upstream changes should make it possible

https://github.com/kubernetes/kubernetes/pull/63046
https://github.com/kubernetes/kubernetes/pull/62412

[2018-06-15 22:01] MHBauer opened #2128 "Tests do not conform to OSBAPI spec"
Many of our tests don't send all of the required fields that should be being sent. I hit this in #2103

I think the client library's fake that we use should catch this kind of things, so I made an issue
https://github.com/pmorie/go-open-service-broker-client/issues/121
and one PR for one request type
https://github.com/pmorie/go-open-service-broker-client/pull/122

[2018-06-15 22:11] carolynvs commented on #2107
hot potato!

/unassign
/assign @MHBauer

[2018-06-18 06:45] anderssoder commented on #2081
catalog/templates/apiregistration.yaml:

    {{- $ca := genCA "svc-cat-ca" 3650 }}
    {{- $cn := printf "%s-catalog-apiserver" .Release.Name }}
    {{- $altName1 := printf "%s-catalog-apiserver.%s" .Release.Name .Release.Namespace }}
    {{- $altName2 := printf "%s-catalog-apiserver.%s.svc" .Release.Name .Release.Namespace }}
    {{- $cert := genSignedCert $cn nil (list $altName1 $altName2) 3650

[2018-06-18 13:00] #2086 closed

[2018-06-18 19:01] MHBauer commented on #803
https://github.com/kubernetes/test-infra/issues/8291

[2018-06-18 20:17] MHBauer commented on #2068
If this is mainly a Triage communications type role. I do not mind listing myself.

[2018-06-18 20:58] #2068 closed

[2018-06-19 08:01] nabadger opened #2132 "Cannot delete servicebinding"
I've deployed service-catalog from Helm (catalog-0.1.21) and added the gcp-broker (all of this is on minikube).

My aim here is to provisioning/de-provision google-storage buckets.

I can do that using `svcat`.

I've managed to get the k8s cluster into a state where I could not use `svcat` to de-provision a bucket.

The key error message I get is
[code]

[code]
[code]
[code]

If I try to unbind th

[2018-06-19 16:58] snehahegde7 opened #2134 "Not able to get the Audit logging for service catalog apiserver"
In order to enable the audit logging, I have enabled the audit logging for service catalog apiserver and passed the log path.
[code]

apiserver logs
[code]

For core kuberentes api server the audit logging is enabled and the policy file is defined for that as well.
[code]

Do I need to pass the policy file for service catalog apiserver as well?
If so, can the same one defined for k8s apiserver can

[2018-06-19 17:16] MHBauer commented on #2132
Error message is about async binding support, so here is my guess.

Async binding operations are alpha and need to be specifically enabled.

If installing with helm chart, add `--set asyncBindingOperationsEnabled=true`, see [the helm chart](https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/values.yaml#L122-L123).

[2018-06-19 17:23] MHBauer commented on #2107
/kind bug

[2018-06-19 19:38] BenTheElder commented on #803
/cc
Attempting to help with this, along with @cjwagner.

[2018-06-19 19:56] snehahegde7 commented on #2134
@derekwaynecarr , Could you help with providing more details on how you were able to print the audit logs?

[2018-06-20 05:05] nabadger commented on #2132
This could well be it.

I've since reinstalled the service-catalog via the GCP helper `sc` and haven't seen the same issue yet.

I can see that the controller-manager specifies the `AsyncBindingOperations=true` as a feature-gate when installed this way as well, so that probably is it.

Thanks - I'll close this 👍

[2018-06-20 05:05] #2132 closed

[2018-06-20 14:49] MHBauer commented on #2132
Very welcome.

[2018-06-21 08:18] propyless commented on #942
@andutt Hey there, so a workaround seems to be to remove the finalizer token in the metadata section of the serviceinstance and servicebinding objects.
`oc edit servicebinding <name>`
`oc edit serviceinstance <name>`

[2018-06-21 08:37] andutt commented on #942
Nope, that didnt work in this case, it was not possible to remove the finaliser token. I had to remove it in etcd.

NOTE! this is a unsupported and not popular fix! and can in some cases brick things.

But solved the problem in  my clusters. I made sure that no other objects to the project remained, and then manually removed it in etcd.

etcdctl3 --cacert=/etc/etcd/ca.crt --cert=/etc/etcd/peer.crt

[2018-06-21 15:00] sam-cogan commented on #1769
Any plans to add a node selector param? At the moment to resolve this I need to taint my windows nodes to make sure the catalog doesn't end up on here.

[2018-06-21 15:04] carolynvs opened #2141 "Document how to enable a feature flag during installation"
It would be great to list our feature flags on the docs site and demonstrate how to install/upgrade service catalog to enable a flag:

e.g. `helm upgrade --name catalog svc-cat/catalog --set namespacedServiceBrokerEnabled=true`

[2018-06-21 15:06] carolynvs opened #2142 "Add extra instructions to the devguide on installing a canary image"
We should provide steps on how to do a local build with an alternative registry set, push it, and then update your deployment to use the canary image

e.g.

[code]

[2018-06-21 15:10] jeremyrickard commented on #1769
I'll take a look at this and see if we get this in.

[2018-06-21 15:21] carolynvs commented on #1769
Yes, we would like to fix this for hybrid clusters. 👍 If you would like to submit a PR to fix the chart, we would be happy to take it!

[2018-06-21 15:38] MHBauer commented on #2142
https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/devguide.md#advanced-build-steps
+
https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/devguide.md#deploying-to-kubernetes
but adding pull policy of always could be a good change to add to it.

[2018-06-21 15:46] carolynvs opened #2144 "Make svcat's uuid flag easier to use"
Instead of specifying how to interpret the value passed to `svcat get class X` or `svcat describe plan X` based on the presense of the `--uuid` boolean flag, that it would be more clear if instead, `--uuid` was a string flag that could be specified in place of the positional argument for the name.

e.g.

[code]

This applies to the following commands:

* `svcat get class`
* `svcat get plan`
* `svc

[2018-06-21 15:49] carolynvs commented on #2142
Yeah I eventually pieced all of that together but it would have _really_ helped to have it in one place as "here is the commands to run to use your own local build" under:

https://svc-cat.io/docs/devguide/#deploying-to-kubernetes

[2018-06-21 15:53] A-Hilaly commented on #2144
Hey, i'd like to work on this, if possible !

[2018-06-21 15:54] carolynvs opened #2145 "Add hover anchor links to all of our headings, not just H1"
On svc-cat.io we have hover anchor links to help people copy deep links to sections within our docs. However not all of the headings work with it at the moment.

For example, all of the headings on the dev guide page

https://svc-cat.io/docs/devguide

It works on the install page though, (hover over Step 1 - Prerequisites) to see it

https://svc-cat.io/docs/install/

The documentation site's sass

[2018-06-21 15:58] MHBauer commented on #2145
/joke What's wrong with our documentation having sass? I think most docs aren't sassy enough and can use some more sass. /joke

[2018-06-21 16:00] carolynvs commented on #2144
I recommend only picking up one thing at a time when starting out. Once your other PR is merged (or at least is ready for someone to merge and you are just waiting for us), then that's a good time to pick up more issues.

[2018-06-21 17:59] jeremyrickard commented on #1769
@esheris could you share what podSelector you ended up using for your ACS cluster is?

[2018-06-21 19:23] #2060 closed

[2018-06-21 22:24] #1897 closed

[2018-06-21 23:14] #1769 closed

[2018-06-22 13:02] carolynvs commented on #2144
@A-Hilaly heh, sorry to be all like "noooooo", then your PR immediately was merged. 😊 This one is all yours if you'd still like to work on it!

[2018-06-22 16:24] MHBauer commented on #2036
Entire test disabled by #2143, need to review the necessity of the test.

[2018-06-22 16:43] MHBauer opened #2151 "send required SpaceGUID during tests"
follow up for #2103 to resolve the `// TODO SpaceGUID` comments.

part of #2128

[2018-06-22 18:29] carolynvs opened #2152 "Support namespace-scoped classes in svcat get"
🛑 This depends upon WIP work in https://github.com/kubernetes-incubator/service-catalog/pull/2116. Please don't start until that's merged.

Currently `svcat get class NAME` is written to work only with cluster-scoped service classes. Now that we support namespace-scoped broker resources, this command should be extended to understand both types `ClusterServiceClass` and `ServiceClass`.

[code]

* `

[2018-06-23 04:37] MHBauer commented on #2062
there are some less than optimal things we're doing in the build with the makefile and go install, and the various contortions it would take to get it working better are better spent on waiting for k8s 1.11 to release and then doing #2127

[2018-06-23 09:58] A-Hilaly commented on #2144
@carolynvs No worries, my mistake posting too fast 😄  ! i'll open a PR soon !

[2018-06-25 07:45] #2119 closed

[2018-06-26 12:20] #2124 closed

[2018-06-26 14:40] #1727 closed

[2018-06-26 14:44] carolynvs opened #2156 "Document catalog relist restrictions"
We implemented restricting which classes and plans are made available through service catalog in #1773, but no one knows about it or how to use it. Let's add some docs explaining how to register a broker and add restrictions.

[2018-06-26 16:18] kargakis opened #2157 "make build fails"
[code]

On Centos 7

[2018-06-26 18:16] jberkhahn commented on #1807
/dibs

[2018-06-26 23:53] MHBauer commented on #2157
/assign @duglin
as he has seen this. I can't remember the workaround quick resolution. I think it has something to do with docker versions and the `-f` flag that's passing in the Dockerfile and also being given a context.

[2018-06-27 10:12] propyless commented on #942
Ah ok, interesting. then we probably had different issues all together. :)

[2018-06-27 15:20] MHBauer commented on #2062
@carolynvs now XBUILD is timing out. go build and test is down to under 40minutes, anything we can move back to that?

[2018-06-28 02:06] kikisdeliveryservice commented on #1853
#dibs

[2018-06-28 02:39] kikisdeliveryservice commented on #1853
@n3wscott, @carolynvs
In my last PR, I updated --params to accept lists. So the new format is:
-p colors=red -p colors=blue -p somethingelse=banana -->
map{colors: [red, blue], somethingelse:banana}

So for our new dot syntax:
--param foo.bar=baz --param foo.fighters=everlong
you want:
map{foo: {bar: "baz", fighters: "everlong"}}

but what if:
--param foo.bar=baz --param foo.fighters=everlong **--

[2018-06-28 05:31] MHBauer commented on #2127
must be at least golang v1.10.2 per https://github.com/kubernetes/community/pull/2318

[2018-06-28 06:44] jichenjc commented on #2157
I had same issue, by doing this , I can start build now

--- a/Makefile
+++ b/Makefile
@@ -197,7 +197,7 @@ $(BINDIR):

 .scBuildImage: build/build-image/Dockerfile
        sed "s/GO_VERSION/$(GO_VERSION)/g" < build/build-image/Dockerfile | \
-         docker build -t scbuildimage -f - .
+         docker build -t scbuildimage -f build/build-image/Dockerfile .

[2018-06-28 15:45] carolynvs commented on #2157
This is caused by having a really old docker client version.

[2018-06-28 16:43] MHBauer opened #2165 "move apiserver health checker test to `contrib/hack/test-apiserver.sh`"
Changes in the upstream code flow means that we hit this line when the apiserver's storage doesn't come up at startup.
https://github.com/kubernetes/kubernetes/blob/v1.11.0/staging/src/k8s.io/apiserver/pkg/registry/generic/storage_decorator.go#L57

I think the test needs to successfully start the apiserver with etcd, then take etcd down and call healthz. That should sucessfully test the scenario a

[2018-06-28 16:44] jberkhahn opened #2166 "Make Svcat print help text when a command is entered incorrectly"
Currently it just tells me the one specific thing I did wrong:
[code]
This leads to getting it wrong several times in a row to figure out what the actual syntax is:
[code]

It would be helpful if it spit out the help text with examples so I could know how to enter it correctly, as currently I pretty much always follow up an incorrectly entered command with -h.

Desired UX:
[code]

This could be pr

[2018-06-28 18:17] shahiddev opened #2167 "Create chocolatey package for svcat installation on Windows"
It would be awesome if we had a chocolatey package to install svcat on Windows
(could have sworn I saw this as an issue in the past but cannot find it now).

[2018-06-29 10:15] jichenjc commented on #2157
I believe we need document this restriction because as you can see, my docker version is 1.13.1

root@ubuntu1:~/go/src/github.com/kubernetes-incubator/service-catalog# docker --version
Docker version 1.13.1, build 092cba3

if we think it's because older version docker, we should at least document in development guide..

[2018-06-29 15:48] carolynvs commented on #2157
I'll update the docs. That command requires docker 17.05 and up.

See https://github.com/moby/moby/issues/19197#issuecomment-329974121 for context.

[2018-06-29 16:33] jpeeler commented on #1954
For your ServiceBindingUsage, it sounds like the best option is #1. I'm thinking that would require setting the owner reference to point to the Service Binding and setting a foregroundDeletion finalizer on the binding. Would that work?

[2018-06-29 17:13] #2157 closed

[2018-07-02 17:10] MHBauer commented on #2062
during integration tests, we should reuse the generated certs, or check in some dummy copy to use (being careful to regenerate them periodically if we put a time limit on them). it's a very expensive operation.

[2018-07-02 20:43] #800 closed

[2018-07-03 23:29] MHBauer commented on #778
This could also be a good thing for prow to have.

[2018-07-04 13:22] sgandon commented on #1892
is there anywhere I can find a documentation on the credentials remapping ?
thanks.

[2018-07-05 19:12] MHBauer opened #2183 "refactor kubeconfig loader into `pkg/util/kube`"
See https://github.com/kubernetes-incubator/service-catalog/pull/2158 for some history of this code.

Right now code in `pkg/svcat/` is relied upon by the apiserver and the e2e tests. It's not hurting anything as it is, but it could be put into a better place.

Tasks for completing this issue:
 - [x] Move the code from `pkg/svcat/kube/kube.go` to  `pkg/util/kube/kube.go` and fixup all the imports.

[2018-07-06 23:31] MHBauer commented on #2127
closed by #2182
/close

[2018-07-06 23:31] #2127 closed

[2018-07-09 17:17] MHBauer opened #2184 "Make e2e run on prow (was: jenkins stuck for a week - who has perms?)"
Jenkins seems stuck processing https://github.com/kubernetes-incubator/service-catalog/pull/2177#issuecomment-403530453 for the last week. No newer PRs have been handled.

https://service-catalog-jenkins.appspot.com/job/service-catalog-master-testing/

Is @kibbles-n-bytes the only person with permissions? Is the only solution here moving towards prow?

[2018-07-09 17:52] MHBauer opened #2185 "look through our unit tests for table driven tests with named test cases and convert to use go testing subtests"
The go testing feature is described https://blog.golang.org/subtests

This feature allows exactly specifying a test to run, and nice output that shows exactly which test case is failing.

We have some of these already, for example https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.23/pkg/controller/controller_instance_test.go#L559-L560

Easy way to find examples where this is **alre

[2018-07-09 17:55] MHBauer commented on #806
@carolynvs @jberkhahn is svcat our solution for this?

[2018-07-09 17:59] MHBauer commented on #451
The pretty context-builder handles this. Not sure if we need to consider implementing `String()` anymore, use of go-spew or other libraries.

https://github.com/kubernetes-incubator/service-catalog/tree/v0.1.23/pkg/pretty

[2018-07-09 17:59] #451 closed

[2018-07-09 18:05] MHBauer commented on #2104
Two newer releases and no follow-up.

[2018-07-09 18:05] #2104 closed

[2018-07-09 18:12] MHBauer commented on #1397
Needs more detail.

[2018-07-09 18:20] MHBauer commented on #1041
current proposed solution is CRD plus webhooks
https://github.com/jpeeler/podpreset-crd

[2018-07-09 19:03] MHBauer commented on #811
This needs to be done upstream https://github.com/pmorie/go-open-service-broker-client/issues/126

[2018-07-09 19:34] MHBauer commented on #987
TPR is out, so no transition to do, wholly replaced by #1088, #1087 can be a subtask of #1088

[2018-07-09 19:34] #987 closed

[2018-07-09 19:43] MHBauer commented on #2059
There's two CRD flows being conflated here:
1. The existing issues are for CRD as a backing store, behind the existing APIServer, and requiring no changes in the controller code. The migration between these two stores wouldn't be done by our code, but by a separate tool.
2. Native CRD model, would eliminate the need for the APIServer at all, and would mean that the Controller natively speaks CRD r

[2018-07-09 19:54] jberkhahn commented on #806
yes?

[2018-07-09 20:16] MHBauer commented on #1247
An array because that's what javascript supported, not because the order is important.

[2018-07-09 20:16] #1247 closed

[2018-07-09 20:17] MHBauer commented on #1246
How about now? I just finished getting API Aggregation support enabled on IKS.

I think this is probably best solved by moving to prow.

[2018-07-09 20:20] MHBauer commented on #1276
#1150 is the PR

[2018-07-09 20:20] MHBauer commented on #1276
https://github.com/kubernetes-incubator/service-catalog/pull/1250#discussion_r140913495 is the comment

[2018-07-09 20:22] MHBauer commented on #1276
`grep 'func assert.*InProgressProperties' -B2 pkg/controller/controller_test.go` shows what needs commenting.

[code]

[2018-07-09 20:24] MHBauer commented on #1279
I think completed by the pretty context-builder handles this.

https://github.com/kubernetes-incubator/service-catalog/tree/v0.1.23/pkg/pretty

[2018-07-09 20:24] #1279 closed

[2018-07-09 20:40] MHBauer commented on #1401
This is the code to update
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.23/pkg/controller/controller_instance.go#L1786-L1810

[2018-07-09 20:50] MHBauer commented on #1407
#1412 appears so be followup with tests.

[2018-07-09 20:50] #1407 closed

[2018-07-09 20:57] MHBauer commented on #1391
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.23/test/integration/deleted_services_and_plans_test.go looks to cover removal of services and plans.

https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.23/test/integration/controller_instance_test.go#L557-L749 looks to cover updating plans.

I think service changing is the only thing left.

[2018-07-09 21:06] MHBauer commented on #1590
We can't prevent the instance from being marked for deletion right now, but it should not get deleted until the last binding is gone.

[2018-07-10 02:39] MHBauer commented on #315
since it's CI can we use something like https://github.com/lachie83/k8s-kubectl ?

[2018-07-10 23:15] jberkhahn opened #2189 "Service Catalog should support User-Provided-Services in a more robust manner"
Service catalog should support User-Provided-Services, a concept where service instances and bindings can exist without a parent broker, class, or plan. This is used in the case where a user might have some pre-existing service that they wish to manage and use with the service-catalog lifecycle.

The current UPS broker is an ephemeral implementation that does not attempt to implement this capabili

[2018-07-10 23:16] carolynvs commented on #1807
In addition to the flags noted above `register` and `deregister` should support the `--wait` related flags.

[2018-07-11 20:41] jeremyrickard opened #2191 "Prototype Moving Service Catalog to CRD"
CRDs are at a point where it makes sense to prototype what it looks like to migrate Service Catalog from using an Aggregated API server toward using CRDs. We should do a prototype of this transition and review it with the larger SIG group.

List of things missing from CRDs that are provided by aggregated APIServer Implementation:
 - custom sub-resources
 - custom field selectors

[2018-07-11 20:43] carolynvs commented on #2191
/cc @n3wscott

He already had a prototype a while back, k8s has revved since then but he may have some pointers or patches we can start off from.

[2018-07-11 20:54] MHBauer commented on #2107
/shrug

[2018-07-11 20:55] MHBauer commented on #2191
#2059 handles this exact scenario

[2018-07-11 20:59] jeremyrickard commented on #2191
@MHBauer I was going to start prototyping:

I wasn't going to tackle doing a migration, just what an implementation using only CRD and related CRD-speaking controller(s) might look like. I'm happy to close this and use the other to track it. Ya'll can make the call :)

[2018-07-11 21:11] MHBauer commented on #2191
Ya, I would hook up with @n3wscott

[2018-07-11 21:15] jeremyrickard commented on #2191
@MHBauer @carolynvs I'll synch up with @n3wscott on the k8s slack! Thanks for the tip!

[2018-07-11 21:21] MHBauer commented on #2191
Further, my interpretation of conversation at the F2F is that this is the only thing we want to even try.

No CRD backed storage in any way.

Included in this may be some necessary API changes if we do decide to drop APIServer.

[2018-07-12 13:04] jeremyrickard opened #2193 "Helm Chart Does Not Create RBAC For Namespace Scoped Resources"
# Bug Report

**What happened**:

After deploying v0.1.24 with the namespaced broker enabled flag on a cluster with RBAC, service catalog experienced 40x errors while trying to work with Namespace scoped catalog resources. No serviceclass or serviceplan resources were created.

**What you expected to happen**:

ServiceClass or ServicePlan resources were created.

**How to reproduce it (as minimall

[2018-07-12 13:04] jeremyrickard commented on #2193
#dibs

[2018-07-12 14:16] jeremyrickard opened #2195 "We should allow the helm chart to be "released" independently of the service catalog release"
We currently pin the version of the helm chart to the version of service catalog:

[code]
The version string gets updated when the release happens.  When issues like #2193 occur, this means the Chart remains broken until we do a new release.

Helm allows you to specify both a Chart version (`version`) and the version of the associated application (`appVersion`).

I propose that we introduce an `ap

[2018-07-12 16:39] MHBauer commented on #2193
are ns resources finished? I would only expect this if everything is considered finished. If it's not on the existing list of things to do for ns resources, it ought to be.

[2018-07-12 16:43] jeremyrickard commented on #2193
So there are a few things to consider here.

1.) We *do* expose the feature gate via the Helm chart. This enables you to turn on the feature, but we *don't* create the RBAC so it turns on in a completely broken manner in any cluster with RBAC.
2.) This *conditionally* adds the RBAC resources if RBAC is enabled AND you've signaled that you want to turn that feature on. I think this is acceptable. O

[2018-07-12 16:58] eriknelson commented on #2193
+1 to this statement. We've also been able to run e2e tests and are expecting to get this under some openshift QE once the code is released here with 0.1.24 and brought into Origin.

[2018-07-12 17:06] MHBauer commented on #2193
What is full e2e mean in this case? I see no e2e tests that exercise this?

[2018-07-12 17:12] jeremyrickard commented on #2193
Manual e2e in my case.
* Create Namespaced Broker
* Verify Namespace Scoped Classes and Plans are created
* Provision an instance within the namespace containing the broker/class/plans.
* Bind to instance.
* Attempt to provision an instance within a different  namespace than the one containing the broker/class/plans, this fails.

I agree we should not remove the feature gate until we have automate

[2018-07-12 19:23] jboyd01 commented on #2193
Nice Jeremy.  My understanding is we're ready to get some testing, use and refinements on this feature, including svcat as Jeremy mentioned and adding automated tests.

[2018-07-12 19:29] eriknelson commented on #2193
I mentioned we needed some more comprehensive integration testing in this project recently at Red Hat and I think @jmrodri started to investigate what that would look like. Sounds like an issue makes sense and we'll certainly help with any efforts.

[2018-07-12 20:55] Bubblemelon commented on #2183
@MHBauer Hello. I'm interested in getting this done :smile:

And you mean [`client-go/tree/tools/clientcmd` ](https://github.com/kubernetes/client-go/tree/master/tools/clientcmd) instead of `go-client` ?

[2018-07-12 21:06] MHBauer commented on #2183
@Bubblemelon go for it. you can have it. the clientcmd thing looks correct. I just wrote this off the top of my head.
Good Luck We're here to help.

[2018-07-12 21:29] #2193 closed

[2018-07-12 21:51] MHBauer commented on #2193
https://github.com/kubernetes-incubator/service-catalog/issues/2193#issuecomment-404584017
Yes, e2e should be part of the requirements list.

[2018-07-13 04:08] MHBauer commented on #2195
right now the chart release is tied to creating a tag.

we'll have to adjust this logic for this to be possible.

[2018-07-13 10:05] jichenjc commented on #2185
I will try to work on that

[2018-07-13 10:21] jichenjc commented on #1905
so we should use brokerRelistInterval  to set as default value of relistDuration  ? and 15 min can be used if no brokerRelistInterval   given?

[2018-07-16 06:19] sarosejoshi opened #2199 "Cannot grant the specified IAM service account appropriate permissions"
# Bug Report

**What happened**:

Tried the following. It creates the pubsub resources, service account secret with service account privatekeys however the service account roles are not binded.

[code]

**What you expected to happen**:

``pubsub-sa``` service account should have the roles

[code]

**How to reproduce it (as minimally and precisely as possible)**:

I am using GCP. I  have shared the

[2018-07-16 09:54] ageekymonk opened #2200 "Replace usage of realpath for maintaining osx compatibility"
# Bug Report

**What happened**:
In OSX, realpath is not part of the standard installation. Due to this we are not able to create a brew formula for osx. https://github.com/Homebrew/homebrew-core/pull/29646

**What you expected to happen**:
Replace realpath with bash string manipulation or something similar

[2018-07-16 16:53] MHBauer commented on #2200
In the linked PR, not sure why you want to run `make .generated_files` at all. Everything generated should be checked in.
/assign @carolynvs

[2018-07-16 17:02] carolynvs commented on #2200
@MHBauer Thanks for looping me in! I've worked with homebrew a bunch before on similar stuff so I can help shepherd getting their PR merged over there.

As you pointed out, our generated files are checked in so this issue can be closed. @ageekymonk I'll work with you on the homebrew PR to unblock you on whatever you need in order to get your homebrew PR merged.

[2018-07-16 17:02] #2200 closed

[2018-07-16 17:02] MHBauer commented on #2199
I am not sure anyone here will debug v0.1.1
I do not have a GCP account.

Here is my best guess:
Since these roles are parameters, they are arguments to the backing broker, thus the broker is the one who should be applying the roles, not service-catalog. Can you check the broker to make sure it is getting the parameters?

[2018-07-16 17:03] MHBauer commented on #2200
Is the brew formula something we (service-catalog project) should own?

[2018-07-16 19:16] carolynvs commented on #2200
Homebrew encourages the community to support and maintain their formulas. Having the formula come from the community (and I checked it out, it follows their template for Go pretty much to a T), is a good thing. 💖

[2018-07-16 19:49] jeremyrickard opened #2202 "Document Namespaced Service Broker Resources"
We have recently been adding a few new namespaced types (broker, class, plans) to Service Catalog. These look to be mostly feature complete, and reside behind a feature flag. The Helm chart has been updated to allow the user to toggle this flag, so people could begin using it. However, we have not really provided any real documentation on this new feature. We should add relevant information to the

[2018-07-16 19:53] jeremyrickard opened #2203 "Document `CatalogRestrictions` on Broker resource"
Some time ago, a new feature to allow users to introduce restrictions on what was added to the catalog on a broker relist. We should document this so users can make use of it.  Update existing docs to have references in relevant locations.

[2018-07-16 19:58] jeremyrickard commented on #2203
oops this is a dupe of #2156

[2018-07-16 19:58] #2203 closed

[2018-07-17 16:15] MHBauer opened #2207 "create PR_TEMPLATE with maintainer checklist"
Action Item from 2018-07-16 meeting.

We hope that having a checklist will encourage PR creators to have docs for their PRs with new functionality.

/assign @MHBauer

[2018-07-17 17:37] #2207 closed

[2018-07-17 21:14] jeremyrickard opened #2209 "Extend Catalog Restrictions to include spec.Free for [Cluster]ServicePlans"
When applying catalog restrictions, the current properties of the plan can be used:

[code]

It would be cool to also extend this to allow the user to specify they only want free plans (spec.Free)

[2018-07-17 22:34] jeremyrickard commented on #2209
#dibs

[2018-07-18 23:19] #2202 closed

[2018-07-19 01:02] jeremyrickard commented on #2141
#dibs

[2018-07-19 03:50] jichenjc commented on #2166
made a minor change, and UT now succeed , hopefully better now ...

ok      github.com/kubernetes-incubator/service-catalog/cmd/svcat       7.238s

[2018-07-19 15:51] carolynvs opened #2215 "Add Scope and Namespace fields to svcat describe class output"
🚨  Don't start on this issue yet. It relies on new code being added in an active pull request: https://github.com/kubernetes-incubator/service-catalog/pull/2116 🚨

___

The describe output should indicate if a class is cluster or namespace scoped, and optionally include the Namespace field if the class has a namespace

[code]

The code that needs to be updated is
https://github.com/kubernetes-incu

[2018-07-19 15:53] carolynvs opened #2216 "Add Scope and Namespace fields to svcat describe plan"
~~🚨  Don't start on this issue yet.~~ **Merged, Ready to Go!**  It relies on new code being added in an active pull request: https://github.com/kubernetes-incubator/service-catalog/pull/2116 🚨

This is the same as https://github.com/kubernetes-incubator/service-catalog/issues/2215 but for plans instead of classes. I recommend waiting for that one to be complete and merged, then use it as a startin

[2018-07-19 15:56] carolynvs opened #2217 "Add a Source column to svcat describe class/plan that indicates it's user defined"
The source column should display `broker` when it has a controller reference to service catalog and otherwise should display `user`.

[code]

We have the following function to tell if it is a user-defined resource or managed by service catalog

https://github.com/kubernetes-incubator/service-catalog/blob/6dfe967d8041ef707af9446eddff8b2de944ee88/pkg/controller/controller_clusterservicebroker.go#L77

[2018-07-19 17:17] carolynvs opened #2218 "Include namespace-scoped brokers in svcat get brokers"
You may want to look at https://github.com/kubernetes-incubator/service-catalog/pull/2116 where I'm making the same changes for classes for an example.

[code]

* Cluster scoped brokers are always listed
* The namespaced interface should be implemented

[2018-07-19 20:36] #2209 closed

[2018-07-19 21:57] kibbles-n-bytes commented on #1246
This was fixed long ago.

[2018-07-19 21:57] #1246 closed

[2018-07-19 23:00] MHBauer opened #2221 "Why do we send namespace.UID ? Consider changing directly to namespace."
As part of https://github.com/kubernetes-incubator/service-catalog/pull/577 we send the `UID` of the kubernetes namespace. As far as I understand, UID is not meant to be interacted with in any external or user way. I believe it is for internal kube use only and possibly an artifact of etcd or storage for that layers use.

For a user to use this they currently have to iterate through all of the nam

[2018-07-19 23:40] duglin commented on #2221
The should be using org and space GUID they should be used the namespace in the context object. We even say so in the spec.  Putting a non GUID in a field called GUID will be kind of weird.

[2018-07-23 15:53] carolynvs commented on #2156
Closed by https://github.com/kubernetes-incubator/service-catalog/issues/2203

[2018-07-23 15:53] #2156 closed

[2018-07-23 15:54] carolynvs commented on #2218
#dibs

[2018-07-23 18:37] carolynvs commented on #2221
@duglin I don't understand your comment above?

From a pure k8s perspective, people shouldn't be using the resource uid directly, and we should be giving them the name instead. So my vote is +1 for this issue.

[2018-07-23 18:45] duglin commented on #2221
@carolynvs Sorry -  I fixed the typos.  People should not be using the org/space fields from the normal message body, they should be using the values in the context property. The org/space fields are deprecated in favor of the context ones.

As for what to put in these "deprecated" fields... for the most part it doesn't matter since people should not be looking at them, especially if they're a Kub

[2018-07-23 19:33] carolynvs commented on #2221
OH! I'm glad you clarified that makes much more sense. 😀

[2018-07-23 21:13] MHBauer opened #2229 "Implement Matrix of Deleting Things - recursive namespace deletion decision from F2F"
During the F2F meeting we decided that object that owns other objects should recursively delete everything they own if they are deleted.

See the [Matrix of Deleting Things](https://docs.google.com/document/d/185JvLebEVmnMe-ptm15CRjJs2BVk3cTS0TcjrIURic4/edit#)

[2018-07-24 10:18] jichenjc commented on #2215
I can do it
/dibs

[2018-07-24 13:52] #2025 closed

[2018-07-24 14:59] #2114 closed

[2018-07-24 16:46] #2166 closed

[2018-07-24 20:56] MHBauer commented on #2221
The fields are specified as "MUST be a non-empty string". The name of the field implies guid, but nothing in the spec requires any particular format.

[2018-07-24 20:58] MHBauer commented on #2221
We should place a link to https://github.com/openservicebrokerapi/servicebroker/blob/v2.14/profile.md#kubernetes-context-object in the source code where people may see the ns.id and think to do a lookup based upon it.

[2018-07-24 21:09] MHBauer commented on #2221
created https://github.com/pmorie/go-open-service-broker-client/issues/127 for users of that client

[2018-07-24 21:10] MHBauer commented on #2221
I think @carolynvs said someone had docs on this, and I think it was @jeremyrickard so
/assign @carolynvs @jeremyrickard
to watch over that half of the process.

[2018-07-24 21:11] carolynvs commented on #2221
Yup! I have it on my plate to make a follow-on issue for the docs to create a section for people developing brokers that work well with k8s.

[2018-07-24 21:17] carolynvs opened #2233 "Add section to our site for people writing brokers"
We should add a section to the docs homepage with information for people writing brokers

* Best practices about what info we stuff into the context https://github.com/kubernetes-incubator/service-catalog/issues/2221.
* Pointers to the osb-starter-pack, and the server/client libs.
* Link to osbkit, and minibroker as examples

[2018-07-25 04:12] jeremyrickard commented on #2233
Should we limit this to osb-starter-pack and server/client libs? I think for Go these are probably the best. Should we include other languages (i.e. Pivotal has this via Spring https://github.com/spring-cloud/spring-cloud-open-service-broker)

[2018-07-25 18:00] jboyd01 commented on #2092
closed by #2109

[2018-07-25 18:00] #2092 closed

[2018-07-26 00:31] MHBauer commented on #2062
we generate a new encryption key for each apiserver invocation during the integration tests. We should reuse the same key once we've generated it the first time.

[2018-07-27 15:06] carolynvs opened #2239 "Test Flake: TestUpdateServiceInstanceNewDashboardResponse"
If you see the integration build fail with an error similar to below, please comment with a link and the test output so that we can track it down.

[code]

[2018-07-27 18:08] MHBauer commented on #2239
I skimmed it the first time I saw it, and this looks like we're overloading etcd again, or leaving too many connections open.

[2018-07-27 18:09] MHBauer commented on #2036
closed by #2153

[2018-07-27 18:10] MHBauer commented on #2036
/close

[2018-07-27 18:10] #2036 closed

[2018-07-27 18:10] MHBauer commented on #2233
#1678

[2018-07-30 04:03] nilebox opened #2242 "Orphan mitigation could break the migration case"
We have a migration use case, when we have existing provisioned OSB instances that we migrate to Service Catalog.
We've found a potential problem with orphan mitigation:
1. User creates a ServiceInstance with manually set `spec.externalID` pointing to an existing instance.
2. Service Catalog sends a provision request to the broker, and gets `500 Internal Server Error` back, or even request just ti

[2018-07-30 04:15] nilebox commented on #2242
Given that we need to disable orphan mitigation for **migrated instances only**, it should probably be a flag in the ServiceInstanceSpec.

[2018-07-30 08:32] ash2k commented on #2242
A better option is to let the broker return this information as part of `/catalog` response (per class?).

[2018-07-30 10:19] nilebox commented on #2242
Possibly, but it will take more time and effort (so it would be nice to support setting the flag explicitly until a new OSB version is released with this new field).

Also, even if the broker does need orphan mitigation, there is still a migration use case when orphan mitigation is unwanted.

[2018-07-30 12:16] duglin commented on #2242
Can’t you use a UPS instead?

[2018-07-30 14:45] nilebox commented on #2242
@duglin No, we want instances to be managed via Service Catalog and actual brokers the same way as the ones provisioned via Service Catalog, i.e. it's a one-time migration from our internal system to Service Catalog. After migration we will allow updating parameters, deprovisioning, creating new bindings etc.

[2018-07-30 14:47] duglin commented on #2242
I believe MSFT has a similar use case and are working on a UPS that does all of the normal management stuff, but skips the provision step.  @jeremyrickard do I have that right?

[2018-07-30 14:58] nilebox commented on #2242
@duglin I'm not sure how broker can fix the problem. Even if provisioning is a no-op on the broker side, it could still fail with some temporary 5xx error, or request timeout. In that case, Service Catalog will start an orphan mitigation, which on the broker side looks like a normal deprovisioning request.

So I believe this issue can only explicitly be solved by Service Catalog, not by the broker

[2018-07-30 15:58] duglin commented on #2242
Yeah, that's true - if I'm understanding the flow properly. One thing some of us have been advocating is that UPS not be implemented as an add-on Broker. Rather, they be something that is well-known to the controller - that would avoid this 5xx situation. And it seems to me that if we went down that path then we could support your case as well as the normal UPS case more easily with a lot less ove

[2018-07-30 19:32] carolynvs commented on #2152
This was fixed by #2116

[2018-07-30 19:32] #2152 closed

[2018-07-30 19:38] carolynvs opened #2243 "Support namespace scoped plans in svcat"
Currently `svcat get plans` is written to work only with cluster-scoped service plans. Now that we support namespace-scoped broker resources, this command should be extended to understand both types `ClusterServicePlan` and `ServicePlan`. See #2152 as a reference, where we implemented this for `svcat get classes`.

[code]

* `--scope` is a boolean flag that needs to be added to this command follow

[2018-07-30 20:18] jberkhahn opened #2244 "Remove alpha-feature flag for Namespaced Brokers"
Is this ready all the way through? Can the feature flag be removed?

@eriknelson thoughts?

[2018-07-30 20:25] MHBauer commented on #1362
/close
svcat automatically pulls the appropriate classes for display

[2018-07-30 20:26] #1362 closed

[2018-07-30 20:28] MHBauer commented on #1200
/close
server-side complete, docs partially complete, client side in progress

[2018-07-30 20:28] #1200 closed

[2018-07-30 20:29] MHBauer commented on #1197
from meeting 2017-07-30, needs requirements and more details

[2018-07-30 20:32] MHBauer commented on #942
/assign @jboyd01
to follow up

[2018-07-30 20:35] MHBauer commented on #1634
/assign @jboyd01

[2018-07-30 20:51] jboyd01 commented on #1634
Of the PRs listed by Paul in https://github.com/kubernetes-incubator/service-catalog/issues/1634#issuecomment-355176788 only  56434 is still open, the others have been merged.  Also https://github.com/kubernetes-incubator/service-catalog/pull/2091

@luksa

[2018-07-30 21:01] #2111 closed

[2018-07-30 22:56] Bubblemelon commented on #2183
@MHBauer for item 2 on the to do list.

[2018-07-30 22:59] Bubblemelon commented on #2183
Hello @MHBauer :smile:

For clarity on item 2 in the to do list, are you suggesting to find other projects that might want to utilize `go-client`? Could you elaborate on this task?

[2018-07-31 00:00] MHBauer opened #2246 "charter should use a better voting method"
Currently among maintainers it's 50% majority. This is fine for topics with only two choices. When there are multiple choices we should use a form of ranked voting. I propose the use of https://civs.cs.cornell.edu/ with the same configuration that core kubernetes uses.

[2018-07-31 11:59] wayilau opened #2247 "Liveness probe failed"
# Bug Report
I install service catalog with helm ， i met some problems, apiserver and controller both occur "Liveness probe failed", pod status is CrashLoopbackOff.
**What happened**:
i also can not use kubectl get clusterservicebroker, tell me not match as resource not exists。
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
follow the walkthroug

[2018-07-31 12:39] eriknelson commented on #2244
@jberkhahn I'd consider it feature complete, and we've had a few people experimenting with success. I don't have any concrete reason to keep it behind the gate, except that it simply hasn't had a ton of usage in the wild yet.

[2018-07-31 16:25] #2218 closed

[2018-07-31 16:42] MHBauer commented on #2244
an alternative is to change the default to enabled for a few releases.

not sure what happens if you try and flag a a flag that doesn't exist. might cause problems for those not using the helm charts.

[2018-07-31 17:15] jboyd01 commented on #2244
I'm pretty certain the server will bomb out with unrecognized flag error.   I think we just toggle it to default to true for now.  This was done with Originating Identity:  https://github.com/kubernetes-incubator/service-catalog/blob/f6f0e41fae6c4f1bdc5c507942ee7f1719555a19/pkg/features/features.go#L83-L90

[2018-07-31 17:17] eriknelson commented on #2244
Sounds reasonable to me.

On Tue, Jul 31, 2018 at 1:16 PM Jay Boyd <notifications@github.com> wrote:

[2018-07-31 17:29] jboyd01 commented on #2246
Even with a majority vote, it would be beneficial to use a voting website.  There are a lot of free polling/survey apps out there that would make this easier and clearer.  I imagine we'd want to lock it down voting by email address, something that the SIG doesn't collect/expose AFAIK.

[2018-07-31 19:39] jboyd01 commented on #942
I discussed with pmorie and given the age of this issue and progress made with catalog in terms of bug fixes and reliability and the lack of recent issues with current versions of the software (Catalog was in Alpha back in OpenShift 3.7) I'm going to close this issue.  We've certainly seen issues where if a broker is unable to delete a resource (or gives catalog an error on a delete request) the r

[2018-07-31 19:39] #942 closed

[2018-08-01 05:19] nilebox opened #2249 "Don't try to create new objects in namespace that is being deleted"
# Bug Report

**What happened**:
When namespace containing ServiceInstance is deleted, there are errors of creating Event object:

**What you expected to happen**:
Namespace deletion should be handled with no errors. When namespace is marked for deletion, you cannot create any new objects in it.

**How to reproduce it (as minimally and precisely as possible)**:
Provision a UPS ServiceInstance, the

[2018-08-01 06:43] nilebox opened #2250 "Add support for safe migration (import/export)"
We would like Service Catalog to support a "safe migration" (import/export) for `ServiceInstance` objects from other services (it could be another instance of Service Catalog, or Cloud Foundry, or any other implementation of OSB marketplace).

**What does "safe migration" mean?**
Ideally we would like to initially create a ServiceInstance with some `migrationMode: true` flag in its spec that guara

[2018-08-01 06:45] nilebox commented on #2242
@duglin I've created a separate issue to discuss proper support for migration in Service Catalog #2250

[2018-08-01 12:00] duglin commented on #2250
I've wondered what the usecases are for people setting `spec.externalID` - that ID really should just be for internal use. And if we did that, could we use that as the flag for migration instead of introducing a new one?

[2018-08-01 12:00] duglin commented on #2242
Does that mean we can close this one?

[2018-08-01 12:42] eriknelson opened #2251 "RelistDuration is incorrectly defaulted in the broker's controller"
# Bug Report

**What happened**:
It was brought to my attention that the `relistDuration` field is missing from a `kubectl edit` command if it hasn't been explicitly set, which surprised me as I expected that to be handled by the defaults. In fact, we're using an internal default value in the controller if the `RelistDuration` field is nil: https://github.com/kubernetes-incubator/service-catalog/b

[2018-08-01 13:13] duglin commented on #2251
/cc @MHBauer

[2018-08-01 15:07] nilebox commented on #2250
@duglin yes, we only allow users to set `spec.externalID` (actually we've internally developed additional admission webhook that validates that another system does have an OSB instance with this ID, and that the user owns it, when custom `spec.externalID` is set by user).

We don't need a flag for migration forever though. Once the migration is done and we disabled or deleted the instance from the

[2018-08-01 15:42] MHBauer commented on #1086
/close

[2018-08-01 15:42] #1086 closed

[2018-08-01 15:43] MHBauer commented on #2251
Per the [original description of the feature](https://github.com/kubernetes-incubator/service-catalog/issues/1086), duration is optional and defaults.

Working as designed.
/close

[2018-08-01 15:43] #2251 closed

[2018-08-01 15:59] MHBauer commented on #2247
We need logs for the apiserver and controller.

[2018-08-01 16:00] MHBauer commented on #2249
Where should we be creating these? It seems like if this fails, then we should be creating all events that are currently in a namespace somewhere else.

[2018-08-01 16:27] nilebox commented on #2249
Agreed, we may use some dedicated fallback namespace for events, e.g. namespace where Service Catalog itself is deployed.

[2018-08-01 16:30] nilebox commented on #2242
Probably yes, it is a subset of #2250.

[2018-08-01 16:30] #2242 closed

[2018-08-01 17:07] ash2k commented on #2250
Also related to controlling ability to set external id https://github.com/kubernetes-incubator/service-catalog/issues/1928

[2018-08-01 18:55] jboyd01 opened #2252 "Enable Originating Identity by default"
<HOLD> We should get agreement at the next SIG Catalog meeting on this.

Remove the FeatureGate from the helm charts and update the feature to be true by default.

change default to true:
 https://github.com/kubernetes-incubator/service-catalog/blob/f6f0e41fae6c4f1bdc5c507942ee7f1719555a19/pkg/features/features.go#L83-L90

Remove feature gate from values and api-server and controller charts:
https

[2018-08-02 08:15] nilebox opened #2253 "Panic when async operation exceeds the ReconciliationRetryDuration"
# Bug Report

**What happened**:
One `ServiceInstance` was stuck in the "The instance is being provisioned asynchronously" state for a week:
[code]
Once the week has passed (today), Service Catalog controller-manager started crashing in the `CrashLoopBackoff`.
After analyzing logs, we've found that the panic is due to nil pointer dereferencing in the line https://github.com/kubernetes-incubator/se

[2018-08-02 10:10] nilebox opened #2254 "Orphaned Service Catalog objects after Namespace deletion during Service Catalog API server outage"
# Bug Report

**What happened**:
During Service Catalog API server outage, namespace deletion proceeds without waiting for Service Catalog objects to finish their deletion.

**What you expected to happen**:
1. Namespace shouldn't proceed with deletion during Service Catalog outage. We may add Service Catalog finalizer to every namespace to achieve this.
2. Otherwise, when we reconcile Service Cata

[2018-08-02 10:25] nilebox commented on #2254
The issue is caused by the `Namespace` controller deletion logic:
- Namespace controller fetches a list of resource types (`GroupVersionResource`) supported by every API server via fetching an `APIResourceList` object, see https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/namespace/deletion/namespaced_resources_deleter.go#L484
- Then, for every `GroupVersionResource` it will issu

[2018-08-02 10:33] nilebox commented on #2254
While this issue may sound like a very rare corner-case, in reality it's easy to run into this issue with long asynchronous operations and finalizers. Example:

1. `ServiceInstance` is created, and asynchronous provisioning is started.
2. Namespace is marked for deletion, and remains in `Terminating` state, because `ServiceInstance` has a `kubernetes/service-catalog` finalizer which blocks its del

[2018-08-02 11:16] nilebox opened #2255 "Cannot delete ServiceInstance when namespace is missing"
# Bug Report

**What happened**:
When namespace is missing due to #2254, Service Catalog rejects request to delete `ServiceInstance`. The only way to fix this is to manually re-create the namespace, then deletion works fine.

**What you expected to happen**:
Deletion of ServiceInstance should not rely on the existence of namespace

**How to reproduce it (as minimally and precisely as possible)**:

[2018-08-02 11:26] duglin commented on #2254
Why does step 3 happen if svc-cat didn’t complete its job yet?

Sent from my iPad

[2018-08-02 11:27] duglin commented on #2254
Ah never mind, was reading emails out of order

Sent from my iPad

[2018-08-02 11:27] nilebox commented on #2255
Actually, I think it's this admission controller: https://github.com/kubernetes-incubator/service-catalog/blob/master/plugin/pkg/admission/namespace/lifecycle/admission.go

[2018-08-02 11:32] nilebox commented on #2255
The forked version of the namespace lifecycle admission controller is missing the upstream change https://github.com/kubernetes/apiserver/blob/master/pkg/admission/plugin/namespace/lifecycle/admission.go#L81-L84

We should either copy upstream changes, or get rid of our fork admission controller and replace with the upstream one.

[2018-08-02 11:44] liggitt commented on #2254
What version are you running? This should be leaving the API version registered and return 503 errors when accessed, which would fail resource discovery and block namespace deletion

[2018-08-02 14:50] nilebox commented on #2254
We are running k8s 1.11

@liggitt Based on the behavior I see, I think the `503` change you referenced only applies to a proxy that intercepts request to an actual API server, i.e. when you will try to fetch an `APIResourceList` from a missing API server, you will get `503` from aggregator without it sending actual request to the underlying server.

Namespace controller is not sending a request di

[2018-08-02 14:59] liggitt commented on #2254
It is possible that the command line api-versions command is tolerating a partial discovery error. The namespace controller does not. What is the content of the following endpoints:

/apis
/apis/servicecatalog.k8s.io
/apis/servicecatalog.k8s.io/v1beta1

[2018-08-02 15:14] nilebox commented on #2254
1. Raw output of `kubectl apiversions`

[code]

2. Namespace controller:
- Fetches initial list of `GroupVersionResource` from https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/namespace/deletion/namespaced_resources_deleter.go#L484
- Which is implemented here: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/core.go#L265
- That invokes this me

[2018-08-02 15:21] liggitt commented on #2254
Can you fetch the non-truncated output?

[2018-08-02 16:28] nilebox commented on #2254
@liggitt sure:

`/apis`
Response (`servicecatalog` is missing):
[code]

`/apis/servicecatalog.k8s.io`
Returns `404`

`/apis/servicecatalog.k8s.io/v1beta1`
Returns `503`

[code]

[2018-08-02 16:31] nilebox commented on #2254
k8s exact version:
[code]

[2018-08-02 16:39] nilebox commented on #2254
From `kubectl api-versions -v=8` I see that it's using `/api` and `/apis` endpoints. The second is missing `servicecatalog.k8s.io` API group in the response .

Namespace controller does the same (plus extra methods based on the list returned in `/apis`):
1. Function for fetching a list is set there: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/core.go#L265

[2018-08-02 17:16] #2244 closed

[2018-08-03 07:23] robertscherbarth opened #2257 "Add a dashboardURL row to svcat describe instances"
Hi,

i want to offer the user of a service broker the possibility to get a monitoring url via svcat. Something like this:

[code]

I have already codet it in a feature branch (https://github.com/robertscherbarth/service-catalog/tree/add-dashboard-url-svcat). I am not sure. Can i open an pull request without a issue?

[2018-08-03 14:35] #2255 closed

[2018-08-03 16:01] MHBauer commented on #586
Is this #2258 ?

[2018-08-03 16:01] MHBauer commented on #1812
#2258 does this for one controller.

[2018-08-03 17:31] MHBauer commented on #2257
Didn't look at the code.

A PR could be the way to go.

We've got the [devguide](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/devguide.md) for some details on contributing.

The biggest thing is probably the CLA if you haven't signed it.

/assign @carolynvs @jber

[2018-08-03 19:32] #2253 closed

[2018-08-03 20:25] jboyd01 opened #2260 "get -w gives an error on Plans, Classes, Instances and Bindings"
`get -w` fails for ServicePlans, ServiceClasses, ServiceInstances and Bindings (& the cluster version of these).
[code]

if you add --v 10 you can see more details:
[code]
ie `{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"field label not supported: metadata.name","reason":"BadRequest","code":400}`

I'll follow up with a simple PR, I've found the problem.

[2018-08-04 00:07] Bubblemelon commented on #2183
CC: @carolynvs

[2018-08-04 06:50] nilebox commented on #586
Based on the comment https://github.com/kubernetes-incubator/service-catalog/issues/586#issuecomment-287958020 I think we should close this issue. We've switched to the upstream `NamespaceLifecycle` admission controller in #2258, and sounds like Kubernetes doesn't automatically create namespaces anymore.

[2018-08-04 06:55] nilebox commented on #1812
@MHBauer Since rebasing Service Catalog on k8s 1.10 and based on #2258 looks like there's no code change needed to enable these admission controllers. And `ValidatingAdmissionWebhook` and `MutatingAdmissionWebhook` are already enabled by default, I believe (i.e. you would need to explicitly disable them if you don't want them).

I'm closing this issue.

[2018-08-04 06:55] #1812 closed

[2018-08-04 06:57] nilebox commented on #586
Also, we should never have a Service Catalog resource existing when namespace is missing - this is a bug, see #2254 and upstream PR https://github.com/kubernetes/kubernetes/pull/66932

Closing this issue and marking #2254 with `1.0.0` milestone.

[2018-08-04 06:57] #586 closed

[2018-08-06 17:02] carolynvs opened #2264 "Support default provisioning params on plans"
See the proposal for more context: https://github.com/carolynvs/service-catalog/blob/default-service-plan-proposal/docs/proposals/default-service-plans.md#provisioning-with-defaults

Create a service instance using a class+plan. Individual parameters may be set on the instance to override any provisioning parameter defaults set on the plan. Any unspecified parameters are defaulted using the values

[2018-08-06 17:02] carolynvs commented on #2264
#dibs

[2018-08-06 20:17] MHBauer commented on #1723
/assign @carolynvs
/close

[2018-08-06 20:17] #1723 closed

[2018-08-06 20:24] #1001 closed, assigned to nobody

[2018-08-06 20:29] MHBauer opened #2267 "@mhbauer items needing new owner"
Would be nice to find an owner of these things before end of August 2018. (I'm not going to go poof and turn back into a pumpkin, but let's not drag it out.)

 - [x] weekly release - @jberkhahn
 - [x] CI/CD push forward, move last bit of tests and release to prow ( ? @jeremyrickard ? has shown interest) kubernetes/test-infra/issues/8291
    - should be someone with membership in k/k and [add as OW

[2018-08-06 20:57] carolynvs opened #2268 "Add command to svcat to abandon instances"
Sometimes a service instance can become "stuck", and we want to just give up on it and make it go away in Kubernetes so that we don't see it anymore.

There are a couple ways this could happen, and I'm happy to go into more detail if whoever picks up this issue needs it. The short answer is that it can happen due to bugs, misbehaved brokers, messed up developer environments, or cases where you wan

[2018-08-06 21:31] duglin commented on #1309
@pmorie I see things like `// Code generated by lister-gen. DO NOT EDIT.` in those files. It seems it is generated but I don't see it as part of our build process - when/where/how did that happen?

[2018-08-07 18:04] jboyd01 commented on #2260
fixed by https://github.com/kubernetes-incubator/service-catalog/pull/2214

[2018-08-07 18:04] #2260 closed

[2018-08-08 14:38] carolynvs commented on #2183
Sorry I'm not quite sure what @MHBauer was hinting at with the second point?

[2018-08-09 04:40] nilebox commented on #2254
The issue is fixed in Kubernetes master, will keep this issue open until it gets cherry picked to k8s 1.11, released and we update dependency to a newer version.
See https://github.com/kubernetes/kubernetes/pull/67154

[2018-08-09 04:41] cblecker commented on #2254
@nilebox Sorry -- updating my branch closed this by accident.

[2018-08-09 05:34] nilebox commented on #2268
AFAIK DELETE request doesn't have a request body. If you DELETE first, and then send PUT/PATCH, then in between those two requests Service Catalog *will* get a chance to deprovision (especially given the queue/cache)? So the correct order would probably be to remove finalizer first, and only after that send a DELETE?

Also, removing ALL finalizers sounds wrong to me - svcat should only remove `kub

[2018-08-09 08:39] wayilau commented on #2247
apiserverr logs :
I0809 08:27:32.545355       1 reflector.go:202] Starting reflector *servicecatalog.ServiceInstance (10m0s) from github.com/kubernetes-incubator/service-catalog/pkg/client/informers_generated/internalversion/factory.go:118
I0809 08:27:32.548114       1 reflector.go:240] Listing and watching *servicecatalog.ServiceInstance from github.com/kubernetes-incubator/service-catalog/pkg/cl

[2018-08-09 08:40] wayilau commented on #2247
@MHBauer

[2018-08-09 12:27] amckague commented on #2268
Similar to the notion of exporting an instance here https://github.com/kubernetes-incubator/service-catalog/issues/2250 just a different use case.

[2018-08-09 12:29] amckague commented on #2268
Similar to the notion of exporting an instance here https://github.com/kubernetes-incubator/service-catalog/issues/2250 just a different use case for "don't actually attempt deprovisioning".

[2018-08-09 17:13] jeremyrickard commented on #2267
#dibs on CI/CD stuff

[2018-08-09 17:29] migmartri opened #2274 "RBAC error in latest published catalog Helm chart"
# Bug Report

**What happened**:

The latest version of the catalog chart released [here](https://svc-catalog-charts.storage.googleapis.com) does not seem to work correctly in neither GKE nor Minikube.

This issue seems to be fixed in the chart existing in the Git repository, so releasing that chart upstream should fix the issue.

See error below:

[code]
**What you expected to happen**:

By deplo

[2018-08-09 18:28] jboyd01 commented on #2274
thanks for the report @migmartri, we just got this reported & fixed earlier this week by https://github.com/kubernetes-incubator/service-catalog/pull/2263 and it will be in the next release of catalog we do today.

[2018-08-09 18:28] #2274 closed

[2018-08-10 19:11] MHBauer commented on #2267
meeting scheduled for Mon 08/13/2018 10:00AM Pacific to discuss

[2018-08-12 01:05] artmello commented on #2243
I would like to give a try on this, if not already taken by someone

[2018-08-14 12:36] aszecowka opened #2276 "Memory leak in Controller Manager when registered malfunctioning broker"
# Bug Report

**What happened**:
Controller Manager pod is constantly restarting when I registered a malfunctioning broker (broker responds with status code HTTP 500 on "/v2/catalog" endpoint). Memory usage for ControllerManager goes up to 30MB and then it is restarted - probably because of defined memory limit.
To magnify this problem, I created ~80 malfunctioning brokers, and in 35 minutes Contr

[2018-08-15 01:53] wenchma opened #2278 "[Question] where to browse the API Spec of Service Catalog"
# Bug Report

**What happened**:
cannot found the api spec of service catalog

**What you expected to happen**:
There should be a doc for api spec.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- service-catalog version:
- Cloud provider or hardware configuration:
- Do you have

[2018-08-15 18:22] jboyd01 opened #2279 "Instance provisioning may encounter backoff/retry before even attempting to provision"
What happens:   During broker development, I provisioned instance X, broker had errors provisioning, from logs I see it did backoff and retry repeatedly.  I deleted the service instance, updated the broker, redeployed the broker, and tried again to provision instance X (**using the same instance name**).  The logs show it did a backoff before retrying.  The retry was successful.  It should not bac

[2018-08-15 23:37] #2279 closed

[2018-08-16 03:06] wayilau commented on #2247
cluster config may be occur some problem。

[2018-08-16 03:06] #2247 closed

[2018-08-16 12:31] piotrmiskiewicz commented on #2276
It seems the brokerClient is created every call to the service broker, see [controller_clusterservicebroker](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller_clusterservicebroker.go#L198). The function is defined [here](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/metrics/osbclientproxy/osbproxy.go#L38). As I see in the body,

[2018-08-16 15:17] NickyMateev opened #2283 "Bind operations don't include context object (OSBAPI)"
# Bug Report

**What happened**:
When making a *bind operation* for a specific service instance the context object is not included in the request to the broker.

**What you expected to happen**:
Same as with the *create instance* and *update instance* operations, I would expect that the context object will be included in the request to the broker as specified in the [OSBAPI spec][1].
Granted, the

[2018-08-16 15:29] dotchev commented on #2283
The context is also present in the update service request (PATCH)
[code]

[2018-08-16 16:26] incognick commented on #2120
I'm running into this same issue trying to install the `stable/metrics-server` on EKS.  Same error `Could not create the API server: configmaps "extension-apiserver-authentication" not found`

[2018-08-16 22:38] MHBauer commented on #2283
Need to add code like:
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.29/pkg/controller/controller_instance.go#L2040-L2047
to:
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.29/pkg/controller/controller_binding.go#L1219-L1228
/good-first-issue

[2018-08-16 23:41] MHBauer commented on #1853
I like this foo-fighters related video: https://www.youtube.com/watch?v=xsg1RPnwH8g

[2018-08-17 06:31] piotrmiskiewicz commented on #2276
The solution could be:
create a map, which holds osbClient instance for every service broker. Instead of creating an osbClient every call, just take it from the map. Thanks to that we can have separate configuration (Basic Auth or TLS) for service brokers and no need to create a new client every time.

[2018-08-17 11:33] piotrmiskiewicz commented on #2276
I've created a POC service catalog changes. It is a quick fix and must not be merged. We have run it and the memory usage is not growing. No restart. See:

https://github.com/piotrmiskiewicz/service-catalog/tree/shared-http-client-for-getcatalog

How the quick fix is working:
 - create one osb client "prototype" when the controller is created
 - when the call getCatalog must be done - the client i

[2018-08-17 14:43] jboyd01 commented on #2276
Sounds to me like even when running without error there is a slow but constant memory use, but with the broker error we have a tight retry loop where we are constantly calling getCatalog(), do you agree?  And that over enough time, even a non-erroring deployment is going to grow in memory use and eventually exceed memory allotment.  I'll give this some further review.

[2018-08-17 20:16] jboyd01 commented on #2276
Looks to me like there are several issues we should fix here.  Perhaps more then this:

1) review interaction with HTTP Client and address memory leak.  It looks to me like we don't ever close the broker response in all places, could be an issue.  Perhaps we need to reuse the connections as you've indicated as well.
2) our retry loop on the getCatalog() is too tight, we constantly pound the broker

[2018-08-18 05:03] piotrmiskiewicz commented on #2276
The official http doc contains the sentence: "The Client's Transport typically has internal state (cached TCP connections), so Clients should be reused instead of created as needed. Clients are safe for concurrent use by multiple goroutines."
If you create a http client one per minute GC should do the work and the application could work for weeks, but if you create a client every second - it is a

[2018-08-20 08:56] #2257 closed

[2018-08-20 14:10] jboyd01 commented on #2276
I agree about lack of Body.close().  Last week I spent some time cleaning that up and testing, it didn't remedy the OOM issue but I agree the body should always be closed.  I created https://github.com/pmorie/go-open-service-broker-client/pull/131  for it.

[2018-08-20 16:49] carolynvs opened #2288 "Document how to become a member/reviewer of our project"
* We follow the [K8s membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements) but request to join the `kubernetes-incubator` org.
* Good people to ask to be your sponsor are:
  * @carolynvs
  * @pmorie
* Good people to help mentor if you aren't sure how to get established are:
  * @carolynvs
  * @jeremyrickard

[2018-08-20 18:32] MHBauer commented on #2283
@NickyMateev has #dibs in #2287

[2018-08-20 19:11] MHBauer commented on #2288
Sounds like a good thing to put in the dev-guide. The process is now to create an issue on a repo, and not to send an email.

[2018-08-20 20:09] #2283 closed

[2018-08-20 20:16] carolynvs commented on #2288
Doh! Thanks for the heads up that I'm out-of-date. 😊

[2018-08-20 20:33] MHBauer commented on #2267
Aug 20 Meeting opened by @carolynvs 👍

[2018-08-21 03:27] nilebox opened #2289 "Instance is not deprovisioned if it was provisioned with retries"
# Bug Report

**What happened**:
1. ServiceInstance provisioning initially failed
2. One of the retried provisioning attempts succeeded, and ServiceInstance became healthy
3. When the instance was deleted, no OSB deprovisioning request was sent.

**What you expected to happen**:
Instance should have been correctly deprovisioned.

**How to reproduce it (as minimally and precisely as possible)**:
Se

[2018-08-23 05:38] aszecowka opened #2291 "Add support for synchronising namespaced brokers via svcat"
Currently, in svcat (v0.1.29) it is possible to synchronize only ClusterServiceBrokers.
`svcat sync broker <broker-name>`
This command should also support namespaced brokers. To be consistent with other commands, `sync` should accept flag `n` to specify namespace.

[2018-08-23 09:32] jichenjc commented on #2291
If no one is doing this, I will work on it

[2018-08-23 09:38] jichenjc opened #2292 "svcat register doesn't support namespace"
looks like even if -n give , the code still don't honor the namesapce ?

bin/svcat/svcat   register mysqlbroker1 --url http://mysqlbroker.com -n test-ns

      NAME       NAMESPACE                              URL                                     STATUS
+--------------+-----------+-----------------------------------------------------------+----------------------+
  mysqlbroker                ht

[2018-08-23 14:42] carolynvs commented on #2291
@jichenjc Great!

[2018-08-24 22:37] thomasriley commented on #2100
Hey,

I've run into exactly this issue while deploying service catalog to GKE.

I followed the same troubleshooting steps listed above and when I get to `kubectl describe apiservices v1beta1.servicecatalog.k8s.io` I noticed that there was also an error connecting to the APIServer.

[code]

[2018-08-27 12:44] mik-dass opened #2298 "git clone fails on windows"
# Bug Report

[code]

**What happened**:
could not clone repo

**What you expected to happen**:
clone to be successful

**How to reproduce it (as minimally and precisely as possible)**:
On windows
`git clone https://github.com/kubernetes-incubator/service-catalog.git`

**Anything else we need to know?**:
Issue occurs due to windows not supporting characters like ? in the filename
https://stackover

[2018-08-27 13:55] surajnarwade commented on #2298
cc @pmorie

[2018-08-27 13:57] luksa opened #2299 "Mismatch between v1beta1/CatalogRestrictions and internal/CatalogRestrictions"
The order of the properties is reversed. In `v1beta1/types.go`:
[code]
vs. `servicecatalog/types.go`:
[code]

Because of this, the conversion between the two types isn't correct. But luckily, this doesn't seem to have any ill effects, since we're performing the wrong conversion two times.

But, the error does become apparent when you try to create a broker with an invalid restriction:

For example

[2018-08-27 15:17] MHBauer commented on #2298
/assign @carolynvs

[2018-08-27 18:06] jboyd01 opened #2302 "K8s discards some events from Provisioning/Updating/Errors (filtered as spam)"
# Bug Report

**What happened**:
Events seen from a `kubectl describe ServiceInstance` do not match all events reported in Controller log or reflect the current status.

From debugging I found that some scenarios (typically around error retry like editing an instance and setting the plan to an invalid plan) trigger too many events and cause Kubernetes to filter out excessive events as spam and dis

[2018-08-28 08:18] aszecowka opened #2306 "Relist behaviour differs between ServiceBroker and ClusterServiceBroker"
# Bug Report

**What happened**:
For controller manager I set `broker-relist-interval` to 1minute.
My definitions for ClusterServiceBroker and ServiceBroker are simple, I specify only broker URL. In logs I see the following error:
[code]
(every 5 minute which is also strange).
In the case of ClusterServiceBroker there is the following line:
[code]
 (https://github.com/kubernetes-incubator/service-

[2018-08-28 08:48] antoniaklja opened #2307 "Controller Manager panic when Last Operation response properties are empty"
# Bug Report

**What happened**:
Controller Manager component fails when LastOperation response properties from the broker are empty.

[code]
I use [pivotal-cf/brokerapi](https://github.com/pivotal-cf/brokerapi) library in my broker with following code example:
[code]
example below fixed the issue:
[code]
I think Controller Manager should be more fault tolerant and do not fail in case of invalid r

[2018-08-28 08:55] viviyww opened #2308 "This is a test"
# Bug Report

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- service-catalog version:
- Cloud provider or hardware configuration:
- Do you have api aggregation enabled?
  - Do you see the configmap in kube-system?
  - Does i

[2018-08-28 08:57] NickyMateev opened #2309 "Updating a Service Instance referenced Secret doesn't trigger instance update"
# Updating a Service Instance referenced Secret doesn't trigger instance update

**What happened**:
I created an instance which as it's parameters referenced a secret containing a single key with a JSON value.

This is the `instance.yml`:
[code]

This is the `status-secret.yml`:
[code]

And so my  first commands  where:
[code]

Afterwards I wanted to change the JSON status value to be **false** an

[2018-08-28 09:00] luksa commented on #2307
@antoniaklja What version of service catalog is this?

[2018-08-28 09:09] antoniaklja commented on #2307
@luksa `quay.io/kubernetes-service-catalog/service-catalog:v0.1.26`

[2018-08-28 09:13] luksa commented on #2309
The Service Catalog controller doesn't watch the referenced secrets. You need to touch the `ServiceInstance` to trigger an update. That's also how core Kubernetes works (e.g. updating a Secret referenced in a Deployment does not trigger an update of the Deployment's pods).

[2018-08-28 09:32] luksa commented on #2307
@antoniaklja Can you try with v0.1.30. There have been a lot of changes in this part of the code. This might already be fixed.

[2018-08-28 12:14] jboyd01 commented on #2252
fixed by #2248

[2018-08-28 12:14] #2252 closed

[2018-08-28 16:01] MHBauer commented on #2306
I missed it in #2125.
Needs a similar change as in https://github.com/kubernetes-incubator/service-catalog/commit/ea84fa59baf8899b85f76354804fc98f9894b220#diff-1aa1085b3dd6f459f3f1e5d2ec2ec35b
/help-wanted

[2018-08-28 16:01] MHBauer commented on #2308
/close

[2018-08-28 16:01] #2308 closed

[2018-08-30 12:19] nilebox commented on #2309
@NickyMateev just to add to @luksa's comment: you may increment the field `spec.updateRequests` that was specifically added for the purpose of triggering a reconciliation of instance, see https://github.com/kubernetes-incubator/service-catalog/blob/2d1765efb7f3c796bd3c25cda074bd6a438bdde3/pkg/apis/servicecatalog/v1beta1/types.go#L909-L914

[2018-08-30 12:20] #2309 closed

[2018-08-30 13:05] NickyMateev commented on #2309
Okay, I got it. Thanks for the clarification!

[2018-08-31 06:26] #2299 closed

[2018-08-31 15:56] zsolt-keseru-epam commented on #2120
Just ran into this issue yesterday, and now found that EKS announced an update on this today:
https://aws.amazon.com/blogs/opensource/horizontal-pod-autoscaling-eks/
TLDR: Good news: Newly created clusters should work.

[2018-08-31 17:35] MHBauer commented on #2298
/assign @luksa

[2018-08-31 17:39] MHBauer commented on #2306
/assign @luksa

[2018-09-03 02:38] jichenjc opened #2319 "weird output in test-update-goldenfiles"
make test-update-goldenfiles see following error, not sure why it's out there...

HEAD commit is b8ab124bb227b7a759b67595cc3d8fa3d69c9e1c

ok      github.com/kubernetes-incubator/service-catalog/cmd/svcat       0.418s
ok      github.com/kubernetes-incubator/service-catalog/cmd/svcat/binding       0.046s
ok      github.com/kubernetes-incubator/service-catalog/cmd/svcat/broker        0.028s

flag pr

[2018-09-03 17:53] carolynvs opened #2321 "Add command to update parameters on an instance"
@NickyMateev suggested that we support updating the parameters on an instance, so that people don't need to fall back to kubectl.

I propose that we add a new command that is similar to a command from kubectl, [set](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#set). This will give us a way to update a particular value on the instance, without jump dumping them into the y

[2018-09-04 03:15] MHBauer commented on #2267
I think we're done here. Let me know if there is need for uploading anything to youtube.
/close

[2018-09-04 03:15] #2267 closed

[2018-09-05 11:04] iocanel opened #2322 "Deprovision fails"
# Bug Report

**What happened**:
Tried to delete an openshift projects and got stuck because of failure to deprovision service.

**What you expected to happen**:
To successfully deprovision instance upon project/namespace deletion.

**How to reproduce it (as minimally and precisely as possible)**:
Used the ansible-service-broker and tried to provision an ms sql database.
Then tried to delete the w

[2018-09-05 12:50] NickyMateev commented on #2321
#dibs

[2018-09-05 17:44] #2243 closed

[2018-09-05 20:19] #2306 closed

[2018-09-06 11:12] artmello commented on #2216
#dibs

[2018-09-06 12:21] sslavic opened #2325 "Minikube related SC installation instructions are outdated"
# Bug Report

**What happened**:
Minikube fails to start when following SC installation on Minikube instructions https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/install.md#minikube

**What you expected to happen**:
Minikube starts up successfully

**How to reproduce it (as minimally and precisely as possible)**:
Using Minikube 0.28.2 try to follow SC installation instructi

[2018-09-06 12:53] sslavic commented on #2325
Same issue exists in Kubernetes docs on SC: https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/service-catalog/install-service-catalog-using-helm.md

[2018-09-07 00:05] carolynvs opened #2326 "Update release process wiki / doc to include our homebrew formula"
We have a homebrew formula for `kubernetes-service-catalog-client` that should be updated when we cut a new release.

https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubernetes-service-catalog-client.rb

We need to document the steps to update the formula and submit it to homebrew-core, and add it to our wiki: https://github.com/kubernetes-incubator/service-catalog/wiki/Release-Proce

[2018-09-07 17:53] pmorie opened #2327 "Make health check usable with namespaced brokers"
Currently, the health checker for catalog is written to use the cluster-scoped resources. We should allow the health check to use the namespace-scoped brokers so that a cluster operator can health check the catalog without putting a broker into the cluster-level resource.

[2018-09-10 00:26] nilebox commented on #2254
k8s 1.11.3 has just been released https://github.com/kubernetes/kubernetes/releases/tag/v1.11.3

[2018-09-10 12:50] NickyMateev opened #2329 "Makefile needs to delete hidden .scBuildImage file if image doesn't exist in docker"
# Bug Report

**What happened**:
When running subsequent builds using Make if for some reason your local docker repository got wiped and all the images (including _scbuildimage_) were removed, all build attempts would fail on startup. This is because the hidden .scBuildImage file would still exist in the project folder, which would indicate that there's an existing image to use, when in reality th

[2018-09-10 13:44] jboyd01 opened #2331 "svcat get instance XX --all-namespaces fails with error"
Also reproducible with `svcat get bindings XX --all-namespaces`

**What happened**:
`svcat get instances XX --all-namespaces` returns the error
Error: unable to get instance '.xx' (an empty namespace may not be set when a resource name is provided)

**What you expected to happen**:
I'd expect no instance found result (something along the lines of Error: `unable to get instance 'xx' (serviceinstanc

[2018-09-10 19:26] jboyd01 commented on #2331
I'm now realizing this isn't a bug.  Using kubectl you can't get a named object across namespaces
[code]
I was wrong about `svcat get brokers` - - in the example I was using it was trying to get broker X at cluster scope and erroring out on that and then not trying to do NS scope.  I'll create an issue for it, but it too will not be able to succeed when specifying a name and `--all-namespaces`

[2018-09-10 19:26] #2331 closed

[2018-09-10 20:52] carolynvs opened #2332 "Improve namespaced service broker docs"
We have documentation for namespaced service brokers at https://svc-cat.io/docs/namespaced-broker-resources/

It would be very helpful if someone could review the original proposal and make sure that we aren't missing any documentation from there.

Needs Docs:
- [ ] Update documentation for svcat to include the namespaced broker functionality, columns, etc.
- TBD by whoever takes this issue on.

[2018-09-11 11:41] luksa opened #2334 "Wierd ServiceInstance status: DeprovisionBlockedByExistingCredentials"
[code]

I find this status highly confusing. Shouldn't this be `DeprovisionBlockedByExistingBinding`?

[2018-09-11 12:03] luksa opened #2335 "Adding a catalogRestriction on existing namespaced ServiceBroker doesn't always work"
When the new `catalogRestriction` would cause an existing `ServiceClass` to be removed, the reconcilliation loop fails with `field label not supported: spec.serviceClassRef.name`:
[code]

[2018-09-12 17:41] #2329 closed

[2018-09-13 02:09] #2335 closed

[2018-09-14 12:19] nilebox commented on #2254
We can close this issue without updating dependencies to kubernetes 1.11.3, since the bug is in the Kubernetes itself, not in the Service Catalog using the library.

[2018-09-14 12:19] #2254 closed

[2018-09-17 14:43] carolynvs commented on #2264
Implemented in #2282

[2018-09-17 14:43] #2264 closed

[2018-09-17 14:47] carolynvs opened #2341 "Support Default Provision Parameters at the class level"
This is a follow-on to #2264 (see #2282 for how to implement it and what should be tested). It should add DefaultProvisionParameters to classes, and combine the class level params with the plan level params and the instance params.

This allows an operator to define defaults at the class level, tweak it at the plan level, and then a developer can use them (or override them) when they provision an

[2018-09-17 14:47] carolynvs commented on #2341
#dibs

[2018-09-17 15:04] carolynvs opened #2342 "Show DefaultProvisionParameters for plans in svcat"
Service Catalog now supports a new field on plans, DefaultProvisionParameters.  Right now you can view them only with kubectl using `kubectl describe clusterserviceplan NAME`.

We need to modify the `svcat describe plan` command to optionally display the Default Provision Parameters if they are defined (and omit that section if it is empty) in yaml format.

[code]

Since this is supported for both

[2018-09-17 20:33] jberkhahn opened #2344 "Use SVCAT_EXPERIMENTAL env var to feature-gate experimental features in svcat"
We discussed in the SIG meeting today (9/17) that it might be helpful to gate new features in svcat to avoid making backwards-incompatible changes while iterating on new functionality.

This would be fairly simple, surround your new functionality with a check for the value of the `SVCAT_EXPERIMENTAL` environment variable, and only execute the new path if it's set to true. Once we've got the functi

[2018-09-17 20:38] carolynvs commented on #2344
I like it! That will be lightweight for people developing features for svcat, while still protecting us once we hit 1.0 and need to merge PRs behind a feature flag.

By the way, this is a related piece of code that I think people working on feature gated functionality in service catalog should be aware of:

https://github.com/kubernetes-incubator/service-catalog/blob/42bf23626c501f92864f166d4a6ff4

[2018-09-18 16:00] carolynvs commented on #2145
Implemented in #2340

[2018-09-18 16:00] #2145 closed

[2018-09-18 16:48] carolynvs commented on #2184
Closing - We don't use jenkins anymore.

[2018-09-18 16:49] carolynvs commented on #2106
This made it into the final charter.

[2018-09-18 16:49] #2106 closed

[2018-09-18 16:51] carolynvs commented on #1964
Our Travis job for tagged commits now handles publishing the docker image and charts.

[2018-09-18 16:51] #1964 closed

[2018-09-18 16:51] carolynvs commented on #1969
Done! 🎉

[2018-09-18 16:51] #1969 closed

[2018-09-18 17:26] MHBauer commented on #2334
Historically, Bindings used to be called InstanceCredentials. That does not make it any less confusing in the present time.

[2018-09-18 18:02] carolynvs commented on #2184
Thanks for clarifying. Do you happen to know if they were explicitly turned off or if I should be investigating when they stopped running and why?

[2018-09-18 18:04] carolynvs commented on #2344
@MHBauer I can't tell if you are commenting (yes, that was the idea), critiquing how we are trying to accomplish a feature gate in the CLI, or something else?

[2018-09-18 18:09] MHBauer commented on #2184
Only run by jenkins and not yet running in prow. Never made the transition.

[2018-09-18 18:33] carolynvs commented on #2184
I don't think that Jenkins instance exists anymore... 🤦‍♀️

[2018-09-18 20:54] MHBauer commented on #2184
maybe a new issue for @jeremyrickard ?

[2018-09-19 19:47] carolynvs commented on #2215
@shubheksha It's all yours!

[2018-09-19 20:47] shubheksha commented on #2215
@carolynvs, heads up: both the links under "existing test data" are broken

[2018-09-19 21:07] carolynvs commented on #2215
oops! Sorry I just realized that I linked to my fork and not upstream. Fixing!

[2018-09-19 21:11] carolynvs commented on #2215
All fixed!

[2018-09-19 21:36] carolynvs opened #2348 "Add DefaultBindParameters to plans"
Similar to how we added DefaultProvisionParameters to plans in #2282, we also want the same type of functionality but for the parameters on ServiceBinding resources.

See the proposal for additional context and details: https://github.com/carolynvs/service-catalog/blob/default-service-plan-proposal/docs/proposals/default-service-plans.md#binding-with-defaults. The scope of this issue is only the c

[2018-09-19 21:46] carolynvs opened #2349 "Add DefaultBindParameters to classes"
This is a follow-up to https://github.com/kubernetes-incubator/service-catalog/issues/2348. Once that is completed, use it as an example of of how to implement and test this related feature. It should add DefaultBindParameters to classes, on the CommonServiceClassSpec, and combine the class level params with the plan level params and the binding params.

This allows an operator to define defaults

[2018-09-20 01:36] jichenjc commented on #2215
@shubheksha I was out for a meeting last week so didn't have time to work on it last week
since you already took it so please help to keep working on this, thanks :)

[2018-09-20 01:37] jichenjc commented on #2215
thanks, I missed this one, sorry @carolynvs and thanks @shubheksha

[2018-09-20 09:27] shubheksha commented on #2112
I would like to work on this!

[2018-09-20 10:40] shubheksha commented on #2112
I would like to work on this!
@carolynvs, would it make to split this into two PRs - one for cluster scoped plans and another one for namespace scoped plans - the way it was done for classes?

[2018-09-20 11:14] shubheksha opened #2352 "Left navbar doesn't scroll properly on the docs site"
# Bug Report

**What happened**:
The navbar on the left on the docs site doesn't scroll properly, it seems fixed at one point.

**What you expected to happen**:
The navbar should scroll along with the rest of the page.

**How to reproduce it (as minimally and precisely as possible)**:
Scroll to the bottom of https://svc-cat.io/docs/resources/

**Anything else we need to know?**:
![image](https://u

[2018-09-20 14:34] shubheksha opened #2354 "Make test output more readable"
# Bug Report

**What happened**:
Currently, the text output is really hard to parse. It's a wall of text and isn't colourized.

**What you expected to happen**:
- Highlighting failures would be of immense help in figuring out what's wrong.
- For issues with, for example, a mismatch in golden files, we can link to the appropriate section in the devguide.

**How to reproduce it (as minimally and pre

[2018-09-20 14:35] shubheksha commented on #2354
@carolynvs mentioned a few ideas for fixing this here: https://github.com/kubernetes-incubator/service-catalog/pull/2353#issuecomment-423205176

[2018-09-20 14:48] carolynvs commented on #2354
I'm removing the `help wanted` label because we use that label a bit differently on this repo.

`help wanted` is what new contributors use to find issues that have extra information to help them figure out how to tackle the issue (for example where to find the right code to change, exactly what changes to make and tests to update). At the moment this issue doesn't have that information, but as we

[2018-09-20 15:33] carolynvs commented on #2112
We split the other one into 2 PRs for cluster scoped vs namespace scoped only because at the time, the namespaced broker feature was incomplete. Going forward, any PR that affects brokers, plans or classes should address both scopes in the same PR.

[2018-09-21 11:38] shubheksha opened #2356 "Add a pre-commit hook to catch linting/formatting errors"
**What happened**:
Travis is configured to run `make verify` at the end, so if there are any formatting/linting failures or something is messed up in the vendor directory, it's reported at the end of the build.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
We can run `make verify` as a pre-commit hook to av

[2018-09-21 14:55] shubheksha opened #2357 "Umbrella issue to track issues in user-defined namespaced plans implementation"
- Update [command description](https://github.com/kubernetes-incubator/service-catalog/blob/master/cmd/svcat/class/create_cmd.go#L44) to include support from namespaced class, not just cluster-scoped classes
- Use `WriteClassDetails` instead of `WriteClassList` for [writing the output](https://github.com/kubernetes-incubator/service-catalog/commit/395f5d42c39cfe851503bfe39655212c5fe5e9b8#diff-1301

[2018-09-21 14:55] shubheksha commented on #2357
Ref #2269

[2018-09-21 19:18] shubheksha opened #2358 "Migrate unit tests to use the fake k8s API server"
Currently, the svcat tests use a test HTTP server for unit tests. The input files are [JSON](https://github.com/kubernetes-incubator/service-catalog/tree/master/cmd/svcat/testdata/responses/catalog) and we use [golden files](https://svc-cat.io/docs/devguide/#golden-files) for verification. This set up has proven to be very cumbersome to add tests and is hard to maintain. We'd like to move away fro

[2018-09-21 19:20] shubheksha commented on #2358
Ref #1810: I think it makes sense to have a mix of both unit and integration tests for svcat. We can use unit tests to validate the individual svcat commands in isolation and we can write integration tests to validate their functionality in a live cluster.

[2018-09-21 19:29] bobhenkel commented on #2120
We stood up a new cluster which is on eks.2 and did a ARK restore on it. We were told that eks1 would not be upgraded to get this and we had to stand up a new cluster and migrate to it if we wanted to get HPA up and running.

[2018-09-22 14:03] shubheksha commented on #2319
I ran into this too!

[2018-09-22 14:04] shubheksha commented on #2215
/assign

[2018-09-22 14:04] shubheksha commented on #2112
/assign

[2018-09-22 16:10] bvboca opened #2359 "Install service-catalog manually"
Hi

I tried to install SVC. Since google is blocked I have to use a proxy instead. But here's a problem. When I exec helm install svc-cat... I get:
 **Error: Get https://192.168.79.141:6443/api/v1/namespaces/kube-system/pods?labelSelector=app%3Dhelm%2Cname%3Dtiller: net/http: TLS handshake timeout**

It seems the installation will connect k8s through the proxy, but if I turn off the proxy, it will

[2018-09-23 08:10] jichenjc commented on #2319
It won't affect your result, the golden files will still be updated

[2018-09-23 08:47] shubheksha commented on #2319
Yup, we should still figure out what's up with that command spewing random
stuff on the terminal, it's confusing :)
It took me a bit to understand that golden files are still updated despite
that.

On Sun, Sep 23, 2018, 13:40 ji chen <notifications@github.com> wrote:

--
Regards,
Shubheksha Jalan
https://shubheksha.com

[2018-09-26 06:47] #2142 closed

[2018-09-26 16:50] #2276 closed

[2018-09-27 14:59] #2359 closed

[2018-09-27 18:39] carolynvs commented on #2319
oh! Yes it is due to how flags are defined per package when running the entire test suite with `go test ./...` The fix is to find the package that doesn't currently define the `-update` flag and do an anonymous import of our test package like so:

https://github.com/kubernetes-incubator/service-catalog/blob/9768c1a69077112a76606db521e0c8ad459df9b9/cmd/svcat/output/yaml_test.go#L23

Suggestions wel

[2018-09-27 20:30] carolynvs commented on #2292
This was fixed in #2345 .

[2018-09-27 20:30] #2292 closed

[2018-09-27 20:31] carolynvs commented on #2325
Thanks for reporting this and explaining how to fix.

[2018-09-28 03:15] bvboca opened #2367 "APIserver and ControllerManager CrashLoopBackoff"
# Bug Report

**What happened**:
The catalog server and ControllerManager are in the crashloopbackoff status intervally
**What you expected to happen**:
Both service are running
**How to reproduce it (as minimally and precisely as possible)**:
1. Install k8s 1.11 on Ubuntu 18.04
2. Install Helm 2.10 summer edition
3. init helm and install tiller 2.10
4. add svc-cat to the helm repo
5. install svc-

[2018-09-28 03:17] bvboca commented on #2367
API server log:

I0928 02:56:38.446740       1 feature_gate.go:194] feature gates: map[OriginatingIdentity:true]
I0928 02:56:38.446816       1 feature_gate.go:194] feature gates: map[OriginatingIdentity:true ServicePlanDefaults:false]
I0928 02:56:38.446830       1 hyperkube.go:192] Service Catalog version v0.1.32 (built 2018-09-15T01:15:25Z)
I0928 02:56:38.446835       1 run_server.go:59] Preparin

[2018-09-28 03:53] nilebox opened #2369 "Instance status doesn't get updated with polling errors"
# Bug Report

**What happened**:
When broker was returning `400 BadRequest` error in response to `last_operation` request for provisioning, no status updates would report on this error:
[code]

**What you expected to happen**:
1. Polling errors should be reflected in the status
2. `400 BadRequest` is a terminal error, so we should stop retrying

**How to reproduce it (as minimally and precisely as

[2018-09-28 13:51] #2319 closed

[2018-09-28 16:13] #2325 closed

[2018-10-01 14:40] #2369 closed

[2018-10-01 15:02] jboyd01 opened #2371 "enhance `svcat provision` to support namespace scoped resources"
`svcat provision` can only provision cluster scoped resources.  It needs functionality to enable a user to specify using a NS scoped Broker's class & plans for provisioning.   It maybe as simple as adding a --scope parameter.

[2018-10-01 15:17] carolynvs opened #2372 "Proposal: Consolidate Auth Info types into a single type"
I propose that we consolidate these types into a single type. Dealing with the separately is a pain, and isn't providing any value.

[code]

[code]

Seems like it's all driven by the `ObjectReference` vs. `LocalObjectReference` deep within the final object graph. What if we implemented an interface or two on top of those and then used type assertions to get at the namespace if necessary? That way

[2018-10-01 15:18] jboyd01 opened #2373 "augment `svcat deregister` to work with namespace scoped brokers"
`svcat deregister` only deregisters cluster service brokers.  It should support --scope and --namespace to deregister service brokers as well.

[2018-10-01 15:20] jboyd01 commented on #2373
dup of #2345

[2018-10-01 15:20] #2373 closed

[2018-10-01 15:47] carolynvs commented on #2288
#dibs

[2018-10-01 15:48] jboyd01 commented on #2372
solid idea, makes sense to me

[2018-10-01 15:56] jboyd01 opened #2374 "svcat sync should support namespaced brokers"
`svcat sync` only works with cluster service brokers.  A user should be able to sync a namespace scoped broker as well.

[2018-10-01 17:21] jboyd01 commented on #2374
dupe of #2291

[2018-10-01 17:21] #2374 closed

[2018-10-01 19:03] carolynvs commented on #2372
Cool, I'll take a stab at it and cc you on the PR.

[2018-10-01 19:32] artmello opened #2375 "Ginkgo unit tests not running in cmd/svcat when calling "make test-unit""
# Bug Report

**What happened**:
After changing an existing svcat/cmd Ginkgo unit test in a way it should fail, the results of "go test" or "make test-unit" are still "PASS"

**What you expected to happen**:
"go test" or "make test-unit" should fail if a Ginko test do not pass

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2018-10-01 22:03] #2288 closed

[2018-10-02 02:48] tamalsaha commented on #2191
Is there any update on this issue?

[2018-10-02 14:05] carolynvs commented on #2191
Nope, I think this fell off the radar as people had other commitments. It is still something that we would like to do though.

[2018-10-02 16:42] #2375 closed

[2018-10-02 18:12] jldeen opened #2380 "Catalog Controller Manager Pods keep crashing"
# Bug Report

**What happened**:

Catalog Controller Manager Pods keep crashing

**What you expected to happen**:

For the pods to only crash or restart on failure

**How to reproduce it (as minimally and precisely as possible)**:

Install the chart as outlined, watch crashes occur

**Anything else we need to know?**:

Currently tested on 3 different brand new clusters version 1.11.2 on AKS, same

[2018-10-03 00:03] shubheksha commented on #2371
I can pick this up!

[2018-10-03 00:03] shubheksha commented on #2371
/assign

[2018-10-03 19:49] jboyd01 commented on #2380
I've seen this as well, I figured it was only me and an underpowered machine.  I think the liveness probes are triggering it, perhaps we need to loosen the timeoutSeconds.

[2018-10-04 14:51] carolynvs commented on #2341
#dibs

[2018-10-04 19:57] carolynvs opened #2384 "Update dep in our CI to use the latest version"
dep is on v0.5.0 right now and it would be nice to be on the latest version so that when people use it, a bunch of unrelated config file changes aren't introduced.

Find where we use dep, e.g. in our build-image/Dockerfile and bump the version.

[2018-10-04 20:48] shubheksha commented on #2384
I can pick this up!
/assign

[2018-10-04 20:54] carolynvs opened #2385 "svcat version returns the k8s version, not the Service Catalog API version"
[code]

`v1.9.6` is the version of k8s that I'm running, not the version of service catalog.

I've tried a few endpoints and can't figure out if our aggregated api even exposes a /version endpoint. So this fix may require more work on the server.

[code]

Here's the code in question:

https://github.com/kubernetes-incubator/service-catalog/blob/d297cedebd9b762598e569a797ad6b44b4e0ccb7/pkg/svcat/se

[2018-10-04 21:01] #2291 closed

[2018-10-04 21:25] shubheksha opened #2386 "Running `dep ensure -v` results in an error"
# Bug Report

**What happened**:
Running `dep ensure -v` results in some deps not being installed and gives the following error (screenshot):
<img width="1056" alt="image" src="https://user-images.githubusercontent.com/7693422/46503904-57960100-c7fa-11e8-9f0b-8761aa8b767c.png">

**What you expected to happen**:
All deps should be installed correctly.

**How to reproduce it (as minimally and precis

[2018-10-05 14:17] ashokkkannan opened #2390 "Chart `v1.35` installation failing with spec validation error for field `minReadySeconds`"
# Bug Report

**What happened**:
The catalog chart version v1.35 installation fails with the following error
[code]
**What you expected to happen**:
The chart installation to go through fine
**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- service-catalog ver

[2018-10-05 14:58] carolynvs commented on #2386
From the error message, you don't have `hg` (Mercurial) installed. Dep using git and hg directly, and since one of our dependencies is a mercurial repo, you will need it installed to work with dep on our repo.

[2018-10-05 15:07] shubheksha commented on #2386
Thanks, @carolynvs! Can't believe I missed that :|

[2018-10-05 15:07] #2386 closed

[2018-10-05 16:21] #2384 closed

[2018-10-08 17:11] jberkhahn opened #2396 "`svcat create class` error looks wierd"
When you attempt to create a namespaced class from a cluster class or vice versa, the error you get is "class foobar not found", which is counter-intuitive.

[2018-10-08 17:50] carolynvs opened #2397 "Fix svcat's terminology for name, k8's name, uuid, and id to match the server"
When I first wrote svcat, I didn't fully understand the differences between k8's name, external name, k8s uid, etc. This has resulted in mixed terminology used in svcat and the server.

Here is the translation:

| svcat | api |
| name | external name |
| uuid | k8's name |

We want to continue to use name for the external name (otherwise everything is going to be unreadable), however using uuid fo

[2018-10-08 18:03] carolynvs commented on #2390
@ashokkkannan Thank you for reporting this and explaining the fix! 👍

[2018-10-09 15:08] #2390 closed

[2018-10-09 19:44] #2216 closed

[2018-10-10 10:13] jeremyrickard commented on #2332
Seems like a pretty big one here is that provision doesn't work on namespaced class and plans?

[code]

[2018-10-10 12:59] jboyd01 commented on #2332
We've got several outstanding issues with namespaced resources:  https://github.com/kubernetes-incubator/service-catalog/milestone/47  which includes [enhance `svcat provision` to support namespace scoped resources](https://github.com/kubernetes-incubator/service-catalog/issues/2371)

[2018-10-10 16:01] wadadli opened #2407 "svcat binds to non-existant instances"
# Bug Report

**What happened**:

Binding to an instance that does not exist succeeds

**What you expected to happen**:

svcat should only bind to extant instances

**How to reproduce it (as minimally and precisely as possible)**:
`svcat bind thisinstancedoesnotexist`

**Anything else we need to know?**:
The status of the binding will be ReferencesNonexistentInstance
Trying to delete this binding

[2018-10-10 16:02] wadadli commented on #2407
In order to delete this erroneous binding for now:
`kubectl delete servicebinding thisinstancedoesnotexist`

[2018-10-11 13:34] jboyd01 opened #2408 "Enhance E2E testing to include ns scoped resources"
https://github.com/kubernetes-incubator/service-catalog/pull/2370 fixed a core issue around creating a namespace scoped ServiceInstance (a prior PR introduced a bug which prevented creating ns'd ServiceInstances).  It also added a unit test to catch the issue, but overall it points out none of our existing E2E tests exercise namespace scoped resources.  It would be smart to add some.

[2018-10-11 21:00] jboyd01 commented on #2385
To my knowledge and looking I don't think we expose an endpoint with the catalog version.  I just tried adding one and it seems to work along with the RBAC changes...  Did you have thoughts on a good URL?  /version is taken/handled by the core apiserver framework we're using so I think we'll need something else.  /service-catalog-version or /svcat-version ?

[2018-10-15 06:51] kopper opened #2411 "Update code dependencies to use libraries from Kubernetes 1.12"
Currently TOML file specifies k8s dependencies from release-1.11 branch(es).

Shouldn't Service Catalog follow release branching model of Kubernetes and offer different version for different Kubernetes version?

[2018-10-15 16:59] jldeen commented on #2380
Yes, I have confirmed if you disable the health checks the problem is resolved. I have been playing with tweaking the health checks, but I wonder if you feel this problem is specific to AKS?

[2018-10-15 17:49] carolynvs commented on #2380
@jldeen I believe that this problem is unique to the default service catalog configuration (super chatty) and a problem with AKS's routing that should be resolved over the next few weeks. I've seen it happen on gke as well but it wasn't easily reproducible.

I'll update the install instructions for service catalog on AKS and report back.

[2018-10-15 18:30] jldeen commented on #2380
@carolynvs Thank you and please let me know if I should go back to the AKS engineering team with a bug/patch to improve communication. FWIW I have noticed some intense timeouts overall with service catalog and OSBA on AKS. In fact, I filed a bug [here](https://github.com/Azure/open-service-broker-azure/issues/595) as I don't find it currently stable if one wishes to use it in a prod scenario. I wa

[2018-10-15 18:59] carolynvs opened #2415 "Change default log level for informational messages"
Our default log level for information messages (such as processing a service instance) is 4. Which unfortunately also then includes **all** HTTP request/response payloads (not just failed ones). It makes it very difficult to work through our logs and troubleshoot.

It would be much easier if we could put infrequent informational messages, such as when we create a binding, inject a secret, etc at a

[2018-10-16 19:44] #2033 closed

[2018-10-16 20:50] #2411 closed

[2018-10-17 02:57] nilebox opened #2418 "Service Catalog controller-manager fails to start when unrelated API server is unavailable"
# Bug Report

**What happened**:
Service Catalog controller-manager is failing to start when some unrelated API server is down.
This is caused by a change https://github.com/kubernetes/kubernetes/pull/66932 that makes discovery return details about unavailable resources.
https://github.com/kubernetes-incubator/service-catalog/blob/master/cmd/controller-manager/app/controller_manager.go#L280-L283

[2018-10-17 15:11] jboyd01 commented on #2415
+1!
Logs are way to noisy for general use with the current default config.  I like the idea of moving to constants (INFO/WARN/ERROR/TRACE).  Initially this sounds like a large task, but doing some greps I don't think it's going to be that bad of a task and it has some pretty good bang for the buck in terms of serviceability.

[2018-10-17 21:15] #2418 closed

[2018-10-18 15:13] #2342 closed

[2018-10-19 03:48] drnic opened #2425 ""svcat provision --wait" should give an error if broker provision fails due to required/missing parameters"
# Bug Report

**What happened**:

I was trying out the GCP broker. Using `svcat get classes` and `svcat get plans` I discovered there was a single MySQL plan. I tried to provision it:

[code]

This was confusing as there were no errors above.

In the events I see:

[code]

I also tried `svcat provision --wait` but no error messages were displayed.

**What you expected to happen**:

I expected `svc

[2018-10-19 11:42] kdihalas opened #2426 "Error: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication: dial tcp 10.96.0.1:443: i/o timeout"
# Bug Report

**What happened**:
Service catalog apiserver cannot start
**What you expected to happen**:
Service catalog should start and register with kubernetes
**How to reproduce it (as minimally and precisely as possible)**:
helm install svc-cat/catalog --name catalog --namespace catalog
**Anything else we need to know?**:
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
[

[2018-10-19 23:47] jberkhahn opened #2427 "Validation of ClusterServicePlan Name or UID fails when it contains "/""
# Bug Report
We recently changed the validations of class/plan names and UIDs to make them more permissive per upcoming changes to the OSB API spec to make it more similar to Cloud Foundry. However, we're still failing validation when the plan name/id contains a "/". Like so:

[code]
I tracked this down to [this line](https://github.com/kubernetes-incubator/service-catalog/blob/master/vendor/k8s.i

[2018-10-22 18:53] jboyd01 commented on #2425
I think you probably need to specify the namespace in the first `$ svcat get instances` command (ie the command returns no instances, I think if you specify the right namespace ( -n sb-demo) or --all-namespaces it will include your new instance).    The output you got was using the default/current namespace and it appears there are no instances in it.

I think the `svcat provision` command is doin

[2018-10-22 21:43] drnic commented on #2425
I think the particular broker in question (google’s hosted broker) would benefit users if it failed fast before starting the asynchronous sequence (when it knows it will never succeed).

For async broker actions to relay in-progress messages, I think they need to mention something on https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#polling-last-operation-for-service-instan

[2018-10-22 23:15] jberkhahn commented on #1807
I think this is pretty much done, so I'm closing the issue and marking it finished on the roadmap.

[2018-10-22 23:15] #1807 closed

[2018-10-23 13:46] jboyd01 commented on #2425
cc @kibbles-n-bytes , @n3wscott  see above re  *google's hosted broker*

[2018-10-23 22:07] #2341 closed

[2018-10-24 12:55] carlory commented on #2348
#dibs

[2018-10-25 22:38] drnic opened #2438 "Error fetching catalog - but actually had issues getting broker auth credentials"
# Bug Report

**What happened**:

I've deployed my simple broker into K8s and have tried to register it, but the broker has status `ErrorFetchingCatalog`.

When I trawled through the `kail -n catalog` logs, I eventually found:

[code]

**What you expected to happen**:

I would have preferred this error to have been returned:

i) Immediately during `svcat register` so as to fail fast; or perhaps
ii

[2018-10-25 22:40] drnic opened #2439 "deregister confusingly fails if missing --scope cluster"
# Bug Report

**What happened**:

[code]

I also cannot resync the broker if I think I've resolved an issue:

[code]

**What you expected to happen**:

That the broker was deregistered/CRDs deleted.

[2018-10-30 07:00] carlory opened #2445 "svcat can not register cluster broker without auth info"
# Bug Report

**What happened**:

[code]
**What you expected to happen**:

svcat can register cluster broker without auth info

**How to reproduce it (as minimally and precisely as possible)**:

register a cluster broker without auth info

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- service-catalog version:
[code]

[2018-10-30 07:00] carlory commented on #2445
#dibs

[2018-10-30 17:47] #2445 closed

[2018-10-31 04:15] vlerenc commented on #2191
CRD backend or completely switching to controller-only (dropping the api server extension), would be much appreciated as carrying around an additional etcd (if, like in many cases, you can't piggy-back on the main etcd of your cluster) is quite painful.

Has anybody tried to run the service catalog with CRDs and without the api server extension? Registry code like [usage of this non-`status`/`scal

[2018-10-31 14:03] MHBauer commented on #2191
@vlerenc exactly so wrt to the subresource usage. We can move forward when such support exists, or when there is agreement on API changes that require V2.

[2018-10-31 14:42] mvladev commented on #2191
@MHBauer @vlerenc another thing I noticed is that custom [fieldSelectors](https://github.com/kubernetes-incubator/service-catalog/blob/c9c3dfa95d93f277394de1411fe4a16862a90082/pkg/registry/servicecatalog/instance/storage.go#L97) are used.

I often attend `api-machinery` meetings and so far there is no planned way to expose those custom `fieldSelectors` via `CRDs`.

[2018-10-31 15:12] MHBauer commented on #2191
I feel like we may have had a list at a face-to-face meeting of "features we use that are unsupported by CRD". Not sure if it's made it into an issue somewhere, but we should find it or start one.

 - custom sub-resources
 - custom field selectors

[2018-10-31 15:41] carlory commented on #2439
@drnic which version of the `svcat` are you using?

[2018-10-31 16:01] carlory commented on #2439
@drnic

`email-worlds-simplest-service-broker` is a cluster broker.

[code]

This command can help you deregister it.

If you want to deregister a namespace broker, please using the following command

[code]

[2018-10-31 16:23] carlory commented on #2439
@carolynvs Is it a bug ?

[2018-10-31 19:08] carolynvs commented on #2439
Sorry I should have left a comment when I labeled this a bug!

You are correct about the root cause of those commands failing, however our error messages should be fixed to suggest that they may be searching at the wrong scope as well. Otherwise I anticipate that this will be a common bug report going forward. 😀

[2018-11-01 07:52] luksa commented on #2191
FYI: features that aren't supported by CRDs are just one part of the problem. Also be aware that the Service Catalog API server handles some things differently than the core k8s API server.

For example, as a first step during provisioning, the Service Catalog controller updates the references in the ServiceInstance's spec. The Service Catalog API server does NOT increase the `metadata.generation`

[2018-11-01 19:43] jberkhahn commented on #2371
Was talking with Carolyn about what this behavior should look like. I think this might be a good point to add a little bit more magic than we normally do. Maybe query the system state and only require a --scope flag if there are multiple classes with the requested name? something like:

[code]
There's still a problem that it's technically possible for multiple cluster classes or namespaced classes

[2018-11-01 19:47] jberkhahn opened #2451 "`svcat describe` should support namespaced resources"
Seems we never created an issue for this. I imagine we could end up using whatever desired behavior we come up with for #2371

[2018-11-01 19:50] jberkhahn commented on #2371
One idea is to maybe skip scope entirely, and if we find multiple classes with the same ExternalName, ask the users to specify the exact UID of which they want.

[2018-11-01 20:38] carolynvs opened #2452 "dep config is broken for downstream consumers"
Commit ff7f8a073416e82e7065972ac9f19c6806d3e6a3 broke the config in dep's Gopkg.toml for downstream consumers.

When another project tries to use us as a dependency they get k8s 1.10 instead of 1.12 because the constraint was dropped from the toml file. This causes the build to immediately fail because vendor doesn't compile.

[2018-11-01 22:18] drnic commented on #2439
Thanks for pointing out I also need `--scope cluster` for deregister. It does seem slightly redundant as a user might assume that Service Catalog remembers where/how it had previously registered a service broker, and thus how to deregister it :)

The extra error message suggested is good. Is it also possible to make `--scope` unnecessary for `deregister`?

[2018-11-04 13:57] duglin commented on #2427
@jberkhahn any update on this?

[2018-11-04 13:58] duglin commented on #2427
ping @fmui just so you can track this

[2018-11-05 17:43] jberkhahn commented on #2427
@duglin
no, I haven't done any further investigation. I thikn @jboyd01 said he was going to take a look at this?

[2018-11-05 21:20] MHBauer commented on #2427
The specific error is `metadata.name: Invalid value: \"08de49c7/62b3-4e0f/b442/1ed19b644bca\": may not contain '/'"`
Which is an upstream kube apiserver thing, and you can't change it.

[2018-11-05 21:37] carolynvs commented on #2371
In our SIG meeting today we discussed this issue and settled on:

* Fix --uuid to reflect that it is the k8s name
* When more than one class/plan matches by name, print the matching results with the k8s name and prompt the user to pick one and use the specific k8s name instead of the external name

[2018-11-05 21:40] MHBauer commented on #2184
AI for a Campbell in October 1, 2018 sig meeting? I haven't watched it.

[2018-11-06 16:11] sarlaccpit opened #2466 "Enable to unregister service broker"
# Bug Report

**What happened**:

After a service broker is successfully registered with the service catalog, with a related secret containing credentials needed to talk to the it, the following problem occurs after deleting the broker resource:  the broker resource is stuck in error state `ErrorFetchingCatalog` and cannot be cleaned up.

This happens when a chart, containing the clusterservicebro

[2018-11-06 16:27] jboyd01 commented on #2268
The abandon should probably also support Bindings and Brokers.  See issue https://github.com/kubernetes-incubator/service-catalog/issues/2466

[2018-11-06 16:30] jboyd01 commented on #2466
That is a nasty problem.  I believe this is probably working as designed though - Service Catalog is attempting to prevent "orphaning" any resources that may have been allocated through the broker.  In some scenarios users are charged for Service Instances and/or Service Bindings that are created by the Broker.  If Service Catalog can't successfully de-register the Broker it can't be certain all a

[2018-11-07 05:46] kopper opened #2467 "Unable to delete Service Instance if broker responded with 400 during provisioning PUT"
# Bug Report

**What happened**:
Broker responded with 400. It doesn't trigger Orphan Mitigation. User wanted to delete Service Instance, but Service Catalog fails to delete it and logs "ExternalProperties must be set before deprovisioning"

**What you expected to happen**:
Service Catalog should send DELETE to the broker and remove finalizer from Service Instances after successful response.

**Ho

[2018-11-08 16:46] #2397 closed

[2018-11-09 15:00] sarlaccpit commented on #2466
Thank you.  This makes sense.   Will track #2268.

[2018-11-09 21:29] artmello commented on #2451
/assign

[2018-11-12 05:17] #2467 closed

[2018-11-12 23:10] jberkhahn commented on #2451
Hey there. I've been working on the related issue for provision, and I would like if we could make a consistent UX for these commands. Something like 'svcat describe class FOOBAR' finds and describes a class foobar in the current context, regardless of whether it's a clusterserviceclass or namespaced serviceclass, and if it finds more than 1 of those things with a matching name, it errors out to t

[2018-11-12 23:49] tamalsaha commented on #2191
cc: @sttts @nikhita

[2018-11-13 01:39] duglin opened #2478 "Registering a broker requires a secret"
[code]

Notice that I can register a broker in a namespace w/o a user/password (secret) but in the cluster scoped case I can not - it requires a secret.

We should at least be consistent between cluster and NS brokers, but registering a broker should not require a auth since there are some environment in which things are trusted and so that level of security is not needed. In short, let the broker

[2018-11-13 01:44] duglin opened #2479 "svcat: support user/password on the cmd line"
IMO svcat is about making life easier for end users, and in many cases that means allowing them to skip being exposed to the kube resource model (and yaml) for as much as possible. Registering a broker should make life easier for them by allowing them to (optionally) specify a user and password on the cmd line. svcat can then create the secret for them before it lets the rest of svc-cat do its job

[2018-11-13 01:56] duglin opened #2480 "svcat: register should default to cluster scope"
This might be controversial, but here goes....

`svcat` is about making life easier for people, and I would claim, it's also about helping the non-svc-cat experts among us get started with svc-cat. If the person is proficient in Kube then svcat doesn't provide a ton of value because that person is probably already comfortable (an expects) to deal with yaml file and the kube resources directly.

So

[2018-11-13 02:10] duglin opened #2481 "Multiple OSBAPI bind() calls for a single `svcat bind` call"
I'm seeing cases where a single call to `svcat bind` results in more than one OSBAPI call to the Bind() API. I can't tell for sure it they're all being done in parallel or one right after the other really quickly though.

So, first question... is this expected? I wouldn't think so. And to produce it all I do is:
[code]
And then clean-up and try again. It doesn't happen all the time, but eventually

[2018-11-13 04:45] kopper opened #2482 "Add option to disable Orphan Mitigation"
Orphan Mitigation should be optional. Reasoning behind:

1. SC requires ServiceInstance object to exist with externalID before issuing PUT request, thus Orphans are not possible, see https://github.com/openservicebrokerapi/servicebroker/issues/617
2. AFAIU the main reason why Orphan Mitigation is implemented in SC is to deal with brokers, that do not allow to re-provision resources, that earlier f

[2018-11-13 04:55] duglin commented on #2482
Have you checked the spec concerning the optionality of orphan mitigation?
In order to prevent resources being left around it requires the platform to cleanup when things are in an unknown state.

I'm not sure what you mean by point 1.  If a PUT fails, svc-cat can't know for sure if the broker created the resource or erased everything due to the failure. So, to get both systems into the same state

[2018-11-13 05:18] kopper commented on #2482
Hmm, where exactly this is written? OSB Spec doesn't seem to be very precise as to what Orphan is https://github.com/openservicebrokerapi/servicebroker/issues/617

Can svc-cat can sync the state with another PUT?

If resource was indeed created subsequent PUT should sync the state (200 if the resource was provisioned, 202 if it is still in progress).

If resource wasn't created subsequent PUT shou

[2018-11-13 05:29] duglin commented on #2482
See https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#orphans - mainly the 3rd paragraph

As long as you pass in the same parameters AND the broker chooses to save the old one so it can compare them. While the spec doesn't say this (but I think it should), if the broker doesn't save the old params, then it can't check to see if the new PUT has the same parameter values - wh

[2018-11-13 06:31] kopper commented on #2482
Agreed. I'd prefer to clarify OSB Spec first, esp. figure out if we need any OSB Spec changes for https://github.com/kubernetes-incubator/service-catalog/issues/2250 and https://github.com/openservicebrokerapi/servicebroker/issues/617.

I'm afraid that even if we'll come up with some clarifications to the Spec we will be able to introduce them in V3 of it because changes won't be backward compatib

[2018-11-13 08:07] luksa commented on #2481
I'm working on a fix that should solve these kinds of problems. I'll see if I can reproduce your scenario.

Just one question: in your case, are the provision & bind operations asynchronous?

[2018-11-13 12:32] luksa opened #2486 "Introduce back-off statuses & Retries column to ServiceInstances"
We should signal to the user that an instance is currently not being provisioned because a back-off delay is in effect. This also applies to orphan mitigation & deprovisioning.

We should also introduce a `RETRIES` column, akin to the Pods' `RESTARTS` column:
[code]

And here's the corresponding snippet of the pod's JSON:
[code]

It'd be nice to have a similar thing for ServiceInstances & Bindings

[2018-11-13 12:40] luksa opened #2487 "Enable the Informer's cacheMutationDetector during tests"
We should enable the k8s client-go's cache mutation detector during tests.

See https://github.com/kubernetes/kubernetes/blob/07ba609b50d6f00c52acbfd6eaa43e6b527c5c2d/staging/src/k8s.io/client-go/tools/cache/mutation_detector.go#L59-L74

[2018-11-13 13:38] mp-pug opened #2488 "Controller-Manager permanently crashes after installing service-catalog via helm"
# Bug Report

I've tried to install the service-catalog via helm as described on

https://svc-cat.io/docs/install/

The installation worked fine but after the command

helm install svc-cat/catalog    --name catalog --namespace catalog

the catalog-controller-manager pod runs into a CrashLoopBackOff

When I look into the logs of the pod, the following lines are displayed

[code]

I'm not sure wheth

[2018-11-13 14:01] duglin commented on #2481
Nope - they're synchronous.
-Doug

On Tue, Nov 13, 2018 at 4:07 PM Marko Lukša <notifications@github.com>
wrote:

[2018-11-13 15:53] mp-pug commented on #2488
Sure! I have attached both files of the containers running in the SC API Server Pod.

The ouput of `kubectl describe pod apiserver-pod-name -n catalog`  is:

Name:               catalog-catalog-apiserver-58dd7744c5-vdllk
Namespace:          catalog
Priority:           0
PriorityClassName:  <none>
Node:               node2/<Node-IP>
Start Time:         Tue, 13 Nov 2018 13:46:57 +0100
Labels:

[2018-11-13 23:55] mszostok opened #2492 "Cannot delete ClusterServiceBroker/ServiceBroker when wrong auth is specified"
# Bug Report

**What happened**:
The ClusterServiceBroker/ServiceBroker cannot be deleted when specified auth Secret does not exist.

**What you expected to happen**:
The ClusterServiceBroker/ServiceBroker can be deleted even if they are in error state because of the missing Secret.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create ClusterServiceBroker/ServiceBroker with

[2018-11-14 13:37] carlory opened #2494 "should allow service catalog client to update a binding's spec field if the reconciler didn't send a binding request to a broker"
# Bug Report

**What happened**:

service catalog client couldn't update the spec field of a binding because of the RESTUpdateStrategy limitation.

[code]

After I try to remove this check, I am also stuck in trouble when the OriginatingIdentityLocking feature and the ServicePlanDefaults feature are both set.

[code]

the ReconciledGeneration field isn't equal to the Generation field if the reconc

[2018-11-14 13:40] carlory commented on #2494
@nilebox @carolynvs @duglin Could you give me some advice about it ?

[2018-11-14 14:02] nilebox commented on #2494
@carlory As far as I know, OSB doesn't allow updates to bindings, so I think the current behavior is valid - if you need to generate fresh credentials, you should create a new binding, switch your application to a new secret, and remove the old one.

See https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#request-6 for details.

This seems like a rare use case, not sure if we

[2018-11-14 15:38] carlory commented on #2494
@nilebox Thanks for you comment.

Yes, that's right !

But if we want to solve those issue https://github.com/kubernetes-incubator/service-catalog/issues/2348  https://github.com/kubernetes-incubator/service-catalog/issues/2349, we should support this changes.

Please see the proposal for additional context and details: https://github.com/carolynvs/service-catalog/blob/default-service-plan-proposa

[2018-11-14 17:23] jboyd01 commented on #2488
I didn't see anything bad in the apiserver.log or the describe output, nothing stands out as a failure.  That `kubectl get --raw` command is most likely failing with the same issue as the controller-manager though.  It seems something is going bad with the api registration.

You said "_Self-Installed on 3 Centos7 VMs_"  - what is the virtualization platform?

[2018-11-14 20:38] nilebox commented on #2494
@carlory I think defaults could be injected by an admission controller (i.e. by API server, before the binding has been persisted) rather that binding controller. I would prefer this approach over checking that binding request has been sent (this is hard to get right, and I don't think ReconciledGeneration is the right field to check against). I need to double check in the code if we have status t

[2018-11-14 20:56] artmello commented on #2451
Hey, thanks for the heads up. Sure, makes totally sense have a consistent UX, I will follow the same approach.

[2018-11-14 21:27] duglin opened #2495 "IDs in OSBAPI are overly restrictived in svc-cat"
We are encountering Brokers out there that don't use UUIDs as IDs for their services or plans - which is allowed per the spec since they're just defined as non-empty strings, and just recommends them to be UUIDs. This is problematic in svc-cat because those IDs are used to populate the metadata.name property, which is restricted to a `[-.a-zA-Z0-9]+`. In order to support the existing eco-system of

[2018-11-17 09:53] cmoulliard opened #2500 "Status: 403 - Description: User does not have sufficient permissions"
## Version
[code]
## Problem description

When an operator creates a serviceInstance, then the following error is reported

[code]
The ServiceAccount used by the operator within its component-operator namespace has been granted to clusterrole - rbac as defined here : https://github.com/snowdrop/component-operator-demo/blob/master/resources/cluster-rbac.yaml

Is this error due to the fact that the

[2018-11-17 11:40] luksa commented on #2500
You shouldn't specify it (see kubectl explain output below).

The 403 error is returned by the Ansible Service Broker, not by the Service
Catalog controller. The ASB does call back into k8s to check the user's
permissions, but I'm not sure which permission it is actually checking. You
might want to check in the ASB docs/source code.

 $ kubectl explain serviceinstance.spec.userInfo
KIND:     Servi

[2018-11-17 12:41] cmoulliard commented on #2500
I'm also surprised about what the ASBroker is doing as their doc is not very explicit - https://goo.gl/1y4my3

[code]

which is calling then `authorizer.Authorize` - https://goo.gl/8iP1aP

[code]

I have created also a icket on ASB : https://github.com/openshift/ansible-service-broker/issues/1135

[2018-11-26 20:08] ivandov opened #2502 "Provide documentation example showing ServiceInstance with pre-defined UID"
In certain scenarios, a user may want to force the usage of a static UID for a new ServiceInstance. For example, when developing a broker, and requiring a static instance ID that may be recreated in dev/test scenarios.

This is possible via manually invoking the OSB APIs directly, but it would be very beneficial if this can be done directly in a YAML definition as well. Potentially some flag for a

[2018-11-26 20:16] ivandov commented on #2502
I found a working example from this PR to the walkthrough docs:

https://github.com/kubernetes-incubator/service-catalog/pull/839/files?short_path=2af5bed#diff-2af5bedd4fd75eebf48a33be7b0a3eb8

apparently the proper fields to set are `metadata.uid` and/or `spec.externalID`, I set both to the same value, though, I'm not sure which one actually caused the static ID to be set as I had expected.

Agai

[2018-11-28 23:42] jaymccon opened #2505 "LastOperationRequest 200 response incorrectly triggers orphan mitigation"
# Bug Report

**What happened**:

When an async provision fails with a permanent/unretryable error I return a `200` response with a `{ "status": "failed", "description": "error message" }` payload. Based on my interpretation of the [osb spec](https://github.com/openservicebrokerapi/servicebroker/blob/v2.13/spec.md#response-1) this is the appropriate response for a permanent failure.

service-catal

[2018-11-28 23:47] jaymccon commented on #2505
@carolynvs @duglin @jboyd01 Would you mind to provide a review on this issue.

I'm ok with an `invalid`/`won't fix` response, then at least I know that I need to build in different handling for k8s/cf.

If it's something that you agree should be addressed, then I'm happy to work on a PR.

[2018-11-29 14:14] jboyd01 commented on #2505
I didn't attempt to validate this, but I believe if you describe the failed instance you will see events with your broker provisioning error message.    We may need to work on trickling this provision failure cause back to the user.

[2018-11-29 21:11] jaymccon commented on #2505
@duglin thanks for clarifying, I'll get involved in the discussion on openservicebrokerapi/servicebroker#598

Looking at this a bit further, I don't mind the orphan mitigation, assuming that errors are trickled up better. What I do need is a way to opt out of the retries that occur after OrphanMitigation. Is there any approach that you can think of that will allow me to signal to service catalog t

[2018-11-29 21:14] jaymccon commented on #2505
Thanks @jboyd01, just checked this, error message is present

[2018-11-29 23:59] carolynvs commented on #2505
@jaymccon D'oh! That's not helpful. Would you be up for opening an issue for svcat so that it does a better job of surfacing up all the error messages?

[2018-11-30 03:00] nilebox commented on #2505
@jaymccon the problem with the last operation is that there is no way to distinguish permanent failures from temporary. having additional field to `status: failed` would be helpful. /cc @duglin

[2018-11-30 14:11] kolesoffac commented on #2488
I have same error 502.

Can i fix it?

[2018-11-30 14:32] duglin commented on #2505
yep- I really think https://github.com/openservicebrokerapi/servicebroker/pull/570 will help here.

[2018-11-30 16:49] jaymccon commented on #2505
@duglin, this is likely due to my lack of familiarity with the OSBAPI, but I fail to see anything in that PR (or anywhere in the spec) that deals with retrying provision requests. Could you clarify on how openservicebrokerapi/servicebroker#570 will help ?

[2018-11-30 17:07] duglin commented on #2505
See https://github.com/kubernetes-incubator/service-catalog/issues/2505#issuecomment-442658960 to see why I'm linking things - but perhaps I'm mixing stuff up

[2018-11-30 17:18] jboyd01 opened #2508 "The BrokerAuthSarCheck wasn't updated to check access to secrets for NS Brokers"
# Bug Report
The BrokerAuthSarCheck verifies the user requesting to register the broker has access to the necessary secret for communicating with the broker.  This was never updated to work with Namespaced brokers.

https://github.com/kubernetes-incubator/service-catalog/blob/19c1ae7eba0f132641a23cfa939ab141d6070a06/plugin/pkg/admission/broker/authsarcheck/admission.go#L74-L78

If this issue isn't

[2018-11-30 19:30] jaymccon commented on #2505
Maybe I should clarify from my end, I may have been a bit hasty in creating this issue without thorough testing and muddied the water. Let me know if you think I should close this and open a new issue so that it's less confusing.

**What happened**:

When an async provision fails with a permanent/unretryable error my broker returns a `200` response with a `{ "status": "failed", "description": "err

[2018-12-03 10:02] mp-pug commented on #2488
It's setup on VMware

[2018-12-03 19:15] #2380 closed

[2018-12-03 19:23] luksa opened #2514 "ServiceInstance Ready condition inconsistencies"
The `reason` field in ServiceInstance `Ready` condition has an inconsistent sequence of values when going through different types of provision scenarios (sync/async, failed provision with/without orphan mitigation, etc.).

For example, compare failed provision with and without orphan mitigation. In both cases, the first two provision requests fail, while the third one succeeds. The sequence with o

[2018-12-05 20:31] nilebox commented on #2505
@jaymccon See https://github.com/kubernetes-incubator/service-catalog/pull/2520 that stops the retry loop. The orphan mitigation should still be the left in place IMO, otherwise we won't be able to safely retry provisioning after a user updates the parameters.

[2018-12-06 13:24] jasiu001 opened #2521 "Service Catalog manager constantly makes requests to etcd if ServiceBinding has ReferencesNonexistentServiceClass status"
# Bug Report

**What happened**:

Service Catalog manager constantly makes PUT request to etcd if Service Binding has reference to non existing Service Class.
It causes among others `OOMKilled` status on etcd pods when etcd is run with default `snapshot count` configuration which is `100000`.

**What you expected to happen**:

Manager should stop sending requests after some time with the same mess

[2018-12-06 19:03] jaymccon commented on #2505
Awesome stuff @nilebox this PR will help us immensely

[2018-12-06 19:06] #2505 closed

[2018-12-10 11:00] synax commented on #2488
I have the exact same issue. I'm using Kubernetes v1.10.11 (Kops built) in AWS. The apiserver doesn't seem to register properly.  I've tried some older versions of the helm chart (0.1.33 - 0.1.38), all seem to have the same issue.

`kubectl get --raw /apis/servicecatalog.k8s.io/v1beta1`
returns
`Error from server (ServiceUnavailable): the server is currently unable to handle the request`

But as y

[2018-12-13 04:38] jayeshjk opened #2524 "service catalog doesn't send 'previous_values' field in update service instance request body"
# Bug Report

**What happened**:
* According to OSB API Spec [here](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#updating-a-service-instance), update service instance request body can contain 'previous_values' field which is used by some brokers to validate the update request. For example, service-fabrik-broker uses this field as seen [here](https://github.com/cloudfou

[2018-12-17 17:08] luksa opened #2530 "ErrorWithOriginatingIdentityReason doesn't follow convention since it includes spaces"
# Bug Report

All ServiceCatalog condition reasons are written in camel case, without spaces. But `errorwithOriginatingIdentity` contains spaces:

https://github.com/kubernetes-incubator/service-catalog/blob/37b874716ad709a175e426f5f5638322a600849f/pkg/controller/controller_instance.go#L64

The constant is used as a condition reason here: https://github.com/kubernetes-incubator/service-catalog/blo

[2018-12-18 09:01] tamalsaha opened #2532 "FR: Can name of ServiceInstance be passed via ProvisionRequest context?"
We are implementing a service broker for our CRDs. We see that name of ServiceInstance is not passed to ProvisionRequest. xref:  https://github.com/kubernetes-incubator/service-catalog/blob/37b874716ad709a175e426f5f5638322a600849f/pkg/controller/controller_instance.go#L2251 .

Is it possible to pass the name of the ServiceInstance via request to the service broker so that we can use the same name

[2018-12-18 09:01] tamalsaha commented on #2532
/kind feature

[2018-12-19 02:32] wayilau commented on #2530
#dibs

[2018-12-19 18:15] hev opened #2535 "Trouble getting setup on the walkthrough instructions"
# Bug Report
Following the [walkthrough](https://svc-cat.io/docs/walkthrough/) I have gotten stuck after deploying the ups-broker.

**What happened**:
I setup helm, deployed the chart for the ups-broker using the included values.yml file. I went to the next set of instructions for `svcat get brokers` and started getting errors in the response.

[code]

Additionally when I try to follow the step to

[2018-12-21 07:18] wayilau commented on #2487
#dibs

[2019-01-02 03:06] wayilau opened #2538 "test-integration failed"
make test-integration falied.
log:
error: error when creating "contrib/examples/apiserver/clusterserviceclass.yaml": Post https://localhost:32785/apis/servicecatalog.k8s.io/v1beta1/clusterserviceclasses: dial tcp 183.207.215.240:32785: i/o timeout

[2019-01-02 19:48] jboyd01 opened #2540 "external link checker should be enabled with builds on master"
external link checking is not stopping release builds on builds errors, see https://github.com/kubernetes-incubator/service-catalog/pull/2534#issuecomment-448446253

fyi @duglin, @MHBauer

[2019-01-03 20:19] imcsk8 commented on #2530
@kubernetes-incubator/maintainers-service-catalog Is it okay if I take this?

[2019-01-03 21:44] #2530 closed

[2019-01-03 23:19] prashant182 opened #2543 "svcat param-json should support json file as an argument"
# Feature request

**What happened**:
`svcat provision id --plan default --class default --params-json file.json`

**What you expected to happen**:
we have a usecase where huge number of parameters needs to be passed for plan override and some other purpose, now we can accomodate that using `--params-json`, but quickly goes out of hand as the command size grows. Instead it would be nice to have a

[2019-01-09 22:42] thomasriley commented on #2488
Also faced this error running in GKE.

If you run the following command what do you see?

`kubectl describe APIService v1beta1.servicecatalog.k8s.io`

If you see an event with the message `no response from https://10.120.5.212:8443: Get https://10.120.5.212:8443: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)` then the masters are strugglin

[2019-01-11 03:39] ashishjain14 commented on #2524
Hi, Any updates on this?

[2019-01-16 15:20] jboyd01 commented on #1820
above pr 348 was merged.  What's next for this PR?

[2019-01-16 19:14] jberkhahn commented on #1820
This actually already happened. Going to close the issue.

[2019-01-16 19:14] #1820 closed

[2019-01-20 17:18] Zyqsempai commented on #2415
I can take this one.

[2019-01-21 14:32] Zyqsempai commented on #2415
Do we have some kind of doc or guide for verbosity level?
Coz we have variosity from 1 to 10, and actually I don't see any logic in the way many of them are used.
here for example are log level from syslog:
0 - Emergency (emerg)
1 - Alerts (alert)
2 - Critical (crit)
3 - Errors (err)
4 - Warnings (warn)
5 - Notification (notice)
6 - Information (info)
7 - Debug (debug)

Dow we have something like

[2019-01-22 15:30] carolynvs commented on #2415
Sadly no, it's not standardized... For the most part, people have copied/pasted previous logs and reused levels that seemed similar. So if you want to do a couple PRs, one that just keeps all the levels the same, but puts in constants, then another that starts to make them more consistent, another to document the levels, then another that uses defaults or named functions , or something along those

[2019-01-22 15:55] Zyqsempai commented on #2415
@carolynvs Sounds reasonable, I will be glad to work on it. But i suppose that we need to make some decission.
Which levels we will use(the range)
The scope for each range.
Thats important at least for constant naming;)

[2019-01-24 22:18] jboyd01 commented on #2415
I am on board with making changes here, but I don't think changing from
	`glog.V(4).Infoln("Preparing to run API server")`
to
	`glog.V(common.FourthLogLevel).Infoln("Preparing to run API server")`
is beneficial.

I'd like to see us use some constants such as DEBUG, TRACE, INFO, WARN, ERROR

I think we probably need to have some discussion on naming, I've posted it for Monday's SIG meeting https://

[2019-01-24 22:19] jboyd01 commented on #2415
meant to put the old on the pr, not the issue.
/hold remove

[2019-01-28 13:47] j00p34 opened #2554 "etcd connection test is testing cluster etcd urls not etcd specified by --etcd-servers"
# Bug Report

**What happened**:

health check failed due to etcd connection test failing

**What you expected to happen**:

Health check succeeds as etcd servers configured are available. Disabling the health check makes service catalog work.

**How to reproduce it (as minimally and precisely as possible)**:

Run service catalog on EKS, where cluster etcd is not available on the nodes. Install et

[2019-01-28 22:25] carolynvs commented on #2415
Hey @Zyqsempai, in our SIG meeting today we learned that Kubernetes has moved to a better logging solution that glog. https://github.com/kubernetes/community/blob/master/contributors/devel/logging.md

So instead of fixing our use of glog, we voted to move over to klog which should take care of the problems raised in this issue.

[2019-01-28 22:30] Zyqsempai commented on #2415
@carolynvs Glad to hear it, it looks like more appropriate solution. I would love to work on it, but as far as i can see, we should anyway provide constants for `klog.Infof()` five levels?

[2019-01-29 07:55] derberg commented on #2088
in case with base64 encoded schema I meant that instead of schema for instance creation like for example:

[code]

our broker returned string in quotes:
`"ewogICAgICAgICAgICAgICIkc2NoZW1hIjogImh0dHA6Ly9qc29uLXNjaGVtYS5vcmcvZHJhZnQtMDQvc2NoZW1hIyIsCiAgICAgICAgICAgICAgInR5cGUiOiAib2JqZWN0IiwKICAgICAgICAgICAgICAicHJvcGVydGllcyI6IHsKICAgICAgICAgICAgICAgICJiaWxsaW5nLWFjY291bnQiOiB7CiAgICAgICAgICAgICAgI

[2019-01-29 18:20] carolynvs commented on #2415
Yeah, constants for the info levels may be needed. Let's make sure that they are named after how to use them, e.g. "LevelTrace" or something like that.

[2019-01-30 19:54] jberkhahn commented on #2088
I'm still a bit confused here. The instance creation scheme is supposed to be defined as an array of JSON objects like so:
[code]
So, it's an an array of objects under a couple sub headings. There is no attribute called "instanceCreateParameterSchema". Are you sure your catalog response is structured correctly? If you have the field named/structured incorrectly, Service Catalog probably ignores th

[2019-01-30 21:44] jberkhahn commented on #2508
/dibs

[2019-01-30 22:53] derberg commented on #2088
sorry, I think it is because of the shortcuts I'm taking here, once I talk about Service Class in ServiceBroker, sometimes about Service Class in the Service Catalog.

When I write about `instanceCreateParameterSchema` I mean Service Catalog side of the Service Class: https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/v1beta1/types.go#L614
which in case of

[2019-01-31 16:52] Zyqsempai commented on #2415
Opened new PR.

[2019-01-31 17:59] MHBauer commented on #2415
lol the file already moved
https://git.k8s.io/community/contributors/devel/sig-instrumentation/logging.md

[2019-02-05 00:04] jberkhahn commented on #2508
This is done

[2019-02-05 00:04] #2508 closed

[2019-02-05 21:45] jberkhahn commented on #2535
you need to install service catalog first. You're getting that error because you haven't installed service catalog, so the API server doesn't recognize the clusterservicebroker type.

[2019-02-05 21:48] jberkhahn commented on #2427
this was fixed

[2019-02-05 21:48] #2427 closed

[2019-02-05 21:49] jberkhahn commented on #2088
Ok, discussed this with the OSB PMC. We're of the opinion that empty parameters should be allowed, as it means the thing supports no parameters.

need to fix the bug on our end and actually validate the schema rather than just parsing it, though

[2019-02-05 21:54] MHBauer commented on #2415
Upstream suggests a default level of 2. I know the chart is configured at a much higher number.
I do not know what log info level without a V() call is.
I do not know what the breakdown of our usage of V() is within this codebase.
Any constant package should link to the upstream guidance.
I disagree that the log levels need constants.
I agree that we could probably go through and consistence-ize o

[2019-02-06 10:33] derberg commented on #2088
great, just to be 100% sure we understand each other fully: but `empty parameters should be allowed`
you do not mean that empty string is allowed right? but rather something like below examples?:

[code]
or
[code]

[2019-02-06 18:41] jberkhahn commented on #2088
sorry, was a bit incorrect in my previous statement. it should be
[code]

[2019-02-07 08:58] piotrmiskiewicz opened #2563 "The controller does not refresh auth data from a secret"
# Bug Report

**What happened**:

The controller does not refresh secret with authorization data (for example basic auth). This may cause an error, when the secret with credentials is changing, for example in GCP broker

**What you expected to happen**:

Every time the secret with auth  is changed, the controller creates new OSB Client instance

**How to reproduce it (as minimally and precisely as

[2019-02-07 09:02] piotrmiskiewicz commented on #2563
The osb client is updated only in broker reconcile method, see:
https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller_servicebroker.go#L154

[2019-02-10 08:34] lfundaro commented on #1455
Hello folks,

did this go anywhere ? I am also facing this issue. Particularly for shared resource cases. A message queue might have a producer in namespace A and a consumer on namespace B.

Yes, I agree with this. Nevertheless, is there any known workaround for these cases ? apart from having to put the consumer application on the same namespace where the producer lives ?

[2019-02-10 08:56] nilebox commented on #1455
Binding produces a Secret, which you can copy to a different namespace, e.g. using some CronJob

[2019-02-10 09:09] lfundaro commented on #1455
Thanks for the suggestion, but I think having two different applications sharing the same service account to access a resource might be a security risk and something against best practices. Being this a workaround/hack I know it's possible to make it work, but I wonder if we can do better, meaning, not getting outside the service catalog workflow because then you lose the ability to cleanup bindin

[2019-02-10 10:19] nilebox commented on #1455
@lfundaro I have previously suggested a possible solution to support secrets with different namespace: https://github.com/kubernetes-incubator/service-catalog/issues/1455#issuecomment-338511697

Without a change in Service Catalog any workaround would be some hack, as it's against the current design to access instance outside the namespace.

[2019-02-10 16:35] lfundaro commented on #1455
thanks @nilebox . So, according to your suggestion, if I understand correctly, do I need to patch the service catalog ? I think this line hints me to that https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller_binding.go#L194. To get the ServiceInstance you would need to use not the binding's current namespace but rather the one that we specify in the binding

[2019-02-10 21:40] nilebox commented on #1455
Yes, but there are still security implied of such change. Imagine that user has permissions to create a ServiceBinding in namespace A, but doesn't have permissions to read Secrets in that namespace. Then with a new change he/she may create a namespace B, set it in the ServiceBinding spec, and steal the secret.

[2019-02-11 08:55] lfundaro commented on #1455
yeah, thanks for pointing out the security risks about it. I appreciate your help on this matter @nilebox 😄

[2019-02-11 22:43] #2492 closed

[2019-02-17 13:33] junneyang commented on #2100
have any solution?

[2019-02-22 15:35] klaudiagrz commented on #2535
Hello @jberkhahn

It seems that I have the same problem with the ups-broker. I have the Service Catalog installed and I have such an error:
![screen](https://user-images.githubusercontent.com/35192450/53252572-859fb300-36bf-11e9-828a-63a33efab15b.png)

[2019-02-22 18:16] jberkhahn commented on #2535
@klaudiagrz ups broker is currently broken. You can either point your helm chart at the 0.1.39 version, or wait for the next release.

[2019-02-25 08:11] klaudiagrz commented on #2535
@jberkhahn Thank you for your reply :)

[2019-02-26 23:43] #2495 closed

[2019-02-27 09:40] adamwalach commented on #2521
I tested this scenario on SC ver 0.1.41. I was able to remove the namespace, all the service classes were automatically removed as well. Looks like its fixed.

[2019-02-28 03:34] zhongyi-zhang commented on #1574
Would someone follow up with this issue?

[2019-02-28 11:13] Tarkleigh opened #2569 "Version 0.1.40 not available in svc-cat helm chart repo"
# Bug Report

**What happened**:
I tried to get version 0.1.40 version of service catalog from the official (?) helm chart repo (https://svc-catalog-charts.storage.googleapis.com) but it does not seem to be there. The newest version are 0.1.41 and 0.1.40
**What you expected to happen**:
I expected it to be there
**How to reproduce it (as minimally and precisely as possible)**:
Have a look at the h

[2019-03-04 23:42] arief-hidayat commented on #2352
#dibs

[2019-03-05 01:24] arief-hidayat commented on #2352
hi @carolynvs ,
I'd like to start my first contribution here.
I have question.

Why do we need to make different UI behaviour (left navbar) compared to kubernetes docs? e.g. https://kubernetes.io/docs/concepts/services-networking/service/
Would it be better to standardise among all kubernetes docs page?

thanks

[2019-03-05 04:54] arief-hidayat commented on #2352
while waiting for your answer on the above, I have implemented javascript change to recalculate:
* css top position of the left menu, instead of just fixed it to a constant.
* css max-height, to make sure it doesn't overlap with the component below it (footer).

@carolynvs
Please let me know if you prefer this approach. I will then raise PR.

[2019-03-05 07:16] arief-hidayat commented on #2352
Seems like Carolyn is busy. @jberkhahn @mhbauer could you answer my question above? Thanks

[2019-03-05 14:32] carolynvs commented on #2352
@arief-hidayat I've stepped down from the Service Catalog project, but @jberkhahn or @jboyd01 should be able to help.

[2019-03-05 22:09] jberkhahn commented on #2352
Carolyn made it that way because she thought it was a better design, as expressed above. I also prefer it so you can jump around without having to scroll all the way back to the top.

There's no hard and fast requirement for us to behave exactly the same as the core Kube docs as far as I know. I would like it if it couldn't jump out of the frame, though.

[2019-03-05 22:43] arief-hidayat commented on #2352
Thanks @jberkhahn .
I'll proceed with raising the PR then.

[2019-03-06 01:40] jberkhahn commented on #2569
There was an error in our build pipeline when we published 0.1.40. We fixed the images on quay but I guess we forgot to manually update the helm repo. I'll take a look at this.

[2019-03-06 01:40] #2352 closed

[2019-03-06 03:42] junneyang commented on #2488
any solution?

[2019-03-06 22:27] jberkhahn commented on #2538
this looks like just a flake, your apiserver not coming up quick enough

[2019-03-06 22:27] #2538 closed

[2019-03-07 09:44] piotrmiskiewicz opened #2576 "Provisioning error "no OSB client created""
# Bug Report

**What happened**:
The OSB operation, for example provisioning, fails with an error like:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Install any broker, then restart the controller-manager. Then any operation with OSB client fails with an error like: "The instance references a broker "hb-azure-service-broker-default-8d3f0e68-4

[2019-03-07 21:46] jberkhahn commented on #2569
This should be fixed now, we had to manually publish the helm charts. Let us know if anything else needs to be done.

[2019-03-07 21:46] #2569 closed

[2019-03-08 13:42] jboyd01 commented on #2576
ouch, hard to believe this slipped through and hasn't been reported before.

[2019-03-10 01:13] taragu commented on #2268
@carolynvs I'd like to work on this issue
/assign

[2019-03-10 11:26] junneyang commented on #2100
Get Cluster-IP of your service-catalog server
kubectl -n=kube-system get catalog
Add the IP to no_proxy variable in the kube-apiserver config
# vi /etc/kubernetes/manifests/kube-apiserver.yaml
# systemctl daemon-reload && systemctl restart kubelet
should work now kubectl get --raw "/apis/metrics.k8s.io/v1beta1/nodes"

[2019-03-10 12:52] junneyang opened #2578 "Error provisioning ServiceInstance of ClusterServiceClass"
create service instance failed.
Error provisioning ServiceInstance of ClusterServiceClass
Status: 403; ErrorMessage: Forbidden

kubectl describe serviceinstances demo-service-instance -n test-namespace

![image](https://user-images.githubusercontent.com/6802322/54085187-f01a4980-4375-11e9-900d-62b68e9f4d0e.png)

there seems to be no other valid clue, it has stuck me for a long time.......
looking

[2019-03-11 01:28] junneyang commented on #2578
any suggestion?

[2019-03-11 09:35] junneyang commented on #2578
looking forward to your help

[2019-03-11 22:10] #2563 closed

[2019-03-11 22:10] #2576 closed

[2019-03-12 08:47] junneyang commented on #2578
looking forward to your help

[2019-03-19 17:14] calerogers opened #2584 "Scope RBAC permissions for servicebinding secrets"
Hi,

I was wondering if there is any work on the roadmap to address the TODO detailed here? https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/templates/rbac.yaml#L86

We have hit a point where this would be nice to have as we do not want to give service catalog global access to secrets. We currently are working around this by specifying the `resourceNames` of `serv

[2019-03-20 21:02] jberkhahn commented on #1793
I think this has been satisfied by the concepts page on the site, so I'm closing this.

[2019-03-20 21:02] #1793 closed

[2019-03-20 21:03] jberkhahn commented on #1794
I feel like this is satisfied by the walkthrough on the doc site, so closing this one.

[2019-03-20 21:03] #1794 closed

[2019-03-21 22:15] jberkhahn commented on #1795
/dibs

[2019-03-26 09:18] baikai commented on #2191
Hi guys, any progress about this issue?  Or still blocked by "custom sub-resources" and "custom field selectors"?

[2019-03-26 11:13] baikai commented on #2488
Hi @mp-pug , have you found root cause and resolve this issue on your env?
BTW, I want know the service mode in your env, is iptables or ipvs?
I faced similar issue on my env and components version as below:
- kubernetes: 1.13.4 (service mode use **IPVS**)
- helm:2.11
- service:catalog 0.1.42
After deploy Service Catalog by helm charts, the controller manager cannot call api server and throw error

[2019-03-26 11:21] baikai commented on #2543
Hi @prashant182,  do you mean the --params-json need to accept both json string and json file?
I noticed that the description of  "--params-json" option is "--params-json string   Additional parameters to use when provisioning the service, provided as a JSON object.",  by design this option can only support json object/string.  So I think is not a bug, it's a feature enhancements or add a new opti

[2019-03-29 17:50] jberkhahn opened #2588 "0.2.0 docs burndown"
1. add resources to the top bar, build out descriptions of namespaced resources
2. redo concepts page to be about CONCEPTS, not specific resource types
3. add "how to deal with a stuck instance/binding" to tasks

TBD for post 0.2.0
-update walkthrough with actual app/broker/service
-update resources with explanations for all user-settable fields

[2019-03-31 07:33] prashant182 commented on #2543
Yes: I agree with you I think it should be more of a feature request than a bug. Is this something you guys be willing to work on? We deal with svcat daily and we want to pass a big chunk of params to the instance object. It would be great to have both Yaml and Json based file support to read params.

[2019-03-31 13:03] #2578 closed

[2019-04-02 15:10] gree-gorey opened #2592 "Cannot use service-catalog chart with `helm template`"
# Bug Report

**What happened**:
When use Helm without Tiller, one can do `helm fetch --untar` and `helm template . | kubectl apply -f -`. But using this with service-catalog chart results in invalid manifests rejected by `kubectl`.

**What you expected to happen**:
One can use this chart with `helm template`

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything els

[2019-04-03 23:47] jberkhahn opened #2593 "broker --wait flag doesn't work for namespaced brokers"

[2019-04-04 10:24] piotrmiskiewicz opened #2597 "Rewrite controller tests"
Current integration tests cannot be used with the CRDs. This issue is created to track all integration test statuses:
PRs:
 - https://github.com/kubernetes-incubator/service-catalog/pull/2596 (merged)
 - https://github.com/kubernetes-incubator/service-catalog/pull/2580 (merged)
 - https://github.com/kubernetes-sigs/service-catalog/pull/2667

Existing integration test method |                  done

[2019-04-05 14:10] kramvan1 opened #2599 "Kubernetes deprecating resource versions"
# Bug Report

**What happened**:

Kubernetes is deprecating resource versions, need to move to the new levels
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md#deprecation

1.16: Deployment, DaemonSet, ReplicaSet resources from extensions/v1beta1, apps/v1beta1 and apps/v1beta2 APIs.
v1.16: PodSecurityPolicy and NetworkPolicy resources from extensions/v1beta1 API.
v1.17: Priori

[2019-04-09 07:20] baikai commented on #2543
@prashant182  I'm working on this, and will support json format first.  We can continue to deal with the feature in this issue.

[2019-04-09 07:43] baikai commented on #2599
Do you mean the output of “kubectl get cm -n kube-system extension-apiserver-authentication -o yaml” cmd should not include the resourceVersion?
In my env, kubernetes version is 1.13.4, sc version is 0.1.42 and helm version is 2.11.
Output of cmd "kubectl get cm -n kube-system extension-apiserver-authentication -o yaml" as below:
apiVersion: v1
data:
  client-ca-file: |
    -----BEGIN CERTIFICATE-

[2019-04-09 15:41] #1795 closed

[2019-04-10 10:17] baikai commented on #2592
In service-catalog helm chart, the resources(like deploymemts, services...) name pattern is ${release name}-catalog-*, the release name will be passed by helm install, for example, create release by command "helm  install svc-cat/catalog --name catalog --namespace catalog", it means the release name is catalog, then the apiserver service name will be catalog-catalog-apiserver. (If your not specify

[2019-04-10 12:23] gree-gorey commented on #2592
@baikai it's actually not right. You **can**  (and usually should) specify release name by passing `--name` to `template` command like this:
[code]

And then everything is working well, except for the thing with `if .Capabilities.APIVersions.Has` which does require an API call to the server

[2019-04-10 14:43] kramvan1 commented on #2599
Noticed these apiVersion's are out of date:
https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/templates/apiserver-deployment.yaml#L2
https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/templates/controller-manager-deployment.yaml#L2
 
 
Mark VanderwielIBM Watson and Cloud Platform - IBM Cloud Kubernetes ServiceRochester, MN===========

[2019-04-10 14:54] kramvan1 opened #2602 "RBAS null apiVersion"
# Bug Report

**What happened**:

Output from rbac templates is missing apiVersion which causes failures in other tooling (lint, kustomize)
[code]
The template as these in a list, but no version is being put in the output,
[code]

**What you expected to happen**:

All resources have a valid apiVersion.

**How to reproduce it (as minimally and precisely as possible)**:

helm template service-catalo

[2019-04-10 16:20] kramvan1 opened #2603 "ServiceAccount template wrong indenting and unneeded list"
# Bug Report

**What happened**:

https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/templates/serviceaccounts.yaml#L5-L13
The above template has the wrong indenting for a list.
The list is not needed here and should be removed, using `---` instead.

**What you expected to happen**:

The list would be removed for formatted properly.

**How to reproduce it (as minima

[2019-04-10 16:39] kramvan1 opened #2604 "Helm template cmd does not support .Capabilities.APIVersions.Has"
# Bug Report

**What happened**:
https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/templates/apiregistration.yaml#L7-L10

helm template cmd does not support this. https://github.com/helm/helm/issues/3377

**What you expected to happen**:

Allow default either in values.yaml or just pick one and doc the kube version you need.  Just add additional  `else if` to allow

[2019-04-10 18:49] jberkhahn commented on #2604
This is a bug with `template` - these values are intended to be filled in with information from the kube server when you use these templates to `helm install`.

[2019-04-10 19:36] MHBauer commented on #2603
Indenting looks fine to me:
[code]

Please provide guidance on:
` The list is not needed here and should be removed, using --- instead.`

[2019-04-10 19:36] #2603 closed

[2019-04-10 19:36] MHBauer commented on #2602
dup of #2604 which has root cause as helm template cmd does not support this helm/helm#3377

[2019-04-10 19:36] #2602 closed

[2019-04-10 19:39] MHBauer commented on #2599
email has mangled this beyond fixing

[code]

[2019-04-10 19:41] MHBauer commented on #2599
we should do something like in
https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/templates/_helpers.tpl#L11-L21
to address this.

[2019-04-10 21:44] #2408 closed

[2019-04-11 07:15] baikai commented on #2592
@gree-gorey sorry, I'm not expert for helm, and thanks for your comments.
After use option “--name” to pass release name,  resources name works well, but apiVersion are missing:
[root@host-10-1-236-142 catalog]# helm template --name catalog --namespace catalog .|kubectl apply -f -
service/catalog-catalog-apiserver unchanged
deployment.extensions/catalog-catalog-apiserver configured
deployment.exte

[2019-04-12 19:39] kramvan1 commented on #2599
@MHBauer In relation to this, should service catalog have a min required Kube version,  1.12?  Having that in place would make it very easy to address this issue of what apiVersion to use/hardcode in.

[2019-04-12 19:43] kramvan1 commented on #2604
If you have a supported Minimum kube version (1.12) for this, it would make fixing this very easy:
[code]

[2019-04-12 19:47] kramvan1 commented on #2603
@MHBauer can we at least get rid of this unneeded list?    And technically the list indent is incorrect from the spec, but since there was an early kubectl bug (cant find the ref right now), it's allowed as legacy support, which will someday be removed.

[2019-04-12 19:48] kramvan1 commented on #2603
Can we at least get rid of this unneeded list? And technically the list indent is incorrect from the spec, but since there was an early kubectl bug (cant find the ref right now), it's allowed as legacy support, which will someday be removed.
 
Mark VanderwielIBM Watson and Cloud Platform - IBM Cloud Kubernetes ServiceRochester, MN==================================================================In

[2019-04-12 21:01] MHBauer commented on #2603
I am not able to find another yaml parsing tool that cannot interpret the file.

It's multiple items, that's a list.

Can you make a PR with the change you want? It looks like you have a very specific idea about what it should be.

[2019-04-12 21:01] MHBauer commented on #2603
/assign @jberkhahn

[2019-04-13 23:28] taragu opened #2610 "Error removing bindings with svcat unbind --abandon"
# Bug Report
Reported by @cforce

**What happened**:
Both `svcat unbind --abandon` and `svcat unbind --abandon --yes` errorred:
[code]

**What you expected to happen**:
Both `svcat unbind --abandon` and `svcat unbind --abandon --yes` should remove all bindings for the instance.

FYI @jberkhahn
/assign @taragu

[2019-04-15 17:27] taragu commented on #2610
@cforce In this case the state is in `ReferencesNonexistentInstance`, so you should be able to use `svcatc unbind push-adapter-db.dev.db -ndev` without the `--abandon` flag to delete the binding. Closing this issue

[2019-04-15 19:04] MHBauer commented on #2599
authorization stuff is v1 since 1.12 at least, https://kubernetes.io/docs/reference/

[2019-04-15 23:55] #2592 closed

[2019-04-17 21:46] #2451 closed

[2019-04-18 21:47] jberkhahn commented on #2604
this was fixed in Dug's #2609, right? Closing.

[2019-04-18 21:47] #2604 closed

[2019-04-19 09:02] cforce commented on #2610
If course I tried wirhout--avandon too. I am still using latest stabke v 1.5 für catalogue service on server side, just used updated svcat client to snapshot/nightly. May that be the issue?

[2019-04-19 17:16] jberkhahn commented on #2610
i'm not sure what you mean, version 0.1.5 of service catalog? That's pretty old. What's the state of the binding before/after trying to unbind without the --abandon flag? could you post the binding yaml?

[2019-04-19 18:29] kramvan1 commented on #2599
@MHBauer sure `1.12` would be a good place to start, then it's just a matter of Doc'ing that and updating the templates directly that have deprecated  apiVersions.

[2019-04-19 18:51] 2tim commented on #2100
I'm having a very similar issue on a cluster deployed to a private VPC connected to an on prem network. I noticed that I am unable to install and get the errrors mentioned above with both a kops and eks cluster on this network topology. I have no issues with any other pods having traffic issues. I was able to install on a standard eks install not attached to this VPC. It appears the underlying net

[2019-04-19 19:13] MHBauer commented on #2100
Which errors? How are you installing? What values are you setting in
helm that differ from the defaults?

On 4/19/19 11:51:21, 2tim wrote:

[2019-04-19 21:07] 2tim commented on #2100
It’s a default helm install. I was able to talk to someone on the slack
channel for sig-service-catalog and I think it has something to do with the
pod that holds the api server and Etcd containers. The apiserver is not
able to connect to etcd, but only with the private network topology
mentioned. This seems strange since the communication is purely between the
containers in one pod and not outsid

[2019-04-21 02:30] jpreese opened #2613 "Suggestion: Documentation for Using Service Catalog in Go"
I've been playing around with using the Service Catalog purely in Go, and it was a bit of an adventure.

I think there would be value in even just a small example that provisioned an instance from a Go project (e.g. a controller).

This is the approach I ended up taking. Note, you'll have to have your project in a Go module as Service Catalog includes a vendor/ folder.

[code]

[2019-04-22 05:34] MHBauer commented on #385
/cc @jberkhahn
Does this has a place anymore? If not, I'm fine with closing it.

[2019-04-22 19:10] MHBauer commented on #763
/cc @jberkhahn
this is probably taken care of by the test rewrites

[2019-04-23 16:04] MHBauer commented on #2039
/assign @jberkhahn
Does go modules solve this? Maybe this can be part of the movement to a new repo home?

[2019-04-23 16:07] MHBauer commented on #1968
/assign @jberkhahn

This is a low-priority bug. As I say above, it's defined that we overwrite things. Combined with the "I get the secrets exactly one time" it becomes an issue if we don't overwrite them, as it'll lose the creds.

[2019-04-23 16:10] MHBauer commented on #2008
@jberkhahn @jboyd01 can I delete this folder?

[2019-04-23 16:12] #1837 closed

[2019-04-23 16:14] MHBauer commented on #1848
/assign @jberkhahn
I'm never going to do this. Maybe ginkgo will solve this with it's zillion process spawning. Otherwise, the issue will continue to exist in the backlog.
/close

[2019-04-23 16:14] #1848 closed

[2019-04-23 16:17] MHBauer commented on #881
/assign @jberkhahn
If you want VCAP_SERVICES output, this is the issue.

[2019-04-23 16:23] MHBauer commented on #1726
/assign @jberkhahn
svcat stuff

[2019-04-23 16:24] MHBauer commented on #1724
/assign @jberkhahn
svcat stuff

[2019-04-23 16:26] MHBauer commented on #1908
resolved by #2110
/close

[2019-04-23 16:26] #1908 closed

[2019-04-23 17:46] MHBauer commented on #2019
Closing until it shows up again, or someone wants to tackle the comment bit.
https://github.com/kubernetes-incubator/service-catalog/issues/2019#issuecomment-387533538
https://github.com/kubernetes-incubator/service-catalog/pull/2020#pullrequestreview-118483675
/close

[2019-04-23 17:46] #2019 closed

[2019-04-23 18:41] MHBauer commented on #2009
/assign @jberkhahn
Sounds like, works in plugin mode, but not in standalone mode.

[2019-04-23 22:47] cforce commented on #2610
Using azure service broker 1.5 and service catalogue 0.1.42 and svcat from master.
What versions are at least necessary for the feature to work?

[2019-04-23 23:02] jberkhahn commented on #2610
That should be new enough. I can't say more about what might have been the cause without more info, like the binding yaml after the abandon call failed, however.

[2019-04-24 12:06] shahiddev commented on #2167
/remove-lifecycle stale

[2019-04-24 13:14] polskikiel opened #2616 "k8s client-go dependency is outdated"
# Bug Report

**What happened**:
SC uses client-go in version 1.11, because of that it may be hard to use SC dependency with some new projects which use client-go in versions 1.12-1.14

**What you expected to happen**:
SC uses client-go in newest version

[2019-04-24 15:56] jboyd01 commented on #2076
/remove-lifecycle stale

[2019-04-24 17:25] jberkhahn commented on #2189
this is still a work in progress, but is put off until we get 0.2.0 out

[2019-04-24 17:32] jberkhahn commented on #806
/close