[2018-01-22 22:14] carolynvs opened #1682 "Document how to use the svcat binary"
This is a follow-on to #1664.

Currently svcat is only documented in it's readme in ./cmd/svcat. Now that it's merged, the documentation should be integrated with Service Catalog's docs. This should wait until #1681 is completed.

- [x] Move ./cmd/svcat/README.md into ./docs
- [x] Copy svcat install instructions into install.md
- [x] Update walkthrough to use svcat

[2018-01-22 22:26] arschles commented on #634
Very specifically, I would like us to have a document that clearly specifies how a new contributor can become a maintainer to this repository. I believe that the steering committee is doing some work  to define the criteria across SIGs, so I think we should put this on hold for now. I'm going to remove from the 0.2.0 milestone.

[2018-01-23 17:33] arschles commented on #1673
I'm good with running a stripped down version for docs-only changes

[2018-01-23 17:50] MHBauer commented on #1673
Gotta run @duglin's href-checker.

[2018-01-23 19:30] MHBauer commented on #1124
implemented in https://github.com/kubernetes-incubator/service-catalog/pull/1264

[2018-01-23 21:46] MHBauer opened #1686 "we should choose one uuid library and stick to it"
available are

github.com/pborman/uuid
github.com/satori/go.uuid
k8s.io/apimachinery/pkg/util/uuid

[2018-01-23 22:56] carolynvs commented on #1686
Looks like k8s.io/apimachinery/pkg/util/uuid wraps github.com/pborman/uuid and adds protection against generated duplicate uuids when requesting them quickly. So maybe that's the one to go with.

[2018-01-23 23:49] carolynvs commented on #1681
I can't make next Monday's sig meeting but it would help to figure out where to publish the svcat binary. Here are the options I see:

1. Continue publishing to Azure storage, links stay the same, and we can reuse the upload code from https://github.com/Azure/service-catalog-cli/blob/31a1c340ec13263391eebc2775dc5b4d7c9f6e67/Makefile#L60-L63
2. Publish to this repository's github releases and use a

[2018-01-23 23:55] MHBauer commented on #1681
Is there a dockerfile? We can make an image and then suggest a bash alias for use. @duglin has some tips for doing this, I know.
Just like how we run go as a docker cmd, we can have svcat aliased to an image and bam, go go go.

[2018-01-24 00:54] nilebox opened #1689 "Reduce the ServiceInstance max polling retry delay"
Some AWS CloudFormation stacks take long time - around 10 minutes to provision an instance. In that case because of exponential retry config, it takes up to 17 minutes to update the instance status after it has succeeded.

Can we reduce the `maxDelay` or make the `baseDelay` and `maxDelay` configurable in Service Catalog?

---

ServiceInstance controller queue is using `workqueue.DefaultController

[2018-01-24 01:46] nilebox commented on #1689
Actually I looked at the wrong queue.
The correct one is:
[code]
and it does have a configurable `operationPollingMaximumBackoffDuration` parameter, but this parameter is currently always resolved to default of 20 minutes (see https://github.com/kubernetes-incubator/service-catalog/blob/master/cmd/controller-manager/app/options/options.go#L53), and not exposed through controller flags.

So the sug

[2018-01-24 01:48] nilebox commented on #1689
This flag actually already exists:
[code]
Sorry about the noise, closing the issue.

[2018-01-24 01:49] #1689 closed

[2018-01-24 11:45] maleck13 opened #1690 "Should last operation always contain a default message even when there is a description provided"
When getting the last operation from the ServiceInstance there seems to be always appended a default message something like: ```The instance is being provisioned asynchronously``` after which in brackets the last_operation description is set
[code]

I wonder if, in the case there is a broker description provided, should the the default message be removed and just return the actual last operation d

[2018-01-24 13:44] mijajasinski opened #1691 "ServiceBinding parametersFrom attribute is not validated for having no keys"
Service Catalog version used: 1.3

If you try to create a ServiceInstance with parametersFrom having empty key:

[code]
You get an error:

On the other hand, if you attempt to create a ServiceBinding with empty key:
[code]
Even though, this is incomplete information, binding gets created and the "parametersFrom" looks like that:
[code]

I believe the second scenario should return an error, akin to

[2018-01-24 17:25] cgmcintyr commented on #1673
See PR #1693 for proposed fix.

[2018-01-25 14:56] carolynvs commented on #1681
@MHBauer It would be cool to publish a docker image of svcat, and tell people how to run it automatically using a bash alias, or Jess Frazelle-esque bash shenanigans.

We'll still need published binaries for the huddled masses who don't run everything in containers though. 😀

[2018-01-25 16:35] pmorie commented on #1362
I'm not sure we will wind up doing this one.

[2018-01-25 18:48] MHBauer commented on #1681
Agree we need a binary, just want to add it to the list.

[2018-01-25 22:26] #1665 closed

[2018-01-26 15:49] carolynvs opened #1699 "svcat provision/bind doesn't parse params properly"
When svcat was migrated to this repo, I had to add viper into the mix in order to bind to the kubectl plugin environment variables. This introduced a bug in `svcat provision` and `svcat bind`:

[code]

This is an open issue with viper, https://github.com/spf13/viper/issues/246. Will follow up with a workaround PR shortly.

[2018-01-26 18:38] shawn-hurley opened #1701 "X-Broker-API-Originating-Identity Does not have extras"
Service Catalog does not send over extra fields in `extra` instead it is a top level of the created object.

Actual results:
[code]
Expected results:
[code]

[2018-01-26 22:03] MHBauer commented on #1701
Does look like a bug.

[2018-01-26 22:06] MHBauer commented on #1701
https://github.com/openservicebrokerapi/servicebroker/blob/v2.13/profile.md#kubernetes

[2018-01-26 22:07] shawn-hurley commented on #1701
Thanks for finding the link, I should have included in my initial bug report

[2018-01-26 22:22] jeremyrickard opened #1703 "Add sorting to svcat get commands"
When using `svcat get classes` or `svcat get plans`, it would be nice if you could optionally sort on columns when there are a large number of classes or plans.

[2018-01-26 22:28] carolynvs commented on #1703
What do you think about using the same flag name and format as kubectl? e.g.

[code]

[2018-01-26 23:17] jeremyrickard commented on #1703
#dibs

Yeah, that seems reasonable. I'll work on a PR for this.

[2018-01-29 08:16] nilebox commented on #1691
Hi @mijajasinski, it does look like a bug, thanks for reporting.

[2018-01-29 15:41] jpeeler commented on #1675
My only concern is that if you're using a distro provided copy of go, root is required for a -i operation. Perhaps following what was done here would make it fine: https://github.com/kubernetes-incubator/service-catalog/pull/1566. I know it's an edge case, but still.

[2018-01-30 02:06] jpeeler commented on #1675
It installs to $GOROOT/pkg, which might be in /usr/lib/golang owned by root.

[2018-01-30 19:35] jboyd01 commented on #1587
I've got several issues reported against this in OpenShift.  Discussed with @staebler  2 possible approaches:

A.  At completion of async provisioning, if deletion timestamp is set, don't update the reconciled generation.

B.  Store the generation used when the async operation starts and make that the reconciled version when it completes successfully.

Matt said deletion is the only pending operat

[2018-01-30 21:33] kibbles-n-bytes commented on #1587
I'm okay with (A) for the short term. I agree (B) would be ideal long-term, and would come in handy as well if we ever wanted to support concurrent updates.

An additional alternative would be to change our logic to bail out of the poll and start attempting to deprovision. That could be done by adding more complex logic to `getReconciliationActionForServiceInstance` that prioritizes `reconcileServ

[2018-01-30 21:54] staebler commented on #1587
I prefer bailing out of the last-operation polling when the object is deleted. I wasn't sure whether we wanted to disobey the guidance in the OSB API spec that says the following (https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#polling-last-operation).

[2018-01-30 22:14] jboyd01 commented on #1587
I've got (A) implemented and tested and was just adding the integration test for it.

I'm concerned about (C), my feeling is many brokers won't be able to abort immediately although as kibbles wrote, I'd expect them all to eventually finish the provisioning and then successfully execute the deprovision on the next pass.

@staebler, @kibbles-n-bytes, do you feel strongly about (C) over (A)?

[2018-01-30 22:35] staebler commented on #1587
@jboyd01 I am good with (A) being the short-term solution.

As for (C), even if a broker did finish the provision before accepting the deprovision request, we would be no worse off then we would be if service-catalog waiting until the provision completed anyway. The only difference would be that service-catalog would be sending deprovision requests--to which the broker would respond with 422 Unpro

[2018-01-30 23:32] kibbles-n-bytes commented on #1587
@jboyd01 Same; I'm good with (A), and we should definitely get your changes in for it.

@staebler Interesting. I agree it seems like we're going against the guideline, though I think it's fine in this case. There's also precedent with the maximum retry duration for the Platform aborting a poll loop and starting . I think we should clarify the spec though to make it clear that Platforms can decide

[2018-01-31 01:37] MHBauer opened #1707 "Why did travis go vet miss #1705"
The build did not catch the error `pkg/apiserver/etcd_config.go:119: range variable storage captured by func literal`.

I can only see it show up on one of my boxes. Why is that?

[2018-01-31 16:26] #1701 closed

[2018-01-31 17:02] MHBauer commented on #1649
still threads hanging about, even if I pause for 5minutes after all tests have run. maybe a longer timeout is needed, but this is what I see:
[code]

[2018-02-01 00:26] kibbles-n-bytes opened #1710 "switch to using a deploy stage for Travis"
Currently, for a master or release build, Travis runs the tests and deploys the images within the same job as part of two different phases. For master commits, this hasn't been issue, but for releases the deployment takes longer due to building images for all the architectures, and we have been running right up against and into the 50 minute timeout for releases since v0.1.4, causing us to have to

[2018-02-01 18:57] #1710 closed

[2018-02-02 15:19] maleck13 commented on #1222
@pmorie @duglin
Thinking more about this, I think my general use case is closer to 2. I think it would be useful to allow brokers to return a set of labels (maybe as part of the catalog response that they want applying to objects created based on that ClusterServiceClass.

Example:
The broker adds a set of labels as part of the catalog response.
These labels are then applied to any ServiceInstance

[2018-02-05 00:44] nilebox opened #1715 "Instances: 4xx, 5xx and Connection timeout should be retriable (not terminal errors)"
If the OSB request to the broker times out, Service Catalog executes the orphan mitigation and leaves the instance in the TerminalError status:
[code]
It means that if OSB broker was temporarily unavailable (or had some other temporary issue leading to slow request processing), Service Catalog won't retry provisioning. So to retry, the user needs to whether delete the instance and create it again,

[2018-02-05 01:24] pmorie commented on #1715
Agree this should not be a terminal error

On Sun, Feb 4, 2018 at 7:44 PM Nail Islamov <notifications@github.com>
wrote:

[2018-02-05 12:10] jhcook commented on #1678
@jboyd01 I would like to be involved in collating and maintaining documentation. @pmorie the relevant people should convene to decide a way forward since documentation templating tends to be opinionated.

[2018-02-05 16:15] #1676 closed

[2018-02-06 00:33] nilebox commented on #1715
So by looking at the code the current behavior was actually added by-design by @kibbles-n-bytes:
[code]
so I see 2 options for resolving this issue:
1) just remove this block and treat the connection timeout the same way as the other errors, i.e. as retriable straight-away and no orphan mitigation
2) leave the orphan mitigation for connection timeout and implement retry loop at the end of orphan m

[2018-02-06 02:20] jeffchanjunwei commented on #1678
hi @jboyd01 , how can i  join？ I have sorted out some information about this.

[2018-02-06 03:20] nilebox commented on #1715
After re-reading the OSB spec again, it seems that Option 2 is the only one that is considered valid by the spec.

The problem seems to be more serious than just connection timeout though.
`400 Bad Request` is also considered a terminal error, for example. And it certainly doesn't make sense to retry after receiving this error (unlike request timeout). But the current implementation of Service Cat

[2018-02-06 04:13] nilebox commented on #1715
I took a look at the OSB provisioning errors, and what IMO should be changed, marked those in bold with asterisk (*):

Error | Orphan mitigation required? | Retriable automatically (after orphan mitigation if required)? | Retriable after `ServiceInstance` spec updated? |
| --- | --- | --- | --- |
| Timeout | Yes | **Yes*** | **Yes*** |
| 4xx | No | No | **Yes*** |
| 5xx | Yes | **Yes*** | **Yes***

[2018-02-06 07:14] leonwanghui opened #1717 "Can not start svc-cat service with helm"
When I install service-catalog following the [installation](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/install.md), some errors occurred as follows after I run ```helm install svc-cat/catalog \
    --name catalog --namespace catalog```:
[code]

Here is my environment:
**os version**: Ubuntu 16.04.2 LTS
**go version**: go1.9.2 linux/amd64
**k8s version**: v1.9.0 (make

[2018-02-06 14:21] jpeeler commented on #1717
Perhaps running helm install with --debug will help show where the issue is.

[2018-02-06 14:26] leonwanghui commented on #1717
Thanks, but I don't think it would help a lot.
[code]

[2018-02-06 14:55] krancour commented on #1717
You need to be using Helm 2.7.0 or higher. The genCA template function does not exist prior to that. iirc, installation documentation does make note if the 2.7.0+ requirement.

[2018-02-06 15:29] leonwanghui commented on #1717
@krancour Thanks! It turns out that my helm version is v2.6.2, and everything works fine after I upgrade it to v2.8.0

[2018-02-06 15:29] #1717 closed

[2018-02-06 15:42] #1699 closed

[2018-02-06 23:19] #1361 closed

[2018-02-08 02:14] martinmaly opened #1720 "Add option to display plan schemas in svcat"
Currently it doesn't seem possible in `svcat describe plan` to show full detail of the plan, specifically schemas for provisioning and/or binding.

Would it be possible to add support for such detailed output?

[2018-02-08 03:03] carolynvs commented on #1720
@martinmaly Is that information currently returned by the service catalog api? I'm not quite familiar with what you mean by schemas.

[2018-02-08 14:54] carolynvs opened #1722 "Prune vendor directory?"
When I migrated us to dep, I didn't turn on pruning because of a gap in dep, and how it treats the code-generator repo that caused dep to no properly vendor the non-go code in that repo. Once https://github.com/golang/dep/pull/1545 is merged however, we can turn pruning on if we like.

Do we want to?

[2018-02-08 20:17] #1588 closed

[2018-02-08 21:09] pmorie commented on #1678
@jhcook I'd prefer not to make a group decision to move forward - if someone is interested in writing doc for one of the areas mentioned here, I'd happily merge it and we can make a group decision later about reformating, etc.

@jeffchanjunwei Is there a particular area you're interested in documenting?

[2018-02-08 21:21] pmorie opened #1723 "Determine best way to offer a mitigation for 'stuck' instances and bindings"
We have a few different issues where instances or bindings can become 'stuck' after deletion due to a few different reasons:

- Broker went down
- Bug in a broker that prevents broker from correctly being able to deprovision/unbind
- etc etc

See: #1551 #908

A workaround for these cases is to edit the resource and remove the finalizer token for the catalog. That's a workable stopgap for now; it's

[2018-02-08 21:36] carolynvs commented on #1723
I am pro the "svcat nuclear option". 💣

[2018-02-08 21:43] carolynvs commented on #1723
svcat should make it more promenent that a instance is scheduled to be deleted. Here's the issue that was on our old backlog for that: https://github.com/Azure/service-catalog-cli/issues/70

[2018-02-08 21:59] pmorie opened #1724 "Differentiate svcat commands that are likely to require admin privileges"
Some of the commands in svcat are likely to require cluster-level privileges for some of the API resources

For example, the `svcat describe class` command will show the provisioned instances of a service class.  In a cluster that uses RBAC, it is likely that this would only work correctly for a user that had cluster-level `get` on the `serviceinstance` type.

We should make an attempt to draw lin

[2018-02-08 22:02] pmorie commented on #1724
Related #1723

[2018-02-08 22:32] carolynvs opened #1726 "Verify user has access to cluster level resources before accessing them with svcat"
Some users of svcat won't have access to cluster level resources like brokers, classes, plans, or listing instances at the cluster level. Instead of svcat blindly running those queries, and then dumping ugly error messages:

[code]

We can do a [SubjectAccessReview](https://github.com/kubernetes-incubator/service-catalog/blob/master/plugin/pkg/admission/broker/authsarcheck/admission.go#L100) befor

[2018-02-08 22:36] carolynvs opened #1727 "Allow filtering instances by class and plan"
I expect that I'm not the only one who will want to list all "mysql databases" without digging through each plan. Right now we have `svcat describe plan NAME` which lists instances of the plan. I'd like to see this too:

[code]

Since the API server doesn't support filtering on the server side, this would be client-side filtering.

[2018-02-08 22:37] carolynvs opened #1728 "Indicate that deletion has been requested in svcat"
I deleted a helm chart before it finished provisioning and things went sideways. Everything is gone now except the instance:

[code]

I then tried to cleanup my mess by deleting the instance through kubectl. I've been told that it is pending deletion because the deletion timestamp is set in the metadata.

Would it make sense for that to be included in the output of `describe`? We could check for t

[2018-02-09 05:58] martinmaly commented on #1720
I believe so; when I run `kubectl get clusterserviceplans <GUID> -o yaml` and the service plan contains schema (as per https://github.com/openservicebrokerapi/servicebroker/blob/v2.13/spec.md#schema-object) the `kubectl` will print whatever schema the broker provided.

I guess kubectl will just print the whole resource as yaml so having a full resource yaml output in svcat would suffice.

[2018-02-09 14:51] pmorie commented on #1678
@jhcook what do you think about adding doc for adding a broker to the catalog?

[2018-02-09 16:46] carolynvs commented on #1724
@pmorie Are you okay with closing this in favor of https://github.com/kubernetes-incubator/service-catalog/issues/1726?

[2018-02-09 17:13] carolynvs commented on #1720
Nice! I didn't know about the optional schema (because OSBA doesn't return them yet).

There is definitely value in having the schema printed out by default. Would you be interested in working on that? I'd be happy to help.

Maybe something like this?

[code]

That said, a yaml dump flag would also be useful too. I'm just all for making the UX for svcat shine, so I'd like to see us improve the def

[2018-02-12 03:34] jeffchanjunwei commented on #1678
hi @pmorie , sorry for late reply. I think maybe the following conceptes are suitable for me. Very honored if I can join in .
Concepts:
  Kube concepts (Not sure the specific concepts. I think is the relation between svccat and kube.)
  Design docs
  Why svc-cat?
  API concepts
References
  API docs

[2018-02-12 17:22] carolynvs opened #1736 "Add wait flags to svcat commands"
A pretty common scenario is that I want to execute an operation (provision/bind) and then wait for it to be ready to use. I think it would be very dev friendly to support those with flags, instead of driving people to use bash-foo:

* `svcat OP` does not wait by default. The status will be empty in the output. Useful when you want to chain multiple commands and wait for them later.
* `svcat OP --w

[2018-02-12 17:32] duglin commented on #1736
I would also think it should be the opposite - make the default "wait" and add some "--no-wait" flag for the less common cases where you don't want to wait.

[2018-02-12 17:35] carolynvs commented on #1736
I agree! Not sure why I picked it to work that way when I first created that issue a while back but I'd prefer that svcat do what most people probably want by default.

[2018-02-12 18:28] pmorie opened #1737 "Pin to a release version of go-open-service-broker-client"
We're currently just using shas directly; I released 0.0.1 this weekend until we finalize versioning scheme - we should pin to a released version instead.

[2018-02-12 20:23] nilebox commented on #1672
We have noticed the same issue with retrying after connection timeout or `400 Bad Request`. Agree that we should be able to retry, see a table in https://github.com/kubernetes-incubator/service-catalog/issues/1715

[2018-02-13 12:36] MHBauer commented on #1737
Nice to have a version to work against.

For whoever tackles this, I'd like voice a request to write down the steps as developer documentation and if possible make a screen recording of the steps in action, however boring they may be.

[2018-02-13 12:52] MHBauer commented on #1722
Is pruning 'do not include packages we never call'? If so, why not?

[2018-02-13 14:18] carolynvs commented on #1722
There are three pruning options available:
* Unused packages - Remove packages that aren't imported
* Non-go code - Removes files not used by go
* Go tests - Removes *_test.go files

I'll submit a PR that demonstrates this, and my workaround for not having that dep PR merged yet. Should be able to remove quite a bit of cruft.

[2018-02-13 14:20] carolynvs commented on #1737
I can do this today. I'll write up the steps for working with dep, and how I added the new constraint.

[2018-02-13 18:13] #1722 closed

[2018-02-13 19:48] rthallisey commented on #1723
The ansible-service-broker community was looking at tackling this from a broker perspective via https://github.com/openshift/ansible-service-broker/issues/666.

To echo the concern here, we want to make sure the user is fully aware that if they want the service-instance always deleted then they break the guarantee that all resources are cleaned up.  So the solution the community is thinking of mer

[2018-02-13 21:59] kibbles-n-bytes commented on #1720
@carolynvs I'm happy to take a crack at this!

[2018-02-13 22:22] carolynvs commented on #1720
@kibbles-n-bytes Hurray!

[2018-02-14 15:16] rthallisey commented on #1723
tagging folks @pmorie @carolynvs ^

[2018-02-15 07:25] #1691 closed

[2018-02-15 13:59] MHBauer opened #1742 "fix docker permissions"
Inside of the dockerized build commands are run as root, resulting in root owned files outside of the build. This requires a `sudo make clean` or for the build image to exist so it can be run. This results in absurdities such as building the image to remove files.

[2018-02-15 22:45] arschles opened #1744 "svcat unbind NAME doesn't complain if NAME is not a valid ServiceInstance"
If you run `svcat unbind myinstance`, the expected behavior is to delete all bindings under myinstance.

If myinstance doesn't exist, svcat fails silently (with exit code 0). It should print something like "instance not found"

To complare, `svcat unbind --name thing` deletes only a single binding. This command does output a failure:

[code]

[2018-02-16 18:15] jboyd01 commented on #1587
Reopening.  pull #1708 only addressed **instances**, async **bindings** still has this same problem.  Additionally,  instances was addressed with a quick fix (don't bump the rec generation if there is a pending delete) vs the agreed upon correct fix (persist the async operation's generation and set that at the completion).

[2018-02-20 03:28] nilebox commented on #1715
Proposed changes in Service Catalog code to resolve this issue:

**1.** Move all non-terminal errors from `Failed:True` to `Ready:False` with `Reason` set (the only error that should be kept in `Failed:True` then is for `400 Bad Request` which will require retry only after the spec has changed)
- this allows to retry immediately without requiring to update the spec
- this also means that we will h

[2018-02-20 03:47] nilebox opened #1747 "Switch from ReconciledGeneration to ObservedGeneration (or change its semantics)"
Currently, if `ReconciledGeneration` is equal to instance's `Generation`, we don't process Add/Update events:

https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller_instance.go#L257
[code]
Hence, as far as I can see, we don't update `ReconciledGeneration` if the retriable error occurs.

This is bad, because then the user can't determine which `Generation` th

[2018-02-20 03:50] nilebox commented on #1747
This issue is related to the proposed changes for retries #1715

[2018-02-20 04:07] nilebox commented on #1747
To support such usage of `ObservedGeneration` - deployments: [deployment_util.go#L791](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/util/deployment_util.go#L791)
[code]

[2018-02-20 04:15] ash2k commented on #1747
Item 10 from [the list](https://github.com/kubernetes/community/blob/master/contributors/devel/controllers.md):

Current `reconciledGeneration` has different semantics and hence the client does not have means to find out where the controller has seen the update or not (separate concern to whether the update has been processed successfully or has failed).

[2018-02-20 04:38] nilebox commented on #1747
There are places where switching from `ReconciledGeneration` to `ObservedGeneration` could be tricky, e.g.
[code]
so maybe we need both (and set `ReconciledGeneration` only after success)

[2018-02-20 05:31] nilebox commented on #1587
With `ObservedGeneration` (see https://github.com/kubernetes-incubator/service-catalog/issues/1747) we can just update `ObservedGeneration` at the start of the operation, and never update it on the polling completion.

Then we wouldn't need to store a generation separately as proposed in (B).

[2018-02-20 13:31] carolynvs opened #1749 "Support displaying and filtering by broker in svcat"
In cases where more than one broker is installed on a cluster, it would be helpful to display the associated broker in the list of classes/plans, for example:

[code]

Additionally, a `--broker` flag filtering by broker, would be useful:
[code]

[2018-02-20 13:56] carolynvs commented on #1723
Even if the broker had a force delete, we may still want this cleanup functionality in service catalog for cases where the broker is not acting as expected, and the user really wants to remove the k8s resources.

[2018-02-20 14:28] #1737 closed

[2018-02-20 14:44] #1720 closed

[2018-02-20 15:07] codevulture commented on #1749
Thanks for the tracker issue, i would also like to work on the change.

[2018-02-21 05:17] pmorie commented on #1747
I'm processing all this still. At first, I'm not exactly sure what this buys us - do we need the new fields, or do we need to be smarter about when we updated ReconciledGeneration?

[2018-02-21 05:27] nilebox commented on #1747
@pmorie we have a number of problems with `ReconciledGeneration`:
1. As described in this issue, we need to tell the user which version the status is relevant for (including intermediate progress status, not just which version we have finished processing), i.e. `ReconciledGeneration` doesn't provide enough information.
2. You can find examples of `ObservedGeneration` in Kubernetes code, while I ha

[2018-02-21 05:29] nilebox commented on #1747
I think that `ReconciledGeneration` is redundant, and raised a PR #1748 where I marked `ReconciledGeneration` as deprecated, and still set for backward compatibility, but don't read it for any reconciliation purpose anymore.

[2018-02-21 15:32] carolynvs opened #1752 "Print both the client and server versions in svcat version"
Once #1681 is in, it would be very helpful to be able to quickly see the version of both the Service catalog client and server.

[code]

[2018-02-21 18:55] #1673 closed

[2018-02-21 19:15] jboyd01 commented on #1587
@nilebox I'm not yet up to speed on all the changes required for 1747.  On the surface I agree, this looks like a good solution that doesn't require persisting the pending generation.

[2018-02-21 19:23] prydonius opened #1753 "Unable to patch ClusterServiceBroker relistRequests without access to secrets"
The [Kubeapps dashboard](https://github.com/kubeapps/kubeapps) has a button that allows you to manually request a relisting for a ClusterServiceBroker. It does this by executing a PATCH on the ClusterServiceBroker resource, e.g.:

[code]

Unfortunately, since this the ClusterServiceBroker spec includes a Secret reference, the above request will fail if the user or serviceaccount does not have perm

[2018-02-21 19:45] MHBauer commented on #1753
Is the secret the auth config stuff? It seems weird to me that access to a reference in some object would require access to the object being referred to. I don't understand what's going on here.

[2018-02-21 19:52] prydonius commented on #1753
@MHBauer it is, yeah - this is the spec:

[code]

I agree, that it is pretty strange to validate that on create/update.

[2018-02-21 23:42] nilebox opened #1755 "Stop blocking Instance/Binding spec updates if there is an operation in progress"
**TL;DR** Let's remove the locking mechanism preventing spec updates while there is an operation in progress. Sending just last user that have updated the spec is consistent with "kube way" and is good enough.

---

Currently we prevent any spec updates while there is a provisioning/update operation in progress:
https://github.com/kubernetes-incubator/service-catalog/blob/b3de6eca6ff3ed6049d85156a

[2018-02-22 00:35] duglin commented on #1755
After step 3, the failure, is there any reason that we don't reset the instance to the previous state? Do we have that info in the Status.

[2018-02-22 02:02] ash2k commented on #1755
That would be inconsistent with every other Kubernetes resource out there. E.g. `Deployment` object does not revert the change if it cannot pull the docker image.
Spec holds the desired state provided by the user. We don't know what they would want to do if this state cannot be realized right now.

[2018-02-22 02:07] ash2k commented on #1755
The current behaviour contradicts one of the [Kubernetes design principles](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/principles.md#control-logic):

I.e. it should be ok to miss intermediate updates and only act on the current desired state. And hence intermediate updates should not be blocked.

[2018-02-22 06:50] duglin commented on #1755
Yea, but that was also written w/o taking into account that some 3rd party system has control over our state, or any of the other constraints we're living under. Not saying what we have now is perfect, or even what we want going forward, but its where we landed given all of the factors involved.

[2018-02-22 08:10] nilebox commented on #1755
As @pmorie in the original comment https://github.com/kubernetes-incubator/service-catalog/issues/1149#issuecomment-325394233:

As far as I understand, the current blocking behaviour was never considered to be finalized forever.
And with adding support for retries (a very critical UX feature), continuing support of blocking will be extremely annoying and painful for users.

Also, I don't think tha

[2018-02-22 08:15] nilebox commented on #1755
@duglin @kibbles-n-bytes I have a proposal that can make the blocking behaviour opt-in: instead of hardcoding it in the API server validation, we can implement the admission controller that will do the same.
Then it's up to the vendor/admins to decide whether this admission controller should be turned on or not.

[2018-02-22 08:35] nilebox commented on #1755
Another option is to add a parameter to `BrokerSpec` that will turn blocking on for the broker that relies on this behaviour heavily (i.e. performing a fine-grained authorization on its side).

Let's discuss these options at the next SIG call.

[2018-02-22 19:19] jmrodri opened #1757 "Service Catalog does not refresh ServiceClasses after removing from catalog"
**Description of problem:**

If the Service Catalog calls the /v2/catalog endpoint and a provisioned ServiceInstance's ServiceClass is removed from the Broker's catalog response, the Service Catalog will mark it as:

`removedFromBrokerCatalog: true`

When the Service Broker recovers and the service class returns, the next relist by the Service Catalog should recover the missing Service Class and u

[2018-02-22 19:21] jmrodri commented on #1757
[bz1548122.tar.gz](https://github.com/kubernetes-incubator/service-catalog/files/1749246/bz1548122.tar.gz)
[catalog-back.log.gz](https://github.com/kubernetes-incubator/service-catalog/files/1749247/catalog-back.log.gz)

[2018-02-22 19:21] duglin commented on #1757
Seems reasonable to bring it back from the dead :-)

[2018-02-22 19:21] jmrodri commented on #1757
[bz1548122.tar.gz](https://github.com/kubernetes-incubator/service-catalog/files/1749248/bz1548122.tar.gz)

various output files

The tarball contains the following files:

* catalog-response-with-2-specs-removed.log

This is the /v2/catalog json response that removes 2 service specs

* initial-catalog-response-with-all-specs-present.log

This is the /v2/catalog json response that contains all of

[2018-02-22 19:21] jmrodri commented on #1757
[catalog-back.log.gz](https://github.com/kubernetes-incubator/service-catalog/files/1749250/catalog-back.log.gz)

recovered /v2/catalog response

This file is the output of /v2/catalog endpoint after the broker recovers and restores the missing service class specs.

[2018-02-22 19:29] jmrodri commented on #1757
One of the entries that never comes back is the **dh-mediawiki-apb**

The initial `/v2/catalog` entry shows the following:

[code]

When the service broker restores it, this is the record in the `/v2/catalog` response:

[code]

And the name matches in the ServiceClass entry:

[code]

[2018-02-22 19:39] jmrodri commented on #1757
Interestingly enough, if the `/v2/catalog` responds with an empty array and a `200 OK`, the Service Catalog does nothing. It won't mark any as `removedFromBrokerCatalog`

[2018-02-23 19:02] #1744 closed

[2018-02-23 20:46] carolynvs opened #1761 "Add svcat touch command"
It would be great if svcat could bump `spec.updateRequests` to trigger another retry. Otherwise on a retry back-off, you can end up waiting a very long time for a request to be retried.

[code]

Example:
[code]

[2018-02-23 20:47] arschles commented on #1761
#dibs

[2018-02-23 20:50] arschles commented on #1761
I am gonna implement `svcat touch {instance, binding}` for now. If we decide on a different CLI syntax, it should be fairly easy to change in the PR

[2018-02-23 21:23] n3wscott commented on #1604
#dibs Gonna start looking at this.

[2018-02-23 22:01] carolynvs commented on #1682
#dibbs now that we are publishing binaries

[2018-02-26 06:53] JacieChao commented on #1623
I have met the same issue.

[2018-02-26 06:55] singhwx commented on #1623
I have met the same issue.

[2018-02-26 07:09] JacieChao commented on #1623
This issue has been fixed in v0.1.8
Duplicate of #1640

[2018-02-26 15:46] #1587 closed

[2018-02-26 16:40] carolynvs commented on #1681
Fixed by #1725

[2018-02-26 16:40] #1681 closed

[2018-02-26 16:43] carolynvs opened #1766 "Support listing across all namespaces in svcat"
Just like kubectl, we should make it easier to list instances and bindings across namespaces. Right now you can do this with `svcat get instances -n=""`.  The kubectl way would be `svcat get instances --all-namespaces`.

[2018-02-26 19:06] jboyd01 commented on #1757
re https://github.com/kubernetes-incubator/service-catalog/issues/1757#issuecomment-367796315 (/v2/catalog responds with an empty array) - Service Catalog says this would be invalid: https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller_broker.go#L270-L279

OSB Spec looks like this is legit and this should be allowed:  "Schema of service objects defined belo

[2018-02-26 20:49] carolynvs commented on #1311
#dibbs

Since I am working on templating (outside of svc-cat), I'd like to work on this. 😀

[2018-02-26 20:57] jmrodri commented on #1757
[controller-manager.log.gz](https://github.com/kubernetes-incubator/service-catalog/files/1760262/controller-manager.log.gz)

Adding the logs from the bugzilla to this upstream issue as well.

[2018-02-26 21:02] jmrodri commented on #1757
@jboyd01 let me know if you need a separate issue for the empty catalog portion.

[2018-02-26 21:30] pmorie commented on #1311
@luksa has already started working on this, so you two should sync @carolynvs

[2018-02-26 21:41] jboyd01 commented on #1757
Thanks @jmrodri for the logs.  Initial discussion with Paul indicates the spec is wrong about an empty catalog.  I'll chase that down a bit once we fix the primary issue here.

[2018-02-26 21:44] jeremyrickard opened #1767 "enhance svcat params"
When provisioning a service with svcat, we allow the user to provide params with a flag:

[code]

In some cases, the broker might take something that would be normally expressed as a JSON object. Can we expand svcat to either allow the user to pass arbitrary json to a given param (i.e. -p firewallRules="{.....}" or add a new flag to allow you specify a blob of JSON like cf cli currently does:

[co

[2018-02-27 21:28] esheris opened #1769 "Errors installing service-catalog in an azure hybrid acs cluster"
Hello,
I am trying to install service-catalog (so i can install OSBA). I have a hybrid (win/linux) test cluster running in azure. I am following the instructions here (https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/install.md)
After running the helm install, I am seeing 2 errors. the first is on the catalog controller manager:
[code]
The second is on catalog-apiserver. th

[2018-02-28 00:29] nilebox opened #1771 "Separate OrphanMitigation condition?"
With addressing #1715 and support for retries, it becomes harder to report on the ongoing orphan mitigation.

As @staebler suggested in the [comment](https://github.com/kubernetes-incubator/service-catalog/pull/1765/files#r171036944), we can introduce a new `OrphanMitigation` condition, where we could report the status of orphan mitigation (reason and message) separately from `Ready` and `Failed`

[2018-02-28 01:46] #1757 closed

[2018-02-28 02:54] nilebox commented on #1771
Another issue is that after exceeding the retry limit we reset the `OrphanMitigationInProgress = false`, which means that after the spec is update we will try to provision the instance instead of trying to mitigate orphan first.
Having an `OphanMitigation` condition could help there.

[2018-02-28 03:22] nilebox commented on #1755
@duglin you suggested to create an OSB issue to clarify this part of the spec. Can you create one? Thanks.

[2018-02-28 04:15] duglin commented on #1755
@nilebox I can but I can't remember which part of the spec people thought was ambiguous. Can you refresh my memory?

[2018-02-28 06:26] nilebox commented on #1755
@duglin somewhere around user info header? https://github.com/openservicebrokerapi/servicebroker/blob/master/profile.md#originating-identity-header

To be clear: I personally don't think it's ambiguous, I think it it's good that spec is not specific about the platform's behavior there (i.e. whether every instance parameters change by users must be sent separately or not).

[2018-02-28 12:08] piotrmiskiewicz opened #1772 "Empty service list treated as an error"
We are implementing a service broker, which offers a dynamic list of services. It means the list of services is changing and depends on
other resources. New service broker, just after installation, offers empty list of services, which is treated as an error (issue #924), but in our case it is ok.
The OSB API describes services field: "MAY be empty."

[2018-02-28 13:59] jboyd01 commented on #1772
@pmorie and I just discussed this issue this week and Paul reiterated catalog is right, the spec is wrong but I had it as a follow up to get details and open an issue with the spec.  @pmorie can you elaborate?

[2018-02-28 15:10] duglin commented on #1755
I agree that I don't think its ambiguous either - which is why I was asking for the bit that people thought needed more clarity. While, in general, I think you're right that the platform should probably be allowed to decide when to do things like batch up changes into one update() and then associate that with just one user, in this case I don't think that's what we're talking about.

If all of the

[2018-02-28 18:22] kibbles-n-bytes commented on #1755
I think calling it "batching" is a bit misleading; that almost implies that Service Catalog would be combining all requests at will for some sort of optimization. That's not the spirit of this change; this is only really relevant for failure situations, as successful requests would go through so quickly that in effect they'd be un-"batch"able. The spirit of this change is explicitly that, in the c

[2018-02-28 18:32] duglin commented on #1755
I know we’re not batching in general but that is the net result in this situation. Say someone modifies the plan and it fails because of an auth issue.  Someone else then modified something else, say a param, and triggers an update. If the 2nd person has more auth than the first person then both updates will happen and be associated with the 2nd user even tho the plan update should never have been

[2018-02-28 20:26] piotrmiskiewicz commented on #1772
So what is the right way to design a system with a service-broker which offers empty list of services? This is a business requirement, that broker will offer the first service after some time (enabling triggered by other application)

[2018-02-28 20:50] nilebox commented on #1755
@duglin You're right about the potential "batching effect", but again, it's out of the scope of OSB.

For example, Service Catalog could just say that it doesn't handle granular authorization of individual parameters at all, and user that updates a single parameter is responsible for all changed parameters since the last successful OSB operation. And that will be valid platform behavior according

[2018-03-01 01:10] duglin commented on #1755
@nilebox I'm not sure its out of scope of OSB. My example wasn't about updating individual parameters it was about updating parameters AND updating the plan as two separate actions by two different individuals with different rights.

This isn't about breaking brokers as much as its breaking the auth model of the platform that is in place today. With the proliferation of platforms (docker, cf, kube

[2018-03-01 02:46] nilebox commented on #1755
@duglin I think it's more specific problem than we have discussed before. And there might be a specific solution for this. For example, block spec updates only if there is a plan change that haven't been reconciled yet.

We technically can, but it's not how Kubernetes resources work. Fixing the broken spec requires manual intervention from user.
Also, we can't rollback secret parameters, so again

[2018-03-01 04:37] ash2k commented on #1755
It seems the cause of the issue is that the OSB protocol does not provide any means for the platform to consult the broker if the change is valid so that it could reject the request synchronously. There is schema to do validation but there are no means to check if the user is authorized. I was under impression until recently that authorization is not a concern OSB spec is trying to cover and I thi

[2018-03-01 08:44] nilebox commented on #1755
On the implementation side I propose that we remove the code blocking updates now (given that it doesn't solve what it was supposed to in most cases), and continue discusson on the new design and possible changes in OSB and its implementation in Service Catalog.

[2018-03-01 10:57] duglin commented on #1755
@nilebox I don't know what the correct next step is yet but I'd prefer if we discussed this on a Monday call (or some other call) and developed a design plan before we undo the current code that people spent quite a bit of time developing.

[2018-03-01 14:15] duglin commented on #1755
We're having some internal discussions around this issue and someone had a question.... what happens if user A tried to delete an instance but then the delete failed at the broker for some reason (e.g. they don't have the authority to do so), then user B tried to update the instance? Would the update be blocked due to the instance being marked for deletion? Can we get out of this situation w/o doi

[2018-03-01 16:48] carolynvs opened #1778 "Include info about the injected secret when describing a binding"
I'd like to be able to always use svcat and never fall back to kubectl. 😀 So it would be helpful to display information about the associated secret when looking at a binding:

[code]

[2018-03-01 18:33] cgmcintyr commented on #1766
I'd like to work on this issue if no one else is :)

[2018-03-01 19:15] carolynvs commented on #1766
@cgmcintyr That would be great! 💖 Let me know if you have any questions.

[2018-03-01 19:47] jboyd01 commented on #1772
I reviewed with @pmorie and  he agreed we should relax the constraint and allow an empty list of services.  I'll submit a PR to address this.

[2018-03-01 20:28] nilebox commented on #1755
@duglin Deletion in Kubernetes is irreversible. Once an instance is marked with `DeletionTimestamp`, you can't "undelete" it. Also, any spec changes are rejected (i.e. you can't rollback, and you can't let the authorized user to touch instance to fix authz either). Controller can only update status and remove finalizers to proceed with deletion.
This is definitely a problem worth discussing in the

[2018-03-02 03:02] ash2k commented on #1755
Just to add to the above, in Kubernetes several authorization mechanisms are consulted before the object is marked for deletion (or is updated/created). Those mechanisms are built-in admissions controllers, admission hooks and configured authorization mechanism (RBAC by default).
Kubernetes is not expecting a backend for a controlled object to perform any authn/authz after the spec has been update

[2018-03-02 03:15] mengjieli0726 commented on #1623
Same issue found in my env.
The sevicebinding can't be delete.
[code]
The serviceinstance delete depend servicebinding, in other words, servicebinding can't remove , which lead to serviceinstances can't be deleted.
[code]

[2018-03-02 15:17] jboyd01 commented on #1623
From the various comments on this issue it looks like each one is involving jpress-mariadb.   I'm guessing this is forked off from https://github.com/prydonius/mariadb-broker ?

The error is indicating the Broker returned a success (Status 200) on the unbind but the response body could not be unmarshaled.    https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#unbinding  indic

[2018-03-02 15:17] #1623 closed

[2018-03-02 16:30] carolynvs opened #1783 "Unbind should print the deleted bindings"
When we delete bindings during `svcat unbind`, the name of the deleted binding should be printed. This acts as both a confirmation of actions performed and to make it clear that unbind removed multiple bindings when performed against an instance.

[code]

[2018-03-02 20:21] #1766 closed

[2018-03-02 22:48] jeremyrickard commented on #1767
dibs

[2018-03-03 04:00] gyliu513 commented on #1623
Thanks @jboyd01 ，let me have a try.

[2018-03-04 20:54] carolynvs opened #1786 "svcat sync broker message is misleading"
When I sync/relist a broker using svcat, what is really happening under the hood is bumping the relist request field. However the message printed by svcat says "Successfully fetched catalog entries from the NAME broker" which implies that the sync has already occurred.

It would better set expectations if the message where something like "Synchronization requested for broker:  NAME". ~Perhaps a --

[2018-03-04 21:09] pmorie commented on #1786
Sounds like a good idea.

[2018-03-04 21:16] #1772 closed

[2018-03-04 23:07] nilebox opened #1787 "Bindings: 4xx, 5xx and Connection timeout should be retriable (not terminal errors)"
Apply changes made for #1715 to Bindings

[2018-03-05 13:41] #1761 closed

[2018-03-05 15:46] jeremyrickard commented on #1678
@jboyd01 if you don't mind, I'm going to submit some discrete/trackable documentation issues out of this and link them back to this issue. That way, we can annotate them with appropraite labels like Help Wanted and people can use #dibs to claim them.

@jeffchanjunwei we are starting a little documentation improvement working group. So far, it's me, @jhcook,  @carolynvs,  and @arschles. We're discu

[2018-03-05 16:26] jboyd01 commented on #1678
@jeremyrickard sounds like a great way to start, thanks!

[2018-03-05 16:44] jboyd01 commented on #1623
@gyliu513 if possible, I recommend bumping up to the latest release of Service Catalog, we've had a lot of improvements since Catalog was vendored into your project.  That bug was fixed on our side about 9 months ago if I recall correctly.

[2018-03-05 17:05] carolynvs opened #1791 "svcat should use the current context's namespace in standlone mode"
When the current context has a namespace set and the `--namespace` flag is not set, svcat in plugin mode defaults to the current namespace. However when using svcat directly, the namespace is not detected properly.

[code]

That last command is what's broken; It should return the same results as the two previous commands.

[2018-03-05 17:05] carolynvs commented on #1791
#dibs

This is super annoying so I'm going to fix ASAP.

[2018-03-05 17:54] jeremyrickard commented on #1783
#dibs

[2018-03-05 19:07] staebler opened #1792 "InProgressProperties/ExternalProperties not correct if secret changes between requests"
1) User creates a ServiceInstance.
2) Controller sets in-progress properties for instance.
3) Controller sends Provision request to broker.
4) User changes parameter secrets used by ServiceInstance.
5) Provision request fails in a retryable manner.
6) Controller sends new Provision request to broker using the update parameter secrets. Controller does not update the in-progress properties to match

[2018-03-05 20:27] jeremyrickard opened #1793 "Docs: Create "Why Service Catalog" Documentation"
Part of Issue #1678

Create documentation explaining the "why" of service catalog, i.e. example uses cases and value proposition.

[2018-03-05 20:33] jeremyrickard opened #1794 "Docs: Update walkthrough to better document creating and deleting resources"
Part of #1678

Update the walkthrough to better document creating and removing resources. This could include how to use parameters for creating instances and bindings (this is on a separate page, maybe just link to it).

Should examples only be with Kubectl? Or should we also include svcat?

[2018-03-05 20:37] jeremyrickard opened #1795 "Docs: Add documentation on adding brokers to the catalog"
Part of #1678

Similar to the "Tasks" documentation on k8s.io, we should add documentation that educates svc-cat users on how to add a broker to the catalog and how to update the catalog if the broker changes.

[2018-03-05 20:46] jeremyrickard opened #1796 "Docs: Document how application developers use service catalog"
Part of #1689

We should update the walkthrough or create a new document similar the format of "Tasks" documentation  on k8s.io that illustrates how to provision a service instance, create a binding and then use that binding in your application (this part is probably just explaining how the secret _could_ be consumed in your application.

[2018-03-05 20:55] jeremyrickard opened #1797 "Docs: Create advanced documentation on how to deal with stuck instances"
Part of #1678

We should author some advanced user documentation, similar to k8s.io "Tasks" documentation that describes how to deal with "stuck instances".

[2018-03-05 21:02] jeremyrickard opened #1798 "Docs: Create better documentation on cluster setup for svc-cat"
Part of #1678

We should create better documentation on what is required for installing svc-cat in your cluster. We currently just say to use the helm chart, but it would be good if the documentation explained what was required and done in the helm chart.

[2018-03-05 21:04] carolynvs commented on #1794
Related #1784

[2018-03-05 23:15] carolynvs opened #1800 "Add autocompletion support to svcat"
When using svcat, it would be helpful to have similar autocompletion capabilities as kubectl.

* `svcat completion` should output shell completion content similar to `kubectl completion`.
* Pressing TAB after svcat should provide completions for verbs
* Pressing TAB after svcat VERB should provide completions for resources
* Pressing TAB after a dash should provide completions for flags
* Pressing

[2018-03-06 14:16] #1783 closed

[2018-03-06 14:24] #1767 closed

[2018-03-06 14:44] carolynvs opened #1804 "Remove uuid from svcat get output"
When using svcat, the uuid loses its importance because svcat understands how to work with the external names. I propose that we not display uuid in the `svcat get` command output. When someone wants to know the uuid, fore example so that they can use it in a kubectl command, they can look it up with `svcat describe`.

In it's place, I'd like to make the broker more visible (see https://github.com

[2018-03-06 15:16] carolynvs opened #1805 "Deprovision should print the deleted instance"
To provide parity with the `svcat unbind` (#1783) and `kubectl delete` commands, `svcat deprovision` should print the name of the deleted instance.

[code]

[2018-03-06 16:44] jeremyrickard commented on #1805
#dibs

[2018-03-06 18:53] jeremyrickard opened #1807 "svcat: Add broker registration/deregistration"
svcat currently only supports relist/sync for a broker, but allows us to do pretty much everything else on other resources. Maybe we should add commands for adding/removing a broker. The `cf` cli allows you to do that like so...

[code]

I think we can add an svcat command along these lines

[code]

or

[code]

We could also allow a CA bundle to be provided (perhaps as a secret on the cluster alre

[2018-03-06 19:48] carolynvs opened #1808 "svcat describe instance/binding should include the parameters"
When troubleshooting why a provision called failed, it helps to see the parameters passed to the broker, both for the instance and the binding:

[code]

[2018-03-07 00:04] carolynvs opened #1810 "Change svcat tests to be integration tests"
Right now the svcat cli tests hit a test http server and return recorded responses. This is both difficult to maintain, and doesn't adequately test the full user experience with our cli.

Let's change the tests to instead be integration tests where we execute the binary from the shell (instead of calling essentially the main function from the test), and have it hit a live service catalog api.

[2018-03-07 00:36] orthros commented on #1800
Looks interesting! I might take a look. Full disclosure: I'm very new to k8s and came here from your tweet.

Is this expected for bash completion only or should this work with PowerShell as well.

[2018-03-07 00:40] carolynvs commented on #1800
@orthros I'm glad you decided to help out! 💖 The expectation is bash completion similar to what `kubectl completion` generates, which I believe is actually something that our cli framework spf13/cobra does for us if we only hooked it up.

The last bullet point in this issue doesn't come for free with cobra, and should probably be a separate issue so don't worry about it.

[2018-03-07 05:18] nilebox opened #1812 "Add generic admission controllers that are available in the main Kubernetes API server"
See #1811
- There are generic admission controllers that are available in the core k8s  API server, but not available in Service Catalog: ValidatingAdmissionWebhook, MutatingAdmissionWebhook, AlwaysAdmit, AlwaysDeny, EventRateLimit, OwnerReferencesPermissionEnforcement
- Since the code lives in the core repo, we can copy the code for now
- In the long term we want to make a change upstream: move t

[2018-03-07 05:55] #1639 closed

[2018-03-07 18:50] jeremyrickard opened #1814 "svcat: Add the ability to output JSON and YAML for get operations"
It might be nice to allow svcat users to ask for output of GET operations in YAML form.

Default should remain the existing tabular output,  with an optional YAML or JSON format. This would be useful for people using svcat in standalone mode or as a kubectl plugin.

Maybe something like:

[code]
[code]

[2018-03-07 19:58] carolynvs opened #1815 "Support refreshing credentials on a deployment"
When the credentials in the broker have changed for a service, it would be nice to have a straightforward way to refresh any bound secrets.

When @arschles first suggested this in the original svcat repo, he approached this from the cli. For example:

[code]

The above command would create a new binding and then update the original secret with the new values, and then restart anything that was usi

[2018-03-07 20:02] carolynvs opened #1816 "Improve status message when async operation in progress"
[code]

The condition `ErrorAsyncOperationInProgress` is misleading, as the binding is _not_ in an error state. It's just waiting for the instance to be provisioned.

Perhaps we could change it to `AsyncOperationInProgress`?

___
This issue was migrated from the original svcat repo: https://github.com/Azure/service-catalog-cli/issues/93

[2018-03-07 20:09] jboyd01 commented on #1816
I believe this is associated with https://github.com/kubernetes-incubator/service-catalog/issues/1639.  @luksa is addressing the root issue here with a couple of PRs, one of which is https://github.com/kubernetes-incubator/service-catalog/pull/1779.   Basically Service Catalog is erroneously sending multiple requests to the backend broker for an operation and the broker is replying back with an er

[2018-03-07 20:12] carolynvs commented on #1816
Oh that's great news! 🎉  I didn't realize that arose from a bug. I'll close this out.

[2018-03-07 20:12] #1816 closed

[2018-03-07 21:43] jboyd01 opened #1817 "Catalog Controller Metrics should only be available over https"
Today, if it's enabled, its non-secured over http.

[2018-03-07 22:04] krancour opened #1818 "svcat chokes on azure auth provider"
I'm going to assume it chokes on all non-default auth providers:

[code]

Relevant section from my kubeconfig:

[code]

[2018-03-07 22:18] carolynvs commented on #1818
I think this is related to the same problem that we had with the google auth provider. I put in a fix for that in #1695 but maybe that wasn't enough. I'll take a look! 👍

[2018-03-08 06:29] #1682 closed

[2018-03-08 16:10] carolynvs opened #1820 "Support extended set of config options in kubectl plugin mode"
@jberkhahn Added support for a larger set of config values in https://github.com/kubernetes/kubectl. We should make use of that in the svcat plugin.

[2018-03-08 16:11] carolynvs opened #1821 "Change svcat --kube-context to --context to align with kubectl"
The svcat flag `--kube-context` should be renamed to `--context` to align kubectl's flags.

[2018-03-08 16:23] krancour commented on #1818
D'oh! The problem is I was using an older binary! Sorry!

[2018-03-08 16:23] #1818 closed

[2018-03-08 18:04] jberkhahn commented on #1820
/dibs

[2018-03-08 19:24] carolynvs commented on #1808
#dibs

[2018-03-09 00:03] jberkhahn commented on #1820
pending (PR in kubernetes/kubectl)[https://github.com/kubernetes/kubectl/pull/348]

[2018-03-09 11:25] nilebox commented on #1747
Closed by #1748

[2018-03-09 11:25] #1747 closed

[2018-03-09 13:11] freegroup commented on #1428
You need the name flag
`--requestheader-client-ca-file=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt`

in the deployment of the SC API server of the given Kubernetes API server didn't have set this.
You must create trust the the API extention can communicate the the kubernetes api server.

[2018-03-12 15:10] luksa commented on #1363
Most of these are now fixed by #1779 and #1819, but the integration tests still print out this error in a few places. The cause of those is legit: the test is deleting the resource in the middle of a reconciliation loop iteration:
[code]

These log statements are logged when there is a problem with the instance/binding (such as pointing to a nonexistent broker/instance). The controller initially r

[2018-03-12 15:13] liggitt commented on #1363
Yes, the controller should avoid sending no-op updates

Correct, that is working as designed

[2018-03-12 15:38] arschles commented on #1794
I think we should include svcat as the primary tool where possible

[2018-03-12 15:46] arschles commented on #635
Closing, as we have this documented in a few places now

[2018-03-12 15:46] #635 closed

[2018-03-12 15:56] carolynvs opened #1825 "Document our resources schema / yaml"
It would be incredibly helpful to have a document that outlines the entire set of acceptable yaml that can be sent to Service Catalog, which fields are required, when you would set an optional value, etc.

For example:

**manifest-schema.md**
[code]

Maybe a full set to of values and a table explaining each one?

[2018-03-12 15:57] carolynvs commented on #1794
Here's an issue to track documenting the schema: https://github.com/kubernetes-incubator/service-catalog/issues/1825

[2018-03-12 15:58] carolynvs commented on #1793
#dibs

[2018-03-12 20:02] jeremyrickard commented on #1825
#dibs

[2018-03-12 22:07] MHBauer commented on #1825
I feel like the best place for this is `types.go`, as it is the ultimate source of truth.

Can we generate docs off of the existing comments? Another code-generator to run.

[2018-03-12 22:13] MHBauer commented on #1723
I didn't know about

To me that sounds less like a workaround and more like the exact appropriate thing to do given how the system works. Sure it would be nice to have a button to hit, but in the lack of any clear functionality provided to force-delete, is it really appropriate to go write server side code to solve this?

[2018-03-13 01:13] khipkin opened #1828 "Deprovision does not retry for a long enough time period."
If the first deprovision request fails and then the problem is fixed manually (ex: deleting sub-resources of the instance), no additional deprovision attempts are made (as far as I can tell).

@kibbles-n-bytes will work on this.

[2018-03-13 08:48] luksa opened #1829 "LastTransitionTime isn't updated when condition's reason changes, but the status remains unchanged"
Imagine a case where the ServiceInstance's Ready condition changes from this:
[code]
to this:
[code]

The `lastTransitionTime` hasn't been updated, even though, from the user's perspective, the status as a whole _has_ changed (the underlying cause has changed).

Do we want `lastTransitionTime` to behave like this? I'm feeling this may lead to users not noticing the change (either manually or progr

[2018-03-13 13:37] carolynvs commented on #1825
😝  Yes, I think that's a good idea.

[2018-03-13 13:57] carolynvs commented on #1723
I see this as a workaround in that our API doesn't have a way to deal with certain conditions. It's not unexpected to get into this state (or at least I seem to manage to do it often enough). If Service Catalog had an endpoint or flag to say "Hey this is totally borked, I give up and I just want to make it go away", service catalog could handle logging that it was asked to give up, remove the fina

[2018-03-13 14:08] carolynvs commented on #1829
I'm picturing a state machine diagram, and I would say that a circular arrow going from the error state back to the error state is a transition. So yeah, IMO `lastTransitionTime` should be updated in that case. 😀

[2018-03-13 15:58] n3wscott commented on #1810
I agree that there should be integration tests, but I don't think that is all you should use, there should be more go style unit tests on a per method basis to test the details of each thing.

[2018-03-13 16:11] n3wscott commented on #1804
I think there is still some value in being able to query based on UUID, I hope that aspect was not removed. Maybe the uuid column can be optionally shown?

[2018-03-13 16:13] n3wscott commented on #1815
Does this unbind the original binding?

Does rebinding a service instance make the binding count n+1?

[2018-03-13 16:58] carolynvs commented on #1810
Agreed! 👍   Sorry that wasn't clear, I was only referring to a subset of tests that use the fake http server.

[2018-03-13 17:00] carolynvs commented on #1804
Nothing has been implemented yet, this is just a suggestion. It wasn't my intention of removing the `--uuid` flag supporting uuid queries. I just want remove it from the default columns displayed in the `get` output table.

[2018-03-13 17:02] carolynvs commented on #1815
@arschles This was originally your suggestion (I just copied it over from the original svcat repo before archiving it). Maybe we can back up a bit off the implementation and go back to understanding when someone would need to refresh credentials and how we'd like that interaction to look? Can you provide some more context around the original idea?

[2018-03-13 17:41] kibbles-n-bytes commented on #1828
For context, [here](https://github.com/kubernetes-incubator/service-catalog/blob/55505be8658bd9518f775b7fd1c091022dcc29bd/pkg/controller/controller_instance.go#L718) I noted that we're handling this logic incorrectly, and it's causing async deprovisions to not actually retry. Will fix that ASAP.

[2018-03-13 18:27] kibbles-n-bytes commented on #1088
@nilebox Is there anything in particular that blocks using CRDs as a backing for our custom API server? Are the versioning issues still a problem even in this case?

[2018-03-13 18:33] jberkhahn opened #1830 "Update dashboard_url in response to Patch Service Instance requests"
per OSB [437](https://github.com/openservicebrokerapi/servicebroker/pull/437)

[2018-03-13 18:33] jberkhahn commented on #1830
/dibs

[2018-03-13 18:37] #1805 closed

[2018-03-13 19:31] pmorie commented on #1088
Let's be clear here: are we talking about using CRDs as a backing store for
the our existing API server, or replacing the API server with CRDs?

P

On Tue, Mar 13, 2018 at 2:39 PM, Carolyn Van Slyck <notifications@github.com

[2018-03-13 19:36] carolynvs commented on #1088
Oops, I was referring to what's supported if we moved to CRDs (the latter). Never mind! 😊

[2018-03-13 19:38] duglin commented on #1088
Well, its a good question. I can't remember who from the main k/k team recommended it, but moving to use CRDs instead of our own API server is an option we may want to discuss at the f2f.

[2018-03-13 19:40] carolynvs commented on #1088
It was Eric Tune.

[2018-03-13 19:42] fabiand commented on #1088
For the record we - KubeVirt - were also on this question - we actually wrote our own API server before going back to CRDs. The primary reason was data storage for our custom API server.
Today CRDs look promising, with validation, initializers and admission controllers you can do quite a lot.

[2018-03-13 19:55] pmorie commented on #1088
If someone wants to discuss this topic at the f2f, they should do a
detailed gap analysis first. We do a lot of things in our API that I am not
at all sure are on the roadmap for CRD, let alone currently acheivable.

On Tue, Mar 13, 2018 at 3:42 PM Fabian Deutsch <notifications@github.com>
wrote:

[2018-03-13 19:58] n3wscott commented on #1088
@pmorie we are interested in bringing up CRDs as a backing store for
the our existing API server. We want this to be able to remove the dependency on another etcd instance.

[2018-03-13 19:59] duglin commented on #1088
For reference: https://docs.google.com/presentation/d/1IiKOIBbw7oaD4uZ-kNE-mA3cliFjx9FuFLd7pj-dj1Y/edit?ts=5a78bb75#slide=id.g30d931056f_0_12

[2018-03-13 21:01] nilebox commented on #1088
@n3wscott you can take a look at #1105 which had most stuff working, but required quite a lot of code and still had some issues (IIRC watches in kubectl were dropping from time to time for some reason).
I am not sure this is a good idea. The better way would be supporting such storage out of the box in `k8s.io/apimachinery` or `k8s.io/apiserver`, otherwise it's a PITA to having to support this cod

[2018-03-13 21:06] nilebox commented on #1088
at all sure are on the roadmap for CRD, let alone currently achievable.

Another aspect that with using so many features (admission controllers, validation etc) it might require as much code to use CRDs (if not more), as well as possibly even more complicated code.

So the only real benefit here is no need to manage a dedicated etcd (or share core etcd directly).

[2018-03-13 23:29] Bubblemelon commented on #1821
Hi @carolynvs ! Thanks for posting this on Slack 😄 I have not worked on the kubectl code before, any pointers on how I can get started to help?

[2018-03-14 00:28] MHBauer commented on #1755
There is a sort of precedent here with deployment rollouts and multiple replicasets. I'm not sure what the analogy is exactly, or how dep+rs work together, but it could be said that because rollout and undo work by switching between different versions of specs (defined on the rs), and that there is a history of edits available to choose from.

[2018-03-14 01:02] nilebox commented on #1755
@MHBauer good point! The way rollbacks work in deployments is that for every spec change (or rather a set of changes accumulated since the last rollout) there is a new replica set created, and the previous replica set being retained with pods scaled down to zero `replicas: 0` instead of deleting. The number of replica sets to be retained is configurable via https://kubernetes.io/docs/concepts/work

[2018-03-14 01:10] nilebox commented on #1755
Also to add to above: when you rollback a Deployment, the environment variables picked up through `envFrom` won't be rolled back, i.e. only the Deployment spec is getting rolled back. In our case it means that we will only rollback plan and inline parameters, and not secret parameters.

Not sure what we would achieve by implementing rollbacks with the same semantics as Deployments. Sounds like we

[2018-03-14 05:40] nilebox opened #1831 "Propagating new Binding outputs (credentials) for existing Bindings"
Is there any established pattern for being able to force re-fetching credentials for all existing bindings?

Example:
1. Developer releases `Broker v1` creates a service `TheBestDatabase` with a plan `Default` that returns a minimal set of credentials `B1` for a binding.
2. User deploys an application MyApp consuming the best database in the world.
3. Developer releases `Broker v2` that adds extra

[2018-03-14 12:03] duglin commented on #1831
Is it an instance.update() or binding.get() to the broker? Those two actions could have different ACLs - so a user might be allowed to get their creds but not ask for an instance update.

W/o Get() being supported, I suspect you may have to issue a new instance.createBinding() request.

[2018-03-14 13:53] carolynvs commented on #1821
@Bubblemelon Feel free to ping me on slack if you have questions on how to get started. I know it's harder to get traction when every question needs to wait for me to read my email. 😀

Here is the code that needs to be changed: https://github.com/kubernetes-incubator/service-catalog/blob/70afb56e632856e8381d93a21137c6b729be3f71/cmd/svcat/main.go#L95

If you haven't installed minikube yet, I recomm

[2018-03-14 15:24] orthros commented on #1800
I've been looking at other systems, and how they use cobra to generate their bash completion.

I've noticed in some projects (like rkt and etcd) they have a cobra command to generate the bash completion and call that command to generate their files during build.

For example: in rkt, their `rkt/rkt.mk` file  has a `build-completions` task which calls

`$(RKT_BINARY) completion bash > dist/bash_com

[2018-03-14 15:28] carolynvs commented on #1800
I suggest that we stick with the UX for kubectl:

[code]

Since we don't distribute via homebrew, I don't see a need to generate the files during the build?

[2018-03-14 16:14] n3wscott commented on #1831
I suspect that you need to do a little work on your side of the development. I would not expect a binding to update it's binding result over time. I see a binding as pretty fixed even if Get() is supported. I would assume that the Get() on an existing binding would return the same binding result as the first time? I think the answer has to be the binding response needs to contain the version of `T

[2018-03-15 17:28] n3wscott commented on #1686
#dips

[2018-03-15 17:55] n3wscott opened #1837 "Let's re-evaluate if SharedService* names are working for us."
*Shared*ServiceClass/Plan name seems weird to me because the object is not intended to be shared. It is more like common code, core to the objects.

Should we rename these internal objects to something like *Common*ServiceClass/Plan?

[2018-03-15 18:12] n3wscott commented on #1752
#dibs

[2018-03-15 18:22] jboyd01 commented on #1837
Other name suggestions from the slack discussion included "Internal", "Core" and "Anon" and union.

[2018-03-15 20:12] MHBauer commented on #1837
Where is this? Only SharedX I can find in the codebase is sharedinformers.

[2018-03-15 20:14] pmorie commented on #1837
We could say ‘SharedXSpecFields’ or something

On Thu, Mar 15, 2018 at 4:12 PM Morgan Bauer <notifications@github.com>
wrote:

[2018-03-15 20:54] #1686 closed

[2018-03-16 13:55] luksa opened #1842 "Controller shouldn't call updateServiceInstanceStatus to remove the finalizer"
The controller is calling `updateServiceInstanceStatus()` after removing the finalizer. See: https://github.com/kubernetes-incubator/service-catalog/blob/5d7041b0dde6748659bc78e164338d4bac40fe7b/pkg/controller/controller_instance.go#L1472-L1476

Since finalizers are part of the `Metadata`, not the `Status`, they should be updated through something like `updateServiceInstance()`. Oddly, the API ser

[2018-03-16 14:16] pmorie commented on #1842
That’s the correct and expected behavior of a status subresource.

On Fri, Mar 16, 2018 at 9:55 AM Marko Lukša <notifications@github.com>
wrote:

[2018-03-16 14:38] luksa commented on #1842
Are you sure? https://github.com/kubernetes/kubernetes/issues/45539 seems to imply otherwise. From what I gather from the discussions in related issues/PRs, mutating labels shouldn't be allowed, whereas annotations should be. But there's no mention of finalizers.

I uncovered this when adding logic to the controller, which checks if we've actually mutated the status before we post it to the API se

[2018-03-16 22:54] MHBauer commented on #1755
I put this on the 16th agenda, we can discuss there, and either decide or schedule another meeting.

Sounds like it maybe wasn't the best analogy in terms of total behavior.

Rephrasing, so I make sure I understand:
We can't do an update to fix a broken spec, because the validation fails it.  At the risk of shooting myself in the foot, it sounds like the validation might be too strict for this cas

[2018-03-17 07:23] nilebox commented on #1755
This is guaranteed by design, otherwise update with fail with conflict error.

Indeed, this is the part we need to be explicit about in the docs to avoid any confusion.

[2018-03-19 00:09] orthros commented on #1800
I have a working version of this now. The code and UX is based off of kubeadm and kubectl as suggested.

An example
[code]
This is wirtten so it can be expanded to support other shells like zsh and fish (like kubectl does).

Right now I'm working on adding test cases and hope to have a PR shortly.

[2018-03-19 03:34] nilebox commented on #1755
@duglin if we want to elaborate on the synchronous authorization via admission controller, there is a new "authorized webhook" to be released in k8s 1.10: https://github.com/kubernetes/features/issues/516

[2018-03-19 07:15] nilebox opened #1848 "Stop mutating static object utilfeature.DefaultFeatureGate in tests"
Code sample:
[code]
i.e. parallel tests concurrently mutating the static `utilfeature.DefaultFeatureGate` object.

We shouldn't mutate this static object, or should replace it with per-test instance object.

[2018-03-19 07:15] nilebox commented on #1848
/cc @kibbles-n-bytes

[2018-03-19 08:00] nilebox commented on #1848
The flaky tests were temporarily fixed in #1847 by commenting out `t.Parallel()`.
Once the proper fix is done, we can uncomment them again.

[2018-03-19 09:49] duglin commented on #1755
admission controllers won't help in this case. In order for an AC to work it would need to fully understand the business logic that the broker is going to do while processing the update(). And since we don't even know which broker is going to be used until runtime, I don't see how we an do that. Or... if there was a way to do call the broker's update() func in some kind of "check mode" that would

[2018-03-19 10:14] duglin commented on #1755
That might be an option for v3 - just not sure how to do that in the v2.x timeframe.

[2018-03-19 10:59] duglin commented on #1755
I'm not sure that's fully covers it. To me, its not just a matter of "approving" both user1 and user2's changes, its associated the correct set of changes with each user. That model only works if, from the user's POV, user1 undid their changes and then user2 asked for both sets of changes. Granted its a fine line because you could argue that as long as user2 understands the full set of changes the

[2018-03-19 11:37] nilebox commented on #1755
Well, that's a hole in the OSB spec.
There's simply no way for Service Catalog to tell what's the instance state without `GET` request if the update request has failed with timeout or `500 Internal Server Error` error.

There is no such thing as "invalid desired state" in k8s. If the initial request was valid (i.e. json schema validation has passed, and all admission controllers proceeded with req

[2018-03-19 11:40] nilebox commented on #1755
I feel like in order to replicate CloudFoundry mechanics and meet all requirements including authorization, we would have to get rid of `etcd` storage and `controller-manager` completely, and instead forward all requests directly to the brokers without persisting instances and bindings at all.

But again, that is not possible even in theory since there are no `GET` endpoints for instances and bind

[2018-03-19 12:28] duglin commented on #1755
yup - exactly.  But in our case we may have one.

Well, we could store them in `etcd` once the broker has completed its processing - but that turns these operations into RPC ones.  And I still can't figure out how bad that really would be.

[2018-03-19 18:52] MHBauer commented on #1848
I didn't realize feature gates were global static init()'s. I think we need an instance variable for the controller and apiserver.

[2018-03-19 21:06] EronWright commented on #1815
Imagine that the service broker wished to rotate the credential that is encapsulated within a binding.  Ideally the service catalog would poll the binding information and update the Secret resource accordingly.  When a Secret is updated, Kubernetes automatically updates the secret data in the pod (volume-based secrets only AFAIK).  For example, given a binding that includes a private key file, the

[2018-03-20 02:40] nilebox commented on #1848
@kibbles-n-bytes @MHBauer it should be one of you properly fixing this issue :)

[2018-03-20 19:38] pmorie commented on #1197
I put help wanted on this issue, but this is best suited for someone with previous kube dev experience

[2018-03-20 21:01] n3wscott opened #1853 "[svcat] Explode given parameters with dot syntax"
Given, `svcat yada --param foo.bar=baz` it would be neat if that turned into an object like:

[code]

[2018-03-20 21:02] n3wscott opened #1854 "[svcat] svcat should validate input parameters with JSON Schema before submission."
svcat should have and use the JSON Schema from the catalog to validate requests before sending the request to service catalog / broker.

Maybe svcat is too soon? Maybe just in service catalog? Seems like a useful feature for svcat.

[2018-03-20 21:45] carolynvs commented on #1853
🤯 I LOVE IT

[2018-03-20 21:49] carolynvs commented on #1854
I recommend not papering over any gaps in the APIs with the cli. That way when it's fixed in the API, it's fixed for everyone, and not just people going through the cli.

If the error returned by a request with parameters that don't match the json schema (if present) is poor or not properly handled, I'd consider that a bug in the API (either the brokers or svc-cat depending on who's doing the vali

[2018-03-21 01:55] #1771 closed

[2018-03-21 15:33] n3wscott commented on #1854
Oh, I am not saying the CLI should be the only place we test this. I am saying the CLI should test the Json Schema for the given input and give instant feedback, and then the api server does the same thing for service catalog, and the broker needs to check again in their own validation.

Fast fail for the user.

[2018-03-21 15:36] n3wscott opened #1857 "Service Catalog should validate input parameters with JSON Schema before making a call to the broker."
Just like: https://github.com/kubernetes-incubator/service-catalog/issues/1854

They could even use the same code!

Validate at every layer:

[code]

We can't control the Broker, but we do have control over svcat and Service Catalog. So lets validate there.

[2018-03-21 16:08] carolynvs commented on #1854
I like the way you think! +1 for sharing all the go code

[2018-03-21 16:36] n3wscott commented on #1854
that is the point of sharing the nest right :D

[2018-03-21 17:19] n3wscott commented on #1815
I think a key rotation feature is something that works with service catalog rather being a service catalog feature directly. It depends on where you want to draw the line, is service catalog enabling building blocks or is it an application? I lean towards building blocks.

[2018-03-21 19:01] EronWright commented on #1815
@n3wscott the 'building block' that the catalog provides is that it manages a Secret resource that represents the binding info.   Key rotation is application-specific, yes, but what I described is appropriate given the functionality that is intrinsic to the catalog.  I do wonder whether OSBA specifies the updatability of binding information.

[2018-03-22 00:51] nilebox commented on #1088
@n3wscott sure, but I think it would be better to discuss first whether we do want to bring it back, and if we do what's the best approach.

Also it would be nice to talk to API machinery folks to check whether they have any new recommendations for this problem (e.g. there might be some "blob store" coming in future, or they might want to support such use case in `k8s.io/apiserver` out of the box)

[2018-03-22 01:03] ychen-atlassian opened #1861 "Use RecommendedOptions from apiserver, use ApplyTo and extra admission initializers"
For context: https://github.com/kubernetes-incubator/service-catalog/pull/1811

We need to

- [x] Rebase to 1.10
- [ ] Use `RecommendedOptions`
- [ ] Call ApplyTo() on RecommendedOptions and reconcile the code building GenericConfig with kubernetes apiserver / sample-apiserver
- [ ] Use custom initializer code (https://github.com/kubernetes/kubernetes/blob/a6c43c6a5ca7cc4449684d5e68d73773be91cd41/

[2018-03-22 03:10] #1828 closed

[2018-03-22 06:31] nilebox commented on #1755
We haven't decided yet, but the proposed set of changes most people agreed with at the today's call was:
1. Get rid of locks completely, i.e. merge #1790
2. Add support for imperative rollback command for a nicer UX (if the user doesn’t want to take ownership of the changes in the desired state that are different from the last applied state). Rollbacks are performed only for the spec (no secret pa

[2018-03-22 21:30] n3wscott commented on #1815
Bindings are not updatable in the current spec.

[2018-03-23 03:35] kyhwsk opened #1867 "v0.1.8catalog-apiserver is running, but catalog-controller-manager always healthz check failed"
after I install the service catalog by helm, I got catalog-controller-manager keep checking health failed, until the pod crash.

[code]

catalog-apiserver is running ok :
I try to curl catalog-apiserver as below, and I CAN get a good result: my old servicecatalog data in etcd all listed

[code]

but  catalog-controller-manager failed to get API GroupVersion {"servicecatalog.k8s.io" "v1beta1" "clus

[2018-03-23 22:58] maqiuyujoyce opened #1871 "[svcat] Bind command should accept a JSON string as parameters"
Users should be able to specify a flag that receives a JSON string containing the binding parameters. Not all the parameters can be represented as KEY=VALUE pairs, so providing this new option will be very useful.

[2018-03-24 13:39] #1715 closed

[2018-03-24 13:42] nilebox commented on #1755
Now that #1765 is merged, this issue has become critical for `non-happy-path` and needs to be fixed ASAP.

[2018-03-26 14:16] carolynvs commented on #1871
Oops! Thank you for bringing this up! 👍

I see now that we only added the new `--params-json` flag to `svcat provision` and not also `svcat bind`. Essentially we need to do the same work from https://github.com/kubernetes-incubator/service-catalog/pull/1785 but for the bind command.

[2018-03-26 15:27] carolynvs opened #1873 "Proposal: Default Service Plans"
Full details are in a google doc: https://docs.google.com/document/d/1HJ7KC9uSoUiAyFwShwgk2FMIQD36FVoGKzyhiDfYNWE/edit?usp=sharing

Here's a tldr:

# Abstract
Let’s wholesale rip off how default storage classes for volumes work and apply it to Service Catalog! 😎 This allows us to specify a dependency on a type of service without requiring upfront knowledge of the underlying broker.

# Summary
1. A

[2018-03-26 18:34] MHBauer commented on #1873
Probably want a different name so that thought processes aren't confused with https://github.com/kubernetes-incubator/service-catalog/issues/1111
My first thought went to "don't we already have that?" cause of the name of the [code here](https://github.com/kubernetes-incubator/service-catalog/tree/master/plugin/pkg/admission/serviceplan/defaultserviceplan)

[2018-03-26 21:28] #1791 closed

[2018-03-26 21:29] #1808 closed

[2018-03-27 02:43] MHBauer commented on #881
This is an interesting request. Since OSB is all about Platform <-> Broker, is there any expectation that end-user programs can use services without adaptation?

The munging of everything into a json blob is especially troublesome.

[2018-03-27 02:52] nilebox commented on #881
I think we should just close this issue.
It again comes down to the goals/non-goals of the Service Catalog project, and this issue IMO is out of the scope of Service Catalog.

It doesn't prevent anyone from building services on top of Service Catalog that will do any secret transformation they might want. Actually, that's what we already do internally at Atlassian, and we are fine with it.

@dugli

[2018-03-27 02:57] duglin commented on #881
I'd prefer to leave it open until we discuss what we're going to do about podpreset type of stuff. As of now we don't have any mechanism to help people bind their apps to secrets - we stop at creating the secrets. While that leaves them in a state that we could consider just a "normal kube state" and then they can do whatever they normally would with secrets, I'd like a formal discussion (and agre

[2018-03-27 03:10] nilebox commented on #1861
[Kubernetes 1.10.0](https://github.com/kubernetes/kubernetes/releases/tag/v1.10.0) has just been released, so we are unblocked for working on this issue .

[2018-03-27 03:15] nilebox commented on #881
We do let them bind secrets as `envFrom` directly to the Pod (or via PodPreset) if the broker returns credentials in a certain simple way (Map<String, String>).

So the question is whether we want to support some other advanced/flexible ways of transforming secrets, or it's out of the scope of Service Catalog.

Discussing at F2F sounds good.

[2018-03-27 06:27] ash2k commented on #881
For the curious external observers, it is part of Smith. We are planning to use or use already [object references](https://github.com/atlassian/smith/blob/master/docs/design/object-references.md) and [field references](https://github.com/atlassian/smith/blob/master/docs/design/field-references.md) to pull in data from `Secret`s/`ConfigMap`s/etc to construct parameters for `ServiceInstance`s (or `S

[2018-03-27 09:22] kyhwsk opened #1877 "servicecatalog-api-server stuck at Installing API group servicecatalog.k8s.io and can' go on run"
I'm installing service catalog to my cluster, but servicecatalog-api-server can't run correct.

the last lines of servicecatalog-api-server log:

I0327 09:04:43.653054       1 storage_factory.go:278] storing {servicecatalog.k8s.io serviceinstances} in servicecatalog.k8s.io/v1beta1, reading as servicecatalog.k8s.io/__internal from storagebackend.Config{Type:"", Prefix:"/registry", ServerList:[]stri

[2018-03-27 14:48] MHBauer commented on #1877
What version and how did you install?

My logs look the same as yours up to that point.

[code]

[2018-03-27 16:10] n3wscott opened #1879 "Failed async provisioning no longer makes a deprovision call to the broker"
See https://github.com/kubernetes-incubator/service-catalog/pull/1765/files#r177482025

Steps to repro:

1. Provision Async
2. Poll and return state=failed to SC
3. Note k8s instance resource has `deprovisionStatus: NotRequired`

Expected:

At the end the instance should have `deprovisionStatus: Required`

[2018-03-28 01:45] kyhwsk commented on #1877
I tried the v0.1.8 and v0.1.11 both, its get the same results.

but at last I found  it continue running after tens mins.
it finally logs

[code]

I think maybe  the time is spent in communication between api-server and etcd

[2018-03-28 01:47] #1867 closed

[2018-03-28 17:24] n3wscott commented on #1133
This needs to happen. The feature is awesome...

[2018-03-28 17:26] n3wscott commented on #1873
Thanks @MHBauer I did not know that was a feature!

[2018-03-28 22:33] n3wscott commented on #1752
Done!

[2018-03-28 22:33] #1752 closed

[2018-03-28 22:34] n3wscott commented on #1680
I feel like we are ok now. Re-open if we all think this is an issue still.

[2018-03-28 22:34] #1680 closed

[2018-03-29 01:56] nilebox commented on #1879
As I said in the comment to PR, we just need to pass the "orphan mitigation is required" flag for async operations, i.e. change `false` to `true`.

[2018-03-29 02:00] MHBauer opened #1884 "refactor NewController to take the configuration struct directly"
currently we piece apart the struct to give it to the constructor, just give it to the constructor and let it take what it wants.

[2018-03-29 03:13] MHBauer commented on #1848
probably me, as I find it a personal affront, wastes my time waiting for builds to build.

[2018-03-29 03:14] MHBauer commented on #1879
whoever takes it, the fix needs a test to exercise this case.

[2018-03-29 05:31] kyhwsk commented on #1877
I found it was because the resource request of `apiserver-deployment.yml` and `controller-manager-deployment` too small.

after I change the request ,the problem never  recurrent.

[2018-03-29 05:52] #1877 closed

[2018-03-29 05:54] nilebox commented on #1879
@MHBauer  It will be a bit hard to write an integration test that will make sure that instance has a `deprovisionStatus: Required`, given that the orphan mitigation will be triggered immediately, and in the end the instance will be in the unprovisioned status again.

Writing a unit test should be relatively easy though, I'll give it a shot.

[2018-03-29 06:24] nilebox commented on #1879
@n3wscott I have raised a PR #1886 to fix this issue. Note that if you test it manually, you won't see an instance stuck with failure and `deprovisionStatus: Required`. Instead, Service Catalog will perform orphan mitigation immediately, and after succeeding it will retry provisioning.

In other words, the kubectl UX for viewing status is going to be:
`start provisioning` -> `fail, requires orphan

[2018-03-29 15:52] #1879 closed

[2018-03-29 17:09] MHBauer commented on #1873
@n3wscott Unfortunately, that's what I keep hearing.

[2018-03-29 20:53] pmorie opened #1892 "Add integration tests for credential remapping"
@n3wscott and I both missed this in #1868

[2018-03-29 22:01] MHBauer commented on #1197
Is this adapting something that upstream provides?

[2018-03-29 22:42] MHBauer commented on #999
@arschles @duglin @ash2k I think this issue is closable now that we use GUIDs all over and have both k8s names and external IDs?

[2018-03-29 22:42] #999 closed

[2018-03-29 22:46] MHBauer commented on #1313
Is this in reference to the contents of https://github.com/kubernetes-incubator/service-catalog/tree/2da1e43e9901cb271e0514af4a8bf95762baf395/contrib/examples/apiserver ?

The greatest in repo use is for the integration round trip test with kubectl. The readme in that folder has a pretty good disclaimer for why they look how they do.

[2018-03-29 22:48] MHBauer commented on #1679
I put this on the April 2 agenda to see if we can find some followups.

[2018-03-29 22:49] MHBauer commented on #1409
@n3wscott @pmorie Is this fully cleaned up enough to your satisfaction to close?

[2018-03-29 22:51] MHBauer commented on #1324
@vaikas-google @kibbles-n-bytes Are we still seeing hangs? Does this need to be worked?

[2018-03-29 22:54] MHBauer commented on #1309
@pmorie I don't use this, it isn't called by any of the automated tooling. I would expect bitrot if anything.

git history makes it look like your target, I think you get full priority on nuking or rewriting.

[2018-03-29 22:56] MHBauer commented on #942
Is this related to https://github.com/kubernetes-incubator/service-catalog/issues/1562 or different?

[2018-03-29 22:57] MHBauer commented on #926
With aggregated api, why does this matter? Does svc cat need it's completely own namespace to own and run in?

[2018-03-29 23:00] MHBauer commented on #908
@jberkhahn @carolynvs Is this something covered by svcat already? Does #1723 completely subsume this ?

[2018-03-29 23:01] MHBauer commented on #800
@duglin https://github.com/kubernetes-incubator/service-catalog/pull/1658 does most of this, do we still want to send cluster id as the CF org?

[2018-03-29 23:06] MHBauer commented on #1726
I like this approach, it's direct and immediate feedback.

Is there a way to print out `whoami` in the error? Might help a user debug perms, if they show up explicitly as not who they think they are.

[2018-03-29 23:07] MHBauer commented on #1724
I think the error message in #1726 is required.

The differentiating as a separate subcommand is too much.

Commentary in documentation is about all I would expect, beyond some error message.

This is pretty much exactly the problem with RBAC & watch, we can't know what we can and cannot see without trying or asking explicitly.

[2018-03-30 00:37] duglin commented on #800
@arschles do you have any objection to using ClusterID as the orgID?

[2018-03-30 01:35] duglin opened #1895 "Bindings need locks - as long as Instances do"
As long as we have locks on Instance updates (and we should discuss whether or not we can get rid of them), updating Bindings should have the same logic/restrictions.

See: #1872  for some info.

[2018-03-30 15:26] n3wscott commented on #1892
Shame is on our houses.

[2018-03-30 15:26] n3wscott commented on #1892
@luksa to fixity fix?

[2018-03-30 16:12] #1873 closed

[2018-03-30 16:32] n3wscott commented on #1409
I think so.

[2018-03-30 16:32] #1409 closed

[2018-03-30 16:33] n3wscott commented on #1324
I agree we still need the timeout added to the tests

[2018-03-30 16:40] #1871 closed

[2018-03-30 16:42] n3wscott opened #1897 "We should have a message to warning people not to use --param[s-json] for secret information."
See https://github.com/kubernetes-incubator/service-catalog/pull/1889#discussion_r178322872

[2018-03-30 16:47] n3wscott opened #1898 "[svcat] Allow svcat bind to be given a blob, store it in a given secret, and then use that secret for the binding."
See https://github.com/kubernetes-incubator/service-catalog/pull/1889#discussion_r178322653

[2018-03-30 18:08] kibbles-n-bytes commented on #1324
Yes; I added a timeout to Jenkins as a result of this issue to abort the entire build, but I believe we should have timeouts per test.

[2018-03-31 23:50] etsangsplk opened #1899 "Error: failed to download "charts/ups-broker" ???"
Try to follow the Walkthrough.md:
but when I run
helm install charts/ups-broker --name ups-broker --namespace ups-broker
Error: failed to download "charts/ups-broker"
Using the latest releast version
* Helm: Server: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}
* svcCat:
client: v0.1.12

[2018-04-01 21:48] etsangsplk opened #1900 "Error: No matches for servicecatalog.k8s.io/, Kind=ClusterServiceBroker"
Trying the walkthough
kubectl create -f contrib/examples/walkthrough/ups-broker.yaml
error: unable to recognize "contrib/examples/walkthrough/ups-broker.yaml": no matches for servicecatalog.k8s.io/, Kind=ClusterServiceBroker

Getting
error: unable to recognize "contrib/examples/walkthrough/ups-broker.yaml": no matches for servicecatalog.k8s.io/, Kind=ClusterServiceBroker

-----------------------
V

[2018-04-02 17:02] andutt commented on #942
Seems like similar, but not sure if its the same case. The above is triggered everytime you create a lamp (httpd + mysql with servicebinding) within a project, and then try to delete the project. The same result both from cli and by console (Delete project). Everything is removed, but the servicebinding remains in limbo state.

[2018-04-02 20:39] carolynvs opened #1902 "Document our CI / Test process"
It was asked in our last sig meeting that it would help contributors handle build failures if there was more doc around what is executed, what must pass in order to have it merged, etc. For example, people are confused by the rc build can fail but not prevent the PR from being merged, or why it would fail in the first place and not be a problem.

[2018-04-02 20:40] carolynvs commented on #1898
I'm taking off the help-wanted label until we have laid out what this would look like in this issue first.

[2018-04-03 14:25] carolynvs commented on #1902
Oops, this was already fixed by #1885. Yay! 🎉

[2018-04-03 14:25] #1902 closed

[2018-04-03 14:28] carolynvs commented on #908
@MHBauer I believe it does. Closing in favor of #1723. Feel free to re-open if I'm off base.

[2018-04-03 14:28] #908 closed

[2018-04-03 14:29] carolynvs commented on #926
FWIW, I always run service catalog in kube-system since I consider it part of the cluster plumbing.

[2018-04-03 14:33] duglin commented on #926
as it should be  ;-)

[2018-04-03 14:35] pmorie commented on #926
I don't think mandating an official namespace should be a goal. We lose a
lot of time in this group when trying to force everyone to accept the same
solution.

On Tue, Apr 3, 2018 at 10:29 AM, Carolyn Van Slyck <notifications@github.com

[2018-04-03 14:44] MHBauer commented on #926
SGTM

[2018-04-03 14:44] #926 closed

[2018-04-03 18:07] #1286 closed

[2018-04-03 20:06] MHBauer commented on #908
Excellent. Goal is to close things that are done!

[2018-04-04 05:46] nilebox opened #1905 "Fix usage of`brokerRelistInterval` configurable parameter"
The field `brokerRelistInterval` is present in controller, and configurable, but actually not being used at all: https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller.go#L80

There is a `relistDuration` field in the broker spec, that is 15 mins by default, and can be overriden by user: https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/a

[2018-04-04 08:56] luksa opened #1906 "Prevent users from updating ServiceInstance parameters if PlanUpdatable is false"
There is an admission control plugin that prevents users from changing the plan on a ServiceInstance if PlanUpdatable is false, but it doesn't prevent them from changing the parameters. According to the OSB spec, when PlanUpdatable is false, the platform should not try to update the service instance:

In other words, PlanUpdatable doesn't just mean that the Plan on a ServiceInstance can't be updat

[2018-04-04 11:37] luksa opened #1907 "Erroneous ReferencesNonexistentInstance error when referenced ServiceInstance exists, but points to a non-existent plan"
I've just noticed that if I create a ServiceInstance that points to a non-existent plan, and then create a ServiceBinding for that instance, the binding shows the wrong reason & message for the Ready condition:

[code]

[2018-04-04 13:11] luksa opened #1908 "Empty ServiceBinding conditions when ServiceInstance points to non-existent plan"
If I create a `ServiceInstance` that points to a non-existent plan, and then create a `ServiceBinding`, the controller simply logs an error and doesn't update the status of the `ServiceBinding`:
[code]

Relevant lines in the controller: https://github.com/kubernetes-incubator/service-catalog/blob/dfec6deb28e04ba1b0ec7dadc614f1a6844a4105/pkg/controller/controller_binding.go#L198-L201

[2018-04-04 13:13] luksa commented on #1907
I can't reproduce this any more, but I'm absolutely sure that it happened at least once. Instead I see https://github.com/kubernetes-incubator/service-catalog/issues/1908

[2018-04-04 14:53] n3wscott commented on #1905
seems like the serviceBrokerRelistInterval / brokerRelistInterval should be used to default the brokers relistDuration spec field but it never got wired up or it got unwired and does not have a test :D

I think it seems good to have and it is a little work to wire it in

[2018-04-04 15:30] #1800 closed

[2018-04-04 16:01] carolynvs opened #1912 "Add zsh completion to svcat"
Now that we have bash completion in svcat, we need zsh next!

[code]

I believe that spf13/cobra has support for zsh on master (not sure if it's an official release), so that's worth investigating and possibly bumping our version to get that for free. Otherwise, let's see how kubectl does it and follow their lead.

[2018-04-04 16:56] jim-minter opened #1913 "Logging should be clearer when service catalog fails to connect to etcd"
I encountered a scenario where the SC failed to connect to etcd using TLS because the etcd certificate name did not match the connection hostname.

There was no obvious logging at loglevel 10 and the SC /healthz and /healthz/etcd endpoints did not indicate an issue.  The SC itself just seemed to be hanged and API requests returned errors like `Error from server (Forbidden): clusterservicebrokers.s

[2018-04-04 19:40] carolynvs commented on #1311
@luksa @pmorie  Can this be closed now that #1868 is in, or is there more left to do?

[2018-04-04 23:01] carolynvs commented on #1311
Closed by #1868

[2018-04-04 23:01] #1311 closed

[2018-04-04 23:55] MHBauer commented on #1913
We're using the upstream checker, and that has no logging.

Did you see any of the log messages in https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.12/cmd/apiserver/app/server/run_server.go#L135-L149 or did it just hang completely with no details?

[2018-04-04 23:58] MHBauer commented on #1908
Does it never retry? If the instance is in a bad state, the binding can't fail as it can't know that the instance is permanently bad.

[2018-04-05 05:37] luksa commented on #1908
It retries, but as long as the instance is in a bad state, the binding's conditions stay empty as described above. The binding's status should show what's wrong. Users shouldn't have to look at the instance (or the controller's log, obviously).

[2018-04-05 12:35] luksa commented on #1907
I was able to reproduce this today. There was a race condition at controller startup. In about 30% of startups, the controller would start working on a ServiceBinding before the ServiceInstance cache was synced. That's why the controller wasn't able to find the ServiceInstance, even though it actually existed in the API server.

[2018-04-05 12:54] jboyd01 commented on #1908
I was looking at a similar Open Shift issue but the binding had the message "Binding cannot begin because referenced ServiceInstance "one/jenkins-persistent-zdrgk" is not ready" which was pretty reasonable. Does a describe on the binding not show this?

[2018-04-05 13:07] luksa commented on #1908
@jboyd01 No, `kubectl describe` doesn't show it. The error you're talking about is different (a few lines further down in the controller_binding.go code).

The fix is simple, I just haven't had the time to properly address it (with tests and all).

[2018-04-05 19:13] #1907 closed

[2018-04-05 19:38] jim-minter commented on #1913
I didn't, no.  I wonder if the etcd logging is just all disabled.  Perhaps enabling it when the -v loglevel is above a certain level, or something like that, might help?

[2018-04-06 11:01] luksa opened #1920 "Controller sends wrong plan_id in binding last operation request if user modifies the plan"
I'm not 100% sure on this, but it looks like if a user changes the plan on a `ServiceInstance` while an async bind operation is in progress, the controller sends the new `plan_id` in the last operation request. It should send the `plan_id` it sent in the request that triggered the async operation.

I'll take a look at this next week or the week after, if no one else takes this in the meantime.

[2018-04-06 11:45] luksa opened #1921 "Review tests and ensure ServiceInstance state is what it should be during every reconcile binding operation"
The tests don't always set up the state of the `ServiceInstance` properly before running the `reconcileServiceBinding()` method. For example, the `.Status.ExternalProperties` in some tests weren't initialized, but they would be in the real world.

We should have a bunch of functions that return a ServiceInstance in the appropriate state (with all its properties initialized consistently). This will

[2018-04-09 12:38] srajmane opened #1926 "quay.io/kubernetes-service-catalog/service-catalog-s390x:v0.1.9 image is not working on s390x"
Kubernetes version (use kubectl version): 1.9.6

Environment:

OS (e.g. from /etc/os-release): Ubuntu 16.04 and RHEL 7.3
Kernel (e.g. uname -a): s390x
Install tools: docker

I am trying to deploy Service Catalog v0.1.9 on kubernetes, but the catalog-catalog-apiserver and catalog-catalog-controller-manager PODS are not going up.
Using quay.io/kubernetes-service-catalog/service-catalog-s390x:v0.1.9

[2018-04-11 06:46] ash2k opened #1928 "Access control for ExternalID"
What if a user specifies an ExternalID that is used by someone else's resource of the same class/plan when they create a `ServiceInstance`? A broker might be used by multiple distinct systems and might not be able to prevent "ownership extension". This is especially likely if the broker is a pass-though to some other api.

I'm proposing Service Catalog should check with the AuthZ API to see if the

[2018-04-11 06:57] nilebox commented on #1928
I am not even sure if setting a random non-deterministic value (UUID) as part of applying defaults is the correct approach for Kubernetes.

@liggitt can you comment on that please?

For the context: the defaulting function for `ServiceInstance` resource generates a UUID if the `ExternalID` was not supplied by a user: https://github.com/kubernetes-incubator/service-catalog/blob/ba8d0508043a520be3b7

[2018-04-11 07:00] liggitt commented on #1928
defaults should be deterministic. what you are doing looks like a better fit to put in the PrepareForCreate method of the strategy or the Create method of the rest handler

[2018-04-12 16:50] carolynvs opened #1932 "Install service catalog through svcat"
[code]

This is existing functionality in the google `sc` tool and @n3wscott has offered to help donate that logic.

[2018-04-12 17:45] pmorie opened #1933 "Make binding.spec.secretTransform.to into a JSON path"
...to support cases where credentials is a structured blob instead of a flat set of keys.

[2018-04-12 17:45] pmorie commented on #1933
cc @luksa @carolynvs

[2018-04-12 18:11] preethipy commented on #1926
@srajmane can you please post your catalog apiserver logs # kubectl logs <apiserver name> -c apiserver -n <namespace>

Also look for the services. I recently worked on using S390x:v0.1.13 and got the server, controller up and running. I would suggest you move to latest version too

[2018-04-13 07:06] wryun opened #1935 "There is no obvious indication in status.conditions that Service Catalog is retrying"
[code]
I'm not clear what's supposed to be happening in this case, but I would have hoped the condition will tell me what's happening. @nilebox knows about this.

[2018-04-13 08:26] maleck13 opened #1936 "Label ServiceInstances with ServiceClass information"
It would be quite useful to be able to list ServiceInstances based on the ClusterServiceClass that they were instantiated from without needing to list all ClusterServiceInstances in a given namespace and inspect the ```spec.clusterServiceClassExternalName ``` or ```clusterServiceClassRef.name``` .

Would it be reasonable to label the service instances with this information?

[code]

Perhaps there

[2018-04-13 08:29] maleck13 commented on #1936
actually this would likely be down to whomever created the service instance initially. Closing

[2018-04-13 08:29] #1936 closed

[2018-04-15 01:10] jeremyrickard commented on #1814
#dibs

[2018-04-16 09:52] sebgoa opened #1938 "no icon in the svc catalog chart"
Hi, would it be possible to add an icon in the svc catalog chart

[2018-04-16 10:48] abhaysingh1722 commented on #1402
Hey,
Even I am encountering the same error, even though my DNS is installed and running correctly. It'll be a real help if you could provide more insight.

[2018-04-16 13:19] jboyd01 commented on #1402
Catalog controller is trying to contact the broker using the DNS name of your broker's service.  It creates the DNS name by concatinating the <service-name>.<namespace>.svc.cluster.local.   Make sure the service is running.  Take a look at `kubectl get services --all-namespaces` and verify you see your services and that they have an IP address and are running.  You can also try `kubectl describe s

[2018-04-16 15:39] abhaysingh1722 commented on #1402
Hi @jboyd01
Thanks for the reply.

As u mentioned, I ran both the commands describing the status of the broker's service. It was indeed in a running state without any discrepancies. Therefore,  I tried replacing the url in the contrib/examples/walkthrough/ups-broker.yaml from url: http://ups-broker-ups-broker.ups-broker.svc.cluster.local to url: http://[ip-address-on-which-service-is-running]

Now

[2018-04-16 15:46] MHBauer commented on #1938
This issue came up during the F2F last week.

We need to have a logo at all, first. Then we can use it.

[2018-04-16 16:04] MHBauer commented on #1884
The arguments to
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.14/pkg/controller/controller.go#L71
come from
https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.14/cmd/controller-manager/app/controller_manager.go#L352
and that's filled in using multiple fields from
`cmd/controller-manager/app/options.ControllerManagerServer`.
I'm thinking we can just pass that in

[2018-04-16 17:03] n3wscott opened #1939 "[docs] confusing wording for secret parameter usage"
Here's the [link](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/parameters.md#referencing-sensitive-data-stored-in-secret) to the Kubernetes Service Catalog on the parameters.

In particular, this statement:

[code]

So does that mean only the ones you want to be secret come from that payload?  It sounds like if you use this feature then all parameters ("... the entire J

[2018-04-16 17:51] jboyd01 opened #1940 "instance Controller crashes as part of pollServiceInstance when set to invalid plan"
How to reproduce:
1) you need a service that does **async** deprovision
2) create an instance of the service
3) edit the instance and set the clusterServicePlanExternalName to a **non existing plan**
4) delete the instance

[2018-04-16 20:18] kibbles-n-bytes opened #1942 "Add imperative deprovision/unbind flag to ServiceInstance/ServiceBinding"
As deletion of k8s resources is permanent once it has been accepted by the API server, we currently get into a strange state where if a deprovision/unbind request fails at the broker, our k8s resource will be stuck permanently in the failed deletion state.

At the April F2F we decided to add deprovision/unbind flags to allow the user to attempt a deprovision/unbind without having to delete the Ser

[2018-04-16 21:39] n3wscott commented on #1900
Did you install and then do [Step 1](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/walkthrough.md#step-1---installing-the-ups-broker-server)?

[2018-04-16 21:45] #1899 closed

[2018-04-16 21:49] n3wscott commented on #1898
@pmorie halp

[2018-04-16 21:52] n3wscott commented on #1906
In the table, the spec says:

It looks like https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#updating-a-service-instance is just wrong.

[2018-04-16 21:58] n3wscott commented on #1920
oh that's a bummer.

[2018-04-16 22:00] n3wscott commented on #1932
Yes, we need to do some refactoring on the `sc` side to support this but it is a goal.

[2018-04-16 22:27] marpaia opened #1943 "Questions about programatic use of the Service Broker"
As I was discussing in Slack with @carolynvs, I maintain a `Tenant` CRD and controller. The Tenant resource allows you to define application resources to deploy (templated kubernetes yaml smarty, helm charts, ksonnet, etc) as well as a set of OSB Service Instances that you need to bind to. Consider the example resource [here](https://gist.github.com/marpaia/d2d88a35574d42c9b1af27e1eeb21d80).

The

[2018-04-16 22:31] n3wscott commented on #1943
why not just install service catalog directly and your CRDs help manage the service catalog resources?

[2018-04-16 22:41] marpaia commented on #1943
That's more or less what I'm proposing, but right now the installation UX for my CRDs+controller is:

[code]

Given that the current installation instructions for Service Catalog require installing Helm first, that seems like a blocker for my use-case, so I'm trying to get my head around what is required to be able to operate on the service catalog resources in my own kind of isolated/namespaced w

[2018-04-16 22:51] n3wscott commented on #1942
What about the state where I just want that object out of my k8s resource space and I don't care that the broker says I can't delete it... maybe it is a borrowed resource or something?

[2018-04-16 23:12] marpaia commented on #1943
I agree with you though @n3wscott, if there is a minimal, embeddable, easily distributable way for me to just get a client to the service catalog API server (or the main API server with CRDs), then that would be ideal.

[2018-04-16 23:20] marpaia commented on #1943
I could take a run at making a hosted manifest out of the [Helm templates](https://github.com/kubernetes-incubator/service-catalog/tree/master/charts/catalog/templates) since it doesn't seem like there is much I'd want to change from installation to installation?

[2018-04-17 00:40] MHBauer commented on #1943
I really like your big comment on the `serviceCatalog:` field in your example yaml. Especially [this bit](https://gist.github.com/marpaia/d2d88a35574d42c9b1af27e1eeb21d80#file-tenant-yaml-L23-L25)

Go client is in https://github.com/kubernetes-incubator/service-catalog/tree/master/pkg/client

I feel from your description that the binding is something we also want to be doing, we just haven't gotte

[2018-04-17 00:50] marpaia commented on #1943
@MHBauer it's my understanding that if I create a binding for a service and plan in my catalog (in namespace `foo`), Service Catalog will create a secret in namespace `foo` with the credentials it got in the response from `PUT /v2/service_instances/:instance_id/service_bindings/:binding_id`. Is that what you're talking about?

[2018-04-17 02:47] MHBauer commented on #1943
An original goal is to do more than that. Take the credentials and put them in a secret, yes, but also create a podpreset that automatically injects the contents of the secret into pods that fullfill a selector.

[2018-04-17 02:54] marpaia commented on #1943
Oh, very cool. I think that would be above and beyond.

[2018-04-17 08:08] maleck13 commented on #1222
@pmorie  @duglin  Had no response on this for sometime so just following up after thinking more on it.
Would a reasonable approach here be to allow a set of labels to be specified as part of the ServiceBinding object with the default being none. The name of the secret is allowed to be specified https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/v1beta1/type

[2018-04-17 11:47] luksa opened #1945 "Credentials in binary form end up being doubly-base64-encoded in the Secret"
Imagine that a broker returns a binary PFX certificate as one of the credentials. In order to do that, it needs to base64 encode it in the binding response JSON. The service catalog controller doesn't know the received string is base64-encoded.

If the controller stored the base64-encoded string in the Secret, everything would be fine, since the service consumer expects the credential to be in tha

[2018-04-17 14:08] luksa commented on #1892
There, I fixity fixeded it.

[2018-04-17 15:48] carolynvs opened #1948 "Explain how to vendor service catalog using dep"
It's pretty common for someone pulling in service catalog to also have a dependency that uses a different version of the client-go library. We should add a FAQ, or find some other appropriate place to highlight how to vendor us properly using dep.

**Gopkg.toml**

[code]

Then run `dep ensure` to apply the change the change.

[2018-04-17 15:51] kibbles-n-bytes commented on #1942
@n3wscott In that case, you can remove the resource today by doing a `kubectl edit` and removing the Service Catalog finalizer after having done a delete request.

[2018-04-17 16:01] pmorie commented on #1942
I'm kind of hesitant about doing this for a few reasons:

1. It is fundamentally different than what users will expect from other parts of kube
2. What happens after you set this field? Can you update the plan? Can you change the parameters?
3. What happens if you set this field and then delete the resource while async deprovision is happening?
4. How will users tell that an instance has been depr

[2018-04-17 17:38] kibbles-n-bytes commented on #1942
It's possible to model this declaratively. An `existsExternally` bool that defaults to `true` would allow the user to declare their intent as to whether the resource should be persisted on the broker, and the controller would reconcile this intent with the state of the world, provisioning/deprovisioning as necessary.

You can, but presumably the deprovision operation would take precedent. And whil

[2018-04-17 17:39] kibbles-n-bytes commented on #1942
As for motivations, @duglin could you describe your situation here to give some context?

[2018-04-17 20:09] pmorie opened #1950 "Implement a naming strategy that gives service classes and plans human readable names"
When we were trying to deal with name mutability in https://github.com/kubernetes-incubator/service-catalog/issues/802, we decided to use the OSB IDs of services and plans as the k8s names to deal with mutability. This results in a very clunky (basically unusable) kubectl experience because the k8s names are not easily distinguishable. The svcat tool makes this easier to manage, but not every user

[2018-04-17 21:36] duglin commented on #1942
I think @kibbles-n-bytes said it well in his opening comment:
- - -
As deletion of k8s resources is permanent once it has been accepted by the API server, we currently get into a strange state where if a deprovision/unbind request fails at the broker, our k8s resource will be stuck permanently in the failed deletion state.
- - -
This is to deal with cases where the Broker rejects the delete. At so

[2018-04-18 15:20] mszostok opened #1954 "[question][help wanted] How to block ServiceBinding deletion"
Hi

*This is a nutshell of our issue:*

In our K8s platform we added a new custom resource (CR) which depends on the ServiceBinding. When such CR is created we want to block the deletion of the ServiceBinding connected with it.

*Details*

Scenario  - **creation**
1. Create a ServiceInstance
2. Create a ServiceBinding
3. Create a ServiceBindingUsage (our CR)

Scenario – **deletions, current state*

[2018-04-18 17:50] jboyd01 commented on #1954
re *In the newest versions this idea was dropped*:  Service Catalog handles the finalizers as an unsorted set so that comment was removed.  See  https://github.com/kubernetes-incubator/service-catalog/issues/1093  and https://github.com/kubernetes-incubator/service-catalog/pull/894.   I'm not certain if you can get an order list of finalizers from the platform.

Blocking a binding (or any resource

[2018-04-18 19:14] carolynvs commented on #1943
I misunderstood what you were hoping to do when we chatted on slack. I thought the question was "should I talk directly to OSB or to service catalog", which is why I thought exposing any of our client-side functionality better would be useful to you.

But it sounds like you actually want to completely host, wrap/proxy service catalog yourself?

[2018-04-18 19:51] carolynvs commented on #250
This is on the roadmap for GA. Will it be resolved with the [blacklist/whitelist PR](https://github.com/kubernetes-incubator/service-catalog/pull/1773) once it's merged? Otherwise I think it needs to be removed from the milestone.

[2018-04-18 19:55] marpaia commented on #1943
@carolynvs yeah, service catalog is a dependency of my project. so the user *may* have already installed it, but if they don't, they can't use my thing unless they have service catalog. So I need to include it and the strategy that seems the most sane is to use the Helm chat to produce a manifest with my suggested installation locations and configurations and bundle it.

Ideally service catalog wo

[2018-04-18 20:04] carolynvs commented on #1209
Can this be closed now that https://github.com/kubernetes-incubator/service-catalog/pull/1512 is in?

[2018-04-18 20:30] n3wscott commented on #1950
This is related: https://github.com/openservicebrokerapi/servicebroker/pull/504

[2018-04-18 20:37] carolynvs commented on #1943
Ah okay, sorry about that. I'm glad that `svcat install catalog` (#1932) would work for you as that's definitely on our radar.

[2018-04-18 20:58] n3wscott commented on #250
We get close after catalog restrictions, and all the way there after namespaced brokers/classes/plans.

[2018-04-19 05:59] aszecowka commented on #1954
@jboyd01 On the other hand you block removing of ServiceInstance if ServiceBinding for that instance exist.

[2018-04-19 07:58] maleck13 commented on #1222
This would be an approach that works, perhaps it would just be

[code]

And then the platform could decide what should be done with that information? In k8s case it would add those labels to the secret.
Let me know if I am taking that up wrong.
This would be a change to the OSB API spec right so I would need to open up an issue there?

[2018-04-19 14:00] luksa opened #1956 "Check non-happy paths for SecretTransforms"
Things to check:
- what if the `RenameKeyTransform.from` refers to a non-existent key
- what if the `AddKeysFromTransform` references a non-existent Secret
- ...

[2018-04-19 14:09] carolynvs commented on #1933
@pmorie @luksa https://github.com/kubernetes-incubator/service-catalog/pull/1927 is pretty close to doing what this is suggestion but I am not sure it 100% nails the experience suggested here.

Two things I see that would be nice to follow-up on:
* Rename and Delete don't support jsonpath.
* What if the jsonpath points to a struct instead of a string? Right now the PR assumes it's always a string

[2018-04-19 15:47] jboyd01 commented on #1402
as mentioned in https://github.com/kubernetes-incubator/service-catalog/issues/1402#issuecomment-336881170 it sounds like DNS or some other critical infrastructure is not working.  You shouldn't need to change the ip address.   What kind of kube cluster are running?  (ie minikube, local-up-cluster, etc)

I just re-read your description - are you on the same versions as the original person reported

[2018-04-19 17:45] #1814 closed

[2018-04-19 17:48] carolynvs commented on #1778
Dibs

[2018-04-19 20:30] jberkhahn opened #1959 "Svcat unbind and svcat deprovision should use similar syntax"
Why does `svcat unprovision $instancename` work but unbind is `svcat unbind --name=$bindingname`?

@carolynvs

[2018-04-19 20:53] carolynvs commented on #1959
The thought was that the more common case was to mostly operate against the instance, so the default user experience would be this

[code]

[2018-04-19 23:03] pmorie opened #1960 "Validation for servicebinding status.unbindStatus cause breakages when migrating data to newer version"
In https://github.com/kubernetes-incubator/service-catalog/pull/1544 a validation was added for `status.unbindStatus` on updates. This causes breakages when migrating older data. In OpenShift, we have a CLI command `oc adm migrate storage` that is used to force an update in the API server of a set of resources. This is used to migrate storage versions of APIs. You can see more information in [this

[2018-04-20 08:21] arapulido opened #1962 "Chart version 0.1.14 is broken"
It looks like the 0.1.14 version of the apiserver removed the --enable-admission-plugins flag, so current version of the chart is broken, as it uses this flag.

Pod logs:

[code]

[2018-04-20 18:12] jeremyrickard opened #1964 "Let's Make CI Better"
We ran into this issue: https://github.com/kubernetes-incubator/service-catalog/issues/1962

The root cause of the issue is that changes were made in https://github.com/kubernetes-incubator/service-catalog/commit/2c22fc17a0cbc808f2e626f5d6c91dcd8047aa63 that were incompatible with the v0.14.0 release, however the helm chart was synch'ed to the chart repository. This resulted in people getting the

[2018-04-20 18:14] MHBauer commented on #1964
@viglesiasce halp, plz

[2018-04-20 18:24] jeremyrickard commented on #1964
We could make this a big umbrella effort and also work in _prow_.

[2018-04-20 18:26] viglesiasce commented on #1964
Would love to meet on this next week and come up with a plan for making this more transparent. We need to do this for the main charts repo as well.

The crux is that we need to be able to store the GCS key securely then run the sync script using that key.

For releasing new versions of the chart it should be done on tags not commits as it is now and the chart version needs to be updated before rel

[2018-04-20 18:27] viglesiasce commented on #1964
@arschles repo-sync.sh script is here:
https://github.com/kubernetes-incubator/service-catalog/blob/master/test/repo-sync.sh

[2018-04-20 18:31] arschles commented on #1964
thanks @viglesiasce - I'm not sure where it's called anymore, but perhaps I'm just out of touch.

Thanks for setting that up too! I'll be on vacation, so just imagine me there lurking in the corner on zoom :)

Cheers!

[2018-04-20 18:45] pmorie commented on #1964
I'm very supportive of adopting prow.

[2018-04-20 23:41] smirzai opened #1967 "unknown flag: --enable-admission-plugins"
I am trying to install sc. I followed the[ Installation guide](https://github.com/kubernetes-incubator/service-catalog/tree/master/charts/ups-broker).

Kubernetes version: 1.10.0
helm version: v2.9.0-rc4

helm install svc-cat/catalog     --name catalog --namespace catalog

k logs catalog-catalog-apiserver-55fdfcd87c-5sgx4 apiserver -n catalog
Error: unknown flag: --enable-admission-plugins

I trie

[2018-04-20 23:56] jeremyrickard commented on #1967
@smirzai there is currently an issue with the service catalog chart. See #1962

[2018-04-21 01:41] MHBauer commented on #1967
dup of #1962

[2018-04-21 01:41] #1967 closed

[2018-04-21 01:43] MHBauer commented on #1964
@viglesiasce

Is this a change we need to make in `repo-sync.sh`?

Q for the talk, As far as I can tell, we do not directly call `repo-sync.sh` during the build. Who is?_

[2018-04-21 01:47] MHBauer commented on #1962
v0.1.15 is pushed. We do not have any known way to fix v0.1.14 at the moment.

[2018-04-21 21:11] jeremyrickard commented on #1962
@arapulido this should be resolved by the 0.1.15 release that occured on Friday. You will need to do a helm update to get the latest chart, but it should be working after that!

[2018-04-22 04:05] abhaysingh1722 commented on #1402
Hi @jboyd01
Thanks for replying.

The issue which I mentioned in my comment has been encountered on a system with the following environment:-
Kubernetes version (use kubectl version): 1.9.6
Service Catalog version:- 0.1.14

Type of kube-cluster:- Local-up

OS (e.g. from /etc/os-release): Ubuntu 16.04

Kernel (e.g. uname -a): s390x

Install tools: Docker(Version:18.03.0-ce)

Also, all the pods are

[2018-04-23 07:13] prydonius commented on #1962
v0.1.15 worked for me :) - thanks for the speedy fix!

[2018-04-23 12:02] surajnarwade commented on #1367
@pmorie , any progress on this ? I am confused how to use `service-catalog` as a library.

[2018-04-23 12:12] maleck13 commented on #1367
We are currently generating the client based on the api definitions. Using the kubernetes client-gen tool

[2018-04-23 13:33] surajnarwade commented on #1367
@maleck13 , any blog post or document link will help a lot. I want list down and consume services from my project. here is reference issue https://github.com/redhat-developer/odo/issues/266

[2018-04-23 13:55] carolynvs commented on #1821
@Bubblemelon Is this still something that you'd like to work on? Let me know if you are stuck or have questions! 💖

[2018-04-23 15:32] jeremyrickard commented on #1933
What about the inverse of this, if someone wants to transform a flat key into a structured blob? Out of scope or maybe better handled by something like a MutatingAdmissionWebhook?

[2018-04-23 15:37] codevulture opened #1968 "Created Binding overwrites non-conflicting keys in existing credentials Secret"
I think Creating the bindings overwrites the existing secrets stored in k8s.

[azure wordpress](https://github.com/Azure/open-service-broker-azure/blob/master/docs/quickstart-minikube.md#deploy-wordpress)

Kindly check. Can be reproduced. Do not have logs currently, will update if needed.

[closed bug from azure and opened here](https://github.com/Azure/open-service-broker-azure/issues/404)

[2018-04-23 16:12] jeremyrickard commented on #1968
Hey @codevulture. Could you provide a little more detail about what you're encountering exactly? I've re-opened your issue in the Open Service Broker for Azure repo. My statement is true, service catalog is the party that makes the secrets/etc in Kubernetes, but it could be that you're encountering an issue with the OBSA related helm chart. If you could include more detail about the issue you are

[2018-04-23 16:13] maleck13 commented on #1367
@surajnarwade This may be useful https://github.com/aerogear/mobile-cli/blob/master/scripts/generate.sh

Shows how we are using the generate tool. The side effect here is it is up to us to keep the definitions upto date. Although there may be a way around that.
Example usage of the client
https://github.com/aerogear/mobile-cli/blob/master/pkg/cmd/services.go#L62

[2018-04-23 16:38] n3wscott commented on #1964
MOVE TO **PROW**

[2018-04-23 16:41] n3wscott commented on #1402
Sounds like an interesting setup and please report back when you solve the issue so we can add some notes to the documentation to support future users, thanks for trailblazing @abhaysingh1722 !

[2018-04-23 16:48] n3wscott opened #1969 "Move to prow."
We are in k8s, lets act like it.

[2018-04-23 16:57] carolynvs opened #1970 "Support decoding secret data directly in svcat"
#1961 displays the secret name and keys for a binding, but leaves it as an exercise for the reader to figure out how to see the secret data values.

@n3wscott had the awesome suggestion to add a flag to optionally decode and print the secret data in the output.

[code]

The help text for `--show-secrets` should make it clear that the secret data will be decoded and included in the output.

[2018-04-23 17:03] pmorie commented on #1970
I would make it more clear that this is displaying secret data so people
don't accidentally log it, not realizing that they've tainted their logs
with secret values.

On Mon, Apr 23, 2018 at 12:57 PM, Carolyn Van Slyck <
notifications@github.com> wrote:

[2018-04-23 17:46] carolynvs commented on #1970
Would putting that in the help text suffice? Or do you mean that the flag name should be like --display-top-secret-data-do-not-log?

[2018-04-23 17:48] pmorie commented on #1970
Something like `--show-secrets`

On Mon, Apr 23, 2018 at 1:46 PM, Carolyn Van Slyck <notifications@github.com

[2018-04-23 21:03] carolynvs commented on #1970
Sounds good to me. I've updated the OP with those changes.

[2018-04-23 21:25] carolynvs opened #1973 "Misleading message in logs: error getting the cluster info configmap"
In the service catalog logs, we are logging an error when we can't read the configmap to retrieve the cluster info. I think that is a misleading log message because it's just a warning, not an error, correct? Or do we now require different rbac permissions?

[code]

Originally reported in https://github.com/osbkit/minibroker/issues/1

[2018-04-23 22:05] MHBauer commented on #1973
must have forgot that in #1658

[2018-04-24 02:05] #1959 closed

[2018-04-24 02:09] carolynvs commented on #1736
#dibs

[2018-04-24 02:55] ash2k commented on #1628
Still happening with `v0.1.15`.

[2018-04-24 10:37] abhaysingh1722 commented on #1402
Hi @jboyd01
The walkthrough example mentioned in https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.14/docs/walkthrough.md is not working as expected for "kubectl get clusterservicebrokers ups-broker -o yaml"  as I am getting the status as:-
ErrorFetchingCatalog - Error fetching catalog. Error getting broker catalog

**Is there any other way to check if my service catalog build is w

[2018-04-24 13:33] jboyd01 commented on #1402
@abhaysingh1722 Good to hear you are using a recent build and Kube 1.9.  I don't have experience with s390 nor am I aware of any issues around it.  I routinely run with local-cluster-up.sh.  An alternative you could try is minikube.  Based on the details we've discussed so far, it still sounds like a Kubernetes infrastructure problem.

If you do `kubectl describe clusterservicebroker ups-broker`

[2018-04-24 14:43] teaguecole commented on #1786
I will work on this.

[2018-04-24 14:50] #1778 closed

[2018-04-24 14:50] #1970 closed

[2018-04-24 14:56] jeremyrickard commented on #1933
Well, I think one usecase for it is if I am trying to lift/shift a CloudFoundry app over and I need to build out a VCAP_SERVICES environment variable. That ends up being a big blob of JSON that nests the credentials. Might be better to have that as a webhook though, as you might need to combine several services together into a single (and maybe look at annotations on your deployment, like maybe a

[2018-04-24 15:02] teaguecole commented on #1786
I believe this has already been completed.  svcat/broker/sync_cmd.go on the master branch has an updated message at the end of the file on line 62.

[2018-04-24 15:06] carolynvs commented on #1786
The current message is "Successfully fetched catalog entries from the %s broker" which is incorrect. The message should be "Synchronization requested for broker: %s".

[2018-04-24 15:06] teaguecole commented on #1786
Ah, sorry, I just caught msyelf.

[2018-04-24 15:19] teaguecole commented on #1786
Done, I want to go through the walk through/run the code and see the pretty new message.  Obviously this will work, and its not a major change, but I will treat this as if it is since its my first PR for Kubernetes.  Expect pull request this evening.

[2018-04-24 16:49] carolynvs opened #1976 "left-pad proof our CI"
Our CI builds were taken out by golint's go metadata server being down last night. We can vendor our go tools with dep so that this doesn't happen again.

- [ ] Remove workaround from #1975
- [ ] Vendor go tools installed in our build image with dep, and just compile them in the Dockerfile

[2018-04-24 20:08] teaguecole commented on #1749
I will work on this!!! #dibs

[2018-04-24 20:40] carolynvs commented on #1222
@maleck13 Can you help me understand why you prefer that the broker add those labels instead of specifying the label say, on the binding?

I'm curious because I am working on a proposal to support adding defaults for service classes and plans, and thought that default labels could be useful as well. So that you could configure a single time at the cluster level "when resources are created for this

[2018-04-24 20:47] carolynvs commented on #1749
@teaguecole The issue was up for grabs again, so it's all yours. Let me know if you have questions.

[2018-04-24 21:32] jboyd01 commented on #1628
We have it reported in production deployments that are using ConfigMaps:
[code]

[2018-04-24 22:02] ash2k commented on #1628
I'll send a PR, it's a trivial fix (should be).

[2018-04-25 03:19] sunzhaohua2 opened #1982 "svcat touch instance failed using ups-broker"
Run `svcat touch instance` failed using ups-broker but successful in ASB.

1. create a [ups-broker](https://github.com/kubernetes-incubator/service-catalog/tree/master/charts/ups-broker)
2. svcat provision -n szh-project ups-instance --class user-provided-service --plan default
3. svcat touch instance ups-instance

$ svcat get instance
         NAME            NAMESPACE            CLASS

[2018-04-25 05:06] codevulture commented on #1749
@teaguecole : Caught up in some high priority work so was not able to look in it.

[2018-04-25 08:04] maleck13 commented on #1222
I don't have strong preference here. I was looking for something that would gain traction as I have been struggling with getting engagement on the issue. So delighted to hear I am not alone and you are working towards something similar.
I actually really like the idea of being able to specify some meta data (annotations and labels ) that are then added to any child resources created from the Clust

[2018-04-25 12:00] abhaysingh1722 commented on #1402
Hi @jboyd01
Thanks for replying. I'll have a look, with those commands.

Is there any other **example** to check if my service catalog build is working correctly or not?

[2018-04-25 13:52] jboyd01 commented on #1402
@abhaysingh1722 the ups broker is a simple broker many Catalog developers use every day for simple test and verification.  This should work and I think its the most straight forward configuration.   I don't think its an issue with the build - everything is pointing to an error with the Catalog Controller pod being able to communicate with the broker pod.  I'd pursue reviewing the events & status f

[2018-04-25 15:50] MHBauer commented on #1973
closed by #1974, hopefully

[2018-04-25 15:56] MHBauer commented on #1968
We create or update the secret.
https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller_binding.go#L449-L495
If there's a conflct on what the secret contains, it's an unfortunate circumstance, but svc-cat does allow you to specify a secret to create the bindings inside of. The user of the service must be aware of what keys are going to be created and possibly

[2018-04-25 15:57] #1962 closed

[2018-04-25 16:12] #1628 closed

[2018-04-25 18:20] n3wscott opened #1983 "Migrate hyperkube.Server to cobra.Command"
We are still using kyperkube, we should be using just plain cobra.

See https://github.com/kubernetes/kubernetes/commit/e48847e6ce8b470355c2bfe6934d63c341231257

[2018-04-25 20:45] carolynvs opened #1986 "Support filtering by broker when listing classes and plans in the API"
On a multi-broker installation, it would be very helpful to filter by broker (see #1749). For now we are doing the filter on the client side, but it would be preferable to not have the baked into the svcat client.

EDIT: I've removed the bad pointers here to existing code to change. I was wrong about where the filtering occurs.

[2018-04-25 21:47] Bubblemelon commented on #1821
Hi @carolynvs thanks for the kind reminder! 😅

[2018-04-25 22:07] kibbles-n-bytes opened #1987 "svcat should allow lists in --param"
Our broker requires a parameter that is a list for every binding type, which doesn't play too nicely with svcat and requires us to use `--params-json`. `svcat` should have an easier method for passing a parameter that is a list.

Was talking to @n3wscott offline, and an easy first step would be to have duplicate keys merged into a list. So you would do `--param foo=bar --param foo=baz`, and it'd g

[2018-04-25 22:19] carolynvs commented on #1987
I think the repeated parameter, with the same key being combined into an array has the least ambiguity.

We can easily support that, the changes would need to be made here:

https://github.com/kubernetes-incubator/service-catalog/blob/06ffe5324fba207c017e91fad028f0de6051a80a/cmd/svcat/parameters/parameters.go#L40-L44

So that instead of returning a map[string]string, we return map[string]interface

[2018-04-26 01:32] Bubblemelon commented on #1821
When I was doing a walkthrough the [dev guide](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/devguide.md), I encountered this error after following the [Build](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/devguide.md#building) instructions:

`[bin/healthcheck] Error 2`

This was returned after doing ctrl+c

I located the section in the makefil

[2018-04-26 02:38] teaguecole commented on #1749
I am working now working on this.

[2018-04-26 05:52] teaguecole commented on #1786
How do I mark this as closed as the PR has been approved, merged and closed?

[2018-04-26 11:10] duglin commented on #1786
I assume you mean this PR: https://github.com/kubernetes-incubator/service-catalog/pull/1979  right?

Put:
[code]
in the first comment of the PR next time and github will auto-magically close the issue when the PR is merged.

[2018-04-26 11:10] duglin commented on #1786
Closing - fixed in https://github.com/kubernetes-incubator/service-catalog/pull/1979

[2018-04-26 11:10] #1786 closed

[2018-04-26 15:52] jboyd01 commented on #1913
I may be hitting this issue myself, still debugging.  However I do see that the test that is under CheckEtcdServers() is pretty lame - it just does a dial on the address:port and if the dial is accepted the connection is closed and thumbs up.  Certainly could be stronger.

[2018-04-26 15:53] jeremyrickard opened #1989 "Update documentation to replace minimum version mentions"
Do a scrub of the documentation to find any references to minimum version and make sure they are up to date.

[2018-04-26 16:39] teaguecole commented on #1989
Since this is relatively straight forward and I  fell victim to this, I am going to take this on too.

[2018-04-26 19:08] teaguecole commented on #1989
Closes #1989

[2018-04-26 20:37] ggriffiths commented on #1884
@MHBauer looks like this creates a circular dependency:
[code]

[2018-04-26 22:11] Bubblemelon commented on #1821
Thanks! Those commands worked 😃

However, `make test-unit` didn't. The same error `[bin/healthcheck] Error 2` was returned and the same code section hung.

[2018-04-26 23:09] Bubblemelon commented on #1821
Here are my changes: https://github.com/kubernetes-incubator/service-catalog/pull/1997

[2018-04-26 23:14] Bubblemelon commented on #1821
There are 3 commits with the same content because I was trying to change my commit message format to match with previous commits on the master.

[2018-04-27 00:19] carolynvs opened #1998 "Publish canary binaries for svcat from master"
Currently, the svcat binaries are only published to latest and the version tag on tagged builds. It would be helpful if we also published the canary binaries when master is built.

[2018-04-27 14:09] #1402 closed

[2018-04-27 15:14] MHBauer commented on #1998
I agree with the sentiment. We push canary imaages, so we should push binaries for the non-imagey type stuff as well.

[2018-04-27 15:15] MHBauer opened #2000 "dead link on docs front page"
first link on `svc-cat.io` 404's, goes here http://svc-cat.io/concepts/service-catalog

![screenshot from 2018-04-27 08-14-29](https://user-images.githubusercontent.com/13337345/39370178-2272ef18-49f3-11e8-82ed-5c54470bb655.png)

[2018-04-27 15:16] n3wscott commented on #1976
what does "left-pad" refer to?

[2018-04-27 15:16] n3wscott commented on #1976
what does "left-pad" refer to?

[2018-04-27 15:25] n3wscott commented on #1968
this is something I have been thinking about, I wonder if there would be a way to mark the secret as being made as a result of a binding and which binding that was, in the terse bug report here the assumption is the binding was named something generic and conflicted with an existing secret... But perhaps we could detect the overwriting case if we knew who created that secret initially.

[2018-04-27 15:26] n3wscott commented on #1987
Agreed with `map{colors: [red, blue]}`

[2018-04-27 18:18] kibbles-n-bytes opened #2001 "should defensively start orphan mitigating in certain situations"
If the spec changes in the middle of a provision, if we know we have sent a request already then we should defensively orphan mitigate before sending another request.

[2018-04-27 21:36] carolynvs commented on #2000
Thanks for the issue! I'll submit a PR in a minute to point that to the new introduction that was just merged.

[2018-04-28 00:07] MHBauer commented on #1884
@ggriffiths thanks for taking a look at this.

Needs a bigger refactor.

[2018-04-28 00:32] teaguecole commented on #1987
im going to take this one

[2018-04-28 00:58] #2000 closed

[2018-04-30 12:57] mszostok opened #2006 "ServiceCatalog floods brokers when provisioning is permanently not possible."
Hi all :)

_This is a nutshell of our issue:_
The flow of the ServiceInstance provisioning was changed after refactoring (https://github.com/kubernetes-incubator/service-catalog/pull/1886). Now the Service Catalog has infinite loop
[code]
it will do so until it finally succeeds.

_Details_

Scenario - Service Catalog version 0.1.3 - **correct flow**
1. The Service Catalog triggers provisioning of

[2018-04-30 15:59] #1960 closed

[2018-05-01 04:40] nilebox commented on #2006
Also, to clarify the scope of the issue: by "when provisioning is permanently not possible" in the title it is implied that platform should either treat any async provisioning failure as a permanent one, or be able to determine whether a failure is temporary or permanent.

Unfortunately, with OSB API v2 it is impossible for the platform (Service Catalog) to know whether the failure is temporary or

[2018-05-02 00:13] ash2k opened #2008 "API type names are not up to date"
https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/v1/api.md

[2018-05-02 00:15] ash2k commented on #2008
Page is missing `ClusterServiceClass`, `ClusterServiceBroker`, `ClusterServicePlan`.

[2018-05-02 06:37] dotchev opened #2009 "svcat does not support multiple files in $KUBECONFIG"
I work with multiple clusters. I have a separate config file for each cluster. I have listed them in $KUBECONFIG like this
[code]
This works with kubectl but not with svcat
[code]
If I set only one config file in $KUBECONFIG, it works
[code]

[2018-05-02 08:04] MHBauer commented on #2009
@jberkhahn is this something we have in svcat directly or provided by upstream kubectl library?

[2018-05-02 08:06] MHBauer commented on #2008
Other than an interesting historic point-in-time reference. I think that whole folder should go away.

[2018-05-02 22:43] jboyd01 opened #2012 "Catalog Admission Plugins are not enabled"
I discovered the E2E fails on default service plans after working on a PR that backs out some requirements to always require you specify a plan when creating an instance (see https://github.com/kubernetes-incubator/service-catalog/pull/2010)

I realized the default service plan admission controller wasn't working.  Turns out its all our admission controllers - they are not enabled.

from API Serve

[2018-05-02 23:14] nilebox commented on #2012
The `enabledPlugins` list does include "DefaultServicePlan", "ServiceBindingsLifecycle", "ServicePlanChangeValidator" and "BrokerAuthSarCheck".

This function is a port from
https://github.com/kubernetes/apiserver/blob/master/pkg/server/options/admission.go#L198-L215

Whoever picks this issue - take a look at the original code to find the difference.

[2018-05-03 14:19] #2012 closed

[2018-05-03 15:33] jboyd01 opened #2015 "E2E is broken by validations that enforce a plan is specified during provisioning"
Jenkins E2E was disabled in early October: https://github.com/kubernetes-incubator/service-catalog/pull/1333#issue-144823823 because of some sporadic failures we were encountering.  There is an issue to address that (#1586)

As I was investigating re-enabling E2E tests I found that  0d741d5fb05 introduced a regression that disallows the use of "default plans".  We used to be able to provision a se

[2018-05-03 16:07] jwmatthews opened #2017 "Allow user specified labels to be applied to k8s resources a Broker creates on behalf of a Provision call"
We'd like the ability for a User at time of provision to be able to pass in a list of labels to be applied to k8s resources a Broker creates during a provision call.

For background, this request was surfaced from work on the Template Service Broker.
Below is original Trello Card
https://trello.com/c/7upa8IX4

A simple approach of injecting a new parameter for labels was added to each of the templ

[2018-05-03 16:10] maleck13 commented on #2017
@jwmatthews We also discovered something similar. More info in the following issue
https://github.com/kubernetes-incubator/service-catalog/issues/1222
There is a proposal under way I believe

[2018-05-03 23:08] vin opened #2019 "`make svcat` fails (permissions / root ownership)"
`make svcat` on a fresh clone fails. It almost succeeds, but dies with:

[code]

This is because bin/svcat is created by root:root in the dockerized build:

[code]

[2018-05-07 08:52] mszostok commented on #2006
@nilebox Thank you for you reply. It helps a lot!

Now we know that this behaviour is by design. Previous comment was based on version 0.1.12, but now I can see that v0.1.17 is the newest one, so we will validate the new flow one more time. If we find the same problems, we will look into the code and report issue with the details.

PS. _Sorry for such late response but last week I was at conferenc

[2018-05-07 09:02] #2006 closed

[2018-05-08 03:41] kikisdeliveryservice commented on #1912
@carolynvs
So I looked into this issue and can confirm that the latest release of cobra has zsh completion.
Service catalog is currently using a version of spf13/cobra from July 22, 2016(https://github.com/kubernetes-incubator/service-catalog/blob/5c43dec9f1cb3966d2dc2e643511371d2458b858/Gopkg.lock) which is prior to the first release 0.0.1 in Oct 2017.  There is also a second release: 0.0.2 from

[2018-05-08 11:58] carolynvs commented on #1912
I am fine with bumping and adding the feature in the same PR.

[2018-05-08 16:43] kikisdeliveryservice commented on #1912
@carolynvs Will do. Should I bump to 0.0.1 or 0.0.2?

[2018-05-08 19:42] kikisdeliveryservice commented on #1912
Ok I'll try 0.0.2!

[2018-05-08 20:33] MHBauer commented on #2019
@vin do you want to use this to follow up and tackle https://github.com/kubernetes-incubator/service-catalog/pull/2020#pullrequestreview-118483675 as well?

[2018-05-09 10:50] polskikiel opened #2025 "Provide delay after performing orphan mitigation when Service Instance was failed"
Hello,
We wrote about our issue in #2006. It's about infinite loop when Service Instance provision fails, e.g. when some condition from our business logic wasn't fulfilled.

The loop looks like this:
[code]

In the issue #2006, @nilebox suggested using `reconciliation-retry-duration` flag, but it didn't help us.
It defines how much time does the Service Catalog have to ask for the last operation.

[2018-05-09 10:58] polskikiel commented on #2025
I'm using Service Catalog in version 0.2.17

[2018-05-10 14:54] maleck13 commented on #1222
@carolynvs how is the proposal coming along?

[2018-05-10 15:10] MHBauer commented on #706
when 0.1.18 or higher is released, this will be solved as we will have a scratch image with binary only.

[2018-05-10 15:17] MHBauer commented on #704
I think svcat can handle this in both standalone and kubectl plugin mode.

[2018-05-10 15:17] #704 closed

[2018-05-10 18:44] jboyd01 commented on #1586
fixed by PR #2018

[2018-05-10 18:44] #1586 closed

[2018-05-12 15:04] mrgleeco opened #2029 "advertise checksums of svcat downloads"
I can appreciate the convenience of downloading the CLI from https://download.svcat.sh/cli/latest

But really, what is in that 26MiB binary i just downloaded from this random URL?  Published sha checksums would be a simple step to make these warez feel more legit

ps - listing/linking each version is also quite helpful

[2018-05-13 23:42] nilebox commented on #1928
@ash2k can you give a more detailed example of such RBAC policy? e.g. yamls

I don't think in normal Kubernetes RBAC you can control access to particular fields. So it sounds more like a combination of some arbitrary Kubernetes RBAC + Service Catalog specific admission controller that enforces the check for ExternalID?

[2018-05-13 23:56] nilebox commented on #1968
@n3wscott We already set and check `ownerReference` for that: https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.15/pkg/controller/controller_binding.go#L454-L457

@codevulture do I understand correctly that you want to keep the non-conflicting Secret keys untouched instead of being erased? Otherwise overwriting the secret previously created by the same binding is by design. If ther

[2018-05-14 00:16] ash2k commented on #1928
@nilebox https://kubernetes.io/docs/admin/authorization/#review-your-request-attributes

Verb would be "set" or "create";
Resource would be "servicebindings" or "serviceinstances" (or singular form, not sure);
Subresource would be "externalID";

Basically service catalog could ask the authz api where the user is allowed to "set" a subresource called "externalID" for a resource "servicebindings" or

[2018-05-14 00:18] ash2k commented on #1928
Yes, it is going to be a built in admission controller in Service Catalog that calls the SubjectAccessReview api with the suff I described in the previous comment above.

[2018-05-14 00:28] nilebox commented on #1945
Currently any credential is transformed into `[]byte` first, and then we set Secret values via `Data map[string][]byte`, so internally Service Catalog already sets data as binary. It's Kubernetes Secret that encodes this binary data with base64:
https://github.com/kubernetes/api/blob/db88d6fb5927cf390f4d33133339a4fb0546399a/core/v1/types.go#L4634-L4639

So the real cause of double base64 encoding

[2018-05-14 03:33] codevulture commented on #1968
@nilebox : yes

[2018-05-14 03:42] nilebox commented on #1968
@codevulture ok, I renamed the issue to better reflect the feature request.

[2018-05-14 05:34] jianzhangbjz commented on #2025
@polskikiel Thank you for your report and suggestion. We also caught this problem. And, the version should be v0.1.17, right?

[2018-05-14 09:41] nilebox commented on #2025
Thanks for reporting @polskikiel, the behavior you described suggests that we have a bug in our code.

That's exactly how we agreed it to behave, I think.
@kibbles-n-bytes can you you confirm? Any ideas what causes this bug. From memory, it means that we confirm some stage of the queue key processing as successfully complete (and don't return the error in the result that would trigger exponential

[2018-05-14 10:53] polskikiel commented on #2025
@jianzhangbjz Yes, sorry I meant v0.1.17.

[2018-05-14 16:58] carolynvs opened #2030 "Add v1 api version"
To be clear we aren't ready for this _yet_. This is a placeholder task to go from v1beta1 -> v1 for our 1.0.0 milestone.

[2018-05-14 17:01] carolynvs opened #2031 "Generic Actions Support"
This is a placeholder issue for the 1.0.0 milestone. I need someone else to fill this in with how Generic Actions should work, link to a design doc, etc.

[2018-05-14 17:02] carolynvs opened #2032 "Generic Broker Actions Support"
This is a placeholder issue for the 1.0.0 milestone. I need someone else to fill this in with how Generic Broker Actions should work, link to a design doc, etc.

[2018-05-14 17:07] carolynvs commented on #1804
Closed by #1977

[2018-05-14 17:07] #1804 closed

[2018-05-14 17:22] carolynvs opened #2033 "cf marketplace equivalent command for svcat"
Right now the closest we have is `svcat get plans` (I'll update this with the output in a sec) which lists all available classes and plans. We need to consider if we can get this command closer to what marketplace shows, decide if it's enough, or add a porcelain command to supplement it.

[2018-05-14 17:49] pmorie commented on #250
I think we should close this issue - since we've established that ACL filtered list/watch is essentially not possible today.

I'm happy to leave it open if people want, but this isn't a feature we have a path to deliver in its original form.

[2018-05-14 17:50] n3wscott commented on #2031
woo!

[2018-05-14 17:50] n3wscott commented on #2032
yesss

[2018-05-14 18:11] kibbles-n-bytes commented on #2025
@nilebox Yes, that's the intended behavior, so we definitely have a bug. My guess is the successful OM is clearing the rate limiter for the instance queue, so there isn't a backoff when the provision retries, though I haven't looked at the code in a while.

[2018-05-14 22:01] nilebox commented on #2025
I agree, and the reason is that we treat 3 continuous stages of the reconciliation as part of one operation to meet OSB requirements, while normally in Kubernetes there are no stages?

[2018-05-15 05:01] nilebox opened #2035 "Enforce ExternalID uniqueness"
Service Catalog allows creating two `ServiceInstance` objects with explicit duplicate `ExternalID`. That doesn't seem right? Is there a way to enforce `ExternalID` uniqueness in Kubernetes?

We can at least have an index in the informer and have a check for duplicates in the beginning of reconciliation loop and fail fast if we detect an instance with `ExternalID`.

[2018-05-15 05:06] nilebox commented on #2035
If we don't address this issue, I see 2 potential problems:
1. We could have 2 `ServiceInstance` objects and one of them will be out of sync (i.e. race, last update wins)
2. Someone could deliberately create a `ServiceInstance` pointing to existing instance owned by the other user to mess with it. See #1928

[2018-05-15 11:59] duglin commented on #2035
Do we allow people to set that? If so, why?  But I agree,we should not allow dups.

[2018-05-15 16:27] carolynvs opened #2036 "reenable and debug test flake in test/integration/controller_instance_test.go:TestCreateServiceInstanceWithProvisionFailure"
I've seen our builds randomly fail on this test a few times for no discernable reason. If anyone has time to look into it, that would be incredibly helpful!

[code]

[2018-05-15 20:56] carolynvs commented on #2029
The downloads are served from a HTTPS only endpoint, and since the checksum would also be served from the same source, there isn't value to providing checksums beyond verifying that the file downloaded completely. If there were mirrors of our downloads, that would be a different matter.

I am closing this since I don't see the attack vector or value in providing the checksum, and don't intend on a

[2018-05-15 20:56] #2029 closed

[2018-05-15 21:20] jboyd01 commented on #2025
Trying to debug this, I made the instance status update and Orphan Mitigation code return a failure to the worker so it would requeue with a backoff.  I can see that logging as I'd expect.  But I still see a very tight loop with the worker constantly being invoked - there is no backoff between invocations.

The worker()  (https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/cont

[2018-05-15 21:55] nilebox commented on #2035
@duglin yes, `ExternalID` can be provided by the user. If it's not provided, Service Catalog will generate a new UUID.

Allowing user to provide `ExternalID` is useful for migrating an existing instance. I.e. it's a no-op from the OSB side, but Service Catalog will know about the existing instance that was provisioned some other way (e.g. via Cloud Foundry or the other instance of Service Catalog)

[2018-05-15 22:02] duglin commented on #2035
seems really risky to me since that now switches these fields from "some random uuid that really only matters to this svc-cat to get its job done", to "a uuid that could possibly have meaning outside of this svc-cat".  But ok...

[2018-05-15 23:52] nilebox commented on #2035
@duglin it could make sense to have a flag for enabling/disabling support for user-provided `ExternalID`? That actually could be useful for one-time migration onto Service Catalog with the flag enabled and then disabling it. That would work for us, interested to learn about other people's scenarios.

[2018-05-16 00:05] nilebox commented on #2035
Marking the issue with `1.0.0.` milestone, I think it's important enough to address before GA.

[2018-05-16 00:11] wryun commented on #2035
I think a flag makes sense. In normal use cases, Service Catalog should be the 'owner' (and sole authority) on the resource, and it's dangerous for the user to interact with the UUID. It would still be nice to prevent duplicates, though...

On the other hand, Service Catalog forbidding duplicates doesn't prevent all problems: if you have separate Service Catalogs referring to the same broker, they

[2018-05-16 00:16] wryun commented on #2035
Thinking a little more about this, maybe the default behaviour should be to use the kubernetes UID as the ExternalID. Then, if you flag on 'external control', ExternalID is a required field - and if they need it to be autogenerated in only some cases, they should have a MutatingAdmissionWebhook  (i.e. make it so there is a single spot that owns the UUID creation in either case - either Kube or the

[2018-05-16 00:17] duglin commented on #2035
In general how does Kube deal with migrations? Do people really use kubectl to do that and have to go thru all of the normal validity & rbac checks? Who would own all of the resources at that point? Or is migration more of an etcd migration/reload thing?  I would think a migration, backup/restore, type of thing would be more at the DB level.  Additionally, does Kube support migrations of just cert

[2018-05-16 00:26] wryun commented on #2035
In our case, we're migrating existing resources to Service Catalog on user request (i.e. it's a other -> SC, not SC -> SC). The actual migration time is driven by the user (it's not a bulk move), so it's easier to say 'just specify your existing UUID' than develop a separate process. Also, going through the front-door guarantees that we get valid records, as opposed to developing our own method of

[2018-05-16 12:58] shawn-hurley opened #2039 "Access to the service catalog types"
As a user of the service catalog, I would like to have access to the service catalog types in my go program without having to vendor in the entire service catalog

[2018-05-16 13:38] maleck13 commented on #2039
This would be really great. I have an issue open around this also https://github.com/kubernetes-incubator/service-catalog/issues/1367

I wonder if a proposal to break out the client into a separate package would help move this further?

[2018-05-16 13:42] maleck13 commented on #1367
Would a proposal for this be a way forward? Happy to take this on

[2018-05-16 16:51] carolynvs commented on #1367
Using dep, I was able to write a third party app that used service catalog's client, and not end up pulling in all of the rest of their code too.

**Gopkg.toml**
[code]

It works just like the regular k8s client. I'd like to see this better documented but I don't believe we need a proposal or anything. @maleck13 Would you be interested in writing a new page for our docs that explains how to import

[2018-05-16 16:53] carolynvs commented on #2039
@shawn-hurley See my comment on the other issue for an example of how to vendor just the client types that you need:

https://github.com/kubernetes-incubator/service-catalog/issues/1367#issuecomment-389589332

Basically dep will keep in vendor only the packages that you are using (like our typed client) and will prune the other stuff in the service catalog repo.

Let me know if that works for you.

[2018-05-16 17:03] maleck13 commented on #1367
@carolynvs awesome this is great. I would be happy to contribute a docs update for this!

[2018-05-16 18:56] carolynvs commented on #1367
@maleck13 Sweet! Let me know if you have any questions, otherwise feel free to open a WIP PR and we can collaborate there. Feel free to ping me on the k8s slack if that helps.

[2018-05-16 19:44] MHBauer commented on #2039
I like `dep`, but I think eventually we might need to do a repo split.

[2018-05-16 19:45] MHBauer commented on #2039
Maybe we do syncs when we do a tagged push?

[2018-05-16 19:55] carolynvs commented on #2039
Ah, you are suggesting a mirrored repo just for the client. I didn't quite understand that when I read through it the first time. 😀

[2018-05-16 20:13] jboyd01 commented on #1973
still seeing this issue

[2018-05-16 21:50] jboyd01 commented on #2025
@kibbles-n-bytes that definitely helps - I actually now see some exponential backoff.  By the time we get to max requeues (15), we have a 40 second delay.  It feels like we could stand to take a 2nd look at the starting delay factor - its really small at 5 milliseconds with a max repeat of only 15.

Eventually we hit max retries so the worker doesn't requeue and does a queue.Forget().  But a watch

[2018-05-17 14:31] #1940 closed

[2018-05-17 17:56] carolynvs commented on #1677
Our docs are hosted at https://svc-cat.io

[2018-05-17 17:56] #1677 closed

[2018-05-17 21:56] kibbles-n-bytes commented on #2025
Hah! That's funny, but makes total sense. It's an unfortunate consequence of having two separate areas where we're dealing with queuing.

What is our desired behavior, and what matches other Kubernetes resource backoffs? The way it was intended, we were supposed to retry with backoff, until when we hit the maxRetries, where we stop. And then on the next watch sync, we would restart the retry loop

[2018-05-17 22:43] kikisdeliveryservice opened #2046 "svc-cat.io edit & view buttons give 404"
I noticed that on the svc-cat.io pages clicking on the edit and view buttons (see image below for specific buttons) redirect improperly to github and give 404s.

<img width="488" alt="screen shot 2018-05-17 at 3 38 16 pm" src="https://user-images.githubusercontent.com/6187843/40207358-f442b05a-59e8-11e8-8452-a869e57a78c5.png">

[2018-05-18 01:50] carolynvs commented on #1810
#dibs

[2018-05-18 15:05] carolynvs opened #2051 "Don't show empty parameters"
When an instance's parameters are empty, but not nil, svcat is currently printing it out with `{}`. It would be better if we could detect that it's empty and not display the parameters.

**Current Output**
[code]

**Desired Output**
[code]

The code responsible for writing the parameters is found here:

https://github.com/kubernetes-incubator/service-catalog/blob/30be2f447d5abaa1f24891b2ff226d270b

[2018-05-18 15:12] carolynvs commented on #1982
Thanks for the repro steps, I was able to use them and see the same bug.

[2018-05-18 15:49] carolynvs commented on #1807
Here is my suggestion for the cli syntax to match how kubectl and svcat work for other commands

[code]

* `--cluster` specifies that the broker is created at the cluster level. Otherwise the namespace flag's value is used. `--namespace` is ignored if `--cluster` is set.
* `--secret-basic` and `--secret-bearer` are mutually exclusive.
* `--skip-tls` is a boolean and should have a message stating t

[2018-05-18 15:54] #1912 closed

[2018-05-18 16:09] carolynvs commented on #1728
Ideally the server would be responsible for adding a condition called "DeletionPending" or something like that, but short term I'd like to see anything that helps users understand what's going on.

[2018-05-18 17:01] pmorie commented on #1928
Just want to note that this is something that will likely require attention if we try to ditch the API server

cc @n3wscott

[2018-05-18 17:13] carolynvs commented on #1986
Looks like this filter functionality may already exist on the API: https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/v1beta1/conversion.go. 🤦‍♀️

We'll test out that theory and close if it turns out nothing more needs to be done on the server side.

[2018-05-18 19:36] carolynvs commented on #2051
@artmello It's all yours! 👍

Let me know if you have any questions.

[2018-05-18 19:58] #2046 closed

[2018-05-19 04:13] nilebox commented on #1928
@pmorie we could use mutating admission webhook for CRD (if we  switch from API server to CRD) as noted in https://github.com/kubernetes-incubator/service-catalog/issues/2035#issuecomment-389354794

[2018-05-21 14:25] n3wscott commented on #2051
I would rather see this in the output:
[code]

[2018-05-21 14:28] n3wscott commented on #2051
In the JSON output, I would expect the parameters to continue to be `{}`, what is the plan there?

[2018-05-21 14:39] artmello commented on #2051
@n3wscott as I implemented on the PR, in the JSON output, empty is not displaying anything for Parameters. Also, when no data is available for Parameters, it is not displaying anything, instead of the "No parameters defined" as suggested. I can update the PR with any new decision.

[2018-05-21 16:25] carolynvs opened #2059 "Plan and document how to migrate clusters to some form of CRD"
Once we've figured out how to move forward towards CRDs, see https://github.com/kubernetes-incubator/service-catalog/issues/1088 and https://github.com/kubernetes-incubator/service-catalog/issues/987, we must plan and document how to migrate v1beta1 clusters to whatever we end up with.

[2018-05-21 16:28] #250 closed

[2018-05-21 17:04] carolynvs opened #2060 "Add controller reference to service classes and plans managed by service catalog"
In preparation for [user defined classes and plans](https://github.com/carolynvs/service-catalog/blob/default-service-plan-proposal/docs/proposals/default-service-plans.md#user-defined-plans), we need to track the origin of a class and plan so that we can differentiate between those created by a user, and those that are managed by service catalog.

When a class or plan is created or updated by Ser

[2018-05-21 22:43] teaguecole commented on #2036
For PR #2055, After pushing commit 447debe, I ran in to this issue.

[2018-05-21 22:48] MHBauer opened #2061 "we should provide a service-catalog-operator (Cluster)Role for users"
Right now we provide roles for the running of apiserver and controller-manager and their access to the resources, but not for any users of the resources that are created. This somewhat presumes that anyone touching service-catalog resources has super-user access like `ClusterRole cluster-admin`.

We should provide an additional role as appropriate for people to access the service-catalog resources

[2018-05-22 00:01] pmorie commented on #2061
Good idea

On Mon, May 21, 2018 at 6:48 PM Morgan Bauer <notifications@github.com>
wrote:

[2018-05-22 09:42] luksa commented on #1906
I'm closing this, because updating parameters should be allowed even if PlanUpdatable is false. I've submitted a PR that fixes the spec: https://github.com/openservicebrokerapi/servicebroker/pull/519

[2018-05-22 09:42] #1906 closed

[2018-05-22 13:10] jboyd01 opened #2062 "Travis build - why's it take so long? Can we fix the timeouts?"
This was brought up in the May 21st SIG meeting:  Travis job keeps timing out on various PRs.  Why?  Where is all the time being spent?  What can we do to improve it?  Jay took the action item to gather some basic info on where time is being spent.

Morgan provided some ideas for improvements:
1.  https://github.com/kubernetes-incubator/service-catalog/pull/2034 should help reduce overall time of

[2018-05-22 14:08] n3wscott commented on #2051
@artmello I think you implemented the issue as written, I am not questioning your work, I am questioning the original issue. looks at @carolynvs 👀

[2018-05-22 14:16] artmello commented on #2051
@n3wscott Yep, I understood that :). Just wanted to say that I am fine to updating the PR with any desired approach

[2018-05-22 17:30] carolynvs commented on #2051
I like @n3wscott 's suggestion, let's go with that! 👍

[2018-05-22 18:51] carolynvs commented on #2061
For a second I thought you were proposing that we write an operator (like etcd-operator) to make it easier to install and manage namespaces service brokers or something and was like 🤔 ...

Less privileged RBAC roles is just what we need. 👍

[2018-05-22 19:32] MHBauer commented on #2062
for 3, I think ginkgo might have a feature able to help.

[2018-05-23 06:51] ash2k commented on #2025
I've just observed this issue with one of our failing ServiceInstance. SC retries without backoff.

[2018-05-23 13:09] jboyd01 commented on #2025
@ash2k was this failure on synchronous provisioning?  If not, any additional details would be great.

[2018-05-23 14:48] luksa opened #2063 "Multiple ServiceInstance conditions with the same reason & message"
Did we really intend to have a resource have multiple conditions with the same reason and message (but different type), such as in this case:
[code]

This might look confusing and unnecessary to the average user.

Note that `svcat` only prints the last condition in the array (it prints its type if the condition is true, otherwise it prints the reason). Not sure how safe that is when there are mult

[2018-05-23 16:02] jboyd01 commented on #2025
I see that when this issue is run with **synchronous** provisioning & deprovisioning with provisioning made to always fails, we actually invoke the provision call twice in a row and then the orphan mitigation twice in a row.

<details><summary>log details</summary>
<p>

[code]

</p>
</details>

[2018-05-23 16:41] #1973 closed

[2018-05-23 19:02] jboyd01 commented on #2025
proposed quick term fix:  enforce a delay of X between retry attempts provisioning an instance.  X defaults to 10 minutes, but can be over ridden with a controller parameter if customers have concerns about their brokers being hit too much.

@pmorie and I have discussed, I've got the basics working.  @kibbles-n-bytes does this sound ok to you for a short term solution?  Keeps us from pounding brok

[2018-05-23 20:16] #2051 closed

[2018-05-23 21:37] nilebox commented on #1942
I agree with @pmorie that this is a strange feature. If Broker can't delete the resource, or got stuck, it's broker's problem. There is no way back, and there is no guarantee that you can just pretend that you never tried to delete resources - Broker might have already deleted some data.

Also, what about cascade deletion? We use `ownerReference` to build a dependency graph. When user sends a dele

[2018-05-23 22:02] nilebox commented on #1942
I can think of safe "undelete" under certain conditions:
- User can set "delete" flag, but cannot reset it
- Only when Service Catalog receives 4xx for the initial deprovision request, it can reset the "delete" flag. This would be weird to change the spec for the user, but I don't see a safe alternative.

If we limit the scope for delete flag like this, it could be tolerable. But I'm still concern

[2018-05-23 23:45] ash2k commented on #1942
@duglin Could you elaborate what "rejects" means? Is it because of some sort of authorization? If so, the problem is that that authorization happens after the sate, desired by the user, has been persisted in the api server. It needs to happen BEFORE state is persisted. Kubernetes provides a mechanism to do that - admission hooks. What is the reason it cannot be used?

The "Authn -> Authz -> State

[2018-05-24 00:49] MHBauer commented on #1942
https://github.com/kubernetes-incubator/service-catalog/issues/1942#issuecomment-391504929

In this case the broker won't have done anything. Kube is stuck in deleting even though it should not be deleted.

Should not be in effect here until the controller issues the actual DELETE, at which point everything should occur as normal.

https://github.com/kubernetes-incubator/service-catalog/issues/194

[2018-05-24 10:55] luksa opened #2066 "Finalizer not cleared (no backoff endless loop)"
I just got the controller into a state where it continually tries to clear the finalizer:
[code]

I'll try to find out what's going on. Submitting issue just so I don't forget.

[2018-05-24 10:57] luksa commented on #2066
When I restarted the controller (wanted to increase the log level), it was able to clear the finalizer in the first go.

[2018-05-24 11:00] luksa opened #2067 "Confirm that last operation is sent in deprovision poll requests"
The ansible service broker is reporting the following:
[code]

I'm not sure if the broker returned the operation in the deprovision request.

[2018-05-24 11:14] luksa commented on #2066
I thnk I know what's going on. The clue is in these three lines:
[code]

The first request is getting back a 409 Conflict (though this isn't logged at the configured log level). Then the `controller_instance.updateServiceInstanceStatus()` method fetches a fresh instance of the `ServiceInstance` and updates the `status` on it, but doesn't remove the finalizer (the calling method did that the first

[2018-05-24 13:38] nilebox commented on #1942
Can you think of any real situation where this might happen, assuming that Service Catalog has no bugs, and OSB broker is implemented correctly according to the spec? Service Catalog just sends `instance_id` (along with `service_id` and `plan_id`), what can possibly be incorrect in this request? If a deprovision request fails with `400`, to me it's a sign of either a bug in OSB broker, or some unk

[2018-05-24 14:09] nikhita commented on #1829
I'd like to work on this if noone else is! :)

[2018-05-24 14:47] jessfraz opened #2068 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 15:11] carolynvs commented on #1829
@nikhita  How did I know that you would pick an interesting first issue? 😉 It's all yours! 💖

[2018-05-24 15:29] nikhita commented on #1197
I'm just starting to contribute to service catalog and I would like to help out on this! :)

However, I just created a PR to support object count quota for resources created via aggregated apiservers (and CRDs) upstream - https://github.com/kubernetes/kubernetes/pull/64201. So I wanted to double check if it made sense to create a quota controller for this now?

From the above, I understand that qu

[2018-05-24 19:09] MHBauer commented on #1942
https://github.com/kubernetes-incubator/service-catalog/issues/1942#issuecomment-391717768

Yes, I think this is the concept. The appropriate user should barely know that someone unauthorized was poking at their stuff.

I do not understand where this case is coming from.

[2018-05-24 21:52] nilebox commented on #1942
This is not how Kubernetes works. Once the spec is updated ("desired state"), it stays the same and Kubernetes never rolls it back, even if it fails to make it happen (make "actual state"  match the "desired state") after many retries. It just gets stuck with the failed status.

Kubernetes can only reject the delete request on the fly, before it persists the changes - during authz and other valida

[2018-05-25 00:06] nilebox commented on #1942
I am just trying to understand the scope of this change. From the issue description:

I wasn't at the F2F and there are no implementation/behavior details. Looks like there is actually no agreement on that yet? The design spec in #2037 is very different from what the issue says.

[2018-05-25 00:30] nilebox commented on #1942
@kibbles-n-bytes after reading your comments about declarative `existsExternally` flag I agree that it's more tolerable than what #2037 says with `deletionRequested` flag and controller automatically deleting instance after successful deprovisioning. I would prefer to have an opposite flag though - that is `false` by default. Something like the `paused` deployment flag you mentioned. This would ma

[2018-05-25 01:32] nilebox commented on #1942
Another argument for the flag being `false` by default is backward compatibility. You cannot bring a new flag that is `true` by default - all the existing instances don't have this field.

[2018-05-25 01:48] nilebox commented on #1942
Another thing to think about: even after adding a new flag user can still issue `kubectl delete serviceinstance ...` and you'll end up in the same situation as now.

To mitigate this you would have to implement an admission controller that rejects `DELETE` request if the `ServiceInstance` hasn't reconciled yet **or** `ProvisionStatus != NotProvisioned` **or** `DeprovisionStatus != NotRequired`, i.

[2018-05-25 05:55] MHBauer commented on #1942
It is impossible for kube to know that it shouldn't allow the delete to be persisted before contacting the broker and attempting a delete.

We can prevent this with RBAC rules for the actual user. This is as yet unimplemented and should be implemented by https://github.com/kubernetes-incubator/service-catalog/issues/2061

Yes. I made this suggestion during the F2F, among others. The delete flag wa

[2018-05-25 06:10] nilebox commented on #2061
To clarify: this is just a "default RBAC setup" as part of the helm chart, correct?

No? It just presumes that the admin user with `cluster-admin` permissions will need to manually create a role and binding for the unpriviliged users.
We don't use Service Catalog helm charts at all, for example, and create our own roles with minimal necessary permissions via our own automation tooling.

[2018-05-25 06:10] nilebox commented on #1942
No you can't if the design is how @kibbles-n-bytes described it (that is different from how it's written in #2037) - user still needs to manually delete `ServiceInstance` after deprovisioning succeeded. As I said above, I prefer @kibbles-n-bytes's design with the declarative flag that controls provisioning/deprovisioning separately from creation/deletion (i.e. user can set and unset the flag at an

[2018-05-25 11:18] duglin commented on #1942
If we solve this via some new flag then we don't need to do anything special, like set a feature flag. If people want to use the normal delete flow then they will and it should just work. If they want to use the flag, then they will, and it'll just work. The opt-in is the explicit use of one of those two mechanisms.  However, blocking the normal kube delete is something that I agree will need some

[2018-05-25 22:38] MHBauer commented on #1942
https://github.com/kubernetes-incubator/service-catalog/issues/1942#issuecomment-391914626
Does not apimachinery defaults or versioning handle this?

[2018-05-25 22:43] nilebox commented on #1942
@mhbauer no, defaults apply only to new objects. Versioning - yes, if you support multiple versions, i.e. you will have to declare `v2` and duplicate all the types. Currently we only support one version at a time and keep it backward compatible.

[2018-05-25 22:49] MHBauer opened #2073 "on travis, apt update disabled, do we to handle?"
I've started seeing the following message at the start of travis builds. I do not know if we need to do anything. Since we run everything in docker and do no apt installs in the base travis, I do not think there is any work here.

[code]

[2018-05-25 23:06] MHBauer commented on #1942
v1beta2?

We cannot possibly be the first person to want to add a field with a non
go default state.

On 5/25/18 15:43:47, Nail Islamov wrote:

[2018-05-26 03:19] nilebox commented on #1942
@kibbles-n-bytes what happens to existing bindings if we mark an instance with `existsExternally = false`? Currently deprovisioning gets blocked by existing bindings. Do you also want to add `existsExternally` to bindings? Can you proceed with deprovisioning if binding exists but is marked with `existsExternally: false`?
Our code could get very messy and entangled with such corner cases.

[2018-05-29 14:28] luksa opened #2076 "The Instance & Binding controllers needs to be redesigned"
There are a bunch of problems with how the controller is currently implemented:

When the reconcile method encounters an error, it updates the object's status and then returns an error. The worker method then immediately re-runs the reconcile method, but the updated object still hasn't made it into the object cache. The reconcile method thus uses the same (old) state of the object again - obviousl

[2018-05-29 19:42] MHBauer commented on #1942
https://github.com/kubernetes-incubator/service-catalog/issues/1942#issuecomment-392232135

Both Instances and Bindings need this behavior, so both should get the new field.

[2018-05-29 22:38] MHBauer commented on #2061
https://github.com/kubernetes-incubator/service-catalog/issues/2061#issuecomment-391101506

Yes.

https://github.com/kubernetes-incubator/service-catalog/issues/2061#issuecomment-391952044

That's the same thing. Cluster-admin accessing or providing access. We don't currently have a role for an admin to provide access.

Your roles if you could share them could be a good starting point for this iss

[2018-05-29 22:43] nilebox commented on #1942
AFAIK bindings still lack the retry loop that I added to instances, i.e. reconciliation loop gets stuck after any error HTTP status received from the broker. This should be fixed first before adding this behavior IMO.

[2018-05-29 23:02] MHBauer commented on #2062
2 might need some of https://docs.travis-ci.com/user/build-stages/#Sharing-a-Docker-image

[2018-05-30 02:38] zihantang-rh commented on #2063
It's reasonable and usefull to add one more `important` conditions, such as `provisionSucceed` ,`updateInstanceSucceed` etc.
But it's very confusing to add the 1 more conditions for the same `Message` and `Reason`,  it looks more like a bug to users.

[2018-05-30 12:11] anderssoder opened #2081 "apiVersion not set when deploying on Kubernetes 1.10.1"
Hi,

I've tried to install service catalog but got stuck because it fails with: "Kubectl apply failed. Error: error: error validating \"/tmp/app-template493729124\": error validating data: apiVersion not set; if you choose to ignore these errors, turn validation off with --validate=false\n: exit status 1"

Catalog template version 0.1.20
Kubernetes 1.10.1
Deployed through Rancher 2 using Helm (fro

[2018-05-30 21:17] nivedhan-murugavel commented on #1632
@witlessbird I am facing the same issue. how did you resolve it?

[2018-05-30 22:52] MHBauer commented on #2081
@anderssoder can you run `kubectl api-versions` to confirm which APIs exist?

It would be very surprising to me if it the beta API was gone.

[2018-05-31 06:30] anderssoder commented on #2081
@MHBauer Here's the output:

    admissionregistration.k8s.io/v1beta1
    apiextensions.k8s.io/v1beta1
    apiregistration.k8s.io/v1
    apiregistration.k8s.io/v1beta1
    apps/v1
    apps/v1beta1
    apps/v1beta2
    authentication.k8s.io/v1
    authentication.k8s.io/v1beta1
    authorization.k8s.io/v1
    authorization.k8s.io/v1beta1
    autoscaling/v1
    autoscaling/v2beta1
    batch/v1
    ba

[2018-05-31 16:15] carolynvs opened #2085 "Migrate site to hugo"
When I originally copied the k8s site as a base for ours, they were using Jekyll. Since then they have moved to Hugo. I vote that we should follow their lead since our site is 99.99% copied from theirs, so if we stay in sync, we can get fixes/improvements more easily. Also none of us know ruby/Jekyll.

[2018-05-31 16:17] carolynvs opened #2086 "Split doc site build into separate travis job"
This will help us avoid build timeouts by moving unrelated tasks into separate jobs (which each get 50 min max). Also when the site fails, it's easier to tell that it's not "a real error". 😂

[2018-05-31 16:17] carolynvs commented on #2062
I've created two issues for the doc site:
* #2085 - Move to Hugo
* #2086 - Split out doc site build into separate travis job

[2018-06-01 02:55] MHBauer commented on #2036
Slightly different test failure on #2087
[code]

[2018-06-01 12:07] derberg opened #2088 "What is catalog's approach for validation against OSB API"
Hey, I have a generic inquiry to Service Catalog approach for validation of objects delivered by Service Brokers.

Imagine situation. I register a service broker in catalog. Question is, who owns the validation?
* Do you expect the broker owner is responsible for validation against OSB API
* Are you making sure Service Catalog does it?
* Should I (as a cluster owner and person that installed catal

[2018-06-04 18:12] jboyd01 opened #2092 "Make svcat version command more like kubectl version"
Make `svcat version` more in line with `kubectl version` by always reporting the client version.

Presently svcat reports the following for version info when Kubernetes isn't running:
[code]

vs kubectl

[code]

[2018-06-04 18:30] MHBauer commented on #2081
Wrote a comment and forgot to post it, sorry.

I see the correct API in your output, so I do not think your proposed problem is the case here.

Nonetheless, we should add explicit support to the helm chart for the stable version of the API.

[2018-06-04 20:34] MHBauer commented on #2061
@jboyd01 I think it would be good to get a gist or google doc for us to collaborate in on the contents of these user-type rbac rules.

[2018-06-05 00:15] dmetzler commented on #1641
It seems that the same kind of problem appears for instance when an APB is updated and bindable property changes. Then the bindable property is not updated accordingly.

[2018-06-05 02:29] gaurav-nelson opened #2093 "v0.1.21 release failed"
Link to the latest release on https://github.com/kubernetes-incubator/service-catalog/releases for version `0.1.21` is broken
[code]

Previous version is working fine:
[code]

[2018-06-05 14:03] #1998 closed

[2018-06-05 14:20] carolynvs commented on #2093
Thanks for pointing this out! The build for the v0.1.21 tag actually failed last week. I am looking into that now.

[2018-06-05 14:29] carolynvs commented on #2092
To be clear, `svcat version` _always_ returns the client version, and the `--client` flag allows us to query the client version only, in instances where perhaps there isn't a configured cluster yet.

The problem is that when we fail to query the server version, svcat exits immediately before the client version is also printed.

The code that needs to be changed is in the version command

https://g

[2018-06-05 14:42] carolynvs commented on #2092
I thought that this would be a good first PR initially, but since the tests don't exist yet this may be easier for someone already familiar with writing tests in service catalog, or a very enterprising new contributor! 😀

[2018-06-05 14:47] carolynvs commented on #2093
@MHBauer I have restarted the v0.1.21 build because there was a problem with the build (hopefully transient?). We'll see soon

<details>
<summary>View logs</summary>
[code]
</details>

[2018-06-05 15:54] carolynvs commented on #2093
The release builds are failing when building s390x images:

https://travis-ci.org/kubernetes-incubator/service-catalog/jobs/386486938#L1664

[code]

[2018-06-05 19:19] jboyd01 commented on #2076
Issue #2065 adds a new backoff for provisioning and updating instances and doing a retry after a failure.  Both should now do a exponential backoff vs a tight loop retrying provisions or updates.   This should be a temp fix, we need to address the underlying issues.  Additionally, if a broker runs into a problem doing deprovisioning we'll go into a tight loop constantly retrying.

These same issue

[2018-06-05 19:49] snehahegde7 opened #2097 "Require force delete option to cleanup the orphan/bad service instances or service bindings in case of broker or user errors."
In some cases due to broker errors like not cleaning out persistent volume or any other errors etc, deregistering the those brokers would result in orphan service instances and service bindings.
It would be great if we have force delete option to clean the orphan service instances or service bindings or any bad ones which are hard to clean.

[2018-06-05 20:42] carolynvs commented on #1723
I wrote an example plugin for kubecon that implements deleting finalizers off of a pod, which may help explain what this new svcat would need to do:

https://github.com/carolynvs/kubectl-kill-plugin

[2018-06-05 20:42] MHBauer commented on #1723
https://github.com/kubernetes-incubator/service-catalog/issues/1723#issuecomment-390260270
@carolynvs I think that ux looks acceptable. I like the warning. It may need a `-y` flag or otherwise a way to operate it non-interactively.
@jberkhahn WDYT?

[2018-06-05 20:44] carolynvs commented on #1723
On one hand, I think scripting this is going to end badly for someone. On the other, I ain't their momma, so why not? +1 for `-y`

[2018-06-05 20:49] carolynvs commented on #2068
Keeping this open until we have at least one contact in it 😀

[2018-06-05 20:50] carolynvs commented on #2068
I've added this to our agenda next week to select a victim ^H^H^H^H volunteer.

[2018-06-05 21:01] MHBauer commented on #1551
@kibbles-n-bytes is this the same as #1723 ?

[2018-06-06 01:07] nilebox commented on #2076
@luksa in general I agree, but IIRC it was @kibbles-n-bytes's idea to return error in processing to prevent controller from resetting the rate limited for this instance as part of #2065
1143.

I think it's this block: https://github.com/kubernetes-incubator/service-catalog/blob/3837abf27fe5d9b090a7d530a81d6cebc634a79e/pkg/controller/controller.go#L357-L363

As I said, I agree that returning error

[2018-06-06 01:30] carolynvs commented on #2093
@gaurav-nelson The release has finally built successfully. I am going to close this since the links from the release notes are all working. Please reply back if you still are having trouble with it, and thank you again for letting us know about the problem!

[2018-06-06 01:30] #2093 closed

[2018-06-06 01:34] carolynvs commented on #2097
@snehahegde7 We have an open issue to add new flags to some of the svcat commands to help clean up messed up instances and bindings. I am going to close this in favor of https://github.com/kubernetes-incubator/service-catalog/issues/1723#issuecomment-390260270. Take a look and hopefully that is what you are suggesting? If I misunderstood, please let me know and we can reopen your issue!

[2018-06-06 01:34] #2097 closed

[2018-06-06 01:36] carolynvs commented on #2073
I don't think any changes are required for this due to how we run everything in our own build image. It's just a friendly message in the travis logs to help people out.

[2018-06-06 02:18] gaurav-nelson commented on #2093
Thank you @carolynvs @MHBauer for fixing this. It is working now.

[2018-06-06 02:29] nivedhan-murugavel commented on #1867
@kyhwsk Did you find the solution for this issue?

[2018-06-07 00:46] MHBauer commented on #2036
from #2099
[code]
[code]

[2018-06-07 12:55] carolynvs commented on #1551
Yes this is the same problem. --force doesn't remove the finalizer so it will still hang around until you edit the resource to remove that. Closing in favor of the solution outlined in https://github.com/kubernetes-incubator/service-catalog/issues/1723#issuecomment-390260270

[2018-06-07 12:55] #1551 closed

[2018-06-07 23:13] MHBauer commented on #800
@duglin @arschles
Here is where we send ID in context: https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.21/pkg/controller/controller_instance.go#L1500
This is where we would need to set the orgID: https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.21/pkg/controller/controller_instance.go#L1519

[2018-06-07 23:41] MHBauer commented on #750
I think this is handled now by this owner reference on the created secret. https://github.com/kubernetes-incubator/service-catalog/blob/v0.1.21/pkg/controller/controller_binding.go#L479-L481

[2018-06-07 23:41] #750 closed

[2018-06-07 23:57] MHBauer commented on #1324
For integration and e2e, we pass the `t *testing.T` into the framework, so maybe setting a timer goroutine on t.Fatalf would work. I think the ones involving the framework are probably most likely to take long enough to need a timeout.

There doesn't seem to be a built-in way to add a timeout to a test. We'd have to write a `timeoutFailer` and added it to all the tests.

[2018-06-08 00:03] MHBauer commented on #1200
@eriknelson has #dibs on impl with lots of PRs merged and in-progress

[2018-06-08 00:04] MHBauer commented on #1198
ServiceInstanceCredential -> ServiceBinding

[2018-06-08 00:15] MHBauer commented on #706
using scratch for image now https://github.com/kubernetes-incubator/service-catalog/releases/tag/v0.1.18 shows "unsupported" for scanning result.

[2018-06-08 00:15] #706 closed

[2018-06-08 00:27] MHBauer commented on #711
@duglin I do not know how to test this.