[2019-04-24 17:32] #806 closed

[2019-04-24 19:02] MHBauer commented on #2199
/close

[2019-04-24 19:02] #2199 closed

[2019-04-25 21:45] jberkhahn commented on #2344
still might do this at some point

[2019-04-26 17:38] jberkhahn commented on #2371
this is currently under active work

[2019-05-02 00:07] jberkhahn commented on #2357
taking this off the namespaced resources milestone as this is no longer a priority

[2019-05-02 21:46] MHBauer commented on #2616
client-go versions are different from kubernetes versions.

See https://github.com/kubernetes/client-go#compatibility-matrix
and note that client-go 11.0 is for kubernetes 1.14

[2019-05-02 21:46] #2616 closed

[2019-05-03 16:39] #2327 closed

[2019-05-03 20:40] dewnull opened #2619 "Service Catalog API server pod failed"
# Bug Report

**What happened**:
The Service Catalog on AKS was working okay until yesterday when the API Server failed to connect to etcd.
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.11.7
- service-catalog version: used Helm chart `c

[2019-05-06 22:02] hev commented on #2535
I had mis-interpreted the instructions and have since figure this out. Closing this item.

[2019-05-06 22:02] #2535 closed

[2019-05-06 23:43] #2593 closed

[2019-05-07 15:17] Vikash082 commented on #2120
I am facing similar issue but not AWS. I am running the cluster in VM. What is the resolution for this ?

I am getting error, while accessing this:

$ kubectl get rolebinding servicecatalog.k8s.io:apiserver-authentication-reader -n kube-system -o yaml
Error from server (NotFound): rolebindings.rbac.authorization.k8s.io "servicecatalog.k8s.io:apiserver-authentication-reader" not found

[2019-05-07 19:15] MHBauer commented on #2229
/lifecycle frozen
/remove-lifecycle stale

[2019-05-08 22:10] jberkhahn commented on #1434
closing this. With CRDs on the way I don't think this is worth the effort.

[2019-05-08 22:10] #1434 closed

[2019-05-08 22:29] jberkhahn commented on #1634
It seems this happened?

[2019-05-08 22:29] #1634 closed

[2019-05-09 17:22] #2268 closed

[2019-05-09 19:39] dewnull commented on #2619
The issue was related to etcd itsef reference https://github.com/kubernetes-incubator/service-catalog/issues/2521

[2019-05-09 19:39] #2619 closed

[2019-05-10 22:08] #2371 closed

[2019-05-14 16:59] jberkhahn commented on #1797
this is done

[2019-05-14 16:59] #1797 closed

[2019-05-14 16:59] jberkhahn commented on #1798
this is still in the works

[2019-05-14 17:00] jberkhahn commented on #2332
think we're happy with the for now

[2019-05-14 17:00] #2332 closed

[2019-05-16 12:38] jasiu001 opened #2625 "[Question] What determines the length of waiting for removal ServiceInstance with 'OrphanMitigation' condition"
**Use case**
I try to add new ServiceInstance to kubernetes, provisioning process will fail because ServiceBroker doesn't work properly.
ServiceInstance receives a state: type `failed`, status: `true`, reason: `ProvisionCallFailed` and ServiceCatalog tries deprovision it.
It receives `OrphanMitigation` condition type. After a certain unspecified time ServiceInstance will be removed.

**Details**
I

[2019-05-17 14:14] obeyler opened #2626 "service catalog api crash"
# Bug Report

**What happened**:
service catalog api always crash
the last log of the container is :

 `Error: open /tmp/client-ca-file502348919: permission denied`

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
just install

**Anything else we need to know?**:
I use etcd server in the master with tls activated
PodSecurityPolicy admission is ac

[2019-05-22 14:41] jberkhahn opened #2632 "Cleanup CI/CD"
- use only prow
- run e2e tests in pipeline
- build out e2e tests to be a complete reflexive test of a running catalog
- add upgrade test to pipeline
- migrate all resources used in the the pipeline to somewhere controllable/accessible by current SIG members (e.g. where the CLI binaries are hosted, there might be others)

[2019-05-22 14:49] jberkhahn opened #2633 "Switch from api-server to CRDs approach"
Description

When the Service Catalog project was started, Kubernetes didn’t have the concept of Custom Resource Definitions (CRDs), which is a way to extend the Kubernetes API without having to write your own API server.

The Service Catalog, instead, implements an aggregated API server, which requires writing an API server from scratch and maintaining its code. Using CRDs would allow the Service

[2019-05-22 14:55] jberkhahn opened #2634 "Provide Migration Path for Apiserver -> CRDs"
**Description**

We need to create a migration guide/scripts which will allow clients to do easily migraton from api-server to CRD approach.

**Raw scenario**
- **pre-upgrade hook**
  - replace the api-server deployment with the api-server that has a read-only mode
  - backup the Service Catalog resources to the persistent volume (consider backuping etcd and second with new format that will be use

[2019-05-22 14:58] jberkhahn opened #2635 "Update Service Catalog / broker client to OSB 2.15"
- make needed code changes
- add docs about what version we support/ what features we're missing

[2019-05-22 15:01] jberkhahn opened #2636 "Cleanup Docs"
- replace all use of UPS broker in docs with minibroker examples
- have a fully-inflated example of our resource types

[2019-05-22 15:04] jberkhahn opened #2637 "Get rid of pod preset junk in chart"
these flags don't do anything and should be removed

[2019-05-22 15:13] jberkhahn opened #2638 "figure out what we're going to do for pod presets"
options:
-bake pod presets into our mutating webhook server
-convince kubernetes to make it part of the default apiserver
-make it its own repo and include it in the service catalog chart

[2019-05-22 15:16] jberkhahn commented on #994
closing this issue in favor of #2638

[2019-05-22 15:16] #994 closed

[2019-05-22 15:17] #797 closed

[2019-05-22 15:17] #1313 closed

[2019-05-22 15:18] #2059 closed

[2019-05-22 15:19] #1197 closed

[2019-05-22 15:34] jberkhahn opened #2639 "Add User Provided Services"
Cloud Foundry has a notion of [user provided services](https://docs.cloudfoundry.org/devguide/services/user-provided.html). This is a service instance that is created in reference to a previously existing service that exists without an OSB broker. This is useful for managing legacy services within Service Catalog's OSB workflow.

Add a similar capability to Service Catalog.

[2019-05-22 16:01] MHBauer commented on #1675
/remove-lifecycle rotten

This shouldn't matter any more for native build, golang caches build output now. The only investigation could be done on making sure to mount the cache when doing a docker based build.

[2019-05-22 16:01] #1675 closed

[2019-05-23 12:33] jberkhahn commented on #937
This has been solved on the OSB end

[2019-05-23 12:33] #937 closed

[2019-05-23 12:40] #2540 closed

[2019-05-23 12:43] #803 closed

[2019-05-23 12:43] #778 closed

[2019-05-23 12:50] jberkhahn commented on #2637
also the charts probably have a bunch of other stuff that could stand to be cleaned up, maybe take a look at that as well?

[2019-05-25 23:08] nzoueidi commented on #2487
Hey @wayilau are you still working on this? If not, I would like to take it.

[2019-05-25 23:25] nzoueidi commented on #1749
I am taking this issue, I will start by understand the work done by @teaguecole in the previous closed PRs and I will open one soon.

[2019-05-26 20:34] drnic commented on #2439
Can we turn off the bots whilst this project is inactive?

[2019-05-28 14:35] #1724 closed

[2019-05-28 14:35] #881 closed

[2019-05-28 14:45] #385 closed

[2019-05-28 16:43] mszostok commented on #1954
/close

[2019-05-28 16:43] #1954 closed

[2019-06-03 06:51] RamanPndy commented on #2100
I'm still seeing this error. Please anyone help me resolve this issue. here are my logs.
root@master-1:~# kubectl get pods -n catalog -o wide
NAME                                                  READY   STATUS             RESTARTS   AGE     IP             NODE       NOMINATED NODE   READINESS GATES
catalog-catalog-apiserver-848d64556d-rmphw            1/2     Running            2          2d18h

[2019-06-03 10:08] RamanPndy opened #2646 "Catalog APIService Object Failed"
# Bug Report

**What happened**:
Catalog APIService object failed (FailedDiscoveryCheck)

**What you expected to happen**:
Catalog APIService object should not fail.

**How to reproduce it (as minimally and precisely as possible)**:
cd charts/catalog
helm install . --name catalog --namespace catalog
kubectl describe apiservice v1beta1.servicecatalog.k8s.io

**Anything else we need to know?**:
Name

[2019-06-03 15:04] #2008 closed

[2019-06-04 05:04] chenlein opened #2647 "The apiserver refuses to work when first etcd-server is not available."
# Bug Report

**What happened**:
As the issue's title!

**What you expected to happen**:
The etcd **_cluster_** can be work, the apiserver should be work too!

**How to reproduce it (as minimally and precisely as possible)**:
I have a etcd cluster of three node, and i stoped the first node etcd-0:
[code]
And then, apiserver refuses to work:
[code]

**Anything else we need to know?**:
Ref: https://

[2019-06-04 10:49] RamanPndy opened #2648 "Catalog Controller Manager Pod Crashing"
# Bug Report

**What happened**:
Service Catalog Controller Manager Pod is keep crashing also APIService Object is not able to contact catalog-api-server service using it's ClusterIP.

**What you expected to happen**:
Service Catalog Controller Manager Pod should work in running status.

**How to reproduce it (as minimally and precisely as possible)**:
helm . install --name catalog --namespace cat

[2019-06-04 18:56] jberkhahn opened #2650 "Finish Repo Migration"
- fix import paths
probably switch stuff over to `sigs.k8s.io/service-catalog`

- fix travis badge in the README

may expand as I find more stuff that was broken

[2019-06-07 10:27] yakuza-m opened #2653 "certificate signed by unknown authority while registering a test broker"
# Bug Report

**What happened**: ErrorFetchingCatalog while registering a broker

**What you expected to happen**: fetch the catalog as expected

**How to reproduce it (as minimally and precisely as possible)**: create a test broker and try to register it

Is there way to skip cert verification or any way to add this cert to trusted list please help me

[2019-06-07 16:56] jberkhahn commented on #2650
Everything seems to be working now.

[2019-06-07 16:56] #2650 closed

[2019-06-07 21:15] jberkhahn opened #2654 "SIG F2F at Kubecon Shanghai Contributor Summit"
Also posting this here so hopefully more people will see it.

I've reserved a slot at the Kubecon Shanghai Contributor Summit for a SIG Face-to-Face. If you're going to be there, feel free to drop by for a chat.

[2019-06-10 13:29] mszostok commented on #2646
The detailed discussion was on our Service Catalog channel on k8s slack workspace, see: https://kubernetes.slack.com/archives/C232SF3TK/p1559642796001100

TL;DR;

The problem is the same as already reported some time on the k8s repo: https://github.com/kubernetes/kubernetes/issues/66231

This issue is not related directly to the Service Catalog, as you also confirmed that with the k8s [metrics-ser

[2019-06-10 13:36] mszostok commented on #2653
Hi @yakuza-m

could you provide YAMLs that you used to install the broker?

--
As you can see here: https://github.com/kubernetes-sigs/service-catalog/blob/7b32d83b04d4c0f80c96841dcda3a9a009e9bb8d/contrib/examples/walkthrough/test-broker/test-servicebroker.yaml#L11-L25

by default the TLS is commented-out. So the minimal way to register the broker is to create such CR:

[code]

[2019-06-10 13:46] mszostok commented on #2648
Hi @RamanPndy

The controller-manager has the check which ensures that the Service Catalog APIs are available. They are required by controller, without them the clients cannot be initialized.

source: https://github.com/kubernetes-sigs/service-catalog/blob/master/cmd/controller-manager/app/controller_manager.go#L342-L345

**so this is expected behaviour**

[2019-06-10 23:29] MHBauer commented on #2647
We use the same apimachinery, so it's up to upstream to fix. We'll pull it in some time after the official release.

kubernetes/kubernetes#72102
/assign @jberkhahn

[2019-06-11 00:59] chenlein commented on #2647
@MHBauer Yes, thank you for your commented!
For now, I can used a VIP(generated via keepalived) to around this issue.

[2019-06-11 00:59] #2647 closed

[2019-06-12 15:15] fmui opened #2657 "Service Broker timeout is not configurable"
# Bug Report

**What happened**:

The OSB spec states in the "Orphans" section:

The Service Catalog does not allow the configuration of this timeout, but always waits for 60 seconds. The spec would also allow a different (longer) timeout.
In some scenarios, brokers may need slightly more than 60 seconds to wake up and execute the request.

**What you expected to happen**:

There should be a way t

[2019-06-12 21:22] #2588 closed

[2019-06-12 21:26] jberkhahn commented on #2639
/dibs on this

[2019-06-12 21:39] jberkhahn opened #2658 "Replace use of UPS broker in docs walkthrough with minibroker"
Currently, we make extensive use of the [ups broker](https://github.com/kubernetes-sigs/service-catalog/tree/master/charts/ups-broker) in our documentation. The UPS broker is a dummy-broker that doesn't actually do anything, and it's name is often confusing for users.

Replace all use of the ups broker with [minibroker](https://github.com/osbkit/minibroker) a broker that deploys helm charts for va

[2019-06-12 21:40] #2636 closed

[2019-06-12 21:56] jberkhahn opened #2659 "Run e2e tests in pipeline"
Run the [e2e tests](https://github.com/kubernetes-sigs/service-catalog/blob/master/Makefile#L300) in the [service catalog pipeline](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/service-catalog/service-catalog-presubmits.yaml).

@mszostok had some thoughts on how to run it all in docker

[2019-06-12 21:58] jberkhahn opened #2660 "Add upgrade test to pipeline"
This would deploy the current version of service catalog, a broker, provision a service and binding, and then deploy the new version on top and make sure everything survives the transition.

Much of the groundwork that needs to be down for #2659 will probably be useful here.

[2019-06-12 22:02] jberkhahn opened #2661 "Migrate pipeline resources to somewhere under SIG control"
Due to legacy reasons, some components of our pipeline were hosted on a hodge-podge of resources donated by various contributors to the project. We need to migrate these resources to somewhere under control of the current and future contributors of the project, which means using resources provided as part of the kubernetes org.

The only active resource that we still use that I'm currently aware o

[2019-06-12 22:04] jberkhahn opened #2662 "Stop running units in both Travis and Prow"
Currently we run units both in Travis and on Prow. This is unneeded, and we should switch to running everything in Prow if we can. I'm not sure exactly what is plugged into what, though, so cutting the travis job might have unintended consequences elsewhere in the pipeline.

[2019-06-12 22:10] jberkhahn opened #2663 "Split up xbuild Prow job"
currently our [prow xbuild job](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/service-catalog/service-catalog-presubmits.yaml#L37) takes nearly an hour to run. It would be nice if we could split this job up into different jobs that built the images for different architectures that run separately. We should already have most of the cruft required for this in our M

[2019-06-12 22:10] #2632 closed

[2019-06-12 22:37] jberkhahn commented on #2635
OSB 2.15 should be forthcoming as well

[2019-06-12 23:09] jberkhahn commented on #2657
making this globally configurable wouldn't be too difficult. making it configurable per-broker would require a bit of plumbing, but is still doable.

in either case, this will likely have to wait until repo migration of [our OSB client](https://github.com/pmorie/go-open-service-broker-client) is complete, as we currently don't have access to the repo.

[2019-06-12 23:12] jberkhahn commented on #2613
Isn't this just using client-go with our resource types? Assuming you're familiar with our resource types. client-go should be well-documented in the mainline kubernetes docs.

[2019-06-12 23:16] jberkhahn commented on #2584
sorry for the lack of a response.

This is not currently on the roadmap for 0.3.0, so I can't say when it will happen.

[2019-06-12 23:18] jberkhahn commented on #2626
i'm not able to reproduce this myself. How are you running your kubernetes cluster?

[2019-06-12 23:21] jberkhahn commented on #2532
this will soon become possible per [this PR is the OSB API](https://github.com/openservicebrokerapi/servicebroker/pull/671)

[2019-06-12 23:32] #2185 closed

[2019-06-12 23:34] #2183 closed

[2019-06-12 23:40] #2639 closed

[2019-06-12 23:40] jberkhahn commented on #2189
/dibs

[2019-06-12 23:42] #2480 closed

[2019-06-13 08:21] mszostok commented on #2663
/dibs

[2019-06-13 08:29] #2648 closed

[2019-06-13 11:33] mszostok commented on #2659
Yep, I've already started some work on this.

/dibs

[2019-06-13 16:58] MHBauer commented on #2659
/assign @mszostok

[2019-06-13 17:08] MHBauer commented on #2663
/assign @mszostok

Do we still have the #dibs in the docs somewhere? We should be using the kubernetes prow commands now.

[2019-06-13 17:24] mszostok commented on #2663
@MHBauer tbh I just followed the Jonathan approach from this issue https://github.com/kubernetes-sigs/service-catalog/issues/2189#issuecomment-501493368 :D

and about the `#dibs` it's still mentioned here:
- https://github.com/kubernetes-sigs/service-catalog/blob/492c01787080a7bc72dfb221007998e9c5abd773/CONTRIBUTING.md#L13-L17
- https://github.com/kubernetes-sigs/service-catalog/blob/492c01787080a

[2019-06-13 17:58] MHBauer commented on #2189
/assign @jberkhahn

[2019-06-13 17:59] MHBauer commented on #2663
oh, yea, I forgot that people have to be org member for assignment.

Even so, that's the only thing, and it's helpful for us to use the tooling we have. It's easier to check while browsing, what's been assigned, and who to talk to if you want and update on progress or to take over.

[2019-06-17 16:12] #2494 closed

[2019-06-17 16:21] #2452 closed

[2019-06-17 19:09] zulandar commented on #2658
/dibs

Reviewing and will begin to update the docs.

[2019-06-18 09:16] RamanPndy commented on #2646
this issues is fixed now. issue was with the kube-apiserver was running with http proxies. removing http proxies and no proxy from env of kube-apiserver fixed this issue.
but still catalog controller manager is failing with these errors:
1 round_trippers.go:438] GET https://10.233.0.1:443/apis/servicecatalog.k8s.io/v1beta1?timeout=32s  in 32000 milliseconds
I0618 09:08:35.426432       1 round_trip

[2019-06-18 09:49] mszostok commented on #2646
Ok, so it looks like the same issue that you had for api-server. So right probably the API Server can reach the Pod but Pods are not able to reach the API Server.

Quick illustration:
![Untitled Diagram (1)](https://user-images.githubusercontent.com/17568639/59671832-a8019300-91be-11e9-82f3-c9f973d555aa.png)

so the question is if you API Server is able to reach the Pod from the nodes?

[2019-06-18 10:19] RamanPndy commented on #2646
but catalog apiserver pod is running fine only controller manager is failing. I'm not able to understand why kube-api server is not accessible from catalog controller manager pod. is there any way to debug this issue ?? also master node became too slow. is it impacting performance somewhere ??

[2019-06-18 12:26] ashokkkannan commented on #1945
I understand that handling binary data needs to be done on the API spec side. But do we want to consider providing some hooks via service catalog for transforming binding data? There may be other scenarios where users might require some fine-grained transformations.

[2019-06-18 13:58] mszostok commented on #2646
In [Kyma](https://kyma-project.io/) we are doing Service Management using the Service Catalog. We do not encounter any performance issue with it.

In our case, we just create clusters using the GKE or AKS. In such setup, everything is working. Previously we also used the [acs-enging](https://github.com/Azure/acs-engine) to create clusters that were managed by us. And in such scenario, it also work

[2019-06-19 07:28] RamanPndy commented on #2646
can you please suggest is there any way that i can make sure catalog apiserver is registered with kube-apiserver ??

[2019-06-19 09:54] RamanPndy commented on #2646
#https://github.com/kubernetes/kubernetes/issues/56430

[2019-06-19 12:33] mszostok commented on #2657
The global timeout will be added in this PR: https://github.com/kubernetes-sigs/service-catalog/pull/2622

[2019-06-19 20:34] carolynvs commented on #2661
Cool, can quay host binaries? 👍

[2019-06-19 20:36] carolynvs commented on #2661
Oh we also have svc-cat.io that I think is still managed by my team. Not sure if k8's has a way to register and manage domains? I'm happy to keep that up and running but just wanted to call out that as another resource.

[2019-06-19 20:45] jberkhahn commented on #2661
Hmm, it can host 'application repositories' which I assume are binaries. I'll try to get in touch with someone from the steering committee to see about domains. Where is svcat.io actually hosted?

[2019-06-19 21:05] mszostok commented on #2661
[Here](https://github.com/kubernetes/community/blob/master/github-management/subproject-site-requests.md#requesting-a-subproject-domain) you can find doc about requesting domains for sigs project.

And about the CLI, it's not enough to add them as assets for each release? e.g. those projects are doing like that:

- https://github.com/kubernetes-sigs/kind/releases/tag/v0.3.0
- https://github.com/go

[2019-06-20 07:33] RamanPndy commented on #2646
This issue is fixed now by enabling hostNetwork to true in apiserver-deployment.yaml and controller-manager-deployment.yaml i.e. by adding **hostNetwork: true** on containers level and adding **insecureSkipTLSVerify: true** in APIService Object i.e. apiregistration.yaml and removing caBundle. after this kube apiserver lagging and catalog controller manager pod crashing both are resolved. also for

[2019-06-20 07:33] #2646 closed

[2019-06-20 11:02] #921 closed

[2019-06-20 11:02] #901 closed

[2019-06-20 15:06] #1045 closed

[2019-06-20 15:42] carolynvs commented on #2661
Just verified that I have a single azure resource group managing dns for svc-cat.io (our website) and svcat.sh (our downloads are backed by azure storage). Netlify is managing the hosting for svc-cat.io.

The reason why cli downloads aren't on github releases is because having a permalink like canary or latest is difficult (not impossible but more than I originally wanted to deal with when I setup

[2019-06-20 17:08] #1059 closed

[2019-06-20 17:08] #1063 closed

[2019-06-20 17:08] #1083 closed

[2019-06-20 17:08] #1087 closed

[2019-06-20 18:09] #1090 closed

[2019-06-20 18:09] #1107 closed

[2019-06-20 18:09] #1032 closed

[2019-06-20 18:09] #1081 closed

[2019-06-20 18:09] #1134 closed

[2019-06-20 18:09] #1136 closed

[2019-06-20 20:11] #1068 closed

[2019-06-20 20:12] #1194 closed

[2019-06-20 21:12] #1216 closed

[2019-06-20 21:12] #1215 closed

[2019-06-21 01:16] #1460 closed

[2019-06-21 01:16] #1488 closed

[2019-06-21 01:16] #1476 closed

[2019-06-21 01:16] #1521 closed

[2019-06-21 02:17] #1539 closed

[2019-06-21 02:17] #1541 closed

[2019-06-21 03:18] #1560 closed

[2019-06-21 12:27] #1638 closed

[2019-06-21 13:28] #1062 closed

[2019-06-21 13:28] #1617 closed

[2019-06-21 15:30] #1690 closed

[2019-06-21 16:31] #1649 closed

[2019-06-21 20:35] #1672 closed

[2019-06-21 20:35] #1742 closed

[2019-06-21 22:37] #1753 closed

[2019-06-22 00:39] #1703 closed

[2019-06-22 01:40] #1792 closed

[2019-06-22 01:40] #1796 closed

[2019-06-22 01:40] #1117 closed

[2019-06-22 01:40] #1787 closed

[2019-06-22 03:42] #1831 closed

[2019-06-22 04:43] #1857 closed

[2019-06-22 04:43] #1854 closed

[2019-06-22 05:44] #1815 closed

[2019-06-22 05:44] #1755 closed

[2019-06-22 05:44] #1562 closed

[2019-06-22 06:45] #1133 closed

[2019-06-22 06:45] #1895 closed

[2019-06-22 07:46] #1921 closed

[2019-06-22 08:47] #1935 closed

[2019-06-22 08:47] #1898 closed

[2019-06-22 08:47] #1920 closed

[2019-06-22 08:47] #1939 closed

[2019-06-22 09:48] #1932 closed

[2019-06-22 09:48] #1948 closed

[2019-06-22 10:49] #1956 closed

[2019-06-22 10:49] #1933 closed

[2019-06-22 11:50] #1983 closed

[2019-06-22 11:50] #2001 closed

[2019-06-22 12:51] #1884 closed

[2019-06-22 13:52] #2017 closed

[2019-06-22 14:53] #1222 closed

[2019-06-22 16:55] #1367 closed

[2019-06-22 16:55] #1810 closed

[2019-06-22 16:55] #1982 closed

[2019-06-22 16:55] #1642 closed

[2019-06-22 16:55] #1728 closed

[2019-06-22 16:55] #1986 closed

[2019-06-22 18:57] #2067 closed

[2019-06-22 19:58] #1829 closed

[2019-06-22 23:01] #1942 closed

[2019-06-22 23:01] #2063 closed

[2019-06-23 00:02] #2085 closed

[2019-06-23 01:03] #1641 closed

[2019-06-23 01:03] #2061 closed

[2019-06-23 02:04] #2073 closed

[2019-06-23 03:05] #634 closed

[2019-06-23 03:05] #1432 closed

[2019-06-23 04:06] #1861 closed

[2019-06-23 07:09] #2081 closed

[2019-06-23 07:09] #2128 closed

[2019-06-23 08:10] #2134 closed

[2019-06-23 09:11] #2151 closed

[2019-06-23 10:12] #2144 closed

[2019-06-23 12:14] #2165 closed

[2019-06-23 13:15] #2105 closed

[2019-06-23 15:17] #1397 closed

[2019-06-23 16:18] #1276 closed

[2019-06-23 16:18] #1892 closed

[2019-06-23 16:18] #1041 closed

[2019-06-23 16:18] #1401 closed

[2019-06-23 16:18] #1391 closed

[2019-06-23 16:18] #1590 closed

[2019-06-23 18:20] #2195 closed

[2019-06-23 18:20] #1905 closed

[2019-06-23 20:22] #2141 closed

[2019-06-23 21:23] #2221 closed

[2019-06-23 22:24] #2062 closed

[2019-06-23 22:24] #2239 closed

[2019-06-23 22:24] #2233 closed

[2019-06-24 00:26] #2246 closed

[2019-06-24 01:27] #2249 closed

[2019-06-24 01:27] #2250 closed

[2019-06-24 05:31] #2278 closed

[2019-06-24 05:31] #1853 closed

[2019-06-24 09:35] #2302 closed

[2019-06-24 14:40] #2326 closed

[2019-06-24 15:26] jberkhahn commented on #2635
I think 2.15 just went green

[2019-06-24 16:42] #1035 closed

[2019-06-24 16:42] #1144 closed

[2019-06-24 16:42] #2334 closed

[2019-06-24 18:43] #2354 closed

[2019-06-24 21:46] #2358 closed

[2019-06-24 21:46] #2356 closed

[2019-06-24 23:48] #2372 closed

[2019-06-25 05:54] #2385 closed

[2019-06-25 09:58] #2426 closed

[2019-06-25 12:00] #2425 closed

[2019-06-25 21:10] #2439 closed

[2019-06-25 22:11] #2466 closed

[2019-06-26 00:13] #2482 closed

[2019-06-26 01:14] #2481 closed

[2019-06-26 18:13] taragu commented on #2524
/assign

[2019-06-27 17:46] taragu commented on #2532
/assign

[2019-07-01 16:05] #2521 closed

[2019-07-01 16:08] #2088 closed

[2019-07-01 16:08] jberkhahn opened #2670 "validate catalog schema"
validate the form of the catalog response we get back from the broker

[2019-07-01 16:10] #1667 closed

[2019-07-01 16:12] #1455 closed

[2019-07-01 16:54] MHBauer commented on #2662
I don't see the tests running in prow. Only building.

[2019-07-01 22:57] #2654 closed

[2019-07-01 23:47] #2524 closed

[2019-07-02 19:18] MHBauer commented on #2663
I don't know about arm or arm64, but IBM requires amd64, ppc64le & s390x.

[2019-07-03 20:52] jberkhahn opened #2672 "Bump kube version to 1.15"

[2019-07-08 16:08] mszostok commented on #2663
could you point me, where you are using that?

I understand that the `svcat` binary should be built against different platforms because it's directly executed on the client host and each of us can have a different OS arch.

But what about the user-broker-image, test-broker-image, service-catalog-image, healthcheck-image? In production, they are executed as a docker container inside the Kubernetes

[2019-07-08 16:16] mszostok commented on #2663
Discussed on the SIG meeting. The service catalog binary is executed directly on OS, instead of using the default docker image. Currently, we want to leave support for all of the architecture.

[2019-07-08 19:28] #2658 closed

[2019-07-09 17:22] jberkhahn opened #2673 "use request identity header to uniquely identify a specific request"
per the 2.15 osb spec

[2019-07-09 17:23] jberkhahn opened #2674 "use maintenance_info used for Service Instance upgrades"
per the osb spec 2.15

[2019-07-09 17:23] jberkhahn opened #2675 "use plan_upgradeable field in Service Plan object to determine if a plan change can be performed"
per osb spec 2.15

[2019-07-09 17:24] jberkhahn opened #2676 "maximum_polling_duration field in Service Plan object is adhered to"
per osb spec 2.15

[2019-07-09 17:24] jberkhahn opened #2677 "Retry-After response header from calls to last operation is adhered to"
per osb spec 2.15

[2019-07-09 17:29] jberkhahn commented on #2635
#2673
#2674
#2675
#2676
#2677

[2019-07-10 06:46] #2532 closed

[2019-07-17 16:50] vpnachev opened #2678 "Service Catalog is not compatible with k8s cluster <v1.13"
# Bug Report

**What happened**:
We have a k8s cluster v1.12.10 extended with the svc-cat and a `ValidatingWebhookConfiguration` for the service catalog resources. Since service catalog `v0.1.43` whenever the webhook is called we get the following error in the catalog api server:
[code]
Thus the request is rejected all the time.
With service-catalog `<=v0.1.42` this issue is not observed. Actually

[2019-07-22 14:04] kramvan1 commented on #2599
/remove-lifecycle stale

Still valid

[2019-07-23 01:18] MHBauer commented on #2678
With 1.15 out now, technically 1.12 and older are out of support.

With 0.2 out, and 0.1.43 being the last release, I'm not sure what the policy is on support.

The docs should be updated accordingly.

[2019-07-23 02:37] gobomb commented on #2488
I have the same issue too. The k8s version is `Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:36:19Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}`

`kubectl get --raw /apis/servicecatalog.k8s.io/v1beta1` returns `Error from server (Forbidden): forbidden:

[2019-07-30 15:22] Inkdpixels commented on #2488
/remove-lifecycle stale

[2019-07-30 21:27] ovod88 opened #2681 "No status field for service instance"
# Bug Report

**What happened**:
We have a k8s cluster with service catalog extension and our own service broker. This cluster  has been running for about 3 months without restarting catalog pods and the last request to broker was done 3 months ago. Recently we have tried to create again the service instance (another k8s cluster), but new instance showed no status:

[code]
Such behavior crashed ou

[2019-07-31 18:32] jberkhahn commented on #2357
/lifecycle frozen

[2019-08-05 18:17] jberkhahn commented on #2681
I can't really say what caused this problem without more information. What are you using as the backing store for your Service Catalog? Can you verify if the request made it through the Service Catalog apiserver to the backing store?

[2019-08-05 18:22] jberkhahn commented on #2681
Can't say for sure what went wrong without more info. Are you sure everything from your request is making it through the apiserver to the backing store? Have you looked through the logs of the Service Catalog controllers to see if they crashed or something? What happens if you restart the controller manager pods manually?

[2019-08-06 08:04] mszostok commented on #2597
the last PR (https://github.com/kubernetes-sigs/service-catalog/pull/2667) needs to be merged and then issue can be closed

/remove-lifecycle rotten

[2019-08-06 16:45] MHBauer commented on #2184
@jberkhahn

I think this is better served by having a discussion in the weekly
meeting about whether anybody still cares about running these tests at
all, and opening a new issue without the baggage this one has.

/close

On 8/6/19 9:29 AM, fejta-bot wrote:

[2019-08-06 16:45] #2184 closed

[2019-08-07 08:52] ovod88 commented on #2681
Hello. It seems controller ran out of memory, rebooted itself and catalog was restored without intervention. So I believe if I rebooted it manually - i would restore...

[2019-08-07 19:00] jberkhahn opened #2684 "Use the normal hyperkube image in integration tests"
It seems we're using an image Dug manually built with just kubectl in it for these tests, but it's a manually updated image and super out of date. Now that we're not running on Travis anymore it should be fine to just pull the latest hyperkube image and use that

[2019-08-07 19:24] MHBauer commented on #2684
[code]
Pretty good compatibility.

[2019-08-09 16:47] timon1984 opened #2686 "apiserver pod restart delete all osba classes and instances info"
# Bug Report

**What happened**:
every restarting service-catalog-catalog-apiserver pod erases all information about classes and instances

**What you expected to happen**:
after each restart or upgrade pod shouldn't clear information about classes and instances

**How to reproduce it (as minimally and precisely as possible)**:

1. Deploy service-catalog and osba helm chart
2. Create osba instance

[2019-08-09 23:52] jberkhahn opened #2687 "bump pmorie/go-open-service-broker-client"
this got bumped automatically when I was bumping the kube version. There was a validation added [here](https://github.com/pmorie/go-open-service-broker-client/blob/master/v2/fake/fake.go#L295) that is breaking a bunch of integration tests. I've split this out into it's own branch [here](https://github.com/jberkhahn/service-catalog/tree/bump_osb_client) so I can go ahead with the kube 1.15 bump

[2019-08-12 07:48] timon1984 commented on #2686
I have to add that after upgrade helm chart with service-catalog or restart  service-catalog-catalog-apiserver pod I'm losing secret in a namespace  with connection to database

[2019-08-12 09:18] #2686 closed

[2019-08-12 09:19] timon1984 commented on #2686
apiserver.storage.etcd.persistence.enabled is disabled by default, set it to true solve the issue.

`helm upgrade service-catalog  svc-cat/catalog --namespace service-catalog --set apiserver.storage.etcd.persistence.enabled=true`

[2019-08-12 09:42] mszostok commented on #2686
Hi @timon1984

But please remember that in documentation we are saying that `apiserver.storage.etcd.useEmbedded` **IS INADEQUATE FOR PRODUCTION USE!**

so if u are running your service catalog in production then you should use external etcd clusters for having HA and scalability.

when we will merge the [Replaces the Aggregated API Server with the CustomResourceDefinitions (CRDs) solution](https:/

[2019-08-12 09:51] timon1984 commented on #2686
Hi Mateusz,

thank you for your reply.

Do you have any ETA when it will be merged?

What would you recommend to do at the current moment? We are going to
production in the nearest future.

Thanks for your help

пн, 12 авг. 2019 г. в 12:42, Mateusz Szostok <notifications@github.com>:

--
С уважением, Дмитрий

[2019-08-12 10:06] mszostok commented on #2686
about the ETA here is the epic about that story: https://github.com/kyma-project/kyma/issues/4391

we hope to finish that in two weeks and in next month use it on our platform as a production option, so the final release of the new version with CRD should be ready in about 2months.

For now, you have 3 options:
- if you own the k8s cluster then you can configure the api-server against your main ET

[2019-08-12 18:32] MHBauer commented on #2686
useEmbedded is separate from persistence.enabled
https://github.com/kubernetes-sigs/service-catalog/blob/master/charts/catalog/values.yaml#L65-L104

It's not 100% clear to me if with the embedded etcd, but a persistent volume is still not a production ready case.

[2019-08-12 22:16] jberkhahn commented on #1798
/lifecycle frozen

[2019-08-13 09:22] mszostok commented on #2663
### Description

I've created [PR](https://github.com/kubernetes/test-infra/pull/13855) to split the `pull-service-catalog-xbuild` job.

Instead of having one pipeline for building all images we split that into:
- pull-build-all-images-for-amd64
- pull-build-all-images-for-arm
- pull-build-all-images-for-arm64
- pull-build-all-images-for-ppc64le
- pull-build-all-images-for-s390x
- pull-build-all-i

[2019-08-13 19:06] mszostok commented on #2663
Resolved by: https://github.com/kubernetes/test-infra/pull/13855

(merged&tested)

[2019-08-13 19:06] #2663 closed

[2019-08-13 19:07] mszostok commented on #2660
/assign

[2019-08-13 23:30] MHBauer commented on #2663
wow, nice!

[2019-08-16 19:12] mszostok commented on #2672
PR was already merged: https://github.com/kubernetes-sigs/service-catalog/pull/2683

[2019-08-16 19:12] #2672 closed

[2019-08-16 19:30] mszostok commented on #2659
## Update

I've discussed [that](https://github.com/kubernetes-sigs/service-catalog/issues/2659#issuecomment-501664930) with sig-testing and for now, they do not have an official image with preinstalled `kind` binary.

The final solution that I've ended up looks as follow:

1. Install [kind](https://github.com/kubernetes-sigs/kind) (kubernetes-in-docker) and [Helm](https://github.com/helm/helm).
1

[2019-08-16 21:50] MHBauer commented on #2659
prow job looks like it just stops partway through. I don't see it finish, success or no success.

[2019-08-16 21:55] mszostok commented on #2659
when u click raw build log then u will be redirected here: https://storage.googleapis.com/kyma-prow-logs/logs/post-test-sc-e2e-job/1162418742185955328/build-log.txt

[code]

u can also checkout that PR: https://github.com/kubernetes-sigs/service-catalog/pull/2690

and execute `make test-e2e` and the will run locally

[2019-08-16 21:59] mszostok commented on #2659
Note: u will also see sth like `[1m[32m`  in raw logs. This is an ANSI escape codes for colors. They are working only in terminals. Colors are automatically added by ginkgo and I do not know if it can be disabled

[2019-08-16 22:18] MHBauer commented on #2659
ginkgo colors can be omitted with the `-noColor` flag.

[2019-08-16 22:19] MHBauer commented on #2659
that's weird, it works now to view both the logs. wonder what broke it the first time.

[2019-08-16 22:20] MHBauer commented on #2659
since the colors come through fine, you can leave that in, I think.

[2019-08-16 22:21] MHBauer commented on #2659
I'm happy with it. Glad that kind exists now.

[2019-08-16 22:28] mszostok commented on #2659
Prow is a synonym of the weird things 😄

`kind` is a quite new thing, on our(Kyma) pipelines we are using the minikube for the same thing but I spoke with guys on KubeCon and in k8s ecosystem kind is the recommended way of running the e2e tests. From my perspective kind is easier to install, it creates cluster faster than minikube, and allows u to create a local cluster with multi nodes (minikube

[2019-08-21 02:44] fei922 commented on #2367
@bvboca Hello, I have encountered the same problem recently. Can you tell me how you solved it?
Here's catalog apiserver error log:
![image](https://user-images.githubusercontent.com/9672023/63398427-287f8280-c400-11e9-88c0-d65988417629.png)

K8s version 1.13.5
svc-cat 0.1.37

[2019-08-21 03:27] bvboca commented on #2367
I upgrade my k8s to 1.11.1 and it works now.  I suspected it was the compatibility issue.

[2019-08-21 10:20] fei922 commented on #2367
@bvboca Thank you for your reply, our environment may be different. It was okay at the beginning. After using it for a while, I restarted the catalog and could not use it. Other environments are still available。

[2019-08-21 16:35] mszostok commented on #2687
related PR: https://github.com/kubernetes-sigs/service-catalog/pull/2689

[2019-08-22 08:47] mszostok commented on #2659
The issue will be resolved after merging that PR: https://github.com/kubernetes/test-infra/pull/13945/files (adding ci pipeline)

[2019-08-22 09:35] mszostok commented on #2660
The migration tool and documentation are already created:
- https://github.com/kyma-incubator/service-catalog/blob/crds-migration/contrib/hack/ci/run-migration-tests.sh#L91-L108
- https://github.com/kyma-incubator/service-catalog/blob/crds-migration/docs/migration-apiserver-to-crds.md

The bash script for executing the migration is also created:
- https://github.com/kyma-incubator/service-catalog/

[2019-08-22 09:48] mszostok commented on #2634
The migration tool and documentation are already created:
- docs: https://github.com/kyma-incubator/service-catalog/blob/crds-migration/docs/migration-apiserver-to-crds.md
- tool: https://github.com/kyma-incubator/service-catalog/tree/crds-migration/cmd/migration

[2019-08-22 09:50] mszostok commented on #2634
/assign

[2019-08-23 11:16] #2191 closed

[2019-08-27 03:43] jinjie2088 opened #2696 "Can not running use helm deploy"
[root@host-10-0-228-95 sbin]# kubectl -n kubeapps logs catalog-catalog-controller-manager-7c56db774-f7mvf
Error: unknown flag: --osb-api-request-timeout

[2019-08-27 08:56] mszostok commented on #2696
Hi @jinjie2088, could you tell me how you installed the Service Catalog? Which version did you use?

Yesterday we did the service catalog release. You can install it with commands:
[code]
---
the problem that you are mentioning occurs on the master branch when you will install Service Catalog from sources:
[code]

but in such situation, you are using the newest chart with the old image. **To make

[2019-08-28 02:11] jinjie2088 commented on #2696
thank you, I used v0.2.1, I upgrade to v0.2.2, it's ok.

[2019-08-28 02:11] #2696 closed

[2019-09-05 03:26] MHBauer opened #2698 "integration tests leak goroutines"
# Bug Report

**What happened**:
About 7000 goroutines are running at end of a test run.

This is with #2667, but I expect it exists on master

**What you expected to happen**:
Each individual run should clean up after itself. There should be as close to 0 running goroutines by the end. Roughly 1 to 3.

**How to reproduce it (as minimally and precisely as possible)**:
drop this into controller_flo

[2019-09-05 20:34] mszostok commented on #2698
@MHBauer really nice investigation! definitely, we will need to dig into that. Fortunately, this is not affecting our end-users

[2019-09-05 23:53] jberkhahn opened #2700 "de-flake ppc build stage in pipeline"
this seems to be failing quite often, even when no code changes have been introduced

[2019-09-05 23:53] jberkhahn commented on #2700
/lifecycle frozen

[2019-09-06 09:42] #2543 closed

[2019-09-06 20:58] jberkhahn opened #2701 "incorporate kubernetes-sigs/go-open-service-broker-client into testing framework"
- add a thing to test infra to make it run the units
- get it working on prow
- redo the imports to have a proper vendor dir?

[2019-09-06 20:58] jberkhahn commented on #2701
/lifecycle frozen

[2019-09-08 14:50] yakuza-m commented on #2653
I used command to register/install  the broker
`svcat register test-broker --url http://test-broker.ups-broker.svc.cluster.local --scope cluster`

[2019-09-09 22:24] jberkhahn commented on #2701
got the travis stuff up and running, so at least we have the tests running for now

[2019-09-10 12:26] adusumillipraveen opened #2704 "Inconsistent Helm Chart Name"
# Bug Report

**What happened**:

Latest chart is svc-catalog/catalog-v0.2

<img width="921" alt="Screenshot 2019-09-10 at 13 23 54" src="https://user-images.githubusercontent.com/47391951/64613579-6273f100-d3ce-11e9-8712-a1be36e415e8.png">

**What you expected to happen**:

svc-catalog/catalog     	0.2.2 instead of -v0.2 prefix

**How to reproduce it (as minimally and precisely as possible)**:

*

[2019-09-10 13:28] mszostok commented on #2700
basically, we have problems mostly with all other arch too, only amd64 is stable.

check this comment: https://github.com/kubernetes-sigs/service-catalog/issues/2663#issuecomment-509289729

for multi arch we are executing
[code]
to register QEMU in the host kernel and probably this action is error-prone because sometimes we are getting:
[code]

so probably given interpreter was not configured prop

[2019-09-10 13:39] mszostok commented on #2687
fixed

[2019-09-10 13:39] #2687 closed

[2019-09-10 15:06] mszostok commented on #2704
Currently, we are in the transition phase. You can see in release that we released from v0.2 branch
<img width="745" alt="Screen Shot 2019-09-10 at 15 43 36" src="https://user-images.githubusercontent.com/17568639/64625611-c86f7100-d3ec-11e9-9692-a54504b14470.png">

so here is the new way for installing Service Catalog from 0.2.x release:
<img width="817" alt="Screen Shot 2019-09-10 at 15 47 55" s

[2019-09-10 16:06] timja commented on #2704
(I work with @adusumillipraveen )

[code]

I don't see 0.3.x, only the previous version of that catalog published is 0.2.1

so we should use catalog-v0.2 for now?

[2019-09-10 16:32] #2678 closed

[2019-09-10 18:49] MHBauer commented on #2704
I must say, I don't understand the rename either.

It's possile to get any version of a helm chart:
[code]

[2019-09-11 16:21] mszostok commented on #2704
Let me try to explain my point of view

@timja

Currently, we are in the transition phase from the Aggregate API Server to CRD approach and PR https://github.com/kubernetes-sigs/service-catalog/pull/2630 is not yet merged so 0.3.x is not yet released.

---

@MHBauer

yes, it is. You can also install a given version, using such command:
`helm install svc-cat/catalog --version 0.2.2`

**but If this

[2019-09-11 19:57] MHBauer commented on #2704
In my opinion it's a misuse of the version. We have versions, use them.

If the understanding is, that helm with no args, pulls a docker and always installs the "most recently uploaded helm chart" that's a failure of helm.

if the chronological order is :

Earliest release 2018
0.2.1
0.2.2
0.3.0
0.2.3
Latest release 2019

And I try to install the chart with no args, my presumption is this is sorte

[2019-09-11 20:19] adusumillipraveen commented on #2704
IMHO, Doesn't it make sense to release version 1.x.x when we are making a major breaking change and let this be 0.x.x ? That's what I have seen many helm/charts do.

[2019-09-13 18:37] jberkhahn commented on #2189
/lifecycle frozen

[2019-09-13 19:58] #2613 closed

[2019-09-13 19:58] #2626 closed

[2019-09-13 19:58] #2584 closed

[2019-09-14 05:11] MHBauer commented on #2704
SGTM.

[2019-09-18 17:36] jberkhahn commented on #2661
/lifecycle frozen

[2019-09-18 18:41] #2189 closed

[2019-09-18 21:14] jberkhahn commented on #2657
/lifecycle frozen

[2019-09-20 08:38] Maellooou opened #2709 "Can't deploy service-catalog with many etcd IPs"
# Bug Report

**What happened**:
I try to deploy with helm the service catalog with the etcd non embedded and a cluster of 3 etcd instances already existing

`export etcd_servers="http://IP1:2379,http://IP2:2379,http://IP3:2379"
helm repo add svc-cat https://svc-catalog-charts.storage.googleapis.com
helm install svc-cat/catalog --name catalog --namespace catalog \
--set apiserver.storage.etcd.serv

[2019-09-20 08:42] jfpucheu commented on #2709
Same issue, an etcd cluster should be supported because it is written etcd-serverS !

[2019-09-20 15:53] IvanJosipovic commented on #453
+1

[2019-09-20 16:02] mszostok commented on #1938
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:04] mszostok commented on #1950
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:04] mszostok commented on #1736
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:05] mszostok commented on #1928
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:06] mszostok commented on #2035
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:07] mszostok commented on #990
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:08] mszostok commented on #914
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:08] mszostok commented on #984
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:09] mszostok commented on #763
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:10] mszostok commented on #481
/remove-lifecycle rotten

[2019-09-20 16:10] mszostok commented on #481
/assign

[2019-09-20 16:12] mszostok commented on #481
we started working on that, see: https://github.com/kyma-project/kyma/issues/5180

more details will be presented soon

[2019-09-20 16:16] mszostok commented on #909
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:17] mszostok commented on #571
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:17] mszostok commented on #20
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:17] mszostok commented on #813
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:18] mszostok commented on #165
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:18] mszostok commented on #560
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:18] mszostok commented on #711
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:19] mszostok commented on #606
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:19] mszostok commented on #497
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:19] mszostok commented on #2030
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:19] mszostok commented on #815
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:19] mszostok commented on #811
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-20 16:20] mszostok commented on #453
/remove-lifecycle rotten
/lifecycle frozen

[2019-09-21 00:24] #2610 closed

[2019-09-21 13:37] #2167 closed

[2019-09-21 17:41] #2076 closed

[2019-09-25 15:39] Samze opened #2712 "Support imagePullSecrets"
**The problem**

Some users of service-catalog might be running k8s in an airgapped environment and so they will not have access to public docker registries and these private registries may also have authentication. This means that service-catalog deployments will not be able to pull images when you run helm install.

**The solution**

Along with allowing the image, we can template in an "imagePul

[2019-09-27 18:43] MHBauer commented on #2709
This sounds like a helm or helm-chart issue. The underlying apiserver uses exactly the same code as upstream apiservers, so it is supported at that end.

[2019-10-01 10:52] subhankarc opened #2716 "Service catalog helm chart instal fails on kubernetes 1.16"
# Bug Report

**What happened**:
[code]

fails on 1.16.0 kubernetes version with error `Error: validation failed: unable to recognize "": no matches for kind "Deployment" in version "extensions/v1beta1"`

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**: NA

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ve

[2019-10-03 15:04] mszostok commented on #2712
Hi @Samze

I agree with your proposition about the structure. Would you like to submit a pull-request with those changes?

Cheers

[2019-10-03 15:07] mszostok commented on #2716
That's is true because in Kubernetes 1.16 the  **extensions/v1beta1** version for  **Deployment** kind was removed. We not yet switched to this version.

source: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

But we will do that in the upcoming two weeks.

[2019-10-03 15:34] mszostok commented on #2716
@subhankarc are u interested to provide pull-request for that change?

[2019-10-03 15:52] Samze commented on #2712
Great, yes we will submit a PR 👍

[2019-10-03 15:53] mszostok commented on #2712
nice, thanks 🙇

[2019-10-03 16:05] mszostok commented on #1309
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-03 16:07] mszostok commented on #2349
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-03 16:07] mszostok commented on #2348
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-03 16:07] mszostok commented on #1678
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-03 16:09] mszostok commented on #805
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-03 16:13] mszostok commented on #113
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-03 16:14] mszostok commented on #72
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-03 16:16] mszostok commented on #36
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-04 06:05] subhankarc commented on #2716
Hi @mszostok

Sure, but I am on vacation till 9th, will do it after that.

[2019-10-04 12:40] #2712 closed

[2019-10-06 13:52] ElectronicWizzard opened #2724 "svcat provision command enhancement for service parameters via config file or config map"
# Bug Report

**What happened**:
svcat provision cli does not allows to specify either:
* json file path to read the parameters for service creation
* configmap name to read the parameters for service creation

There was a related issue for the first item https://github.com/kubernetes-sigs/service-catalog/issues/2543 but it was closed without providing the promised enhancement.

**What you expecte

[2019-10-07 08:11] hummelo opened #2725 "Helm Chart version wrong?"
# Bug Report

**What happened**:
Helm list seems to show a wrong version of service manager
**What you expected to happen**:
Helm list shows version 0.3.0-beta
**How to reproduce it (as minimally and precisely as possible)**:
Deleting the old version
[code]
**Anything else we need to know?**:
Is there any possibility to check which version of service manager has been deployed?

**Environment**:
-

[2019-10-07 12:11] mszostok opened #2726 "We are not able to release Service Catalog because of timeout"
**Description**

Currently, the Service Catalog release is done by Travis CI. There is one job called [**Deploy**](https://github.com/kubernetes-sigs/service-catalog/blob/master/.travis.yml#L55-L64). In that stage, we are building and pushing:
- Service Catalog images for all arch (amd64 arm arm64 ppc64le s390x)
- svcat CLI for all arch (win, linux, darwin)

Release history with time consumption:

[2019-10-07 12:24] mszostok commented on #2725
Hi @hummelo

**NOTE:** The Service Catalog v0.3.0-beta.0 is the first beta **pre-release** for Service Catalog 0.3.0 milestone. It is not yet the final release. After a testing phase, we will promote it officially to 0.3.0 release.

My assumption is that helm knows that this is a **beta** of 0.3.0 release and `helm install` wants to install sth which is the final release.

In the newest beta relea

[2019-10-07 15:41] mszostok commented on #2724
/livecycle frozen

[2019-10-07 22:06] jberkhahn commented on #2635
/lifecycle frozen

[2019-10-07 22:06] jberkhahn commented on #2673
/lifecycle frozen

[2019-10-07 22:07] jberkhahn commented on #2675
/lifecycle frozen

[2019-10-07 22:07] jberkhahn commented on #2674
/lifecycle frozen

[2019-10-07 22:07] jberkhahn commented on #2676
/lifecycle frozen

[2019-10-07 22:53] jberkhahn commented on #2677
/lifecycle frozen

[2019-10-08 13:32] hickeyma commented on #2604
FYI, helm template cmd now supports passing `Capabilities.APIVersions`: helm/helm#3377

[2019-10-09 15:54] mszostok commented on #2726
Partially resolved by the: https://github.com/kubernetes-sigs/service-catalog/pull/2727

Still, we need to move our release pipeline under Prow infra.

[2019-10-09 15:54] mszostok commented on #2726
/lifecycle frozen

[2019-10-10 22:21] #2716 closed

[2019-10-13 15:16] #2625 closed

[2019-10-15 15:07] mszostok commented on #2660
the story was successfully finished

[2019-10-15 15:07] #2660 closed

[2019-10-15 15:10] mszostok commented on #2634
the story was mainly resolved by https://github.com/kubernetes-sigs/service-catalog/pull/2710

[2019-10-15 15:10] #2634 closed

[2019-10-16 12:45] mszostok opened #2732 "Cleanup the Service Catalog verification scripts"
**Description**

Currently, our checks are located in different places:
- some are under `contrib/hack/`
- some are under `/build`
- some are under `/test`
- some are even executed from the vendored files, e.g.`vendor/github.com/kubernetes/repo-infra/verify/verify-boilerplate.sh`

The ideal situation would be to have all those things defined in one place, similar to the [K8s](https://github.com/ku

[2019-10-20 13:58] #1088 closed

[2019-10-20 14:59] #521 closed

[2019-10-20 17:01] #2032 closed

[2019-10-20 17:01] #562 closed

[2019-10-20 17:01] #2031 closed

[2019-10-20 17:01] #316 closed

[2019-10-20 17:01] #317 closed

[2019-10-20 17:01] #315 closed

[2019-10-20 18:02] #2217 closed

[2019-10-20 20:12] mszostok commented on #2725
Hi @hummelo I've made some investigation and the problem is on the **helm** side. They need to adjust code or documentation, please check this issue for more info: https://github.com/helm/helm/issues/6712

[2019-10-21 07:44] #2725 closed

[2019-10-21 15:31] mszostok opened #2734 "Service Instances cascading delete proposal"
## Service Instances cascading delete proposal
This is the umbrella issue for the Service Instances cascading delete operation.
In this issue, we also track the implementation of this functionality from alpha to GA stage.

## Motivation
Currently, during the deprovisioning operation, the default case is to fail the deprovisioning if there are bindings against the instance being deprovisioned.
​
Pr

[2019-10-22 21:24] mszostok commented on #2479
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-22 21:24] mszostok commented on #2478
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-22 21:25] mszostok commented on #1749
/lifecycle frozen

[2019-10-22 21:30] mszostok commented on #2502
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-22 21:31] mszostok commented on #2554
/remove-lifecycle rotten
/lifecycle frozen

[2019-10-25 13:14] dotchev opened #2736 "Brokers with names longer than 63 chars are not accepted"
# Bug Report

**What happened**:

After registering our broker it is in status ErrorSyncingCatalog
[code]

**What you expected to happen**:
Broker status is Ready

**How to reproduce it (as minimally and precisely as possible)**:
Register a service broker with name longer than 63 chars

**Anything else we need to know?**:

**Environment**:
- service-catalog version: catalog-0.3.0-beta.1 (from helm

[2019-10-28 08:05] mszostok commented on #2736
/assign @jasiu001

[2019-10-28 08:18] mszostok opened #2739 "Service Plan name is invalid when starts with "_""
**Description**

We need to check if previously (in version 0.2.x) we were able to register the Service Plan with the "_" at the beginning. In version 0.3.x is not possible and this breaks the flows for some legacy Service Brokers.

Check the logs:
[code]

[code]

**AC:**
- Service Catalog should allow all Service Plans names which are correct from OSB API Spec point view

[2019-10-28 08:19] mszostok commented on #2739
/assign @jasiu001

[2019-10-28 09:05] mszostok commented on #2736
Hi @dotchev
Thanks for reporting that. We already started working on that.

[2019-10-29 14:08] mr-flannery opened #2740 "Provision command always fails with "field label not supported: spec.externalName""
# Bug Report

**What happened**:

When running any kind of `svcat provision` command, e.g. `svcat feature-flags-instance --plan lite --class feature-flags`, it fails with `Error: unable to search classes by name (field label not supported: spec.externalName)`.

After playing around with `-v` I also got this:

[code]

**What you expected to happen**:

I expected the service to be provisioned.

**Ho

[2019-10-29 21:53] jberkhahn commented on #2670
/lifecycle frozen

[2019-10-31 20:45] k commented on #2633
Whats the status of this?

[2019-11-01 20:46] #2112 closed

[2019-11-04 13:14] jasiu001 opened #2742 "Add missing integration tests for long broker name/plan names for not alphanumeric beginning"
**Description**:
- After merging this [PR](https://github.com/kubernetes-sigs/service-catalog/pull/2741) test integration should be extended by testing plan/broker with a long name or starting from `_` char.
- To achieve this, `user-broker` (used in integration test) should be extended by e.g. a new plan with a specific name started from not alphanumeric chars (controller `contrib/pkg/broker/user_

[2019-11-04 19:05] jberkhahn commented on #2633
the actual CRD's have been merged and are in beta release. we're still fixing bugs and such before we cut an actual release.

[2019-11-05 15:04] mszostok commented on #2739
fixed by: https://github.com/kubernetes-sigs/service-catalog/pull/2741

[2019-11-05 15:04] #2739 closed

[2019-11-05 15:04] mszostok commented on #2736
fixed by: https://github.com/kubernetes-sigs/service-catalog/pull/2741

[2019-11-05 15:04] #2736 closed

[2019-11-05 15:42] mszostok opened #2745 "The healthcheck docker images was never pushed to registry during release"
# Bug Report

**What happened**:
We have the [healthcheck chart](https://github.com/kubernetes-sigs/service-catalog/tree/master/charts/healthcheck) which is based on the `quay.io/kubernetes-service-catalog/healthcheck:v0.3.0-beta.1`, but this image was never pushed to the remote docker registry.

The problem is that we do not specify it for the `release-push` target in Makefile: https://github.com

[2019-11-05 15:43] mszostok commented on #2745
@jberkhahn you know maybe why the healthcheck was never pushed?

[2019-11-05 16:48] calerogers opened #2746 "Cannot rollback instance when UpdateInstanceCallFailed"
If you try to update a serviceinstance parameter to one that is not an AllowedValue it cannot be rolled back and will fail with the following if you try to re-apply the yaml:
`invalid: spec: Forbidden: Another update for this service instance is in progress`

This seems to be related discussion but there was no resolution:
kubernetes-sigs/service-catalog#1755

How can I manually stop this from try

[2019-11-05 21:08] jberkhahn commented on #2684
/lifecycle frozen

[2019-11-05 23:19] jberkhahn commented on #2745
whoever put it in forgot to edit the makefile, i guess?

[2019-11-06 16:55] mszostok commented on #2745
ok, so I will provide PR to include that in our pipelines

[2019-11-07 16:01] #2653 closed

[2019-11-10 04:00] #2321 closed

[2019-11-10 04:00] #2487 closed

[2019-11-10 05:01] #2438 closed

[2019-11-13 14:27] ovod88 opened #2751 "Catalog doesn't restore broker status after break"
I have a next situation. If I turn down on purpose my service broker, catalog returns the status 'ErrorPolling'. When I turn back the broker, catalog doesn't restore the status and keeps 'ErrorPolling' status. How can I restore the broker on service catalog after broker failed?

Service Catalog version is 0.2.0.

[2019-11-14 22:06] MHBauer commented on #2662
@mszostok I think this is done now.
/close

[2019-11-14 22:06] #2662 closed

[2019-11-15 10:25] vivekzhere opened #2752 "Service catalog helm chart uninstall fails on kubernetes 1.16"
# Bug Report

**What happened**:
`helm delete --purge catalog` failed with `Error: Job failed: BackoffLimitExceeded` on kubernetes version `1.16`. The `catalog-pre-delete-clean-job` job is filing with the error log
[code]
It is working as expected on k8s versions `1.14` and `1.15`. So this might be linked to #2716

**What you expected to happen**:
Service catalog gets deleted

**How to reproduce i

[2019-11-15 11:05] #481 closed

[2019-11-15 15:28] mszostok commented on #2751
Hi @ovod88

Did you try to resync your broker?

Basically

So by default Service Catalog is fetching `/v2/catalog` endpoint based on resync period. When you turned back the broker then Status on ServiceBroker can be out-date and still can be `ErrorPolling` because the resync period does not occur. You can wait or execute the resync manually:)

Here is the doc about that
https://github.com/kubernet

[2019-11-19 20:21] MHBauer commented on #2599
@mszostok @jberkhahn
This should be something done periodically. At the very least on every update of kubernetes libraries.

[2019-11-19 20:22] MHBauer commented on #2599
#2753 looks related.

[2019-11-20 13:04] ovod88 commented on #2751
Hi @mszostok.
I have played with timers. And I've got the next results:
1. If I turn down service broker for time less than `operationPollingMaximumBackoffDuration `and turn brocker on - service catalog resync status within `resyncInterval` or so and continues working as expected.
2. But if I turn down broker for longer period (more than `operationPollingMaximumBackoffDuration`) - service catalog

[2019-11-25 19:20] jberkhahn commented on #2637
/lifecycle frozen

[2019-11-26 04:03] #2752 closed

[2019-11-26 20:16] josephlewis42 opened #2755 "Fail fast on bad broker"
# Bug Report

**What happened**: Provisioning a broker hangs if the connection is bad for some reason.

**What you expected to happen**: If I create a new broker that has never been synchronized, it should retry connecting until a reasonable timeout then fail permanently if the service can't be found, the creds are bad, or the response from the service is invalid.

**How to reproduce it (as minima

[2019-11-28 18:15] #2415 closed

[2019-11-28 18:15] #1945 closed

[2019-11-28 18:15] #1913 closed

[2019-11-28 18:15] #1574 closed

[2019-11-28 18:15] #1290 closed

[2019-12-03 01:22] ydcool opened #2756 "Suggestion: use go module instead of dep"
- Go module is easy to use, a lots of enhancements introduced since go 1.13
 - Go module and proxy  can be very helpful to those developers who are blocked from visiting google,k8s.io etc by the GFW
 - Most repositories under kubernetes use go module

[2019-12-03 09:16] prary opened #2757 "Issue with svc-cat.io/docs/charts/ups-broker"
# Bug Report

**What happened**:
Broken Link for  User Provided Service Broker
**What you expected to happen**:
It should redirect to correct URL
**How to reproduce it (as minimally and precisely as possible)**:
https://svc-cat.io/docs/cli/#use follow the url and try to open User Provided Service Broker linkk
**Anything else we need to know?**:
N/A

[2019-12-03 10:38] antonu17 opened #2758 "UpdateInstanceCallFailed blocks ServiceInstance spec modification"
# Bug Report

A detailed version of #2746

**What happened**:

Given service instance in `UpdateInstanceCallFailed` status. When editing its spec admission webhook blocks the request with the following message: `admission webhook "validating.serviceinstances.servicecatalog.k8s.io" denied the request: spec: Forbidden: Another update for this service instance is in progress`

**What you expected to

[2019-12-03 12:43] ovod88 opened #2759 "Timeout for provisioning the service"
Hi.
Small question. We have an issue when backend of our service broker stucks on provisioning the service. Basically it fails to provision VM. But service catalog still keeps the status in 'Provisioning' forever. Question: is there any timeout parameter for provisioning for example from catalog side (didnt find any such timers in docs) or it is a task for the broker to return 'failed' status to c

[2019-12-04 08:48] antonu17 commented on #2758
As a workaround it is possible to take out [this whole block](https://github.com/kubernetes-sigs/service-catalog/blob/master/pkg/apis/servicecatalog/validation/instance.go#L305-L313) by disabling [`OriginatingIdentityLocking` feature gate](https://svc-cat.io/docs/feature-gates/) (which is an Alpha and default enabled) via `catalog-webhook` container command-line arguments:

[code]

I noticed that

[2019-12-04 08:50] antonu17 commented on #2746
I found the reason why this is happening and a workaround https://github.com/kubernetes-sigs/service-catalog/issues/2758#issuecomment-561538401. If you are using v0.3.0 it might be helpful.

[2019-12-07 12:14] adrianliechti opened #2762 "catalog-catalog-controller-manager 0.3.0 beta 2 in CrashLoopBackOff"
# Bug Report

svc-cat controller-manager is in a CrashLoopBackOff

**What happened**:

svc-cat was working fine on a cluster. after some development/experiments with own brokers, one of the service was in a "no state" state and it started to fail to accept further calls (via svccat cli) a

we deciced to cleanup our cluster and reinstall svc-cat
(removed via helm, ensure no  visible svc-cat ressour

[2019-12-10 19:05] adrianliechti commented on #2762
after upgrading the limits of the deployment, it seemed to starts up again...
maybe you want to adjust your helm values file:

  resources:
    requests:
      cpu: 100m
      memory: 20Mi
    limits:
      cpu: 100m
      memory: 30Mi

[2019-12-10 23:23] #2762 closed

[2019-12-19 14:10] gmrodgers opened #2765 "CRDs should not be uninstalled when `helm uninstall` is run"
From looking at the [helm chart docs](https://helm.sh/docs/topics/charts/#limitations-on-crds), it is standard practice that running `helm uninstall` does not delete the CRDs previously installed. Specifically saying:

When the service catalog chart is combined with other charts that follow the standard practice, it leads to a strange mix of behaviours.

The questions we have are the following:
+

[2019-12-19 20:28] #2599 closed

[2019-12-24 11:12] prary opened #2769 "Question : Order of service catalog component clean up"
# Bug Report

**What happened**:
I am writing ansible playbook to install service catalog  in my k8s cluster. I am able to do so but  I am facing problem in making it idempotent. To make it idempotent I am deleting the crds, controller-service/deployment, webhook-register ..... but while deleting servicebinding it hungs up indefinitely and doesnot succeed. Is there a definite order which thing sho

[2019-12-24 11:47] ritwik-gopi opened #2770 "Service catalog keeps crashing since etcd is getting OOMKilled"
# Bug Report

**What happened**:
Ever since we started using service catalog it has been crashing from time to time. Am not able to figure out the exact cause for this. From status what I could understand is that the etcd container is going in to CrashLoopBackOff since it is getting OOMKilled. We haven't done any operations during the crash happened.

**What you expected to happen**:
Expectation w

[2019-12-27 17:34] #2488 closed

[2020-01-02 10:16] prary commented on #2757
This link should point to https://svc-cat.io/docs/walkthrough/#step-1---installing-the-ups-broker-server

[2020-01-04 10:37] #2681 closed

[2020-01-08 21:33] morehendrix opened #2772 "Not able to create a ServiceInstance"
# Bug Report

**What happened**: A service instance could not be created because a clusterserviceclass was not found.

**What you expected to happen**: The clusterserviceclass is found and the service instance can be at least forwarded to the ClusterServiceBroker.

**How to reproduce it (as minimally and precisely as possible)**: Installed service-catalog 0.3.0beta2 (successfully). Installed open-

[2020-01-16 10:20] zeratullich opened #2775 "in k8s v1.16 or 1.17 can't create broker"
# Bug Report
`helm list`

NAME      	REVISION	UPDATED                 	STATUS  	CHART               	APP VERSION	NAMESPACE

catalog   	1       	Thu Jan 16 17:44:51 2020	DEPLOYED	catalog-0.3.0-beta.2	           	catalog

when i  create minibroker
`helm repo add minibroker https://minibroker.blob.core.windows.net/charts`
`helm install --name minibroker --namespace minibroker minibroker/minibroker`
*

[2020-01-22 09:51] #2770 closed

[2020-01-24 15:30] #2597 closed

[2020-02-03 18:02] jberkhahn commented on #2633
/lifecycle frozen

[2020-02-13 10:11] #2704 closed

[2020-02-19 18:22] carolynvs commented on #1736
/unassign

[2020-02-20 05:38] bluven opened #2778 "Could not uninstall catalog with helm2"
# Bug Report

**What happened**:

Could not uninstall catalog, got this error:
[code]

this log is from cleaner job:
[code]

**What you expected to happen**:

catalog is uninstalled

**How to reproduce it (as minimally and precisely as possible)**:

Install catalog following this [file](https://github.com/kubernetes-sigs/service-catalog/tree/v0.3.0-beta.2/charts/catalog)

values file:
[code]
The v

[2020-02-24 20:39] #2709 closed

[2020-03-05 14:27] miguelaferreira opened #2779 "Cannot install 0.3.0-beta.2 with helm"
# Bug Report

**What happened**:
I got an error running helm install.

**What you expected to happen**:
That helm installs the service catalog.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
I had service catalog 0.2.1 installed and I did a `helm del --purge` to remove it.

**Environment**:
- Kubernetes version (use `kubectl version`)

[2020-03-05 15:04] miguelaferreira commented on #2779
It seems the issue was that the uninstall of the pervious version did not completely remove an api service. It got fixed by removing said service!
[code]

[2020-03-05 15:04] #2779 closed

[2020-03-06 15:09] Samze opened #2782 "make verify-links has issues"
# Bug Report

**What happened**

We tried the steps of cloning the repo and running `make` but it failed.
[code]

**Anything else we need to know?**:
This seems to be because `make verify-docs` checks that hrefs in markdown files are valid but it ONLY runs this check on when you have master checked out. CI is passing because it always checks out a non-master branch prior to running `make verify`.

[2020-03-10 12:44] miguelaferreira opened #2783 "[v0.3.0-beta.2] Catalog won't ask broker to delete service instance when deprovisioning failed"
# Bug Report

**What happened**:
I'm running AWS service broker and this service catalog (version v0.3.0-beta.2) on a EKS (version 1.14) cluster. I provision a S3 bucket and then when deleting it (with `kubectl delete serviceinsatnce ...`) the underlying CloudFormation stack does not get properly deleted and returns an error
[code]
The delete command hangs and the catalog controller manager logs s

[2020-03-12 10:18] prary opened #2784 "OSB API Version"
**Question**

What is OSB API implementation version in the latest version of service-catalog?

[2020-03-13 16:51] gmrodgers commented on #1749
@kubernetes-sigs/service-catalog-maintainers Is it okay if I take this? Looks like there has been no activity on this PR #2643

[2020-03-13 17:39] #1825 closed

[2020-03-16 17:50] miguelaferreira commented on #2772
I'm seeing a similar issue, also on `0.3.0beta2`. While trying to provision an AWS S3 bucket I get the following error on the controller manager
[code]

However, I can see the service class with the `s3` external name in the list
[code]

[2020-03-18 15:32] gmrodgers commented on #2765
/remove-lifecycle stale

[2020-03-18 22:12] jberkhahn commented on #2784
I believe we're up to 2.14 at this time.

[2020-03-18 22:15] jberkhahn commented on #2783
This looks like it's working as intended to me. The AWS broker doesn't let you delete a service instance that represents a bucket that still has stuff in it. There's no way for Service Catalog to know that the bucket still has stuff in it, we're just calling the delete endpoint on the broker, what that endpoint causes to happen is up to the broker author. Once the deprovision fails, we're not goin

[2020-03-18 23:05] jberkhahn commented on #2782
This was before my time, so I'm not really sure. I believe @MHBauer was here when this was added. Any insight?

[2020-03-18 23:26] MHBauer commented on #2782
Looks true. Checked a recent build: https://travis-ci.org/github/kubernetes-sigs/service-catalog/jobs/659169060#L432

Agreed.

Branch should be `master` on release.

The change itself is not helpful https://github.com/kubernetes-sigs/service-catalog/pull/1652 https://github.com/kubernetes-sigs/service-catalog/pull/1652/commits/8950fbe11f92c18535c242168fb739c3321305ae

I don't have an exact answer,

[2020-03-19 00:10] duglin commented on #2782
The latest version https://github.com/duglin/vlinker/blob/master/bin/verify-links.sh#L87 supports the option to retry if there are HTTP GET failures, helps with network burps.

If I'm remember correctly, they opted to only run it on master (instead of each PR) because they didn't think flagging href errors for PR was worth it. IOW, it wasn't a serious enough issue to block the merging of PR.  I di

[2020-03-19 06:28] miguelaferreira commented on #2783
Thanks for getting back to me @jberkhahn.

If this is the intended behaviour how am I supposed to delete an instance for which a previous delete attempt failed? I mean, after the first delete attempt failed (maybe because the bucket wasn't empty) and the underlying issue has been solved, any subsequent attempt to delete the instance blocks and never returns. In the logs I see that the service cata

[2020-03-19 16:08] jberkhahn commented on #2783
Ah, that's an actual problem. Not reissuing the delete command to the broker might also be working as intended, because it's a destructive operation. Will try to take a look into this.

[2020-03-19 16:11] miguelaferreira commented on #2783
Thanks for taking the time @jberkhahn. FYI I've got to instances that I cannot delete. One still has the corresponding CloudFromation stack and the other does not. I think those might be two different paths in terms of handling these cases from the service catalog pov.

[2020-03-20 06:27] kyschouv commented on #2716
Is this new helm chart version going to be published at some point? 1.16 is hitting Azure now, and we can't install service catalog on it (unless we pull this repo).

[2020-03-20 12:01] Samze commented on #2784
Service Catalog uses https://github.com/kubernetes-sigs/go-open-service-broker-client under the hood. You can see 2.14 support in this [issue](https://github.com/kubernetes-sigs/go-open-service-broker-client/issues/144).

[2020-03-20 15:21] Samze opened #2785 "Generic Extensions"
## Feature: Generic Extensions

The OSBAPI specification has a pending [PR to support Generic Extensions](https://github.com/openservicebrokerapi/servicebroker/pull/670).

I'm creating this issue to start a conversation on how this might be implemented in service-catalog and to get feedback on ideas.

### Why

From the [PR](https://github.com/openservicebrokerapi/servicebroker/pull/670):

### What

[2020-03-23 09:45] oke-py opened #2787 "Unable to install svc-cat/catalog using Helm"
# Bug Report

**What happened**:

Following [this document](https://kubernetes.io/docs/tasks/service-catalog/install-service-catalog-using-helm/#install-service-catalog-in-your-kubernetes-cluster), I executed this command but it failed.

[code]

**What you expected to happen**:

svc-cat/catalog is successfully installed.

**How to reproduce it (as minimally and precisely as possible)**:

See "What

[2020-03-23 11:35] mszostok commented on #2734
/remove-lifecycle rotten

[2020-03-23 15:59] mszostok commented on #2787
Hi @oke-py

the problem is that the last release do not support the K8s in version > 1.16
Here is the pr which was fixing that issue: https://github.com/kubernetes-sigs/service-catalog/pull/2753

I will try to do the release this week to solve such problems.

As a temporary workaround, you can just install Service Catalog from master:
[code]

if you want to can also use `--set image=quay.io/kubern

[2020-03-24 03:33] oke-py commented on #2787
I got it. Thanks!

[2020-03-25 07:29] danielepolencic opened #2789 "Binding to an existing resource"
_This is not a bug report, but a request for clarification._

It's often common to have several environments such as dev, test prod.
In this case, prod has a dedicated database, but dev and test share a single database.

I can use the Service Catalog to provision a database in prod and dev.
But how can I use the Service Catalog to bind the test environment to an existing database?

I tried to look

[2020-03-27 11:20] teddyking commented on #2789
I think what you're describing is a "user-provided" service. User-provided services are a concept that originated in the Cloud Foundry world and essentially allow a user to bind to a "external" service instance (i.e. an instance that has not been explicitely provisioned through the marketplace / service-catalog).

For the case you're describing you would provision a database for the prod and dev e

[2020-03-27 13:08] mszostok commented on #2789
Hi

There was an idea to replace the ups-broker with a built-in functionality in Service Catalog: https://github.com/kubernetes-sigs/service-catalog/issues/2189

Unfortunately it wasn't implemented but if you are interested then the pull-request is more than welcome 👍

AFAIK currently the ups-broker is the only way, am I right @jberkhahn?

[2020-03-27 13:16] #2757 closed

[2020-03-27 13:54] danielepolencic commented on #2789
I wish I had the skills! My Go is very poor.

Is there any documentation or code for the ups-broker? I can't seem to find it.

[2020-03-27 20:15] jberkhahn commented on #2789
the docs for the ups-broker are in the chart dir: https://github.com/kubernetes-sigs/service-catalog/tree/master/charts/ups-broker

the code for the ups broker is in the contrib dir: https://github.com/kubernetes-sigs/service-catalog/tree/master/contrib

Note that the ups broker in it's current state is pretty much a toy, it's useful for testing purposes but I would not recommend using it in a pro

[2020-03-27 20:24] #1749 closed

[2020-04-02 07:50] cmoulliard commented on #2787
When a new release is scheduled please as this problem is blocking ?

[2020-04-02 15:24] #2742 closed

[2020-04-02 15:25] sarlaccpit opened #2791 "Unable to remove failed binding despite returning 410 (gone)"
# Bug Report

**What happened**:

I created a service binding which, in my broker implementation, resulted in a failure.

 - lastTransitionTime: "2020-04-02T15:08:07Z"
    message: 'ServiceBroker returned failure; bind operation will not be retried:
      Status: 400; ErrorMessage: <nil>; Description: Service broker parameters are
      invalid: Unable to bind user to scope due to: ; ResponseError

[2020-04-14 02:51] bluven commented on #2778
It seems the cleaner command used AppsV1beta while the actual depolyment is under Apps/v1 api group:
[code]

[code]

[2020-04-14 08:35] #2778 closed

[2020-04-14 10:00] kabakaev commented on #2778
@bluven, is it fixed already? I'm experiencing exactly this issue with v0.3.0-beta.2.

[2020-04-18 14:38] #2751 closed

[2020-04-24 22:05] #2755 closed

[2020-04-28 20:40] kferrone opened #2792 "Mysterious Crash Loop Maybe Because of Metric Labels"
# Bug Report

**What happened**:

Not sure why, after an upgrade the contoller-manager will end up in a crash loop while complaining about metric labels named wrong. I'm not even entirely sure the metric names are what is failing but they are the only errors in the log. Whatever the reason, the crash loop is very persistent with not much to go off of in the logs.

**What you expected to happen**:

[2020-05-01 03:31] #2756 closed

[2020-05-01 14:42] #2759 closed

[2020-05-02 11:03] #2746 closed

[2020-05-07 15:33] georgifarashev opened #2793 "Register broker not working on kubernetes 1.18"
# Bug Report

When I try to register a broker:
`svcat register mybroker --url <broker_url> --basic-secret <secret_name>`
I get the following error:
*Error: register request failed (ServiceBroker.servicecatalog.k8s.io "mybroker" is invalid: metadata.managedFields.fieldsType: Invalid value: "": must be `FieldsV1\`)*

**What you expected to happen**:
The broker to be registered successfully.

**How t

[2020-05-07 22:31] k commented on #2633
What's the eta on the final release? The last release candidate was over 6 months ago...

[2020-05-08 08:48] mszostok commented on #2793
Hi @georgifarashev

Yes, the service catalog does not support 1.18 yet. AFAIK there are some changes in client-go so we need to bump that dependency.

[2020-05-11 16:29] alexwo commented on #2793
Hi @mszostok ,

Thanks for your quick response!  and the rapid PR to update everything (https://github.com/kubernetes-sigs/service-catalog/pull/2796/commits)

Is the fix for supporting **k8s 1.18** version is planned to be released as part of the 0.3.0 milestone?  or perhaps implemented and released more early?

Thanks,
Alex

[2020-05-12 11:07] Fabian-K opened #2798 "Missing struct tags for json"
Hi,

I´m wondering if there is a reason why there are no struct tags for json in the source code.
https://github.com/kubernetes-sigs/service-catalog/blob/bfead02508171e07cfe9bc486e2bc9099de17e09/pkg/apis/servicecatalog/types.go#L31-L37

For this example, the information that TypeMeta is embedded but ObjectMeta is wrapped with 'metadata' when serializing to/from json is missing. Many other projects

[2020-05-12 11:36] mszostok commented on #2798
Hi @Fabian-K

Unfortunately, you are referring to wrong `types.go`.

please use those from `v1beta1` package.
https://github.com/kubernetes-sigs/service-catalog/blob/bfead02508171e07cfe9bc486e2bc9099de17e09/pkg/apis/servicecatalog/v1beta1/types.go

There all jsons tags are specified :)

The `pkg/apis/servicecatalog/types.go` was used by already deprecated and removed api-server implementation, thi

[2020-05-12 11:39] mszostok commented on #2798
Please reopen if sth will not work as expected 🙂

[2020-05-12 11:39] #2798 closed

[2020-05-12 12:03] mszostok commented on #2793
Hi @alexwo

so the plan is as follow:
1. Switch service catalog to go 1.13 with go modules (https://github.com/kubernetes-sigs/service-catalog/pull/2795)
2. Remove unused code from api-server (https://github.com/kubernetes-sigs/service-catalog/pull/2720)
3. Bump to K8s version (https://github.com/kubernetes-sigs/service-catalog/pull/2796)

We hope to finish all that stuff this week and do the 0.3.

[2020-05-12 14:07] Fabian-K commented on #2798
🤦‍♂️ my apologies and thanks for pointing me to the right place!

[2020-05-13 07:46] polskikiel opened #2799 "Improve controllers tests"
We can improve the controllers unit tests to test also the key processing. See how it's already done for ServicePlan: https://github.com/kubernetes-sigs/service-catalog/pull/2797/commits/af5ab701e04f74659270630e3f5137d958891b69 and implement it in the other controllers.

[2020-05-13 14:40] polskikiel opened #2800 "Secret watcher can cause OOM failures"
# Bug Report

**What happened**:

Because the `controller-manager` underneath uses a Secrets informer that caches secrets from the **whole** cluster on the application start, it may fall into `CrashLoopBackoff` state with the OOM reason.

**What you expected to happen**:

That creation of unrelated secrets won't affect the `controller-manager`.

**How to reproduce it (as minimally and precisely as

[2020-05-13 16:31] mszostok commented on #2798
no problem 😄 At the beginning it was also confusing me, I'm happy that we are finally removing it.

[2020-05-14 00:58] phong2tran opened #2801 "The restored service instance resource is not relinked to the same external service instance previously provisioned"
# Bug Report

**What happened**:
Using Velero (https://velero.io/) for backup/restore of the service catalog resources for DR, the restored service instance resource from the service catalog backup is not automatically relinked to the existing external service instance (Postgres database in this case), but attempted to provision the same external database instance instead.

**What you expected to

[2020-05-14 18:30] mszostok commented on #2801
Hi @phong2tran

first please check if the restored Service Catalog CRDs have restored also `Status` entry. The controller manager saves all information under status entry. In case that you described I suppose that you do not have that and because of it it's treated by service catalog as a newly created resource and just trigger provisioning 🙂

In the case of our migration,
1. Scale down the Contro

[2020-05-14 18:58] mszostok commented on #2801
Ok, got information from our team. We just relied on the OSB API behavior that I described in above response.

Which broker do you use to create Postgres instance?

[2020-05-15 19:10] r-darwish opened #2802 "Typo in svc-cat.io/docs/design/ diagram"
# Bug Report

**What happened**:
Kubernetes is spelled "Kubernetess" in [this image](https://svc-cat.io/docs/images/sc-design.svg)
**What you expected to happen**:
Should be spelled as "Kubernetes"

[2020-05-16 02:49] phong2tran commented on #2801
Thanks a lot for the reponses @mszostok!

We're using the internal Postgres service broker which is created in-house. This service broker is little out-of-date and not kept up to the open service broker API spec (v2.14). We will need to check  our service broker to see if it's conforming to OSB API behavior as pointed out in the link.  Also we will need to go through the service catalog backup/res

[2020-05-19 16:50] rajshkr commented on #2787
I tried to install the release using the above suggestion and helm install failed. Any idea what's went wrong?

[2020-05-19 19:38] #2784 closed

[2020-05-19 19:47] mszostok commented on #2784
As was mentioned, Service Catalog supports 2.14. You can subscribe for issues created for 2.15: https://github.com/kubernetes-sigs/service-catalog/issues?q=is%3Aopen+is%3Aissue+label%3AOSBAPI-update-2.15

and we also encaurage anyone to support us and contribute 🙂  PRs are more than welcome 🚀

[2020-05-19 19:52] mszostok commented on #2769
Hi
So basically you should start with deleting the CRDs first because they are managed by controller and webhook server and have also `finalizers` flag which is removed by controller once the deprovisioning/unbinding is finished successfully :)

1. Remove all ServiceBindings
2. Remove all ServiceInstance
3. Remove all ServiceBrokers/ClusterServiceBrokers
4. Remove deployments (webhook + controller

[2020-05-19 20:05] mszostok commented on #2765
Hi @gmrodgers

Before CRDs we had the api-server with underlying etcd server. When it was uninstalled then all resources were also deleted (ServiceInstance, ServiceBindings etc).

We just wanted to have the same behavior with CRDs as we didn't want to have a breaking change.

Pros when removing CRDs and its instances:
- you do not leak any resources which cannot be later managed
- it's not mislead

[2020-05-19 20:12] mszostok commented on #2633
Hi @k

Please take a look on this message :)
https://kubernetes.slack.com/archives/C232SF3TK/p1589536387010900

In general, once I will merge support for [k8s 1.18](https://github.com/kubernetes-sigs/service-catalog/pull/2796) I will cut the 0.3.0 release. Adding the beta prefix (v0.3.0-beta.3) does not make sense anymore. It’s already been half a year since we merge CRDs and since then we didn’t

[2020-05-19 20:15] mszostok commented on #2059
work is done in: https://github.com/kubernetes-sigs/service-catalog/issues/2633

[2020-05-19 20:15] mszostok commented on #987
done by: https://github.com/kubernetes-sigs/service-catalog/issues/2633

[2020-05-19 20:21] mszostok commented on #2787
Hi @rajshkr
could you share the error message?

maybe it was because of today's quay.io outage 😞

<img width="1386" alt="obraz" src="https://user-images.githubusercontent.com/17568639/82374183-f8145580-9a1e-11ea-83b0-91cb8781f481.png">

Check https://status.quay.io/ for more info

[2020-05-19 20:23] MHBauer commented on #987
comment probably better placed on #1088 & #1087

[2020-05-19 20:26] mszostok commented on #2769
/remove-lifecycle rotten

[2020-05-19 20:30] mszostok commented on #2684
all that code was related to the api-server which is not used anymore and it was removed by this PR: https://github.com/kubernetes-sigs/service-catalog/pull/2720

[2020-05-19 20:30] #2684 closed

[2020-05-19 20:32] MHBauer commented on #2059
@mszostok Is this the appropriate documentation? Up to date? https://github.com/kubernetes-sigs/service-catalog/blob/master/docs/migration-apiserver-to-crds.md

[2020-05-20 07:22] rajshkr commented on #2787
Yes.  I tried now and it is working now. Have deployed service catlog and minibroker as well.  I am now seeing a different issue when creating a service instance

**kubectl create -f https://raw.githubusercontent.com/kubernetes-sigs/service-catalog/master/contrib/examples/walkthrough/mini-instance.yaml**
**svcat describe instance -n test-ns mini-instance**
  Name:        mini-instance
  Namespace:

[2020-05-20 16:16] mszostok opened #2807 "Add markers for ServiceCatalog types"
**Description**

Kubernetes has a few new markers that could be really useful since they are also supported by CRDs, e.g.:

[code]

Currently, all violations are ignored, we need to add such markers to satisfy new API.

**Acceptance Criteria**
- Add proper markers for Service Catalog types
- All entries regarding service catalog are removed from [violation_exceptions.txt](https://github.com/kubern

[2020-05-20 16:17] mszostok commented on #2807
We can also once again take a look if the open api is now supported on CRDs. If yes then we shouold enable that.

[2020-05-22 14:11] edwardecook opened #2809 "Switch to apiextensions.k8s.io/v1 for CRD apiVersion"
Currently `apiextensions.k8s.io/v1beta1` is being used for all the CRDs within service catalog, e.g. https://github.com/kubernetes-sigs/service-catalog/blob/13e369797900d9b9d4e21be88e8e0016ec5d594f/charts/catalog/templates/crds/clusterservicebroker.yaml#L1

As of k8s v1.16.0 this is deprecated and the new `apiVersion` is `apiextensions.k8s.io/v1` and as of k8s v1.19.0 `apiextensions.k8s.io/v1beta1

[2020-05-25 12:15] #2793 closed

[2020-05-25 15:58] mszostok commented on #2633
We still need to update docs on k8s website: https://github.com/kubernetes/website/pull/15496

[2020-05-25 16:01] mszostok commented on #2059
@MHBauer yep, there is also a new [Preparation section](https://github.com/kubernetes-sigs/service-catalog/blob/master/docs/migration-apiserver-to-crds.md#preparation) which was added later when we noticed that some of our users were problems with migration because of the unhealthy cluster state.

[2020-05-25 16:02] mszostok commented on #987
linked with mentioned isssues :)

[2020-05-25 16:02] mszostok commented on #1088
done by: https://github.com/kubernetes-sigs/service-catalog/issues/2633

[2020-05-25 16:03] mszostok commented on #1087
done by: https://github.com/kubernetes-sigs/service-catalog/issues/2633

TL;DR; waiting for ready CRDs was added directly in healthcheck

[2020-05-25 16:50] mszostok commented on #2793
Hi @alexwo & @georgifarashev 🙂

The new release is now available https://github.com/kubernetes-sigs/service-catalog/releases/tag/v0.3.0 with support for k8s 1.18 🎉

please let me know if you will encounter any problem with that release and sorry for the delayed release but we had a few problems (e.g. downtime of quey.io, switching from go dep to go mod etc.)

[2020-05-25 17:04] mszostok commented on #2809
When we started CRD the open api was not supported but now we can address that.

But we should also use some generators and have only one source of truth, so generate the CRDs YAML from the go struct: https://github.com/kubernetes-sigs/service-catalog/blob/master/pkg/apis/servicecatalog/v1beta1/types.go

we can achieve that using https://github.com/kubernetes-sigs/controller-tools

As a result we

[2020-05-25 17:17] mszostok commented on #2633
Hi @k
ICYMI: The 0.3.0 is officially released: https://github.com/kubernetes-sigs/service-catalog/releases/tag/v0.3.0

Please let me know if you run into any issues 🙂

[2020-05-25 17:24] mszostok commented on #2734
ICYMI:

The Cascading binding deletion feature is officially available in 0.3.0 [release](https://github.com/kubernetes-sigs/service-catalog/releases/tag/v0.3.0). The controller manager deletes all Service Bindings for a Service Instance before attempting to deprovision the Service Instance. This option can be enabled by setting the [CascadingDeletion feature gate](https://github.com/kubernetes-si

[2020-05-25 18:16] mszostok opened #2813 "Make 2.14 OSB API alpha gates enabled by default"
**Description**

In  https://github.com/kubernetes-sigs/go-open-service-broker-client/pull/146 the 2.14  OSB API Version will become a stable one. We need to remove all alpha gates related to 2.14 and make the enabled by default, e.g. https://github.com/kubernetes-sigs/service-catalog/blob/11c5b363ad9070284f6f45d13107020a8aeab82a/charts/catalog/values.yaml#L107-L108

[2020-05-25 19:10] mszostok commented on #2787
Hi @rajshkr

which `svcat` version are you using? It looks like an old one.

Btw. Today we released the 0.3.0 Service Catalog version which supports the k8s 1.18.

I also tested that flow with the k8s 1.18 using kind (`kind create cluster --image="kindest/node:v1.18.2"`) and I spot one issue.

Currently when you are executing:
[code]

you are creating mariadb with old version which does not suppor

[2020-05-25 19:13] mszostok commented on #2787
Hi @cmoulliard

ICYMI: The new release is available, here you can find more info :) https://kubernetes.slack.com/archives/C232SF3TK/p1590424684027100

[2020-05-25 20:58] mszostok opened #2815 "Service Catalog cleaner should not fail when controller-manager is not deployed"
# Bug Report

**What happened**:
The service catalog cleaner job fails when `controller-manager` deployment cannot be found. This job is executed as a pre-delete hook.

The problem is that when the svc-cat helm release fails and controller-manager is not installed then release cannot be removed because the cleaner job is executed and fails with not found error.

**What you expected to happen**:

c

[2020-05-25 23:33] mszostok commented on #2758
/reopen
/remove-lifecycle rotten

[2020-05-25 23:34] mszostok commented on #2756
Fixed by https://github.com/kubernetes-sigs/service-catalog/pull/2795

[2020-05-25 23:41] mszostok commented on #2745
/reopen
/remove-lifecycle rotten

still valid

[2020-05-25 23:44] mszostok commented on #2740
/reopen
/remove-lifecycle rotten

I will take a look if that problem occurs in 0.3.0 release.

[2020-05-25 23:45] mszostok commented on #2732
/reopen
/remove-lifecycle rotten
/priority important-longterm

[2020-05-25 23:46] mszostok commented on #2698
/reopen
/remove-lifecycle rotten

[2020-05-25 23:48] mszostok commented on #2597
/remove-lifecycle rotten

it's closed as all work is done

[2020-05-25 23:50] mszostok commented on #2514
/reopen
/remove-lifecycle rotten

[2020-05-25 23:51] mszostok commented on #2486
/remove-lifecycle rotten
/reopen

[2020-05-26 05:28] oke-py commented on #2787
It works!
[code]

[2020-05-26 05:28] #2787 closed

[2020-05-26 09:55] cmoulliard commented on #2787
I did a test successfully

[2020-05-26 11:47] rajshkr commented on #2787
I upgraded to 0.3.0 of svc and used the supported version of mariaDB. It worked as a charm!!

[2020-05-26 17:51] MHBauer commented on #2698
/lifecycle freeze

[2020-05-26 18:35] MHBauer commented on #2698
/lifecycle frozen

[2020-05-31 19:53] mszostok commented on #2815
/assing gmrodgers

[2020-05-31 19:54] mszostok commented on #2815
/assign @gmrodgers

[2020-06-02 09:42] mszostok commented on #2785
IMO CRDs are rather used for the configuration and manifests about the expected cluster state (eventually consistent). CRDs are manifests and the controller should ensure that the described state is present in the cluster.

I'm really not sure if it is a good idea to use CRDs just as a wrap layer for HTTP calls.
My concerns:
- what about secret values? If a user needs to send or will receive secre

[2020-06-02 13:05] loewenstein commented on #2765
I'd be interested to hear what the use case of keeping CRDs while uninstalling the controller for these CRDs actually is.

A possible way to allow implicit control over this behaviour could be to separate out the CRDs and controller into their own Helm charts and add both as child charts to a third.
Installing the child charts would support the "keep CRs around" use case while installing the paren

[2020-06-04 20:27] #2815 closed

[2020-06-09 10:24] Samze commented on #2785
Thanks for the comment @mszostok.

Yeah spending some more time playing around with some PoCs and reading your concerns I agree that CRDs to represent arbitrary Broker actions could lead to a whole world of trouble. I think option 4, `Service-catalog ships with a proxy component that triggers extensions` is probably the right way forward, which I think aligns with your suggestion.

I know @rsampai

[2020-06-09 13:46] obeyler opened #2819 "When a securityContext is set the container crash"
# Bug Report

**What happened**:
If a securityContext is set the process is not able to create directory
[code]
**What you expected to happen**:
Not crash
**How to reproduce it (as minimally and precisely as possible)**:
Set a securityContext inside chart

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.18
- service-catalog version: 0.3.0

[2020-06-09 14:23] gmrodgers opened #2820 "Restricting ClusterServiceBroker's Plans/Classes to Namespaces Proposal"
The goal of this proposal is to enable the ability for users of the `ClusterServiceBroker` resource, provided by service-catalog, to restrict which namespaces in a kubernetes cluster that its service classes/plans can be visible/used from, whilst also reducing the toil on the user by only having to register and manage one broker.

# Motivation

Currently, if a user of service-catalog wants to rest

[2020-06-11 10:21] daydrim commented on #2775
Hello, the issue is still reproducable in 1.18

[2020-06-17 13:48] t3mi opened #2821 "Client version should be printed without any dependencies"
# Bug Report

**What happened**:
Can't get client version info without default context being set.
[code]
**What you expected to happen**:
Version should be printed.
**How to reproduce it (as minimally and precisely as possible)**:
Check kubeconfig is absent and run:
svcat version --client

[2020-06-22 09:22] jasiu001 opened #2824 "OOMKilled during install/upgrade ServiceCatalog in cluster with Helm v3"
**What happened**:

When the service-catalog release is upgraded by helm in version 3, there is a rapid increase in the memory requirement on `controller-manager` Pod (which may cause OOMKilled state if the set memory limit is insufficient).
The more releases are on the cluster, the more memory consumption is increased. This is because Helm releases are kept in Secrets resources and `controller-ma

[2020-06-23 11:31] gmrodgers commented on #2820
hey @kubernetes-sigs/service-catalog-maintainers, if you get time could one of yous take a look/assign assignees!

[2020-06-24 17:01] addprs opened #2825 "Catalog controller pod crashes in 0.3.0"
# Bug Report
Catalog controller pod crashes with panic error
**What happened**:
Tried to create service instances and servicebindings which runs into pod crash,  eventually after 5 to 6 restarts everything works fine.

[code]
we see the pod restart happens around 6 times as above.
This works fine with 0.3.0-beta.2 version of catalog.

**What you expected to happen**:
Should be a clean run for prov

[2020-06-25 06:49] fabstu opened #2826 "Question: Binding on pre-existing service instance"
Is it possible to create a binding in service-catalog on a pre-existing service instance without creating a service instance resource/without having the created service instance resource provision an instance on the OSB Broker side?

The idea is to fail the binding process in case the service instance was not provisoned somewhere else already. In this usecase I want service catalog to only handle

[2020-06-29 08:58] gmrodgers commented on #2820
@mszostok @jberkhahn any chance you folks you could get a chance to look at this!

[2020-07-02 19:28] alapidas commented on #2802
/assign

[2020-07-02 19:42] alapidas commented on #2802
#dibs

[2020-07-03 14:25] fabstu commented on #2826
I just found `--abandon`. This fixed the issue. 👍

[2020-07-03 14:25] #2826 closed

[2020-07-09 20:08] bergbrains commented on #2120
I get the same error, @Vikash082.  Did you find out how to add the group or whatever needs to be done?

[2020-07-10 05:15] Vikash082 commented on #2120
@bergbrains if i remember correctly, i had to upgrade the k8s version both client and server.

[2020-07-11 11:22] #2775 closed

[2020-07-13 14:22] jhvhs commented on #2813
#dibs

[2020-07-15 08:06] miguelaferreira commented on #2772
This is still an issue, it would be great to have a maintainer at least comment on it.

[2020-07-20 08:24] #2824 closed

[2020-07-29 11:24] mszostok commented on #2800
resolved by: https://github.com/kubernetes-sigs/service-catalog/pull/2830

[2020-07-29 11:24] #2800 closed

[2020-08-07 08:33] donggangcj opened #2834 "the future of this project"
I encountered a lot of problems when I was using service-catalog and I want to know whether this project can continue.

[2020-08-07 08:34] #2834 closed

[2020-08-11 08:41] kramerul opened #2835 "Hook pre-upgrade catalog/templates/pre-migration-job.yaml failed"
# Bug Report

**What happened**:

During upgrade of service-catalog with helm, the following error was thrown:

[code]

This happens not every time. Most of the time the installation succeeds.

**What you expected to happen**:

Upgrade is always successful

**How to reproduce it (as minimally and precisely as possible)**:

Run the command `helm upgrade --install ....` many times on different days.

[2020-08-14 02:43] addprs commented on #2825
any update on the above issue?

[2020-08-14 08:34] #2772 closed

[2020-08-16 02:14] #2782 closed

[2020-08-16 18:30] #2783 closed

[2020-08-17 14:48] anklei opened #2836 "De-provisioning call does not reach broker in provisioning phase"
# Bug Report

**What happened**:
De-provisioning calls does not go through to the broker until provision is finished

**What you expected to happen**:
De-provisioning should have reached the broker, since a customer might already decide to delete a service instance before it is fully provisioned.
Customers are also not able to delete instances which may hang in "provisioning state" due to poorly/n

[2020-08-24 21:39] #2789 closed

[2020-08-26 15:44] clickatsachin commented on #2775
was there any resolution to abovr ?

[2020-08-30 16:55] #2791 closed

[2020-09-02 13:20] tobiasgiese opened #2838 "remove persistent volume from pre-migration-job"
# Bug Report

**What happened**:

We noticed, that the pre-migration-job uses a persistent volume for the migration.
As not all Kubernetes customers have persistent volumes available, the migration could fail.
It should be possible to change this behavior from 2 jobs to only 1 job with an `initContainer` and an `emptyDir`.

**What you expected to happen**:

Migration should not fail because of com

[2020-09-03 21:02] MushuEE commented on #72
https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-unit k8s coverage dashboard example

[2020-09-04 06:04] garaghav opened #2839 "Error while updating migrated ServiceInstances. reconciledGeneration is not updated to generation value."
# Bug Report

Hitting the following error when trying to update the migrated ServiceInstances.

**error: serviceinstances.servicecatalog.k8s.io "mongodb" could not be patched: admission webhook "validating.serviceinstances.servicecatalog.k8s.io" denied the request: status.reconciledGeneration: Invalid value: 6: reconciledGeneration must not be greater than generation.**

Steps followed:
- Upgraded

[2020-09-04 11:33] juergen-walter opened #2840 "Issue with svcat marketplace"
# Bug Report

**What happened**:
Executing
[code]

returns table output like yield from

[code]

**What you expected to happen**:

Get json output or yaml output as specified

**How to reproduce it (as minimally and precisely as possible)**:
Execute the above commands

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- service-catalog versi

[2020-09-04 15:54] MHBauer commented on #2633
I think we can close this, yes?
/close

[2020-09-04 15:54] #2633 closed

[2020-09-07 15:18] jhvhs commented on #2785
/remove-lifecycle stale

[2020-09-08 15:34] mattfarina opened #2841 "Service Catalog Helm Chart Repo Migration"
As part of the Helm v2 deprecation announcement we also announced that the stable and incubator repos were going away on November 13th. What was, unfortunately missed, is that Helm is hosting the service catalog helm repo and that will likely be going away as well. It is currently hosted by Google on a corp managed bucket.

Today I was reviewing what is going away and noticed the service catalog w

[2020-09-09 08:58] mszostok commented on #2841
Hi @mattfarina

Thanks finding that 👍 so for now we do not know if the current URL (https://svc-catalog-charts.storage.googleapis.com) will be deprecated as there is still an option 1, right?

Please let us know if you will know sth more, so we will have enough time to switch our pipelines as described in second option and announce that change.

[2020-09-09 13:45] mattfarina commented on #2841
@mszostok If you want to pursue option 1 you will need to figure this out. @bgrant0607, I think, can help from the Google side. The hosting would need to transfer to a CNCF/k8s managed location. If you do not pursue this option I would expect it to be garbage collected on Nov 13th. If it does not happen it would be a pleasant surprise.

[2020-09-09 14:56] sarlaccpit commented on #2825
Bumping this issue.  We're not able to make sense of the panic stack.

[2020-09-09 15:01] bgrant0607 commented on #2841
@mszostok How feasible is it to change the path? @mattfarina is correct that the current plan is to delete the storage buckets on November 13.

[2020-09-10 12:35] mszostok commented on #2841
@bgrant0607 we need to back up all charts and push to new location as described in step 2, update documentation and announce that change as probably a lot of people are using this on their pipelines.

so this is doable, but we need to have manpower to set this up.

/cc @jberkhahn

[2020-09-12 01:31] bgrant0607 commented on #2841
The alternative is to set up a new CNCF GCP org and billing account, setup necessary identities / accounts, groups, folders, authorization policies, etc., and transfer the projects.

[2020-09-14 19:49] jberkhahn commented on #2841
@bgrant0607 where are the k8s charts hosted? is there somewhere we could host our stuff and keep the same URL or has have they started using github pages

[2020-09-15 18:11] bgrant0607 commented on #2841
@jberkhahn

The locations of stable and incubator repos are documented here:
https://github.com/helm/charts#how-do-i-install-these-charts

It looks like service catalog charts are hosted here, in another GCS bucket in the same GCP project:
https://svc-catalog-charts.storage.googleapis.com/

There's no way to move the storage and keep the URL the same.

[2020-09-15 18:20] jberkhahn commented on #2841
I don't understand. If the core k8s charts are hosted in a gcs bucket on a different account, why can't we get a bucket on whatever account is hosting the core k8s charts, remove the old bucket, and have the url route to the new bucket?

[2020-09-21 23:22] addprs commented on #2825
The panic error caused above is because of the assignment into the map after doing deep copy because of this line added https://github.com/kubernetes-sigs/service-catalog/blob/v0.3.0/pkg/controller/controller_instance.go#L3010 , assumes there is a map where key can be inserted.

If the serviceinstanes, servicebinding don't have the annotation we run into the problem, Not sure if this is bug by the

[2020-09-23 16:08] jberkhahn commented on #2745
/lifecycle frozen

[2020-09-24 03:27] hzliangbin commented on #2809
Any progress?

[2020-09-26 00:10] #2792 closed

[2020-10-01 11:36] t3mi commented on #2821
/remove-lifecycle stale

[2020-10-05 20:43] bradfordcp opened #2844 "Cast numeric command-line parameter value to appropriate type"
# Bug Report

**What happened**: The parameter was passed to my service broker as a String.

**What you expected to happen**: The value would be provided as a number per the schema provided for PUT service instance requests.

**How to reproduce it (as minimally and precisely as possible)**:
Create a service and plan with a parameter schema like the following:

[code]

Try to provision an instance

[2020-10-05 20:45] bradfordcp commented on #2844
The logs of my service broker provide the following information:

[code]
which aligns with an invalid type being used.

[2020-10-12 08:33] vivekzhere opened #2845 "Question: Case of externalID of ServiceInstance"
[OSB spec](https://github.com/openservicebrokerapi/servicebroker/blob/v2.16/spec.md#url-properties) does not place much restrictions on `instance_id`. I am using the `instance_id` as name for kubernetes resource created as part of instance provisioning. [Kubernetes Names](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/) must contain only lowercase alphanumeric characters,

[2020-10-13 08:48] freegroup opened #2846 "Support of OpenServiceBroker feature "binding_rotatable" in the ServiceCatalog"
in the OpenServiceBroker spec it is possible to rotate a binding as describe here:
https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#binding-rotation

This feature is mandatory if we want to rotate an secret without a new deployment and restart of existing pods.

As far as I understood the existing binding is updated with the new binding information. In this case k8s update

[2020-10-13 17:25] jhvhs commented on #2846
Hi @freegroup,

The support for binding rotation hasn't been yet finalised, and may become a new feature as part of the upcoming OSBAPI release. We will implement it as part of the new OSBAPI version implementation if and when it does.

[2020-10-13 18:35] bgrant0607 commented on #2841
@jberkhahn The current account used for all of the charts is going way. AIUI, you could create a new account and project, delete the current bucket, and try to create a new bucket with the same name in the new project.
https://cloud.google.com/storage/docs/moving-buckets

https://chartcenter.io/ was mentioned in https://github.com/helm/community/issues/114. Is that an option for service catalog ch

[2020-10-13 18:52] bgrant0607 commented on #2841
Actually, are these charts still needed? The only updates in the last year look like:
[code]

[2020-10-13 19:59] jhvhs commented on #2841
@bgrant0607 We have decided to move our repos to GitHub pages. We have already moved the archive, and are almost done adapting the CI/CD pipeline to push the charts accordingly.

[2020-10-13 20:22] scottrigby commented on #2841
@jhvhs in case it's helpful, here a quick tool I sketched up to help with moving chart repo package history to github pages https://github.com/scottrigby/helm-adopt-package-history. It's already been used for several chart repos.

Ideally I'd love to use a tool like `helm/chart-releaser` to attach chart history version packages as GitHub Release artifacts, but that would have to be written to hand

[2020-10-13 23:22] jhvhs commented on #2841
Thank you, @scottrigby !

That's a brilliant tool, but sadly, as we have a set of multiple different charts in this repo, we have decided not to use the releases section.

[2020-10-14 13:22] freegroup commented on #2846
thanks for your feedback. Unfortunately I'm unable get a schedule for this feature....

I think I write my own operator to rotate the credentials in the meanwhile.

[2020-10-14 23:35] #2841 closed

[2020-10-15 03:41] bgrant0607 commented on #2841
Thanks!

[2020-10-15 15:51] #2799 closed

[2020-10-15 15:51] #2801 closed

[2020-10-23 01:44] #2732 closed

[2020-10-23 01:44] #2758 closed

[2020-10-23 01:44] #2486 closed

[2020-10-23 01:44] #2514 closed

[2020-10-23 09:30] obeyler opened #2849 "When do you plan to do a new release ?"
# Question
When do you plan to do a release ?
since june  my PR (https://github.com/kubernetes-sigs/service-catalog/pull/2818) has been merged  to solve pb on helm chart but no release have been done yet.

[2020-10-23 10:37] gberche-orange commented on #2849
@jhvhs we were wondering whether following your 92311def6ebfb71b4cf1ba1886a33e1734ef1f68 in #2847 helm chart tarballs should appear in https://github.com/kubernetes-sigs/service-catalog/tree/gh_pages/charts_archive/catalog but can't see one yet there

[2020-10-23 11:54] #2740 closed

[2020-10-26 22:49] jhvhs commented on #2849
@obeyler We can make a new 0.3.1 build with the patches included sometime before next week.

[2020-10-26 22:50] jhvhs commented on #2849
@gberche-orange The charts are only built for new versions.The latest v0.3.0 is there.

[2020-10-26 22:52] jhvhs commented on #2809
/reopen
/remove-lifecycle rotten
/frozen

[2020-10-26 23:28] jhvhs commented on #2809
The removal of `CustomResourceDefinition/v1beta1` has been [postponed until 1.22](https://github.com/kubernetes/kubernetes/issues/82022#issuecomment-636872808), so this issue is still significant
/lifecycle frozen

[2020-10-26 23:49] jhvhs commented on #2740
This bug was fixed in v0.3.0

[2020-10-26 23:56] jhvhs commented on #2807
/remove-lifecycle rotten

[2020-10-27 00:00] jhvhs commented on #2765
This issue in question is the difference between helm charts for v2 and v3, as the v3 charts treat CRDs with more caution.
We may update our chart to use the new schema, as the old schema is no longer supported; but that is not the top priority.
Closing the issue.
/remove-lifecycle rotten
/close

[2020-10-27 00:01] #2765 closed

[2020-10-27 00:12] jhvhs commented on #2769
Usually, the resource removal stalls because the finalising webhook is unable to carry out its function, for some reason.
What you can do, is to remove any finalizers before deleting the resources, e.g.:
`kubectl get "servicebindings.servicecatalog.k8s.io" --output name | xargs -I{} -n1 kubectl patch {} --type="merge" --patch '{"metadata":{"finalizers":[]}}'`

[2020-10-27 00:14] jhvhs commented on #2734
/remove-lifecycle rotten
/reopen
/lifecycle frozen

[2020-10-27 07:20] obeyler commented on #2849
Thanks it world be great!

[2020-11-02 14:40] obeyler commented on #2849
@jhvhs Does it still plan for this week for a helm release ?

[2020-11-02 15:00] jhvhs commented on #2849
@obeyler Sorry, there has been a delay, I'll try to make the patch release this week. And, yes, this includes a new helm release.

[2020-11-02 16:21] obeyler commented on #2849
@jhvhs Thanks by advance

[2020-11-05 16:09] jhvhs commented on #2849
Done.
The new charts can be found at the GH pages repo https://kubernetes-sigs.github.io/service-catalog

[2020-11-05 16:09] #2849 closed

[2020-11-16 11:46] jhvhs commented on #2785
/lifecycle frozen

[2020-11-17 06:03] david-freistrom commented on #2835
same here. Any news about it?

[2020-11-17 06:04] david-freistrom commented on #2835
/remove-lifecycle stale

[2020-11-18 17:06] antonu17 commented on #2765
We have just discovered this feature, luckily in a temporary environment.

Let's say we have a working environment with multiple ServiceInstances running, and for whatever reason (helm release was damaged, tiller glitch, networking issue, helm release became unrecoverable), we have to `helm delete service-catalog` and install it again. Upon deletion, all CRDs get destroyed and existing `ServiceIns

[2020-11-24 14:22] szeort opened #2853 "Migration not required but executed and migration job fails"
# Bug Report

**What happened**:
Migration job started and failed with
Error: while waiting for ready Service Catalog CRDs: CRDs are not available
No more error details.

**What you expected to happen**:
That is our first time to deploy service catalog and we do not expect to execute a migration job at all. There is a check if the catalog deployment already exists, and if exists, then the migratio

[2020-11-26 01:00] #2769 closed

[2020-11-27 18:37] jhvhs opened #2855 "Migrate the helm chart schema to v2 for helm3"
[On November 13, 2020, Helm v2 support has formally ended](https://github.com/helm/charts#status-of-the-project), so in line with this change, the helm chart has to be completely migrated to use the [`v2` apiVersion](https://helm.sh/docs/topics/charts/#the-apiversion-field) schema to clarify incompatibility with helm 2.

Other changes being made include [moving the CRD definitions](https://github.

[2020-11-28 08:06] t3mi commented on #2821
/remove-lifecycle stale

[2020-11-29 21:31] #2802 closed

[2020-11-30 11:42] jhvhs commented on #2820
/reopen
/lifecycle frozen

[2020-12-02 00:16] dekiel opened #2856 "Can't provision serviceinstance of api service."
# Bug Report

**What happened**:

Did create application which had one api service defined which is sending traffic outside kyma. Application was created in kyma-slack namespace. In namespace gh-connector i had function which want to use api service exposed by application from kyma-slack namespace. Did create application mapping in gh-connector namespace to bind application to it. When trying to c

[2020-12-02 09:56] mszostok commented on #2856
Hi @dekiel

The problem is that you created such manifests:
[code]

as you can see you specified only `serviceClassExternalName` and no `servicePlanExternalName`. If you define only class name then the Service Catalog sets the default service plan if **only one plan exists**. In your case error says that  it found 2 and cannot decide which one to use, so you need to do it manually
[code]

What you

[2020-12-03 10:55] jasiu001 commented on #2856
In case when plan is not set, SC (to be more specific mutation webhook for SI) tries to find "default" plan.
IMO there is a bug in the mutation webhook, in [list](https://github.com/kubernetes-sigs/service-catalog/blob/master/pkg/webhook/servicecatalog/serviceinstance/mutation/default_service_plan.go#L236) functionality. ServiceClasses should be searched within a namespace scope:
[code]
(I will te

[2020-12-03 17:01] arthurdm opened #2857 "Onboarding of the Service Binding Specification"
In a recent call with @jberkhahn and @jhvhs we have agreed to explore the donation of the [Service Binding Specification](https://github.com/k8s-service-bindings/spec) to the Service Catalog SIG.

We have an [issue](https://github.com/k8s-service-bindings/spec/issues/138) on the spec side to track changes needed there, and this cross issue will track changes needed on the SIG side to onboard the s

[2020-12-04 16:11] sbose78 commented on #2857
I'm curious, how does this align with the following :)

[2020-12-05 02:57] arthurdm commented on #2857
ya - the thought is that someone could adopt the Service Binding aspect from the SIG without needing to use or adopt OSBAPI.  There's some integration effort to make them work together nicely if both present, but each should be able to stand on their own.

@jberkhahn and @jhvhs - would like to hear your thoughts on this approach.

[2020-12-07 10:47] burdzwastaken commented on #2835
we are seeing the same behaviour every upgrade as the resource already exists. this seems to be a very common problem when using Kubernetes Deployments, Helm & dynamically provisioned volumes from StorageClasses as the only reference to the PersistentVolume is inside the PersistentVolumeClaim.

[2020-12-09 17:03] gorkem commented on #2857
I am not sure if being associated with the Service Catalog SIG is actually for the benefit of the Service Binding Specification. Service Binding can be used in many other ways, for instance Operators and Operator Lifecycle Manager, helm charts etc. I am concerned if this association limits the perception of the specification for no good reason.

[2020-12-09 21:28] jberkhahn commented on #2857
Many sigs have many subprojects that are rather loosely related - if anything Service Catalog is unusual in how focused it is. I don't see a problem to existing as a subproject of Service Catalog, especially if you want to be part of the Kubernetes community.

[2020-12-09 22:53] gorkem commented on #2857
Sounds like you are saying just be part of a SIG no matter what the optics are .

[2020-12-10 19:08] arthurdm commented on #2857
hey everyone - thanks for the comments so far, good discussion.

My 2 cents is that from the spec's perspective one of the main challenges we have is finding a suitable umbrella home - something that solves the "API domain / group" problem but most importantly a place where we can reach the larger k8s community and increase awareness / adoption.

With that frame of mind, and being that the spec is

[2020-12-11 14:22] janssk1 opened #2859 "Unable to unprovisioning a binding that is 'gone'"
# Bug Report

**What happened**:
I'm having a broker that provisions/unprovisions DB schemas. When a DB schema got unprovisioned out-of-band and the service-catalog tries to unprovision it, the broker responds with a 410 (Gone) with empty body. The service catalog does not like that. It expect the response to include a json body and fails while trying to parse it: ' unexpected end of JSON input'

[2020-12-14 07:55] tobiasgiese commented on #2838
We have removed the migration-job from our deployment, as the job is only for the update from 0.2.x to 0.3.x (see [design proposal](https://github.com/kubernetes-sigs/service-catalog/blob/master/docs/proposals/going-towards-to-crd.md)).
Will the migration-job be removed from the repo (i.e. helm chart) in the future?
Or is it possible, that the migration-job will be reused for feature migrations?

[2020-12-16 08:48] lazywhite commented on #2825
I tried but still got same error

[2020-12-16 09:12] lazywhite commented on #2825
I've try this, problem solved!!!   thanks.

[2020-12-23 07:45] alexwo opened #2868 "helm repo add svc-cat - is not a valid chart repository or cannot be reached"
# Bug Report

**What happened**:

Running:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
helm repo add svc-cat https://svc-catalog-charts.storage.googleapis.com

[2020-12-23 09:56] fanchenxu-ship opened #2869 "Error: looks like "https://svc-catalog-charts.storage.googleapis.com" is not a valid chart repository or cannot be reached: failed to fetch https://svc-catalog-charts.storage.googleapis.com/index.yaml : 403 Forbidden"
# Bug Report

**What happened**:
 ` when i run "helm repo add svc-cat https://svc-catalog-charts.storage.googleapis.com"` it failed.
**Error message**:
` Error: looks like "https://svc-catalog-charts.storage.googleapis.com" is not a valid chart repository or cannot be reached: failed to fetch https://svc-catalog-charts.storage.googleapis.com/index.yaml : 403 Forbidden`
**Environment**:
- helm vers

[2020-12-28 18:23] jhvhs commented on #2813
/remove-lifecycle rotten

[2020-12-30 21:26] jiayihu commented on #2869
What worked from me was downloading the chart from https://github.com/kubernetes-sigs/service-catalog/tree/master/charts/catalog and installing it locally.
I also changed the image to `image: quay.io/kubernetes-service-catalog/service-catalog-arm64:v0.3.1` since i'm using ARM64/aarch64

[2020-12-30 22:10] jiayihu commented on #2775
In my case I think I'm having this error because minibroker doesn't support ARM64. The pod is created but if you try to get the logs, you see `standard_init_linux.go:219: exec user process caused: exec format error` which means that the binary cannot be executed. I've opened an issue about it https://github.com/kubernetes-sigs/minibroker/issues/120

[2021-01-03 15:58] achrinza commented on #2869
This should be updated command:

[code]

[2021-01-03 16:09] jiayihu opened #2871 "Can't register any broker, the webhook request times out"
# Bug Report

**What happened**: I've installed the catalog chart but I can't register any broker. I've tried with both a custom broker and `ups-broker`. This is the error no matter how I try it (both with `svcat` and YAML)

[code]

**What you expected to happen**: Being able to register the broker

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need

[2021-01-03 16:12] jiayihu commented on #2871
I have checked the broker `ups-broker` is live and reachable via DNS from the `catalog` namespace. For instance I can `k exec -ti dnsutils -n catalog -- wget --header="X-Broker-API-Version: 2.16" -O - http://ups-broker-ups-broker.ups-broker/v2/catalog`

[2021-01-04 01:47] jiayihu commented on #2871
Okay I was able to solve the issue, it was an issue in my node hosting the catalog. I noticed the node wasn't able to send back the responses to the master because it was missing the `ip route` to handle packets with master's IP. The `flannel.1` interface was missing for the master IP.

These are the steps I've taken to debug. Your issue might be different, but I hope this helps:

- Check if the p

[2021-01-04 01:47] #2871 closed

[2021-01-04 10:20] kjaksik opened #2872 "Metrics not recognizing ServiceBroker and ClusterServiceBroker"
# Bug Report

**What happened**:

Metrics from ServiceBrokers and ClusterServiceBrokers can be overwritten by any other Broker with the same name, even if another namespace.

**What you expected to happen**:

Different brokers to have separate metrics.

**How to reproduce it (as minimally and precisely as possible)**:

- Register a ClusterServiceBroker with one ClusterServiceClass
- Register a Ser

[2021-01-04 10:22] kjaksik commented on #2872
My idea to fix that would be to add a suffix with the namespace name to ServiceBrokers metrics [here](https://github.com/kubernetes-sigs/service-catalog/blob/master/pkg/controller/controller_servicebroker.go#L358) and [here](https://github.com/kubernetes-sigs/service-catalog/blob/master/pkg/controller/controller_servicebroker.go#L432)

[2021-01-05 11:51] kjaksik commented on #2869
It also happens during CI pipelines. Helm in version 2.16.7 had the repo hard coded and `helm init` tried to reach this repo. Should be fixed in #2873

[2021-01-07 13:15] #2872 closed

[2021-01-10 13:37] jhvhs commented on #2869
Fixed the documentation in #2875

[2021-01-10 13:37] #2869 closed

[2021-01-10 13:38] jhvhs commented on #2868
Duplicate of #2869
Documentation fixed in #2875

[2021-01-10 13:38] #2868 closed

[2021-01-10 13:42] jhvhs commented on #2856
@dekiel Can we close this issue?

[2021-01-10 13:44] jhvhs commented on #2846
@freegroup Can we close this issue?

[2021-01-11 04:55] subhankarc commented on #2845
/remove-lifecycle stale

[2021-01-13 09:52] jhvhs commented on #2838
/remove-lifecycle rotten

[2021-01-14 14:36] jhvhs commented on #2840
/remove-lifecycle rotten

[2021-01-14 16:25] #2836 closed

[2021-01-18 13:14] dekiel commented on #2856
Thanks guys for explanation and help. Before fix, adding servicePlanExternalName did the trick.

[2021-01-18 13:14] #2856 closed

[2021-01-25 11:44] abhinavgargin opened #2878 "Originating identity missing while Instance creation"
# Bug Report

**What happened**: Originating identity is not propagating in case of service instance creation. My team is using a service account to operate as a platform component. When a user(application developer) sends a request to create an instance, the created instance has our service-account as the username/userid. The originating identity flag has been set to true and I can see the user d

[2021-02-04 19:44] bkochendorfer commented on #2839
@garaghav Did you find a solution to this problem? I am currently facing the same issue.

[2021-02-04 19:45] bkochendorfer commented on #2839
/remove-lifecycle rotten

[2021-02-04 19:45] bkochendorfer commented on #2839
/reopen

[2021-02-05 00:47] jhvhs commented on #2839
/reopen

[2021-02-22 18:35] jberkhahn commented on #2857
per the discussion at the 2/22 meeting today, here's the process for contributing existing repositories to the sig:

1. A SIG chair has to open a "Repository creation/migration" issue at [kubernetes/org](https://github.com/kubernetes/org). They'll have to fill out who should have access to the repo and stuff like that, but it should be pretty straightforward
2. The donated repos have to satisfy [t

[2021-02-24 14:24] juldrixx commented on #2825
Hi, I've got the same issue. Is it possible to add a test to check whether the annotation field is empty or not ?

[2021-02-25 15:50] #2846 closed

[2021-02-25 18:58] jhvhs commented on #2855
/frozen

[2021-02-25 18:58] jhvhs commented on #2855
/freeze

[2021-02-25 18:59] jhvhs commented on #2855
/remove-lifecycle stale
/lifecycle frozen

[2021-02-26 14:44] t3mi commented on #2821
/remove-lifecycle stale

[2021-03-03 07:59] nishchit opened #2883 "[question][help wanted] How to block Secret deletion till ServiceBinding is exists."
We create serviceinstance, then create servicebinding which internally creates a secret with credentials provided by the servicebroker . But we can delete that secret and binding will be still in ready state.
Could we  block the deletion of secret till servicebinding exists ?

Steps :
1. Create a ServiceInstance
1. Create a ServiceBinding with above serviceInstance as instanceRef
1. Above ServiceB

[2021-03-04 08:25] tobiasgiese commented on #2838
closed mistakenly

[2021-03-05 00:17] jhvhs commented on #2857
Please take a look at the proposed changes to the SIG charter. The purpose of the changes is to widen the scope to include projects that would not necessarily be OSBAPI specific, and might be specifications rather than implementations, but would still serve the same purpose.
Link: https://docs.google.com/document/d/1ElbThBA2sT2Q6PxoPcCX2k_grG9VHUSDeanrP7r9now/edit?usp=sharing

[2021-03-05 16:23] jhvhs commented on #2844
/reopen

[2021-03-25 09:11] guanxingfeng commented on #2676
Is polling-interval-and-duration still not supported? I failed  test in version catalog-0.2.2
![image](https://user-images.githubusercontent.com/25924966/112448120-03e24e00-8d8d-11eb-954e-2513a55b892a.png)

https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#polling-interval-and-duration
![image](https://user-images.githubusercontent.com/25924966/112447724-99311280-8d8c-11eb-

[2021-03-29 22:40] jhvhs commented on #2813
/remove-lifecycle stale

[2021-04-04 16:43] #2844 closed

[2021-04-12 08:34] jhvhs commented on #2845
/remove-lifecycle stale
/frozen

[2021-04-19 14:14] phil9909 commented on #1109
/reopen

[2021-04-19 14:22] phil9909 commented on #1109
@nilebox We are facing the same problem currently. Could you work around it?

We would consider contributing a fix, if the broader community is interested.

We had something similar in mind.  Maybe something like:
[code]
Would cause the controller to store the whole credentials object in the key `credentials` of the secret `my-secret`

[2021-04-19 18:19] Avni-Sharma opened #2885 "Broken link kubernetes-incubator"
The link under https://github.com/kubernetes-sigs/service-catalog#kubernetes-incubator is broken for kubernetes incubator project

[2021-04-19 23:02] jhvhs commented on #1109
/reopen

[2021-04-20 11:46] phil9909 commented on #1109
@Haegi and I did a quick PoC on this and created a Draft PR: #2886.
Please let us know what you think about this.

[2021-04-23 15:31] #2853 closed

[2021-04-28 10:24] #2825 closed

[2021-04-28 16:44] gberche-orange opened #2887 "Add support for syslog_drain_url binding response in secret"
# Feature request

As a service catalog user
* in order to consume log management services exposed through [OSB API Log Drain services](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#log-drain)
* I need service catalog to include the result of [BindingResponse.syslog_drain_url field](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#body-9) in the

[2021-04-29 22:00] jhvhs commented on #2807
/reopen
/remove-lifecycle rotten

[2021-05-06 12:51] #2835 closed

[2021-05-10 16:16] #2859 closed

[2021-05-20 12:30] phil9909 commented on #1109
To us this is still relevant and we are wating for feedback on #2886

/reopen
/remove-lifecycle rotten

[2021-05-20 13:46] jhvhs commented on #1109
/reopen
/remove-lifecycle rotten

[2021-05-20 15:02] gberche-orange commented on #2853
@szeort I just experienced this same problem using `helm upgrade` instead of `helm install` which seems consistent with the fact that the migration tool is configured to run as a [post-upgrade helm hook](https://helm.sh/docs/topics/charts_hooks/)

https://github.com/kubernetes-sigs/service-catalog/blob/880e4007005c6848c6720150f5269499071cfbad/charts/catalog/templates/migration-job.yaml#L91-L101

D

[2021-05-20 15:04] gberche-orange opened #2888 "Helm value controllerManager.replicas is overriden to 1 during helm upgrade"
# Bug Report

**What happened**:

When setting `controllerManager.replicas=3` during a `helm upgrade` command, then the controllerManager Deployment replicas is observed to remain at 1 (its default value)

https://github.com/kubernetes-sigs/service-catalog/blob/880e4007005c6848c6720150f5269499071cfbad/charts/catalog/values.yaml#L51-L52

After much debugging effort, the Deployment.replica is actual

[2021-05-20 15:31] gberche-orange opened #2889 "Migration restore job is executed regardless of backup being triggered, creating controller downtime"
# Bug Report

**What happened**:

Each time a `helm upgrade` command is run, the job migration from service catalog 0.2.0 to 0.3.0 is run, creating controller downtime as the following trace of the migration job output shows

[code]

**What you expected to happen**:

The migration job should only trigger if the current installation is still running a 0.2.x version.

The helm builtin values do not

[2021-05-21 08:32] gberche-orange commented on #2809
A side effect of the use of the deprecated is that `helm install` or `helm upgrade` issue warning messages such as `apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition`

Also, while Helm is not supporting CRD uninstallation natively anymore as documented into
https://helm.sh/docs/chart_best_pract

[2021-05-30 20:14] aayushrangwala commented on #2807
/assign

[2021-06-03 13:39] jhvhs commented on #2857
/remove-lifecycle stale
/frozen

[2021-06-13 16:07] #2840 closed

[2021-06-17 07:54] shivaburade opened #2892 "Migrating to travis-ci.com"
# Bug Report

**What happened**:
The travis-ci.org site will not run any new builds after June 15th, 2021.
Do we have any plans to migrate the repository to travis-ci.com? This is important for architectures like s390x which have CI support through Travis only.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-06-17 08:51] jhvhs commented on #2892
Thank you for bringing attention to the travis-ci.org. We do intend to move the builds in the near future. I'll keep this issue open until the migration is complete.

[2021-06-24 13:31] #2878 closed

[2021-06-29 01:18] xiaozhangcoach opened #2893 "How to prohibit the use of cipher suites containing CBC symmetric cryptographic algorithm in the TLS protocol to violate redline requirements?"
# Bug Report

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- service-catalog version:
- Cloud provider or hardware configuration:
- Do you have api aggregation enabled?
  - Do you see the configmap in kube-system?
  - Does i

[2021-06-30 10:59] jayeshjk opened #2894 "Support for asynchronous binding operations"
# Bug Report

**What happened**:
OSB Specification introduced support for asynchronous binding operations in [v2.14](https://github.com/openservicebrokerapi/servicebroker/blob/v2.14/spec.md#changes-since-v213) . For this, the platform should include `accepts_incomplete=true` query parameter in binding request. We observed that, this parameter is not being included by default in the binding request

[2021-07-05 01:51] #2839 closed

[2021-07-07 11:10] maratbadretdinov opened #2895 "ServiceInstance in DeprovisionBlockedByExistingCredentials cannot be reverted to Provisioned"
# Bug Report

**What happened**: When by mistake user or process deletes ServiceInstance but there are still bindings linked to that then ServiceInstance moves to DeprovisionBlockedByExistingCredentials state, and user doesn't have an option to revert deletion back to Provision state.

**What you expected to happen**: It is logical and very useful to have a command for that, e.g. "svcat undo insta

[2021-07-19 09:15] tobiasgiese commented on #2838
/remove-lifecycle rotten

[2021-07-21 11:42] shivaburade commented on #2892
Thank you for your response. Is there any updates on this?

[2021-07-26 17:44] jhvhs commented on #2892
Other projects have been struggling with the new travis infrastructure, as well as their pricing model. We'll have to explore other options for running our tests on all supported platforms.

[2021-07-27 00:18] #2821 closed

[2021-07-29 09:28] shivaburade commented on #2892
@jhvhs Could you please elaborate more on the issues/struggles faced by the projects due to the new Travis infrastructure?

As per the Travis [blog](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing), Travis fully supports the OSS teams and allocates them more credits after they apply for the same.
Could you please open a request with Travis CI support stating that you'd like to be consi

[2021-07-31 10:20] #2883 closed

[2021-08-18 07:30] gberche-orange commented on #2887
/remove-lifecycle stale

[2021-08-18 16:44] gberche-orange commented on #2888
/remove-lifecycle stale

[2021-08-20 07:28] gberche-orange commented on #2889
/remove-lifecycle stale

[2021-08-25 09:59] shivaburade commented on #2892
@jhvhs any updates?

[2021-09-02 00:21] scothis commented on #2857
/remove-lifecycle stale

[2021-09-16 20:18] #2885 closed

[2021-09-26 10:06] duanhongyi opened #2900 "Add multi arch docker image support"
I need to use service catalog on both arm64 and AMD64 platforms; Now the official image does not support multi arch; So I use the following command to build it myself:

[code]

I hope the official image supports multi arch.

[2021-09-29 05:33] jayeshjk commented on #2894
/remove-lifecycle stale

[2021-09-30 23:50] #560 closed

[2021-09-30 23:50] #763 closed

[2021-10-29 09:01] duanhongyi opened #2901 "Is this project no longer maintained？"
If the answer is yes, is there an alternative; My colleagues and I maintain the [drycc](https://github.com/drycc/workflow) project together. In the drycc project, we use service-catalog.

If no one maintains the project, my colleagues and I can consider taking over it.

[2021-10-29 10:43] yanweininenine opened #2902 "Cannot set blockOwnerDeletion when injecting bind result to secret"
# Bug Report

**What happened**:
1、Servicecatalog 0.3.1 was installed in my k8s cluster
2、When I do the binding operation,  I get a failure. The error message is as flows:
Warning  ErrorInjectingBindResult  4s (x13 over 27s)  service-catalog-controller-manager  Error injecting bind result: Unexpected error creating Secret "default/kundb03binding": secrets "kundb03binding" is forbidden: cannot set

[2021-11-03 14:00] rradillen commented on #2859
/reopen /remove-lifecycle rotten

[2021-11-03 14:02] rradillen commented on #2859
We are still experiencing this issue
/sig sig-service-catalog

[2021-11-03 14:03] rradillen commented on #2859
/sig service-catalog

[2021-11-03 15:46] rradillen commented on #2859
/reopen

[2021-11-09 20:38] jberkhahn commented on #2901
Hey there,

Not much active development. Really the only still active person is @jhvhs. If you're interested in contributing to the project, I'd message them about it.

[2021-11-12 02:08] duanhongyi commented on #2901
Please help us convey, that our GitHub ID is:

@duanhongyi
@jianxiaoguo

[2021-11-16 09:53] #2838 closed

[2021-11-24 12:46] poblin-orange opened #2905 "support dry-run validationwebhook"
# Bug Report

**What happened**:

service catalog is not compatible with fluxcd > 0.18, which uses dry-run.

[code]

**What you expected to happen**:

Id expect the dry run mode to be effective, so i can provision service catalog with fluxcd.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2021-11-26 02:24] #2893 closed

[2021-11-30 00:09] sftim commented on #1678
Also see https://github.com/kubernetes/website/issues/30645

[2021-11-30 00:09] sftim commented on #1798
Also see https://github.com/kubernetes/website/issues/30645

[2021-12-02 12:47] sheena1537 opened #2906 "unable to install service catalog using helm 3"
**helm install catalog svc-cat/catalog --namespace catalog --version 0.3.1** command gives the following error

Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1", unable to recognize "": no matches for kind "ClusterRole" in version "rbac.authorizatio

[2021-12-04 12:11] #2895 closed

[2021-12-04 13:15] poblin-orange commented on #2906
Wich k8s version do you use (we install it successfully on k3s 1.20)

[2021-12-08 09:59] shivaburade commented on #2892
@jhvhs any updates?

[2021-12-09 15:23] Maellooou opened #2907 "Admin user not able to provision serviceinstance"
# Bug Report

**What happened**:

I installed the service catalog and I try as admin user (not cluster-admin) to create a serviceinstance on my namespace.
I installed only a clusterservicebroker.
I have the following error :

`User "titi" cannot get resource "serviceinstances" in API group "servicecatalog.k8s.io" in the namespace "toto"`

**What you expected to happen**:
I would like to create my

[2021-12-28 17:22] anoopjb commented on #2894
/remove-lifecycle stale

[2022-01-07 07:02] duanhongyi opened #2908 "a new service-catalog fork"
It seems that this project has not been maintained for a long time. We try to take over it. But there was no response, so we temporarily established a fork whose address is:

github: https://github.com/drycc/service-catalog
website: https://service-catalog.drycc.cc/docs/install/
charts: https://charts.drycc.cc/testing/catalog

We have upgraded Kube's API as a whole, and it runs well on versions ab

[2022-01-10 14:23] wojtek-t opened #2909 "Stop relying setting RemoveSelfLink=false feature-gate - we're locking it to true with GA graduation in 1.24"
Upstream Kubernetes is going to get rid of ability to set SelfLink in release 1.24 (basically graduate graduate RemoveSelfLink feature gate to stable - see the KEP https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1164-remove-selflink, for a bit more details).

It seems that volcano is still vendoring Kubernetes version that is setting it to false:
https://github.com/ku

[2022-01-12 14:04] breygonsnow commented on #2906
It appears the chart refers to deprecated artifacts as of 1.22.  Example:

“The apiextensions.k8s.io/v1beta1 API version of CustomResourceDefinition is no longer served as of v1.22.”

[2022-01-15 09:26] #2887 closed

[2022-01-15 18:32] #2888 closed

[2022-01-17 08:42] #2889 closed

[2022-01-30 01:19] #2857 closed

[2022-02-01 14:37] Maellooou opened #2910 "Upgrade "catalog" failed on pre-upgrade"
# Bug Report

**What happened**:

I deployed catalog 0.3.1 with helm3 and I can't upgrade it.

**How to reproduce it (as minimally and precisely as possible)**:
I want to change the parameter "enablePrometheusScrape" to "true". So I update my values.yaml and  run
`helm3 upgrade catalog svc-cat/catalog --namespace catalog --values values.yaml --debug`

But I have the following issue :

`
upgrade.go

[2022-02-01 16:13] Maellooou commented on #2910
After more investigation, the issue is linked to the wrong identation on pre-migration-job.yaml

`
[code]
`

The storageClassName is on the same level than **storage** but should be on **ressources** level :

`
[code]
`

[2022-02-09 09:18] mhlts opened #2912 "download.svcat.sh not available"
According to the https://svc-cat.io/docs/install/ guide the releases are published to https://download.svcat.sh/cli/latest/linux/amd64/svcat but looks like the link is down

[2022-02-10 07:57] #2912 closed, assigned to nobody

[2022-02-24 08:22] yanqingjin commented on #2906
any updates on this issue? We are facing the same error when installing service catalog v0.3.1 to K3S v1.23.3+k3s1.

[2022-03-08 11:16] shivaburade commented on #2892
/remove-lifecycle stale

[2022-03-08 11:16] shivaburade commented on #2892
@jhvhs any updates?

[2022-03-28 11:15] #2902 closed

[2022-04-01 23:20] mrbobbytables opened #2913 "Is this project in use by anyone?"
At this time, the kubernetes project is considering archiving this project. It may still be forked and maintained externally, however there does not appear to be enough momentum in project to keep it going.

If you are a user of this project, please chime in on this thread.

[2022-04-05 10:03] piotrmiskiewicz commented on #2913
We are using Service Catalog in SAP, but only for next few weeks. We are planning to remove it from Kyma.

[2022-04-07 08:29] jpp06 commented on #2913
We are using this project at OrangeFrance to ease marketplace services usage in our K8s multi-tenant clusters.
As we also build and run CF clusters, ServiceCatalog offers our customers a similar user experience in both environments :

- OSB
- Easy service broker enrolment
- Easy service subscription

Even if SC was already nearly inactive when we started, we choose it as we did not find any approp

[2022-04-08 21:26] nikileshsa commented on #2913
We are using service catalog at Cisco for providing managed data services in k8s clusters for multiple internal use-cases.

[2022-04-11 02:51] #2901 closed

[2022-04-11 15:44] gsingh2712 commented on #2913
We are using it at JPMorganChase for providing MarketPlace Services on  K8s clusters

[2022-04-11 22:21] siennathesane commented on #2913
We're evaluating using it at Ada to provision internal platform services.

[2022-04-14 21:19] Samze opened #2914 "Implement the ProvisionedService duck type as defined in https://github.com/servicebinding/spec"
# Feature
The [k8s binding spec](https://github.com/k8s-service-bindings/spec) provides a mechanism for automatically mounting a secret with Service credentials into an Application. This is somewhat similar to the Cloud Foundry mechanism of [VCAP_SERVICES](https://docs.cloudfoundry.org/devguide/deploy-apps/environment-variable.html#VCAP-SERVICES).

If the service-catalog binding resource implement

[2022-04-18 13:17] mrbobbytables commented on #2913
At this time, we're likely to try and move to the Cloud Foundry Foundation (if they want the projects). There isn't enough momentum here in K8s to keep things going and most of the consumers are using it through Cloud Foundry.

[2022-04-20 18:01] 2rs2ts commented on #2913
We are using it at Braintree. Quite a lot, actually. We're ramping up using it for RDS databases, and have used it for a lot of S3 buckets too.

[2022-04-23 14:47] #2905 closed, assigned to nobody

[2022-05-02 04:20] anoopjb commented on #2894
/remove-lifecycle rotten

[2022-05-06 14:18] mrbobbytables commented on #20
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

/close

[2022-05-06 14:18] mrbobbytables commented on #36
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

/close

[2022-05-06 14:18] #20 closed

[2022-05-06 14:18] mrbobbytables commented on #72
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

/close

[2022-05-06 14:18] mrbobbytables commented on #113
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

/close

[2022-05-06 14:19] mrbobbytables commented on #165
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

/close

[2022-05-06 14:19] mrbobbytables commented on #453
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

/close

[2022-05-06 14:19] #453 closed

[2022-05-06 14:19] #72 closed

[2022-05-06 14:20] #113 closed

[2022-05-06 14:20] #165 closed

[2022-05-06 14:20] mrbobbytables commented on #497
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:20] #497 closed

[2022-05-06 14:20] mrbobbytables commented on #571
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:20] #571 closed

[2022-05-06 14:22] mrbobbytables commented on #2914
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:22] #2914 closed, assigned to nobody

[2022-05-06 14:22] mrbobbytables commented on #2913
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:22] #2913 closed, assigned to nobody

[2022-05-06 14:22] mrbobbytables commented on #2910
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:22] #2910 closed, assigned to nobody

[2022-05-06 14:22] mrbobbytables commented on #2909
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:22] #2909 closed, assigned to nobody

[2022-05-06 14:22] mrbobbytables commented on #2908
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:22] #2908 closed, assigned to nobody

[2022-05-06 14:22] mrbobbytables commented on #2907
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:22] #2907 closed, assigned to nobody

[2022-05-06 14:22] mrbobbytables commented on #2906
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:22] #2906 closed, assigned to nobody

[2022-05-06 14:23] mrbobbytables commented on #2892
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:23] #2892 closed

[2022-05-06 14:23] mrbobbytables commented on #2894
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:23] mrbobbytables commented on #2855
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:23] #2855 closed

[2022-05-06 14:23] mrbobbytables commented on #2845
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:23] #2845 closed

[2022-05-06 14:23] mrbobbytables commented on #2820
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:23] #2820 closed

[2022-05-06 14:23] mrbobbytables commented on #2813
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:23] #2813 closed

[2022-05-06 14:23] mrbobbytables commented on #2809
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:23] #2809 closed

[2022-05-06 14:24] mrbobbytables commented on #2785
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:24] #2785 closed

[2022-05-06 14:24] mrbobbytables commented on #2745
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:24] #2745 closed

[2022-05-06 14:24] mrbobbytables commented on #2734
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:24] #2734 closed

[2022-05-06 14:24] mrbobbytables commented on #2726
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:24] #2726 closed

[2022-05-06 14:25] mrbobbytables commented on #2724
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:25] #2724 closed

[2022-05-06 14:25] mrbobbytables commented on #2701
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:25] #2701 closed

[2022-05-06 14:25] mrbobbytables commented on #2700
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:25] #2700 closed

[2022-05-06 14:25] mrbobbytables commented on #2698
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:25] #2698 closed

[2022-05-06 14:25] mrbobbytables commented on #2677
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:25] #2677 closed

[2022-05-06 14:25] mrbobbytables commented on #2676
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:25] #2676 closed

[2022-05-06 14:25] mrbobbytables commented on #2675
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:25] #2675 closed

[2022-05-06 14:26] mrbobbytables commented on #2674
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:26] #2674 closed

[2022-05-06 14:26] mrbobbytables commented on #2673
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:26] #2673 closed

[2022-05-06 14:26] mrbobbytables commented on #2670
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:26] #2670 closed

[2022-05-06 14:26] mrbobbytables commented on #2661
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:26] #2661 closed

[2022-05-06 14:26] mrbobbytables commented on #2657
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:26] #2657 closed

[2022-05-06 14:26] mrbobbytables commented on #2638
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:26] #2638 closed

[2022-05-06 14:26] mrbobbytables commented on #2637
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:26] #2637 closed

[2022-05-06 14:26] mrbobbytables commented on #2635
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:26] #2635 closed

[2022-05-06 14:26] mrbobbytables commented on #2554
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:26] #2554 closed

[2022-05-06 14:27] mrbobbytables commented on #2502
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:27] #2502 closed

[2022-05-06 14:27] mrbobbytables commented on #2479
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:27] #2479 closed

[2022-05-06 14:27] mrbobbytables commented on #2478
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:27] #2478 closed

[2022-05-06 14:27] mrbobbytables commented on #2357
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:27] #2357 closed

[2022-05-06 14:27] mrbobbytables commented on #2349
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:27] #2349 closed

[2022-05-06 14:27] mrbobbytables commented on #2348
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:27] #2348 closed

[2022-05-06 14:27] mrbobbytables commented on #2344
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:27] #2344 closed

[2022-05-06 14:27] mrbobbytables commented on #2229
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:27] #2229 closed

[2022-05-06 14:28] mrbobbytables commented on #2039
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:28] #2039 closed

[2022-05-06 14:28] mrbobbytables commented on #2035
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:28] mrbobbytables commented on #2030
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:28] #2030 closed

[2022-05-06 14:28] mrbobbytables commented on #2009
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:28] #2009 closed

[2022-05-06 14:28] mrbobbytables commented on #1968
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:28] #1968 closed

[2022-05-06 14:28] mrbobbytables commented on #1950
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:28] #1950 closed

[2022-05-06 14:28] mrbobbytables commented on #1938
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:28] #1938 closed

[2022-05-06 14:29] mrbobbytables commented on #1928
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:29] #1928 closed

[2022-05-06 14:29] mrbobbytables commented on #1830
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:29] #1830 closed

[2022-05-06 14:30] mrbobbytables commented on #1798
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:30] mrbobbytables commented on #1736
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:30] mrbobbytables commented on #1726
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:30] mrbobbytables commented on #1678
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:30] #1798 closed

[2022-05-06 14:30] #1726 closed

[2022-05-06 14:30] mrbobbytables commented on #1309
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:30] #1309 closed

[2022-05-06 14:31] mrbobbytables commented on #990
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:31] #990 closed

[2022-05-06 14:31] mrbobbytables commented on #984
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:31] #984 closed

[2022-05-06 14:31] mrbobbytables commented on #914
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:31] #914 closed

[2022-05-06 14:31] mrbobbytables commented on #909
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:31] #909 closed

[2022-05-06 14:31] mrbobbytables commented on #815
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:31] #815 closed

[2022-05-06 14:32] mrbobbytables commented on #606
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:32] mrbobbytables commented on #711
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:32] mrbobbytables commented on #805
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:32] #805 closed

[2022-05-06 14:32] mrbobbytables commented on #811
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:32] #811 closed

[2022-05-06 14:32] mrbobbytables commented on #813
This project is being archived, closing open issues and PRs.
Please see this PR for more information: https://github.com/kubernetes/community/pull/6632

[2022-05-06 14:32] #813 closed