[2016-10-19 20:19] arschles opened #14 "Design document for API"
This is a compound issue. It includes the following TODO items, preferably done in this order:
- [x] Propose and agree on common terms in the service catalog / broker space (#15)
- [x] Propose and agree on Kubernetes resource types for service catalogs (#16)
- [x] Propose and agree on API level policies. Examples are listed below. Note that the answers to these questions may affect the existence a

[2016-10-25 04:23] pmorie opened #20 "Meta: Use case documentation"
As discussed in the 20161024 SIG meeting, we should finalize the use cases for the v1 milestone of service catalog.

Use cases articulated during the meeting:
1.  Adding service brokers into catalog
2.  Catalog curation: which broker-provided services are globally visible?
3.  Catalog curation: which namespaces can see which catalog services?
4.  As a consumer of a service, how do I indicate that

[2016-10-25 19:03] westonh commented on #20
As an addendum to 1. Is there an auth story for adding service brokers? Presumably yes since we want to support private catalogs.

[2016-10-25 19:40] pmorie commented on #20
Arguably most important, as @bgrant0607 pointed out in his post to the mailing list, what does consuming a service look like to a user?

[2016-10-25 19:49] westonh commented on #20
A few others:

- Does my catalog list not only my service types but also my instances? E.g., I have a dev cluster running on my local machine and I want to connect my application with a database that exists in a test cluster. How do I find that database instance?

- Importing a list of brokers: If I have a remote cluster with a service controller that has _n_ brokers registered, how can I import t

[2016-10-25 20:00] slack commented on #20
Would it be helpful to group these use cases? Something like:

## Catalog Publishing/Curation/Discovery

* (1) Adding service brokers into catalog
* (2) Catalog curation: which broker-provided services are globally visible?
* (3) Catalog curation: which namespaces can see which catalog services?
* How are services identified: name, service name/id, plan name/id?

## Requesting Services (Consumer)

[2016-10-25 20:03] westonh commented on #20
+1, this is great.

[2016-10-26 01:01] slack commented on #20
Comments on this issue have been folded into #23.

[2016-10-27 02:03] pmorie commented on #20
Reopening, because I think there is another set of use-cases we haven't talked through: use-cases for producing services (ie, how do I run my own service broker)

[2016-10-27 04:43] bgrant0607 commented on #20
@pmorie Aren't we just focusing on consumption of blackbox services at this point?

[2016-10-27 20:46] slack opened #27 "Gather use cases for Service Producers"
This issue will be a bucket to hold use cases focused on issues service producers are facing. After we have a solid set we can organize them into a document and review in a sig meeting.

[2016-10-28 14:56] pmorie commented on #27
Off the top of my head, a couple basic ones:

1.  As an operator of an existing service broker, I want my broker to be usable from the Kubernetes service catalog, so that I can widen my user base
2.  As a Kubernetes user, I want to be able to run my own service broker so that I can join the SB ecosystem
3.  As a Kubernetes user, I want to be able to run my own service broker so that I can share se

[2016-10-28 15:56] duglin commented on #27
For service providers, I think most of my thoughts focus on making their life easier w.r.t. creating brokers. So, offering sample/template service brokers would be good so users can just plug-in their specific code when asked to provision/bind.

I guess if we assumed a very simplistic model of a K8s service == one of our service instances, such that a provision call is just deploying another insta

[2016-11-01 17:11] arschles commented on #27
As discussed in yesterday's SIG meeting, I think we should include the following use case:

- I am an owner of a SaaS product
- I want to allow any Kubernetes cluster operator to add my services to their cluster's catalog
- I have not built a CF service broker to interoperate with my SaaS product

[2016-11-04 17:13] pmorie opened #32 "Use case: user-provided service instances"
[User-provided services](https://docs.cloudfoundry.org/devguide/services/user-provided.html) in Cloud Foundry are a way to share services which do not appear in the CF marketplace.  Applications can bind to user-provided services and receive credentials as they would with ordinary broker based services, with the caveat that the credentials are the same for every app that binds to the service insta

[2016-11-07 21:52] judkowitz opened #36 "Metadata for tracking instance to deployed artifacts to enable service graphs"
At the offsite, we discussed how to make service graphs.  We have almost everything we need in the current design except a way to map instances to instances.  Namespaces/label-selectors bind to instances so if we want to figure out the instance to instance binding, we need to have the instance to namespace/label-selector mapping so that we can traverse the chain (permissions allowing).

This is pr

[2016-11-08 05:04] duglin commented on #36
To restate this w/o using the word "instance" on both sides.... I think what's being asked for is:
how do we go from a consumer's 'service instance' resource to the K8s deployment artifacts that make up that instance?

For example, when a consumer asks for an instance of a mongoDB, the consumer can see a "serviceInstance" resource but at best there's just a reference to that instance's access coor

[2016-11-19 02:05] pmorie commented on #27
I think we have covered this one in spirit well enough for now that I'm comfortable closing the issue.

[2016-11-19 02:59] pmorie opened #39 "Create consensus on unbind"
In the F2F meetings in Boulder and Seattle, we made significant progress on the provision/bind workflow.  We still need to explore the API flows for unbind.  Some quick thoughts:

#### Indicating intention to unbind

The current precedent for this type of thing in kubernetes is to delete the resource to release it.  For example, to unbind a PV from a PVClaim, you delete the claim.  Here's a wrinkl

[2016-11-19 12:01] duglin commented on #39
Sounds reasonable. Related to this is the entire discussion of how 'status' is represented in our resources - status vs conditions, etc.  The topic Brian brought up.

[2016-11-20 02:52] pmorie commented on #39
A similar concern exists for deprovision -- finalization of `Instance` is needed to support accepting a delete request and then having the service catalog controller take actions to ensure the deprovision is done for the `Instance` before it is ultimately deleted.

[2016-11-20 05:56] arschles commented on #39
Has a decision been made on what happens to existing Bindings when a deletion/finalization is made on an Instance?

Sent from my iPhone

[2016-11-20 15:19] duglin commented on #39
*if* the delete on the instance is allowed to happen (due to it still being used) then I would think all bindings for that instance would be deleted too.

[2016-11-22 02:31] pmorie commented on #32
We agreed at the face to face that we will not support user-provided service instances in a first-class way.  All service instances come from service classes, and all service classes come from a broker.  Closing this issue.

[2016-11-22 02:31] #32 closed

[2016-11-22 02:44] pmorie opened #45 "Create consensus on service plans"
We have not yet made an agreement as a group about whether service plans are an API resource or a type subordinate to `ServiceClass`.  I personally do not think that plans warrant a resource at this point -- they are more of an attribute of service classes than they are a first-level thing in the API.  Additionally, I do not think there is enough information about them to warrant an API resource.

[2016-11-22 02:50] pmorie commented on #39
@arschles

Not at all.  I'm about to create an issue for it.

[2016-11-22 02:53] pmorie commented on #39
Edited out the 'deprovision' bits of this issue -- spinning into a new issue.

[2016-11-22 05:35] pmorie opened #46 "Create consensus on deprovision"
Forking from #39

We need to establish a consensus for the API mechanics for deprovision.  I think this can be similar to the mechanics described in #39.  This would go something like:

1.  In order to deprovision an instance, a user issues a DELETE request for that `Instance`
2.  The REST API endpoint accepts the request and updates the status of the Instance to show that it is being finalized
3.

[2016-11-22 05:39] pmorie opened #47 "Set up a basic CI"
We need someone to volunteer to set up and tend a basic CI setup for the service catalog.  We will undoubtedly increase complexity of the CI setup as we go, and can graduate to more sophisticated setups, but travisci is probably sufficient for the next couple weeks.

Any takers?

@kubernetes-incubator/maintainers-service-catalog

[2016-11-22 17:38] arschles opened #49 "Codify how asynchronous provision and deprovision responses are handled in the service catalog controller"
See https://github.com/kubernetes-incubator/service-catalog/pull/40/files#diff-7bc5ab85846e6317175a21b5acb68061R65

Acceptance criteria for this issue:

- Documentation that describes how the controller should modify the `status.state` fields of relevant Kubernetes resources when it receives an asynchronous response
- Documentation that describes, at a high level, what logic the controller should

[2016-11-22 17:41] arschles opened #50 "Document code review / merge protocol"
To approve a PR, 3 committers must LGTM it. We should create PR labels so that committers can simply label a PR if they have LGTM-ed it. Additionally, the labels should accommodate the veto policy.

[2016-11-22 17:55] duglin commented on #50
I wonder if using PullApprove would be good - it won't let the PR be merged until a certain # of people have LTGM'd it.  Then we don't need any more process than just an LGTM comment, like normal.

[2016-11-28 21:49] pmorie opened #51 "Move brokers and examples to contrib"
...as agreed to in the SIG:

brokers directory will move to contrib/brokers
examples directory will move to contrib/examples

[2016-11-29 15:09] krancour commented on #50
fwiw, what we have found at Deis is that LGTM1/2/3 labels > LGTM comments for two major reasons. The first is that we found a lot of project followers don't want want to be spammed with notifications for trivial comments. The second, more important reason is that when querying open PRs, review status can be assessed at a glance in an index view.

[2016-11-29 15:20] krancour opened #52 "Clarification: Why does the controller implement the CF service broker API?"
The `controller/server` package seems to implement the CF service broker API. Our (Deis') understanding is that the controller's responsibility is only to watch k8s resources and reify based on events affecting those resources. This obviously does require the controller to act as a _client_ in its interaction with brokers that do implement the CF service broker API, but it's not clear why the cont

[2016-11-29 15:27] pmorie commented on #52
Good question.  I do not think ultimately any controller in service-catalog should implement this or any other service broker API.  Perhaps @vaikas-google or @bmelville can comment on this?

[2016-11-29 15:35] martinmaly commented on #52
Even though the API which the controller implements is not CF service broker API (I am assuming the API implementation @krancour refers to is:
https://github.com/kubernetes-incubator/service-catalog/blob/master/controller/server/server.go#L59) - it is a similar HTTP/JSON api which implements the functionality of registering brokers, creating instances (in a broker-agnostic way) and bindings. It is

[2016-11-29 15:38] martinmaly opened #53 "Rename controller to catalog"
As a result of the initial seed code evolution, the catalog component is named 'controller' rather than catalog. It should be renamed to match the terminology used by the SIG.

Proposal:
 * directory /controller is renamed to /catalog
 * identifiers, or their parts, in the code which refer to the same will be renamed from [Cc]ontroller to [Cc]atalog.
 * update any documentation `*.md` files as wel

[2016-11-29 15:38] krancour commented on #52
@martinmaly thanks for the explanation. Upon closer examination, I see you're correct that it's _not_ the CF service broker API, but rather an API that looks similar.

I would agree. I'll close this and open a separate issue requesting its removal.

[2016-11-29 15:38] #52 closed

[2016-11-29 15:38] pmorie commented on #52
@martinmaly @krancour Sounds like this is going to be subsumed by the API server we create.

[2016-11-29 15:42] pmorie commented on #53
I disagree with this, actually.  The 'controller' is eventually going to be split into two things:

1.  The API server that hosts the API resources
2.  The controller that establishes watches and implements the 'controller' behaviors we discussed in F2F meetings

I have a more fundamental and broad refactoring that I would like to do -- i'll create an issue for that one.

[2016-11-29 15:42] krancour opened #54 "Remove the HTTP/JSON implemented by the controller/server package"
Per discussion in #52, this predates the watch on k8s 3prs of interest to the controller, isn't strictly needed, and should probably be eliminated.

However... I would propose that we do implement a single `/healthz` endpoint to facilitate HTTP-based health checks.

[2016-11-29 15:43] pmorie commented on #54
I would like to avoid adding functionality to the existing controller.  Instead, we need to refactor to the correct architecture ASAP so that we're investing effort in the right way.

[2016-11-29 15:48] martinmaly commented on #53
I'm not opposed to that. My primary concern is that today's controller does things beyond its scope which will be addressed by the refactoring.
Also, my historical bias shows here in that the name controller was picked initially to mean something slightly different, but it turns out it is still applicable to part of the functionality on  @pmorie list :)

[2016-11-29 15:48] #53 closed

[2016-11-29 15:51] martinmaly commented on #54
I'd still support removal of the HTTP surface (less code to then refactor) and if it turns out /healthz-style handler is needed in the future, re-add it. Would that be acceptable?

[2016-11-29 16:05] pmorie commented on #54
Upon further consideration, we can leave the http muxing in, since we will likely need a healthz endpoint in the future for the controller process.

[2016-11-29 17:02] krancour opened #55 "Walkthrough docs missing step"
The walkthrough neglects to document the need for `glide install` to be run prior to building the project.

[2016-11-29 17:09] krancour commented on #55
Nevermind. This seems to be covered by the make `init` target.

[2016-11-29 17:09] #55 closed

[2016-11-29 17:19] krancour opened #56 "Helm chart doesn't follow best practices for specifying namespace"
The Helm chart found in the `deployments` dir configures namespaces through `--set` or a `values.yaml`. This is not how Helm charts are recommended to be written. The recommendation is that `namespace:` be entirely omitted from the metadata for each resource. Operators should specify a namespace when installing a chart by using the `--namespace` flag.

[2016-11-29 18:07] martinmaly commented on #47
I'd be happy to give it a shot, something that does build, lint, runs unit tests (for now). The e2e tests will be tricky because they need to spin up k8s clusters.

There is some setup only repo admin can do (I believe) so one of the admins will need to do that.

[2016-11-29 18:59] arschles commented on #46
I'm good with the algorithm described above, and cascading deletes

[2016-11-29 19:11] arschles opened #58 "Move top-level Go code under the 'pkg' directory"
This directory structure follows what kubernetes/kubernetes does. We may have other directories in the future that have Go code in them, but this issue starts with moving code just to `pkg`

cc/ @pmorie

[2016-11-29 19:21] pmorie commented on #58
Agree that we should do this.

[2016-11-29 19:24] martinmaly commented on #58
Will all import paths then need to include "pkg" or is "pkg" directory somehow special in that it gets auto-resolved during golang package resolution?

[2016-11-29 19:25] pmorie commented on #58
Yep, all import paths need to include the full path.

[2016-11-29 19:50] pmorie commented on #56
I can't assign this to @krancour yet, but he's working on this one.

[2016-11-29 19:52] martinmaly commented on #58
do we want to do that? pollute all paths with pkg?

[2016-11-29 19:57] pmorie commented on #58
@martinmaly Many go projects do this -- Kubernetes is one.

[2016-11-29 20:04] arschles commented on #58
for context, one of the reasons I created this issue is to move our codebase closer in structure to that of kubernetes/kubernetes

[2016-11-29 20:11] arschles opened #59 "Proposal: vendor all Go code dependencies in this directory"
Currently, we have glide files, but the code dependencies (in the `vendor` directory) are not checked in. To bring this repository closer in structure and style with kubernetes/kubernetes, I propose checking in the vendor directory alongside the glide files.

cc/ @pmorie @martinmaly @krancour

[2016-11-29 20:14] martinmaly commented on #59
other than increasing the size of the repository by several orders of magnitude (the dependency footprint is > 1M loc) I am not sure why we should use two different systems of managing dependencies, in parallel. Either will suffice on their own, no?

if we decide to checkin the dependencies I wonder why glide would be needed, and vice versa.

[2016-11-29 20:27] arschles commented on #59
@martinmaly if we do 1 or the other, we will be departing from the kubernetes/kubernetes structure (although that repository uses Godeps).

My preference would be to keep the glide files and nothing else, but that adds another step for new developers to get started (`glide install`). Also, I think @pmorie has additional arguments for at least adding a `vendor` directory.

Disclosure: my bias is he

[2016-11-29 20:34] duglin commented on #59
If we build "exclusively" under Docker then there's nothing to install - not even go.  Just docker. That's my preferred path.

[2016-11-29 20:41] arschles commented on #50
Here's a more concrete proposal

We create the following 4 labels.

- `LGTM1`
- `LGTM2`
- `LGTM3`
- `Veto`

Here's how they'll be used.

Reviewers should look at the complete list of open PRs in this reposutory and choose to review anything they see fit without an `LGTM3` label and without a `Veto` label.

When they review, they should do one of the following:

- Add the next `LGTM*` label if they

[2016-11-29 20:42] martinmaly commented on #59
my bias is also toward glide, and no vendor directory.

re: Docker build. the only thing I disagree with is "exclusively". On Linux it will make less of a difference but the cross-compiling builds for Darwin target are significantly slower under Docker than on raw mac.

Additionally, building exclusively inside docker makes it difficult to run the CI pipeline inside containers (nested Docker doesn

[2016-11-29 20:46] vaikas-google commented on #50
* I think it's insufficient to just apply a VETO label without justifications, so a VETO label must have some reasoning behind it.
* What's the difference between LGTM3 and merge? Once LGTM3 has been granted, why not just merge? Is this for example, LGTM but there's a few tiny things that need fixed and once thay are fixed, merge can proceed?

[2016-11-29 20:54] arschles commented on #59
@duglin can you open another issue with details on how the docker-based build system should work?

Like @martinmaly I'd like us to offer the docker-based build as an option, but I don't think it should be exclusive, and I'd like to scope this issue to just talking about how we want to manage our dependencies for host based builds

[2016-11-29 21:07] martinmaly commented on #59
Please keep in mind that Docker-based build is already supported (albeit maybe it doesn't meet some requirements).

[2016-11-29 21:08] duglin commented on #50
I agree - you can't veto with a comment explaining it.

[2016-11-29 21:09] arschles commented on #50
added note that veto-er must add a veto explanation

[2016-11-29 21:26] arschles commented on #50
As discussed in the 11/29/2016 SIG meeting, we're going to only adopt a `Veto` label for now, and leave this issue open. We'll come back to the `LGTM`-as-labels discussion later if needed.

[2016-11-29 22:03] #51 closed

[2016-11-29 23:01] martinmaly commented on #47
I cannot assign the issue to myself but here is the PR:
https://github.com/kubernetes-incubator/service-catalog/pull/62
and here is an example Travis run on my fork of service-catalog:
https://travis-ci.org/martinmaly/service-catalog

[2016-11-29 23:26] vaikas-google commented on #59
+1 to glide. I really don't want to be checking in that much code to the repo.

[2016-11-29 23:31] vaikas-google commented on #58
One thing to keep in mind is (I'm not saying this is the case here) could be 'legacy' reasons. There might be a good reason to do something that way, but sometimes it could be that 'we really should be doing it different way but we're stuck for now'. So, if we could for some of these (bit painful imho) moves/renames validate that this is the current _and_ future direction, then I'm more inclined t

[2016-11-29 23:37] arschles commented on #58
looks like this is already done, closing

[2016-11-29 23:37] #58 closed

[2016-11-30 00:45] martinmaly commented on #56
Thanks for the suggestion on Helm best practices! As I was learning Helm I discovered the recommendation to use --namespace flag and not use namespace: clauses in the chart.

Strangely enough, in another branch of the initial seed code we needed a Helm chart which would deploy into multiple namespaces (default and catalog) which is not possible otherwise. Of course, that use cases doesn't apply to

[2016-11-30 00:59] duglin commented on #59
what's the benefit of glide over just a script that pulls down each package at a certain commit/version?

[2016-11-30 01:00] arschles commented on #59
if we use glide we don't have to write that script 😉

[2016-11-30 01:02] duglin commented on #47
I think we can close this since #62 is merged.

BTW - if you put something like:
Closes: #47

in your PR then it would auto-close #47 as the PR is merged and we don't need to do it manually.

[2016-11-30 01:02] #47 closed

[2016-11-30 01:03] duglin commented on #59
LOL I was hoping for a little more info since its not just a glide.yml file, it makes a glide.lock so I figured there must be some kind of "smarts" going on there.

[2016-11-30 01:07] arschles commented on #59
Ah, got it. Sorry for that terse-ness. Here are a few more specific advantages I can think of:

- dependency graph traversal
- version updates (the `.lock` file represents what the script will go and fetch, the `.yaml` file represents the package whose version can be upgraded)
- CLI tooling for dependency lifecycle management
- easy ability to get packages not inside `vendor` (helpful when running

[2016-11-30 01:08] duglin commented on #59
ok dependency graph traversal would be nice

[2016-11-30 01:08] duglin commented on #59
thanks!

[2016-11-30 01:15] MHBauer commented on #59
glide seems to be the hot new thing in golang. I vote we switch to java.

[2016-11-30 01:17] duglin commented on #59
Yea, I mean why reinvent the wheel.... Java has maven, ant, javadocs, .... and real inheritance!!!  I mean come on people!

[2016-11-30 02:22] krancour opened #66 "Remove entire contents of deps dir"
This directly seems to include helm and glide binaries, README, etc. for both Linux/64 and Darwin/64. I can't think of any good reason to package these with this repository.

[2016-11-30 02:56] krancour opened #67 "Build / push is painful if not using gcr and gke"
It's been tough trying to get through the walkthrough on minikube. (And because I am working locally, I really only want to push built images to a local registry.) I think the difficulty I'm encountering exposes a fault that the build, push, and (helm) install are too tightly coupled to an (unfair) expectation that such Google services are being used.

I would propose that we abandon such assumpti

[2016-11-30 03:11] pmorie commented on #67
+1, I do not personally use either of those things.

On Tue, Nov 29, 2016 at 9:56 PM, Kent Rancourt <notifications@github.com>
wrote:

[2016-11-30 03:39] martinmaly commented on #67
I'd say that it is however important that it be possible to use build/push with registries commonly used. I.e. that it be possible to (easily) have make push into gcr (or any other registry). Specifically it means making it possible to authenticate against the registry so that the docker push command succeeds.

The goal, IMO, is ease of use and not requiring lot of manual steps to use the system.

[2016-11-30 03:43] pmorie commented on #66
Agree - go for it

[2016-11-30 03:46] martinmaly commented on #66
Please make sure make docker still works though -- I am assuming being able to build Docker image of the catalog (and example brokers) is desirable.

[2016-11-30 03:47] martinmaly commented on #66
ditto re: 'make init'

[2016-11-30 03:50] krancour commented on #67
It can simply be stated as a pre-requisite that the user is authenticated to whatever registry they wish to push to. That's not unreasonable and it does not undermine ease of use for _any_ registry-- gcr included.

I think one thing we really need to try and avoid here is boiling the ocean. I've spent most of my evening poring over the build / push process, scripts, etc. and it seems that so much

[2016-11-30 05:27] martinmaly opened #69 "Move registry/ into contrib/ directory"
Given that registry is a dynamic registry of service classes which underpins the broker implementation, we probably want to move it next to the brokers, into contrib/ directory.

[2016-11-30 17:13] #56 closed

[2016-11-30 17:29] arschles opened #72 "Store & report code coverage data"
After https://github.com/kubernetes-incubator/service-catalog/pull/63, we'll have tests running with code coverage, but we won't (yet) have a place to send that coverage data or surface it to developers. If we get that, it will allow developers to make measurable gains on test coverage in each PR.

We've used codecov.io successfully in the past. [Here](https://github.com/deis/steward/blob/master/.

[2016-11-30 18:01] pmorie commented on #59
I would rather vendor dependencies than use glide for the following reasons:

1.  Kubernetes does not use glide
2.  Glide does not mitigate the fact that you will eventually need to download dependencies, only delays the eventual download and gives the illusion of a fast git clone
3.  If you need to carry a patch for a dependency you are out of luck with glide, as far as I can tell

[2016-11-30 18:22] arschles commented on #59
@pmorie since k8s has the godeps file, I'd like to keep the `glide.yaml` and `glide.lock` files in place in addition to adding the `vendor/`. cool with that?

[2016-11-30 18:24] pmorie commented on #59
@arschles sorry, don't follow the logic.  Elaborate?

[2016-11-30 18:26] arschles commented on #59
Kubernetes has the [`Godeps.json` file](https://github.com/kubernetes/kubernetes/blob/master/Godeps/Godeps.json) which tracks what is in their `vendor/` directory, and the `glide.{yaml,lock}` serves the same purpose, so my proposal is to keep those files in this directory to match what kubernetes/kubernetes does more closely.

[2016-11-30 18:27] pmorie commented on #59
Yeah, I get it now.  Personally, I would rather just use Godep.  I can live with what you suggest as an intermediate step.  I need to write something well-reasoned about this general make-it-like-kubernetes concern and have a group discussion around it.

[2016-11-30 18:31] pmorie opened #73 "Refactor to a single Makefile"
Currently there appears to be a Makefile for each go package in the project.  This is not really sustainable and adds overhead to refactors.  Packages should be buildable with `go build`, and there should be a single make target (in kubernetes, we call this `make all`) that builds all the go packages in the project.

[2016-11-30 18:42] vaikas-google commented on #54
Should we modify the issue to reflect the decision? Is this simply:
remove the API methods, add healthz?

[2016-11-30 18:44] krancour commented on #73
@pmorie I both agree and disagree with this. Makefile per package certainly does sound bad, but I think what's really going on here is a Makefile per distinct component or binary, and that does make some sense to me.

[2016-11-30 18:50] pmorie commented on #54
@vaikas-google yes -- go for it.

[2016-11-30 18:58] martinmaly commented on #73
I'll try to summarize how, and why, we ended up with the current setup. At first we had only 'go build' setup. The downsides were:
- default package (and binary) names go build picks
- no support for Docker image build, in-docker build etc.

Doing some research I kept coming across examples of single-Makefile setups which only had a single binary per repo (so it wasn't quite a fit for our needs, h

[2016-11-30 19:03] krancour opened #77 "Proposal: Eliminate GCR bias"
This replaces #67

The `docker` (Docker build) and `push` (Docker push) `make` targets currently require either a GCP project ID or GCR repository URL to be provided. The `docker` target uses this information when tagging images that are subsequently pushed by the `push` target, however, I propose this bias toward GCR is a hindrance for anyone wishing to use another Docker registry-- Docker Hub, q

[2016-11-30 19:03] krancour commented on #67
Closing, as I have replaced this with a more concrete proposal on how to move forward. See #77

[2016-11-30 19:03] #67 closed

[2016-11-30 19:09] martinmaly commented on #77
what exists in the makefiles today is actually very close. Makefile will respect [GCR variable](https://github.com/kubernetes-incubator/service-catalog/blob/master/script/Makefile.mk#L48) which can be easily renamed to REGISTRY. The bias in this case is:
- the name of the variable
- default value (if the value is not supplied)

another bias is use of gcloud (reason is auth) which can be replaced b

[2016-11-30 19:12] krancour commented on #77
@martinmaly it had not occurred to me that the bias might (partly?) be only in the name of the variable. That is encouraging news.

[2016-11-30 19:14] vaikas-google opened #78 "Document all the resources like k8s does"
We should document all the resources like k8s does, for example Pods:
http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_pod

[2016-11-30 19:18] martinmaly commented on #77
That, and the use of gcloud for docker push (I hope that's all of it).

[2016-11-30 19:24] arschles commented on #59
@pmorie when you do write such an issue, we should also record the fact that we should switch to Godep

[2016-11-30 20:06] pmorie opened #79 "Make this repo in kubernetes' image"
We have addressed this concern piecemeal in a couple different places, but I think it is advantageous to open a high-level issue for it and explain the rationale in detail.

I propose that we make the service-catalog repo, to the closest possible degree, similar to the main kubernetes repo.  This includes things like project layout, development tooling, dependency management, and other facets of d

[2016-11-30 20:11] pmorie commented on #39
Background on the finalization pattern: https://github.com/kubernetes/kubernetes/blob/master/docs/design/namespaces.md#example-openshift-origin-managing-a-kubernetes-namespace

[2016-11-30 20:38] martinmaly commented on #79
Thanks for typing this up, Paul!

personally, I agree with much of the rationale. My primary questions are:

   - I actually am not familiar at all with how k8s does things. For that
   it would be great if someone could give a (fairly detailed) overview of k8s
   repo structure, build, tooling. Would that be possible?
   - Anticipating there are deltas between service-catalog and k8s core, we

[2016-11-30 20:47] martinmaly opened #80 "Upgrade Helm dependency to 2.0"
We currently use 2.0 RC which now can be replaced by the final 2.0.

We'll want to do it after https://github.com/kubernetes-incubator/service-catalog/pull/68 is in.

[2016-11-30 20:52] #66 closed

[2016-11-30 23:40] krancour commented on #73
fwiw, I have been down the same road that @martinmaly is describing. It isn't a trivial proposition to avoid DRY exceptions where the commonalities among the builds for n > 1 components in a single repo are concerned while _also_ allowing each build to be adequately customized for each component's needs.

That is generally where I have landed after similar attempts on other projects.

I think that

[2016-12-01 00:35] arschles opened #85 "Make the /healthz endpoint actually check some things"
After https://github.com/kubernetes-incubator/service-catalog/pull/84, there will be an API server running that implements a `/healthz` endpoint which simply returns a 200 OK to the client. That endpoint should do something "real" and return the actual status of the process.

[2016-12-01 05:14] pmorie commented on #73
We don't have to do this right now, but it will have to happen naturally as the codebase expands.

[2016-12-01 05:42] pmorie opened #90 "Add a fake for CF SB API 2.x client"
In #86 a client was introduced for the CF SB API v2.x.  Now, we need a fake client and some tests of the existing code to exercise it.

[2016-12-01 16:22] #77 closed

[2016-12-01 17:48] krancour commented on #85
@arschles and others... any ideal what that "something 'real'" might be?

[2016-12-01 18:20] arschles commented on #90
I'm happy to take this on after #86 is merged. Let me know if that would help @bmelville

[2016-12-01 18:23] arschles commented on #14
I believe that all of the points in the OP have been addressed; closing.

[2016-12-01 18:23] #14 closed

[2016-12-01 18:28] krancour commented on #80
This was addressed by #87

[2016-12-01 18:28] #80 closed

[2016-12-01 18:35] krancour opened #94 "Refactor contrib/broker/k8s to grpc --> tiller"
Currently the helm reifier execs to the helm binary to get the job done. @martinmaly and I discussed a bit and agreed it wasn't ideal. Tiller uses GRPC, so that presents an easy(ish), low-friction option for improving that integration.

[2016-12-01 18:38] krancour commented on #94
And I'm not at all volunteering @arschles for this, but he has implemented this previously in Steward. We've since removed our helm reifier entirely, but whoever takes this issue on might consider tapping @arschles for some insight or even a link to relevant commits in case it spares anyone from re-inventing the wheel.

[2016-12-01 18:45] arschles commented on #94
Happy to point to commits & the relevant bits in the helm repo. May be able to take this on at some point.

[2016-12-01 21:50] martinmaly commented on #94
It would be great if there was also some version leniency. As things are now, the helm client in the k8s broker must perfectly match version of the tiller running in the cluster. This will become an adoption obstacle in that catalog + k8s broker can only run in clusters where customers happens to have just the right version of tiller.

I do hope that the gRPC access to Tiller would get us some fle

[2016-12-02 00:27] #69 closed

[2016-12-02 00:59] #54 closed

[2016-12-02 05:42] pmorie commented on #79
@martinmaly

Repo structure is definitely doable, and I plan to document in this issue.  Build is a little more complicated.  Tooling also a bit more complicated.  There's a lot of information to convey, and some of it, we will come to when we get to it, but I will do a sketch of the level of detail we need for now.

No doubt that there will be deltas -- but I think we can keep the same general st

[2016-12-02 05:49] pmorie commented on #79
Main structure I would like to move to in the short term:

[code]

[2016-12-02 06:21] thockin commented on #79
I'll plead to avoid "hack".  Put build-related scripts in `build/` and
other tools in `tools/` or `scripts/`.

We *want* the bots to be generically useful.  Please use them and help make
that goal more real.

Re: APIs.  Our codegen tools are still k8s-centric.  I want most of them to
be more generic.  Please help.

Re Build: I posit that `make {,all,test}` is the UI to our build.  Whether
it uses

[2016-12-02 15:49] krancour opened #102 "Remove .pyc files"
As has been pointed out (tangentially) in a few other threads, I don't think we need to be checking bytecode into the repo. Let's remove .pyc files.

[2016-12-02 15:51] krancour opened #103 "Discussion: Stop using Python?"
This goes above and beyond #102

As @duglin has pointed out (tangentially) in #97, limiting the number of languages contributors need to know seems like laudable goal.

[2016-12-02 16:05] martinmaly commented on #103
While I agree with limiting # of languages is a great goal I do think that role of Python (or a scripting language) is going to need to be filled in this repo by something. There may be bash demi-gods among us but I am not quite sure how I would implement [boilerplate](https://github.com/kubernetes/kubernetes/tree/master/hack/boilerplate) in pure Bash, and there is big advantage in not having to i

[2016-12-02 16:10] krancour commented on #103
fwiw, my personal feelings are that I don't like bash any better than I like python, but I recognize the need for one or the other. You may even be making a strong argument for both. This issue is just a way of opening that discussion. I'll retitle it as a proposal so it's clear that this is open to discussion and isn't actionable yet.

[2016-12-02 16:15] krancour commented on #103
@martinmaly:

Can you summarize what boilerplate is for? More generally, can you summarize what we've got in the `/hack` directory? It's not really documented. It would be helpful to get a sense for what's in there.

[2016-12-02 16:15] duglin commented on #103
LOL I like the title as a statement :-)

[2016-12-02 16:32] martinmaly commented on #103
@krancour

the boilerplate link I included actually points at the k8s core repository and it was intended to point out that k8s core uses Python. I can't speak to what is in that hack/ directory as I am not familiar with k8s core hacks.

what boilerplate does is to check that files have appropriate license header.

[2016-12-05 17:09] pmorie commented on #103
While I do think we should be careful about adding new languages willy-nilly, we might not be able to escape from python.  It is used in a number of places in kubernetes mungescripts, iirc, and I would like to begin directly consuming those scripts instead of copying them (as I did with the boilerplate scripts).

[2016-12-05 22:51] arschles opened #113 "Use ctxhttp to execute HTTP calls to external CF service broker APIs"
The `cfV2BrokerClient` has methods that make calls to CF service broker APIs. We should use [ctxhttp](https://godoc.org/golang.org/x/net/context/ctxhttp) to ensure that a call that hangs for any reason (no connection timeout, etc...) is cancelled. `ctxhttp` is a very convenient mechanism for doing these cancellations.

[2016-12-05 23:20] bmelville opened #114 "Implement UpdateServiceInstance"
This needs to be implemented in the BrokerClient, and also needs to be plumbed through in the Controller where it currently just routes to CreateServiceInstance.

[2016-12-05 23:54] martinmaly commented on #102
With #107 merged this can be closed now. Closing.

[2016-12-05 23:54] #102 closed

[2016-12-06 16:17] krancour opened #115 "Proposal: Remove bookstore and its client; replace with a single component"
This is a follow up to some discussion in #110

I'd like to propose that test-wise, we have too many moving pieces and that one of those pieces comes with some undesirable baggage.

First the case for why there's one moving part too many:

To power e2e tests, it seems the current approach is that a client program (written in Python) drives traffic to the bookstore app (a Node app, as far as I can

[2016-12-06 16:32] pmorie commented on #79
@thockin I would really prefer to keep this repo and kubernetes in sync from a broad structural standpoint so there is minimal context-switching required when going between one or the other.  This doesn't preclude us from making bots / other tooling more generic -- in fact, I'm sure we will have to, even if we try to closely follow kubernetes at some level.  With that said, I'm extremely wary of t

[2016-12-06 17:41] bmelville opened #116 "ServiceInstance broker operations should return correct response"
Currently the *ServiceInstance operations in the BrokerClient just return a ServiceInstance, but should return the actual response object that a broker returns.

[2016-12-06 17:47] bmelville commented on #90
@arschles feel free to take this if you like, I'll reassign.

[2016-12-06 20:41] bmelville opened #117 "Inject binding credentials into native k8s resources"
Currently the service controller model has instance-to-instance bindings, so the consumption mechanism needs to be moved to native kubernetes resources as outlined in the catalog discussions.

Needs the following:

- [ ] Define BindingInjector interface
- [ ] Extract existing binding injection code to InstanceBindingInjector
- [ ] Replace InstanceBindingInjector with K8sBindingInjector

[2016-12-07 16:12] bmelville opened #126 "Clean up storage code"
Includes

- [ ] Move to storage package
- [ ] Refactor common storage methods into util for use across the different storage impls
- [ ] Align naming with concepts
    - [ ] Simplify class names
    - [ ] Rename *Services() functions to *ServiceInstances()
    - [ ] Rename *Inventory() to *Catalog() or *ServiceClasses()

[2016-12-07 16:16] bmelville opened #127 "Migrate to agreed-upon object model"
Currently we are using the prototype object model in `model/service_controller`. We should migrate to the object model defined our API.

[2016-12-07 16:17] bmelville opened #128 "Controller should set status on managed objects"
The controller does not currently set status when managing objects.

This depends on #127.

[2016-12-07 16:20] bmelville opened #129 "Unit test controller"

[2016-12-07 16:22] bmelville opened #130 "Unit test watch module"

[2016-12-07 16:22] bmelville opened #131 "Unit test TPR storage class"

[2016-12-07 16:23] bmelville opened #132 "Unit test K8s handler class"

[2016-12-07 16:27] bmelville opened #133 "BrokerClient implements Open Service Broker API"
The BrokerClient does not implement the complete service broker API spec. It needs to be flushed out to align with the full spec.

[2016-12-07 17:08] bmelville opened #134 "Unit test storage util functions"
Functions in `storage/storage_util.go`

[2016-12-07 18:12] arschles commented on #126
@bmelville are you thinking we should move to a `./controller/storage` package?

[2016-12-07 18:14] bmelville commented on #126
Yes PR coming momentarily for this.

[2016-12-07 18:16] arschles commented on #50
https://github.com/kubernetes-incubator/service-catalog/pull/61 fixes; closing

[2016-12-07 18:16] #50 closed

[2016-12-07 18:32] martinmaly opened #137 "Move Jenkins CI scripts into own directory"
Some options discussed in #120 included:

- `/test/jenkins`
- `/hack/jenkins`
- `/ci/jenkins`
- `/jenkins`
- `/test/ci/jenkins`

[2016-12-07 22:57] martinmaly opened #140 "Move catalog deployment Helm chart under examples"
Currently it is in [`./deploy/catalog`](../tree/master/deploy/catalog)

[2016-12-07 23:03] bmelville commented on #140
Sorry wrong button...

Does this imply that we are deprecating it as our deployment strategy? Do we have a new deployment strategy? It seems necessary to have something explicit.

[2016-12-07 23:10] martinmaly commented on #140
I agree with having something 'blessed' - the right way to deploy the system.
Based on the conversation in #119 I figured it is worth gathering some feedback on where the chart lives. It is not _quite_ an example as it is the official way to spin up the catalog, but it also references the example brokers which could fuel the argument toward moving this somewhere under examples.

Personally, I pref

[2016-12-07 23:17] bmelville commented on #140
Makes sense, I was also thinking along the broker/catalog line. It may be that since the brokers are not "core", we could separate the deployment into catalog chart in the blessed location and contrib/brokers/deploy/ or similar houses chart for deploying the brokers.

[2016-12-08 18:36] arschles commented on #134
@bmelville looks like this relies on #135 before it can be started?

[2016-12-08 18:37] arschles commented on #130
I'm gonna take this on

[2016-12-08 18:39] arschles commented on #129
@bmelville can you be more specific here? the `./controller` package is pretty big

[2016-12-08 19:35] arschles opened #143 "Standardize location for all Jenkins-related scripts"
After https://github.com/kubernetes-incubator/service-catalog/pull/139 and similar PRs, jenkins scripts are "all over the place". This issue is for standardizing a location for them and making the change to move them to the right directory.

[2016-12-08 21:57] bmelville commented on #134
Yes thanks for linking.

[2016-12-09 03:46] pmorie commented on #79
So, I had a very good conversation about this subject with @martinmaly today.  One of the things that we discussed is the need to capture model of types of deltas between service catalog and Kubernetes and think through every dimension in terms of that model.  The categories of difference measurement we talked about are:

1. **Same - merits**: service-catalog and Kubernetes should be alike in a pa

[2016-12-09 03:49] pmorie commented on #79
Let me also say explicitly that I formally renounce this comment

...in favor of reassessing any area where there is a desire for it in terms of the model above:

cc @thockin @kubernetes-incubator/maintainers-service-catalog

[2016-12-09 16:26] duglin commented on #79
Please don't interpret this as pushing back on the desire of this issue, but I do feel like its worth mentioning that trying to force one way of doing things on projects is often a religious battle and not worth the effort. Again, not suggesting we shouldn't align with Kube - we are after all a Kube project.  However, any good project's structure/process/tooling/etc.. (no matter what they choose)

[2016-12-09 18:19] duglin opened #149 "deploymentWatcher might be racey"
in reviewing the tests for the watcher it raised a question for me.  In the deploymentWatcher() https://github.com/kubernetes-incubator/service-catalog/blob/master/controller/watch/watcher.go#L255  it first gets the list of resources, calls the callback on each, and then goes into its watch loop.

I think that's racey since events could happen between getting the List() and doing the Watch(). I kn

[2016-12-09 19:34] MHBauer opened #150 "[META] cleanup follow ups to #38"
- [x] fix the build of apiserver to be more like everything else.
   - [x] make file
   - [x] docker
- [x] logging
- [x] in the main command, uncomment the installers of the apis, and modify them to point to our apis
- [x] check what `make apiserver` does and adjust the result
- [x] update version response in doc
   - [ ] add our info to the version response?
   - [x] re-run curl to show version a

[2016-12-12 04:40] pmorie commented on #78
Completely agree.  k8s uses a swagger API generator for this, which uses the godoc on the resource types for input.  I would love for someone to own making this happen in this repo.

[2016-12-12 04:42] pmorie commented on #127
Agree with this issue.  One pattern that @bgrant0607 has mentioned in the past is when using TPR,  to put spec and status into two different resources.  At this moment, I cannot think of what that buys us, but since Brian mentioned it, it probably warrants some investigation.

[2016-12-12 04:49] pmorie commented on #73
@krancour @martinmaly k8s has a system that allows you to:

1.  Build many or single individual binaries from a single makefile; example: `make all WHAT=cmd/hyperkube`
2.  Deterministically give generated binaries the names you desire
3.  Not worry about makefiles for individual packages (which is my biggest motivation, I think that is a very strong anti-pattern smell, personally)
4.  Supports loc

[2016-12-12 14:47] pmorie commented on #73
Walking the chain of how the local build works in Kube:

1.  [Makefile:85](https://github.com/kubernetes/kubernetes/blob/master/Makefile#L85)
2.  [hack/make-rules/build.sh:27](https://github.com/kubernetes/kubernetes/blob/master/hack/make-rules/build.sh#L27)
3.  [hack/lib/golang.sh:466](https://github.com/kubernetes/kubernetes/blob/master/hack/lib/golang.sh#L466)

Docs on docker build: http://rele

[2016-12-12 15:17] #126 closed

[2016-12-12 17:00] krancour commented on #73
@pmorie something that concerns me a little bit here is that the volume and complexity of build-related scripts in k8s is a bit of a put-off (for me, personally, at least). I know we have all agreed to be like k8s wherever possible, but I have to ask whether we objectively believe that the way k8s does this is ideal. (This is not at all to say that what we're doing now is any better.) The bottom l

[2016-12-12 17:56] #130 closed

[2016-12-12 18:09] krancour commented on #73
Let me amend the statement above to say that I have an appreciation (a fondness even) for k8s' approach to this. If we can take the same approach, but pare it down to the essentials, I would be ok with it.

[2016-12-12 18:25] krancour commented on #113
I second this.

[2016-12-13 17:33] pmorie opened #157 "Extract Open Service Broker Client into its own package"
Currently, the Open Service Broker Client is under controller/util.  It should be extracted into its own package; I propose `pkg/brokerapi/openservicebroker` as a path.

[2016-12-13 18:31] arschles commented on #157
that package sgtm

[2016-12-13 18:42] krancour commented on #157
sgtm

[2016-12-14 02:31] pmorie commented on #157
Depends on #161

[2016-12-14 17:01] bmelville opened #162 "Consensus on support for user-specified namespaces"
Throughout the code, namespace support is either hard-coded to "default", or passed around using "space_id" field. This needs to be supported in a standardized way in the model and code.

[2016-12-14 18:12] duglin opened #164 "Use `set -e` in our bash scripts"
I know I'm probably in the minority here, but it kind of bothers me that we don't tend to check exit codes on commands - which is why in another PR I mentioned using "set -e".  I know there will be times when we just don't care about the exit codes but I've seen way too many projects not notice errors that really should be looked at because of ignoring exit codes.   So, I'd prefer if we defaulted

[2016-12-14 18:13] pmorie commented on #164
+1000 to `set -e`

[2016-12-14 18:30] bmelville opened #165 "Separate binding injection into configmap, secret, and service"
Binding injection needs to separate the binding credential into three groups of data:

1. Secret information to be stored in a Secret resource
2. Non-secret information to be stored in a ConfigMap resource
3. Endpoint information to be stored in a Service resource

Because binding credentials are an unstructured data map, there are some key questions to address to solve this properly:

* How to de

[2016-12-14 18:31] bmelville opened #166 "Unit tests for K8sBindingInjector"
K8sBindingInjector needs to be unit tested.

Depends on #146

[2016-12-14 18:56] bmelville opened #167 "Credential needs to be a generic struct"
Right now Credential is a struct with concrete fields, but it is really a generic data blob that is returned from a broker and can have any fields the broker wants.

This change also impacts how the credential information is injected in the binding injector.

[2016-12-14 19:01] duglin commented on #166
go ahead and add them to #146

[2016-12-14 19:20] bmelville commented on #166
See discussion in that PR

[2016-12-14 21:56] bmelville opened #168 "Replace log with glog"
EVERYWHERE

[2016-12-14 22:11] bmelville opened #169 "Implement K8sBindingInjector.Uninject"
Currently unimplemented as we do not support Unbind yet, but needs to be implemented as part of Unbind.

Depends on #146

[2016-12-14 23:19] arschles opened #171 "Meta: Add unit tests for the API server"
Continuation from https://github.com/kubernetes-incubator/service-catalog/pull/163#issuecomment-267187711. See that comment for additional notes.

cc/ @duglin

[2016-12-15 02:48] arschles commented on #168
Glog allthethings!

[2016-12-15 03:32] pmorie commented on #168
+1000

[2016-12-15 22:00] #117 closed

[2016-12-15 22:05] arschles commented on #127
Along with this, I propose the following changes:

- We change the `(./pkg/controller/catalog/storage).Storage` interface and related interfaces to look like what the generated Go client lib will look like
- Make all `Storage` implementations implement the new interface
  - To get ready for the incoming Go client lib's interfaces
  - When the Go client lib comes into the picture, we should be able

[2016-12-15 23:52] bmelville commented on #157
Not sure if you were going to tackle this Paul, but I can grab it if not.

[2016-12-16 00:46] pmorie commented on #157
Go for it @bmelville

[2016-12-16 01:51] arschles opened #177 "How do we efficiently look up bindings to a given instance?"
Our current API server design allows the user to specify one of the behaviors on a DELETE operation for an instance:

1. Force delete all bindings that point to the instance (i.e. a cascading delete)
1. Fail if there are any bindings to the instance

In the data model, bindings point to instances, but not the other way around. This model doesn't give us an efficient way to look up bindings for a g

[2016-12-16 03:00] pmorie commented on #79
I added the babynetes label because I want to capture that this is part of the challenge of babynetes.  Devs gonna dev in the absense of a template or coherent explanatory doc.  If we had such a thing to refer to, this entire experience would have been moot, or at least far more focused and less exhausting.

[2016-12-16 03:08] pmorie commented on #177
Iterate through them.

[2016-12-16 03:08] pmorie commented on #177
Efficient is not a goal here

[2016-12-16 03:12] pmorie opened #178 "Add code generation for APIs"
We need to bring in the k8s code generation infrastructure.  Generators for:

1.  API internals
    1.  Defaults
    2.  Conversions
    3.  Deep copies
    4.  YAML parsers
    5.  protocol buffers (eventually after mvp1)
2. Golang API client

[2016-12-16 03:16] pmorie commented on #178
Looks like list indentation is broken right now:

1.  outer
  1.  inner1
  1.  inner2

[2016-12-16 03:23] pmorie opened #179 "Move to k8s repo-infra"
I've had a new repository created: https://github.com/kubernetes/repo-infra .  This is where stuff that I've previously copied in will live.  This issue is to move off the copies and onto the upstream stuff in repo-infra via subtree.  This is more of an epic to link back to than an issue that can be closed into a single PR.  Immediate scope:

1.  boilerplate verification
2.  gofmt verification
3.

[2016-12-16 14:39] duglin commented on #177
when you say "build an index", do you mean create a new resource in the model to hold this info/link?

[2016-12-16 14:43] duglin commented on #177
Or are you proposing that we add a label to the binding that points back to the instance since filtering/searching by labels is really the only searching mechanism k8s offers us today?

[2016-12-16 17:52] arschles commented on #177
@pmorie - you cool with revisiting this issue after MVP1? I don't think iterating through all bindings (in all namespaces) is a viable long term solution

@duglin I'm proposing the latter

[2016-12-16 17:57] MHBauer commented on #168
apiserver is glog'd by #153

[2016-12-16 18:08] duglin commented on #177
@arschles +1 to the label. I agree that iterating over potentially YUGE number of bindings isn't good. We might as well just bite the bullet now.

[2016-12-16 21:58] krancour commented on #177
+1 to the label and to tackling now.

Registering one minor concern, however... nothing really stops a user from editing or removing a label and doing so would undermine this strategy.

[2016-12-16 22:52] krancour opened #181 "Controller in crash loop"
It's been about a while since I actually _ran_ the controller, so I'm unsure how long this has been going on. This evening, I see the controller going into a `CrashLoopBackOff`.

Logs consistently appear as follows:

[code]

As you can see, there is no obvious reason for the failure in the logs.

Note that I've tried this on two different clusters with the same results:

- minikube w/ k8s 1.4.5
-

[2016-12-17 18:27] pmorie commented on #177
I finally have a moment to write a statement on this now that I've spoken to people on slack.

I think we have had a mismatch here, originating from a discussion I had long ago with @duglin, so I will demystify here.  There are two different concerns in play:

Concern 1:

@duglin wants to know how to query resources on field selection.  Here's an explanation of the pattern we have for implementing

[2016-12-19 18:19] mkibbe1993 commented on #181
Yes, I am as well @krancour , I noticed it Friday and was about to post about it too. Same results when pushing a cluster to GKE.

[2016-12-19 18:30] arschles commented on #177
@pmorie I'm assuming the admission controller sits in the critical path of the API call - this seems to be the general k8s design. If I'm right, will that index live in-memory on the API server?

[2016-12-19 19:16] #157 closed

[2016-12-19 22:15] bmelville commented on #165
This is blocked by features in the Open Service Broker API.

General schematization of credential data: https://github.com/openservicebrokerapi/servicebroker/issues/116
Secret vs. non-secret data: https://github.com/openservicebrokerapi/servicebroker/issues/117
Endpoint information: https://github.com/openservicebrokerapi/servicebroker/issues/121

[2016-12-20 17:10] bmelville commented on #90
@arschles if you got side tracked on this, @mkibbe1993 is ramping up on broker client stuff and could probably take over or help out.

[2016-12-20 18:10] arschles commented on #90
@bmelville that'd be great. My PR #141 was intended to build a fake in-process broker server, but that could be added later (or never) as well. @mkibbe1993 go for it!

[2016-12-21 06:23] mdshuai opened #196 "Need remove panic when run binary without parameter"
When ```controller```, ```k8s-broker```, ```user-broker``` has no parameter, need output friendly tips not panic directly.
[code]

[2016-12-21 06:24] mdshuai commented on #196
[code]

[2016-12-21 19:40] krancour opened #197 "Proposal: Some fundamental re-organization may be in order"
Having recently put a good deal of effort into #176, I've gotten much more familiar with the codebase, but in the process also found that some things to be a bit confusing. I'd like to remediate some of these myself, but I don't want to unilaterally decide that this is what's right... so let's discuss.

First, the word "controller" seems to be overloaded. It seems to refer _both_ to a component (p

[2016-12-22 00:12] arschles commented on #197
![make it so](http://www.quickmeme.com/img/62/628b747f8ccdfb757062f36a27eedecfc2295f515c0586e05fbfb0620c0571a2.jpg)

[2016-12-22 00:17] krancour commented on #197
@arschles I'd like to see #176 get in first... rebasing one sizable refactor on top of another isn't fun.

[2016-12-22 01:55] duglin commented on #197
Kent,
  I suspect what you’re aiming is probably correct, but given my newbiness to k8s it would help if I could graphically see what you’re suggesting - just w.r.t. the various component first.  Does this come close?

-Doug

[2016-12-22 17:35] krancour opened #199 "Put storage impls each in their own package"
This is a follow-up change that @duglin suggested during his review of #176

[2016-12-22 17:40] krancour opened #200 "Make in-memory storage more robust"
During his review of #176, @duglin has proposed that in-memory storage should be a bit more robust. I believe it's only to be used for testing anyway, but he has raised an excellent point that if it behaves too differently from other storage implementations, it might provide a false sense of how things work...

For instance, in-memory storage currently tracks pointers to objects. This means the po

[2016-12-22 17:41] krancour commented on #200
I'm happy to take on these improvements myself, so unless anyone wants to fight me for it, I am assigning this to myself.

[2016-12-22 17:43] duglin commented on #200
thanks!!

[2016-12-22 17:59] duglin opened #201 "Move ConvertCatalog (and others?) into the one spot they're used"
See https://github.com/kubernetes-incubator/service-catalog/pull/176#discussion_r93619394

[2016-12-22 19:00] krancour commented on #197
@duglin I don't know how k8s-specific what I am aiming for actually is.

To the great credit of everyone who worked hard on the code up to this point, what's there now works and I'd say it's mostly "right." I just want to rename and shuffle some things around to pay down some of the overloaded vocab terms and get the code organized in a way that's more intuitive to understand. (Admittedly, this is

[2016-12-22 22:22] pmorie opened #203 "Determine long-term what generated code should be checked in and why"
Checking in generated code has been a subject of considerable disagreement in the last week.  Here's a brief description of the current state:

1.  Kubernetes checks in a lot of generated code
2.  There is planned work to avoid having to check in **all** of that code - though that plan probably lives in certain individual's heads and not in a public place
3.  For now, we've arrived on a stable equ

[2016-12-22 22:53] pmorie commented on #197
I agree with the picture, generally.  One nit, in my head, the box called 'storage' is the golang API client for the service catalog API.

With that said...

If I'm reading this correctly, I think these concerns are a function of the factoring of the code that came in with the initial drop.  Since we are factoring toward the k8s infrastructure, it's probably useful to take a look at that architect

[2016-12-22 22:55] pmorie commented on #197
Also, let me say for the record, that as someone who has broken his brain many times on writing state-reconciler controllers, that I also appreciate the amount of work that went into what's in the repo today.

[2016-12-22 23:05] krancour commented on #197
@pmorie let's make sure we're working from the same definition of a "controller." The overloading of that very term in our current code base (the whole program vs. something that is more of a handler) was part of the impetus for me opening this.

Let's make sure that what I think a controller is (or should be)... is really what a controller is according to k8s...

To me, the controller is the enti

[2016-12-22 23:09] pmorie commented on #197
That is my definition too.

[2016-12-22 23:27] krancour commented on #197
@pmorie awesome!

So, popping that frame off the stack... you had said:

Can you elaborate at all on if or how that differs either from what we have now or from what I have in mind?

[2016-12-22 23:43] pmorie opened #205 "Rename API fields to reflect Open Service Broker API"
Currently we have references to service-broker API specific fields named `CFx`.  We should rename these to reflect open service broker, and determine the best way to model them in the API.  I have given the question of how to model things correctly quite a bit of thought.  I initially thought we should move some of the OSB-specific fields to annotations, but now think they should be encapsulated i

[2016-12-22 23:55] pmorie commented on #200
My one point of caution would be to keep in mind that the in-memory storage isn't going to be necessary once we move to the API server.  I would avoid spending a lot of energy on code that's going away.

[2016-12-23 00:15] krancour commented on #200
I don't quite understand why. My (imperfect) understanding from @arschles is that whatever the apiserver does in terms of storage still needs to be connected up with our own storage back-ends. irl, that may be 3pr backed (also probably going away) or etcd-backed (not implemented yet), but wouldn't the in-memory implementation stick around as, essentially, a fake impl of storage that can be used to

[2016-12-23 04:38] pmorie commented on #200
@krancour in a unit test we should inject a fake client. Example: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status_test.go#L1100

What the API server does for storage doesn't really affect code outside the API server.  The golang API client is the interface from the controller, and is what should be faked. Make sense?

[2016-12-23 05:18] krancour commented on #200
We might be talking about two different things. Let's chat on Tuesday.

[2016-12-27 17:37] pmorie commented on #197
Single controller is fine for now. If we split the controller into multiple ones (likely), we should introduce our own controller-manager.

[2016-12-27 18:09] krancour commented on #197
@pmorie are you suggesting one controller each for:

- `ServiceBroker`
- `ServiceInstance`
- `ServiceBinding`

I could easily account for that in the refactoring and we'd end up looking even more like k8s.

[2016-12-27 19:02] pmorie commented on #197
@krancour it's FAR easier to start with a single one, probably

[2016-12-27 19:26] pmorie commented on #197
Cool. Originally we had multiple controllers for PVs and PVCs and we wound
up refactoring to a single controller to make the system more robust (very
long story here, I'll happily tell all later but more than I want to type
in with my thumbs). TLDR: there were races, livelock on particular
PVs/PVCs, not to mention the whole thing was very complex to analyze,
understand, debug, and maintain.  It to

[2016-12-27 19:53] duglin opened #209 "Add a "deploying" section to dev docs"
https://github.com/kubernetes-incubator/service-catalog/pull/208#discussion_r93940602

right now build and deploy are kind of merged together - we should split them

[2016-12-27 20:13] krancour commented on #197
sgtm @pmorie. thanks

[2016-12-27 21:38] duglin commented on #197
I think this shows just about the same thing I had in mind - just different boxes - which is fine.

btw - what does “control loop x 3” refer to?  I’m guessing it means there are 3 of them - why 3? Is this related to the discussion you and paul were having about 1 vs multiple controllers?  If so, and if possible, I’d prefer to have one controller that could watch multiple resource types - that woul

[2016-12-27 22:04] krancour commented on #197
"control loop x 3" is three watches-- one each for `ServiceBroker`, `ServiceInstance`, and `ServiceBinding` resources... yes-- with each kicking off the appropriate handler(s) (e.g. add now, and in the future, update, and delete).

[2016-12-28 13:25] duglin commented on #103
I think boilerplate is a good example to look at because I think it does fall into an "in-between" spot - more than a simple bash script but not beefy enough for a compiled language.  However, there is another aspect to it and that's its intended use. A lot of the time when a tool becomes more real than what bash can easily support its often a tool that might be useful in broader contexts, and I t

[2017-01-03 16:51] #127 closed

[2017-01-04 16:28] krancour opened #217 "Containerized dependency resolution doesn't quite work"
The following fails:

[code]

The problem seems to be related to the use of glide within the container, so to narrow the scope of the issue, consider the following command instead:

[code]

Yields:

[code]

fwiw, I am quite certain this is a permission issue. See thread below (ironically opened by yours truly over a year ago):

https://github.com/Masterminds/glide/issues/149

cc @duglin

[2017-01-04 16:49] duglin commented on #217
just FYI - I don't see this but I bet its because I never run glide from outside of a container.
Try erasing your vendor dir and try it again (or maybe your .glide files/dirs in the root of the repo).
This is related to an issue I'm planning on opening related to what "clean" should actually remove.

[2017-01-04 17:06] duglin commented on #217
actually, are you running with master? I'm wondering if the latest Dockerfile changes (that run things as a non-root user) help with this

[2017-01-04 18:00] krancour commented on #217
Yes. I am running this from master. Good thought on the ownership dispute resulting from vendored stuff that was put there whilst running (previously) out-of-container. So I deleted it, but that just leads to a different permissions problem:

[code]

Is it possible the stuff you did re: running as non-root user isn't fully vetted on MacOS / Docker Machine?

[2017-01-04 18:12] duglin commented on #217
ok run exclusively from a ubuntu VM - and it works both as root and non-root user.
I don't have Docker installed on my mac and I bet its the -v that's messing with things.
Can you try?  `docker run --rm -ti -v /Users/kent/Code/go/src/github.com/kubernetes-incubator/service-catalog:/go/src/github.com/kubernetes-incubator/service-catalog ls -la`

[2017-01-04 18:21] duglin commented on #217
Even though I can't completely reproduce your end, what's interesting is that when I run that docker command (with the cli on my mac and the daemon running in a ubuntu vm), the -v has no real impact because it can't mount across hosts.  But, it also doesn't give me an error msg - which is kind of interesting.

BUT, and here's the kicker... the current dir isn't owned by me, its owned by root. W/o

[2017-01-04 18:45] duglin commented on #217
Morgan just tried this, using the Docker for Mac stuff, and it seemed to work. @krancour where is your docker daemon running?

[2017-01-04 19:38] krancour commented on #217
My Docker daemon is running on Docker Machine.

[2017-01-04 19:49] krancour commented on #217
@duglin

[code]

[2017-01-04 19:52] krancour commented on #217
`1000` and `staff` are the `gid` and primary group, respectively, for the `docker` user in my Docker Machine... I get what's going on here...

[2017-01-04 19:55] krancour commented on #217
The user I am running as inside the container is modeled after the user I run as on my Mac...

But (in case you don't know how Docker Machine handles volume mounting), a user's entire home directory gets mounted to the Docker Machine VM, which then allows `-v` to work because at that point, you're not mounting across hosts (which you've noted cannot be done).

So from the VM's point of view, that

[2017-01-04 20:11] pmorie commented on #205
Closed by #213

[2017-01-04 20:11] #205 closed

[2017-01-04 20:25] krancour commented on #217
@duglin curious... why are we going so far out of our way to not run the build as root when running it in a container?

In principle, I am a strong adherent of _not_ running processes in containers as root since containers share the host's kernel...

But I'm not sure why we'd be observing that so strictly in a container that's used only for building-- it's essentially throwaway and won't ever run

[2017-01-04 20:36] pmorie opened #218 "Correctly model OSB-specific fields in the API"
Currently, after #213, we have a number of fields in the API prefixed with `OSB` to indicate that they are for the Open Service Broker API.  Prefixing is a terrible way to handle this, and for the record, was never my plan -- just a temporary measure to isolate what is intrinsic to the kubernetes service catalog and what is a function of the OSB API.  The correct way to do this is to encapsulate a

[2017-01-04 20:43] krancour commented on #218
I feel like we should get #210 in before this, or else face a difficult rebase.

[2017-01-04 20:48] duglin commented on #217
@krancour we used to run it all as root but then we ran into a problem where the resulting files could not be accessible by the outside user -see: https://github.com/kubernetes-incubator/service-catalog/pull/208#issuecomment-269710622

Now its very possible that I went overboard and a better solution might have been to simply do a `chmod go=u` on everything during the build.  Thoughts?

[2017-01-04 20:57] pmorie commented on #218
@krancour completely agree.

[2017-01-05 07:46] pmorie opened #222 "Add a serialization test"
We need a test like the [serialization test](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/serialization_test.go) from k8s to prove that our API conversions / defaults / etc work correctly.  This TLDR of this test is:

1.  fuzzes every API object
2.  applies defaults
3.  serializes to yaml
4.  converts from versioned -> internal -> versioned, which also exercises deep copy
5.  compa

[2017-01-05 21:52] jpeeler opened #223 "gengo dependency needs care in updating"
Currently master in gengo will break things (specifically cause code generation for defaults to not be generated) and in #215 will actually break the build. I didn't try analyzing gengo to see what the problem is (the SHA used below is the last working version), but here's a diff showing the change of behavior:

[code]

[2017-01-05 22:46] jpeeler commented on #223
For clarity, this is the error when the imports have vendor in the string:

internal error: duplicate loads of github.com/kubernetes-incubator/service-catalog/vendor/k8s.io/kubernetes/pkg/apis/meta/v1
internal error: duplicate loads of github.com/kubernetes-incubator/service-catalog/vendor/k8s.io/kubernetes/pkg/api

https://travis-ci.org/kubernetes-incubator/service-catalog/builds/188983404#L796

[2017-01-06 00:03] krancour opened #224 "Document repo layout"
Per @duglin's suggestion in https://github.com/kubernetes-incubator/service-catalog/pull/210#issuecomment-270397048, it is not a bad idea to update `docs/DEVGUIDE.md` to offer a brief explanation of the overall repo layout, i.e. what goes where.

[2017-01-06 15:11] krancour opened #226 "Compile only for linux/amd64"
As discussed in #219, there's little reason to support building for any other OS/arch. The defense for this assertion is that it makes almost* no sense to execute any component of the service catalog outside of a k8s cluster. If executing in a cluster, then we're assured of Linux as an OS and 99+% of the time, amd64 is a safe assumption for the architecture. (Sorry to folks running Kubernetes on R

[2017-01-06 15:11] krancour commented on #226
I've assigned this to myself, but I am happy for some discussion to take place before I start any work on it.

[2017-01-06 15:19] krancour opened #227 "Eliminate support for out-of-container build, test, etc."
Currently, make targets involving dependency resolution via glide, compiling, testing etc. can optionally be executed in or out-of container. (Set env var `DOCKER=1` to run in-container.)

As discussed in #219, I'd like us to consider eliminating support for out-of-container builds.

Utilizing in-container builds only minimizes the tooling that any contributor must have access to (go, glide, etc.

[2017-01-06 15:31] duglin commented on #227
As I've indicated in the past, I'm +1 on this. While I know there is some overhead involved, I've tried to keep the performance impact to our build to a minimum when running in Docker.  To me the idea that someone can take a machine with nothing but Docker+git+make and build our stuff is a huge UX benefit to me.

[2017-01-06 15:32] krancour opened #228 "Don't use bin dir for Docker build context"
There's been a lot of complexity incurred in our Makefile just for the sake of avoiding permission problems.

One of the biggest permission problems that used to arise (before extra complexity eliminated it) was that compiling in-container, as root, made root the owner of the `bin` dir. Our make targets for producing Docker images (e.g. `controller-image`) utilize the `bin` dir to house Docker bui

[2017-01-06 15:37] krancour commented on #227
Couldn't say it any better, @duglin.

At Deis, we debated this for quite some time before we switched to containerized builds. In the end, we concluded that git, make, and docker were all more ubiquitous than go and glide. A build enabled only by tools that a brand new contributor was most likely to already have was viewed as a huge gain in terms of lowering the barriers to contribution.

[2017-01-06 18:14] ncdc commented on #223
@jpeeler open an issue in the gengo repo please

[2017-01-09 16:34] thockin commented on #223
This is not a bug in gengo, I think.  Having it generate paths with `vendor` in them seems wrong.  The resulting change looks like you should need to add `k8s.io/kubernetes` to `--bounding-dirs` on deepcopy

[2017-01-09 17:59] jpeeler commented on #223
@thockin adding that path to the bounding-dirs doesn't appear to have any effect (while using the latest gengo). Any further advice about what else could be wrong would be appreciated.

[2017-01-09 18:37] thockin commented on #223
can you run the generator with --v=5 and send me the log?

On Mon, Jan 9, 2017 at 9:59 AM, Jeff Peeler <notifications@github.com>
wrote:

[2017-01-09 18:52] bmelville commented on #168
I believe all of the things have been glog'd?

[2017-01-09 18:52] #168 closed

[2017-01-09 20:56] #226 closed

[2017-01-09 21:09] jpeeler commented on #223
Since the log was 8k lines long, I just emailed it with subject: debug log for kubernetes-incubator/service-catalog/issues/223.

[2017-01-10 22:00] arschles commented on #90
I've put https://github.com/kubernetes-incubator/service-catalog/pull/239 forth to build the in-memory client portion. @mkibbe1993 I think you said offline that you're pursuing #141 further?

[2017-01-11 00:22] mkibbe1993 commented on #90
@arschles Yes, that's correct! Working on that now.

[2017-01-11 15:10] krancour commented on #227
Closing... I have been convinced that we shouldn't _eliminate_ the possibility of running out-of-container builds. Instead, #238 simplifies the Makefile so targets don't know or care whether they're running in a container or not.

[2017-01-11 15:10] #227 closed

[2017-01-11 18:22] mkibbe1993 commented on #133
Currently my top priority. Am simultaneously working on a fake broker server as a part of testing. Am currently working on provisioning, and will push PRs as I get functional pieces.

[2017-01-11 19:28] #90 closed

[2017-01-11 19:29] arschles opened #244 "Write controller unit tests"
After #239, there will be a 100% in-memory "fake" CF service broker client. Use this client in unit tests in unit tests written against the controller.

[2017-01-11 19:41] krancour commented on #197
This was closed by #210

[2017-01-11 19:41] #197 closed

[2017-01-11 19:42] krancour commented on #73
This was closed by #182

[2017-01-11 19:42] #73 closed

[2017-01-11 20:24] bmelville commented on #167
See https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/brokerapi/service_binding.go for current credential structure.

See https://docs.cloudfoundry.org/services/api.html#binding-types for the response body which contains "credentials" as "A free-form hash of credentials that may be used by applications or users to access the service."

[2017-01-11 21:58] #199 closed

[2017-01-11 22:07] pmorie commented on #27
Closing for now as out of scope.

[2017-01-11 22:07] #27 closed

[2017-01-11 22:10] pmorie opened #247 "Implement unbind"
This is to implement the consensus established in #39.

[2017-01-11 22:17] pmorie opened #248 "Implement asynchronous provision and deprovision"
According to the consensus established for #49

[2017-01-11 22:25] pmorie commented on #79
We've made a lot of progress here; there's more to do, but I don't think we need to keep this issue open any longer.  We can reopen if necessary.

[2017-01-11 22:25] #79 closed

[2017-01-11 22:27] pmorie commented on #85
I think we need a healthcheck endpoint on every container process

[2017-01-11 22:30] pmorie commented on #103
Closing; we put the boilerplate verification into the repo-infra repository.

[2017-01-11 22:30] #103 closed

[2017-01-11 22:48] pmorie commented on #179
We moved boilerplate generation into repo-infra.  I think that's all we are using directly from k8s, so closing this.

[2017-01-11 22:48] #179 closed

[2017-01-11 22:49] pmorie commented on #181
@mkibbe1993 is this fixed?

[2017-01-11 22:52] pmorie commented on #217
Fixed in master; closing

[2017-01-11 22:52] #217 closed

[2017-01-11 22:55] pmorie commented on #149
Fixed by #154

[2017-01-11 22:55] #149 closed

[2017-01-11 22:56] pmorie commented on #143
Duplicate of #137

[2017-01-11 22:56] #143 closed

[2017-01-11 23:09] arschles commented on #85
@krancour: following up on @pmorie's comment just now. I think "something real" will depend on which healthcheck we're talking about, since we're going to implement checks for all running processes. We'll also probably have to iterate as functionality grows.

[2017-01-11 23:09] arschles commented on #85
In the controller, for example, "something real" might mean that each control loop is responsive.

[2017-01-12 00:35] duglin opened #250 "ACL for controlling access to ServiceClasses"
When a broker is registered with a service controller, who in Kube can see those services? Everyone? Do we want to have some kind of ACL to limit apps in certain namespaces to certain services?

We should probably discuss what we want for MVP-1, for later and what we want to do to allow for future tweaks to this decision that are backwards compatible.

[2017-01-12 02:26] krancour commented on #85
Determined how? The channels they iterate on aren't close? Might need to refactor a bit to make that happen-- not that I am opposed.

[2017-01-12 17:01] #224 closed

[2017-01-12 17:07] krancour commented on #181
I'll find out. It's possible that all the refactoring that's gone on has fixed this. 😉

[2017-01-12 19:29] krancour commented on #181
I guess I did a good refactor, because the problem was perfectly preserved. :wink:

There's more info to go on now though:

[code]

`panic: unreachable` is where the controller's `main()` function exits. I read this as a pretty strong indication that the controller's `Run()` function isn't blocking like it should. I will look into this further.

Assigning to myself.

[2017-01-12 19:47] arschles commented on #250
@duglin our decision, as of the last face-to-face meeting, was to put the `ServiceClass`es resulting from a `Broker` addition into the "global" namespace

I think we should discuss this after MVP-1. We have a lot on our place and it'll be much easier to add an (optional) ACL (or similar) than to rush something and replace it later.

[2017-01-12 21:56] mkibbe1993 commented on #181
@pmorie The crash loop was due to the healthz route not actually being handled, which is what #232 was going to solve. However, the major refactor ended up accidentally fixing this due to simply the code being rewritten and the route being handled this time.

[2017-01-12 21:57] mkibbe1993 commented on #181
@krancour The problem was perfectly preserved accidentally, haha. Last time the controller was healthy but was being killed by the liveness probe. This time the controller actually was unhealthy, lol.

[2017-01-12 22:09] krancour commented on #181
I aim to please. 😆

[2017-01-12 23:09] jpeeler commented on #223
This should no longer be an issue - https://github.com/kubernetes/gengo/issues/30

[2017-01-12 23:09] #223 closed

[2017-01-13 00:28] arschles commented on #162
The namespace is hard-coded for a variety of purposes. One of them is to determine where to write bound credentials, and this is an easy one. Instead of hard-coding, let's just use the namespace from the binding itself. There are other places where a namespace is hard coded for other purposes, and those will require additional discussion, but my previous is a good start.

[2017-01-13 01:24] MHBauer commented on #250
related to #162?

[2017-01-13 03:08] #181 closed

[2017-01-13 06:05] MHBauer opened #259 "makefile changes for glide"
makefile needs to run `glide update` when the yaml changes, and `glide install` when the lock changes.

I need one of the makefile wizards to help me do that.

[2017-01-13 14:12] duglin commented on #259
Need more background/info on glide first... I assumed glide.yaml is something a dev might modify to change which version of a repo we use.  And glide.lock is a generated file but would only be changed, by glide, if someone changed glide.yaml.  Is this not correct?

if it is when would glide.lock be changed but glide.yaml not?

[2017-01-13 14:35] duglin opened #260 "Possible change to LGTM process"
Opening an issue so people can comment and think about this off-line and we don't need to use up the calls/f2f for this...

I've recently heard two different proposals for tweaking our LGTM process:
1 - (from Morgan) instead of LGTM1, LGTM2,... labels, have LGTM-RH, LGTM-IBM, LGTM-Goog, LGTM-Dies,... type of labels (one for each company that can approve PRs). Then we not only can see how many LGTM

[2017-01-13 15:51] krancour commented on #260
I second @MHBauer's proposal / the first option.

The second option still requires some additional cognitive overhead in knowing that certain maintainers' labels are mutually exclusive because those maintainers represent the interests of a single company. The first option doesn't have that problem.

As to the perceived problem that the first option may make our project look too much like it's driv

[2017-01-13 18:04] MHBauer commented on #260
On a variant of 2, how much control do we have over the label colors? If we encode the 'company colors' into each lgtm-initial, then the cognitive load is lowered. IBM committers can be blue (because duh), redhats can be red(also duh), deis can be green (their logo has rgb in it and r&b is already taken), and google can be either yellow (logo has rgby and rgb is taken) or some strange rainbow of c

[2017-01-13 18:45] MHBauer commented on #259
in theory, I think you could do a manual `glide update` which could pick up a newer version of something (if we specified versions as a range). This would impact the lock without impacting the yaml.

Another way is, I feel I need to 'clean' my environment, so I manually delete `vendor/` and lock. When we run an install, it'll run an update. So, I suppose you could say that a 'clean' should rm the

[2017-01-13 22:18] #200 closed

[2017-01-13 22:23] krancour commented on #259
Perhaps stating the obvious here, but level-setting. `glide.yaml` is an expression of _intent_: "Here are the things I want." `glide.lock` is a manifest of what you _got_.

`glide install` installs exactly what is in the `glide.lock`. This is what makes it possible for every contributor to get _precisely_ the same versions of each dependency as the next contributor. In the edge case where `glide.l

[2017-01-13 23:38] kibbles-n-bytes opened #263 "Implement handlers in Fake Broker Server"
Right now the update service instance, bind, and unbind handlers in the fake broker server (`pkg/brokerapi/openservicebroker/util/fake_broker_server.go`) are unimplemented. We need to implement them to sufficiently test the broker client.

[2017-01-14 01:49] MHBauer commented on #259
SGTM.

Stated much more specifically and correctly than I. The dev-env sounds useful, and the glide update target sounds like something we may need in the future.

[2017-01-14 02:27] duglin commented on #259
Morgan, I'm not sure of your exact scenario, but can you try this to see if it fixes it:
[code]

[2017-01-14 13:41] krancour commented on #260
We have total control over label colors. I am ok with labels for each maintainer's LGTM, provided we use color coding as @MHBauer suggests. My only minor reservation would have to do with whether any maintainer who may be color blind might not be satisfied by this. If anyone objects, please do so...

[2017-01-16 18:42] #169 closed

[2017-01-16 21:03] duglin opened #266 "Add support for Pod-Preset - aka Pod Injection Policy"
Just a spot for pointers to the real work so its easy for people to find the other issues, PRs and design docs.

k8s/features issue:  https://github.com/kubernetes/features/issues/162
k8s/community PR: https://github.com/kubernetes/community/pull/254
k8s/kubernetes PR: https://github.com/kubernetes/kubernetes/pull/41931

[2017-01-17 00:17] MHBauer opened #268 "examine types and determine proper validation for each type"
The broker type has mostly complete validation. The remaining field to be validated is the `OSBGUID` field, which is unstructured text, but should probably be limited in size, if only for basic sanity reasons.

The remaining validations to complete are for objects:
- [x] service class (https://github.com/kubernetes-incubator/service-catalog/pull/507)
- [x] service plan (https://github.com/kubernet

[2017-01-17 22:58] pmorie opened #270 "Create API types for Parameters and Metadata"
In master, as of this writing, we have a number of fields in the API that use `interface{}` as a placeholder for parameters and metadata in the OSB spec.  These placeholders were introduced  In #215, we temporarily changed these to `runtime.RawExtension` and `runtime.Object`, which is the correct way to handle things if we serialized raw JSON into these types.  This is a stopgap until we get real

[2017-01-18 20:31] #137 closed

[2017-01-19 12:59] duglin opened #273 "Add configuration API for controller and tie to CLI options for controller binary"
For example, pkg/brokerapi/openservicebroker/open_service_broker_client.go  has some config knobs (like PollingAmountLimit), we should allow for these to be configurable.  E.g. cmd line flags, config file, etc...  something.

[2017-01-19 21:55] pmorie commented on #273
@duglin we have config APIs in k8s for this type of stuff.  Agree that we will need one for this project.

[2017-01-20 18:31] pmorie opened #278 "Store broker credentials in a k8s Secret"
Currently, the `BrokerSpec` type has fields for the credentials the catalog controller should use to authenticate to a broker.  We should change this to instead be the coordinates (namespace and name) of a secret that holds the credentials.  Reasoning for this:

1.  Storing credentials directly in the resource makes that resource an 'escalating' resource, meaning that if you are able to read it, t

[2017-01-23 18:05] vin opened #288 "Walkthrough script has rotted"
I've recently tried to go through the walkthrough script, but parts of it are broken.

For example, when trying to create from broker.yaml, the watcher finds the newly-created brokers, but can't fetch from `/v2/catalog` (no scheme or host on that URL -- the catalog URL isn't found at Spec.URL, so it's missing the `http://k8s-broker:8000` part at the front of that URL).

Changing broker.yaml to mov

[2017-01-23 19:59] rifung commented on #134
I will be trying my hand at this

[2017-01-23 21:52] bmelville opened #290 "Test environment for end-to-end testing"
We were discussion whether this could be done in hyperkube, or needs an existing cluster somewhere.

[2017-01-23 21:52] bmelville opened #291 "We need a Jenkins instance for running end-to-end tests"

[2017-01-24 01:14] mkibbe1993 commented on #288
Hey Vin, we talked a bit in stand up today but wanted to post for the others that I'm currently investigating and working through all the issues with actually running the controller. If the face-to-face this week doesn't set me back too much, I hope to have it working by the end of the week.

[2017-01-25 22:28] bmelville opened #297 "Should Instance.Spec.ServiceClassName be ServiceClassRef?"
Currently instances point to their service class as just a string containing the name, while bindings point to instances using a kapi.ObjectReference. I think that instances should point to service classes using this as well, but not quite sure.

Same is probably true of service classes referencing their brokers.

[2017-01-25 23:35] arschles opened #303 "Write unit tests for dependency traversal functions"
#302 was implemented without unit tests. This issue is to write them.

Requires #302 to be merged.

cc/ @rifung

[2017-01-25 23:43] arschles opened #304 "Implement unit tests for unbind functionality"
Requires #300. Unit tests should cover:

- `(./pkg/controller).Handler`'s `DeleteServiceBinding` function
- `(./pkg/controller).Handler`'s `unbind` function

cc/ @rifung

[2017-01-25 23:45] arschles opened #305 "Add conditions to Binding resources on unbind"
Requires #300

After #300, the `pkg/controller/handler.go` file will have a new `DeleteServiceBinding` function, which has a series of `TODO`s in it. These indicate where resource conditions should be added during the unbind process. This issue should complete those resource additions.

cc/ @rifung

[2017-01-26 06:17] duglin commented on #297
I think this is based on whether objects MUST be in the same namespaces or not. I think in a previous f2f we agreed that service classes are scoped to namespaces, which means instances would be as well. Bindings can span namespaces though since that's how two apps, in different namespaces, can share the same instance/data.

[2017-01-26 17:11] krancour commented on #297
I don't pretend to have all the answers, but just to add another perspective to this, referencing service classes by (sufficiently generic) _names_ could be important if in the future we want to have the possibility that an application, chart, etc. can ask for a _kind_ of service and not know or care how that is fulfilled. e.g. Imagine an application that expresses a dependency on a service class

[2017-01-26 17:22] MHBauer opened #307 "make target or suggested direnv for setting up kubectl when directly using our apiserver"
See #294, specifically https://github.com/kubernetes-incubator/service-catalog/pull/299#discussion_r98043527

[2017-01-26 17:54] kibbles-n-bytes commented on #288
Fixed by #298

[2017-01-26 17:54] #288 closed

[2017-01-26 21:03] pmorie opened #309 "SelfLink for Brokers is incorrect"
It currently includes `namespaces`, which is incorrect, because Broker is a non-namespaced resource:

[code]

It should be:

[code]

[2017-01-27 08:57] chrislovecnm opened #311 "README"
@pmorie what does this do??  TLDR;

I will rewrite and put it in the readme...  Because I show this to my client, and he will be like ... well it does not say what it does ...

[2017-01-27 08:59] chrislovecnm commented on #311
@duglin thoughts?

[2017-01-27 12:59] duglin commented on #311
@chrislovecnm can you elaborate on what you're trying to say? Are you saying our README needs work?  I'm hoping to find some time, soon, to write-up more docs that describe our design choices which should help someone new understand a bit more of what's going on - perhaps that will help?

[2017-01-27 14:23] duglin commented on #311
@chrislovecnm very rough outline to show where I'm headed:
https://github.com/duglin/service-catalog/blob/moreDocs/docs/design.md

[2017-01-29 18:29] chrislovecnm commented on #311
Can you push a pr so we can comment on it?

[2017-01-29 18:30] chrislovecnm commented on #311
Great start, I would love to see a short paragraph about what needs this component fullfils. Orchestration of helm charts. Approach it from a biz perspective, not tech.

[2017-01-29 18:35] duglin commented on #311
Yup almost ready

-Doug

Sent from my iPhone

[2017-01-29 18:42] chrislovecnm commented on #311
Be good to have a demo of sc if you want more comments. I am a new customer and have really no idea what it does. One of the Deis developers was super execited about it, and that peeked my interest.

[2017-01-29 20:40] duglin opened #314 "consider moving make-kubectl.sh into repo-infra"
See https://github.com/kubernetes-incubator/service-catalog/pull/312#discussion_r98359771

[2017-01-29 20:41] duglin opened #315 "make a kubectl image in k8s core builds"
See https://github.com/kubernetes-incubator/service-catalog/pull/312#discussion_r98359630

a nightly one and official (based on releases) would be good.

[2017-01-30 05:27] jmcarp opened #316 "Standalone k8s broker?"
I'm wondering if the helm-powered k8s broker in https://github.com/kubernetes-incubator/service-catalog/tree/master/contrib/pkg/broker is or might become a replacement for https://github.com/18f/kubernetes-broker, which my team is currently using to broker k8s resources to cloud foundry applications. I had a few questions about this:

* Could this package be broken out into a separate repository t

[2017-01-30 15:35] duglin opened #317 "Move verify-errexit.sh to repo-infra"
See: https://github.com/kubernetes-incubator/service-catalog/pull/284#discussion_r98460856

[2017-01-30 15:47] duglin opened #318 "enhance href check to check for anchor links"
see: https://github.com/kubernetes-incubator/service-catalog/pull/275/files#r98456823

[2017-01-30 22:08] #196 closed

[2017-01-30 23:39] #167 closed

[2017-01-31 17:15] krancour opened #324 "Generate OSB UUIDs instead of having the operator provide"
As @duglin suggested [here](https://github.com/kubernetes-incubator/service-catalog/pull/322#discussion_r98607940), creating these UUIDs is an onerous thing for operators to have to. We should generate these for them.

[2017-01-31 17:23] #311 closed

[2017-01-31 17:27] krancour commented on #324
Actually, upon further investigation, we are already doing this.

[2017-01-31 17:27] pmorie commented on #324
What makes you say that?

[2017-01-31 17:30] krancour commented on #324
https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/handler.go#L110-L112

[2017-01-31 18:34] krancour opened #325 "Document what's in contrib"
The non-essential bits that are isolated to the contrib directory aren't all that well documented, imo. Questions like [this one](https://github.com/kubernetes-incubator/service-catalog/issues/316) are coming in, for instance, and I have realized I don't even know how to respond... because I don't have a clear grasp of everything that's in contrib.

For each major component in contrib, e.g. broker

[2017-02-01 13:37] agonzalezro opened #331 "Registry images should be prefixed"
Hi!

I've run `make image push` as explained in the documentation and (as expected) some images where pushed to my registry (in my case hub.docker.com).

The problem resides that at least 2 of this images have common names that could easily be already in usage. It's not a big deal since only a tag with the `$VERSION` is pushed but I think there is room for improvement.

Other of the issues with th

[2017-02-01 14:02] agonzalezro opened #332 "The server doesn't have a resource type "servicebrokers""
Hi,

I've been following the guides, but when I get to this step: https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/DEVGUIDE.md#walkthrough instead getting an empty list I get the following error:

[code]

At the beginning I thought it was ok because as the docs said: _...we didn't create any services yet, kubectl get will return an empty list_, but after following the next

[2017-02-01 16:16] #164 closed

[2017-02-01 21:45] krancour commented on #324
Just to wrap up this thread...

@pmorie and I discussed and agreed that managing these defaults needed to become an API responsibility, but that in the meantime (for as long as the controller watches TPRs instead of API types), we can leave the equivalent functionality in the controller as well.

See #334

[2017-02-04 04:59] pmorie opened #339 "Generate swagger spec"
We should generate a swagger API for service catalog and have the API server serve it as in k8s.

[2017-02-07 15:22] duglin opened #346 "Fix upstream code gen tools so it passed the verification checks (eg. lint)"

[2017-02-07 15:34] spzala commented on #346
#dibs

[2017-02-07 17:36] MHBauer commented on #346
remove the comment in the makefile for golint/govet when they pass
`@# Exclude the generated (zz) files for now, as well as defaults.go`

[2017-02-07 17:54] #324 closed

[2017-02-08 04:01] pmorie commented on #339
#349

[2017-02-08 23:44] vaikas-google commented on #332
Take look at the controller logs, the TPRs should get created once the controller comes up. And older versions of k8s had a problem where this didn't work, so you should be running at least 1.4.

[2017-02-08 23:46] vaikas-google commented on #332
The TPRs get created here:
https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/watch/watcher.go#L157

[2017-02-08 23:51] vaikas-google commented on #316
#1 : it could, our thinking was that at least for now it would be nice for everything to 'just come up' so you could build, push and get things up and running without different repos.
#2 : The thinking behind this is that a single broker [helm broker  in this case], could dynamically support different kinds of ServiceClasses simply by you adding a schema / templates and then that broker would be a

[2017-02-09 01:39] spzala opened #355 "Fix Package servicecatalog lint verification"
'make' gives following minor verification issue,
pkg/apis/servicecatalog/doc.go:20:1: package comment should be of the form "Package servicecatalog ..."
Found 1 lint suggestions; failing.

[2017-02-09 01:39] spzala commented on #355
#dibs

[2017-02-09 19:23] MHBauer opened #361 "build should check for vendored vendor directory"
build should check for `ls ${GOPATH}/src/github.com/kubernetes-incubator/service-catalog/vendor/k8s.io/kubernetes/vendor` and make sure it DOES NOT exist, and if it does, rerun `glide i -v`

precautionary measure. the vendor directory existing indicates that a glide invocation has been run with out flattening vendor.

[2017-02-12 14:25] agonzalezro commented on #332
@vaikas-google I am using the latest version of minikube:

[code]

Also, this is the describe for the controller in case it helps:

[code]

[2017-02-13 19:08] #361 closed

[2017-02-13 21:24] krancour opened #371 "Proposal: Don't build and deploy contrib stuff by default"
Everything that's been relegated to `contrib/` has been so because it's been deemed "non-essential." Consequently, not everyone cares about the stuff that is in there. I'm not sure why, then, we're building, testing, and deploying those components by default.

I'd like to propose that the build be amended such that these components can be _optionally_ built (opt-in; not opt-out) _and_ that these c

[2017-02-13 21:30] arschles commented on #371
I'm good with optional and opt-in

[2017-02-13 23:22] pmorie commented on #371
SGTM, do it

On Mon, Feb 13, 2017 at 4:30 PM, Aaron Schlesinger <notifications@github.com

[2017-02-13 23:24] duglin commented on #371
what do you mean by optional build?  While I'm ok with them being under their own Makefile target, do I think that our PR/CI system should build everything.

[2017-02-14 00:17] #339 closed

[2017-02-14 01:04] krancour opened #373 "Major bug in service binding injector"
I can't get through the walkthrough. Diving deep into the root cause, I've found that the k8s service injector uses this bit of code to add credential fields to a secret:

[code]

The problem with this is demonstrated [here in the go playground](https://play.golang.org/p/ntmiX8Z1ap)

The bytes resulting from marshaling a string _include_ leading and trailing double-quotes. These quotes are include

[2017-02-14 02:39] krancour commented on #371
@duglin:

What I'm trying to accomplish here is reduced dependency on stuff in `contrib` for a few reasons:

1. Build, test, etc. currently builds and tests all the stuff in `contrib`-- which is stuff that many of us don't care too much about. This ends up being a big drag, locally, when hacking on the apiserver or controller.
1. Service catalog apiserver / controller Helm chart currently _also_ i

[2017-02-15 05:44] pmorie opened #376 "Deploy the API server and informer controller into k8s"
This issue is to track the work to make the api server and controller deployable into k8s.  Requirements:

1. Deploy the service catalog as pod(s) in k8s
2. Register with API aggregator

Certificates/kubeconfigs and other configuration can be stored in secrets / configmaps.

I'll take point on this one.

[2017-02-15 17:08] pmorie commented on #376
Adding some detail:

1.  Running in a pod, our components can use the in-cluster-config to connect to the k8s core API server
2.  We will need to provide a kubeconfig and certificate for the controller-manager to speak to the service-catalog API server

[2017-02-15 21:15] #373 closed

[2017-02-16 07:42] mdshuai opened #384 "Update pkg/genericapiserver to k8s.io/apiserver"
When read the code I find current we use ```"k8s.io/kubernetes/pkg/genericapiserver"``` in apiserver
But upstream PR https://github.com/kubernetes/kubernetes/pull/40863, Moved ```pkg/genericapiserver``` to ```k8s.io/apiserver```, we need update code to use ```k8s.io/apiserver``` make service-catalog more compatible.

[2017-02-16 15:32] pmorie commented on #384
My plan is to get everything working with the version of kubernetes that we currently vendor and then rebase onto all the refactored API server bits once things are working and stable.

[2017-02-16 20:38] MHBauer opened #385 "evaluate clean targets and directories to clean"
Follow up to #383

We have multiple hidden directories that are created. Should clean delete them? `.kube/`, `.pkg/`, `.var/`

We have generated code that is checked in. Should that be subject to a clean? `pkg/client` is entirely generated.

[2017-02-17 20:42] krancour opened #389 "What's our SSL strategy for the API server?"
Trying my best to succinctly summarize a very nuanced question with lots of background context...

Currently, our Helm chart for the apiserver includes a secret that contains a hard-coded cert. This is bad. This cert _always_ causes problems because the CN/SANS in the cert don't contain the IP(s) that `kubectl` or our own controller would use to communicate with the apiserver. This is a recipe for

[2017-02-17 23:28] MHBauer commented on #389
'Fix it upstream' is the only real sane thing to do, but that might take a while. Whatever we need to get it working before then is unfortunate work, but should be something that goes into upstream to help everyone else in the same position in the future.

I'd like to have clear support from core before we do that and start working on it.

[2017-02-18 00:39] krancour commented on #389
Ya. That's kinda the point of this issue. I'm inviting commentary and insight from core contributors.

[2017-02-18 04:55] MHBauer commented on #309
Links so we don't lose them:
https://github.com/kubernetes/kubernetes/issues/37622
https://github.com/kubernetes/kubernetes/pull/41011

This concerns me because it somehow implies that all of the core stuff is hardcoded to work.

[2017-02-21 14:07] spadgett opened #398 "Broker from `contrib/examples/walkthrough` doesn't load"
[code]

cc @pmorie

[2017-02-21 15:00] krancour commented on #398
This looks like the resource types used by the service catalog haven't been defined. They're defined when the service catalog itself starts up.

Have you completed the steps [here](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/DEVGUIDE.md#deploying-to-kubernetes) to deploy the service catalog apiserver and controller?

[2017-02-21 15:12] spadgett commented on #398
@krancour Thanks, I'm running the catalog using

[code]

The examples from `contrib/examples/apiserver` load OK. It looks like those use `servicecatalog.k8s.io/Broker` instead of `catalog.k8s.io/ServiceBroker`?

[2017-02-21 15:21] krancour commented on #398
I can't vouch for much of what's on `contrib/hack`. I think we might have a lot of bitrot in there.

Your best bet is to install using the instructions in the link I gave. We're more actively ensuring that the steps documented in there are accurate.

[2017-02-21 17:28] liggitt commented on #389
a few quick pointers to related work.

For obtaining certs (client certs or serving certs):

1. The [CSR API](https://kubernetes.io/docs/api-reference/certificates.k8s.io/v1alpha1/operations/) (in v1alpha1 in 1.5, v1beta1 in 1.6) allows submitting requests for certificates with a specific CSR and usage (client or serving cert, etc).
2. The kubelet uses the CSR API to request/rotate client certs:

[2017-02-21 20:14] krancour commented on #389
@liggitt this is interesting-- good information, but I'm honestly still feeling a bit stuck.

Prioritizing all the pieces of the puzzle here, my number once concern is getting a certificate for the apiserver. The existence of the CSR API is interesting. I'm wondering if it means I could write code against client-go that would allow _our_ apiserver to obtain a certificate from the _core_ apiserver

[2017-02-21 20:29] liggitt commented on #389
the least coupling implementation you can make today is to require a cert to be mounted in via a secret. that can be satisfied by any process capable of creating a cert and putting it in the secret. that could be a manual process, one driven automatically by an external signer, or one that makes use of the CSR API. if you build your app to expect to be given the certs, and make a throwaway script

[2017-02-21 21:06] krancour commented on #389
@liggitt are you proposing that we create the apiserver's service _before_ we create the rest of it (cert-bearing secret, deployment, etc.)?

That's simple and it would certainly work. My only concern about it is that it complicates the installation process quite a bit by making service catalog something that cannot be installed with a simple `helm install`. I think we could live with that, but on

[2017-02-21 21:08] liggitt commented on #389
more likely something resembling openshift's [service serving cert signer](https://docs.openshift.org/latest/dev_guide/secrets.html#service-serving-certificate-secrets) (name trips off the tongue, doesn't it?), possibly backed by the CSR API

[2017-02-21 21:10] krancour commented on #389
But do we really want something in kubernetes-inclubator that hopes to graduate into the kubernetes org someday to depend on something downstream like openshift?

Or are there plans to try and move the cert signer upstream?

[2017-02-21 21:13] liggitt commented on #389
You can create all of it except the secret, then create the secret out of band. That mimics what I would expect to happen with a cert signing service as well (with the only likely change being indicating in a yet-to-be-determined way that your app requires a cert for its service in a given secret)

[2017-02-21 21:20] liggitt commented on #389
Not depending on openshift. Depending on a cert issuing actor of some sort seems more reasonable than embedding one deeply inside a single component.

Worst case, one doesn't materialize in the short term and your throwaway one persists, but in an easily replaced way when someone wants to plug in their own cert issuer.

[2017-02-21 21:22] krancour commented on #389
I can try that. I was supposing that wouldn't work because upstream code that the apiserver re-uses will generate a self-signed cert if a cert isn't provided. I was imagining that this would stop our apiserver from failing in the case that the secret is missing, and that would prevent it from re-starting when the secret become available...

But now that I think about it more, I think if our pod mo

[2017-02-21 21:22] liggitt commented on #389
scheduling succeeds, kubelet blocks starting the container

[2017-02-21 21:23] krancour commented on #389
👍 That'll do.

[2017-02-21 21:24] liggitt commented on #389
by making your server container just consume the secrets, there are other possible mechanisms for obtaining them as well - an emptydir volume to hold the certs and an init container whose sole job is to obtain the cert could work as well.

[2017-02-21 21:28] krancour commented on #389
👍

That seems very reasonable.

Now I'm just trying to imagine how I can somehow unify all the steps needed to effect install into a simple process, given the constraints of Helm.

That is a very interesting thought. This has been very helpful. Thanks!

[2017-02-22 06:56] #278 closed

[2017-02-23 19:01] MHBauer commented on #398
`contrib/hack/start-server.sh` starts the apiserver only, and does not use the TPR backend like the walkthrough.

[2017-02-23 22:43] arschles opened #405 "Finish unit tests for ./pkg/storage/tpr/watcher.go"

[2017-02-23 22:44] arschles opened #406 "Implement watch and watch-list functionality for TPR storage in the API server"

[2017-02-23 22:45] arschles opened #407 "Add TPR storage to the tests in test/integration/clientset_test.go"
They currently test just the etcd-based server. I believe there is a bug with service class creation as well, so this will force fixing that bug.

Left to do:

- [x] Mock out the client interface and pass it to the TPR options in integration.go
    - Probably using `github.com/kubernetes-incubator/service-catalog/pkg/client/clientset_generated/clientset/fake` -- requires #505, as @krancour is writ

[2017-02-23 22:47] arschles opened #408 "Further refactors for the TPR based storage interface"
#338 was a large PR that introduced a major refactor to how the API server is configured and started. Here are a few more refactors that should be done each as a single follow-up:

- Consolidate functionality that creates single objects and lists
    - Includes removing `singularShell` and `listShell` from the TPR storage interface impl
- Consolidate creation of registry.Store inside of the NewSto

[2017-02-24 05:40] pmorie opened #412 "Handle conversion of service and plan metadata into our API"
Currently the logic to do this is commented out -- we need to put this back in and add tests to ensure that service classes and plans are created correctly based on the OSB catalog response.

[2017-02-24 05:55] pmorie opened #413 "Rebase onto Kubernetes 1.6-candidate"
We should rebase onto a release candidate for Kubernetes 1.6 after we're at MVP-1.  There are a couple things we can only do after this is done:

1.  Make our API written purely in terms of client-go
2.  Consume the e2e framework from k8s

Ideally, we would be able to drop out dependency on k8s after the next rebase.  It's worth analyzing all the packages we import from k8s to determine if any pac

[2017-02-24 06:12] pmorie commented on #413
I volunteer to do this once the dust settles on completing the MVP 1 functionality.

[2017-02-27 17:47] krancour opened #422 "New controller manager won't start"
[code]

[code]

Looks like it can't talk to the apiserver? Not sure why.

cc @pmorie

[2017-02-27 17:50] pmorie commented on #422
@krancour looks like you pointed an http client at an https endpoint.

[2017-02-27 17:51] krancour commented on #422
_I_ did? I just used the `wip-catalog` chart. Guessing there's an issue in there?

[2017-02-27 17:52] krancour commented on #422
Also I thought the apiserver was running unsecured for now?

[2017-02-27 17:58] pmorie commented on #422
@krancour how did you invoke helm?

On my list for today is writing up a README for the chart explaining how to set params for different use-cases (local cluster vs. GKE)

[2017-02-27 18:05] krancour commented on #422
[code]

[2017-02-27 18:28] krancour opened #423 "wip-catalog chart's apiserver svc type dependent on debug?"
The `wip-catalog` Helm chart has the apiserver's `Service` type dependent on whether `debug=1` is set or not.

I can't understand why the type of service we use should be dependent on whether we're debugging or not. Additionally, when debugging, one gets a service of `type: LoadBalancer` and that avoids this error, which arises if _not_ debugging  / using service of default `type: ClusterIP`:

[co

[2017-02-27 21:26] arschles opened #428 "TPR-backed API server does not create all TPRs"
Looks the `ServiceClass` TPR type doesn't install, which causes the API server to stop trying to create the remaining ones (`Instance` and `Binding`)

[code]

[2017-02-27 22:18] MHBauer commented on #315
@duglin can we use the hyperkube image?

[2017-02-27 22:19] duglin commented on #315
is kubectl part of hyperkube?
Even if it is, that seems like a really large image just to get the client. But, if we have it on our system for other reasons (like testing) then it might not be that bad.

[2017-02-27 22:25] MHBauer commented on #315
It is!
[code]

We have docker on travis, so I suppose we can try running the dockerized kube.

[2017-02-27 23:29] pmorie commented on #315
@duglin Will you go ahead and create in issue in kubernetes/kubernetes for this and link it here?

[2017-02-27 23:31] duglin commented on #315
@brahmaroutu is doing some investigation on this and if needed then yes he'll open an issue upstream.

[2017-02-28 01:03] arschles opened #431 "make build with NO_DOCKER=1 fails on OS X"
[code]

cc/ @duglin in case you know what I'm doing wrong here

[2017-02-28 02:18] MHBauer commented on #431
what is `install runtime/internal/sys` coming from?

[2017-02-28 02:32] MHBauer commented on #431
I've stopped even attempting to run build on OSX.

A `make clean all` worked without issue for me. I cannot help, good luck.

[2017-02-28 04:27] arschles commented on #431
in case it helps, the following builds a container-compatible API server
binary for OS X

GOOS=linux GOARCH=amd64 go build -o build/apiserver/tmp/apiserver
./cmd/apiserver

On Mon, Feb 27, 2017 at 6:32 PM, Morgan Bauer <notifications@github.com>
wrote:

[2017-02-28 04:50] MHBauer opened #434 "integration test framework leaks servers"
Each call to getFreshApiserverAndClient leaks a server on a random port.

[2017-02-28 17:50] arschles opened #435 "TPR-backed API server should create third party resources in parallel"
currently, it creates them serially in `{broker, service-class, instance, binding}` order. This is slow because it requires verification that each TPR was created after creation time, which takes a long time. This creation process should be done in parallel.

[2017-02-28 17:59] arschles opened #436 "TPR-based API server cannot update status"
The TPR based API server panics when PUT requests come in to update the status of a TPR. See below for the error in logs:

[code]

[2017-02-28 18:05] arschles commented on #435
cc/ @simonleung8

[2017-02-28 18:05] arschles commented on #428
cc/ @simonleung8

[2017-02-28 18:10] simonleung8 commented on #428
#dibs

[2017-02-28 20:16] pmorie commented on #413
Another nasty effect of the current situation:

There are two different 'testing' packages imported from kubernetes projects in unit tests that need to use fake clients for both the service catalog and kubernetes core APIs:

- `k8s.io/kubernetes/client/testing/core`
- `k8s.io/client-go/1.5/testing`

These are the same package, but we have to import them from both locations because our API is writt

[2017-02-28 20:21] arschles commented on #434
@MHBauer do the servers _eventually_ shut down? my understanding is that the shutdown function closes the stop chan, which asynchronously does the shutdown

[2017-02-28 20:23] MHBauer commented on #434
On exit of the binary, yes.

There was a similar issue in kubernetes which caused flakes.

[2017-02-28 20:33] vaikas-google opened #437 "For: WIP Controller, figure out who populates various GUIDs"
Currently controller (wip) does not populate the GUIDs before talking to the broker, say, when creating a Service Instance. My understanding is that the controller is responsible for this.
There's a TODO in wip controller so if you resolve this, also update / remove the comment.

[2017-02-28 20:36] vaikas-google opened #438 "Clean up consistenly using defer in the tests"
As discussed in PR #415 we should clean up the channel closures using defer. This bug is tracking that work.

[2017-02-28 20:36] vaikas-google commented on #437
From @pmorie :  It's the API server's job to create GUIDs for: Instance, Binding. GUIDs for ServiceClass and ServicePlan come from the broker.

[2017-02-28 20:36] #437 closed

[2017-02-28 20:37] pmorie commented on #437
@vaikas-google It seems like we should encode this information somewhere in docs and possibly types.go, agree?

[2017-02-28 21:45] vaikas-google commented on #437
Absolutely. I think controller should also check that it's indeed populated as bad things will happen if it's not. Not sure what the guarantees there are however from the API server side, but seems safer to make sure it's there always?

[2017-03-01 01:49] simonleung8 commented on #435
#dibs will pick this up in the morning

[2017-03-01 04:15] pmorie opened #446 "Add a verify script that checks for json tags in versioned api types.go"
All fields in `types.go` files in versioned APIs should have a json tag.  This is a candidate to pull into repo-infra from k8s.

[2017-03-01 16:05] pmorie opened #451 "Add utilities to give uniform representations of objects for logging"
One thing that happens naturally in codebases is that when someone adds a logging statement that prints information about an object, they will inevitably choose something that make sense to them, which may not be uniform with the rest of the codebase.  In practice, this means that logs wind up full of differing representations of the same object.  We should move toward utility methods for each API

[2017-03-01 16:06] pmorie opened #452 "Add information, where appropriate, to condition messages"
Currently, our condition messages do not contain error information.  This should be added wherever possible.

[2017-03-01 18:39] pmorie commented on #422
@krancour I believe you need `insecure=true`

[2017-03-01 18:43] pmorie commented on #346
Theoretically this might be doable by MVP 2.

[2017-03-01 18:44] pmorie commented on #332
We're going to remove the TPR stuff imminently.

[2017-03-01 18:45] pmorie commented on #331
@agonzalezro has a good point -- I think we should use `service-catalog-` as a prefix for the name of each image.

[2017-03-01 18:47] pmorie commented on #316
@jmcarp We can definitely discuss splitting out some of the brokers under contrib into separate repositories once we get our MVP into shape.  I would prefer to have folks remain focused on MVP for the moment.  Does that work for you?  Thanks a lot for your interest and apologies for the latency responding.

[2017-03-01 18:48] pmorie commented on #315
@duglin @brahmaroutu I think this can be closed, correct?

[2017-03-01 18:49] pmorie commented on #314
@duglin I think this can be closed, correct?

[2017-03-01 18:49] spzala commented on #346
@pmorie thanks Paul!! Newbie question, where is the milestone dates/schedule? I am wondering what's MVP 2 deadline. It seems like multiple repos (like. k8s/gengo /ugorji/go where I have some PR under review) needs to be fixed first and then update those libraries in k8s and eventually update the service-catalog k8s dependencies. Thanks!

[2017-03-01 18:50] pmorie commented on #431
@arschles did you recently upgrade go?

[2017-03-01 18:52] pmorie commented on #39
We have since agreed on finalization and how the controller should handle this.

[2017-03-01 18:52] #39 closed

[2017-03-01 18:52] pmorie commented on #46
We have since agreed on this, implemented in #403

[2017-03-01 18:52] #46 closed

[2017-03-01 18:54] pmorie commented on #263
@vaikas-google I think this is a necessary follow-up after #415 to ensure that the correct parameters got through to the broker api.

[2017-03-01 18:58] pmorie commented on #45
We have consensus on this, at least for MVP milestones, closing.

[2017-03-01 18:58] #45 closed

[2017-03-01 18:59] pmorie commented on #166
Closed by #390

[2017-03-01 18:59] #166 closed

[2017-03-01 19:00] pmorie commented on #20
Someone needs to take a pass back through this stuff and make sure it's done.  I believe it is, but I don't have time to check at the moment.  I'm going to move this to MVP 2 because it really needs to be done before Kubecon, not at MVP 1.

[2017-03-01 19:00] pmorie commented on #129
We have numerous PRs that add test coverage to the wip controller; I'm going to close this.

[2017-03-01 19:00] #129 closed

[2017-03-01 19:01] pmorie commented on #131
I personally think this is covered by the TPR work @arschles is doing; closing.

[2017-03-01 19:01] #131 closed

[2017-03-01 19:02] MHBauer commented on #431
I'm on 1.8 and it works fine.

[2017-03-01 19:02] pmorie commented on #270
I'm closing this for now; we have split out metadata into fields in #329 and decided that Parameters will be a `runtime.RawExtension` in #366.

[2017-03-01 19:02] #270 closed

[2017-03-01 19:03] pmorie commented on #132
This is going away, the new controller is under unit minimal unit test, and we currently have open PRs to enhance that testing.

[2017-03-01 19:03] #132 closed

[2017-03-01 19:03] duglin commented on #314
actually, its a dup of #315 - closing

[2017-03-01 19:03] #314 closed

[2017-03-01 19:04] pmorie commented on #247
Will be closed by #403

[2017-03-01 19:05] pmorie commented on #78
Related:
- #339
- #349

[2017-03-01 19:09] pmorie commented on #134
I think this is completely defunct now; closing

[2017-03-01 19:09] #134 closed

[2017-03-01 19:27] pmorie opened #453 "OpenAPI docs should be hosted somewhere"
Forked from #78; it would be awesome to have the OpenAPI docs in master hosted somewhere.

[2017-03-01 19:28] jwforres opened #454 "Scalability of retrieving ServiceClasses"
The ServiceClass resource contains all of the metadata for its Plans, and with both of the current proposals for Parameters it will also contain the whole schema for the parameters for bind and provision.  This means each ServiceClass is potentially large, and Listing a significant number of ServiceClasses is going to create performance concerns for clients.

[2017-03-01 19:28] pmorie commented on #78
I'm going to close this now, since we generate this information.  I do think it would be awesome to host it somewhere; created https://github.com/kubernetes-incubator/service-catalog/issues/453.

[2017-03-01 19:28] #78 closed

[2017-03-01 19:32] pmorie commented on #250
My opinion on where we stand on this: in MVP, there will not be controls on this.  We _should_ have a policy of some type that determines whether a particular user can see a particular service class.  There are a number of options for how we could do this, and I sincerely doubt that we will have any time before kubecon to discuss them.

So, I think we can either move this issue to the 'Later' mile

[2017-03-01 19:32] pmorie commented on #259
@MHBauer is this still an issue?

[2017-03-01 19:34] MHBauer commented on #259
Haven't tried dug's thing. Looks like it could work. I've since learned a lot about make.

This is mainly a contributor-experience issue.

[2017-03-01 19:34] pmorie commented on #266
I think we should move this to the MVP 2 milestone.  The resource will be in Kubernetes 1.6, so we should be able to implement this once we do #413.  Thoughts?

[2017-03-01 19:48] duglin commented on #266
the title of the milestone doesn't matter as much to me - I'm more interested in us hooking it up as soon as we rebase on kube 1.6 - and I'd like that sooner rather than later.

[2017-03-01 19:50] pmorie commented on #266
@duglin

Yep, we're in 100% agreement about that.  That will be in mvp-2.

[2017-03-01 19:51] arschles commented on #266
We have all talked about this before, so I'll repeat here - I'd like support for pod-presets to be built completely behind a feature flag.

[2017-03-01 19:52] pmorie commented on #114
I think this needs some consideration beyond the broker client semantics.  The way you have to send IDs to the broker is rather tricky to implement in the context of a reconciler-controller.  I would like this to move to MVP 2.

[2017-03-01 19:55] pmorie commented on #85
I'm not certain what logic this endpoint should check, @arschles @krancour do you guys have any ideas, now that we're much further down the road on this?

[2017-03-01 19:56] pmorie commented on #218
I am now of the opinion that this was a premature idea, and that we should not worry about this before MVP 2 is finished.  When we decide to make a `v1beta1` API, then it will be appropriate to think about this.

[2017-03-01 19:57] pmorie commented on #244
I think this is defunct now that the wip controller is under unit test and we have open PRs further enhancing those tests.

[2017-03-01 19:57] #244 closed

[2017-03-01 19:58] pmorie commented on #273
I'm going to move this to MVP 2, since it is more in the spirit of that milestone.

[2017-03-01 19:59] pmorie commented on #384
Closing as duplicate of #413

[2017-03-01 19:59] #384 closed

[2017-03-01 19:59] pmorie commented on #422
Related #425

[2017-03-01 20:08] pmorie opened #456 "Add continuous integration that runs e2e tests"
This issue is to add a CI that runs E2E tests against a catalog deployed in an actual kubernetes cluster.  This will probably need to be MVP 2 due to issues discovered during #399.

[2017-03-01 21:03] pmorie opened #457 "Enable delegated authn and authz back to the core API server"
In order to support unified authn and authz, we should enable delegation back to the core API server.  There is code in master now, which is commented out, that does this.

[2017-03-01 21:03] pmorie commented on #457
I would like for this to be in MVP 2 but that might be optimistic.  I've heard the magical-thinking 'it should just work' about this.

[2017-03-01 21:05] pmorie opened #458 "[Meta] Enable working with the API aggregator"
This issue is to enable operating the catalog behind the k8s API aggregator.  Depends on #457.

Details to figure out:

- [ ] Delegated authn/authz back to the core API server (https://github.com/kubernetes-incubator/service-catalog/issues/457)
- [ ] SSL from the aggregator to the API server (https://github.com/kubernetes-incubator/service-catalog/issues/389)

[2017-03-01 21:22] agonzalezro commented on #331
I am happy to do the change if it's what you want. Do you want a configurable prefix defaulting to `service-catalog-`?

[2017-03-01 21:25] agonzalezro commented on #332
Just curious, if you will not use TPR how are you going to do this? I thought that TPR+controllers was the magic here :) Is there any doc where you explain the future design concept?

[2017-03-01 21:35] MHBauer commented on #457
I think it relies on being in-cluster. So we'll need a flag to turn it off or otherwise disable it to prevent it from crashing on startup when running unit/integration tests and other general tomfoolery.

[2017-03-01 21:37] MHBauer commented on #332
@agonzalezro we're going to use the federated/aggregated/whatever api mechanism provided by upstream. Thus we have an apiserver based on upstream code.

[2017-03-01 21:39] MHBauer commented on #331
@duglin What do you think?

The proposed prefix is desirable. There are a lot of docs and charts and yamls and such that would need to be updated in addition to the image generation code.

[2017-03-01 22:03] pmorie commented on #457
@MHBauer

Agree, that matches my expectations / understanding as well.

[2017-03-01 22:04] pmorie commented on #454
Something we should discuss when it's time to make a `v1beta1` API

[2017-03-01 22:18] duglin commented on #331
I'm ok with a prefix, although "service-catalog-" is kind of long and a lot to type. What about `svc-cat` or `svc` ?  But if others want the verbose name I can live with it.

[2017-03-01 22:20] agonzalezro commented on #331
I would agree with `svc-catalog` but I think that `svc-cat` isn't specific enough.

[2017-03-01 22:26] MHBauer commented on #331
I like the long one. I have autocomplete.

[2017-03-02 00:54] MHBauer commented on #451
It would be nice to implement `String()` for all of our objects such that the default printing is pleasant to read. Maybe there is a library for that? A quick grep on upstream shows the generated protobufs have pretty formats.

[2017-03-02 01:26] MHBauer commented on #203
kubernetes/kubernetes#8830 is the upstream tracking issue.

Recent mailing list discussion https://groups.google.com/forum/#!msg/kubernetes-dev/k5ilr4k50BE/ZJtX7LdiAgAJ indicates unhappiness with ugorji, which is codec-gen and types.generated.go

[2017-03-02 01:48] MHBauer opened #460 "link-checker is busted"
for example, the helm link in https://github.com/kubernetes-incubator/service-catalog/tree/master/contrib/cmd/k8s-broker

This is irritating to me personally, as it takes a long time to run.

[2017-03-02 02:00] duglin commented on #460
#dibs

[2017-03-02 16:04] pmorie opened #462 "Enable user impersonation for brokers targeting k8s"
We need to enable user impersonation for brokers that target k8s.  The use case for this is that brokers that provision resources into Kubernetes should be able to do so using the identity of the requesting user, so that those resources:

- Are subject to that user's quota / resource constraints
- Are subject to that user's security rules

This means that we need to send:

- The namespace
- The us

[2017-03-02 16:06] pmorie commented on #462
cc @bparees @jminter @jwforres @jmrodri

[2017-03-02 16:08] bparees commented on #462
@pmorie you probably want @jim-minter

[2017-03-02 16:09] bparees commented on #462
Why do we need to send the service account? and what service account would we send?  The service catalog's service account?

I agree the broker needs to be able to authenticate the service catalog's request, but that's distinct from impersonation.

[2017-03-02 16:26] jim-minter commented on #462
FWIW I don't know what service account is being referenced here.
Instead of, or in addition to, a username, it would be great to have the capability of passing an opaque auth token to the broker, which it can use for its authenticating/authorizing its internal provisioning actions.  This would save a broker from having to have the rights to impersonate arbitrary end users.

[2017-03-02 16:27] pmorie commented on #462
Service account would be the service account associated with user identity

[2017-03-02 16:34] bparees commented on #462
why would we assume that even exists?

[2017-03-02 16:38] bparees commented on #462
it doesn't make sense to require the service catalog to have credentials for the cluster the broker is talking to.  The broker is the abstraction/bridge for the catalog.

That said, it does raise interesting questions for when you have multiple brokers each talking to a different cluster.  When the service catalog tells a broker "it's ok to impersonate Bob", that's bob in what cluster?  How did th

[2017-03-02 18:21] #460 closed

[2017-03-02 18:24] brahmaroutu commented on #315
#dibs
Even if I build kubectl and make a image using examples/kubectl-container/Dockerfile, I need to figure out how CI can push this image on  release basis to the repo(gcr).

[2017-03-02 20:43] duglin commented on #462
@pmorie is this related?  https://github.com/openservicebrokerapi/servicebroker/issues/110

[2017-03-02 20:49] pmorie opened #463 "Add events to resources"
Currently we're just setting status. We should add events to resources to give more detailsd information back to users.

[2017-03-02 21:17] arschles opened #464 "Make the API server health check fail until after all TPRs have been created"
When the API server starts up, it checks for available third party resources. When the TPRs already exist, the server begins serving almost immediately.

But when they don't already exist, the pod is listed as Ready, but it is not actually listening on a port. The HTTP health check endpoint for the API server should not return 200 (indicating to Kubernetes that the pod is ready) until all TPRs hav

[2017-03-02 22:21] jwforres opened #465 "List requests should return an empty array for items and not null"
Example, if I request a list of service classes and there are none, the response should not have `items: null` it should have `items: []` to be consistent with all k8s APIs.

[2017-03-03 00:41] MHBauer commented on #331
I'm giving/assigning this to @agonzalezro provisionally if they still want it.

[2017-03-03 00:42] MHBauer commented on #428
@arschles @simonleung8 With #444 merged, is this solved?

[2017-03-03 01:03] MHBauer commented on #332
with the new controller, does this still require resolution?

[2017-03-03 01:18] simonleung8 commented on #428
@MHBauer Correct, this is resovled

[2017-03-03 02:06] #428 closed

[2017-03-03 02:13] mdshuai commented on #331
How do you think add prefix to the binary too? now k8s binary most has prefix

[2017-03-03 03:37] pmorie commented on #465
@jpeeler interest in this?

[2017-03-03 03:46] pmorie commented on #462
@duglin it is!

[2017-03-03 04:02] pmorie opened #472 "Test flake: TestReconcileInstanceWithParameters"
As demonstrated in https://travis-ci.org/kubernetes-incubator/service-catalog/builds/207242654

[2017-03-03 05:45] vaikas-google commented on #472
I'm having a hard time deciphering which logs go with that test failure, but if it's the one right above the test:
E0302 19:27:10.788331     500 controller.go:334] Instance test-ns/test-instance references a non-existent ServiceClass test-serviceclass
--- FAIL: TestReconcileInstanceWithParameters (0.00s)
    controller_test.go:421: Unexpected condition status: expected True, got False

Then the li

[2017-03-03 05:46] vaikas-google commented on #472
Moving the logs from the chat into the bug so that we don't lose the context.

[2017-03-03 08:45] mdshuai opened #473 "serviceinstance status is null when can't find serviceclass"
### Describe the issue
1. When create a ```ServiceInstance``` with invalid ```serviceClassName```, then get ```ServiceInstance```
There is no Status. What I expect result is it should contain Status and ```Status.Conditions.Reason``` describe the reason
2. In this situation the ServiceInstance created success but I don't why the in the controller log it said can't create service instance.

### Ste

[2017-03-03 14:31] jim-minter commented on #462
Doesn't it make sense for the service catalog to pass opaque credentials through from the client?

[2017-03-03 14:59] bparees commented on #462
I don't think so.  I wouldn't want the service catalog passing my credentials through to random brokers I may not trust.

The broker needs the following:
1) it needs to be able to authenticate the service catalog ("I trust that if you are asking me to do something, i should do it")
2) it needs to be told on who's behalf the request is being made ("I trust the SC, and therefore I trust it when it t

[2017-03-03 16:32] jpeeler commented on #465
I'll take it.

[2017-03-03 17:21] MHBauer commented on #465
remember to add a test for it as well.

[2017-03-03 19:45] pmorie commented on #473
@mdshuai We're going to be removing these TPRs from the end-user flow very shortly;  I can sync with you next week on what to test going forward.

[2017-03-03 19:59] pmorie opened #476 "What conditions should we have in the API?"
We (arguably prematurely) added some additional conditions beyond the ready condition as constants in the API.  After implementing things in the new controller, I am not certain at this time that we need any condition for any resource beyond the ready condition.

@jwforres, as someone who will be writing a UI around this API, do you think we need additional conditions, or, can we get away with rea

[2017-03-03 20:02] jwforres commented on #476
for both provision and bind we care about whether the async operation has completed or not, and if not why not. So the why not is covered by the status + message.  Right now I'm not sure there is anything else we care that much about.

[2017-03-04 00:50] mdshuai commented on #473
got it

[2017-03-04 05:37] pmorie commented on #438
No longer an issue after #475

[2017-03-04 05:37] #438 closed

[2017-03-05 21:50] agonzalezro commented on #331
I've started the change and I have the `Makefile` ready. It's configurable if you set `IMAGES_PREFIX`, the default value for that env var is `service-catalog-`.

My question is regarding the helm charts, the image names are required there, should I continue with this "configurable" prefix or simplify it with a hardcoded prefix? Because if I accept configuration in the helm chart I think that I wil

[2017-03-06 15:10] pmorie commented on #472
Closed by #475

[2017-03-06 15:10] #472 closed

[2017-03-06 15:11] pmorie commented on #473
I'm going to close this issue since we aren't going to release this functionality.

[2017-03-06 15:11] #473 closed

[2017-03-06 15:11] pmorie commented on #222
Closed by #215

[2017-03-06 15:11] #222 closed

[2017-03-06 15:13] pmorie commented on #178
Closed by #180 #345 #347 #215

[2017-03-06 15:13] #178 closed

[2017-03-06 15:13] pmorie commented on #128
Closed by #341

[2017-03-06 15:13] #128 closed

[2017-03-06 15:14] pmorie commented on #171
We have OK coverage right now; closing.

[2017-03-06 15:14] #171 closed

[2017-03-06 15:15] pmorie commented on #59
Not concerned about this at all right now.

[2017-03-06 15:15] #59 closed

[2017-03-06 15:15] pmorie commented on #201
Closed by #279

[2017-03-06 15:15] #201 closed

[2017-03-06 15:20] pmorie commented on #162
Closed by #262

[2017-03-06 15:20] #162 closed

[2017-03-06 15:41] pmorie commented on #177
@arschles Yep, in an admission controller currently all of the controller's memory lives within the API server.

[2017-03-06 17:39] pmorie commented on #209
I'm changing this to mvp-2 because all of this stuff is going to coalesce around the api server and informer-based controller.  I have some work in-progress for this which is not pushed yet.

[2017-03-06 17:40] pmorie commented on #303
Closed by #403

[2017-03-06 19:00] #303 closed

[2017-03-06 19:01] pmorie commented on #177
Closing; if we do this in an admission controller we should just use the informer infrastructure

[2017-03-06 19:01] #177 closed

[2017-03-06 19:02] pmorie commented on #49
Moving this to MVP-2 since it didn't wind up being in scope for legos-1

[2017-03-06 19:02] pmorie commented on #150
Moving this to MVP-1 for reassesment.

[2017-03-06 19:06] pmorie commented on #140
Closing for now; we can opena  new issue later if we feel there's a need to change something.

[2017-03-06 19:06] #140 closed

[2017-03-06 19:16] pmorie commented on #260
I'm moving this to Later since I don't think we have time to handle this at this point.  I have some alternate ideas I'd like to talk through after Kubecon.

[2017-03-06 19:17] pmorie commented on #259
Moving to Later because no one seems blocked by it and MVP-1 is overdue.

[2017-03-06 19:18] duglin commented on #260
yea, let's brainstorm at kubecon over a few drinks  :-)

[2017-03-06 19:19] pmorie commented on #85
I'm moving this to MVP 2 to reduce the scope of the now-overdue MVP 1.

[2017-03-06 19:19] arschles commented on #85
The health check should check that the TPRs are all created and ready

[2017-03-06 19:19] pmorie commented on #376
I'm closing this because we have a chart that deploys the apiserver and controller-manager.  We can make additional issues for any gaps that need to be closed.

[2017-03-06 19:19] #376 closed

[2017-03-06 19:25] arschles opened #479 "Implement the storage_versioner.go's UpdateList function"
It is currently commented out completely.

[2017-03-06 19:27] arschles commented on #332
The API server doesn't have resource types for `Service*` at all - they are only `broker`/`brokers`, etc...

I'll fix the dev guide and close this out.

[2017-03-06 19:27] pmorie commented on #260
I'm taking this as a tacit agreement to let us pump you full of beers, @duglin

[2017-03-06 19:35] arschles commented on #405
There is no longer such a file. Closing

[2017-03-06 19:35] #405 closed

[2017-03-06 19:43] duglin commented on #260
LOL notice I used the word "drinks" - that could mean just about anything!

[2017-03-06 21:13] arschles opened #481 "Policy for handling broker deletion and deprovision"
At our last face-to-face meeting in late January 2017, we discussed what the system should do on a broker deletion and deprovision operation.

__On a deprovision operation__, we decided that the default case is to fail the deprovision if there are bindings against the instance being deprovisioned. A "force" or "cascade" flag can be explicitly set on the call to make all bindings be unbound, and th

[2017-03-06 21:30] arschles commented on #458
Ref https://github.com/kubernetes-incubator/service-catalog/issues/389, since we may have to figure out how to enable the aggregator to talk to our API server via SSL

[2017-03-06 21:45] arschles opened #482 "[Meta] Remove the "old" controller"
The "new" controller is in `./pkg/controller/wip`, and it will be fully functional after https://github.com/kubernetes-incubator/service-catalog/pull/403 is in. The old controller code should be removed and the `controller/wip` code should be moved under `./pkg/controller`.

Along with this change, any applicable documentation and the `./deploy/catalog` chart, which is outdated, should be updated.

[2017-03-06 21:54] pmorie commented on #482
I can take this one once #403 is merged.

[2017-03-06 22:56] simonleung8 commented on #150
@pmorie
Since @MHBauer is on vacation, I will help finishing up this issue

[2017-03-06 23:13] arschles commented on #465
@jpeeler @pmorie can you add a milestone to this issue?

[2017-03-07 01:33] pmorie commented on #304
Closed by #403

[2017-03-07 01:33] #304 closed

[2017-03-07 01:34] #247 closed

[2017-03-07 01:34] pmorie commented on #305
Closed by #403

[2017-03-07 01:34] #305 closed

[2017-03-07 02:06] pmorie commented on #398
I'm removing this in #485; closing.

[2017-03-07 02:06] #398 closed

[2017-03-07 03:52] pmorie opened #487 "Have an e2e for the walkthrough"
I would like for this statement to evaluate to true:

[code]

Goals are:

1. Make it for easy for anyone to give a basic demo by going through the walkthrough
2. Ensure the walkthrough stays running

[2017-03-07 16:10] pmorie opened #488 "Publish docker images from master"
We should publish docker images from master so that you don't need to build the project to deploy the catalog.

[2017-03-07 17:07] #332 closed

[2017-03-07 18:16] arschles opened #489 "[Meta] Use a test package"
We have many lines in our tests that look like the below, and they are redundant.

[code]

This issue is for adding a test package dependency and using it in tests to reduce this redundancy to one line. Here are some suggestions for packages to use:

- https://github.com/workfit/tester
- https://github.com/arschles/assert (shameless plug)
- https://github.com/stretchr/testify

This is purposefully

[2017-03-07 18:21] pmorie opened #490 "Implement Open Service Broker parameter schemas"
This issue is to implement parameter schemas in the Open Service Broker APIs as defined in:

- https://github.com/openservicebrokerapi/servicebroker/issues/59#issuecomment-282069469
- https://github.com/avade/servicebroker/tree/method-attached-schemas/_spec.md#catalog-mgmt

This means:

1.  Updating our internal OSB API client to handle the new fields
2.  Updating our API to incorporate the inform

[2017-03-07 18:34] duglin opened #491 "Block the creation of resources that violate the model"
See: https://github.com/kubernetes-incubator/service-catalog/pull/474/files#diff-8ce36b4879e7305c3b249d48feb65bd2R393

We should probably never get into this state - one where an instance is created w/o a broker.
We should:
1 - block the creation of a resource that violates our model
2 - decide what to do when we detect this situation. I'd prefer, if possible, to just clean things up - remove the

[2017-03-07 18:47] duglin commented on #491
never mind - apparently its a feature to have our model be in an inconsistent state.

[2017-03-07 18:47] #491 closed

[2017-03-07 20:57] pmorie commented on #422
Closing, since this seems like a case of operator error.  The docs in #425 should help with this in the future.

[2017-03-07 20:57] #422 closed

[2017-03-07 21:06] #436 closed

[2017-03-07 21:06] #406 closed

[2017-03-07 22:50] arschles opened #493 "make test-integration fails on a clean docker daemon"
I launched a brand new VM running minikube and set my env to point to the new, clean minikube daemon. When I run `make test-integration`, I get this:

[code]

The workaround of course is to run `make clean test-integration`. I'm wondering if there's a way to `docker build` the build image if it doesn't exist, or, alternatively, push the image to a public registry.

[2017-03-08 05:33] vaikas-google commented on #116
The methods already unmarshal responses from the broker and return those, so I think there's not really much to do. Re-open if I misunderstood something.

[2017-03-08 05:33] #116 closed

[2017-03-08 05:35] #465 closed

[2017-03-08 19:09] pmorie opened #496 "Add costs associated with Plan to the API"
We currently don't have the cost fields for plans in the API; I left them out because I wasn't sure how to represent them.  Now, we have people coding to the API and they're wondering where costs are, so we should sort this out and put costs back in.

[2017-03-08 19:26] pmorie commented on #493
We need to add `.scBuildImage` a precondition of `test-integration` target do this, should be pretty-standard.

[2017-03-08 19:29] pmorie opened #497 "How should we treat OSB tags?"
The OSB API provides tags, a list of strings, to do the type of filtering that kubernetes uses labels for.  This issue is to determine if we should:

1.  Just use tags to do the type of search that CF does using tags
2.  Translate tags into label selectors somehow and use label selection
3.  Something else TBD

cc @jwforres

[2017-03-08 19:29] pmorie commented on #496
cc @jwforres

[2017-03-08 19:49] arschles commented on #482
reopening, since this is still in progress

[2017-03-08 20:03] duglin commented on #493
done as part of #424

[2017-03-08 20:08] pmorie opened #499 "Namespaced resources should be finalized when the k8s namespace is finalized"
In Kubernetes, when a namespace is deleted, all of the resources in that namespace are deleted.  We should make the service catalog API resources participate in this.  When a namespace is deleted, all of the bindings and instances in that namespace should be deleted.

[2017-03-08 20:43] jwforres commented on #496
FYI @dtaylor113 @jeff-phillips-18

[2017-03-08 22:09] simonleung8 commented on #150
- cleanup extra commented out code is done with the #484 merge

[2017-03-08 22:43] simonleung8 commented on #150
I think the following 2 issues are resolved

I don't see any extra backquote

It is good to define a version, so there won't be any unexpected incompatibility issue.
we are currently using the same version as k8s core

---

@pmorie
For the rest of the issues, there is not enough context in the description for me to go on, so I will drop this work item at this point. Someone with more context could

[2017-03-08 23:07] vaikas-google opened #504 "Tag docker images with appropriate labels."
In order to make debugging issues easier and making sure that deployments are consistent, we should tag our images with meaningful labels and update the deploy charts to match these releases. For example:
in our deploy/catalog/README.md there are several options to override the values for the docker images, and I don't think some of those defaults make sense necessarily.

[2017-03-08 23:46] krancour opened #506 "TPR-based storage's versioner needs unit test coverage"
Currently, there is none.

[2017-03-08 23:48] arschles commented on #506
Ref #407 since that should indirectly add some coverage to the versioner

[2017-03-09 04:07] pmorie commented on #150
If we don't know what else there is to fix, I'm calling this done.  Thanks for picking it up @simonleung8

[2017-03-09 04:07] #150 closed

[2017-03-09 04:08] pmorie commented on #493
Closed by #424

[2017-03-09 04:08] #493 closed

[2017-03-09 04:10] pmorie commented on #482
I think #503 should also cover your (4), @arschles - do you agree?

[2017-03-09 04:17] pmorie commented on #346
@spzala We don't have a firm schedule at this point - but I would like for everything we consider to be MVP to be done before kubecon, if at all possible.  I'm moving this to MVP 3 because it is less urgent than many of the other things we have for MVP 2.

[2017-03-09 04:34] spzala commented on #346
@pmorie Thanks!! and sounds great.

[2017-03-09 15:04] jwforres opened #513 "Need a way for extension metadata for services/plans to be exposed"
As is being discussed here https://github.com/openservicebrokerapi/servicebroker/issues/145#issuecomment-285272615
metadata is considered an extensibility hook within open service broker API.  Given that, we need all metadata sent from the brokers to be surfaced back up through the service catalog API.  This means even if the API specifically explodes metadata items (description, imageURL, etc) th

[2017-03-09 15:13] pmorie commented on #331
@agonzalezro will you make a PR?

I would prefer not to have a configurable prefix unless we have a strong need for it, and to just produce these image names:

- `k8s-service-catalog-apiserver`
- `k8s-service-catalog-controller-manager`

[2017-03-09 15:36] pmorie opened #514 "Idea: Have a single representation of valid API resources for testing"
This is just an idea; no need to do it if people don't want to.

As we have begun adding tests, we've begun to accumulate valid representations of objects in:

1.  unit tests (versioned and unversioned)
2.  integration tests
3.  YAML descriptors for use with the API server integration test

This is natural, but has a couple not-great effects we should seek to mitigate:

For example, tests get very

[2017-03-09 15:51] pmorie commented on #514
Didn't mean to set the milestone, unset for now

[2017-03-09 16:13] pmorie opened #515 "Controller integration tests"
We need to add integration test coverage for the controller.  There's a stub in `test/integration/controller_test.go` which needs additional scenarios.  To implement these, we will need to implement methods that poll the API server and wait for a status condition to reach a certain value.

[2017-03-09 16:19] dymurray opened #516 "Catalog request not sending Broker API version"
For our implementation of the ansible-service-broker (https://github.com/fusor/ansible-service-broker/) we require that all requests have a header specifying the broker API version. (see here for an example request using this header: https://github.com/fusor/ansible-service-broker/blob/master/test/catalog.sh#L5).

Without the header the catalog request 404s and fails to bind the broker to the serv

[2017-03-09 16:21] agonzalezro commented on #331
Yes @pmorie, I did some work on it already, I just didn't have clear if we should allow configuration or not.

Since we both agree in disallow configuration for now the PR should be pretty simple. Will let you know soon.

PS: should we go with `k8s-service-catalog-` or keep with the original `service-catalog-`?

[2017-03-09 17:02] krancour opened #517 "Clean up the chart"
This is a follow-up to #503. #503 removed the _old_ chart and promoted the "wip" chart as its replacement. That chart is pretty rough around the edges and needs some follow-up cleanup.

This is a non-exhaustive list of things that need to be done, and given my previous experience authoring Helm charts, I am eagerly assigning this to myself.

- Default to using pre-built, publicly accessible images

[2017-03-09 17:06] arschles commented on #482
@pmorie yes

[2017-03-09 18:13] duglin commented on #331
`k8s-service-catalog` is really really long!

[2017-03-09 19:47] arschles commented on #268
completed by #507, #509 and #510, closing

[2017-03-09 19:47] #268 closed

[2017-03-09 20:54] pmorie commented on #516
This seems like a candidate for componentconfig API (#273)

[2017-03-09 23:50] vaikas-google commented on #263
This was addressed by #494 and #500

[2017-03-09 23:50] #263 closed

[2017-03-10 18:51] simonleung8 opened #521 "Meta: Improve test coverage for CI"
Need to have adequate test coverage for our CI

Packages that need unit testing:

- [ ] `cmd/apiserver`
- [ ]  `cmd/controller-manager`
- [ ]  `pkg/apis`
- [ ]  `pkg/apiserver`
- [ ]  `pkg/brokerapi`
- [ ]  `pkg/controller`
- [ ]  `pkg/openapi`
- [ ]  `pkg/registry/servicecatalog/binding`
- [ ]  `pkg/registry/servicecatalog/broker`
- [ ]  `pkg/registry/servicecatalog/instance`
- [ ]  `pkg/registry

[2017-03-10 19:26] #434 closed

[2017-03-10 20:42] #435 closed

[2017-03-13 14:56] MHBauer commented on #150
definitely done. version response fails due to kubectl negotiation blowing up, so there isn't anything to see unless we write our own client.

[2017-03-13 16:18] simonleung8 commented on #464
#dibs

[2017-03-13 17:01] arschles commented on #408
Requires #407

[2017-03-13 17:18] jpeeler commented on #446
I looked at this and attempted to verify that hack/verify-description.sh is the script we need to import from k8s. But after removing a JSON tag in pkg/api/v1/types.go and then testing, the script didn't fail. When running "make verify", I didn't see any output specifically illustrating the diff I was expecting so maybe I'm testing incorrectly? update-codecgen.sh at least produced a diff that some

[2017-03-13 17:19] pmorie commented on #412
Related: https://github.com/kubernetes-incubator/service-catalog/issues/513

[2017-03-13 17:21] pmorie commented on #133
This is too broad to be useful (and generally complete); closing - we'll create more specific issues as we find things that need to change.

[2017-03-13 17:21] #133 closed

[2017-03-13 17:25] pmorie commented on #482
This is done - closing

[2017-03-13 17:25] #482 closed

[2017-03-13 17:26] pmorie commented on #488
Related: #504

[2017-03-13 17:28] pmorie commented on #85
Dupe of #464; closing

[2017-03-13 17:28] #85 closed

[2017-03-13 17:31] pmorie commented on #49
Closing; dupe of #249

[2017-03-13 17:31] #49 closed

[2017-03-13 17:52] pmorie commented on #307
Closed by #471

[2017-03-13 17:52] #307 closed

[2017-03-13 18:07] arschles commented on #266
This will be done with #413

[2017-03-13 18:10] arschles commented on #266
Assigned to you @pmorie since you'll complete this with #413

[2017-03-13 18:14] arschles commented on #309
Will be fixed by #413. @pmorie assigned to you since you + others will be doing that issue

[2017-03-13 18:41] simonleung8 opened #528 "`organization_guid` and `space_guid` in instance should be a required field"
Currently we don't enforce these fields to be present when creating an instance. We should enforce the policy as it is a required field as stated in Open Service Broker Api

[2017-03-13 18:43] arschles commented on #504
@vaikas-google and I talked offline and agreed to the following tagging strategy:

1. every commit on master builds and pushes a new image with the sha (not `canary`, so images are immutable and we get reproducibility for bug reports)
2. every git tag has a similarly named docker tag (kubernetes/helm does this too. see [here](https://github.com/kubernetes/helm/blob/master/scripts/ci/deploy.sh#L21-

[2017-03-13 19:11] vaikas-google commented on #504
I also think at some point we should have semver for the released images, but that didn't seem to make it here. So either we deem that something that's not necessary, or we create a new bug to track that.

[2017-03-13 19:35] arschles commented on #504
@vaikas-google if we use semver for our Git tags (something I absolutely think we should do), then we'd get semver docker tags for free

[2017-03-13 21:06] vaikas-google commented on #504
@arschles Super :) Should we (or is there an issue?) somewhere to track that work?

[2017-03-13 21:23] krancour commented on #504
Adding my $0.02. 100% on board with @arschles' proposal _and_ with the notion of using semver tags for both github and docker, with the latter being the product of the former.

[2017-03-14 13:24] #488 closed

[2017-03-14 13:24] #504 closed

[2017-03-14 13:24] #331 closed

[2017-03-14 17:41] arschles commented on #464
@duglin assigning this to you since I can't assign to @simonleung8

[2017-03-14 17:42] arschles commented on #476
We have a clear direction for this issue, which is outlined in #535

[2017-03-14 17:48] MHBauer commented on #515
speaking of coverage, is there a way to actually see the whole project coverage for the integration-tests?

[2017-03-14 19:47] arschles commented on #528
I am moving this out of MVP2

[2017-03-14 19:50] arschles commented on #487
@pmorie are we still on track for delivering this by the MVP2 due date? Also, does this depend on #456?

[2017-03-14 19:50] pmorie commented on #528
I don't think these fields have any meaning in our API right now, and in any event, I do not want to force users to supply them.  I think this needs to have some design around it before we make any plan to do this or not.

[2017-03-14 20:18] #479 closed

[2017-03-14 20:18] #506 closed

[2017-03-14 20:59] arschles opened #539 "helm install with storageType=tpr still installs an etcd container"
I executed the following command on the current HEAD of master (https://github.com/kubernetes-incubator/service-catalog/commit/cc922ca57fb99ed606b7f223dbe261e37dc5a455):

[code]

And the manifests that got installed were the following:

[code]

As seen, the etcd container is still installed. I've verified from logs that the server is still using TPRs for storage, so this container is not used and

[2017-03-14 21:44] arschles opened #541 "Controller can't reconcile service classes in TPR mode"
After adding a valid broker, the controller properly fetches catalog and attempts to write it to the API server as a list of `ServiceClass`es. Doing so fails with the following stack trace:

[code]

Note that I reproduced this by _directly_ creating a third party resource broker, not by creating it via the API server. Using this file (called broker.yaml):

[code]

I ran this command:

[code]

[2017-03-14 22:21] #539 closed

[2017-03-14 22:43] arschles commented on #541
Update: this appears to happen with the etcd-based API server also. Both were run against the following broker image: quay.io/kubernetes-service-catalog/user-broker:cc922ca

[2017-03-14 23:02] vaikas-google commented on #541
Are there any logs on the server side? As in why was it rejected:
the server rejected our request due to an error in our request (post serviceclasses.servicecatalog.k8s.io)

[2017-03-14 23:06] arschles commented on #541
@vaikas-google here is the extent of the logs related to `POST`ing on `serviceclasses`:

[code]

repro steps incoming

[2017-03-14 23:12] arschles commented on #541
Repro steps:

1. Install the UPS broker with the following:

[code]
2. Get the cluster IP of the `ups-broker` service. You'll use it in the next step.
3. Save a `broker.yaml` file with the below contents. Replace BROKER_IP with the IP that you got from the previous step.

[code]
4. Start up the service catalog API and controller with the following command:

[code]
5. Create the broker by running t

[2017-03-14 23:21] vaikas-google commented on #541
Can you grab the output of the broker by doing a curl from one of the pods in that cluster?
http://10.0.0.61:8000/v2/catalog

It's in controller.go this line (depending on which version you're running) reconcileServiceClassFromBrokerCatalog

c.serviceCatalogClient.ServiceClasses().Create(serviceClass)

[2017-03-14 23:22] arschles commented on #541
Possibly related to https://github.com/kubernetes-incubator/service-catalog/issues/412

[2017-03-14 23:23] arschles commented on #541
@vaikas-google the broker outputs no logs:

[code]

[2017-03-14 23:24] MHBauer commented on #412
Link to the code where the commented out section is?

[2017-03-14 23:26] arschles commented on #412
I'm probably looking in the wrong place, but this looks like conversion logic: https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller.go#L278-L295

[2017-03-14 23:28] vaikas-google commented on #412
That's the update path from what I understand,

https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller.go#L263

[2017-03-14 23:29] vaikas-google commented on #412
It's L 264 that's creating the error.

[2017-03-14 23:38] arschles commented on #541
Also, here is the `/v2/catalog` response:

[code]

[2017-03-14 23:42] simonleung8 opened #545 "Controller should fail health check until API server comes up"
Currently the controller returns `200 ok` on it's health check endpoint as soon as it starts serving.
We should wait until it can communicate with the API server before returning `200 ok`.

[2017-03-15 00:55] duglin commented on #528
let's discuss this on Friday because w/o these fields we are not spec compliant. Plus I'm hopeful that the point will be moot by then

[2017-03-15 05:14] gyliu513 opened #548 "[Proposal] Provide an example for Kubernetes and BlueMix integration"
The BlueMix can help provide some service for Kubernetes, so that Kubernetes can leverage those services especially for some database services.

[2017-03-15 15:10] arschles commented on #548
cc/ @duglin @MHBauer in case you guys are more familiar with BlueMix

[2017-03-15 15:10] arschles commented on #548
thanks @gyliu513!

[2017-03-15 15:16] arschles commented on #487
cc/ @kibbles-n-bytes

[2017-03-15 15:55] arschles commented on #541
here's another update: I tried running `kubect create -f` with this service class template:

[code]

Notice that the `osbGUID` has an upper case letter in it, which violates the `NameIsDNS1035Label` validation step (see https://github.com/kubernetes-incubator/service-catalog/pull/547#issue-214256219 for more details on this validation step). The response to this `kubectl create -f` command is the

[2017-03-15 16:05] arschles commented on #423
I am moving this out of MVP 1

[2017-03-15 16:18] #412 closed

[2017-03-15 16:44] arschles opened #550 "Do not build prefix-less images"
In the `Makefile`, we build images that look like `controller-manager:$(VERSION)`, without a registry. We later tag them to have the registry prefix, but I don't see any reason to build them without the registry prefix beforehand. We should just build the image with the registry from the start and remove the `docker tag` step

[2017-03-15 16:46] arschles commented on #115
Is this done already?

[2017-03-15 16:49] arschles opened #551 "Flaky test in ./pkg/storage/tpr"
Not sure exactly which test, but we've seen one of the tests in this package fail intermittently. Will update this issue with details the next time we see it.

cc/ @duglin

[2017-03-15 17:38] pmorie commented on #551
I saw the same thing - in my case it was `TestInstallTypesAllResources`.

I'd recommend running it 1000 times (`-count 1000`) and seeing if you can get it to fail

[2017-03-15 18:54] krancour opened #552 "Broken walkthrough: Running ups-broker not listed as a pre-req"
The walkthrough registers a `broker`, but there is no step in the walkthrough that actually deploys the ups-broker. This means that registering a `broker` is consigned to failure since it will fail to list `serviceclasses` offered by that broker.

[2017-03-15 18:58] krancour opened #553 "Broken walkthrough: test-ns does not exist"
When service catalog resources (e.g. `broker`, `instance`, etc.) are created in the course of the walkthrough, they are created in the `test-ns` namespace-- which doesn't necessarily exist already within our api group. It's not a problem though, because unlike the core apiserver, we don't have an admission controller enforcing that namespaces must exist before things can be added to them.

Contras

[2017-03-15 19:01] krancour opened #554 "Proposal: Separate walkthrough from dev guide"
After #488 and #517, there's no need to build binaries, images, etc. from source in order to install the service catalog for the sake of demo. I think this changes the intended audience from contributors to "tire-kickers." As such, it probably makes sense to separate the walkthrough from the dev guide.

[2017-03-15 19:04] krancour opened #555 "Refactor walkthrough to work with new helm charts"
This is a follow-up to #546

[2017-03-15 20:56] pmorie commented on #541
...and loosened the validations in #558

[2017-03-15 21:02] krancour opened #560 "Security: Containerized processes should not run as root"
Containers share the host's kernel. It's considered a best practice to not run containerized processes as root. This helps prevent compromised processes or users exec'ed into a container from attacking the host.

[2017-03-15 21:03] krancour commented on #555
I've labeled this as MVP 2 because I believe that in tje Kubecon timeframe, we need to be prepared for an influx of new interest and people who will want to kick the tires.

[2017-03-15 21:04] krancour commented on #553
I've labeled this as MVP 2 because I believe that in tje Kubecon timeframe, we need to be prepared for an influx of new interest and people who will want to kick the tires.

[2017-03-15 23:28] krancour commented on #115
It isn't done, but it seems the only thing doing anything with it is `contrib/jenkins/deploy.sh`

tbh, I'm not sure I understand why or how we're currently doing anything with Jenkins. It seems we're only gating PRs on Travis CI passing... thus, I'm not sure what value Jenkins anything is currently adding. In turn, I would question whether the whole bookstore app is dead weight we can jettison. If

[2017-03-15 23:28] krancour commented on #115
Maybe someone who understand's the dealio with Jenkins wants to weigh in here.

[2017-03-16 13:52] krancour opened #562 "Add easy deploy process for hackerz"
This is a follow up to #546, which refactors the catalog chart.

As `helm install ...` (_without_ the need to build from source _first_) becomes the canonical way of getting service catalog up and running in a cluster-- even for contributors-- contributors need a seamless way to "slot" custom-built images into the running service catalog deployment in place of the official "canary" images that get

[2017-03-16 15:51] pmorie commented on #516
We should have this in MVP-2 - it's required per the spec: https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#api-version-header

[2017-03-16 18:54] #517 closed

[2017-03-16 20:57] arschles opened #566 "controller-manager doesn't appear to send basic auth credentials to broker servers"
@gabrtv has found that the controller doesn't properly send auth data to broker servers.

He has installed a broker resource as such:

[code]

And, when the controller picks it up, the following logs appear:

[code]

[2017-03-16 21:03] arschles commented on #566
I take this back. the problem was in fact that the URL join does not account for trailing slashes in the `url` field in the broker. See the below logs:

[code]

[2017-03-16 21:05] arschles opened #567 "URL join for broker URLs doesn't account for trailing slashes"
If a broker spec has the following field:

[code]

The controller will fetch the broker server's catalog via `http://s3-broker-server:3000//v2/catalog`. It appears that the double slash between `3000` and `v2` causes problems. The error that the controller emits is:

[code]

The controller should be robust enough to sanitize the URL.

[2017-03-16 21:06] #566 closed

[2017-03-16 21:43] arschles opened #569 "provisioning, deprovisioning, binding and unbinding do not handle auth"
There are 4 comments in `./pkg/brokerapi/openservicebroker/open_service_broker_client.go` that read: `// TODO: Handle the auth`. These need to be replaced by code that:

- Walks from the binding/instance up to the broker
- Fetches the broker's auth credentials
- Uses the auth credentials in the provision/deprovision/bind/unbind request

[2017-03-16 21:52] #567 closed

[2017-03-16 22:02] arschles opened #571 "Add auth to the fake broker server, and test it"
Make sure that the OSB client properly sends auth headers on all requests.

[2017-03-16 22:08] #516 closed

[2017-03-16 22:08] #569 closed

[2017-03-16 22:15] MHBauer commented on #516
@dymurray can you try again and let us know if it still fails. We should be sending a v2.11 header now.

[2017-03-16 23:00] MHBauer commented on #571
Currently it does not check the contents, but it does check for presence or absence. Absent headers will fail tests by returning 404.

[2017-03-16 23:04] MHBauer commented on #551
Seeing the failed tests take 1 second.

Poll has a 1 second timeout on a 1 second retry.

[2017-03-16 23:30] MHBauer commented on #551
TestInstallTypesAllResources is racy in a way. There is no checking that each resource is not seen and then seen. It checks that there are four gets, and then four more gets. Given the threading, all four 'pre'-gets could be used up by checking on the first tpr, with a fifth to be 'found' leaving any and all others to be found as if they were installed the whole time.
@simonleung8

[2017-03-16 23:40] MHBauer commented on #551
`go test -i -v  ./pkg/storage/tpr -race -c &&  ./tpr.test -test.v -v 10 -logtostderr -test.run 'TestInstallTypesAllResources|TestInstallTypesResourceExisted'`
I think the race detector helps repro.

[2017-03-16 23:45] simonleung8 commented on #551
I think I see the problem. First we used a map of channel, first create then poll, the actions were sequential, but that is not the case anymore after we wrap the polling into the go func() and that causes the flakiness. I will fix this after finishing what I have on hand. Unless somebody else get to it first.

[2017-03-17 00:00] simonleung8 commented on #551
actually #dibs
I might have an easy fix

[2017-03-17 00:01] arschles opened #573 "Controller "forcing resync" re-provisions and re-binds"
When the controller logs something like the following:

[code]

After this happens, it looks like the controller re-lists and re-watches, then re-fetches the catalog, re-provisions and re-binds (respectively). For example, we noticed that using the s3 broker, a lot of buckets get created (the result of a provision) even though a single `Instance` was submitted and exists in the system. This bug al

[2017-03-17 00:10] kibbles-n-bytes commented on #487
@arschles Yes, we will have at least e2e tests that go through the walkthrough with an etcd-backed API server. Finishing up that work now.

[2017-03-17 00:10] kibbles-n-bytes commented on #487
@arschles #456 depends on this issue.

[2017-03-17 15:59] jwforres commented on #453
Would love to see this, will make it easier to keep up with the current state of the API

[2017-03-17 16:59] arschles opened #578 "Write tests for keyer.go"
They are currently all TODOs

[2017-03-17 20:06] arschles opened #579 "Write integration test to make sure that an OSB GUID cannot change once assigned"

[2017-03-17 20:49] arschles opened #581 "Enable controller tests for TPR storage"

[2017-03-20 01:50] pmorie opened #583 "Determine long-term plan for OSB Organization and Space GUIDs"
The OSB API currently requires that the CF organization and space GUIDs be sent on [provision](https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#provisioning) requests.  PR #577 adds these fields to provision requests by populating them with the UID of the namespace as a stop-gap.  Longer term, we should consider which use-cases exist around these fields and determine exact

[2017-03-20 17:47] arschles opened #584 "The UPS Broker Panics on Bind calls that happen before provision"
Here is a stack trace:

[code]

[2017-03-20 17:47] pmorie commented on #584
Interestingly, I have not had a problem with this, though I have been using the UPS broker extensively

[2017-03-20 18:14] #550 closed

[2017-03-20 18:23] pmorie opened #586 "upstream k8s reuse "Service catalog follows namespace lifecycle" (create namespace if one does not exist by denying resource creation if the namespace does not exist)"
In the k8s core, there is an admission controller that autoprovisions a namespace that does not already exist when a namespaced resource is created for that namespace.  We need to have equivalent functionality in service-catalog.

[2017-03-20 18:23] pmorie commented on #586
cc @derekwaynecarr, since this is relevant to your interests

[2017-03-20 18:24] duglin commented on #586
Isn't that a little scary? A simple fat-finger could create a ton of extra namespaces over time.

[2017-03-20 18:26] duglin opened #587 "DEVGUIDE is stale"
Not sure what else is old but just dir map at the top isn't right - we don't have a "deploy" dir at the top level.

Let's use this issue to walk thru the entire thing to make sure its all in-sync.

Marking this as MVP-2 since this will impact newbies coming in.

[2017-03-20 18:27] pmorie commented on #586
I'm not sure that I see what is scary about it.  We do the same thing for every namespaced resource in kubernetes.

[2017-03-20 18:30] pmorie commented on #587
Fix coming for this.

[2017-03-20 18:31] duglin commented on #586
that doesn't make it any less scary  :-)

In a previous discussion you were talking about how it may be "a good thing" that we allow dangling pointers because the other end might not be there yet.  If so, why isn't this treated the same way? If things were consistent we would try to create all missing resources at the other end of a dangling resource. But clearly we don't.  Not sure why namespaces

[2017-03-20 18:41] vaikas-google commented on #584
Could you add repro steps?

[2017-03-20 18:42] arschles commented on #586
Note that https://github.com/kubernetes-incubator/service-catalog/pull/565 will not fix this issue, but will mitigate because helm can (but won't in all cases) auto-provision namespaces

[2017-03-20 18:54] arschles commented on #584
@vaikas-google I don't have reliable repro steps, because this looks like a race condition in the user provided broker

[2017-03-20 19:17] arschles commented on #584
@vaikas-google actually one way to test this specific issue is to try to bind before provisioning against the UPS broker

[2017-03-20 20:37] arschles opened #590 "Publish charts/catalog helm chart to a public chart repository"
A good place to publish would be a public Google Cloud Storage or AWS S3 bucket, as various helm charts do.

See https://github.com/kubernetes/helm/blob/master/docs/charts.md#chart-repositories for a description on what a chart repository is.

[2017-03-20 20:45] pmorie commented on #590
I must admit that I am not super-clear on what this means.  Is repository here a 'chart repository'?

[2017-03-20 21:15] arschles commented on #541
This was fixed by #558 (and debugging was added to aid in the solution & future debuggability in #556). Closing

[2017-03-20 21:15] #541 closed

[2017-03-20 21:18] #456 closed

[2017-03-20 21:18] #487 closed

[2017-03-20 21:18] arschles opened #591 "Make e2e tests run by default"
The `jenkins` label should be changed to `no jenkins` (or similar) to specifically turn off e2e tests.

cc/ @kibbles-n-bytes

[2017-03-20 21:21] arschles commented on #573
This was fixed by #582. Closing

[2017-03-20 21:21] #573 closed

[2017-03-20 21:23] #552 closed

[2017-03-20 23:58] #551 closed

[2017-03-21 02:28] derekwaynecarr commented on #586
Namespace auto provision admission controller is deprecated.  k8s uses NamespaceLifecycle which forces namespace to be previously created prior to creation of the resource.  It also enforces new resources cannot be created when a namespace is undergoing termination.  Service catalog should assume the same and reuse.  I plan to help out on the namespace related issues soon.

[2017-03-21 02:31] derekwaynecarr commented on #586
This thread reminds me that I need to remove those plugins in 1.8 kube.

[2017-03-21 16:25] MHBauer opened #595 "comments in pkg/controller/controller_test.go are out of date on TestReconcileInstanceDelete &"
comment says two actions and then checks for three.

this is confusing for those reading the code and the comments.

original commit is #522.

[2017-03-21 16:25] MHBauer commented on #595
#594 thanks @pmorie

[2017-03-21 16:25] #595 closed

[2017-03-21 17:08] #587 closed

[2017-03-21 17:38] rifung commented on #553
Would it make sense to just create the namespace during the binding injection?

[2017-03-21 18:51] duglin commented on #553
@rifung see: https://github.com/kubernetes-incubator/service-catalog/issues/586#issuecomment-287958020

[2017-03-21 19:07] rifung commented on #553
Seemed like there were just arguments going both ways in that discussion so I'm not too sure what to make of it..

[2017-03-21 21:56] #584 closed

[2017-03-21 22:09] simonleung8 commented on #464
@arschles This issue is resolved.

`genericapiserver` installs health check on [PrepareRun()](https://github.com/kubernetes/kubernetes/blob/6b9a9442855d16e0ff0c02ab0c82b1c1665cccaf/pkg/genericapiserver/genericapiserver.go#L186), the pod will report healthy as long as TPR installs successfully and apiserver starts.

[2017-03-21 22:10] arschles commented on #464
thanks @simonleung8. closing

[2017-03-21 22:10] #464 closed

[2017-03-21 22:11] derekwaynecarr commented on #586
@pmorie -- can we relabel this issue as follows:

"Service catalog follows namespace lifecycle"

To summarize what would need to be done would be the following:

service catalog apiserver runs an admission controller that does the following:
1. verifies existence and phase of the k8s namespace prior to admission of any namespaced resource
1. associates the service catalog w/ the k8s namespace by a

[2017-03-21 22:15] arschles opened #598 "Add documentation on how to configure & use Third Party Resource storage mode"
The API server can store its resources in etcd or third party resources. Our walkthrough documentation explains how to interact with the server running in etcd mode. That document as well as appropriate other docs should be expanded to describe how to run and interact with the server in TPR mode.

This includes doing actions directly against TPRs.

Things to think about:

- If you’re running in TP

[2017-03-21 23:09] #528 closed

[2017-03-22 14:39] krancour opened #599 "tpr-based storage needs some work"
In working on #576, some flaws in the tpr-based storage implementation were uncovered, but not corrected.

- Compared to the etcd-based storage upstream, we have put update logic in the wrong spot. A direct consequence of that is when performing an update, our storage impl isn't returning a copy of the _updated_ object (e.g. with _new_ resource version). This is in direct contrast to the behavior

[2017-03-22 15:22] jwforres commented on #463
Question that just came up during UX discussions is whether we can get events for async operations completing.  This lets us have notifications to let users know their service provision has completed or their binding as completed (when we eventually have async bind).  Or in both cases if the async operation perm failed.

[2017-03-22 17:18] kibbles-n-bytes opened #600 "[Meta] Deletion of TPRs via catalog API Server fails"
_Note: this issue is made up of several smaller ones. Ideally a single patch should close this and all of the smaller ones. See https://github.com/kubernetes-incubator/service-catalog/issues/600#issuecomment-300330144 for details._

Upon trying to run `kubectl delete -n test-ns bindings ups-binding` as per the walkthrough, I get:

[code]

API server logs: http://pastebin.com/5BFFMsuv
Catalog logs:

[2017-03-22 17:25] kibbles-n-bytes commented on #591
The thought here was that anyone can open PRs, and when others become more active with this project we wouldn't have control over who is running what on our Jenkins. But for now I'll remove the tag requirement, and if an issue occurs then we'll readdress it.

[2017-03-22 17:25] #591 closed

[2017-03-22 18:30] MHBauer opened #601 "overall error recovery"
I'm not sure what's at fault, but we need better handling of error cases.

Some examples:
 - the namespace does not exist. I got to a point where I could not delete something that referenced a non-existent namespace
 - I couldn't delete a binding that was created while the service broker was down
 - I could not delete an instance that was created before the broker was created.

[2017-03-22 18:56] pmorie opened #603 "Support leader election in controller"
Our controller should support leader election for clusters where there are multiple copies of the controller run.

[2017-03-22 18:57] pmorie commented on #603
@directXman12, this one has your name all over it, hoss

[2017-03-22 19:20] arschles opened #604 "Images from master look to be pushed with the latest tag in them"
The [tags list](https://quay.io/repository/kubernetes-service-catalog/controller-manager?tab=tags) on Quay.io has tags like `v0.0.1-RC1-3-gbb3a42a` in them.  This has been happening ever since we created the `v0.0.1-RC1` git tag, and I suspect there is something wrong with the Travis CI deploy script.

All images from master should be tagged with _just_ the commit sha in them, not the most recent

[2017-03-22 19:24] arschles commented on #603
I have some questions here, because I'm concerned with the amount of complexity that leader election will add (even though the code is already written), both in comprehending the codebase and more importantly, debugging user submitted issues:

- Do you have a use case for multiple controllers in a single cluster?
- What will the replicas do?

[2017-03-22 19:36] arschles commented on #586
I am ok with doing this, but not in MVP 3. We have more pressing issues right now, and can get far by putting a note in our documentation indicating that the namespace must exist prior to creating a `Binding` (in practice, that's the only time we really need it), and must persist throughout the lifecycle of the `Binding` and app that uses the secret created by the controller.

I am moving this to

[2017-03-22 20:12] arschles commented on #600
@kibbles-n-bytes the workaround is to delete the TPRs directly on kubernetes core. you could use that workaround on https://github.com/kubernetes-incubator/service-catalog/pull/602, but obviously it won't close this issue

[2017-03-22 20:15] arschles commented on #600
may be fixed by work that comes out of https://github.com/kubernetes-incubator/service-catalog/issues/599

cc/ @krancour

[2017-03-22 20:37] vaikas-google opened #606 "Define a strategy for certs for brokers"
Some brokers (especially internal ones, or testing ones) do not have proper certs and we probably do not even install proper roots in our containers. This issue tracks defining a procedure for doing this:
 1. install proper root certs
 2. define a process for adding additional ones for organizations

[2017-03-22 22:15] MHBauer commented on #603
Very interested in learning the deeper internals here, as well as understanding the upstream design decisions.

[2017-03-22 23:12] kibbles-n-bytes opened #609 "Wrong TPR name for service classes"
Running `kubectl get thirdpartyresources` on the main Kubernetes API server gives `service-class.servicecatalog.k8s.io`, but when you try to run a `kubectl get` on this resource you get the response:

```the server doesn't have a resource type "service-class" in group "servicecatalog.k8s.io"```

It seems the resource is actually called `serviceclass.servicecatalog.k8s.io` (without the dash).

[2017-03-23 04:20] krancour commented on #609
Believe it or not... that's how it works (upstream). I'll try to find references tomorrow.

[2017-03-23 19:52] #581 closed

[2017-03-23 20:06] MHBauer commented on #407
I wouldn't consider this closed since some of the tests are just skipped.

[2017-03-23 20:06] MHBauer commented on #609
I recall this as well. TPR does a bunch of munging to the name you give it. Can we give it serviceclass no-dash everywhere?

[2017-03-23 20:08] arschles commented on #407
@MHBauer correct, reopening. I believe @krancour is working now on fixes and re-enabling the rest of the tests for TPR

[2017-03-23 20:10] arschles commented on #581
This is not completely finished, but https://github.com/kubernetes-incubator/service-catalog/issues/407 tracks the remaining work

[2017-03-23 23:03] arschles commented on #590
Yes. I've changed the title to be more specific

[2017-03-24 01:18] #579 closed

[2017-03-24 02:09] pmorie commented on #462
@jmrodri @eriknelson @luksa @vaikas relevant to your interests

[2017-03-24 12:16] jmrodri commented on #462
@pmorie It is relevant. Though right now we're working wide open. At first I was thinking what @jim-minter was thinking that the service catalog would pass the credentials down to the broker, but @bparees definitely brings up some valid points.

[2017-03-24 13:27] eriknelson commented on #462
+1, I was working under the assumption we'd be given some kind of a permission-scoped token to act on the behalf of the user. Credentials don't feel in the spirit of params, makes sense for context.

Can a broker potentially act on more than one cluster? If so, we'll also need the targeted cluster as part of the context, if I understand this correctly?

[2017-03-24 13:37] liggitt commented on #462
impersonation requires the broker to have all the information about the requesting user:
* username
* group names
* all "extra" attributes (used to plumb information like OAuth scopes, so dropping this can escalate a user)

impersonation also requires the broker to be allowed to act as the user whenever it feels like it

I agree that a permission-scoped token would be better, but kubernetes does n

[2017-03-24 13:51] bparees commented on #462
I don't think there's any restriction on what a broker could "potentially" do (it doesn't have to act on any cluster at all, for that matter).  Now as for what simplifying assumptions we want to make for now, I'd defer that to @pmorie and maybe @smarterclayton (and I'm sure there are other key folks involved in that decision, i just don't know all the stakeholders).

It seems like a reasonable ass

[2017-03-24 15:28] deads2k commented on #462
What if we built an intersecting authorization check instead?  A client could specify, "intersect my authorization with this other user.Info's power".  A broker could then be granted more limited power like "admin" in most namespaces.  Given the user information, the broker could be sure he didn't do anything the user couldn't have done, but compromise of the broker wouldn't allow cluster ending a

[2017-03-24 15:38] bparees commented on #462
it sounds plausible to me, but we still have the aforementioned problems of making sure "this user" as provided by the SC is the same as "this user" in the cluster the broker is talking to.

[2017-03-24 23:00] arschles commented on #604
After #608, this issue looks to still be occurring. After I tagged an [RC 2](https://github.com/kubernetes-incubator/service-catalog/releases/tag/v0.0.1-RC2) in GitHub, we now have a `v0.0.1-RC2-1-gf3e9d9c` tag. See https://quay.io/repository/kubernetes-service-catalog/apiserver?tab=tags for the entire list.

[2017-03-24 23:04] arschles commented on #604
Please disregard my previous statement. I missed that #608 is not yet merged.

[2017-03-27 16:50] krancour commented on #548
I would humbly suggest that there's no need for us to be providing cloud-provider-specific examples. k8s is supposed to be our common denominator over all infrastructure.

[2017-03-27 16:54] krancour commented on #609
See my comment at https://github.com/kubernetes-incubator/service-catalog/pull/614#issuecomment-289505703. Closing.

[2017-03-27 16:54] #609 closed

[2017-03-27 16:55] krancour commented on #423
This was addressed when the charts were completely re-written in #546. Closing.

[2017-03-27 16:55] #423 closed

[2017-03-27 16:59] krancour commented on #453
@pmorie should it really be incumbent upon our project to host another project's documentation? I submit, no.

[2017-03-27 19:06] pmorie commented on #453
No, but we should our own openapi for the svc cat k8s api
On Mon, Mar 27, 2017 at 6:59 PM Kent Rancourt <notifications@github.com>
wrote:

[2017-03-28 00:11] gyliu513 commented on #548
Thanks @krancour , how about adding sth like `docs/contrib/xxx.md` as some examples for specified integration example? The `contrib` folder can make life easier for people with a specified requirement.

[2017-03-28 11:49] #604 closed

[2017-03-28 12:35] pmorie commented on #515
@MHBauer not that I know of.

[2017-03-28 12:58] arschles commented on #548
@gyliu513 would you be interested in adding such a document in that location?

[2017-03-28 15:52] krancour commented on #599
Add to this list that updates do not work for, it seems, just the namespaced objects (instances and bindings).

[2017-03-28 15:59] gyliu513 commented on #548
Sure, I do have such plan and also want to contribute for this @arschles

[2017-03-28 16:53] arschles commented on #606
@vaikas-google do you consider the following to be a solution:

1. Install standard CA roots to the [controller-manager `Dockerfile`](https://github.com/kubernetes-incubator/service-catalog/blob/master/build/controller-manager/Dockerfile)
2. Default to standard TLS (without `InsecureSkipVerify`) for all controller-to-broker communication
3. Add a new `brokerSecurity` field to the `Broker` resource

[2017-03-28 17:00] arschles commented on #562
I will share my dev/build/deploy process on a minikube cluster here in case it helps:

First, I build the images using my minikube docker daemon:

[code]

Then, I use the standard helm chart to install to the same cluster. Note that no images should be pulled, because they are already on the daemon.

[code]

When I want to rebuild, I just `kubectl delete` the pod.

[2017-03-28 22:24] derekwaynecarr opened #620 "service catalog must check-in its vendored dependencies"
The service catalog needs to check in its vendor code into the source tree.

1. we cannot rely on vendored projects we rely on today existing tomorrow
1. we need to be able to build past releases of service catalog in the future in case of security fixes, etc.  not having those dependencies checked into the repository makes us unable to provide that guarantee
1. we need to also ensure that every d

[2017-03-29 02:23] krancour commented on #620
While I will not dispute the other points, to be fair, I have to correct this one:

`glide.yaml` does not; but `glide.lock` does-- for _every_ dependency.

[2017-03-30 12:55] pmorie commented on #620
I agree that we must do this; I think that we should do it now.

[2017-03-30 13:04] arschles commented on #620
I don't like checking in vendor directories, but we need to do it. Dependencies are a golang-proper problem, and I don't want to waste any more time trying to solve it "elegantly".

[2017-03-30 15:14] DirectXMan12 commented on #458
see #615

[2017-03-30 15:14] DirectXMan12 commented on #458
(also, feel free to assign this to me)

[2017-03-30 19:18] krancour commented on #562
How would your workflow be changed if you weren't doing that? I can think of a few reasons people might not want to do that.

[2017-03-31 00:13] arschles commented on #562
I am purely explaining here what works for me, in case it helps the discussion here

[2017-03-31 15:32] derekwaynecarr opened #621 "Support parameters from secrets"
The current API stores parameters on an instance as a runtime.RawExtension.

It's very likely parameters may actually hold sensitive information, we should think about how to handle these as secrets as a consequence.

/cc @pmorie @jwforres

[2017-03-31 17:10] derekwaynecarr commented on #621
I would like to see this resolved before promoting APIs from alpha->beta.

[2017-03-31 17:22] derekwaynecarr commented on #620
@krancour - you are correct re: glide.lock.  updated the original issue description.

[2017-04-01 09:30] mdshuai opened #623 "Met apiserver health check failed"
After deploy svc-catalog to k8s, the apiserver health check failed, container restart
Version: latest commit 2f0aebc534ededa42cb56a69a5e7f0182d7ae5b5

[code]

apiserver container log: https://paste.fedoraproject.org/paste/zIRdKaHoT6b3vZeBz985HV5M1UNdIGYhyRLivL9gydE=

[2017-04-01 09:35] mdshuai opened #624 "Need output version for apiserver & controller-manager"
When I file a issue I want paste the version but I can't find it.
There is no version for apiserver and the version of controller-manager output is not correct.

[code]

[2017-04-01 10:06] mdshuai opened #625 "Some little issue for helm chart and walkthrough doc"
1. etcd image is hardcode in [apiserver-deployment.yaml](https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/templates/apiserver-deployment.yaml#L85), better make it configurable in values file like [apiserver](https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/values.yaml#L4)
2. [ups-broker valuels file](https://github.com/kubernetes-

[2017-04-01 11:14] pmorie commented on #621
We could follow the pattern for `EnvVars` in pods.  Something like:

[code]

We probably want to do the same thing for bindings as well.

Thoughts?

[2017-04-02 12:39] pmorie opened #626 "Controller resync interval should have an option"
The controller has a resync interval for all informers hard-coded to a minute.  This wound up biting me during Kubecon demo prep when I tried to have several brokers in the catalog and some of them began timing out.  There should be a configuration option for this (see #273).

[2017-04-02 12:42] pmorie opened #627 "Controller shouldn't continually relist a broker's catalog"
Current the controller will continually re-list a broker's catalog, even if the broker is already in a ready condition.  In CF, broker re-list is driven by a command from the user.  I think eventual reconciliation with the broker is more the kubernetes way, but we should not continually re-list brokers that are ready.  As an initial step, I think that we should add transition time to conditions, a

[2017-04-02 12:42] pmorie opened #628 "Use exponential backoff when a broker operation errors"
We currently continually re-try broker operations when they error.  We should use an exponential backoff instead to help avoid starvation conditions in the controller.

[2017-04-02 12:43] pmorie opened #629 "Meta: Bugs found during Kubecon demo prep"
While preparing the Kubecon demo, I found that the controller can get into a state where new resources are not worked on.  The scenario I ran into is:

I had added several brokers to the catalog, some of which were deployed into the same cluster as the catalog itself.  Currently the controller has a resync period for all informers hard-coded to 1 minute.  When those brokers went sideways for whate

[2017-04-02 16:50] duglin commented on #627
Yep - allow for:
- relist automatically every X
- never relist automatically
- relist now

[2017-04-02 20:44] pmorie opened #632 "Jenkins flake"
Looks like jenkins flaked:

[code]

[2017-04-03 15:38] pmorie opened #633 "Add flag to enable 'free-only' mode"
I have a use-case for deploying the catalog in a free-only mode, where only free services would be shown and be able to be provisioned.

[2017-04-03 16:16] duglin commented on #633
Would be nice to deal with this when we talk about curation since this feels like a special case of the bigger issue.

[2017-04-03 18:13] krancour commented on #600
@arschles #612 (which is meant to close #599) _also_ seems to have this problem.

[2017-04-03 18:38] arschles commented on #600
@krancour good to know, thanks

[2017-04-03 19:02] arschles commented on #309
I've moved this to `0.0.2`, as this will be fixed by fixed by the rebase in #413

[2017-04-03 19:37] arschles commented on #389
Moved to the 1.0.0 milestone, as that is when we are planning to have full aggregation support. Please see [the roadmap](https://github.com/kubernetes-incubator/service-catalog/wiki/Roadmap#100)

[2017-04-03 19:38] arschles commented on #458
Moved to milestone `1.0.0`, as that's when we plan to have full support for the aggregator. Please see [the roadmap](https://github.com/kubernetes-incubator/service-catalog/wiki/Roadmap#100)