[2017-08-14 19:32] MHBauer commented on #1132
This would be solved by the switch to `generation`. WDYT @pmorie ?

[2017-08-14 19:48] pmorie commented on #1132
Should be fixed when we move to generation instead of checksums

On Mon, Aug 14, 2017 at 3:28 PM Richard Fung <notifications@github.com>
wrote:

[2017-08-14 19:59] MHBauer commented on #1125
I think it is good enough. Optimize later. https://github.com/kubernetes-incubator/service-catalog/issues/454#issuecomment-321100107

If not, this is a separate proposal from the other proposal. We can write up alternatives for the optimization later.

[2017-08-14 20:13] pmorie commented on #1132
i agree @MHBauer - i'm on a janky connection and didn't see your comment in
email

On Mon, Aug 14, 2017 at 3:47 PM Paul Morie <pmorie@redhat.com> wrote:

[2017-08-14 20:13] duglin commented on #793
on today's call we agreed to cwna.

[2017-08-14 20:13] #793 closed

[2017-08-14 20:57] MHBauer commented on #1124
Proposal Updated.

I assume @derekwaynecarr was the derek on the service catalog design meeting of 2017-08-14. There was a suggested implementation in kube core to reference.

[2017-08-14 21:05] MHBauer commented on #454
Proposal updated.

[2017-08-14 22:54] vaikas-google opened #1133 "Complete Documentation"
Our current design document is woefully out of date with bunch of TODOs
https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/design.md#creating-a-service-instance

And the V1 are not adequate.
https://github.com/kubernetes-incubator/service-catalog/tree/master/docs/v1

[2017-08-14 23:15] nilebox commented on #705
That might sound a bit hacky, but isn't just removing the status from `Broker` resource enough to manually force relisting?

[2017-08-14 23:18] arschles commented on #1129
This is a duplicate of https://github.com/kubernetes-incubator/service-catalog/issues/735. Referencing this issue in #735 & closing

[2017-08-14 23:18] #1129 closed

[2017-08-14 23:18] arschles commented on #735
See https://github.com/kubernetes-incubator/service-catalog/issues/1129 for additional discussion

[2017-08-14 23:51] MHBauer commented on #982
# Control OSB API Version Per Broker

## Abstract

Allow configuration of the OSB API version used to talk to a broker on a per
broker basis.

## Motivation

Currently, service catalog has a flag to configure the version of OSB API used
to talk to all brokers. For compatibility, it is desired that a field is added
to the Broker object. This field will contain the version of the OSB API used to
tal

[2017-08-15 00:06] nilebox commented on #1098
FYI I scanned through the issues required for beta, see the [status gist](https://gist.github.com/nilebox/ffa2c0585914b2ba541cfbfdfeef3375).

[2017-08-15 01:52] MHBauer opened #1134 "We should have office hours"
I dunno how often, or what we should cover, but we should have an hour once a month or maybe more often where we use the service catalog or develop something together. Walkthrough a new section of the code, an old section of the code, review a pr, write something new based on an issue.

Demos but non-formal.

I volunteer to show me changing the apiserver, and editing the helm chart, and installing

[2017-08-15 01:53] MHBauer commented on #1133
I was always curious what docs people were talking about. Okay, THOSE documents. Agree. Needs improvement.

[2017-08-15 11:23] duglin commented on #982
We may be overthinking this one.  A couple of things...

We already have a version string in our UX, right now its `servicecatalog.k8s.io/v1alpha1`. If we ever end up having a v3 of OSB API then its because the semantics of how to talk to a v3 broker will be so different from a v2 broker that we're going to need to create a `servicecatalog.k8s.io/v2` Broker resource to properly convey those differ

[2017-08-15 14:17] duglin opened #1136 "Do we need an alphaFeatures flag"
I'd like to use this issue as a follow on to #982 to explore whether we need an alphaFeaturesFlag.
As I understand it, this flag would be used as a global on/off switch to enable "alpha" features to be used in svc-cat. I think there are two flavors of features in question:
1 - ones that require some input/action from the user of svc-cat (e.g. they set a flag or call a func)
2 - ones that no not re

[2017-08-15 14:27] pmorie commented on #705
Users normally don't have the ability to clear status themselves.

I have a solution which doesn't rely on destroying status or creating a subresource which I described in the meeting last thursday, but haven't had a chance to write up yet.  TLDR: add a field to `BrokerSpec` called `RelistRequests` that is an incrementing counter.  When the user needs to do a manual relist, they can bump the value

[2017-08-15 15:27] pmorie commented on #748
Setting the milestone to 0.1.0 because it was scoped to beta in #1098

[2017-08-15 17:54] jpeeler commented on #1051
Closing since implementation (reference above) has been merged.

[2017-08-15 17:54] #1051 closed

[2017-08-15 19:43] arschles commented on #1086
I have updated the OP to add details on failure handling and error reporting

[2017-08-15 19:51] duglin commented on #454
why is:
[code]
an array?  Each plan just belongs to one class, right?

[2017-08-15 19:54] eriknelson commented on #1086
I'll be coordinating with @pmorie on an implementation for this.

[2017-08-15 20:20] MHBauer commented on #454
Yes, doug, correct.

[2017-08-16 00:08] #1111 closed

[2017-08-16 15:56] duglin commented on #1080
Just for reference, the proposal in this issue is (I believe) exactly what was originally proposed previously: https://github.com/kubernetes-incubator/service-catalog/issues/1008#issuecomment-314952476  but then during the design review sessions we migrated from "Service..." to "ServiceCatalog...". If my memory is correct, I think the migration happened due to concern about "Service" not being uni

[2017-08-16 17:22] pmorie commented on #1080
We have a statement from one of the kubernetes owners (@smarterclayton) [here](https://github.com/kubernetes-incubator/service-catalog/pull/1054#issuecomment-317460675) indicating that we can claim `Service{Broker,Class,Plan,Instance,Binding}`.  I think these names are far more concise and easy to understand.

Additionally, we are establishing precedent for how extensions name their resources.  I

[2017-08-16 17:52] jboyd01 commented on #820
I'm investigating, will update with details.

[2017-08-16 21:23] #982 closed

[2017-08-16 21:26] vaikas-google commented on #1080
As per discussions offline, assigning to @thockin and @bgrant0607 for getting an OK for the proposed names:
Proposed resource names:
ServiceBroker
ServiceClass
ServicePlan
ServiceInstance
ServiceInstanceCredential

[2017-08-16 22:27] #860 closed

[2017-08-16 23:28] vaikas-google commented on #804
@duglin @pmorie Closing this since I believe this has been done. Reopen if you don't think so.

[2017-08-16 23:28] #804 closed

[2017-08-16 23:49] vaikas-google commented on #1088
https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/

[2017-08-17 15:03] pmorie commented on #1086
Circling back before the discussion in today's meeting.

Here's an option which I've alluded to but haven't finished writing up anywhere yet:

- Add a `RelistRequests` field which is of type `int` to the `BrokerSpec`
- When the user wants to relist the broker manually, they can bump the value of this field, which will trigger re-reconcile of the resource in the controller
- If we want, we can make

[2017-08-17 15:13] pmorie commented on #820
I think we need to go a little further on the design for this.  [This comment](https://github.com/kubernetes-incubator/service-catalog/issues/820#issuecomment-317554625) is a fine start but I see a couple remaining gaps:

- How does the controller differentiate between an instance it can finalize vs instance with bindings?  Is it a new condition?  Is it a new finalizer?
- However we manage represe

[2017-08-17 16:47] vaikas-google commented on #1086
I think 'easy for users to understand' is a bit of a matter of opinion. For example in the GCP to reset a VM instance, you do a put to .../reset which resets the machine.
When a broker is set to automatically refresh, do we bump this field to indicate those relistrequests too?
Do we have any precedence in k8s for something like this?
I'm trying to understand (and might have missed) what is the dow

[2017-08-17 17:09] pmorie commented on #1086
@vaikas-google

Yeah, we could definitely have the subresource bump `RelistRequests`.  My main point is that I don't think we should have to grant a user the ability to wipe out status on the broker resource to force a relist.  Giving users that ability is dangerous because they could easily interfere with the normal operation of the resource without realizing it ("oops, I wrote a script that clea

[2017-08-17 17:29] ironcladlou commented on #820
I'm coming to this with only scraps of knowledge about service catalog, but I've been deep into the Kube garbage collector recently and have had some brief discussions with @jboyd01.

If some bindings require a manual user intervention which should block the deletion of the instance during a cascading delete, perhaps finalizers could be employed to allow the Kube garbage collector to do the heavy

[2017-08-17 17:32] ironcladlou commented on #820
Regarding admission control to block new dependent bindings of an instance currently being deleted, I would suggest the possibility of creating bindings in an initially benign state which are never acted upon until they are "accepted". They would never be accepted if their owner is being deleted, and would eventually get GC'd. If you already have an external initializer/admission controller then m

[2017-08-17 17:41] vaikas-google commented on #1086
Agree on status wiping not being something I'm thrilled about. Just trying to understand why the original proposal of /sync (with possibility of rename to relist, or whatevs.) is not what we should be pursuing :)

[2017-08-17 17:42] duglin commented on #1086
my 2 cents...
- erasing the status as the way to force a reconcile feels a bit heavy/extreme since it would drop any potential other data in there people may want to see.  Granted today there isn't much there aside from the Conditions, but still....
- as @vaikas-google said, we can make /sync map to whatever mechanism we want under the covers (including the counter idea @pmorie has proposed)
- I j

[2017-08-17 18:06] pmorie commented on #1086
Sounds like we're converging gradually on a subresource that bumps a `RelistRequests` field in the spec

[2017-08-17 18:07] pmorie commented on #820
The desired behavior is for the user to manually delete the bindings.

[2017-08-17 18:08] pmorie commented on #820
@ironcladlou one other wrinkle here is that we are currently on the 1.7 machinery

[2017-08-17 18:12] duglin commented on #1086
I think so, my only lingering question is around the newly proposed "generated" flag (or whatever its called), and I'm wondering whether we can use that instead of having to create a new property which would seem to have similar effect on what action we take.  For example, could the PUT to /sync tweak the "generated" property or the "observedGenerated" property to get us what we want?  Perhaps jus

[2017-08-17 18:16] pmorie commented on #1086
I still need to finish the write-up for generation... I think that will make things clear.  Going to try to do that for meeting today.

[2017-08-17 18:18] duglin commented on #1086
that would be cool - I'd like to have us get that one behind us since I think it touches a lot of places.

[2017-08-17 18:25] pmorie commented on #1095
I'm fine with either.  `ObservedGeneration` has precedent, so that's probably better.  I don't remember having a specific reason for `ReconciledGeneration`

[2017-08-17 18:27] pmorie commented on #1095
For the record, no issue with the approach other than a little extra code, but we seem to be converging on a subresource that bumps `RelistRequests` for broker [starting here](https://github.com/kubernetes-incubator/service-catalog/issues/1086#issuecomment-323135595)

[2017-08-17 18:29] pmorie commented on #1095
If we have a bool, then the controller needs to unset the bool when it's done... which causes another reconcile because the spec changed.  If we have an incremental counter, the controller doesn't have to do anything, and the resource behaves like other resources (spec change results in re-reconcile, controller doesn't have to mutate spec, etc).

[2017-08-17 18:32] duglin commented on #1095
ah, missed the causing another reconcile... thanks

[2017-08-17 18:40] pmorie commented on #1095
Actually I remember now why I suggested `Reconciled` instead of `Observed` - because the controller can't take all the steps it needs to necessarily in a single reconciliation to 'finish' actions for a particular version of the spec.  Take for example an async provision.  The controller might observe it and have to re-reconcile a couple times to complete the reconciliation.  So I think the field s

[2017-08-17 18:45] ironcladlou commented on #820
@pmorie

From a user's perspective, is it important the user be able to actually issue a DELETE on the binding? Or is it acceptable for them to "approve" a delete via some other operation which causes the binding to be deleted indirectly?

[2017-08-17 18:45] ironcladlou commented on #820
For example, can the user "delete" the binding via an update to the binding which removes the finalizer?

[2017-08-17 18:46] ironcladlou commented on #820
@pmorie

Unfortunately, it seems unlikely GC support for custom resources will be backported to 1.7

[2017-08-17 19:12] pmorie commented on #1086
Actually i'm looking through the generation issue and I think I can just answer your questions here @duglin

There are actually two pieces of the generation proposal:

- The API server sets the `Generation` field of the *object metadata* when the *spec* changes
- There will be a new field in the *status* called `ReconciledGeneration`

We can't clear the `ReconciledGeneration` flag because it's on

[2017-08-17 19:31] duglin commented on #1086
when you say "give the user permission to change the status", wouldn't that only be true if we asked them to touch the field directly? If we modified the field via a `PUT /sync` then its not the user touching it, rather its the http handler (or controller). IOW, wouldn't Kube's RBAC (or whatever would block updates to the Status) see it as touching the /sync resource and not /Status ?

[2017-08-17 19:35] pmorie commented on #820
@ironcladlou the user DELETEs the binding to cause unbinding.  Bindings rely on graceful deletion to work correctly in the OSB API.

[2017-08-17 21:04] arschles commented on #1086
As of this writing, the OP of this issue is up-to-date and includes specification for `spec.relistRequests` and the purpose and implementation of a `PUT .../sync` subresource.

[2017-08-17 22:00] thockin commented on #1080
I think it's fine.  I don't have plans to use ServiceClass for anything, and this seems OK to me.

[2017-08-17 22:14] vaikas-google commented on #1080
During today's SIG meeting, the vote was to proceed with Service* instead of ServiceCatalog* names.

[2017-08-18 01:02] duglin commented on #1095
yup - and it was for consistency that I was thinking we'd want to dup what other kube resources have.

One question I have, and its related to what we we're talking about off-line, in your async case in step 7 what value does the controller use for state.reconciledGenerated? It can't just grab the latest value of "generation" it seems like it would need to cache the value at the time it started th

[2017-08-18 15:00] jpeeler commented on #1119
Our setup of currently utilizing a NodePort means that the API server should be accessible at (any) NodeIP:NodePort combination. Access the ip/port combo by choosing one node IP from "kubectl get nodes" and using the node port as shown in the service output of "kubectl get svc -n catalog -o yaml".

My networking fu is weak, so I'd like to be checked on this. If it's correct though, could be a good

[2017-08-18 17:44] #1064 closed

[2017-08-18 18:37] bgrant0607 commented on #1080
I agree ServiceCatalog* would be verbose, and likely redundant with the API group name.

Kinds aren't required to be unique across API groups, though it may make some uses less convenient since disambiguation would be required.

While we don't have ServiceClass today, I could imagine adding that in the future, and we may generally be using "Class" in a different sense, such as with StorageClass, R

[2017-08-18 18:38] bgrant0607 commented on #1080
ServiceProvider?

[2017-08-18 22:09] jpeeler commented on #1069
I just tested with minikube again with RBAC enabled and I'm still getting prompted for credentials, but it works when adding them as described in https://github.com/kubernetes-incubator/service-catalog/issues/1069#issuecomment-319444019.

[2017-08-18 22:11] MHBauer commented on #1069
Okay, I didn't even think of the credentials, this sounds like a kubectl bug. As far as I know, we're not setting up credentials, and that user/pass has no effect other than getting you past a prompt.

[2017-08-19 00:03] MHBauer opened #1144 "golang version in makefile and jenkins are not locked together"
This is more of an artifact of docker than jenkins.

in docker image naming, 1.8 is 1.8.*, so it is somewhat nebulous unless you watch which exact image the build uses, and in jenkins it is the literal '1.8' value, to get that exact version.

I don't think it matters so much, but I wanted to write it down and point out existing behavior.

Not sure if there is a way to wildcard the patch version or

[2017-08-19 00:12] vaikas-google commented on #1080
Just to make sure I understand, using Service* resource names proposed as above are fine. The one concern is ServiceClass? Unless there's a really strong reason to not use that name, I'd like to use that. Given how much time it already has taken to get the consensus, I'd rather not open up the floor for further discussion. So, Is it ok to use ServiceClass or not?

[2017-08-19 00:13] duglin commented on #1080
that was my assumption - use ServiceClass

[2017-08-19 04:42] thockin commented on #1080
I don't object

On Fri, Aug 18, 2017 at 5:12 PM, Ville Aikas <notifications@github.com>
wrote:

[2017-08-21 02:12] yuexiao-wang opened #1146 "Set up a demo of service-catalog failed"
Description:
According to walkthrough, I want to set up a demo of service-catalog based a local kubernetes cluster. However, Tiller pod is created failed after helm init.

Reproduction:
1. Starn kubernetes with DNS
    The DNS is my virtual machine's DNS and can access to the Internet.
2. Getting Helm and installing Tiller
    1) Install helm
    2) execut the command -- helm init
3. Get Tiller po

[2017-08-21 02:17] yuexiao-wang commented on #1146
@pmorie PTAL

[2017-08-21 03:16] duglin opened #1147 "Add Reconciled Instance state"
Currently, the Instance resource has the following properties that are settable by users:
- PlanName
- Parameters
- ParametersFrom

There is no way for a user to determine what the actual values are for these properties - meaning, what does the Broker think they are. For example, a user could set PlanName to a value but the Broker may reject the request for some reason. While the error condition w

[2017-08-21 04:49] nilebox commented on #1069
I can confirm that @kibbles-n-bytes's list of actions (preceded with `fixRBAC` actions mentioned by me above) worked for me.

@kibbles-n-bytes  Currently we don't have any guidance for `minikube` in our docs at all. Do we want to have one?

[2017-08-21 07:26] pmorie commented on #988
### Proposal

Orphan mitigation for instances is performed when:

- A provision call times out
- A provision call returns 408
- A provision call returns 2xx besides 200, 201, 202
- A provision call returns 500

In this situation, the controller should delete the resource it created and continue trying to delete it until the broker responds with a success.

#### API expressions

When it is detected

[2017-08-21 07:32] pmorie commented on #1095
@duglin and I spent some time talking about asynchronous operations this weekend, and we realized that there is a need to store the generation that an asynchronous operation is for.

[2017-08-21 07:50] pmorie commented on #1147
I endorse this, as it is the product of an offline discussion @duglin and I had.

[2017-08-21 07:51] pmorie commented on #1147
Note, this also implies that when the controller performs an async operation, it has to track the information about that snapshot of the spec:

[code]

[2017-08-21 08:08] pmorie opened #1148 "Proposal: Plan and Parameter updates"
### Proposal: plan and parameter updates

The user should be able to update the plan and parameters in the `ServiceInstance` resource to cause the instance to be updated in the broker.

#### Secret-parameter-only changes

The `ServiceInstance` object allows users to reference secrets from which parameters are sourced.

There are two ways a user might choose to do this:

1.  Update the instance res

[2017-08-21 13:46] duglin commented on #1148
I think you forgot to add the new field.

Seems fine, but like the broker rel-list, I like the idea of having a subresource/route people can PUT to that would bump the (immutable) field for them (e.g. /updateParams).

[2017-08-21 14:07] duglin commented on #1147
Based on https://github.com/kubernetes-incubator/service-catalog/issues/1095 its not clear to me if we should use "Observed" or "Reconciled" as the prefix - YUGE decision!  :-)  But we should try for consistency.

[2017-08-21 16:08] pmorie commented on #1148
cc @spadgett

[2017-08-21 17:09] duglin commented on #1147
at f2f we agreed to adding Status.ReconciledSpec (* to struct - option b) and will open a separate issue for the async/in-progress Spec tracking.

[2017-08-21 17:42] duglin opened #1149 "Concurrent updates on Instance"
We need to discuss how we're going to deal with concurrent updates on things like Instances. For example, while we're creating and Instance if one person updates the Plan and one person updates the Params we're going to need to send 2 different requests to the broker because they might be two different users.  How are we going to deal with this? Queue requests? Block current updates? others?

[2017-08-21 17:42] duglin opened #1150 "Async processing"
Following on to #1147 we need to discuss how, or if, we need to save the current state of the Spec while we're in the middle of processing and OSB API request. This needs to include both sync and async ops.

See https://github.com/kubernetes-incubator/service-catalog/issues/1147#issuecomment-323671982 for a bit of background on this.

Also see: https://github.com/kubernetes-incubator/service-catal

[2017-08-21 17:43] duglin commented on #1147
See: #1150 and #1149 for related issues

[2017-08-21 22:44] kibbles-n-bytes commented on #1147
As per our face-to-face discussion, we have consensus that `Reconciled**Generation**` represents the last completed reconciliation attempt by the controller, whether that attempt was successful or not. However, the proposed `Reconciled**Spec**` represents the current successful state of the world, and is not updated on failed reconciliation attempts.

Since the usage of the prefix "Reconciled" in

[2017-08-22 00:29] duglin commented on #1147
+1 to a rename to avoid confusion.  `CurrentSpec` is better but "current" could be thought of as "this Instance's", which of course its not.  Perhaps "ExternalSpec" since we have "ExternalID" already and "External" in these cases refers to what the broker's view of things are.

[2017-08-22 04:13] bgrant0607 commented on #1080
The sense in which we plan to use the pattern of FooClass is to register extensions and their options, similar to StorageClass, but with parameter descriptions, types (e.g., integer vs string), constraints (e.g., range or regexp) for validation, and default values.

I guess this isn't that different, so I'm ok with ServiceClass.

[2017-08-22 05:18] thockin commented on #1080
Also, if we decompose or expand on Service, it will likely not be
ServiceClass, but GatewayClass or something.  We need a different word for
"traffic gets into a Service".  I'm OK with you claiming this one.

On Mon, Aug 21, 2017 at 9:13 PM, Brian Grant <notifications@github.com>
wrote:

[2017-08-22 17:43] #1080 closed

[2017-08-22 19:36] eriknelson commented on #1086
It's a little strange to me we've kept `relist` from the original design pitch on only `relistRequests`. Should the field be named `syncRequests` to remain consistent with the other fields and subresource?

[2017-08-24 15:31] jboyd01 commented on #820
# Design Proposal

## Abstract

If a service instance with existing bindings is deleted it would break any applications that are using the binding.  This document addresses how Service Catalog will behave when a user deletes a service instance that has bindings and it discusses the possible life cycle stages for the instance and its bindings.

## Proposed Behaviors

### Long Term
When a user attem

[2017-08-24 15:48] ironcladlou commented on #820
I haven't had a chance to read the new design proposal yet, but getting the notification reminded me that we need to be careful now to reconsider any design which uses conditions, which are proposed to [be eliminated](https://github.com/kubernetes/kubernetes/issues/7856#issuecomment-324219862) as a concept.

[2017-08-24 15:56] jboyd01 commented on #820
Thanks @ironcladlou, great to know.  There was early discussion in this item about using new conditions to track the associated bindings, but I've indicated in the design proposal that that it is out of scope.

[2017-08-25 17:11] kibbles-n-bytes commented on #1069
@nilebox I meant more the credentials issue, which isn't unique to minikube. We have a section ([here](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/walkthrough.md#setting-up-a-new-kubectl-context)) that describes setting up the context, so I was thinking we could add the credentials setup there to get rid of the prompt until the issue is fixed.

However, I think also ad

[2017-08-26 01:16] pmorie opened #1157 "Define limits of work"
At the F2F, we said that the controller should mark a particular generation of a resource reconciled when the controller is no longer doing work.  This implies that we should define what the standard approach to retries will be.  I believe CF implements:

- Exponential backoff
- Retry for up to a week (at least for {de}provision)

[2017-08-28 14:51] MHBauer commented on #1146
Tiller is part of https://github.com/kubernetes/helm, not part of service-catalog.

[2017-08-28 14:51] #1146 closed

[2017-08-28 14:54] jpeeler commented on #1077
This is done now (Ville even got rid of the remaining updateInstanceCondition/updateBindingCondition in the controller in 33cb34575a461887ad270a13a08ed712d3023949).

[2017-08-28 14:54] #1077 closed

[2017-08-28 15:54] pmorie commented on #1149
At the F2F we decided that we will block updates to an instance's spec while the controller is performing an operation on that instance.

[2017-08-28 15:57] pmorie commented on #1150
IIRC, what we eventually converged on in the F2F is that we should have something in the status that represents the current operation in progress.  In conjunction with blocking updates to an instance while there is an operation in progress (see #1149), that should allow us to resume / recover / resend any operation that may have been interrupted by a controller restart.

[2017-08-28 16:27] duglin commented on #1150
yea, you'd think the controller would be able to know what op to perform by comparing the Spec and the Status but having an explicit field to save time/effort might not be bad.

[2017-08-28 21:46] arschles commented on #1004
@MHBauer update: I closed #1005 without merge. We can't say that this must be run only on linux.

I can think of a few options:

1. Enable people to run the `helm` command in a container
2. Enable people to run the `base64` command in a container
3. Do the base64 encoding inside the helm chart (I did this in #1005)

[2017-08-28 21:54] pmorie commented on #1004
Use the stringData field in secret and you won't have to b64 encode anything

On Mon, Aug 28, 2017 at 5:47 PM Aaron Schlesinger <notifications@github.com>
wrote:

[2017-08-28 21:58] arschles commented on #1004
@pmorie the files have newlines in them - do you know another good way to pass them in on the helm CLI?

[2017-08-29 17:15] kibbles-n-bytes commented on #1147
`ExternalSpec` seems fine to me.

I'm worried about the `ParametersFrom` section in the `SpecSnapshot`. If the secrets mutate, there'd be no way to make that obvious to the user. It's important that we don't surface the data in the secret, however. I think it'd be important to at least list the keys of those secret parameters; what we could do is store `Parameters` with the entire merged parameter

[2017-08-29 17:22] #1004 closed

[2017-08-29 19:09] duglin commented on #1147
Unless we create a copy of the secrets just for the purpose of having a static thing to point to, I'm not sure what else we can do.

[2017-08-29 20:13] kibbles-n-bytes commented on #1147
@duglin What about copying the keys, but not the data? So we could at least tell the user "we sent the following keys with secret data".

[2017-08-29 20:21] arschles commented on #1069
@kibbles-n-bytes I am partially addressing this in #1163, and will continue to do so in follow-ups. cc/ @jboyd01 who is also doing work in this arena

[2017-08-29 20:30] pmorie opened #1167 "Ensure that the creator of a ServiceBroker resource has access to get the auth secret"
Currently there are no checks to ensure that the party that creates the broker resource is allowed to consume the auth secret being registered.  This could potentially allow someone with the ability to create a broker to steal the contents of a secret they were not allowed to view by creating a broker and referencing the service account token they didn't have access to.

We can prevent this by hav

[2017-08-29 20:30] pmorie commented on #1167
This is needed to mitigate an escalation vector, so I'm adding it to the 0.1.0 milestone (I will staff it).

[2017-08-29 23:15] arschles commented on #1069
I've just changed docs for installing on Kube 1.7 (see [here](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/install-1.7.md)) to include the minikube startup command (see [here](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/install-1.7.md#rbac)), and install works properly.

As such, I am closing this issue.

Note that there is now a problem run

[2017-08-29 23:15] #1069 closed

[2017-08-29 23:16] arschles commented on #958
As #956 was closed w/o merge, I am closing this.

[2017-08-29 23:16] #958 closed

[2017-08-29 23:18] arschles commented on #1119
We now only officially support installation on Kubernetes clusters with version 1.7 and above. The [install process](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/install-1.7.md) for this no longer requires you to get `SVC_CAT_API_SERVER_IP`, so I am closing this.

[2017-08-29 23:18] #1119 closed

[2017-08-29 23:21] arschles opened #1172 "API server crashes when installed on Minikube"
After installing service-catalog on Minikube running Kubernetes v1.7.0 (see [install doc](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/install-1.7.md)), the API server crashes with the following log message:

[code]

[2017-08-30 02:15] pmorie commented on #1150
Seems like we need a specific API proposal here for this now

[2017-08-30 16:48] staebler commented on #1157
## Proposal: Limits of Work
The Controller should gracefully handle communication errors that prevent a resource from being successfully reconciled. In the event of a communication error, the Controller should retry the request after an exponential backoff. If the request continues to fail on retries, the Controller should stop retrying after a sufficiently long period of time. After the Controlle

[2017-08-30 17:39] pmorie commented on #1157
I'm not sure we need to or should store backoff information other than the deadline because it will be impossible to guarantee that the controller actually performs work at the next retry time, for example.

[2017-08-30 17:55] staebler commented on #1157
I've updated the proposal to retain the current way of doing exponential backoff rather than storing the exponential backoff information in the status of the resources.

[2017-08-30 18:04] richardfung opened #1176 "No Root Certs in Certificate Manager"
Right now when trying to access a broker over HTTPS, we get an error

[code]

which I assume is because the certificate manager image doesn't have the ca-certificates package installed in it.

Should we be including it in the certificate manager Docker image or is there some other way we are expecting users to get root certificates onto their images?

[2017-08-30 19:14] pmorie commented on #1149
### Proposal

- Add a `CurrentOperation` field to `ServiceInstanceStatus`
- Add a `CurrentOperation` field to `ServiceInstanceCredentialStatus`
- The controller should set this field when it begins an operation for a resource
- If setting the field fails due to a conflict, the controller should return the error and do a rate-limited retry
- The controller should unset the field when it finishes wo

[2017-08-30 20:00] duglin commented on #1149
overall seems good but I think there's a race condition. Setting the op should happen immediately update the Spec being changed if the op flag is the blocker for not doing concurrent updates.  Or, make the blocker being Generation != ReconciledGeneration.  Otherwise 2 updates can happen before the controller sets the op flag.

[2017-08-31 06:21] pmorie opened #1180 "Remove Alpha* prefix on all API fields"
We now have access to the feature gate machinery so that we can disable fields based on flags, so there should be no reason to retain these prefixes.

[2017-08-31 06:21] pmorie commented on #1180
@jboyd01 can you please take this one?

[2017-08-31 06:25] pmorie opened #1181 "Create v1beta1 API version after beta API is finalized"
Issue to track planning / work associated with creating a `v1beta1` API version after we have finalized the `v1alpha1` API version.  We should mutate the `v1alpha1` group until we think that it is complete for beta, and then rename the group to `v1beta1`.

[2017-08-31 13:17] jboyd01 commented on #1180
Sure @pmorie .  This looks like the full list in types.go:

AlphaParameterSchemas
AlphaRequires
AlphaServiceInstanceCreateParameterSchema
AlphaServiceInstanceCredentialCreateParameterSchema
AlphaServiceInstanceUpdateParameterSchema
AlphaTags

Should the package name change also dropping the alpha1 or leave it as is?  pkg/apis/servicecatalog/v1alpha1/types.go

And just remove this portion of the co

[2017-08-31 14:41] pmorie commented on #1180
No, the package name and API version shouldn't change at this point.  We will change it once we finalize the alpha API (see #1181)

[2017-08-31 14:41] pmorie commented on #1180
// Currently, this field is ALPHA: it may change or disappear at any time
// and its data will not be migrated.

No, I think those comments should stay.  We are just transforming the names of fields.

[2017-08-31 14:57] pmorie commented on #1147
We cannot copy the secret data and store it anywhere in a non-secret resource.

I like @kibbles-n-bytes' idea here: https://github.com/kubernetes-incubator/service-catalog/issues/1147#issuecomment-325787055

Going to write up a specific proposal now.

[2017-08-31 15:51] duglin commented on #1147
I think this all depends on what we intend this data to be used for.

If its for the user to know what the Broker has then we're stuck because we can't store the secret data here - and I include in that the key names because even seeing those could be a security hole. The best I think we can do is create a new copy of the secret and point to that, but I actually don't think that is worth it right

[2017-08-31 18:09] pmorie commented on #1147
The key names are fine, the secret parameter values are not fine

[2017-08-31 18:10] pmorie commented on #1147
#### Proposal

For `ServiceInstance`, we will add two fields to the status:

- `InProgressProperties`: a record of what properties we're currently performing an operation on at the broker
- `ExternalProperties`: a record of what properties the broker knows about for this instance

The `InProgressProperties` field is necessary to ensure we correctly capture the checksum of the properties sent to th

[2017-08-31 18:49] duglin commented on #1147
I don't understand the purpose behind the InProgress properties, or why we need the checksum. Whether the values of the secrets change or not any retry logic is going to go back to the secret to get the values so why does saving the keys or the checksum help?  And, btw, exposing secret keys is a security hole because it now tells a hacker what keys to try to hack -they now only need to focus on fi

[2017-08-31 18:55] pmorie commented on #1147
Precedent in k8s is that secret keys are not secret.  Values of secret keys are.  Example: pods store coordinates for secret keys but are not an escalating resource because they don't expose the values of those keys.  Since there is no way to get a secret without getting the entire payload, exposing a secret key does not make a resource escalating.

I believe that we need a checksum so that we can

[2017-08-31 19:00] pmorie commented on #1149
@duglin I had a parse error reading your comment, but as we discussed in the meeting, the criteria for blocking updates can be `ReconciledGeneration != meta.Generation`, will update comment.

[2017-08-31 19:48] duglin commented on #1147
I forgot about the update case despite us talking about it earlier - geez!  So checksum makes sense now and even though we're not using it yet I'm ok with it being there.

re: secret key names.... gotcha, but not happy about it :-(

[2017-09-01 15:28] pmorie opened #1187 "ERROR: logging before flag.Parse in all log messages"
Seriously annoying... debugging now.

[2017-09-01 17:59] jboyd01 commented on #1187
I ran across this https://github.com/kubernetes/kubernetes/issues/17162  which has a simple work around but I've also seen that the glog.V(5).Infof() type messages are not displayed making me think something more basic (lack of initialization?) is happening.

[2017-09-01 18:12] pmorie commented on #1187
I am pretty sure this snuck in with #1112

[2017-09-01 20:17] jboyd01 commented on #1187
FWIW, adding  goflag.CommandLine.Parse([]string{}) at line 49 to controller_manager.go looks to address the logging in the controller.  I also couldn't reproduce any problems with the glog.V(5).Infof() though I swear I was missing this logging last week.

[2017-09-01 21:21] MHBauer commented on #800
With the 1.8 code freeze, I don't think we're getting any upstream resolution in time for beta.

I think we should proceed with one of the automatic choices we've discussed as well as let the user set the ID as a flag on our apiserver.

[2017-09-01 21:29] duglin commented on #800
We don't need to rush this decision, but if upstream changes are not ready any time soon then we should just create our own clusterID within the svc-cat apiserver (using the same logic that we proposed for core) and use that.  We can't wait on the bike-shedding of the core team forever.

[2017-09-04 02:57] nilebox commented on #1167
Do we need to handle the case where the permission to the auth secret has been revoked after the broker was created? Admission controller doesn't cover this case I believe.

Also, we probably have the same problem for instance/binding `parametersFrom` referencing secrets?

[2017-09-05 14:46] pmorie opened #1193 "Add a verify-generated script to prevent incomplete generated code from being committed"
In k8s, there is a `verify-generated` script that returns an error if any of the generated code in a branch does not match a run of the generator, ie, if you forgot to commit a generated file.

We've had a number of instances where the generated code was not fully committed, so we need a script like this.

[2017-09-05 20:13] pmorie commented on #1095
Closed by #1151

[2017-09-05 20:13] #1095 closed

[2017-09-05 20:15] nilebox commented on #599
Even though the TPR storage will be deprecated soon, we still need to make the same change for CRD storage (I have a PR based on TPR storage code). So I can take a look at this issue.

[2017-09-05 20:23] arschles commented on #599
@nilebox thank you. I am removing this from 0.1.0 since TPR will still be in alpha (per the documentation) after we hit beta

[2017-09-05 20:38] MHBauer opened #1194 "diagram the implicit state machines of our controllers"
Everything with a 'status' struct is implicitly a state machine. Diagram the internal state transitions and what other struct fields the state is based on.

[2017-09-06 17:03] jboyd01 commented on #869
I'm starting work on this.

[2017-09-06 17:58] pmorie commented on #1147
Updated this comment to also contain user information, per the September 5 SIG call.

[2017-09-06 18:21] #1180 closed

[2017-09-06 19:09] pmorie opened #1197 "Add support for ResourceQuota over ServiceInstances and ServiceInstanceCredentials"
We need to be able to use the `ResourceQuota` resource in the core API server to quota the number of `ServiceInstance` and `ServiceInstanceCredential` resources in a namespace.  The plan, as I understand it, for quota for aggregated API is that each aggregated API server that implements quota for its resources should have an admission controller that checks new resources against the core `Resource

[2017-09-07 03:04] pmorie opened #1198 "What should happen when you update a ServiceBinding for a deleted ServiceInstance"
Follow-up to #1159; what happens when you try to update a ServiceInstanceCredential when the ServiceInstance is deleted?  Obviously the OSB spec currently lacks update for bindings, but update also encompasses labeling and annotating objects.  It seems like you shouldn't be prevented from labeling or annotating a `ServiceInstanceCredential` when the instance has been deleted.

[2017-09-07 05:08] pmorie commented on #802
### Proposal

#### Assumptions

- name changes of services and plans are deprecated (as agreed to in OSB face to face) do not have to be accomodated in a first-class way
- users should never have to look at non-human-readable names of services or plans

#### Proposed Changes

- Move existing fields under `ServiceClass` and `ServicePlan` under new `Spec` structs and add `Status` to these objects
-

[2017-09-07 05:20] pmorie opened #1200 "Add a namespaced version of ServiceBroker, ServiceClass, and ServicePlan"
I have had a number of interested parties asking for namespaced versions of `ServiceBroker`, `ServiceClass` and `ServicePlan`.  I think this is perfectly valid and would be similar to what CF does (global and org-scoped brokers).  We should consider this for the second beta release, but it is NOT a 0.1.0 item.

[2017-09-07 12:53] jmontleon commented on #1176
We hit this using the quay.io images with ansible-service-broker as well. Right now we're having to turn off SSL to get it to communicate.

[2017-09-07 13:59] jmontleon opened #1203 "APB's do not launch with quay.io canary images"
I am trying to launch APB's using Openshift 3.7 latest images with service-catalog and ansible-service-broker. When using `docker.io/openshift/origin-service-catalog:latest (d35e2531e6a7)` I can launch APB's. However when I use these images

[code]

To get these to work:
- I first have to disable SSL on the ansible-service-broker as outlined in #1176 .
- After this APB's don't load because of an a

[2017-09-07 14:13] pmorie commented on #1203
I think this should be an issue in openshift/origin rather than this repo.

What is the permission issue?  Can you provide log output or other information?

Can you provide any information about what 'unable to launch' means?  Log output?  Information about the APB pod?

[2017-09-07 14:19] jmontleon commented on #1203
I'll get back with the error we saw when the serviceclasses were not being created.

Regarding the APB's launching we never see an APB container created, let alone run to get logs from. I've tried several of the available APB's from a simple hello-world-apb to mysql and postgres database apb's, etc.

[2017-09-07 14:45] #1203 closed

[2017-09-07 15:01] bmelville commented on #1176
What's the right way to move forward with this? Our brokers all have SSL enabled and I think it would probably be a challenge to get them disabled given our infrastructure.

Is adding the cert package to the image sufficient to resolve this problem or is there a reason it was left out?

[2017-09-07 15:41] vaikas-google commented on #1176
This seems like a dupe of #606
@pmorie did this get tackled in July?

[2017-09-07 17:39] pmorie commented on #1150
I think this is a dupe of #1147 now - you okay with closing this @duglin?

[2017-09-07 17:59] duglin commented on #1150
yup. Since we're not allowing concurrent updates this is no longer an issue.

[2017-09-07 17:59] #1150 closed

[2017-09-07 18:15] pmorie commented on #934
Oops, this is a dupe of #462

[2017-09-07 18:15] #934 closed

[2017-09-07 18:41] #1187 closed

[2017-09-07 21:13] duglin commented on #802
Proposal discussed on today's call:  https://docs.google.com/presentation/d/1ZdRqLgAbE8uTQpJrXmdTucitPknURMoQITAJSxr3LhE/edit#slide=id.g25fb676d6e_0_91

[2017-09-07 22:52] pmorie commented on #802
I might have another idea!

[2017-09-08 17:13] kibbles-n-bytes opened #1209 "Async Binding Implementation"
# Async Binding Implementation

In anticipation of async bindings making it into the OSB API spec, I'd like to get a jump on an initial implementation and wanted to toss some proposals out there and see what sticks. The proposed last operation flow for async binding/unbinding (viewable [here](https://github.com/mattmcneeney/servicebroker/blob/async-bindings/spec.md#polling-last-operation-for-servi

[2017-09-08 17:18] pmorie commented on #1209
I vote for number 1 **initially** - nothing fancy.  We can make things fancy and factored later after we feel like things are relatively stable. I would be fine with a better factoring once we feel like things are stable.  Introducing a large factoring in the first step is going to be far more expensive than duplicating the logic.

[2017-09-08 18:36] kibbles-n-bytes commented on #1209
@pmorie and I talked offline, summarizing here:

There are quite a few stakeholders who are blocked on async bindings, so something quick and simple that'll get us functionally there ASAP is a priority. Duplicating the flow is the best with that in mind.

[2017-09-08 22:24] pmorie commented on #802
I am starting to think that we should bail on solving all the complexities of name changes in the initial beta release and solve them later.  It's most important to get things into the hands of users and this seems to be a real bear of a problem to solve.  So, I'm not 100% sure, but I think we should consider doing it.

I do still have another idea I will write up ASAP, but I have exhausted my tim

[2017-09-09 12:38] nilebox commented on #1209
@kibbles-n-bytes just to clarify from the OSB API point of view: currently `credentials` is part of the synchronous `Binding` response (see https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#body-7). In case of asynchronous binding it would be moved to the `last_operation` response (if the binding succeeds), right? Current last operation response (see https://github.com/open

[2017-09-11 04:02] mkumatag opened #1212 "Fix older kubernetes-service-catalog images"
Older than `v0.0.19` version of following images are not proper and creates problem while using them, so we need to delete those images or we need to fix them with proper binaries into it.

[code]

Following are the version needs to be fixed - `v0.0.17, v0.0.16, v0.0.15`

[2017-09-11 04:02] mkumatag commented on #1212
/cc @MHBauer @duglin

[2017-09-11 04:29] duglin commented on #1212
I assume you mean just the non-amd64 versions, correct?

[2017-09-11 04:40] MHBauer commented on #1212
Not going to happen. The tags are the tags. Not branches to be updated.

[2017-09-11 04:41] duglin commented on #1212
we can delete 'em if they're bad

[2017-09-11 04:44] MHBauer commented on #1212
Not sure it's worth creating the precedent that we'll backport changes. Especially for an alpha release.

[2017-09-11 04:49] mkumatag commented on #1212
I vote for deleting them!

[2017-09-11 05:12] MHBauer commented on #1212
I see now. Miscommunication. Sorry.

Good idea to delete bad images. I do not have quay access.

[2017-09-11 05:18] duglin commented on #1212
gone.  But it seems like I should delete all non-amd64 v15/16/17 tags, right?

[2017-09-11 05:22] mkumatag commented on #1212
right!

[2017-09-11 13:38] duglin commented on #1212
Fixed - closing the issue.  Thanks!

[2017-09-11 13:38] #1212 closed

[2017-09-11 13:48] mkumatag commented on #1212
Thanks a lot @duglin

[2017-09-11 17:38] kibbles-n-bytes commented on #1209
@nilebox At the moment, the async binding proposal does not include credentials in the last operation response. Instead, what the platform does is wait until it gets a `"state": "succeeded"` in the last operation response, and then immediately do a GET on the binding, which returns the credentials as part of its payload. The async binding proposal is built off of the proposal for stateful brokers.

[2017-09-11 18:11] pmorie opened #1214 "ServiceClass and ServicePlan should each have spec and status"
I spent some time thinking about different facets of these resources this weekend.  I believe that they should have spec and status.  It's likely that we will want controllers to maintain status information for both of these resources.

Depends on #1106

[2017-09-11 18:17] pmorie opened #1215 "Show number of instances of ServiceClass in ServiceClass.Status"
Depends on #1214

Similar to how the replicaset controller shows the number of replicas in status, I think it would be useful to have a status field in ServieClass that shows the number of ServiceInstances of that ServiceClass.

[2017-09-11 18:18] pmorie opened #1216 "Show number of ServiceInstances on a ServicePlan in ServicePlan.Status"
Depends on #1214; similar to #1215.

It would be useful to see the number of ServiceInstances using a ServicePlan in that plan's status.

[2017-09-11 19:49] duglin commented on #1216
No real opinion yet on this one, but I'm curious whether this goes against some "kube way" of doing things because as you add new instances we'd need to touch its parent plan each time. Kind of like how we don't point from the plan to each instance, we point from instances up to the plan.

And is there a risk of things getting out of sync since we don't have a transaction model and things can cras

[2017-09-11 19:54] pmorie commented on #1216
@duglin this wouldn't be updated as part of reconciling an instance.  We'd add a control-loop for `ServiceClass` and `ServicePlan` that maintained this piece of status.

For example, as an analogy, the kubelet doesn't update replica counts for replica sets when it reconciles a pod - there is a controller that backs the replicaset resource that maintains the replica count.  The controller would per

[2017-09-11 20:03] pmorie commented on #1216
Note, we also will need field selection on `ServiceInstance` in order to implement this.

[2017-09-12 14:42] maleck13 opened #1222 "Allow service brokers to specify labels that are applied to the binding secret"
Use case:

I have an application that wants to use the secrets created from certain services in order to generate a configuration  object / file that can be consumed by external clients for those services, for example a mobile application. Currently in order to do this, the application needs to maintain a list of distinct services that it knows about. It would be preferable if I could have the sec

[2017-09-12 14:53] jhalliday commented on #1222
It would additionally be useful if the created bind secret could inherit the "template" and "template.openshift.io/template-instance" labels which the platform adds to the Secret/Service/DeploymentConfig that are created when the template is instantiated. Perhaps also ownerReferences.

[2017-09-12 15:19] duglin commented on #1222
in your workflow, after you create the binding, could you not add the labels to the secrets yourself?

[2017-09-12 15:41] jhalliday commented on #1222
I'm not the one creating the binding. I have a process that watches deployment changes and reacts to them, but can't influence them.

[2017-09-13 14:54] #869 closed

[2017-09-13 16:18] #462 closed

[2017-09-13 17:29] mengqiy opened #1225 "Rebase on top of 1.8 k8s"
Rebase on top of 1.8 k8s to make service catalog api depend on `k8s.io/api` e.g. use `k8s.io/api/v1` instead of `k8s.io/client-go/pkg/api/v1`.

This issue blocks https://github.com/kubernetes-incubator/service-catalog/pull/1208 due to the reason mentioned in https://github.com/kubernetes-incubator/service-catalog/pull/1208#issue-256142352.

[2017-09-13 20:11] jboyd01 opened #1227 "reenable link checker to Makefile verify target"
revert #1226 which commented out link verification because of false failures during travis.

@duglin  fyi

[2017-09-14 01:54] #1157 closed

[2017-09-14 03:51] pmorie commented on #1167
Excellent point.  I think we could do an additional SAR check before the controller gets the secret.  We'll need to store the identity of the user that created or last modified the resource to do that, though.

Interestingly, Kubelet does not perform such checks on the service account a pod runs under to see if it can get the secrets.  Your question has me wondering if it should.

Curious to know

[2017-09-14 04:00] liggitt commented on #1167
Permission to create objects referencing secrets in a namespace has been sufficient. Subdivision of secret references in a namespace ("you may create pods that reference secret1, but not secret2") has not been a sufficiently important use case yet

Typically, permission to create resources using arbitrary secrets in a namespace is considered more powerful than view access to the secrets

[2017-09-14 19:44] pmorie commented on #1198
I think this is a non-issue for 0.1.0; moving to 0.2.0

[2017-09-15 18:47] kibbles-n-bytes commented on #989
Sounds like @jpeeler, you were interested in this, right?

[2017-09-15 20:25] jpeeler commented on #989
yes I'll take it @kibbles-n-bytes

[2017-09-17 19:35] duglin opened #1233 "Global and NS-specific Brokers, Classes and Plan"
Right now brokers, classes and plans are global, meaning they are cluster-wide and are not scoped to a particular namespace.  There are going to be times when people will want things localized to a namespace. We need to consider how we'll support these.

Some notes:
- Global Broker/NS Classes : may not be a visibility issue, rather its an RBAC/ACL issue.  Meaning, we may not be able to hide these

[2017-09-17 19:42] duglin commented on #1233
If we do support global instances I wonder how we'll create bindings/creds.  I believe that secrets are bound to namespaces, so that might mean that to get the creds for a global instance we'd need to bind it to a namespace. While that may be necessary from an ACL perspective in Kube, it seems to defeat the purpose of a "global" instance.  Although, having a "global" resource could mean that you'r

[2017-09-17 20:10] pmorie commented on #1233
Dupe of https://github.com/kubernetes-incubator/service-catalog/issues/1200

Can you add these notes there and close?

[2017-09-18 01:34] duglin commented on #1200
From #1233:

Right now brokers, classes and plans are global, meaning they are cluster-wide and are not scoped to a particular namespace. There are going to be times when people will want things localized to a namespace. We need to consider how we'll support these.

Some notes:

- Global Broker/NS Classes : may not be a visibility issue, rather its an RBAC/ACL issue. Meaning, we may not be able to

[2017-09-18 01:35] #1233 closed

[2017-09-18 18:37] MHBauer opened #1234 "remove redundant 'old' validation in storage UPDATE validation functions"
I think all of the validate update functions have validation of both old and new incoming objects. We should stop validating the old objects, as they must have been validated in the past, and there is no user action that could be performed. (Perhaps deleting?)

[2017-09-18 18:40] duglin commented on #1234
+1

[2017-09-18 19:36] #1227 closed

[2017-09-18 22:58] MHBauer commented on #1215
Do you have a link to that part of the controller? Is it in the main line of the updates of the controller or in a sort of side controller?

I ask because I already think our controllers are too complicated.

[2017-09-19 13:58] pmorie opened #1236 "RBAC resources in helm chart will need to be updated for k8s 1.8"
The `v1beta1` version of RBAC no longer exists in 1.8 - we will need to move the charts to `v1`

It's worth taking a small amount of time to consider how best to factor the chart - it would be good to have a target-k8s-version parameter that would just DTRT for that version.

[2017-09-19 15:19] pmorie opened #1239 "We should consider publishing a single image with apiserver and controller-manager"
Currently, we're publishing separate images for these components.  I don't think there's a strong use-case for doing so, and it would help to avoid skew between apiserver and controller manager to publish only a single image.  Let's discuss in a group meeting.

[2017-09-19 15:26] duglin commented on #1239
seems reasonable to me - similar to what hyperkube has done.

[2017-09-19 19:22] pmorie commented on #802
Proposal:

- Use OSB ID for k8s names for now
- Add an `ExternalName` field to `ServiceClassSpec` and `ServicePlanSpec` that holds the value of the human-readable OSB name
- `ExternalName` should be a selectable field
- Users use the human-readable names to specify which service and plan they want via the `OSBServiceName` and `OSBPlanName` fields
- Add `ServiceClassRef` and `ServicePlanRef` fields

[2017-09-20 16:50] kibbles-n-bytes opened #1246 "Service Catalog API server auth not tested on Jenkins"
Currently auth is disabled on the API server for the e2e tests run on Jenkins. API aggregation is not yet functional on GKE, and I was unsuccessful in my preliminary attempts at getting auth to work with an un-aggregated API server.

I'm currently reaching out to GKE engineers to learn the timeline for GKE API aggregation, and from there we can decide priorities.

[2017-09-20 16:53] vaikas-google commented on #802
@pmorie @duglin
Do we still need ExternalID fields in Service[Class|Plan]Spec? Seems like that's simple .Name in both cases if we use the ID as the name and it's immutable?

[2017-09-20 16:54] pmorie commented on #802
@vaikas-google I do want both external ID and Name fields so we can support different naming strategies in the future

[2017-09-20 16:54] vaikas-google commented on #802
ack

[2017-09-20 18:58] spadgett opened #1247 "Broker's preferred plan ordering is lost"
Brokers return plans for a service as an array. Now that plans have been split out into a separate resource with a reference back to the service class, the order is lost. Clients can no longer display the plans in the broker's preferred order.

[2017-09-20 19:03] duglin commented on #1247
I'm not sure the list is ordered from the broker - at least per the spec.

[2017-09-20 19:03] pmorie commented on #1247
Upon further consideration, I think ServiceClass should have an array of human-readable plan names, possibly with references to the ServicePlans.

[2017-09-20 19:11] spadgett commented on #1247
@duglin I could be misreading the spec, but I assume since it's defined as an array here it's ordered?

https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#service-objects

[2017-09-20 19:13] duglin commented on #1247
yup - its an array, but it doesn't say its ordered or that the order has any meaning like "preferred" first.

[2017-09-21 23:30] vaikas-google opened #1256 "TPR ServicePlans do not seem happy"
While trying to add a missing test for ServicePlan in clientset_test.go it failed for TPRs.
Works fine with etcd suggesting something might be amiss for TPRs only.

[2017-09-21 23:45] nilebox commented on #1256
@vaikas-google what's the error?

[2017-09-21 23:48] vaikas-google commented on #1256
Hard panic, something like this:

https://travis-ci.org/kubernetes-incubator/service-catalog/builds/278398204?utm_source=github_status&utm_medium=notification

E0921 21:08:20.049241    3722 runtime.go:66] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
/go/src/github.com/kubernetes-incubator/service-catalog/ve

[2017-09-22 00:16] ash2k opened #1259 "Missing omitempty tag"
`UserInfo` field in `ServiceInstanceSpec` should have `omitempty` JSON tag. Because it is missing  `ServiceInstance` is not round tripped properly from and to json (and unstructured `map[string]interface{}` representation too) because `userInfo` field with `null` is added to the encoding result.
See https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#optional-

[2017-09-22 01:12] pmorie commented on #1259
@ash2k - do you think there's a problem that our roundtrip tests should have caught but didn't? (In addition to the missing omitempty tag, I mean)

[2017-09-22 02:08] MHBauer commented on #1236
Is it really going away? That doesn't seem right.

[2017-09-22 02:33] ash2k commented on #1259
I'm not sure I understand the question, sorry.
I think a test like [this one](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/unstructured_test.go#L117) would be useful - where each type is converted to and from the "unstructured" representation (`map[string]interface{}`).

[2017-09-22 19:54] #1214 closed

[2017-09-25 13:48] staebler opened #1265 "ServiceClass removed from a Broker's catalog are retained in API Server"
If a ServiceClass is removed from a Broker's catalog, the controller manager does not make any attempt to delete the ServiceClass from the API Server when the new catalog is fetched from the Broker. The ServiceClass also retains the name of the Broker, giving the impression that the ServiceClass is still part of the Broker's catalog.

[2017-09-25 20:28] #1149 closed

[2017-09-25 20:41] staebler opened #1271 "Unit tests for admission controllers flaky on Travis"
Here is a sample of a flake on an admission controller.

[code]

[2017-09-25 21:01] pmorie commented on #1271
Fix coming the test in question.

[2017-09-25 22:28] pmorie commented on #1167
Closed by #1186

[2017-09-25 22:28] #1167 closed

[2017-09-25 22:29] pmorie commented on #820
Closed by #1159

[2017-09-25 22:29] #820 closed

[2017-09-25 23:56] #1271 closed

[2017-09-26 03:12] staebler opened #1276 "Add godoc comments to the assert***InProgressProperties*** and assert**ExternalProperties*** test methods in controller_test.go."
This issue is a reminder to @staebler to fulfil his promise made in the code review of #1147 to add these godoc comments.

[2017-09-26 23:12] MHBauer opened #1278 "TestBasicFlowsWithOriginatingIdentity go test -race detected"
in https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/2249/console

[code]

[2017-09-27 00:41] vaikas-google opened #1279 "Update logs about ServiceClass / ServicePlan to include GUID & ExternalName"
After using GUIDs for the names for k8s resources for serviceplans and serviceclasses, we should log both the k8s resource name as well as external name in our log messages.

[2017-09-27 03:23] #1234 closed

[2017-09-27 19:00] staebler commented on #1278
I am working on this.

[2017-09-27 20:43] #802 closed

[2017-09-27 20:44] #1098 closed

[2017-09-27 21:35] n3wscott commented on #1236
It seems that `v1beta1` does still exist in k8s 1.8, it is `v1alpha1` that went away. There is a `v1` now as well so that should be used.

[2017-09-27 21:54] MHBauer opened #1283 "t"

[2017-09-27 21:54] #1283 closed

[2017-09-27 21:55] MHBauer commented on #735
Is https://kubeapps.com/ the correct place?

[2017-09-27 21:56] #625 closed

[2017-09-27 22:00] MHBauer commented on #315
upstream issue https://github.com/kubernetes/kubernetes/issues/16437

[2017-09-27 22:57] pmorie opened #1285 "Allow users to choose service and plan for Instances using Kubernetes names"
Follow-up from #1249; users should be able to directly specify the kubernetes names of service class and plan.  We should add discrete fields for these that are distinct from the reference fields:

[code]

The user should only be able to set one group of these fields at a time (k8s names, external names, external IDs)

[2017-09-27 22:58] pmorie opened #1286 "Users should be able to choose service and plan for instances using external IDs"
Follow-up from #1249; users should be able to specify the OSB IDs of service class and plan.  We should add discrete fields for these that are distinct from the reference fields:

[code]

sibling to #1285.

[2017-09-28 01:56] duglin commented on #1285
How is this different from what we agreed to before? I didn't think the user was allowed to set the Ref fields directly and they had to choose these Name fields (or externalIDs as you mentioned in the other issue).

[2017-09-28 15:18] uday31in commented on #1172
This repros on Azure with ACS too.
[code]

[2017-09-28 16:01] pmorie opened #1288 "Rename cluster-level resources to Cluster*"
Today (Sept 28 2017), we talked to SIG architecture about how we should differentiate the names of the current `ServiceBroker`, `ServiceClass`, and `ServicePlan` resources since we have the possibility of adding namespaced variants of these resources in the future.  The guidance we received was that we should rename the existing resources to `Cluster*`.

[2017-09-28 16:02] pmorie commented on #1288
@vaikas-google loves doing stuff like this, so assigning him.

[2017-09-28 16:12] MHBauer commented on #1172
Oooh! Thanks @uday31in! We were talking about closing this yesterday. Does #1173 help you?

[2017-09-28 16:28] uday31in commented on #1172
I have used following command from PR however PODS are still failing with error below:

uday@k8s-master-18734654-0:~/service-catalog/docs/certs$ helm install ../../charts/catalog  --name ${HELM_RELEASE_NAME} --namespace ${SVCCAT_NAMESPACE}     --set apiserver.auth.enabled=true         --set useAggregator=true         --set apiserver.tls.ca=$(base64 --wrap 0 ${SC_SERVING_CA})         --set apiserve

[2017-09-28 19:09] bmelville opened #1290 "Non-spec compliant error fields from broker cause extra errors"
According to the spec, errors from the broker should have a single string field `description`, and any other fields should be ignored. It seems like the broker client does not ignore other fields, but fails to unmarshal them and results in an odd error in the API object.

Is it possible instead of failing to unmarshal like this to either surface a more sane error, or even surface the non-conforman

[2017-09-28 19:15] liggitt opened #1291 "using an unsupported field selector should return an error"
the current field selector registration accepts any field selector keys, even unsupported ones:

https://github.com/kubernetes-incubator/service-catalog/blob/d9d0ea84029e4b9f18ba3a8a0c1baee72bbd714f/pkg/apis/servicecatalog/v1alpha1/conversion.go#L24-L34

that should return an error for any unsupported field selector key

[2017-09-28 19:15] liggitt commented on #1291
cc @spadgett

[2017-09-28 20:09] spadgett opened #1292 "ReferencesNonexistentServicePlan creating instance using externalServicePlanName"
I'm seeing an error provisioning a instance using canary images and `externalServicePlanName`.

The error message looks wrong. There is a plan `default` for this service class. It looks like the problem is that more than there is more than one plan with external name `default`. In fact, this broker creates a plan for each service class all called `default`.

[code]

Here is the YAML of my instance

[2017-09-28 20:47] kibbles-n-bytes commented on #1290
I believe in this case it may be an issue with my particular fork's changes. I'm closing this until I can verify it's a general SC error.

[2017-09-28 22:38] #882 closed

[2017-09-28 22:38] #1147 closed

[2017-09-28 23:17] #1278 closed

[2017-09-28 23:20] pmorie commented on #1285
@duglin I have users that have a strong preference to set based on the k8s names.  We will also potentially have future naming schemes that do not use the ID.

[2017-09-28 23:42] pmorie opened #1293 "Status endpoints support incorrect http verbs"
I noticed this the other day.  A status endpoint should support only `GET`, `PATCH` and `UPDATE`.  Example from k8s:

[code]

However, ours support the full gamut:

[code]

Working on this now.

[2017-09-29 03:14] nilebox opened #1296 "Switch from global api.Scheme to local Service Catalog Scheme"
The `sample-apiserver` (API server example) is not using `api.Scheme` at least since 1.7 (see [apiserver.go](https://github.com/kubernetes/sample-apiserver/blob/release-1.7/pkg/apiserver/apiserver.go)), while Service Catalog still registers all the types in the global `client-go/api.Scheme`.

While it worked for k8s 1.7 (client-go 4.0), the `client-go/pkg/api` package was completely removed from t

[2017-09-29 03:17] nilebox commented on #1296
Note that while I only mentioned `api.Scheme`, there are other objects used from the same package, so it applies to using the entire `k8s.io/client-go/pkg/api` package in general (Scheme, Registry, Codecs etc). `api.Scheme` seems to be the central part there though, so I would start with deciding on the changes of using it first.

[2017-09-29 12:11] uday31in opened #1298 "API Server Pods crashing with Unknown admission plugin: ServiceInstanceCredentialsLifecycle"
PODS are failing with error below:

uday@k8s-master-18734654-0:~/service-catalog/docs/certs$ helm install ../../charts/catalog  --name ${HELM_RELEASE_NAME} --namespace ${SVCCAT_NAMESPACE}     --set apiserver.auth.enabled=true         --set useAggregator=true         --set apiserver.tls.ca=$(base64 --wrap 0 ${SC_SERVING_CA})         --set apiserver.tls.cert=$(base64 --wrap 0 ${SC_SERVING_CERT})

[2017-09-29 14:29] uday31in commented on #1298
Fixed with 0.0.21 version. Thanks @jboyd01

[2017-09-29 14:29] #1298 closed

[2017-09-29 14:45] pmorie opened #1299 "Two serviceclasses with the same external name should not be allowed"
While testing a fix to https://github.com/kubernetes-incubator/service-catalog/issues/1292, I found that it's possible for two service classes to be created from different brokers using the same externalName, which is a bug.

Fix coming shortly.

[2017-09-29 15:16] pmorie opened #1303 "make verify should validate that versioned APIs contain json tags for fields"
There is such a validation in kubernetes and it is pretty clear that we need an equivalent one here.

[2017-09-29 16:39] MHBauer commented on #1293
Do they actually work?

[2017-09-29 20:43] MHBauer commented on #735
maybe https://github.com/kubernetes/charts but in incubator for now.

[2017-09-29 22:12] kibbles-n-bytes commented on #1290
Looking into this, it seems it wasn't just an issue on my fork. The pmorie/go-open-service-broker-client will attempt to unmarshal errors into the following struct:

[code]

In most cases, it will just drop the fields that are non-spec compliant. However, it will have issues unmarshalling nested resources that use "error" or "description" as the key.

I think we should make it just not print the u

[2017-09-29 23:26] pmorie commented on #1290
Seems like there should be an issue in go-osb-client for this

On Fri, Sep 29, 2017 at 6:12 PM Michael Kibbe <notifications@github.com>
wrote:

[2017-10-02 15:03] pmorie commented on #1200
We discussed the naming of resources re: this problem in the SIG Arch meeting on Sept 28, 2017.  The consensus was that the cluster-scoped resources should be called Cluster*.

Created #1288 for this

[2017-10-02 15:03] pmorie commented on #988
Closed by #1248

[2017-10-02 15:03] #988 closed

[2017-10-02 15:16] duglin commented on #1200
Closing since #1288 should cover it

[2017-10-02 15:47] staebler commented on #1239
I am working on this.

[2017-10-02 22:54] pmorie opened #1309 "Make purge-generated make target friendly to expansions"
Currently the `make purge-generated` target will blast the entire generated clientset directory.  This is not friendly to the client expansion added in #1305 so it should be rewritten or eliminated.

Does anyone actually use this particular target?

[2017-10-02 23:02] nilebox commented on #1200
@duglin Hrm, the #1288 is only about renaming the current (cluster-scoped) resources. I guess we need to keep this issue open for tracking adding support for namespace-scoped ones?

[2017-10-02 23:10] duglin commented on #1200
yea I guess so

[2017-10-02 23:37] vaikas-google commented on #1292
#1305 should have fixed this.

[2017-10-02 23:44] vaikas-google commented on #1288
Ok, so:
ServiceBroker => ClusterServiceBroker
ServiceClass => ClusterServiceClass
ServicePlan => ClusterServicePlan

[2017-10-02 23:47] vaikas-google opened #1310 "Rename ServiceInstanceCredential to ServiceBinding"
As per discussion and a final vote on September 27th 2017 meeting, we are going to rename:
ServiceInstanceCredential back to ServiceBinding

[2017-10-03 01:18] pmorie opened #1311 "Add ability to map broker response into specific keys of k8s secret"
I have heard from several users (and actively desired personally) to be able to map pieces of the broker response into different fields.  For example, if I have an application template that depends on `$DB_URL`, it would be great to map `db.url` into `DB_URL` in the k8s secret created by the catalog, or map `DATABASE_URL` into that field.  We do not want to create templating with this feature, but

[2017-10-03 01:19] pmorie commented on #1311
cc @luksa

[2017-10-03 01:22] pmorie opened #1313 "Add more meaningful examples in contrib/apiserver"
The resources currently in this folder have not been maintained and do not illustrate a lot of API features.  It would be great to get some more detailed (and annotated) examples in this folder.

[2017-10-03 01:22] pmorie commented on #1311
I binned this as 0.2.0 so it was clear that it is not for 0.1.0

[2017-10-03 01:27] pmorie commented on #1288
Correct

[2017-10-04 02:45] #1296 closed

[2017-10-04 11:29] nilebox opened #1323 "Remove dependency on Kubernetes main repo"
Looks like the only packages we actually need from the main repo are:
- https://github.com/kubernetes/kubernetes/tree/master/pkg/util/configz
- https://github.com/kubernetes/kubernetes/tree/master/pkg/util/interrupt

Other imports from kubernetes main repo seem to be accidental or historical, since there are equivalent packages in client-go.

So instead of depending on this giant repo we could jus

[2017-10-04 11:29] nilebox commented on #1323
I plan to look at this issue after updating our dependencies to k8s 1.8.

[2017-10-04 15:16] vaikas-google opened #1324 "Add timeouts to all the tests"
Due to a bug in the code, our tests were hanging forever and needed a manual abort.
https://service-catalog-jenkins.appspot.com/job/service-catalog-PR-testing2/2398/

It was basically waiting for a ServiceClass to be ready looked like.
If you revert this commit it will fail:
https://github.com/kubernetes-incubator/service-catalog/pull/1319/commits/87ba116213aabee6eeecb738b85e904ca59e2e34

[2017-10-04 18:23] viglesiasce commented on #735
Hey folks!

Charts maintainer here.

We don't currently have the ability to add charts to the main Charts repositories (stable/incubator) without the source living in our repo. That said, plans are in motion to figure out a methodology for it.

Would you be willing to have a snapshot of the chart from this repo added to kubernetes/charts and updated/synced periodically until we figure out delegati

[2017-10-04 18:25] duglin commented on #735
@viglesiasce how are they versioned/tagged in that repo?

[2017-10-04 18:29] viglesiasce commented on #735
You can choose the versioning scheme you'd like.

Generally folks use the `appVersion` field of the Chart.yaml to denote the relevant software version and the `version` field to denote the revision of the chart it self.

The [Istio chart](https://github.com/kubernetes/charts/tree/master/incubator/istio) has decided to use $appVersion-chart$chartversion (0.2.6-chart1) in order to keep things more i

[2017-10-04 18:38] duglin commented on #735
Sorry, I wasn't clear. If we want to push v0.0.23 of the helm charts into the k9s/charts repo we can put v0.0.23 into the yaml but is there a mechanism for someone to pull down the v0.0.22 version w/o having to try to find which commit was associated with v0.0.22 ?

[2017-10-04 18:40] viglesiasce commented on #735
Ah yes all old versions live on. You can always do a `helm install stable/service-catalog --version  0.0.22`.

[2017-10-04 19:18] pmorie opened #1329 "Update OSB Client to 2.13"
...now that it is released.

See https://github.com/pmorie/go-open-service-broker-client/pull/82

[2017-10-04 20:56] MHBauer commented on #735
Sync on version tag sounds good to me.

[2017-10-04 22:52] kibbles-n-bytes opened #1331 "Use API aggregation on Jenkins"
Currently Jenkins uses a separate context to communicate with the Service Catalog API server. We should make Jenkins use API aggregation.

[2017-10-05 02:30] #1148 closed

[2017-10-05 16:39] pmorie commented on #1279
I would like all log messages to have the form:

[code]

[2017-10-05 16:48] n3wscott commented on #1279
I can help!

[2017-10-05 21:10] vaikas-google commented on #1310
As per PR comments, here are the remaining cleanup issues:

Things that are still out of date:

- [ ] pkg/controller/controller.go: bindingQueue (service-instance-credential)

- [ ] Update the documents

- [ ] test/e2e/walkthrough.go: bindingName = "ups-instance-credential"
contrib/examples/walkthrough/ups-instance-credential.yaml filename + resource name
associated Jenkins messages/tests

- [ ] i

[2017-10-05 22:43] crmejia commented on #1303
#dibs

[2017-10-06 02:34] ash2k commented on #1323
https://github.com/kubernetes/common and https://github.com/kubernetes/utils

[2017-10-06 14:01] pmorie opened #1346 "Plan defaulter admission controller doesn't correctly select plans"
The plan defaulter admission controller pulls back every plan in the catalog; it should select using a field selector to constraint the set of plans to those associated with the service class.

Fix coming for this shortly.

[2017-10-06 15:21] vaikas-google commented on #1346
This was discussed in https://github.com/kubernetes-incubator/service-catalog/issues/454 so maybe just close that one out since it was the only remaining task on that issue.

[2017-10-06 16:05] vaikas-google commented on #454
The remaining issue here, using field selectors namely is being addressed in #1346 so closing this one out. @pmorie @MHBauer please reopen if you feel differently.

[2017-10-06 16:05] #454 closed

[2017-10-06 18:28] pmorie commented on #1292
Closed by #1305

[2017-10-06 18:28] #1292 closed

[2017-10-06 18:29] #1293 closed

[2017-10-06 18:29] pmorie commented on #1259
Closed by #1263

[2017-10-06 18:29] #1259 closed

[2017-10-06 18:30] pmorie commented on #1256
Closed because we removed TPR support :)

[2017-10-06 18:30] #1256 closed

[2017-10-06 18:35] pmorie commented on #1291
This is a candidate for 0.1.1

[2017-10-06 18:35] pmorie commented on #1303
0.1.1 candidate

[2017-10-06 18:36] pmorie commented on #1265
We should mark these as RemovedFromCatalog for now; likely there are other behaviors supporting this that we will add after 0.1.0

[2017-10-06 18:37] pmorie commented on #1309
0.1.1 candidate

[2017-10-06 18:37] pmorie commented on #1324
0.1.1 candidate

[2017-10-06 18:37] pmorie commented on #1329
Might be an 0.1.1 candidate

[2017-10-06 18:38] pmorie commented on #1313
0.1.1 candidate

[2017-10-06 18:39] pmorie commented on #1200
For the record, for anyone watching - we do not intend for this to block the beta, we are only interested in ensuring that we have a good forward-compatible design.

[2017-10-06 18:41] pmorie commented on #1285
This might be a good 0.1.1 candidate, depending on time

[2017-10-06 18:41] pmorie commented on #1286
Might be a good 0.1.1 candidate

[2017-10-06 18:41] pmorie commented on #816
Closed by #1289

[2017-10-06 18:41] #816 closed

[2017-10-06 18:41] pmorie commented on #748
Closed by #1289

[2017-10-06 18:41] #748 closed

[2017-10-06 18:44] pmorie commented on #1172
Is this still an issue?  Might have to be in 0.1.1 if no one can get to it first.

[2017-10-06 18:45] pmorie commented on #735
I'd be happy to do a snapshot - assuming we can have a script or something to do it during the release process.

[2017-10-06 18:46] pmorie commented on #989
Closed by #1241

[2017-10-06 18:46] #989 closed

[2017-10-06 18:47] pmorie commented on #868
Solved by our naming convention choice for now and #1249

[2017-10-06 18:47] #868 closed

[2017-10-06 19:20] #1046 closed

[2017-10-06 22:43] ash2k commented on #1200
Having this feature would be very useful for us. We need it for namespaced integration testing of various usage scenarios. Both for OSB providers and for Instance/Binding consumers.

[2017-10-07 21:50] #1310 closed

[2017-10-09 17:34] arschles commented on #1239
I don't think there's a reason to do this. We publish images from CI, and there's never been skew.

[2017-10-09 18:09] pmorie commented on #1239
I've had plenty of users report problems with skew.

On Mon, Oct 9, 2017 at 1:34 PM, Aaron Schlesinger <notifications@github.com>
wrote:

[2017-10-09 20:26] n3wscott commented on #1313
I would be interested in working on this when the logging changes have been done. #dibs?

[2017-10-09 20:38] arschles commented on #1288
@pmorie is going to talk with sig-architecture to determine whether we need to maintain Golang API compatibility across beta releases

[2017-10-09 20:47] pmorie commented on #1288
Resolved by numerous PRs from @vaikas-google

[2017-10-09 20:47] #1288 closed

[2017-10-09 20:52] arschles commented on #1172
Fixed in latest release of Minikube, closing

[2017-10-09 20:52] #1172 closed

[2017-10-10 03:52] nilebox commented on #1323
PR is ready https://github.com/kubernetes-incubator/service-catalog/pull/1355

[2017-10-10 04:56] nilebox commented on #1323
Libraries issue: https://github.com/kubernetes/kubernetes/issues/50475
Util issue: https://github.com/kubernetes/kubernetes/issues/48209

[2017-10-10 06:42] pmorie opened #1358 "Fuzzers for API should not import pkg/controller"
🚫

[2017-10-10 07:50] pmorie opened #1361 "Serve OpenAPI and provide useful columns in kubectl"
Unfortunately, the generic columnizer was removed from kubectl due to unpredictable behavior.  We should finish the work to serve OpenAPI from the API server and allow useful columns to be shown in kubectl.

[2017-10-10 07:51] pmorie opened #1362 "Add a status field to ClusterServiceClasses for current plans"
I think we need to be able to show the currently available plans for a service class in order to have a good UX.  This should be a status field that is observed and maintained by a controller.

[2017-10-10 15:15] vaikas-google opened #1363 "Investigate Error messages during test about not being able to update status"
Tests are passing, but I consistently see these kinds of messages there that seem a bit troubling. Seems like either the tests are not set up right, or ?? But they add noise to the tests and it would be good to understand if they are real errors, cornercases, or whatever.

=== RUN   TestBasicFlowsSync
[restful] 2017/10/10 15:11:34 log.go:33: [restful/swagger] listing is available at https:///swagg

[2017-10-10 15:31] pmorie commented on #1363
I think what we're seeing is races between the work queue in the controller and the informer cache used by the lister not being updated

[2017-10-10 16:44] arschles opened #1364 "v0.1.0-RC1 wasn't deployed to quay.io"
This happens because the deploy script's [logic](https://github.com/kubernetes-incubator/service-catalog/blob/master/contrib/travis/deploy.sh#L25) for determining whether it's a tag fails on the `-RC1` part.

see https://travis-ci.org/kubernetes-incubator/service-catalog/builds/285930705

[2017-10-10 17:10] pmorie commented on #1364
I am not going to be able to address this today - can someone take this and
get it resolved today?

On Tue, Oct 10, 2017 at 12:44 PM, Aaron Schlesinger <
notifications@github.com> wrote:

[2017-10-10 17:11] duglin commented on #1364
I'll take a stab at it

[2017-10-10 18:08] #1364 closed

[2017-10-10 18:11] kibbles-n-bytes opened #1366 "InProgressProperties cleared when starting orphan mitigation, fails API server validation"
We currently clear the `InProgressProperties` on an instance/binding when it enters orphan mitigation. However, the API server requires `InProgressProperties` to exist if there is an operation ongoing, so it rejects the update request.

[2017-10-10 18:15] kibbles-n-bytes commented on #1366
Simplest thing to do here would be to just not clear the `InProgressProperties`. There's no real information gained from doing this, and the resource having `OrphanMitigationInProgress` set is clear enough that the request has actually failed.

[2017-10-10 18:41] viglesiasce commented on #735
It would need to submit a PR to the kubernetes/charts repo (and possibly ping a maintainer via comment).

Sound reasonable?

[2017-10-10 19:25] pmorie commented on #1366
I am fine with the approach michael suggests here

On Tue, Oct 10, 2017 at 2:15 PM Michael Kibbe <notifications@github.com>
wrote:

[2017-10-10 19:41] vaikas-google commented on #1285
Starting on this, should these now be ClusterServiceClassName / ClusterServicePlanName then? in contrast with the External[CSCN |CSPN]****

[2017-10-10 20:06] pmorie commented on #1285
Yep, it should be ClusterService(Class|Plan)Name

[2017-10-10 20:57] vaikas-google commented on #1265
@pmorie This is for milestone 0.1.0, should we open more targeted bugs for follow-ups?

[2017-10-10 20:58] vaikas-google commented on #1181
@pmorie done?

[2017-10-11 11:35] maleck13 opened #1367 "Interacting with the service catalog API extension in third party application"
When writing applications that interact with the kubernetes API we have the client-go. I am wondering what is the plan with api extensions such as the service catalog?
If I wanted to interact with the service catalog API what would be the best way to do this currently?Can I consume the client package in this repo independently?

[2017-10-11 16:49] bmelville commented on #1290
Hey Kibbe, any update on this?

B.

[2017-10-11 16:53] kibbles-n-bytes commented on #1366
Similarly, it seems the API server blocks updates that have a `CurrentOperation` but not an `OperationStartTime`. Orphan Mitigation restarts the clock so that amount of time allowed for deprovision is not limited by how long the failed provision takes, so I think this should be removed. The `OperationStartTime` is set during the first reconciliation for deprovision, just like with provision.

[2017-10-11 16:56] kibbles-n-bytes commented on #1366
OR, the better approach would probably be to make this check conditional on whether `OrphanMitigationInProgress` is set or not, as that will ensure the API server wouldn't accept any invalid states.

[2017-10-11 20:58] kibbles-n-bytes commented on #1290
Will get a PR out for this today.

[2017-10-11 21:23] arschles commented on #735
I agree RE the way to do chart versioning, but I don't want us to copy our chart into kubernetes/charts while we're in beta. It makes more sense for us to own the helm repository at this point, and that means uploading to an HTTP server. GCS or Azure blob storage make most sense at the point because Google and Microsoft are represented in this group.

kubernetes/charts itself has a [script](https:

[2017-10-11 23:01] kibbles-n-bytes commented on #1290
Need to do a bit more design discussion on this, but will be soon.

[2017-10-12 14:04] pmorie opened #1374 "Make it easier to debug situations where a secret is created without data"
@shawn-hurley ran into an issue today where a secret was created without any data; it's currently difficult to debug this because we don't have anything in the logs to help us out:

[code]

Created secret:

[code]

We should make this easier to debug somehow, but should definitely not log the response body unless the user sets a special flag (ie, normal verbose flag for client should not log respo

[2017-10-12 16:07] #1323 closed

[2017-10-12 17:41] pmorie commented on #1367
I think we will have to publish a service-catalog-client-go project with just the client so that you don't have to pull the entire project in.  It's worth thinking about what strategy we should have for releasing such a library so that it will work in the same GOPATH as a contemporary client-go.

[2017-10-12 18:06] pmorie opened #1376 "Controller-manager will crash loop if API server is not immediately available on startup"
The controller-manager will crash (without retrying) if the the API server is not available when it starts.  This means, for example, that the controller-manager pod routinely crashloops after the helm chart is installed.
A number of people have reported this to me; users find it confusing and it can be a red herring.

We should retry with backoff when this happens.

[2017-10-12 21:06] #1374 closed

[2017-10-13 07:53] maleck13 commented on #1367
Yes a client-go would be good, I think it is an interesting question for all extension API servers. I haven't had to extract a client before, but given that there is a generated clientset, it would be nice if there were tooling (I am not aware of any) that would allow extracting the generated client into a lib as this could be used by all API servers.

[2017-10-13 16:39] eriknelson opened #1386 "RelistDuration should not accept a negative value."
Editing a service broker with a value of `-15m0s` should be rejected as invalid.

Actual results: Change isn't prevented and updates successfully.
[code]

[2017-10-13 16:40] eriknelson commented on #1386
I'm currently working on a fix for this.

[2017-10-13 16:42] eriknelson opened #1387 "Catalog should not relist brokers on a duration with behavior set to Manual"
Expected results: Should not relist by duration time when spec.relistBehavior = Manual

Actual results: service-catalog still relists on interval.

[code]

[2017-10-13 16:42] eriknelson commented on #1387
Also looking into this one.

[2017-10-13 17:04] dymurray opened #1388 "Service plan updates in broker not propagating to clusterserviceplan objects"
When a service plan is updated from the Broker the service catalog fails to reconcile the new clusterserviceplan object which causes that object to never receive the updated service plan.

When a service plan changes I would expect the service catalog to recognize the change, and reconcile the object changes.

[2017-10-13 17:04] dymurray commented on #1388
FYI to workaround this we can delete and recreate the broker but that should not be the standard practice of reconciling service plan changes.

[2017-10-13 17:16] pmorie commented on #1388
@dymurray Can you supply some supporting information to help diagnose this?  YAML dumps, controller logs, etc.

[2017-10-13 17:43] dymurray commented on #1388
@pmorie Here is the relevant log from the controller manager pod:
[code]

It says that it successfully reconciles the serviceclass dh-sqs-apb but that clusterserviceclass' associated clusterserviceplan does NOT get updated appropiately and displays the old plan information in the UI. What is strange is that this doesn't happen for every updated clusterserviceinstance, just randomly on some. Like I

[2017-10-13 17:49] pmorie commented on #1388
@dymurray Can you provide some information about which fields you expected to change?

[2017-10-13 17:51] dymurray commented on #1388
@pmorie Yes the new Service Plan had an entirely different set of parameters listed which failed to show up.

[2017-10-13 17:54] pmorie commented on #1388
@dymurray I think we need more information from the logs - for example, I don't see any messages about reconciling plans, only classes.  Can you update with more of the log context?

[2017-10-13 17:57] vaikas-google opened #1390 "Wrap the logging functions for easier readability."
We currently have bunch of repetitions in our logging, we could wrap the glog functions with localized loggers that tag the consistently formatted Structures. Unless somebody else has a better idea, I think we should do something like this (function names, capitalization, etc. is not important here btw).

I1013 10:54:13.532338    1959 log.go:35] ServiceInstance "instnamespace:instname": FIRST SECO

[2017-10-13 17:57] pmorie opened #1391 "Enhance integration testing for scenarios where services/plans change or are removed"
We need to improve the integration tests for changes related to services/plans being updated to removed in the broker's catalog.

Specific scenarios that need to be covered:

- [ ] Service change
- [x] Service removal
- [x] Plan change
- [x] Plan removal

[2017-10-13 17:59] n3wscott commented on #1390
Yeah I have been thinking about how to do this.

I don't know go that well yet, but is there any reflection we could use to pull out some of the info magicly?

[2017-10-13 17:59] n3wscott commented on #1390
Also, the glog knows the line that logged the statement and sticks that in the log. So wrapping will remove the calling location as far as I understand it.

[2017-10-13 18:03] pmorie commented on #1390
I think adding functions to the types is probably the better way to go here
for the reason scott pointed out.

On Fri, Oct 13, 2017 at 2:00 PM, Scott Nichols <notifications@github.com>
wrote:

[2017-10-13 18:04] arschles commented on #1390
like @pmorie said. if we add `String() string` methods onto our types (`ServiceInstance`, `ServiceBinding`, etc...), we'll get this for free. See https://godoc.org/fmt#Stringer for why

[2017-10-13 18:08] vaikas-google commented on #1390
Yeah, that's fine too. FYI, you can get around to losing the line number by removing one from the log stack (Output method), but readable String names are probably better anyways. I'll open an issue to track that.

[2017-10-13 18:08] #1390 closed

[2017-10-13 18:19] #1181 closed

[2017-10-13 18:28] vaikas-google commented on #1265
marked as RemovedFromCatalog, move this out of 0.1.0 for followup.

[2017-10-13 19:01] dymurray commented on #1388
@pmorie

No errors are displayed in the controller manager:
[code]

Output from hitting the catalog endpoint on the broker:
[code]
Output from `oc get clusterserviceplans` for the associated service plan:
[code]

The `aws_access_key` and `aws_secret_key` are from a secret that gets created after the broker has reported the initial serviceplan to the service catalog. Once the secret gets created an

[2017-10-13 19:38] vaikas-google opened #1393 "Add String methods to our types for better logging / debugging"
there's bunch of places where we construct the names for the types (ServiceClass, ServicePlan, etc.) in a form of a:
ServiceClass "NAMESPACE/NAME"
which is well and good, but since the NAME is a guid, it's pretty meaningless, so we have to tack in the ExternalName (aka, the name the Broker identifies this). So the string construction gets messy. We should have one place where we define this.

[2017-10-13 20:01] #1291 closed

[2017-10-13 20:08] n3wscott commented on #1393
yessssssss

[2017-10-13 20:09] n3wscott commented on #1393
#dibs

[2017-10-13 20:12] n3wscott commented on #1393
From a comment: add String() string methods onto our types (ServiceInstance, ServiceBinding, etc...), we'll get this for free. See https://godoc.org/fmt#Stringer for why

[2017-10-13 21:26] #1346 closed

[2017-10-13 21:27] pmorie opened #1396 "Plan defaulter admission controller should work when k8s names are used"
Follow-up from https://github.com/kubernetes-incubator/service-catalog/pull/1351; this admission controller should be modified to work when k8s names instead of external names are used.

cc @jboyd01

[2017-10-13 21:29] pmorie opened #1397 "Simplify API server storage setup"
Follow-up from https://github.com/kubernetes-incubator/service-catalog/pull/1394

[2017-10-13 21:32] #1329 closed

[2017-10-13 23:31] #1366 closed

[2017-10-14 16:40] #1386 closed

[2017-10-14 16:43] pmorie opened #1401 "instance controller should use field selector to determine whether bindings exist"
It currently iterates through all bindings in the namespace; should use field selector instead.

[2017-10-16 03:25] nilebox commented on #1367
While this has been done for Kubernetes core server (with `client-go` project), the other API servers still provide their clients as part of their server repo, for example CRD server: [apiextensions-apiserver](https://github.com/kubernetes/apiextensions-apiserver/tree/master/pkg/client), and the usage example: https://github.com/kubernetes/apiextensions-apiserver/blob/master/examples/client-go/mai

[2017-10-16 08:45] leonwanghui opened #1402 "Fail to create ClusterServiceBroker"
## What version of environ?
- Kubernetes (v1.6.0, one-node)
- Service Catalog (v0.1.0-rc1)
- OS (Ubuntu 17.04)
## What happened?
I  developed a new service broker called [opensds-broker](https://github.com/leonwanghui/opensds-broker), which can transfer request to opensds. When I installed it using helm, everything went well as followed:
[code]
But after I created the servicebroker resource in Ser

[2017-10-16 13:08] pmorie commented on #1402
Do you have cluster DNS installed / running correctly?  The error indicates a DNS failure.

[2017-10-16 13:21] pmorie commented on #1388
@dymurray I'm not sure what kind of update you expected to see here - can you elaborate?

[2017-10-16 13:41] dymurray commented on #1388
@pmorie as you can see the output from the catalog endpoint on the broker shows that
 `openshift_form_definition` associated with the APBs serviceInstace should only have:
[code]

Instead it has:
[code]

The service plan's data in the broker has a different parameter list than the service catalog. The Service catalog is displaying the old data and never updating the clusterServicePlan to remove th

[2017-10-16 15:41] vaikas-google commented on #1299
this has already been fixed.
https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller_broker.go#L549

We could list the existing service classes first and not make any changes, but even that would be prone to race conditions if brokers are being added simultaneously.

[2017-10-16 15:41] #1299 closed

[2017-10-16 17:02] pmorie commented on #1388
@dymurray and I talked offline and this is a legit bug - there are a couple fields that are not updated on service plans when one already exists.  I'm working on the fix for this now.

[2017-10-16 17:02] pmorie commented on #1388
/assign

[2017-10-16 18:10] #1236 closed

[2017-10-16 18:12] #1285 closed

[2017-10-16 18:49] n3wscott commented on #1393
On second thought, this is not going to be as simple as adding this to the types. Because the intent of Stringer is to make a readable version of Object -> String. But we want only a subset of the Object to be readable. So instead I am thinking of some logging helpers, here is an example:

https://github.com/kubernetes-incubator/service-catalog/pull/1403

[2017-10-16 21:22] #1396 closed

[2017-10-16 21:53] vaikas-google opened #1407 "Add better tests for when broker classes/plans change"
As a follow on to #1406

[2017-10-16 22:24] #1388 closed

[2017-10-16 22:43] n3wscott commented on #1393
And another WIP for fixing the k8s and external name junk we are trying to log:

https://github.com/kubernetes-incubator/service-catalog/pull/1408

[2017-10-17 00:09] pmorie opened #1409 "Improve test constructs for events"
Currently we have a ton of tests that concatenate strings; a more fluent API would be helpful for this.

@n3wscott this has your name all over it

[2017-10-17 04:15] ash2k opened #1411 "A potential issue with ObjectReference"
Some time ago I created a ticket https://github.com/kubernetes/kubernetes/issues/49372 where `ObjectReference` was called "a mistake". So I thought maybe we shouldn't use this type as part of `ServiceInstanceSpec`, `BasicAuthConfig` and `BearerTokenAuthConfig` types?

I guess we need some guidance from API machinery folks.

/cc @deads2k

[2017-10-17 04:38] nilebox commented on #1411
Indeed, in many occasions we have already used specific types:
- [SecretKeyReference](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/types.go#L794)
- [PlanReference](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/types.go#L419)

But I'm not sure what is wrong with the`ObjectReference` and `LocalObjectReferenc

[2017-10-17 13:05] deads2k commented on #1411
1. `kind` is often fixed.  When it is fixed, it shouldn't be settable
2. `kind` is often wrong.  See HPA trying to refer to kinds when it really wants resources
3. `namespace` often isn't needed because only in-namespace refs are allowed or you point to cluster scoped things
4. `uid` isn't generally useful.  Sometimes it is, sometimes it isn't, but having to code defensively around it is unnecessa

[2017-10-17 15:48] n3wscott commented on #1409
#dibs

[2017-10-17 16:41] pmorie commented on #1411
The `ClusterServiceClassRef` field on `ClusterServicePlan` should just be a string field and should be called `ClusterServiceClassName`.

Curious to know where @deads2k comes down on other usages of the type in our API.

[2017-10-17 16:50] deads2k commented on #1411
In general, my bias is towards creating a struct for a reference.  Something like this.

[code]

This gives you a specific type that you can tune to your needs.  As I recall these types in particular, they have special naming constraints that may or may not allow different reference strategies.  Creating a separate struct gives more future options without pain.

[2017-10-17 16:55] deads2k commented on #1411
To be clear, I am strongly against using `ObjectReference` and `LocalObjectReference` in other APIs.  You should use specific types for your specific needs.

[2017-10-17 16:58] pmorie commented on #1411
Fields called 'Reference' should only refer to things via the k8s names, agree @deads2k ?

[2017-10-17 17:28] pmorie opened #1413 "BindingOrphanMitigation integration test flaking reliably"
[code]

Looks like a test bug - fix coming.

[2017-10-17 18:26] deads2k commented on #1411
That would have my strong recommendation.

[2017-10-17 18:48] eriknelson commented on #1387
Dug into this and found that the broker was returning a non-compliant response, causing the Catalog to error during reconciliation. The catalog is expected to continue to try to relist the broker while in this error start, so I'm going to close this as NOTABUG.

[2017-10-17 18:48] #1387 closed

[2017-10-17 18:53] nilebox commented on #1411
I'll make a PR for that.

[2017-10-17 19:03] nilebox opened #1416 "references to cluster-scoped objects should not allow for passing namespace"
See [ServiceInstanceSpec](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/types.go#L451):

[code]

`ObjectReference` type allows for specifying namespace, which doesn't make sense for cluster-scoped resources. `LocalObjectReference` is a better fit for that, but given https://github.com/kubernetes-incubator/service-catalog/issues/1411 we just need to cre

[2017-10-17 21:24] n3wscott opened #1418 "Need a test for wget if it is required for testing."
Because of https://github.com/kubernetes-incubator/service-catalog/pull/1384 `make test` now fails on my Mac.

[code]

[2017-10-18 00:39] ash2k commented on #1176
@vaikas-google @pmorie this does not sound like a dupe of #606 to me. This issue is about adding standard root CAs to the docker image(s). I've just checked - there are 0 CAs installed. When I run `apt-get install ca-certificates` it installs 174.
I'd be great to get this addressed - we use Amazon Certificate Manager to get certificates for our brokers so having root CAs in the docker image is nee

[2017-10-18 05:29] #1176 closed

[2017-10-18 17:35] pmorie opened #1420 "It should not be possible to provision a new instance of a service/plan removed from a broker's catalog"
We added logic to set the status.removedFromBrokerCatalog field correctly in #1353 but you can still provision new instances of these services/plans.

If a plan is deleted, you should:

- Not be able to provision a new instance of it or update an existing instance _onto_ it (parameter changes are OK)

If a service is deleted, you should:

- Not be able to provision a new instance of it
- Not be ab

[2017-10-18 18:12] vaikas-google opened #1421 "Remove deprecated fields before releasing final beta."
As per comment here at least this should be removed, there may be others.
https://github.com/kubernetes-incubator/service-catalog/blob/master/plugin/pkg/admission/broker/authsarcheck/admission.go#L94

[2017-10-18 20:01] jboyd01 opened #1423 "servicebinding reconciliation errors prevent binding from being deleted"
If the ServiceBinding is in an error state, it can block deletion of the binding.
I've seen several examples of this:
1) Go through the walkthrough without starting the service broker.
A.  kubectl create -f contrib/examples/walkthrough/ups-broker.yaml
B.  kubectl create namespace test-ns
C.  kubectl create -f contrib/examples/walkthrough/ups-instance.yaml
D.  kubectl create -f contrib/examples/wal

[2017-10-18 20:32] #801 closed

[2017-10-18 20:33] pmorie opened #1424 "ServiceClasses/Plans that are removed and have zero remaining instances should be deleted"
Last piece of #801

[2017-10-18 20:34] pmorie opened #1425 "Rename ServiceInstanceSpec.External*"
Should be renamed to *ExternalName per the October 18, 2017 meeting.

[2017-10-18 20:49] eriknelson opened #1426 "ServiceInstance updates are sending an empty body"
Testing out ServiceInstance updates and it looks like I'm seeing PATCH requests with an empty body on updates; the request dump from our broker logs:

[code]

I can reproduce this by editing the secret referenced by the instance's parameters and incrementing `updateRequests`.

[2017-10-18 20:56] eriknelson opened #1427 "ServiceInstance updates are missing Context"
https://github.com/pmorie/go-open-service-broker-client/blob/master/v2/update_instance.go#L10

The Ansible Service Broker has a use-case for the same Context data sent with a provision request to also be provided as part of a ServiceInstance update. Specifically, we need to validate a user's privileges with respect to the `namespace`.

Is this something we can get added to the request? CC @shawn-h

[2017-10-18 22:19] cloudnautique opened #1428 "RBAC settings"
I have a v1.8.1 cluster deployed by kubespray with RBAC on. I followed the 1.7 install guide, and made it through. Things look like they are up and running. When I go through the walkthrough 1.7 guide, I deploy the helm chart, but when I run:

`kubectl get clusterservicebrokers,clusterserviceclasses,serviceinstances,servicebindings`

I get:
[code]

I am new to RBAC here, and am not sure where the

[2017-10-18 22:58] #1411 closed

[2017-10-18 23:32] #1416 closed

[2017-10-19 00:17] nilebox commented on #1425
is being addressed by https://github.com/kubernetes-incubator/service-catalog/pull/1354

[2017-10-19 00:26] nilebox opened #1430 "Migrate OwnerReference manipulation code to using apimachinery one"
Since we updated to apimachinery 1.8, we can now proceed with https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller.go#L617-L619
[code]

[2017-10-19 02:24] nilebox opened #1432 "Use `OwnerReference` controller refs for parent/child relationships"
While looking at https://github.com/kubernetes-incubator/service-catalog/issues/1430 I have noticed that we use controller ("parent") `OwnerReference`s only for secrets owned by bindings.

We can use them for many other cases too:
- `ClusterServiceBroker` -> `ClusterServiceClass` -> `ClusterServicePlan`
- `ServiceInstance` -> `ServiceBinding`
- `ServiceInstance`/`ServiceBinding` -> `Secret` with p

[2017-10-19 02:35] nilebox commented on #1432
After thinking a bit more, we probably want to mark only server-created objects with controller `OwnerReference`. It's probably only the case for `ClusterServiceBroker` -> `ClusterServiceClass` -> `ClusterServicePlan`.

@ash2k WDYT?

[2017-10-19 03:10] ash2k commented on #1432
@nilebox Is this a dup of #1001? :)

[2017-10-19 03:31] nilebox commented on #1432
@ash2k I don't think it's dupe since #1001 is very broad and out of date (and I'm not even sure how to address it). @pmorie we should probably close it and create more concrete issues for the things which are still relevant if needed?

This one is solely focused on owner references and uses already merged #979 as an example.

[2017-10-19 03:31] nilebox commented on #1432
Assigning to myself.

[2017-10-19 03:47] ash2k commented on #1432
#1001 is about figuring out what is the ideal desired behaviour and documenting it. It is about understanding the "big picture". It is helpful to think about the "big picture", not just individual pieces (they can have individual issues) to achieve consistency of behaviour across svc-cat types and with built in types. That is my $.02 :)

[2017-10-19 12:34] #1430 closed

[2017-10-19 12:35] #1421 closed

[2017-10-19 12:43] pmorie opened #1434 "There should be an etcd storage path test"
Similar to https://github.com/kubernetes/kubernetes/blob/master/test/integration/etcd/etcd_storage_path_test.go, that ensures that the types in our API server are stored in the right locations within etcd.

[2017-10-19 12:43] pmorie commented on #1434
Setting milestone to 0.1.1, but I would strongly prefer to have this in for 0.1.0

[2017-10-19 13:56] jhadvig opened #1435 "Service catalog adds extra backslashes to error message."
When the creation of a `serviceinstance` errors out, the error object contains extra backslashes to the json object.

[code]

Trying to access the message will result into string with unescaped backslash and double quotes.

[code]

Ideal state would be not to have those extra backslashes there, so when accessing the `message` the string would be in properly escaped.

[2017-10-19 14:58] pmorie commented on #1435
Yeah, that's annoying.  We should fix this

[2017-10-19 15:00] pmorie commented on #1426
So in this case, you changed the secret parameters and they weren't sent?

[2017-10-19 15:02] eriknelson commented on #1426
@pmorie yep, I made the change via and `oc edit` on the cli and saw the new value correctly viewing the secret in the UI.

[2017-10-19 15:03] pmorie commented on #1426
I think this needs to be fixed for 0.1.0 if at all possible

[2017-10-19 18:07] pmorie opened #1437 "ServiceInstance is fully deleted when deprovision fails"
If the deprovision operation fails, a ServiceInstance will still be finalized and fully deleted.  Instead, we should leave the instance in a failed state until the user force-deletes it, so that they can have a chance to contact the broker operator and/or ensure that all resources are cleaned up.

Example log:

<details>

[code]
</details>

[2017-10-19 19:13] pmorie opened #1438 "Broker response during async polling incorrectly logged"
Logs a pointer, should instead log strings.  We might want to introduce a `String()` method on the response that's being logged.

Example:

[code]

[2017-10-19 21:20] #722 closed

[2017-10-20 09:04] dasher opened #1445 "unable to retrieve the complete list of server API"
Morning,

Having an issue attempting to deploy the chart to kubernetes with the service-catalog-catalog-controller-manager - which is in a crashLoop.

The logs from the pod indicate:

[code]

Certs were generated using the svc-cat-apiserver-aggregation-tls-setup.sh helper script.
The chart was deployed with the extra flag --set apiserver.tls.requestHeaderCA=$(base64 --wrap 0 ${SC_SERVING_CA}) to d

[2017-10-20 14:14] staebler commented on #1426
I verified that there was an issue in rc1. It has been fixed in rc2.

[2017-10-20 14:26] pmorie commented on #1425
Closed by #1354

[2017-10-20 14:26] #1425 closed

[2017-10-20 15:07] pmorie commented on #1413
Fixed by #1415

[2017-10-20 15:07] #1413 closed

[2017-10-20 17:29] vaikas-google commented on #1426
Can this be closed then?

[2017-10-20 18:55] #1420 closed

[2017-10-20 18:57] #1426 closed

[2017-10-20 19:27] pmorie opened #1449 "Controller routinely works on outdated versions of objects"
We see this always in integration tests; the controller will begin working on an outdated version of an object after it successfully reconciles an object.

<details>

[code]

</details>

[2017-10-20 19:32] pmorie commented on #1449
@jpeeler is going to look at this one.

@liggitt tells me this shouldn't happen, but what does he know (besides everything)

[2017-10-20 19:33] #1239 closed

[2017-10-21 08:11] dasher commented on #1445
Finally got around to exploring the issue - and I tweaked the TLS cert generation to compose the ALT name to include missing name, "service-catalog-catalog-apiserver.mgmt.svc"

[2017-10-21 08:11] #1445 closed

[2017-10-21 11:42] dasher commented on #1428
Experiencing a similar issue:
[code]

I noticed also that the controller-manager was pounding the apiserver - with the apiserver having many forbidden messages in the logs.
I used the --disable-auth flag on the api server to get around the issue for now and to reduce the issues with the deployments so I could continue testing

[2017-10-21 11:50] ash2k opened #1454 "Issue with ServiceInstance UpdateRequests field"
1. It feels like this field should be optional and hence a pointer. Being non-pointer implies the user has to provide it. But if omitted from YAML/JSON create operation works fine. Does that mean it is actually optional? It contradicts this point from [api conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#optional-vs-required):

2. It causes inc

[2017-10-21 14:14] maleck13 opened #1455 "Binding to a service from a different namespace"
**Use case**

As a developer, I want to be able to provision a service into a particular namespace, but due to the heavyweight nature of the service or the desire a share its data, I want to be able to bind to that ServiceInstance from multiple namespaces.
An example service would be an Authentication Service that I want many of my projects, each that live in their own namespace, to consume.

Curr

[2017-10-22 13:03] krancour commented on #1455
I have wanted this from the beginning. The use case I have most frequently cited is a queue, topic, event hub, etc. where both a message producer and a message consumer must mutually bind to a single service instance. As it stands now, for this to work requires both the producer and consumer to be in the same namespace and that might not be optimal for a variety of other reasons. @pmorie has said

[2017-10-22 13:13] duglin commented on #1455
Agreed that we need to support this usecase, but its worth noting that you can do this today by creating a UserProvided service in the 2nd namespace that contains the creds for the service instance in question. Not ideal but it should probably a work-around until we support it in a first class way.

[2017-10-22 19:19] maleck13 commented on #1455
@duglin When you say UserProvided service, is there an example of this, is it what I called out in the original issue: A service instance in the 2nd namespace that the broker knows is actually a reference to the service in the 1st namespace? Or something completely different.

[2017-10-22 19:25] duglin commented on #1455
@maleck13 if you look at https://github.com/kubernetes-incubator/service-catalog/blob/master/contrib/examples/walkthrough/ups-instance.yaml  it shows an example of a UPS from the walkthru. It basically allows you to provide the creds during ServiceInstance creation and then those same creds are returned during the Bind operation.  So, create the instance and binding (secret) in one namespace, then

[2017-10-22 21:02] krancour commented on #1455
That's too unwieldy to be of any practical use, imo.

[2017-10-22 21:02] krancour commented on #1455
That's too unwieldy to be of any practical use, imo.

[2017-10-22 21:45] nilebox commented on #1455
It's easy to add support for binding referencing an instance from a different namespace - just add a namespace field to the reference structure in the spec. So it's not a technical limitation. The main reason for restricting access to instance within its namespace is to narrow a scope of access to prevent malicious user from stealing the credentials.

We have solved a similar problem for the other

[2017-10-22 23:05] nilebox commented on #1454
Thanks for the link to k8s API docs, agreed, we should make `updateRequests` field optional with a pointer.

This is true for any fields including the ones that user hasn't touched, isn't it? You should always pass the entire object in PUT request, it's normal. There is also a PATCH request, where can omit unchanged fields IIRC.

Correct.

We need to update the `Generation` field to reliably recon

[2017-10-22 23:05] nilebox commented on #1454
**TL;DR** `updateRequests` field was added to let the user force OSB update request when the parameters in a referenced secret object were updated. When we discussed this design, the conclusion was that this a good enough simple temporary solution until Kubernetes will add support for Secret "bulk watch" (see https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-mac

[2017-10-23 05:51] nilebox opened #1460 "Handling Broker with "partially" invalid classes/plans"
Currently, in case anything goes wrong with class/plan create/update, we give up and abandon classes and plans in a partially synced state.
For example, see [plans for loop](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller_broker.go#L320) and [classes for loop](https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/controller/controller

[2017-10-23 05:52] nilebox commented on #1460
Note that in https://github.com/kubernetes-incubator/service-catalog/pull/1459 I've fixed the order (create classes first, and plans after that), but the issue remains: currently the outcome of syncing a partially valid catalog is non-deteministic, and the user can't create instance for valid plans if there is just one conflicting plan/class in the broker.

[2017-10-23 13:57] pmorie commented on #1454
That's correct; you need something to bump in the event that you _just_ change the out-of-band parameters.  I don't think we should encourage updates to the same state as a mechanism for doing this.

[2017-10-23 13:59] pmorie commented on #1454
Why don't we make this optional, and if the value received is zero, just carry the value forward from the last state in the API server?

I don't think this needs to be a pointer personally.

[2017-10-23 14:05] pmorie commented on #1460
I have wondered to myself about the same thing.  It's arguable that we should just skip invalid services/plans and set the error condition on the broker (which is basically just used to communicate to the user that something went wrong).

[2017-10-23 14:05] pmorie commented on #1460
I don't think this has to block 0.1.0, though.

[2017-10-23 14:16] pmorie opened #1461 "Instances that fail provision are never deprovisioned"
Currently, if an instance fails provision, when that instance is deleted, we skip the deprovision call.  This is due to an assumption that we made during development that the broker is responsible for cleaning up after failed provisions.  However, this assumption was wrong; in fact, the spec has a total gap in the area of what the broker should do when provision fails.

CF's behavior in this situa

[2017-10-23 15:39] krancour opened #1463 "v0.1.0-rc2 images are missing from quay"
[code]

[2017-10-23 16:25] vaikas-google commented on #1461
If a resource fails to create, there should be nothing to delete? I think the spec says what to do in error cases, but if a resource fails to get created, there should be nothing to clean up because the resource doesn't exist. Would be good to get more clarity from the spec side, but I think this is the correct behaviour.

[2017-10-23 16:52] pmorie commented on #1461
That might be the case, but I think parity with CF wins the day here.  If
we do not change this behavior, it means that existing brokers don't work
correctly with kube.

I'm all for clarifying the spec or correcting it if it's not correct, but
this is a blocker for me for the moment.

On Mon, Oct 23, 2017 at 12:25 PM Ville Aikas <notifications@github.com>
wrote:

[2017-10-23 17:26] kibbles-n-bytes commented on #1463
The controller and apiserver images were combined into the single `service-catalog` image after the release of v0.1.0-rc2. To use that release, you have to use the separate controller-manager and apiserver images.

[2017-10-23 17:49] krancour commented on #1463
I didn't realize that change happened post `v0.1.0-rc2`. That being said...

The charts in master reference the image `quay.io/kubernetes-service-catalog/service-catalog:v0.1.0-rc2`, which according to what you have said do not exist-- that's still a problem.

[2017-10-23 20:10] kibbles-n-bytes commented on #1424
Closed by #1444 + #1450 .

[2017-10-23 20:10] #1424 closed

[2017-10-23 21:27] #735 closed

[2017-10-23 21:38] nilebox commented on #1454
@pmorie agree. by looking at the k8s core I haven't found consistent usage of pointers for the fields marjed with `+optional`. Also, switching to pointer in the future doesn't break the REST API, so we can make this change anytime if needed.

[2017-10-23 21:45] nilebox commented on #1460
The alternative option (easy to implement for now) is to prevent usage of classes and plans for the broker without `Ready: true` status. At least it will make a behavior consistent: you need to fix the entire catalog to use any offerings provided by the broker.

[2017-10-23 21:53] pmorie opened #1469 "--version option is broken after #1343"
We should add a test for this in the future.  I think this is really important to fix before we ship 0.1.0, so setting milestone accordingly.

[2017-10-23 21:58] pmorie commented on #1469
Example of where this was removed: https://github.com/kubernetes-incubator/service-catalog/pull/1343/files#diff-647c8937401524311158f9131963cc75

[2017-10-23 22:57] #1469 closed

[2017-10-24 12:05] maleck13 commented on #1455
Like this idea, wondering what perm would be required (just read or perhaps write)?

[2017-10-24 14:07] jpeeler commented on #1438
Closed via https://github.com/kubernetes-incubator/service-catalog/pull/1464

[2017-10-24 14:07] #1438 closed

[2017-10-24 14:53] pmorie commented on #1463
This should be resolved now, at least for the amd64 images - @krancour can you confirm that the images are pushed?

[2017-10-24 14:56] pmorie opened #1473 "arm image builds appear to be broken"
It appears that the arm image builds fail like so:

[code]

[2017-10-24 14:58] pmorie commented on #1473
I edited the title and description of this issue because it's not actually clear that this is related to #1343

[2017-10-24 17:14] krancour commented on #1463
`quay.io/kubernetes-service-catalog/service-catalog:v0.1.0-rc2` is still unavailable, but I suppose that's moot because `quay.io/kubernetes-service-catalog/service-catalog:v0.1.0` is.

Closing.

[2017-10-24 17:14] #1463 closed

[2017-10-24 19:37] pmorie commented on #1455
I would want to vet any design for this with sig architecture.  We do not currently have cross-namespace references anywhere else in Kubernetes so I think we should tread carefully here to ensure that we do something that can be repeated elsewhere.

[2017-10-24 19:37] pmorie commented on #1455
This seems like an 0.2.0 or 1.0.0 issue to me.

[2017-10-24 19:41] pmorie opened #1474 "Instances that fail deprovision are incorrectly deleted"
I have at least one instance of an instance for which deprovision failed but where the instance was finalized and fully deleted.  When this happens, the instance should remain in a failed state so that the user is aware that deprovision failed and can work with the broker operator to ensure the resources are deleted and that they are not being charged for an instance for which deprovision failed.

[2017-10-24 19:42] pmorie commented on #1474
Oops, this is a dupe of #1437

[2017-10-24 19:42] #1474 closed

[2017-10-24 19:48] pmorie commented on #1449
This is actually a dupe of https://github.com/kubernetes-incubator/service-catalog/issues/1363, closing

[2017-10-24 19:48] #1449 closed

[2017-10-24 20:01] n3wscott commented on #1437
#dibs

[2017-10-24 22:54] n3wscott commented on #1437
I think the instance delete is happening here:

https://github.com/kubernetes-incubator/service-catalog/blob/6f49128ac95189c221e832fd8597b24cac98e5fe/pkg/controller/controller_instance.go#L284-L304

This is strange because from what I understand, ReconciledGeneration is set to 1 when the Polling code gets here, but it should be at least 2, 1 for provisioning, and 2 for the deprovisioning call.

Wi

[2017-10-25 04:48] mengqiy commented on #1225
Closing in favor of #1334.
I will rebase #1208 soon :)

[2017-10-25 04:48] #1225 closed

[2017-10-25 05:15] nilebox commented on #1225
@mengqiy Oops sorry missed this issue :)

[2017-10-25 13:52] kibbles-n-bytes commented on #1461
Per the OSB working group discussion today, we decided that platforms should send a deprovision request for every resource that has been attempted to be provisioned, failed or not.

[2017-10-25 14:58] staebler commented on #1473
I have tracked the cause of this error down to the RUN command added to the Dockerfile in 819332e32f6b33a1dd70eefe9ba44dcace8d3a4c.

[code]

[2017-10-25 15:52] kibbles-n-bytes opened #1476 "Inconsistency with use of `ConditionUnknown`."
What is our intention with readiness `ConditionUnknown`? Right now we have it where the instance is marked as not ready when deprovision starts, and stays not ready unless we get an explicit `"state": "failed"` response, where it is marked as readiness unknown. However, on situations where we give up on a regular deprovision because it takes too long, we don't mark it as readiness unknown, but whe

[2017-10-25 18:18] pmorie commented on #1437
I think this might be a dangerous set of criteria to use.  It's possible since our control loops do multiple status updates that you might process an out of date resource with an old resource version due to a race between the API server and the informer cache.

[2017-10-25 19:17] staebler commented on #1461
I missed a bit of the latter end of the call. Did we decide that the deprovision should be sent *when* the provision fails? Or should we wait until the the resource is deleted to send the deprovision?

[2017-10-25 19:18] pmorie commented on #1460
@nilebox yeah, i have also thought of that one as well.  I do wonder what CF does.

It's worth thinking about what different scenarios are here.  For example, it probably makes sense to treat a situation where the broker sends invalid json differently from one where the broker has 5 services and one of those services has no plans (which is an error).

[2017-10-25 19:19] pmorie commented on #1461
@vaikas-google @kibbles-n-bytes @jpeeler where did we come down on this in the call?

[2017-10-25 19:21] vaikas-google commented on #1461
That's really up to us. At the call we agreed that the deprovision will be sent, it's up to us to decide when to do it.

[2017-10-25 19:24] #1473 closed

[2017-10-25 19:27] staebler commented on #1461
OK. Unless I hear other objections, I will opt for the latter option, where the deprovision request is sent when the service-catalog resource is deleted.

[2017-10-25 19:29] pmorie commented on #1461
I am +1 on doing that, go for it.

[2017-10-25 19:57] kibbles-n-bytes commented on #1461
Yeah, I am +1 on that option as well.

[2017-10-26 02:34] staebler opened #1482 "ServiceInstance or ServiceBinding deleted during on-going Provision or Bind operation behaves incorrectly"
When a ServiceInstance or ServiceBinding resource is deleted while there is an on-going Provision or Bind operation, the Status of the resource is placed in an incorrect state. The `CurrentOperation` remains `Provision` or `Bind` even though the current operation is actually `Deprovision` or `Unbind`. This causes problems if the new operation is async because the async polling relies on `CurrentOp

[2017-10-26 02:56] staebler commented on #1363
@pmorie You are spot on with what the underlying cause of those errors are. They come as a result of updating the status multiple times during a single reconciliation loop. When the reconciliation loop ends, the next reconciliation loop may try to reconcile the resource in its state from the first status update. This reconciliation then fails because the resource being used is out-of-date.

[2017-10-26 14:34] staebler commented on #1437
@pmorie In that case, though, the update to the status will fail. So there should not be any side effects of processing the out-of-date resource.

[2017-10-26 15:52] pmorie commented on #1437
Reassigning to @staebler since this is a blocker for RH and @n3wscott is in an all-day meeting, and Matthew is already making changes in the same area.

[2017-10-27 06:14] #1454 closed

[2017-10-27 12:51] spadgett opened #1487 "Unclear how to recover from failed instance update"
If I update a service instance and the update fails, the instance is updated with a failed status condition. It's unclear how or if I can recover.

For instance, I tried to update a plan for this specific instance. The update failed. When I tried setting the plan back to the previous value editing the instance YAML, nothing happened.

[code]

@pmorie @jwforres

[2017-10-27 13:07] spadgett opened #1488 "Instance update resends all parameters from secret, not just what changed"
If an instance references parameters from a secret and the user updates just one value in the secret, the service catalog appears to send *all* parameters to the broker. This causes a problem for brokers that only support updating a subset of the parameters and results in the service catalog sending parameters that don't validate against the plan's instance update schema.

There doesn't appear to

[2017-10-27 13:18] duglin commented on #1488
This is probably more of a spec question but a really interesting one.

Do we even know what params were changed when they're stored in a secret? I'm guessing no, which means we have no choice but to send all of them (well, all of the ones per the "update" schema).

When the schema is specified then the platform(svc-cat) should probably limit the list of params to just what was specified as the va

[2017-10-27 13:33] spadgett commented on #1488
Yeah, I see the problem.

If the update parameters were stored in a separate property, would it work? So instead of updating the original secret, I could set a value like `instance.spec.updateParametersFrom` with just the values I want to change? Then I as the user can decide what gets sent.

[2017-10-27 13:35] spadgett commented on #1488
@jmontleon

[2017-10-27 13:40] duglin commented on #1488
That would certainly align with that CF does (meaning, asking the user to explicitly say what params should be sent), but are we setting up the user for a funky UX?  What if they update 3 properties in the secret, but then only specify 2 in the "updateParameteresFrom" property? I guess we could just claim its a user error (and they got what they asked for), but debugging why things aren't working

[2017-10-27 15:40] #1482 closed

[2017-10-27 17:19] chengzhang1016 opened #1491 "updateStrategy of apiserver and controller-manager are not consistent"
I noticed the updateStrategy of apiserver is RollingUpdate, but controller-manager is OnDelete, I think they should be consistent.

In daemonset yaml files:
controller-manager:

[code]

apiserver:

[code]

[2017-10-27 17:47] djwhatle opened #1492 "Polling frequency for "Ready" state on long-running broker provisions is too slow, degrades user experience"
When polling a broker (the Ansible Service Broker in this case) for service "Ready" state, the service-catalog seems to steadily slow down the polling frequency over time. Some of the services which are provisioned on ASB can take up to 30 minutes to complete. When a provision process runs for this length of time, the service-catalog degrades polling time deltas from <1 second to 1024 seconds.

Th

[2017-10-27 17:48] #1437 closed

[2017-10-27 17:48] #1461 closed

[2017-10-27 18:21] pmorie commented on #1265
This is fixed by #1444 and #1450

[2017-10-27 18:21] #1265 closed

[2017-10-30 15:47] n3wscott commented on #1435
That is proper JSON escaping. The result from a json message string should be evaluated through a string processor.

[2017-10-30 15:59] spadgett commented on #1435
It has been. The message is escaped twice

[2017-10-30 17:47] staebler opened #1499 "Deleting ServiceInstance after changing to invalid Plan crashes controller-manager"
1. Create a ServiceInstance.
2. Change `ClusterServicePlanExternalName` to the name of a non-existent plan.
3. Delete the ServiceInstance.

When the ServiceInstance is updated, the API Server will clear the `ClusterServicePlanRef`. The Controller will fail reconciliation because of the missing plan and not make any changes to `ClusterServicePlanRef`.

When the ServiceInstance is deleted, the Contr

[2017-10-30 17:52] spadgett commented on #1435
Looks like this might be fixed since the issue was opened, however.

[2017-10-30 17:56] pmorie commented on #1488
I'm starting to think based on our previous discussion that this area of the spec is actually overspecified.

I don't think I want the user to have to specify which parameters they want to send for an update - I think that would be a very bad user experience.  I'd much rather either detect which parameters had changed values and only send those, or just send them all and force the broker to figure

[2017-10-30 17:58] pmorie commented on #1487
Related: #1499

[2017-10-30 18:01] pmorie commented on #1476
I would define the status of the ready condition as 'should I be able to use this in any way'.  So, that means that if we have started a deprovision or any other operation, the ready condition should not be true.  I would be able to live with using unknown in cases where we are polling an async operation, but would also accept false.  The salient point in this case is that it shouldn't be 'true' u

[2017-10-31 02:45] jianzhangbjz opened #1500 "permission denied when running `make build`"
Hey, Guys

I followed this [building doc](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/devguide.md#2-clone-fork-to-local-storage) to build the images but got the below errors, could you help to check this issue? Or something else I missed?

[code]
Relevnt info:
[code]

[2017-10-31 02:46] jianzhangbjz commented on #1500
/help wanted

[2017-10-31 09:50] jianzhangbjz commented on #1500
@jboyd01 @staebler Could you help to look at this? Thanks a lot!

[2017-10-31 10:35] staebler commented on #1500
Try `export NO_DOCKER=1`,  to build locally rather than in a docker container.

[2017-10-31 10:51] jianzhangbjz commented on #1500
@staebler Got it! Thanks! I will try it later. :)

[2017-10-31 11:16] jianzhangbjz commented on #1500
@staebler Cool! Worked fine! Thanks so much! BTW, if we want to build it in a docker container, how do that?

[2017-10-31 11:17] chengzhang1016 commented on #1491
@pmorie I'm not sure if the current is expected, do you think about it?

[2017-10-31 13:44] staebler commented on #1499
#dibs

[2017-10-31 14:39] jhadvig commented on #1435
Confirming that the issue is solved in the latest service-catalog version... Closing

[2017-10-31 14:39] #1435 closed

[2017-10-31 15:38] staebler commented on #1487
/dibs

[2017-10-31 16:54] staebler opened #1503 "Should retry deprovision requests when they fail"
There can be some temporary states in the network or in the broker which cause a deprovision request to fail. The controller should try to give up on deprovisioning when it receives an error. I propose that the controller attempt to deprovision for the entire reconciliation retry duration before giving up.

[2017-11-01 17:33] #1499 closed

[2017-11-01 18:03] #1487 closed

[2017-11-01 19:02] MHBauer commented on #1491
Where is this `daemonset.yaml` files? I don't see us setting anything like `updateStrategy` besides storage.

[2017-11-01 19:07] #1503 closed

[2017-11-01 19:08] duglin commented on #704
#dibs for @jberkhahn

[2017-11-02 00:27] jboyd01 opened #1513 "controller_broker reconciles too frequently"
The controller_broker reconciles approximately every 5 minutes under "normal" circumstances after the first full broker's relistDuration elapses regardless of the relistDuration.

shouldReconcileClusterServiceBroker() checks Now - LastTransitionTime  against the relistDuration, but when the status remains in a steady steady of Ready=True, the last transition time is not updated and thus we incorre

[2017-11-02 02:34] chengzhang1016 commented on #1491
In kube-service-catalog project, controller-manager and apiserver launched by daemonset.

[2017-11-02 15:02] #1427 closed

[2017-11-02 15:58] n3wscott opened #1521 "Add an admission controller for binding to an unbindable or not ready service instance."
ref: https://github.com/kubernetes-incubator/service-catalog/issues/1423

[2017-11-02 16:47] arschles opened #1523 "Installation instructions do not reference the helm repository"
The [installation instructions](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/install.md#step-2---install-service-catalog) still reference installing the helm chart from the on-disk copy. Since https://github.com/kubernetes-incubator/service-catalog/pull/1453 was merged, there should be a helm repository to install from, so those instructions should be updated to point t

[2017-11-02 16:48] arschles commented on #1523
Looks like the helm repo is at `https://svc-catalog-charts.storage.googleapis.com`

see https://github.com/kubernetes-incubator/service-catalog/blob/master/test/repo-sync.sh#L19

[2017-11-02 16:49] arschles commented on #1523
[code]

[2017-11-02 16:53] n3wscott opened #1524 "Service Binding needs to be updated to also have a DeprovisionStatus property"
Similar to ServiceInstance in this PR: https://github.com/kubernetes-incubator/service-catalog/pull/1481

[2017-11-02 19:54] #1513 closed

[2017-11-02 20:43] pmorie commented on #1423
I am not sure that I understand the first point here.  At point (E), what state are the ServiceInstance and ServiceBinding in?  That would be helpful to put into this issue for posterity.

[2017-11-02 20:58] n3wscott commented on #1423
From what I understand, the service instance exists but does not revolve to a service instance class.

The Service Instance is in a ready false state, but because we don't do any checking on accepting the binding, the binding instance gets created and then gets stuck in reconciliation and at this point you can't delete the bad SI nor the bad Binding because the binding is waiting for a class to be

[2017-11-02 21:03] jboyd01 commented on #1423
serviceinstance after step C (doesn't change with any of the following steps)
[code]

servicebinding after step d:
[code]

perhaps we should block creating the binding if the instance is in a ready=false state?

[2017-11-02 21:10] kibbles-n-bytes commented on #1423
I think it's fine having the binding in a retry loop while the instance is getting its references resolved. What we should do is just allow for quick-n-easy deletions of bindings that haven't hit the broker yet.

[2017-11-02 21:27] pmorie commented on #1423
We cannot block the creation of any API resource due to the status of another resource.  Users will put multiple resources into a single yaml and call it with kubectl create -f.  So, we have to converge on the right state.

So, for the record, in this case the binding is _not_ ready, so it's not clear to my what specifically blocks the deletion of the binding.  Does that make sense?

[2017-11-02 23:52] arschles opened #1528 "No event is fired when a binding's status changes"
How to repro:

Install a `ServiceInstance` and `ServiceBinding` at the same time, against a service/plan that provisions asynchronously. The instance will go into async provisioning mode and the binding will get the standard status indicating the instance isn't ready. This is expected.

If you `kubectl get -w` the binding, you'll notice that the system eventually converges with an `InjectedBindRes

[2017-11-03 00:06] jboyd01 commented on #1423
Thanks Paul, that makes sense.

From the controller logs, it appears controller_binding must reconcile the binding before it will allow a deletion.  And that always results in an error:
[code]
Looking one last time at the servicebinding, I do see the deletion timestamp on there after issuing the delete:
[code]

[2017-11-03 15:05] staebler opened #1529 "In-Progress Properties for ServiceBinding cleared when injection fails"
When injections fails for a ServiceBinding after a successful Provision, the In-Progress Properties are cleared out. The operation is still in progress, so the In-Progress Properties should be retained.

[2017-11-03 17:59] zherman0 opened #1530 "Output for oc get clusterserviceclasses is no longer user friendly"
The output for 'oc get clusterservicesclasses' is just a list of hashes that does not tell me anything useful.
The output of the prior 'oc get serviceclasses' was well formatted and very helpful.  Is this a known issue or a planned changed?  Please see attached photos:
OC version 3.7.0.alpha
![old-serviceclasses](https://user-images.githubusercontent.com/18728857/32388723-365f5348-c08e-11e7-84a5-d

[2017-11-06 15:23] staebler opened #1531 "Deprovision request sent when deleting a ServiceInstance that had a provision failure which did not need orphan mitigation"
The Controller sets the `DeprovisionStatus` of a ServiceInstance to `Required` prior to sending the Provision request to the Broker. If the Provision request fails in a manner that does not require orphan mitigation (for example, if the Broker responds to the request with a 409 Conflict status code), then the `DeprovisionStatus` is left as `Required`, even though a Deprovision request is not requi

[2017-11-06 17:06] #1523 closed

[2017-11-06 21:06] MHBauer commented on #1491
I don't know what that is. You should take up this issue with that project. We have no daemonsets defined in this codebase.

[2017-11-07 14:56] duglin commented on #1086
Can we close this now?

[2017-11-07 15:06] staebler opened #1533 "Changing plan name of ServiceInstance to non-existent plan blocks future modifications to the ServiceInstance"
When the plan name of a ServiceInstance is set to a non-existent plan, the Controller indefinitely fails trying to reconcile the ServiceInstance, due to failing to resolve the plan. The API Server blocks changes to the ServiceInstance while there is a pending change (i.e., while the generation and reconciled generation differ). Consequently, the user is unable to ever make any further changes to t

[2017-11-07 16:07] jboyd01 commented on #1500
The error you are seeing is due to the Docker volume mounts and running Docker with SELinux enabled.  Adding :z to the volume mounts fixes the problem.  See http://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/  for a full explanation.

@pmorie  do you agree with me making this fix (add :z to the volume mounts in the DOCKER_CMD in Makefile)?  I'm not a

[2017-11-07 16:23] jpeeler commented on #1500
I'd say do it. I tested on Ubuntu just to make sure there weren't any weird issues there too. I looked at this a while back, but I've been confused by sometimes needing the :z and sometimes not.

[2017-11-09 02:45] staebler opened #1539 "ServiceBinding is fully deleted when deprovision fails"
Make similar changes as #1437 for ServiceBindings.

This is being covered by #1526, but I wanted to track this issue explicitly as part of the effort to make sure that recent improvements to ServiceInstance reconciliation surrounding deprovisioning are done for ServiceBinding as well.

[2017-11-09 02:47] staebler opened #1540 "Should retry Unbind requests when they fail"
We need to make the changes that were made for ServiceInstances in #1503 for ServiceBindings as well.

[2017-11-09 02:50] staebler commented on #1531
Duh. This was done intentionally--by me--for #1461.

[2017-11-09 02:50] #1531 closed

[2017-11-09 02:53] staebler opened #1541 "Bindings that fail binding are never unbound"
The same work that was done in #1461 for ServiceInstances needs to be done for ServiceBindings.

This should be covered by the changes in #1526, but I wanted to track this issue to ensure that it gets done.

[2017-11-09 21:01] #1491 closed

[2017-11-10 04:05] staebler opened #1549 "TestPollServiceBinding is not preserving the original binding for assertions"
Some of the test cases in `TestPollServiceBinding` rely on comparing the updated ServiceBinding to the original ServiceBinding. However, the `pollServiceBinding` function modifies the ServiceBinding that it is given. This modifies the original binding held by `TestPollServiceBinding`.

[2017-11-10 04:12] staebler commented on #1549
@kibbles-n-bytes I missed this when I reviewed #1512. Some test cases added in that PR are not actually testing what we intend for them to be testing.

[2017-11-10 19:17] kibbles-n-bytes opened #1551 "Force deletion of bindings does not work?"
Tried to delete a binding that failed to unbind with:
```kubectl delete servicebinding $BINDING --force --grace-period=0```

It seemed to have no effect.

[2017-11-10 19:19] kibbles-n-bytes commented on #1551
Narrowed the scope of the issue, as I haven't exhaustively tried other resources.

[2017-11-11 19:54] staebler commented on #1551
This does appear to be broken for ServiceInstances as well. This issue has been seen during QA testing at Red Hat.

[2017-11-11 19:56] staebler opened #1552 "Cannot change plan of a ServiceInstance using K8S names"
The ServiceInstance strategy only clears `ClusterServicePlanRef` when `ClusterServicePlanExternalName` changes. It should also clear `ClusterServicePlanRef` when `ClusterServicePlanName` changes.

[2017-11-11 20:53] staebler opened #1554 "ServiceInstance update to no parameters sends nil instead of empty object"
When a ServiceInstance is updated to remove all its parameters, the resulting update instance request sent to the broker does not include the Parameters field. The request should include the Parameters field with an empty object as its value. With the way it is currently, the broker will not change any parameters for the instance instead of deleting all parameters.

[2017-11-12 04:53] staebler opened #1556 "Cannot deprovision ServiceInstance that has been updated to a non-existent plan"
1) Create a ServiceInstance.
2) Update the ServiceInstance to a non-existent plan. The ServiceInstance will be left with a Ready/False condition since the plan cannot be resolved.
3) Delete the ServiceInstance. Prior to sending the deprovision request, the Controller will attempt to set the current operation for the ServiceInstance to Deprovision. This will be blocked by the API Server since there

[2017-11-13 02:39] staebler opened #1558 "Parameters field included in Provision request when secret source has empty object"
1) The only parameters for a ServiceInstance are from a secret.
2) The secret referenced has an empty JSON object.

Expected: The Parameters field in the Provision request is omitted.

Actual: The Parameters field in the Provision request is an empty JOSN object.

[2017-11-13 16:08] staebler opened #1560 "Should retry UpdateInstance requests when request fails in more scenarios"
Currently, when an UpdateInstance request fails in a manner that would provoke an orphan mitigation for a Provision request, then the Controller stops the reconciliation for the ServiceInstance. Instead, the Controller should retry the request.

For example, let's say that the UpdateInstance request timed out. The Controller should error out of the reconciliation attempt and retry the reconciliati

[2017-11-13 17:46] n3wscott opened #1562 "Allow deleting a binding even if the ServiceInstance has been changed to a non-existent class / plan."
we need to use logic similar to what is done to determine the plan ID for deprovisioning. We need to allow a ServiceBinding to be deleted, with an unbind request sent to the broker, even if the ServiceInstance has been changed to a non-existent plan.

[2017-11-13 18:48] staebler opened #1563 "Cannot delete a ServiceInstance or ServiceBinding that has an on-going operation"
If a ServiceInstance or ServiceBinding has an on-going operation and the user deletes the resource, then the Controller is not able to reconcile the resource. The resource will have in-progress properties set from the on-going operation. The Controller does not clear out the in-progress properties before setting the current operation to Deprovision/Unbind. The API Server rejects the status update

[2017-11-13 23:17] #1556 closed

[2017-11-13 23:18] #1552 closed

[2017-11-14 00:59] jianzhangbjz commented on #1551
/cc

[2017-11-14 07:11] Ethan19881224 opened #1567 "HELP: RestAPIs of service catalog"
Im trying to deploy and use service catalog. But I found all the instance operations(like provision/binding/update etc.) are all in cli commands. Is there any RestAPI to call for the same purpose? It's easier to use when brought to production environment.

[2017-11-14 12:40] duglin commented on #1567
All of the svc-cat operations can be done via the normal Kube REST APIs, but you need to direct the requests to the svc-cat API server (or make sure your normal Kube APIServer is using API aggregation to pull in the svc-cat APIserver behind the scenes).  See: https://github.com/kubernetes-incubator/service-catalog/blob/master/pkg/apis/servicecatalog/types.go for the description of the various type

[2017-11-14 12:40] #1567 closed

[2017-11-14 20:11] staebler commented on #1551
I don't think that force delete can be used to circumvent finalizers. If service catalog is retaining a finalizer to prevent deletion of a resource, then the only way that the user can effect a deletion is to either (1) remove the finalizer themself or (2) remove the resource from the backing etcd storage.

[2017-11-15 13:19] luksa commented on #1361
#dibs

[2017-11-15 13:22] luksa commented on #1361
Note that the openapi part is ready (see PR https://github.com/kubernetes-incubator/service-catalog/pull/1208). I'm taking care of the columns.

[2017-11-15 18:53] djwhatle commented on #1492
`pollingMaxBackoffDuration` may be the thing to change here:

https://github.com/kubernetes-incubator/service-catalog/blob/6f49128ac95189c221e832fd8597b24cac98e5fe/pkg/controller/controller.go#L55

[2017-11-15 23:11] #1533 closed

[2017-11-15 23:15] #1549 closed

[2017-11-16 05:07] ash2k opened #1574 "Deleting ServiceInstance does not send a delete to the broker"
How to reproduce:
1. Create a namespace
2. Create a ServiceInstance and wait until it is in Ready=true state
3. Delete the namespace
    BUG 1: instance is not getting deleted after namespace is no longer there and the list operation shows that the instance is still there.
    Trying to delete it directly:
[code]
4. Re-create the namespace
5. Delete the instance directly
    BUG 2: Instance is del

[2017-11-16 06:17] ash2k opened #1575 "Missing RBAC permissions"
`update` verb for `secrets` resource is missing. Not sure which role should have it. The code is here:
https://github.com/kubernetes-incubator/service-catalog/blob/c6e446e504b5f2a96cd50d0d3e0373d173145906/pkg/controller/controller_binding.go#L974

Another thing: in Kubernetes 1.8 a new admission controller called [`OwnerReferencesPermissionEnforcement`](https://kubernetes.io/docs/admin/admission-c

[2017-11-16 12:14] luksa opened #1576 "Ensure kubectl explain works on service catalog resources"
Currently, all you get is this:
[code]

[2017-11-16 12:15] luksa commented on #1576
#dibs

I've already analyzed this and have a few fixes ready. I'm filing this issue just so we can track everything (fix requires multiple changes in different projects)

[2017-11-16 12:23] luksa commented on #1576
While working on this, I've found the following problems:
- the Service Catalog API server does not expose the openapi schema yet (but this is solved by PR #1208)
- default RBAC rules don't allow the kube-aggregator to get the openapi schema from the Service Catalog API server (preparing PR now)
- kubectl unnecessarily complains about the servicecatalog.k8s.io group not being registered - you need

[2017-11-16 13:20] staebler commented on #1574
I get different results when I run this through the aggregator. In Step 3, the ServiceInstance is deleted, even though the response from the kubectl command is the same as you received. The Deprovision request is also sent to the broker in Step 3. I will re-test without using the aggregator to see if that makes a difference.

[2017-11-16 16:45] staebler commented on #1574
Should service catalog be adding a finalizer to namespaces in which its resources are created and watching for changes to those namespaces? Without aggregation, I don't think kube-apiserver can know that the service catalog resources need to be deleted when the namespace is deleted. That would explain Bug 1. Or maybe there is a race where the service-catalog resource may be deleted after the names

[2017-11-16 20:59] #1554 closed

[2017-11-16 21:01] #1563 closed

[2017-11-16 21:01] #1529 closed

[2017-11-16 21:10] #1558 closed

[2017-11-16 23:18] jpeeler opened #1582 "e2e walkthrough is failing due to default serviceplan admission controller"
The admission controller ensures that when multiple plans exist, the plan reference either specifies the plan id or external plan name. The problem is that now the ups-broker has an additional plan, there's no way to test that a default is assigned when only one exists.

I'm thinking that rather than simply adding the missing fields in the e2e, that a parameter should be added to specify how many

[2017-11-16 23:20] pmorie commented on #1582
How about adding a service with a single plan and using that?

[2017-11-16 23:21] jpeeler commented on #1582
Even better, will work on that.

[2017-11-17 02:28] pmorie commented on #1582
Is this the e2e binary?  I recall now that we disabled that in this repo's CI.

[2017-11-17 02:32] pmorie opened #1586 "Enable e2e binary in jenkins"
In #1333 we disabled the e2e binary in Jenkins due to some test flakes we encountered.  We need to fix these issues and get the e2e binary back into our CI flow.

[2017-11-17 13:53] jpeeler commented on #1582
Yes, the e2e.test binary doesn't look like it's running here.

[2017-11-17 16:51] n3wscott commented on #1562
This is fixed.

[2017-11-17 18:23] staebler opened #1587 "Deleting a ServiceInstance or ServiceBinding while async operation in progress fails"
When an async operation is in progress for a ServiceInstance or ServiceBinding, the Controller prioritizes polling the last operation over deleting the resource. If the async operation completes after the user has deleted the resource, then the reconciled generation will get set to the incorrect generation--that being the generation after the delete instead of the generation before the delete. Whe

[2017-11-17 19:16] staebler opened #1588 "A ServiceBinding for which a Bind request has not been sent should not block deletion of a ServiceInstance"
1) Create a ServiceInstance that is never provisioned successfully.
2) Create a ServiceBinding that references the ServiceInstance.
3) Delete the ServiceInstance.

The Controller should be able to completely delete the ServiceInstance. The Controller never sends a Bind request for the ServiceBinding that references the ServiceInstance because the ServiceInstance is never ready. The presence of the

[2017-11-17 21:55] nilebox commented on #1088
Closing the https://github.com/kubernetes-incubator/service-catalog/pull/1105 PR as I think that we need to revisit the requirements and decide whether we want to support CRDs in Service Catalog

[2017-11-19 00:17] #1582 closed

[2017-11-19 00:18] pmorie commented on #1586
@jpeeler can you work on this next now that #1583 is merged?

[2017-11-20 02:51] guanxingfeng opened #1590 "delete instance when instance has been binding return serviceinstance "***" deleted,but actally instance is still exist,is this right?"
When I has been binding a instance,then delete this instance,server return instance deleted,eg
![image](https://user-images.githubusercontent.com/25924966/32999869-8870fff2-cddf-11e7-8e37-08ba4099ff41.png)
But actally instance is still exist ,and catalog server does not call my broker deprevison method ,otherwise I delete instancebinding first, then delete instance
I want to know is this reply rig

[2017-11-21 02:58] staebler opened #1593 "Remove nested vendors"
`glide i -v` needs to be run to remove nested vendors

[2017-11-21 03:09] staebler opened #1594 "Need to lock glide down to a specific version of etcd"
The glide.yaml file is currently requesting ^3.2.9 as the version of etcd. As with all our dependencies, we need to be specific about the version of etcd that we use.

We currently have `f1d7dd87da3e8feab4aaf675b8e29c6a5ed5f58b` in master. With the latest version (`694728c496e22dfa5719c78ff23cc982e15bcb2f`), the build breaks with this error.
[code]

Also, there is a conflict in the version of etcd

[2017-11-21 03:11] staebler opened #1595 "Glide vendor version conflicts"
There are 3 vendor version conflicts being reported by glide.

[code]
[code]
[code]

[2017-11-22 17:05] jboyd01 commented on #1376
I see this all the time when running with Kube's hack/local-cluster-up.sh.  if you monitor the pod status after the helm install, you may see something like this:
$ kubectl get pods --all-namespaces -w
NAMESPACE     NAME                                                  READY     STATUS              RESTARTS   AGE
catalog     catalog-catalog-apiserver-754868d78-9kkwr             0/2       Container

[2017-11-23 20:55] astraverkhau commented on #1428
Same here

[2017-11-24 20:45] staebler opened #1600 "broker.authsarcheck throws SIGSEGV if spec.authInfo is defined but empty"
If the spec for a ClusterServiceBroker being created contains `spec.authInfo` but does not contain either `spec.authInfo.basic` or `spec.authInfo.bearer`, then the broker.authsarcheck admission controller will throw a SIGSERV check trying to get the `Name` field from a nil ObjectReference for the secret. The admission controller should either return a 400 Bad Request or accept the request when the

[2017-11-27 12:19] leonwanghui opened #1601 "Confusion about the same name between package and variable"
Hi all, recently I'm studying source code of this project, but here is something confusing:

In the ```cmd/apiserver/app/server/run_server.go```, I see a package ```"github.com/kubernetes-incubator/service-catalog/pkg/registry/servicecatalog/server"``` which is imported as server. But inside the ```runEtcdServer(...)``` method, I also find a variable defined (line 104) as server:
[code]
And in the

[2017-11-27 16:10] MHBauer commented on #1601
@leonwanghui Do you want to submit a PR to change it?

[2017-11-27 16:18] MHBauer commented on #1594
I remember having a discussion about the v3.1.10 when https://github.com/kubernetes-incubator/service-catalog/pull/1570 was going in. We need a more advanced version to get the etcd embed (and even that embed has been improved in v3.3 seriesof etcd).

It was set to v3.1.10 in the testing
https://github.com/kubernetes-incubator/service-catalog/blob/1ce5c4d91c94b68305232b40ed9add9105f5abf3/pkg/kuber

[2017-11-28 00:49] leonwanghui commented on #1601
Sure, I'd love to. But the reason I sent this issue is more about seeking advice from others to make sure it's not my problem :p

[2017-11-28 14:38] pmorie opened #1604 "API surface for which services and plans in a broker's catalog have k8s objects created for them"
During the November 27 F2F meeting in Raleigh, it was suggested that there should be API surface on the ClusterServiceBroker spec that allows users to control which of the services and plans in a broker's catalog have k8s objects created for them in the service-catalog API server.

There are likely multiple different strategies that might be used for this in different situations; some examples:

-

[2017-11-28 14:38] #1593 closed

[2017-11-29 19:41] MHBauer commented on #1492
@krancour I think we were talking about this at lunch. The suggested max time limit sounded to be about a minute.

[2017-11-29 20:20] bmelville opened #1606 "Support Accept-Encoding for listing catalogs"
HTTP supports the ability for clients to ask for encoding if available from the HTTP server, using the `Accept-Encoding` header. The `/v2/catalog` endpoint can have rather large and easily compressible response payloads, and would benefit from supporting encoding where available.

I have already filed an [issue with the OSB API spec](https://github.com/openservicebrokerapi/servicebroker/issues/382

[2017-11-29 20:23] pmorie commented on #1606
Seems like this is really a property of the OSB client?

On Wed, Nov 29, 2017 at 3:20 PM, Brendan Melville <notifications@github.com>
wrote:

[2017-11-29 20:38] krancour commented on #1492
Personally, one minute sounds good to me, but others may have opinions. With certainty, however, one hour is too long as a maximum. Currently, when I provision something that takes about 20 minutes, we're approaching the one hour mark before service catalog realizes it's complete. No good.

[2017-11-30 19:31] bmelville commented on #1606
According to https://golang.org/pkg/net/http/#Transport, as long as we are not disabling encoding nor setting any custom encoding ourselves, the default HTTP transport will ask gzip and automatically decode responses. I think this satisfies the request from my end.

[2017-11-30 19:31] #1606 closed

[2017-11-30 20:52] pmorie commented on #821
Closed by #988 #989

[2017-11-30 20:52] #821 closed

[2017-11-30 21:05] pmorie commented on #1492
There is likely not a one-size fits all sweet spot here; I'm working on a PR to make this configurable.

[2017-11-30 21:35] #1500 closed

[2017-11-30 22:08] pmorie commented on #1492
PR is posted #1608

[2017-12-01 16:15] #1600 closed

[2017-12-04 16:46] #1492 closed

[2017-12-05 19:46] pmorie opened #1610 "Rebase on k8s 1.9.1 dependencies"
One major motivator for this is that we will be able to use explicit versions of these dependenceies that are human-readable and consistent (`kubernetes-1.8`) instead of a random collection of shas.

[2017-12-07 18:48] n3wscott commented on #1601
I think it is allowed by bad style.

[2017-12-12 18:04] n3wscott commented on #1524
Done.

[2017-12-12 18:04] #1524 closed

[2017-12-13 11:52] andutt commented on #942
Seeing this issue in Openshift 3.7. Is there anyway to delete a Service Binding in limbo state? The service and project är deleted but the Service Binding are still there and hammering the logs:

 1 controller_binding.go:880] ServiceBinding "space/mysql-persistent-bcgfg-jxdpf": Setting condition "Ready" to False
Dec 13 12:37:55 sys1 dockerd-current[37557]: I1213 11:37:55.877258       1 controller_

[2017-12-13 15:10] icereed commented on #1197
+1

[2017-12-13 15:13] icereed commented on #1197
Quota handling is essential for large organizations. Otherwise you are not able to scale the billing with your managed service.

[2017-12-13 20:34] pmorie opened #1613 "travis image deployments are failing"
Example from [this build](https://travis-ci.org/kubernetes-incubator/service-catalog/builds/315949616):

[code]

[2017-12-13 23:31] nilebox commented on #1610
What's the plan for upgrading to `kubernetes-1.9`?

Looks like it's going to be released today:

Thu Dec 14: v1.10.0-alpha.1

https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md

[2017-12-14 02:02] jpeeler commented on #1613
Fixed in pull #1614

[2017-12-14 02:02] #1613 closed

[2017-12-14 14:31] loeh commented on #1428
I had the same issue with k8s 1.8.3. Turned out that the kubernetes apiserver had not turned on the --requestheader-client-ca-file flag. So the service catalog api server can't find the configmap which contains the client ca to check the authentication. So the solution in my case was to pass this line:
--requestheader-client-ca-file=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt
to the argum

[2017-12-14 23:20] arschles opened #1617 "Do we still need the troubleshooting firewall rules section of the walkthrough?"
It looks like this was from the pre-api-aggregation era?

[2017-12-16 02:45] gyliu513 opened #1623 "servicebinding cannot be deleted if creation failed"
[code]

[code]

[code]

The servicebinding was not deleted.
[code]

[2017-12-16 02:47] gyliu513 commented on #1623
Same issue also exist for `ServiceInstance`

[2017-12-16 03:35] MHBauer commented on #1610
I'd rather go to 1.9 if it's out.

[2017-12-16 16:15] pmorie commented on #1610
If someone is willing to do the work I would be fine if they went directy
to 1.9.

On Fri, Dec 15, 2017 at 10:35 PM Morgan Bauer <notifications@github.com>
wrote:

[2017-12-16 20:50] nilebox commented on #1610
1.9 is not out yet, but should be released sometime soon.
We can wait until it's out, and check if the release branches were correctly cut in `apimachinery`, `apiserver` and other repos we depend on.

[2017-12-16 21:56] pmorie commented on #1610
1.9 was released yesterday and has versions of the apimachinery, client,
etc tagged with kubernetes-1.9.0, example:
https://github.com/kubernetes/apimachinery/tree/kubernetes-1.9.0

On Sat, Dec 16, 2017 at 3:50 PM, Nail Islamov <notifications@github.com>
wrote:

[2017-12-17 00:58] pmorie opened #1625 "Race in integration tests"
Looks like #1611 introduced a new data race in the integration tests:

[code]

Looking into this now.

[2017-12-18 00:08] ash2k opened #1628 "Endpoints kind not registered in the schema"
Found this in controller-manager logs:
[code]
Service Catalog 0.1.3

[2017-12-18 16:20] pmorie opened #1629 "E2E binary build is broken in master"
Due to:

[code]

[2017-12-18 17:20] jboyd01 opened #1630 "Build the e2e tests as part of CI"
Running (&building) E2E was removed from CI to work around some blocking issue.  We should build E2E even if we aren't going to run it.

[2017-12-18 18:50] #1629 closed

[2017-12-18 23:47] witlessbird opened #1632 "The server doesn't have resource kind "ClusterServiceBroker""
When following the walkthrough example, I'm getting "error: unable to recognize "contrib/examples/walkthrough/ups-broker.yaml": no matches for servicecatalog.k8s.io/, Kind=ClusterServiceBroker" when trying to create ups broker via `kubectl create -f contrib/examples/walkthrough/ups-broker.yaml`.

I tried using broker images versions v0.1.3 and canary with the same result.

[2017-12-19 00:05] #1632 closed

[2017-12-19 03:30] pmorie commented on #250
We discussed a couple different possibilities for this at the November 2017 face to face.  Writing RBAC policies that the controller checks is fairly easy to do.  Implementing ACL filtered list in Kubernetes, however is not.

[2017-12-19 03:31] pmorie commented on #250
My own opinion, having argued originally for RBAC rules and ACL filtered list: we probably need to look at ways to expose cluster-scoped serviceclasses and plans into individual namespaces in a way that is controlled by policy.

[2017-12-19 15:53] pravarsh commented on #1428
I tried what @loeh suggested but it ```did not``` work for me.

[2017-12-20 01:06] pmorie opened #1634 "Improve kubectl get for the service-catalog resources"
As probably most people are aware, the current experience using `kubectl get` is not great for our resources:

- Resources lack columns by default
- Adding columns is possible but requires ugly CLI flags

This issue is intertwined with a couple of other issues; I am making this issue to break out what we want to do specifically for `kubectl get` in the next milestone.

[2017-12-21 06:26] nilebox commented on #1574
Successfully reproduced the issue with minikube (k8s 1.8.0) and ups-broker as per the doc https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/walkthrough.md

[code]

then deleted a namespace:
[code]

and checked the `ups-broker` logs (I have customized the `ups-broker` helm chart with extra `-v` argument for verbose logging):
[code]
As you can see, despite the deletion of name

[2017-12-21 06:36] nilebox commented on #1574
Sorry, actually, there was a deprovisioning request, just 30 seconds later...
[code]
Actually there were 2 requests (race condition?), and there is another issue with sending events after the namespace was deleted in Service Catalog log:
[code]

[2017-12-21 06:42] nilebox opened #1638 "Sending Instance deprovisioning events fail after the namespace was deleted"
As reported in https://github.com/kubernetes-incubator/service-catalog/issues/1574#issuecomment-353270212,
there is an issue with sending events after the namespace was deleted in Service Catalog log:
[code]
@staebler do you think that adding finalizer to namespace will help with this? Not sure, since the message "namespace test-ns because it is being terminated" sounds like the namespace still ex

[2017-12-21 06:57] nilebox commented on #1574
There is still definitely something wrong, as after another try I see 5 deprovisioning requests:
[code]

[2017-12-21 23:19] MHBauer commented on #1625
#1626 commented out the test.

[2017-12-21 23:23] MHBauer commented on #1625
There is an issue with the way the controllerTest framework is written. When `controllerTest.Run` is called, it runs the `setup` func from the testcase, or otherwise previously defined. This func is run AFTER the controllers have been setup and are running. I am not sure if this is what is being hit, but I've hit it while trying to modify the cases and controllers.

[2017-12-22 04:43] nilebox opened #1639 "Duplicate OSB create/delete requests"
I've noticed duplicate OSB requests for a single change in `ServiceInstance` in different scenarios:
- 5 deprovisioning requests reported [there](https://github.com/kubernetes-incubator/service-catalog/issues/1574#issuecomment-353273293)
- 2 create requests (logs from `ups-broker`):
[code]

By looking at the Service Catalog logs, it seems that there is an issue with picking up a stale object from

[2017-12-22 04:46] nilebox commented on #1639
This conflict is a "normal" situation for Kubernetes-style APIs with eventual consistency and idempotency, but it could be a problem for OSB brokers who don't necessarily guarantee the idempotence semantics.

[2017-12-22 04:54] nilebox commented on #1639
My guess is that the problem is that we pick up the events from the queue "too early" without giving enough time to receive the latest version of the instance we just updated processing a previous event:
1. `ServiceInstance` is created by the user: Event `e1`, object version `o1`.
2. Service Catalog picks up the event `e1` from the queue and starts processing it.
3. Service Catalog updates the sta

[2017-12-22 05:02] nilebox commented on #1639
The naive solution for this problem I see is to add an artificial delay in between processing events of a single `ServiceInstance` instance (and other resource types too).

We can use a `workqueue.DelayingInterface` instead of `workqueue.Interface` for that: https://github.com/kubernetes/client-go/blob/master/util/workqueue/delaying_queue.go#L32
and invoke `queue.AddAfter(key, <delay>)` instead of

[2017-12-22 06:04] nilebox commented on #1639
After changing the code to
[code]
(adding a delay of 3 seconds for adding `ServiceInstance` key to the queue), I cannot reproduce the issue anymore:
[code]
so it seems to work?

If we consider this a valid fix, I can send a PR to make this change in all our controller queues.

[2017-12-22 12:08] nilebox commented on #1639
The `MutationCache` (see [mutation_cache.go](https://github.com/kubernetes/client-go/blob/master/tools/cache/mutation_cache.go#L34)) interface could be another option to resolve this issue: every time we modify `ServiceInstance` we could update it in this cache, and it will be up-to-date by the time we start processing the next event from the queue. It's not widely used in the Kubernetes codebase,

[2017-12-22 20:51] MHBauer commented on #1625
From what I can see it's mostly due to `prependActions` being called after the controllers have been started. We can't modify what the controller is to return after we start it. Right now we're very aggressively tied to the internals of the reconcilliation loops as well as the watchiness of the controller interaction with the various clients.

[2017-12-22 20:53] staebler commented on #1639
This is a duplicate of #1363.
See #1213 for the introduction of this bug.

[2017-12-22 22:25] nilebox commented on #1639
@staebler I agree that the cause of the issue is the same, but it wasn't mentioned that this behavior leads to duplicate OSB requests. As I mentioned above, it's probably okay to have duplicate processing within Kubernetes world, but OSB spec doesn't guarantee idempotency so the provisioning/deprovisioning could break because of that.

[2017-12-22 23:52] mihnjong opened #1641 "Removed service class should not show up in service catalog"
I added a new service class "foo", and removed it in order to add it back with a new description.

The issue is the deleted service class still shows up in `kubectl get clusterserviceclasses` with "removedFromBrokerCatalog: true" status.

Other than display issue, it's annoying when I create an instance (or binding) via `externalName`.

Can somebody investigate why it's not GC'ed? And, how can we

[2017-12-24 17:28] orangedeng opened #1642 "Walkthrough document update"
refer to https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/walkthrough.md#step-1---installing-the-ups-broker-server

`helm install charts/ups-broker --name ups-broker --namespace ups-broker` should be
`helm install svc-cat/ups-broker --name ups-broker --namespace ups-broker`

[2017-12-24 17:54] staebler commented on #1639
@nilebox The OSB spec does guarantee idempotency. For example, if the same provision request is made again after the first one is successful, the spec states that the broker must respond with a 200 OK. That is why there has not been a greater push to resolve this issue in service catalog.

[2017-12-24 22:04] nilebox commented on #1639
@staebler OSB doesn't guarantee a deterministic behaviour on concurrent requests though. If Service Catalog issues a duplicate request while initial request is still in progress, it might lead to either 200 or 422, if I understand correctly. See https://github.com/openservicebrokerapi/servicebroker/blob/master/spec.md#blocking-operations

But I personally agree that brokers should be idempotent.

[2017-12-28 03:56] reachrkr opened #1643 "Sample/ Example service broker implementations?"
Hi All ,
Are there any K8s based sample/ example  OSB  broker implementation available  like the one available on cloud foundry using spring cloud

https://github.com/spring-cloud-samples/cloudfoundry-service-broker

Regards
Raj

[2017-12-28 04:15] nilebox commented on #1634
@pmorie have the features required to support in Service Catalog been implemented in `apimachinery` and `kubectl` already (default columns)?

[2017-12-28 17:04] jhiemer commented on #1376
Same here on a bigger K8S cluster.

[2018-01-02 16:30] MHBauer commented on #1625
I wish I had more carefully checked the PR that merged the new framework and tests. I'm not sure there's a way forward that's some small move. It's either a huge rewrite and shift, or back it out and go in another direction.

@staebler might have the solution with the Dynamic reactions, but I am very unconfortable with us modifying the state of the controllers after starting them.

[2018-01-02 20:19] staebler commented on #1625
I agree that the `setup` function should not be used to modify the state of the controllers. The `setup` function is used to modify the responses from the external resources to which the controllers make requests. The assumption is that, when the controller starts, there is nothing queued for the controllers until after the `setup` function is called. Consequently, the controllers have no work to

[2018-01-02 21:08] MHBauer commented on #1625
I disagree with `The assumption is that, when the controller starts, there is nothing queued for the controllers until after the setup function is called.`.

[2018-01-02 21:09] MHBauer commented on #1625
That breaks the 'push a bunch of yaml and let the system figure it out' idea.

[2018-01-02 21:21] staebler commented on #1625
I disagree with that. These are tests. The "yaml" isn't pushed until after the setup.

[2018-01-03 23:30] pmorie commented on #1634
@nilebox I believe there are several in-progress PRs.

@luksa can you link the remaining open PRs in other projects here?

[2018-01-04 01:38] pmorie commented on #1634
Here are the dependent PRs (not including PRs to our repo):

- https://github.com/kubernetes/kube-openapi/pull/25
- https://github.com/kubernetes/kubernetes/pull/56434
- https://github.com/kubernetes/kube-openapi/pull/22
- https://github.com/kubernetes/kube-openapi/pull/24

[2018-01-04 21:42] pmorie opened #1649 "Integration tests appear to hold tons of file descriptors open"
...eventually causing the process to crash on my personal machine.

Output:

<details>

[code]

</details>

[2018-01-04 21:44] MHBauer commented on #1649
I [see this too](https://github.com/kubernetes-incubator/service-catalog/pull/1633#issuecomment-353215689).

[2018-01-04 21:47] pmorie commented on #1649
It looks like the culprit is etd client connections.  Seems like etcd is not being shut down after each test case.

[2018-01-04 21:48] MHBauer commented on #1649
That's neat. Your `lsof` knows that port 2379 is `etcd-client`.

[2018-01-04 22:50] #1418 closed

[2018-01-04 23:04] n3wscott commented on #1649
when I run `make test-integration`, it runs and passes.

when I run `./test/integration.sh`, I can't because it is written assuming linux. I am on osx.

`./test/integration.sh: line 22: realpath: command not found`

[2018-01-04 23:16] MHBauer commented on #1649
We do not need that anymore with the builtin etcd.

[2018-01-05 00:03] n3wscott commented on #1649
The storage info object gets sent to genericapiserver.go, InstallAPIGroup. We need to look into if there is a bug where this class never calls the DestroyFunc for storage.

[2018-01-05 00:05] n3wscott commented on #1649
Also, I was mistaken, we use the same etcd server for all the integration tests. So what we have no is  the same as we had before, the main difference is that you don't need to have etcd installed locally to run the unit tests.

Note, the embedded etcd will cluster with a local etcd if given a chance. But that is not the issue we are seeing.

See these:

https://github.com/kubernetes/kubernetes/pu

[2018-01-05 01:00] #1058 closed

[2018-01-05 01:04] MHBauer commented on #1649
I want a server that cleanly shuts down. We should document what we find.

goroutines definietly going up per test case, youch.
[code]

[2018-01-05 01:48] MHBauer commented on #1649
Digging about more, I also see `k8s.io/apiserver/pkg/storage/etcd/testing`. Maybe we can reuse that in the future or it'll have a workaround.

[2018-01-05 17:02] #1376 closed

[2018-01-05 17:28] pmorie commented on #1649
This is still an issue and wasn't meant to be closed

[2018-01-05 17:46] pmorie commented on #1638
I don't see this being a big issue - it does seem limiting that you cannot create new events in a namespace that is terminating, because namespaces can be stuck in terminating for long periods of time and events are a useful tool to diagnose why the namespace might be stuck, but we're not going to sort that issue out here.

I don't see this as being a bug - and the controller doesn't check any err

[2018-01-05 19:22] #1625 closed

[2018-01-05 20:04] MHBauer commented on #1649
lol, the logic behind the scenes there. the word "fix" and then a link to the issue.

[2018-01-05 20:11] carolynvs commented on #1642
The walkthrough relies upon having cloned this repo and that the commands are executed from the root of the repo.

of this repository.

If the request is to make it so that someone can go through the entire walkthrough without cloning the repo, not only would that command need to be changed but also all the kubectl commands that specify a yaml file from the repo as well to use a github url instead

[2018-01-08 19:39] carolynvs commented on #1528
I am not able to reproduce this bug with the following steps, am I missing something key?

[code]

I did notice that it took much longer than expected for the binding to be ready after the instance was ready. I'm assuming because of backoff polling.

[2018-01-09 15:51] #1540 closed

[2018-01-09 18:30] pmorie opened #1660 "Travis build of master is erroring during the integration tests"
The travis build seems to be erroring during the integration tests.  Example build: https://travis-ci.org/kubernetes-incubator/service-catalog/builds/326871000

Details:

[code]

It's not clear whether the test in question is the culprit; I *believe* this may have started happening after #1637 was merged, but am not trying to point the finger.  In any event, we are running some subtests in paralle

[2018-01-09 21:06] MHBauer commented on #1649
If  kubernetes/apiserver#30 gets implemented we'd have to update/backport to it to get the functionality.

I think with the existing 1.9 release we might be able to do this etcd-watcher cleanup by implementing the destroy on the storage and using a `preshutdownhook` that calls destroy. It might be easier instead to directly rely on the stopch and some how pass it to destroy, or have the destroy ca

[2018-01-10 00:44] pmorie commented on #1660
I would like to get this fixed before we make any other merges in master that change code.

[2018-01-10 00:49] MHBauer commented on #1660
I'm hitting this in potential PRs that have a base on the commit before #1637. I think it's related to #1649, but I can't reliably reproduce. I think we're running up against ulimits and we need to solve that sooner rather than later, and do it upstream.

[2018-01-10 17:21] MHBauer commented on #789
@mdshuai if this is still a problem, please reopen.

[2018-01-10 17:21] #789 closed

[2018-01-10 17:32] #898 closed

[2018-01-10 17:33] MHBauer commented on #1125
closing as we went with #454 split.

[2018-01-10 17:33] #1125 closed

[2018-01-10 17:34] MHBauer commented on #1124
field selectors implemented. closing.

[2018-01-10 17:34] #1124 closed

[2018-01-10 17:47] MHBauer commented on #677
#1654 has instructions for metrics setup

apiserver should serve the default upstream apimachinery metrics.
#1608 should have controller metrics.

[2018-01-10 17:47] #677 closed

[2018-01-10 17:50] MHBauer commented on #763
@krancour @duglin is there anything specifically actionable here? Should we add this to a developer guide of some kind?

[2018-01-10 17:52] duglin commented on #763
Are there any helper functions we use that we own?

[2018-01-10 17:52] MHBauer commented on #601
closing as I don't remember the details or have a test case.

[2018-01-10 17:53] #601 closed

[2018-01-10 17:59] MHBauer commented on #1062
closed by #1289

[2018-01-10 17:59] MHBauer commented on #1065
closed by #1289

[2018-01-10 17:59] #1065 closed

[2018-01-10 18:08] MHBauer commented on #599
TPR storage is gone in #1322, and #1088 covers CRD implementation.

[2018-01-10 18:09] MHBauer commented on #1089
TPR storage is gone as of #1322.

[2018-01-10 18:09] #1089 closed

[2018-01-10 18:09] #599 closed

[2018-01-10 18:11] MHBauer commented on #987
With the above work items, do we still need this issue?

[2018-01-10 18:16] MHBauer commented on #809
@pmorie I think should be closed as the client is now provided by a dependency.

We are at 2.12 or 2.13 with 2.14 about to be released. We have feature gates to enable features, and that seems to be a comfortable position.

[2018-01-10 18:16] #809 closed

[2018-01-10 18:19] MHBauer commented on #800
[options summary document ](https://docs.google.com/document/d/1bAqjqQTo7F0off7Did1_XNbXEY_mHbPmeXDDSOuWkNA)

[configmap specific proposal document](https://docs.google.com/document/d/1pwC1VDbnsIJmgfoZIMc4yMmxSLS4QflBNhL89OmLJ-g)

configmap implementation in #1658

[2018-01-10 20:32] MHBauer commented on #1595
@staebler what do you run to see this? Any thoughts on #1633 and what it may do to resolve this?

[2018-01-10 20:38] MHBauer commented on #1617
@arschles the [bit at the end?](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/walkthrough.md#troubleshooting)

@mengqiy do you think there is still likely to be trouble with the firewall? I don't think we're expecting anyone to reach through directly to the APIServer.

I think I agree that this can be removed if this is to enable external access to the running APIServer

[2018-01-10 20:42] MHBauer commented on #1575
I'm gonna guess we need to add `"update"` to https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catalog/templates/rbac.yaml#L83

[2018-01-10 20:47] MHBauer commented on #1575
root cause is we need an e2e test in an RBAC enabled cluster with a test that updates a secret.

[2018-01-10 22:56] MHBauer commented on #685
resolved by #1570

[2018-01-10 22:56] #685 closed

[2018-01-10 23:00] MHBauer commented on #721
We have openapi code being generated. Openapi is behind a flag, but being served with #1612.

[2018-01-10 23:00] #721 closed

[2018-01-10 23:10] ash2k commented on #1062
I don't think this can be closed - #1289 only added `UpdateRequests` field to allow the user to manually trigger instance refresh. If I read it correctly, this issue is about service catalog doing it automatically without users manual actions.

p.s. FYI we are actually working on support for this in Smith. Smith deterministically calculates hash of `Secret`s an instance depends on and bumps `Updat

[2018-01-10 23:22] MHBauer commented on #635
Is the [install doc](https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/install.md) comprehensive enough? Do we want to have a table or something that says what is or is not necessary for running or starting?

[2018-01-10 23:30] MHBauer commented on #833
@duglin closing since that linked pr has been merged, and it is a page we point to within our repo.

[2018-01-10 23:30] #833 closed

[2018-01-11 17:26] #1193 closed

[2018-01-11 18:30] MHBauer commented on #1393
@n3wscott @vaikas-google anything specifically left to do here? Looks like a lot of work has gone in, especially the pretty printer and support for a lot of our objects.

[2018-01-11 18:36] MHBauer commented on #1358
@pmorie this looks like a reminder specific to you. Is there more context and some action to take? I looked back into the agenda for this time period and I couldn't find mention of fuzz.

[2018-01-11 20:23] n3wscott commented on #1393
I think we can close it.

[2018-01-11 22:01] arschles opened #1665 "Proposal: Switch to dep for dependency management"
[dep](https://github.com/golang/dep) is the "official experimental" dependency management tool for Go. I believe we should switch from using glide to vendor our dependencies to this tool.

From experience, the major benefit dep has over glide is that its usage is declarative. You run `dep ensure` and the tool does roughly the following:

- looks at your imports
- based on your imports, adds all th

[2018-01-11 22:07] carolynvs commented on #1665
I'd be happy to provide assistance on this one, or help answer dep questions.

Disclaimer: I am a maintainer for dep and am actively working on features to make dep better for kubernetes libraries. 😇

[2018-01-11 22:14] duglin commented on #1660
from Paul : https://docs.travis-ci.com/user/common-build-problems/#Troubleshooting-Locally-in-a-Docker-Image  might help us reproduce Travis's build/test env.

[2018-01-12 00:48] MHBauer commented on #1660
Neat, but I don't think it helps in our case, we have [`sudo:required`](https://github.com/kubernetes-incubator/service-catalog/blob/master/.travis.yml#L2)

[2018-01-12 00:54] pmorie commented on #1660
@MHBauer and I agree that it seems like we are on the edge of some kind of resource consumption limit in travis.

Yeah, I was just looking at https://docs.travis-ci.com/user/reference/overview/#Virtualization-environments and remembered that for some reason we require sudo.

We're running on the 'sudo-enabled GCE VM' flavor according to that link.  That gives us:

- Ubuntu 14.04
- 7.5G ram
- "~2"

[2018-01-12 00:56] pmorie opened #1667 "Consider removing the requirement to use sudo in travis build"
According to https://docs.travis-ci.com/user/reference/overview/#Virtualization-environments, the container based build environment boots in 1-6s compared to 20-50s for the GCE VM env we currently use in travis.  Might be worth thinking about.

[2018-01-12 01:00] pmorie commented on #1665
This seems to be where things are headed in the k8s community.  I have heard good things about dep's dependency pruning capabilities and have found adding dependencies or updating a subset of dependencies to be extremely painful with glide.  @carolynvs if you have the cycles, you're welcome to do this IMO

[2018-01-12 01:37] MHBauer commented on #1665
I want to see dep as soon as possible as widely as possible. It does seem like it will be the go official tool.

As long as I have the ability to check out and build, I am happy. I have not run anything glide related in quite a while.

@nilebox probably has done the most dependency probing and updating.

[2018-01-12 02:27] mengqiy commented on #1617
If we don't want to support talking to SC apiserver directly, we can remove that section.

[2018-01-12 16:56] MHBauer commented on #1660
I can see a run of the integration tests taking 50% of an 8G machine, but if I take a memory profile, it only has data for like 300M.

Not confident I am doing the right thing when taking a profile.

[code]

I miss valgrind.

[2018-01-12 17:07] MHBauer commented on #1660
@duglin since everything is running in docker inside travis, do you think that gets involved somehow? Is there anything in docker we might need to tweak?

[2018-01-12 18:09] MHBauer commented on #1660
The only argument I can make against it being FD exhaustion is, if I turn `ulimit -n` way down, I get crashes, not hangs.

[2018-01-12 18:15] MHBauer commented on #1660
Also, in the travis logs, I don't see the error message I would expect to see
[code]

[2018-01-12 18:19] MHBauer commented on #1660
well, with a ulimit of 1048576, I would literally never expect to see those messages on our docker image...

[2018-01-12 18:42] pmorie commented on #1660
Yeah, you will get a very unambiguous crash if you run out of FDs

On Fri, Jan 12, 2018 at 1:37 PM Morgan Bauer <notifications@github.com>
wrote:

[2018-01-12 20:02] carolynvs commented on #1665
Sweet! I'll work on this next week.

[2018-01-12 22:58] kibbles-n-bytes commented on #1562
Talked with @n3wscott offline; seems like this was only resolved for the deprovision case but not the unbind one. Reopened.

[2018-01-18 03:04] jeffchanjunwei commented on #1445
hi @dasher , where is the  svc-cat-apiserver-aggregation-tls-setup.sh file you mentioned. I also have the same problem with the error error
"_**running controllers: failed to get supported resources from server: unable to retrieve the complete list of server APIs: servicecatalog.k8s.io/v1beta1: an error on the server ("Error: 'x509: certificate has expired or is not yet valid'\nTrying to reach: 'h

[2018-01-18 04:28] #1610 closed

[2018-01-18 19:11] #1630 closed

[2018-01-18 20:02] MHBauer commented on #1610
Yea baby!

[2018-01-19 00:18] MHBauer commented on #1649
more data for runs

[2018-01-19 18:34] #1575 closed

[2018-01-19 19:45] kibbles-n-bytes commented on #1667
Word of warning: in the past I had a lot of trouble getting Docker-in-Docker tests working for Jenkins, and eventually gave up in favor of a VM-based architecture.

[2018-01-19 21:29] kibbles-n-bytes commented on #1423
The addition of `UnbindStatus` now lets us delete bindings that never communicated with the broker. I believe this solves this issue.

[2018-01-19 21:29] #1423 closed

[2018-01-19 21:34] kibbles-n-bytes opened #1672 "We should retry Provisioning/Binding when the user corrects the spec"
For example, if a user makes a mistake in their instance spec and the provision fails, often they assume they can edit the resource to fix the mistake and the provision will retry. It's a painful flow to have to delete the resource, make the correction, and recreate the resource. We should make things as easy as possible for the user and let them correct their provision mistake within the same res

[2018-01-20 16:51] cgmcintyr opened #1673 "Travis runs for documentation-only changes"
I noticed Travis was running the full `make verify build build-e2e test images` when I made a change to the `docs/walkthrough.md` on a forked version of the service-catalog.

Facebook's react repository had this issue https://github.com/facebook/react/issues/1768, which was fixed by the following PR https://github.com/facebook/react/pull/2000.

The `before_install` bash script from that PR could b

[2018-01-22 15:18] codevulture commented on #1643
This might be of reference: https://github.com/kubernetes-incubator/service-catalog/blob/master/docs/walkthrough.md , Please check.

[2018-01-22 15:38] maleck13 commented on #1643
This may be useful to you https://github.com/openshift/ansible-service-broker

[2018-01-22 17:55] kibbles-n-bytes opened #1675 "Investigate whether integration test rebuild will reuse cache with `-i`"
As discussed [here](https://github.com/kubernetes-incubator/service-catalog/pull/1666#discussion_r161266152).

[2018-01-22 19:08] kibbles-n-bytes opened #1676 "svcat fails when used with Google Cloud cluster: No Auth Provider for name "gcp""
Looks like the auth plugins for the Go K8S client aren't initialized, so it doesn't know how to communicate with a GKE cluster. For the e2e binary, I remember having to add `import _ "k8s.io/client-go/plugin/pkg/client/auth"`, and that fixed things. However, it looks like Service Catalog doesn't "import _" anything similar; does anyone know how it successfully sets up the auth?

[2018-01-22 19:56] jboyd01 opened #1677 "Determine where to host Service Catalog documentation"
From November Service Catalog F2F, we discussed documentation (fixing existing doc and authoring a slew of new doc).  Ville took an action item to determine where we would host this.

f2f meeting minutes:
 https://docs.google.com/document/d/1j6dTOC4avpNCYSbF2MnDHWvFIuN0DIicf1F4vRC1CiM

[2018-01-22 20:03] jboyd01 opened #1678 "Create new Documentation"
In the November 2017 F2F we identified a need for augmenting the Service Catalog documentation.  This item tracks the work we identified.

November Service Catalog F2F meeting minutes:
https://docs.google.com/document/d/1j6dTOC4avpNCYSbF2MnDHWvFIuN0DIicf1F4vRC1CiM

We need people to produce docs. Even if just in small chunks.

What kind of docs do we want to see?
- Kube concepts
- Why “reconcile”

[2018-01-22 20:08] jboyd01 opened #1679 "Get doc writer support for 0.2.0 documentation"
In the November 2017 F2F we agreed everyone should request doc writers from their company to help work on refining and authoring Service Catalog documentation.

November Service Catalog F2F meeting minutes:
https://docs.google.com/document/d/1j6dTOC4avpNCYSbF2MnDHWvFIuN0DIicf1F4vRC1CiM

[2018-01-22 20:15] carolynvs commented on #1676
I think we need to add this? `_ "k8s.io/client-go/plugin/pkg/client/auth"` or maybe gcp explicitly `_ "k8s.io/client-go/plugin/pkg/client/auth/gcp"`

https://github.com/kubernetes/client-go/issues/242#issuecomment-314642965

[2018-01-22 20:16] carolynvs commented on #1676
To clarify is this a problem with just the cli (svcat), or an issue with the api server?

[2018-01-22 20:42] kibbles-n-bytes commented on #1676
@carolynvs Yeah, adding that should fix things, though I'm curious how Service Catalog core gets around it, as I couldn't find a similar import statement.

This is just an issue with the svcat CLI.

[2018-01-22 20:52] jboyd01 opened #1680 "Update developer doc around code health"
Update CONTRIBUTING.md, DESIGN.md, code-standards.md as seen fit to address code health

This item came from the November Service Catalog F2F meeting minutes:
https://docs.google.com/document/d/1j6dTOC4avpNCYSbF2MnDHWvFIuN0DIicf1F4vRC1CiM

[2018-01-22 20:56] jboyd01 commented on #1200
I've started a proposal on this, hope to have it for review Jan 29th 2018.

[2018-01-22 21:21] #1303 closed

[2018-01-22 21:23] carolynvs commented on #1286
I'd like to work on this if it isn't already taken.

[2018-01-22 21:32] arschles commented on #948
This is now obsolete, as described by https://github.com/kubernetes-incubator/service-catalog/issues/948#issuecomment-309920270 and that auth is optional. Closing

[2018-01-22 21:32] #948 closed

[2018-01-22 21:36] arschles commented on #908
Changing title to discuss only the force flag, since the deletion behavior is fixed now

[2018-01-22 21:36] arschles commented on #925
This has been done across our test suite in a variety of PRs, closing

[2018-01-22 21:36] #925 closed

[2018-01-22 21:39] jboyd01 commented on #499
per Paul, this is done automatically for us.

[2018-01-22 21:39] #499 closed

[2018-01-22 21:40] kibbles-n-bytes commented on #952
CI has been put behind the aggregator, so I believe we can close this.

[2018-01-22 21:40] #952 closed

[2018-01-22 21:52] pmorie commented on #1676
The catalog itself uses an in-cluster config to talk to other k8s
components - i suspect that is why this is limited to the CLI.

On Mon, Jan 22, 2018 at 3:42 PM, Michael Kibbe <notifications@github.com>
wrote:

[2018-01-22 22:01] krancour commented on #389
I don't believe there is any issue of consequence remaining here.

With API aggregation, only the core k8s apiserver speaks to the svc cat apiserver. It does so using s hostname that is resolved via the k8s dns addon _that has also been added as an alternate name on the svc cat apiserver's serving certificate._

Ref:

https://github.com/kubernetes-incubator/service-catalog/blob/master/charts/catal

[2018-01-22 22:10] carolynvs opened #1681 "Publish svcat binaries during CI"
This is a follow-on from #1664.

- Set the version and commit fields in ./cmd/svcat during a build using LDFLAGS. We may need to discuss if we want to use the same tags for both svcat and the rest of the repo, otherwise people will definitely run into version bumps caused by svcat where no changes were made in say apiserver which could be confusing. One option is to make a new tag, like `svcat-1.0